[2018-02-12 02:35] bhousel commented on #4787
@hikemaniac you probably already know this already but - in the mean time until decide on the appropriate fix, you can just move your node here, and then move the other nodes wherever you want to.

Yes avoiding self intersections is an extra step, but I don't think the current checks really prevent you from doing what you are trying to do...

<img width="526" alt="screenshot 2018-02-11 21 28 03" s

[2018-02-12 03:27] #4761 closed

[2018-02-12 03:30] bhousel commented on #4761
I made some improvements in 013253e:

This improves the usability of all the comboboxes, but it especially works great when a combobox appears over other rows of fields (e.g. raw tag editor).

1. shrink size on left/right to provide more separation from content beneath
2. adjust box shadow for slightly more visibility
3. shrink size of first combobox row by one pixel, so that the combobox options

[2018-02-12 11:53] hikemaniac commented on #4787
Yep, I already did this and successfully uploaded my changeset 😊 but I think that the self-intersection checks complicate mapping in such cases.
By the way (as already reported in #4731) the performance when drawing large areas and lines becomes really bad at some point and this even crashed my browser once. So I believe that @manfredbrandl's idea would really help a lot.

[2018-02-12 12:48] jidanni opened #4789 "Add "Restore Defaults" button to the four sliders in Background Settings > Display Options"
In Background Settings > Display Options there are four sliders.

Each needs a "Restore Default" button.
And / or also a single button to restore all four's defaults.

And no, the user does not know what percentage is each's default.

[2018-02-12 12:53] manfredbrandl commented on #4787
#4776 (comment)

I appreciate warning icons on the map, they point you to the exact position of the problem and adds another usefull feature with and without the new field right to the Save button.

[2018-02-12 13:10] jidanni opened #4790 "Make entire line of Background Settings layers clickable"
In Background Settings each layer is
[code]
I.e., a radio button, along with a name.

Well it takes a lot of work to aim the mouse right on top of and click the radio button. So why not make the entire line clickable?

[2018-02-12 14:05] bhousel commented on #4790
Yes, the whole line is supposed to be clickable - what browser are you using?

I see this in Chrome 64:
![background_radios](https://user-images.githubusercontent.com/38784/36100332-e2f04114-0fd3-11e8-8008-16b1d38614b3.gif)

[2018-02-12 14:11] bhousel commented on #4789
Each slider does have a reset button, and the buttons have "reset" as the hover text..
Maybe in this case an actual link with the word "reset" would be better?  This part of the UI isn't really constrained by space, so a link would be ok.

![background_control_reset](https://user-images.githubusercontent.com/38784/36100447-4c0462fc-0fd4-11e8-9005-cc503fa84f5c.gif)

[2018-02-12 14:33] jidanni opened #4791 "iD is just saving the words "data file", not the trace number"
Please see https://github.com/openstreetmap/openstreetmap-website/issues/1744 .

[2018-02-12 14:43] jidanni commented on #4790
Oh I see.
It just looks like the legacy pure radio button experience.

[2018-02-12 14:43] #4790 closed

[2018-02-12 14:50] jidanni commented on #4789
Ah, you are right again. I must never noticed those curved arrows.
OK. But there are still problems.
![gg](https://user-images.githubusercontent.com/1230959/36102233-b7222584-1046-11e8-903c-a116f904ef6f.jpg)
Here we observe Grandpa has increased the zoom. Causing in this view
1. Not sure if each curved arrow controls the item above, or below.
1. Slider bars slide underneath other elements.

[2018-02-12 15:10] bhousel commented on #4791
Yes, we removed the file name over privacy concerns raised in  #4530
Let's leave as-is, since some people are wary about having their trace details tied to their editing history.

[2018-02-12 15:10] #4791 closed

[2018-02-12 15:14] jidanni opened #4792 "Implement showing all GPS traces ever made in this area"
Wishlist item: Implement
https://wiki.openstreetmap.org/wiki/JOSM/Guide#Download_other_people.27s_traces
in iD.
The idea would be the user would click a menu item "see all GPS traces ever made through this area"
and the screen would then be full of all the purple GPS traces, and he could choose the majority path through them to plot out the trail he wishes to add.

Maybe there should be some check

[2018-02-12 15:35] bhousel commented on #4792
Ah yeah, this is #2450
The OSM API doesn't actually provide a "get all GPX traces in a given bounding box" call, (like e.g. Mapillary/OpenStreetCam) which would make this a lot more doable without hacks / slowness.

I've also kind of considered this a less interesting thing to implement, hoping that we might get permission to use the Strava Heatmap instead (stuff moving on https://github.com/osmla

[2018-02-12 15:35] #4792 closed

[2018-02-12 15:36] jidanni commented on #4385
I will tell GitHub, that when a
"This was referenced on Nov 11, 2017" is added to a bug,
they really should notify all people subscribed.

[2018-02-12 15:44] jidanni commented on #4530
Allow us to recall that there are **four** levels of
https://wiki.openstreetmap.org/wiki/Visibility_of_GPS_traces .
So some consideration of at least the people choosing **Identifiable** should be made...

[2018-02-12 15:46] billtheblindlion commented on #4780
Commenting on #4780, I am in favor of having ID-indoor as part of the ID editor.  I believe indoor mapping will be an important item for OSM in the future.  I especially like the web based editors because all of the accessibility features work with the browser], which is not necessarily true for other types of editors.  Accessibility features let people who are partially sighted use the web based

[2018-02-12 16:34] bhousel commented on #4787
One idea: we put them at the top next to save, and also on screen
<img width="931" alt="screenshot 2018-02-12 11 17 42" src="https://user-images.githubusercontent.com/38784/36107452-1799f7ac-0fe8-11e8-81e1-02b57ef20658.png">

Another idea _(I like this better)_
Add a panel on the side, maybe w/badge showing the number of warnings.. Users can click on the list to see and take them to the thing to f

[2018-02-12 16:36] bhousel commented on #4776
This comment applies here too
https://github.com/openstreetmap/iD/issues/4787#issuecomment-364979903

[2018-02-12 18:53] JamesKingdom opened #4793 "Change API limit text"
https://github.com/openstreetmap/iD/blob/master/API.md states that `The OpenStreetMap API has a limitation of 50000 nodes per request.`, but it has been changed to 10k for a while, #3810

[2018-02-12 19:34] bhousel commented on #4793
@JamesKingdom can you revert this change?

There are 2 different limits:
- max changes per changeset, which has been reduced to 10k (#3810)
- max notes requested per /map call which still stands at 50k nodes ([see here](https://wiki.openstreetmap.org/wiki/API_v0.6#Error_codes_2))

[2018-02-12 19:55] JamesKingdom commented on #4793
Ah, sorry for my mistake.
I reverted this in 73f78c3622b949270758306c88910214aeb41d37

[2018-02-12 19:55] #4793 closed

[2018-02-12 20:15] mmd-osm commented on #4793
The limit is really enforced on the level of a changeset, i.e. when uploading multiple changes for the same changeset, the remaining number of objects could be much smaller. I know this doesn’t affect iD, as the changeset gets closed right away.

[2018-02-13 02:09] slhh commented on #4787
You can override the intersection check by holding the Alt key down. Its fair to require this because a new error is at least temporarily introduced. Maybe, we can show a hint to use the Alt modifier, e.g. where the shortcut errors are displayed, when placing of the node is disabled due to an intersection.

In addition dragging of a node doesn't seem to be the right tool for the usecase. We should

[2018-02-13 03:20] manfredbrandl commented on #4787
That's really better. @bhousel do you plan to have the same UI for resolving warnings from the panel on the side and from the Save button? I think that would make the UI simpler.

[2018-02-13 03:35] bhousel commented on #4787
Yeah, I hadn't actually thought it through very much, and I just threw those screenshots together pretty quickly.  I don't know what I'm doing 😄   I initially thought a button at the top, then the idea changed to another pane on the side, which opens up a lot more options to explain / navigate to / filter the warnings.

[2018-02-13 14:11] boothym commented on #4108
Had this occur again. I was panning the map and noticed the landuse jump a bit so thought I might get the error - made some more changes and sure enough, the save button disappeared.

I did the same as before, undoing then redoing my changes. But when I got the Error: entity n<node> not found, I found that node in another tab, then panned to that location in iD. I was able continue redoing, and ev

[2018-02-13 17:38] hikemaniac opened #4794 "Faulty change XML's produced when exporting"
I recently made a large changeset with iD, but because of performance issues I then exported the OSM change XML. Later I uploaded my changeset with iD and everything worked fine. But when I compared it to the formerly exported file using JOSM the result was the following:
![faulty xml](https://user-images.githubusercontent.com/31667811/36164162-d28b44ae-10eb-11e8-9af6-4c2563d29371.png)
Most of the

[2018-02-13 17:58] bhousel commented on #4794
I've never actually tried this feature, but if you still have the file maybe somebody can take a look at what might be wrong with it?

[2018-02-13 18:08] hikemaniac commented on #4794
Sure! Here it is:
https://gist.github.com/hikemaniac/36428a2e044d89168ffb5b79bb38a2e2

Sorry, but it's formated to be only one line. 😥

[2018-02-13 18:28] 1ec5 commented on #4127
I was recently asked about the pharmacy/drugstore situation, so here’s an update to the statistics. Overall, I’m seeing some signs of pushback against the drugstore-as-`chemist` tagging scheme, with `amenity=pharmacy` being added to a number of POIs that were formerly just `shop=chemist`. It could be that mappers see the toothbrush-and-toothpaste icon in the Standard renderer but expect to see a p

[2018-02-14 00:27] bhousel opened #4795 "Handle geojson file with `null` properties"
Sometimes a .geojson file might have `null` in the "properties", and iD should handle this better.   Currently it gets very confused looking for a `name`/`description` property to display.

![screen shot 2018-02-13 at 7 12 31 pm](https://user-images.githubusercontent.com/38784/36181563-545157ba-10f3-11e8-9c0a-41911abe014f.png)

Bad code is here:
https://github.com/openstreetmap/iD/blob/73f78c3622b

[2018-02-14 02:56] jidanni opened #4796 "Prezoom properly when coming from 'edit a trace'"
1. Visit e.g., https://www.openstreetmap.org/user/jidanni/traces/2547559
2. Click [edit](https://www.openstreetmap.org/edit?gpx=2547559#map=14/24.1818/120.864)

Observe that we need to now at least click two more "+" zooms to really
get to comfortable editing range.

A simple rule would be have the page prezoomed so that the entire track
just fits the page.

You might say of "(map/edit)" the two c

[2018-02-14 11:36] baditaflorin opened #4797 "Support adding select through URL parameter"
Similar to JOSM's select Remote Control parameters.

Use case would be for example enabling MapRoulette to select the specific way feature based on the Task. This could assist human-driven validation, so they spend more time fixing errors, instead of wasting time to find the specific object, after it is loaded into the ID editor.

--
https://josm.openstreetmap.de/wiki/Help/RemoteControlCommand

In

[2018-02-14 17:27] mmd-osm commented on #4794
.osc files are really not meant for visualization purposes, as they depend on information which is only available on the OSM database. Take a look at the new way "-3", which references already existing nodes on the database, like 2533420692, 4769801695, etc. The actual lat/lon information for those existing nodes is not included in the .osc file.

`<way id="-3" version="0"><nd ref="4769801711"/><n

[2018-02-14 18:57] bhousel commented on #4794
Thanks for digging into this @mmd-osm  - it makes sense now.  I'll close this since it is working as expected.

[2018-02-14 18:57] #4794 closed

[2018-02-14 18:58] bhousel commented on #4797
Thanks!  yes this is #3645

[2018-02-14 18:58] #4797 closed

[2018-02-14 19:00] bhousel commented on #4796
Thanks for reporting, I will look into why iD doesn't zoom into this trace.

[2018-02-14 19:05] jidanni opened #4798 "'Edit custom background' should have pencil icon, not magnifying glass"
![gm](https://user-images.githubusercontent.com/1230959/36222628-e309cafa-11fc-11e8-9a3b-c78b22bc137b.jpg)
'Edit custom background' should have pencil icon, not magnifying glass.

[2018-02-14 19:09] bhousel commented on #4127
@1ec5 We never changed `name-suggestion-index` though, so all of those chains are still being added as `amenity=pharmacy`.

[2018-02-14 19:09] bhousel commented on #4798
Haha yeah this has always bothered me too..

[2018-02-14 19:12] jidanni opened #4799 "Allow more than one Custom Background choice"
Allow the user to have more than one custom background choice.

I'n not saying display both at the same time (at least not yet!),

I'm just saying he would like
[code]
radio buttons to choose from.

That way he wouldn't need to "rip up" his Custom Background just to try another for a few minutes.

Also allow more than two.

Also allow custom titles, not just Custom Background 1, 2...

[2018-02-14 19:21] jidanni opened #4800 "Custom Background: always only a northwest tile"
On https://gist.github.com/typebrook/a61ccca5b3d46f36784c120bf30c4236 I
read about
http://www.historygis.udd.gov.taipei/arcgis/rest/services/Urban/DEM_2014/MapServer/WMTS/tile/1.0.0//Urban_DEM_2014/default/GoogleMapsCompatible/{zoom}{y}/{x}.png
but when I use it as a Custom Background, all I see is the northwest tile.

No matter where I move the map, there is only a northwest tile.

[2018-02-14 19:22] jidanni commented on #4800
https://www.openstreetmap.org/edit#map=16/24.1772/120.8831

[2018-02-14 19:33] jidanni opened #4801 "Deprecated include of L.Mixin.Events"
Checking the Chromium Console I see:
Deprecated include of L.Mixin.Events: this property will be removed in future releases, please inherit from L.Evented instead. Error
    at b (https://www.openstreetmap.org/assets/application-f2e7e19….js:4:22889)
    at Function.f.extend (https://www.openstreetmap.org/assets/application-f2e7e19….js:5:3394)
    at https://www.openstreetmap.org/assets/application

[2018-02-14 19:36] bhousel commented on #4801
That's a warning about the Leaflet that they use on openstreetmap.org, not something in iD.

[2018-02-14 19:36] #4801 closed

[2018-02-14 19:41] bhousel commented on #4799
Yes I agree - adding and managing more custom backgrounds is #2095

[2018-02-14 19:41] #4799 closed

[2018-02-14 19:46] hikemaniac commented on #4794
What you say makes sense. I will try to verify the correctness of the XML with one of my next changesets. Thanks for investigating! 😊

[2018-02-14 19:49] jidanni commented on #4801
https://github.com/Leaflet/Leaflet.draw/issues/775

[2018-02-14 19:50] mmd-osm commented on #4794
BTW: josm complains about many missing nodes when opening your osc file. Keep an eye on the console output next time.

[2018-02-14 19:58] bhousel commented on #4800
Ah yeah, that gist has it wrong.

It should be http://www.historygis.udd.gov.taipei/arcgis/rest/services/Urban/DEM_2014/MapServer/WMTS/tile/1.0.0/Urban_DEM_2014/default/GoogleMapsCompatible/{zoom}/{y}/{x}.png

I figured this out by looking up the server here:
http://www.historygis.udd.gov.taipei/arcgis/rest/services/Urban/DEM_2014/MapServer

Then clicking WMTS to get the actual capabilities and lo

[2018-02-14 19:58] #4800 closed

[2018-02-14 20:14] jidanni opened #4802 "Allow seeing the whole Custom Background URL one is entering"
Allow seeing the whole Custom Background URL one is entering, like JOSM.
JOSM has an entire huge box, but iD has just this tiny textbox which is never enough.
![gm](https://user-images.githubusercontent.com/1230959/36225661-5c5ae73c-1206-11e8-8fa8-7ad815c7d863.jpg)
One needs to see the whole thing one entered, so one can be totally sure. Even if one can poke around the various parts.
Never mind my

[2018-02-14 20:19] jidanni commented on #4800
Well I am having even less luck with your URL than mine.

Therefore please give me a link
[code]
where I can 'prove' that your URL works.
I have had too many accidents pasting into the tiny box.

[2018-02-14 20:23] bhousel commented on #4800
https://www.openstreetmap.org/edit#map=11/25.0901/121.6112&background=custom:http://www.historygis.udd.gov.taipei/arcgis/rest/services/Urban/DEM_2014/MapServer/WMTS/tile/1.0.0/Urban_DEM_2014/default/GoogleMapsCompatible/{zoom}/{y}/{x}.png

[2018-02-14 20:24] bhousel commented on #4802
What does it look like in JOSM?

[2018-02-14 20:38] jidanni commented on #4802
https://josm.openstreetmap.de/wiki/Help/Preferences/Imagery

[2018-02-14 20:53] bhousel commented on #4802
If we change this, we'd need to replace this `window.prompt` call with a new modal dialog box that can show a textfield.   ([`window.prompt`](https://developer.mozilla.org/en-US/docs/Web/API/Window/prompt) can only do one line, and we don't have any options to customize it)

https://github.com/openstreetmap/iD/blob/73f78c3622b949270758306c88910214aeb41d37/modules/ui/background.js#L106-L109

[2018-02-15 07:09] manfredbrandl commented on #4802
If it is possible I would like iD to remember the custom URL templates for me.

[2018-02-15 07:11] manfredbrandl commented on #4798
"Edit custom background URL template" would be better, because you cannot edit the custom  background with iD.

[2018-02-15 08:42] 1ec5 commented on #4127
Right, I think that accounts for `shop=chemist` not being used all that much – the relatively few occurrences would be due to people manually naming a POI after classifying it. However, I do find it interesting that, unless my queries are erroneous, the number of pure `shop=chemist`s has been going down and the number of POIs dually tagged as `shop=chemist` and `amenity=pharmacy` has been going up

[2018-02-15 11:33] SelfishSeahorse opened #4804 "Mapillary photo overlay can't get disabled"
Hello

After enabling Mapillary photo overlay and later disabling them, the overlay doesn't disappear:

![untitled](https://user-images.githubusercontent.com/14875493/36251840-eabac1f0-1242-11e8-8f70-ef1984c35346.gif)

There is no problem with OpenStreetCam overlay, though.

As this misbehaviour is new, I suspect it has been introduced with the last update of iD.

Browser used: Safari 11.0.3 on ma

[2018-02-15 12:59] typebrook commented on #4800
@jidanni
Fixed gist, looks like I made some wrong when copy/pasting. (Since image is available, means link string in markdown is correct)
Thanks for your remind! Also, if you know any tiles useful in Taiwan, please feel free to add comment in the gist!

[2018-02-15 13:33] bhousel commented on #4795
This was done - thanks @vershwal 🙇

[2018-02-15 13:33] #4795 closed

[2018-02-15 14:12] jidanni opened #4806 "Replace alert box with modal ui"
Allow copying the example (switch...) in
![1](https://user-images.githubusercontent.com/1230959/36260649-0450b1ba-129d-11e8-9614-d3c2d74e1e6c.jpg)
in fact allow copying the whole thing.
As it is currently, the user can't even do Inspect Element on it.

[2018-02-15 14:20] bhousel commented on #4806
All the normal window stuff like select/copy/paste works fine here for me (in chrome 64)... What else have you tried?   Are you sure this is a real issue?

![copy alert text](https://user-images.githubusercontent.com/38784/36260978-ea2cbd90-1230-11e8-9831-62212da32a0a.gif)

[2018-02-15 14:24] jidanni opened #4807 "Shouldn't some error message tiles be shown upon error, instead of just black?"
Let's say some tile server is sending HTTP 500 or 404 messages.
Or let's say for the Custom Background the user entered
http://{switch:a|b|c}.tile.opentopomap.org/{z}/{x}/{y}.png instead of
http://{switch:a,b,c}.tile.opentopomap.org/{z}/{x}/{y}.png
and thus no tiles are forthcoming.
Well shouldn't some 'error message tiles' be shown instead of just black?

[2018-02-15 14:41] jidanni commented on #4806
I can do like you in Firefox.
I can copy the text mentioned in
https://bugs.chromium.org/p/chromium/issues/detail?id=5879

But, with

Package: chromium
Version: 64.0.3282.119-2
Kernel: Linux 4.14.0-3-amd64 (SMP w/2 CPU cores)

the pointer remains an arrow over the entire box.
There is no right context menu.

[2018-02-15 15:15] bhousel commented on #4807
maybe

[2018-02-15 15:19] bhousel commented on #4806
It sounds like a browser bug outside of our control.

If we swap out the `window.prompt` for a custom modal, as described here, https://github.com/openstreetmap/iD/issues/4802#issuecomment-365741541 then we wouldn't be relying on the browser behavior and this issue would go away.

[2018-02-15 15:38] jidanni commented on #4806
OK submitted https://bugs.chromium.org/p/chromium/issues/detail?id=812644

[2018-02-16 10:48] fritruc commented on #4804
I found out that this bug was introduced in commit https://github.com/openstreetmap/iD/commit/f54d201eb2dd8e41c083fe0ebe7d67c44d95d236
If I comment the 4 lines of this commit in master, the bug disapears.
Nonetheless, I don't know how to fix it yet =)

[2018-02-16 14:07] #4804 closed

[2018-02-16 17:27] lujo777 opened #4811 "Incorrect displaying of map after changing"
I've changed my community in iD. So, it was changes since 15.02.2018 16:00
So, when I open OSM (*not editor*) first time (today) I didn't see any changes, but I saw, in different scales you can see changes, but incorrectly.

1st screenshot - Map in editor
![ashampoo_snap_2018 02 16_20h06m06s_001_](https://user-images.githubusercontent.com/34795882/36320569-b39db5a4-1357-11e8-867a-06b4b0ca1d4b.png)

[2018-02-16 17:35] bhousel commented on #4811
Hi @lujo777 - first, thank you for your edits!

What you're seeing is expected.  The rendered map on openstreetmap.org might not display the latest edits right away.  It takes some time (usually a few minutes) to update, and this will happen differently at different zoom levels.

The data that you see in the iD editor is the raw OSM data that is current as you navigate around the map.

https://wik

[2018-02-16 17:35] #4811 closed

[2018-02-16 17:47] lujo777 commented on #4811
So, when we can see full changes?

[2018-02-16 17:59] bhousel commented on #4811
I don't know - it's not related to this project.

The FAQ I linked to has some info, and that contains links to some longer explanations:
https://wiki.openstreetmap.org/wiki/FAQ#I_have_just_made_some_changes_to_the_map._How_do_I_get_to_see_my_changes.3F

[2018-02-17 05:31] jidanni opened #4812 "support {header()} in Custom Background URLs"
Please see https://help.openstreetmap.org/answer_link/55381/ .

[2018-02-17 05:37] jidanni commented on #4812
Also

So iD, instead of sending such {header()} etc. unknown elements  down the pipe, still hanging on to the back of the URL, should at least strip them...

[2018-02-17 11:46] bhousel commented on #4812
Unfortunately that's not really possible to adjust the referrer header from within a web application.  The browser sets it for us and we can't change it.  Sorry!

This also came up for discussion on #3420

[2018-02-17 11:46] #4812 closed

[2018-02-17 12:02] jidanni commented on #4812
OK, but it "behooves" you to throw an error:
[code]

[2018-02-17 12:05] bhousel commented on #4812
Isn't raising errors about custom imagery covered in one of the other half dozen issues you just opened?

[2018-02-17 12:13] jidanni commented on #4812
I don't see any for "catch unsupported URL template directives (that
should never be sent raw)'

[2018-02-17 15:15] jidanni opened #4813 "Don't let unknown WMS URL template directives sail through"
In #4812 we discussed what happens when the user uses an unknown WMS
URL template directive.

Let's take this example

[code]

OK, we can't deal with the {Header} directive.

Shall we strip it, and send just

[code]

No. That will let Larry know! Disaster.
The user will hunt you down for this.

Shall we do as we do now, and just let it sail through,
[code]

No. We not only let Larry know, we let h

[2018-02-17 16:10] bhousel commented on #4813
Sorry but I'm not going to validate every possible problem with a user typing in bad custom imagery template strings, or messing up pasting them.  We have a lot of other more important things to focus on in iD that have a larger impact on improving the editing experience.

The usecase is not "Larry typing random things into the box to try to figure out how it works".    It's someone who actually r

[2018-02-17 16:10] #4813 closed

[2018-02-17 23:47] jidanni commented on #4813
I'm just saying if you get a {xyz} you can't convert, fail instead of
passing it through raw, which could never be correct.

If they really wanted to pass it through raw, there is a different
syntax for that, %7Bxyz%7D etc.

[2018-02-18 00:42] naoliv commented on #4722
Is it possible to restrict this to some countries only? (or maybe remove from some specific countries)
While there are some schools affiliated/related with a religion or religiouns organization in Brazil, they are the minority, for example.

[2018-02-18 00:44] RicoElectrico opened #4815 "Make better use of post-upload dialog"
Currently there is a ton of white space in this dialog.

It could be used for linking to local community medium of contact (whatever has largest activity - OSM forum sub-board, FB group (like in Japan), external forum (for France)).

Country detection could be done either by some GeoJSON (like currently for driving direction) or reverse coding in Nominatim (which returns country code).

Other gene

[2018-02-18 01:00] willemarcel opened #4816 "Add phone and website fields to more presets"
`phone` and `website` are two of the most important information to someone that is searching for a place or using a map app, but they are not a default field in a large number of presets. I think all shops / education / food related presets should have it as default to stimulate people and make it faster to add phones and website values. I can do this job if you agree.

[2018-02-18 01:10] willemarcel commented on #4722
Although in some countries the number of schools affiliated with a religion is really relevant, I think the default fields of a preset should be the ones that are more generic and apply for almost all cases. In my opinion, `denomination` and `religion` are not a must have field, so I would suggest it to be optional.

[2018-02-18 01:41] slhh commented on #2272
Preferably, the UI should specify where and in which direction to start redrawing, but a selection of multiple elements doesn't seem to be able to do so. At least the user needs to know the drawing direction to place the correct new vertex first.
We might restrict default drawing direction to positive way direction, and maybe offer a key to toggle direction. If we do so, the selection for the oper

[2018-02-18 01:46] slhh opened #4817 "Node dragging enhancement"
1. Esc should cancel dragging.
2. A bounce back of a failed midpoint drag should also undo adding the vertex.
3. Disconnecting drag of vertex:
When Shift is pressed, dragging a vertex of a selected way should disconnect it from the non-selected ways or a tagged node.
This would address #4320,  #2206, partially #1239, and likely the main usecase of #4245.
When a relation is broken, a on map warning

[2018-02-18 02:29] 1ec5 commented on #4722
Sure, I originally proposed that they be optional fields up above. I think that’s reasonable because government or unaffiliated schools are common enough even in countries where religiously affiliated schools are the norm.

[2018-02-18 07:34] manfredbrandl commented on #4815
It could be used for linking to local community medium of contact (whatever has largest activity - OSM forum sub-board, FB group (like in Japan), external forum (for France)).

I agree. @RicoElectrico could you write an example, maybe for France but in English?

[2018-02-18 07:53] manfredbrandl commented on #4816
Contact Information is important, but there are already many default fields for some object types (e.g. restaurant). It's up to @bhousel and others to decide about pull requests. Please read https://github.com/openstreetmap/iD/blob/master/data/presets/README.md anyway.

[2018-02-18 15:55] slhh commented on #4817
6. Placing the node well is impossible, when the node is out of view, or while the map is auto-panning. We should nope class the target when the cursor is outside of the inner auto-panning frame. Btw, this does also apply to the move operation.
7. Dragging a node, which is neither selected nor has a selected parent, should make the node the selected element (similar to JOSM). This would make the u

[2018-02-18 17:18] slhh commented on #4776
@bhousel
If we do it right, on-map warnings seem to have a great improvement potential for iD. Can we have a separate issue for the related discussion and revert the title of this one?

On-map warnings doesn't seem to be the full solution to the original issue. Due to the current drag behaviour, they might be generated out of view. Even if iD forces the user to inspect all warnings before saving,

[2018-02-18 19:16] FountainMapper commented on #4395
The label "Suggested Hashtags" is confusing. I dont understand the motivation here! (I work with iD in german language, here its called "Vorgeschlagene Hashtags" which translates to "Suggested Hashtags").
Why is it confusing?

I always thought, when I save my work "Vorgeschlagene Hashtags"/"Suggested Hashtags" means: you are free to (re)use some of the recommended hashtags. Instead it means: These

[2018-02-19 02:42] Mashin6 commented on #2272
@slhh
The direction can be determined by starting from the node with the higher 'node id'. In case the area is not uploaded yet, I assume the iD stores some temporary ids. But honestly, I don't care so much from which side I start to draw, when I want to enhance that given segment.

I like the midpoint idea, but the drag gesture seems not fitting to GUI style of iD. I personally would prefer a con

[2018-02-19 07:42] jidanni commented on #4806
In https://bugs.chromium.org/p/chromium/issues/detail?id=812644#c6
they say

[2018-02-19 09:06] timcouwelier commented on #4776
I've had it happen again last saturday. This time, fortunately, it caught my eye and I was able to quickly undo it.

Based on recent experiences and working with iD, I would like to reference this part from my earlier post:

That would work wonders for any point on a line/polygon, except for the obvious single points and the start- and endpoints of line features.
 I've done a bit of aligning and e

[2018-02-19 11:46] bhousel commented on #4806
You can point them at http://preview.ideditor.com/master as an example..

`user-select` should not affect the selectability of text in a `window.prompt`, and I'm using Chrome and I don't see this issue, so it might just be Chrome on Linux that has the issue.

[2018-02-19 11:51] bhousel commented on #2272
I think I'd prefer to just use a modifier key to extend the area, this seems simpler:
see https://github.com/openstreetmap/iD/issues/1711#issuecomment-92989335

Midpoint dragging onto an adjacent node to enter a new mode seems really complicated (and you're not guaranteed that that nearby node is even nearby or onscreen)

[2018-02-19 12:10] bhousel commented on #4776
Hey all, I'm actually getting really angry at this issue.   I know you are all trying to help, but none of this is helpful to me.  I'm locking the discussion and will build a warning system someday when time allows.

Until then, please just pay attention to what you are doing when you drag nodes around, and use Undo if you make a mistake.  Thanks.

Also, please don't
- compare iD to JOSM and Potla

[2018-02-19 12:27] bborkmiller commented on #2272
Just another idea: Select two adjacent nodes in an area, and do something--press A? context menu?--and iD would go into area-expansion mode, with the new node being added between the two selected nodes.

[2018-02-19 13:52] bhousel commented on #4395
This was added because somebody who runs mapathons found that their participants were confused when the field was just called "Hashtags".

I guess the difference is that "Hashtags" makes it sound like you must leave it as-is, and "Suggested Hashtags" makes people more ok about changing what appears there.

(I actually don't have a preference what it's called)

[2018-02-19 14:54] FountainMapper commented on #4395
Ok, I dont know at which places the string is shown at all. (I am just an user here.) But in the Commit Changes dialog the string "Suggested Hashtags" is clearly wrong/confusing. I recommend to change it back.

[2018-02-19 15:06] willemarcel commented on #4816
@manfredbrandl Sure we have some exceptions, but, for example, the restaurant preset has a `capacity` field that is too difficult to survey and less important. Other example: the cafe preset has a wifi essid field.

[2018-02-19 15:29] manfredbrandl commented on #4816
@willemarcel Please make a pull request for adding phone and website for restaurants (or some other feature type), put the fields in suitable order and wait if @bhousel or someonelse merges it.

[2018-02-19 15:33] manfredbrandl opened #4819 "Make 'Add field'-dropdown higher"
Having more (seven/eight) items in the dropdown would improve useability:
![image](https://user-images.githubusercontent.com/5360273/36385294-734cf3ec-1592-11e8-8a94-fac3e11d4c60.png)

[2018-02-19 15:50] bhousel commented on #4816
Hmm no, this slipped off my radar over the weekend (there was a _lot_ of activity on other issues, and I get an email for every single thing).  Please don't send a PR for this.

I'd really prefer not to default display "Phone" and "Website" fields on all the presets.  I think we already show too many fields (I agree that things like "Capacity" and "Wifi SSID" are probably unnecessary).  I sometime

[2018-02-19 15:52] bhousel commented on #4817
I agree with 1. and 2. and everything else is just too much for me to even read.

[2018-02-19 15:55] bhousel commented on #4815
This is a good idea.. I'm ok with updating the "success" screen to point a new user towards a local community that's active and friendly around where they are editing.  We could keep this list in a file under `data/`.

Also we should remove the sharing buttons.. This isn't 2013 anymore , and sharing your edit on Twitter, Facebook and G+ seems silly these days.

[2018-02-19 15:56] bhousel commented on #4819
agree

[2018-02-19 16:06] manfredbrandl commented on #4816
May i suggest, that the object editor shows "Default fields" and "More fields" instead of "All fields" and have "More fields" collapsed first and users can expand them like they can now with "All tags" and "All relations". That would make it easier than selecting fields from a list. Now it looks like:
![image](https://user-images.githubusercontent.com/5360273/36386798-470a820e-1597-11e8-8f22-0a2b5

[2018-02-19 16:38] willemarcel commented on #4816
I really like this idea!

[2018-02-19 16:53] bhousel commented on #4817
Ok, I've had a chance to read it all.. @slhh I know you are enthusiastic about improving iD, but I'd really appreciate it if you can keep the issues to be concise and actionable, and in line with the overall design principles of iD.

I know we've previously suggested that you might want to fork iD and change it into the kind of editor that you want to use - I still think that might be the best ide

[2018-02-19 18:10] manfredbrandl commented on #4816
My idea of more fields is just another view on the "add fields list". Being able to add fields-content with as few clicks as possible and seeing many options together is a priority, that's why I would prefer "more fields" with "add fields from specific list" in the end.

[2018-02-19 20:01] SelfishSeahorse opened #4820 "Please remove railway=platform from Tram Stop / Platform preset when used as node"
... because at many tram stops there is no platform, just a sidewalk or not even that.

[2018-02-19 20:24] bhousel commented on #4820
This is still the appropriate tag to use even if the tram just stops at a sign or any other random place.
See https://wiki.openstreetmap.org/wiki/Public_transport#Trams

That's why for all the the public transport presets, the caption says "Stop / Platform".  Because it can mean anything.

[2018-02-19 20:24] #4820 closed

[2018-02-19 20:50] SelfishSeahorse commented on #4820
Sorry, I wasn't aware of that. I thought that only `public_transport=platform` is fine for nodes, but `railway=platform` is not. Apparently, the wiki is contradictory in this regard, because according to <https://wiki.openstreetmap.org/wiki/Tag:railway%3Dplatform>, `railway=platform` should not be used on nodes ...

I'll write an e-mail to the tagging list – tagging a tram stop with `railway=platf

[2018-02-19 20:55] bhousel commented on #4820
No problem, we can definitely split the preset into a node preset and a way preset, if it turns out that it's really wrong for `railway=platform` to be tagged on a node.

I even found an old `railway=tram_stop` node while researching this issue 😆
https://www.openstreetmap.org/node/360504333/history
Didn't know that was a thing...

[2018-02-20 04:13] FountainMapper opened #4821 "(German translation) "Furt" leads to mapping errors."
The dialog for a highway offers structure (in german "Struktur") with bridge, tunnel, ..., ford.
The german translation of "ford" is "Furt". This is translated correct. A "Furt" is related to water crossings, see here https://de.wikipedia.org/wiki/Furt
However, some mappers (at least 2 in my city, they use iD) misunderstand this. They mix it up with "Fußgängerfurt", see here https://www.duden.de/r

[2018-02-20 07:41] GuillaumeAmat opened #4822 "Split the repo into several dependencies"
Hi there!

As web developers committed into the osm world for several years, my friends and I would like to discuss about the architecture of the iD repository.

Our first concern is the reusability of the code. You all did an amazing work on that tool but it is self-contained and unusable in other projects.

Eg: the osm module, the data sources, etc.

Can you consider to split the main repo into

[2018-02-20 08:29] manfredbrandl commented on #4821
Thanks for the hint, i changed the translation according to your suggestion, it will appear soon in preview.ideditor.com/master and later in the next release. @FountainMapper Translations are managed using the Transifex platform, see https://github.com/openstreetmap/iD/blob/master/CONTRIBUTING.md#translating
@bhousel could you close that issue please?

[2018-02-20 12:08] FountainMapper commented on #4821
Tested with preview. Looks fine. Thanks

[2018-02-20 12:08] #4821 closed

[2018-02-20 14:17] CarlosBrys opened #4824 "landcover=trees is not rendered"
Please, consider render the areas tagged as landcover=trees.
This tag is useful to represent groups of urban trees and parks, but actually is not visible on the render.
Actually exist landuse=forest and natural=wood, but neither is applicable to urban areas. In the cities do not exist forestal explotations or woodlands.

[2018-02-20 15:52] manfredbrandl commented on #4824
Do you mean the rendering in the iD-Editor? If not you may mean the Standard-Map-Tile, then there is another place to report this issue: https://github.com/gravitystorm/openstreetmap-carto/issues?utf8=%E2%9C%93&q=is%3Aissue+label%3Alandcover+trees

[2018-02-20 15:56] bhousel commented on #4824
This came up before on #4272 and we decided against it.
I don't think the `landcover` tags have gained any traction in the past 6 months, and adding a preset for it would only further fragment things.

[2018-02-20 15:56] #4824 closed

[2018-02-20 16:12] bhousel commented on #4822
This is a great idea, and I'd like to do this too whenever we make an iD v3.  Hope you understand that it's a low priority right now, below shipping features that matter to our users.

@kepta had started some work on this, but it's a hard problem.  Many of the components of iD depend on each other, so although we have the code organized into modules, they aren't really separate.

In the meantime,

[2018-02-20 16:40] lakedistrictOSM opened #4825 "Improve rendering of tree row"
Can the rendering of natural=tree_row be made wider or be shown as a dashed line (like barrier=wall)? It's difficult to distinguish at the edge of natural=wood areas at present, especially when the wood is mapped as a multipolygon (same line colour and same line thickness).

[2018-02-20 16:40] bhousel commented on #4825
good suggestion 👍

[2018-02-20 17:15] kepta commented on #4822
I did manage to extra the `id-presets` part, you can find the repository [here](https://github.com/kepta/idly-data). Please note it is experimental, but all the test cases from the main iD work.

[2018-02-20 17:35] bhousel commented on #4821
Thanks for the quick fix @manfredbrandl!

[2018-02-20 19:12] Slawek234 commented on #4817
In this case, examples of cases that the above suggested changes may improve should be given.
In my opinion node dragging enhancement is already overdone.
What is the result of further limiting the possibility of editing?

The id editor is still a light alternative for JOSM when adding many small new points, or quickly editing wikidata tags etc. in a large, huge area. But how long?

""We might als

[2018-02-20 19:24] Slawek234 commented on #4817
If the ID editor is to be more resistant to mistakes made by new mappers, maybe he should have a lite version to the edition that would offer full potential after some time?
e.g. up to 20000 Map changes lite version.

[2018-02-20 19:54] JamesKingdom commented on #4817
@Slawek234 This was brought up in https://github.com/openstreetmap/iD/issues/3692, but as `iD is designed with newbies in mind, so adding a "Newbie mode" really doesn't make sense.`

[2018-02-20 20:52] Slawek234 commented on #3692
Sometimes there are really beginner mappers.
In the version/mode for beginners, the editor would help to learn editing by a new mapper for a while, for example:

If the new maper would do, for example: 5 skew of houses building composed of 4 or 6, 7 nodes not having right angles because the user did not press the S key then floating info would appear (and in each case) until the user in a row will

[2018-02-20 23:22] lakedistrictOSM opened #4826 "Add preset for building=farm_auxiliary and rename preset for building=farm"
`building=farm_auxiliary`
- https://wiki.openstreetmap.org/wiki/Tag:building=farm_auxiliary
- a non-residential farm building
- name: Farm Building

`building=farm`
- https://wiki.openstreetmap.org/wiki/Tag:building_farm
- a residential building on a farm
- name: Farm House

[2018-02-21 00:25] slhh commented on #4817
@bhousel

Of course we shouldn't unselect the way, when dragging one of its vertices. That's why I wrote: "nor has a selected parent".

In contrast keeping the selection when dragging a totally unrelated node seems to be quite strange, and I don't see a relevant usecase for this. The selection should be changed in case of dragging these unrelated nodes only.

I had the same doubts, but I realized

[2018-02-21 12:10] simonpoole opened #4827 "Imagery that wasn't actually used added to imagery_used list"
It is a minor nitpick: iD will always add the currently selected background layer to the imagery_used list even if the coverage area was never actually intersected by the edits (aka the imagery was never on the screen). This can be slightly confusing to somebody inspecting the changesets after the edits as the information would seem to make no sense (which is probably actually the case :-)).

[2018-02-21 13:22] grischard opened #4828 "Support wms_endpoint imagery"
Once #4814 gets merged, we should also support ELI sources of the wms_endpoint type [like this one](https://raw.githubusercontent.com/osmlab/editor-layer-index/gh-pages/sources/europe/lu/Luxembourg-GeoportailOpenDataWMS.geojson). The URLs are for getCapabilities requests on a WMS, which return a list of layers and sublayers.

In the iD interface, they could be shown as a folder, maybe with the ico

[2018-02-21 15:07] bhousel commented on #4828
Cool!  I labelled as bluesky, but it #4633 might already contain a lot of the code needed.  It's on my list of things to get to..

[2018-02-21 15:19] bhousel commented on #4827
Trying to understand this issue better.  Is this like:

1. user selects a local (not global) imagery source
2. user pans map somewhere else where that imagery is not available
3. user edits something (presumably the background imagery is blank here)

What should iD do in this situation?

[2018-02-21 15:27] simonpoole commented on #4827
Yes (situation description).

what should iD do: add nothing to the list IMHO (to be on the save side ai would only add nothing if the current screen bounding box doesn't intersect with the imagery at all.

As said it is a minor nitpick nothing anybody is going to get upset about.

[2018-02-21 15:42] bhousel commented on #4827
Thanks for the clarification - I agree iD's imagery used code could be better.

[2018-02-21 16:39] SK53 commented on #4815
Very interesting idea. We do occasionally add something in welcoming changeset discussions when new mappers are clearly local and a monthly meeting is coming up. Would be interested in hearing what kind of link you might suggest is most appropriate, and how one might delineate the geography. For instance in UK there are meetings in Birmingham, London, Nottingham/Derby and Edinburgh/Central Belt, a

[2018-02-21 18:49] bhousel commented on #3742
CC @kriscarle for visibility - I proposed this as a GSoC project, and would be great to get this support into iD sometime soon.

[2018-02-21 18:50] bhousel commented on #1520
CC @kriscarle for visibility - relates to maphubs/moabi work.

[2018-02-21 18:51] bhousel commented on #3773
CC @kriscarle for visibility - relates to maphubs/moabi work.  Also when vector layers (#3742) become available, that might be a better way forward, adding multiple raster overlays will still be useful.

[2018-02-21 21:26] jjiglesiasg opened #4829 "Do the messages sent from ID delivered to Maps.me or OsmAnd?"
We have several dozens of Edits (mostly adding places) made from maps.me, Osmand and other mobile applications and try to keep them under control using achavi and neis-one.org tools. And also try to be "proactive" in guiding good practices for editing, so sending comments on changesets or messages to the users.
My question is: Are those messages or notifications being delivered to such application

[2018-02-21 21:49] GuillaumeAmat commented on #4822
@bhousel I totally understand the low priority. In the meantime, we have started a [new project](https://github.com/osm-code/osm-request) for our needs and will use your advice thank you ;)

[2018-02-21 22:07] bhousel commented on #4829
iD doesn't send messages to users.  The message sending stuff (either through personal messages or through changeset discussions) is a feature of openstreetmap-website.

There is some discussion on https://github.com/openstreetmap/openstreetmap-website/issues/526  about this.

Also #2367 mentions it, but we closed that issue as it's really not something we'd do in the iD code.

[2018-02-21 22:07] #4829 closed

[2018-02-21 22:09] bhousel commented on #4822
Sure- by the way do you want to move your projects into the [osmlab organization](https://github.com/osmlab)?  It might be more visible that way, and I'm happy to grant you access to do that.

[2018-02-21 22:20] GuillaumeAmat commented on #4822
Great! Would you accept to add the 2 other repositories of the organization too? I'm talking about osmose-request et leaflet-nectarivore (wip).

What's the policy of osmlab?

[2018-02-21 22:25] jjiglesiasg commented on #4829
Thanks for the input, will move the question to there...

[2018-02-22 23:02] rebio opened #4830 "Direction tag on a node that is part of a way and an area"
I like the feature that you have this little cone now that is displayed when there is a direction tag on a node in a way or an area. However, iD seems to be a bit _confused_ when the node is part of a way AND an area.

![id 2 6 1 direction bug way area](https://user-images.githubusercontent.com/10911084/36569065-8c8f80f8-182c-11e8-9b62-b7bfad3b6bd9.png)

The top node is only part of the way. The b

[2018-02-22 23:35] kriscarle commented on #1520
Would the data from http://osm-analytics.org/ help with this, or making our own density tiles based on the QA tiles?  I guess if a HOT activation significantly increased the density of an area overnight it might cause a problem? Maybe a safety check that disables it somehow in that scenario, if the node counts downloaded are significantly higher than what is in the density tiles?

Another option c

[2018-02-23 03:32] bhousel commented on #4830
This makes sense to me, although I can see why it would be surprising behavior.  A direction tag like `forward`/`backward` applies relative to the direction that its parent way is drawn.  So if you put it on a node that has several parent ways, you'll get several viewfields.

I am not sure whether adding a directional node to both a node and a way is valid tagging, so I'm kind of ok if it renders

[2018-02-23 07:31] tchchm1 opened #4832 "Overlaid Map is worst quality ever seen"
can you please tell me how do i even recognize the streets and other landmarks when the resolution is so bad? is there anyway i can re-upload the photos? How can we link to Google Map - Satellite view?

[2018-02-23 08:50] tastrax commented on #4832
Hi tchchm,

I dont think google makes its imagery available for use in ID however there are other choices in the panel on the right hand side

You may have to make some adjustments/offsets for some of this imagery to match existing mapping.

Cheers - Phil

From: tchchm [mailto:notifications@github.com]
Sent: Friday, February 23, 2018 6:32 PM
To: openstreetmap/iD
Cc: Subscribed
Subject: [openstreet

[2018-02-23 11:48] Nakaner commented on #4830
I agree with @manfredbrandl. The other possible solution would be not render the angles at all if it is ambiguous. But that might confuse users, i.e. the current solution is the best. :-/

[2018-02-23 12:24] matkoniecz commented on #1554
Also, showing old_name would be very helpful - currently iD mappers almost never keep old name in old_name tag on change of street name, what requires cleanuping their edits.

[2018-02-23 12:26] matkoniecz commented on #4832
Note that it is not OK to map using Google imagery (such edits must be reverted once found) due to copyright issues.

[2018-02-23 13:54] bhousel commented on #4832
sorry to hear that @tchchm1 .. as others have pointed out:
1. You can use the Background Imagery pane to see if there are other sources of imagery in your area.  There are now 6 sources that cover the entire world, so maybe one of them looks better than the default choice in your location.
2. The OpenStreetMap project is not allowed to use proprietary sources like Google.

There are also options f

[2018-02-23 13:54] #4832 closed

[2018-02-23 14:22] bhousel opened #4833 "Add hint text to all field UI buttons"
All the buttons should really have some kind of alt text or hover hint.

![alt text](https://user-images.githubusercontent.com/38784/36598527-707f3f04-187a-11e8-8030-895aa2207801.gif)

For comparison, I did put an alt text on these reset buttons.  It appears after about 3 seconds, which IMO is to slow.

![alt text 2](https://user-images.githubusercontent.com/38784/36598692-07ff3cbc-187b-11e8-802f-

[2018-02-23 16:05] Slawek234 opened #4834 "It is not possible to enter the letters Ś and ś in Polish language."
It is not possible during editing to enter the letters Ś and ś in Polish language.
By choosing the alt(right)+s combination instead of the letter ś, the ID editor tries to save changes.

[2018-02-23 23:26] jjiglesiasg opened #4835 "Graph corruption when drawing a line (was: Error Code 400)"
I spent a lot of time drawing streams in a complex mountain region, and suddenly trying to save and upload I got a Error Code 400, in ID, and all my work is gone... any advise?

[2018-02-23 23:45] bhousel commented on #4835
Your edits should not be gone - iD will save them in your browser’s storage (this might not work if you are using incognito mode or if you open several iD tabs at the same time).

You shouldn’t get a 400 error unless openstreetmap.org is down, but you should be able to stay the save again later, or even refresh your browser and restore your edits and try the save again.

[2018-02-24 01:12] slhh commented on #2272
@bhousel

see #1711 (comment)

You seem to propose the following workflow:

- Select the area
- Move the mouse to position which results in choosing the desired edge, in many cases this can be the intended position of the node
- Press the Ctrl key down -> iD choses the edge, and shows preview
- Adjust the mouse position
- Left-click -> iD places the node
- Release the Ctrl key

Is that correct?

I

[2018-02-24 03:28] jjiglesiasg commented on #4835
Hi Brian, I was drawing a line, them suddenly the line disappeared and just saw white dots, all map data disappeared and them when I try to save the error code 400 appeared, them all my data was lost and the only screen open do not restored any unsaved data after closing and reopened it. That was the sequence of events...

[2018-02-24 07:52] manfredbrandl commented on #4835
@jjiglesiasg I save regularly so that any problem will not loose me many edits. @bhousel may I suggest that you add the "refresh trick" to the help/documentation just above the keyboard shortcuts in edit&save ?

[2018-02-24 12:25] slhh commented on #2272
@Mashin6

The user is not aware of the ids, it would appear as a random behaviour.

At least you need to know the drawing direction, e.g. when you want to insert two nodes 1 and 2 between the existing nodes a and b, you need to know wheather drawing starts from a or b to place 1 or 2 first.
Maybe, the rendering can be changed to make the drawing direction visible.

You want to specify the directio

[2018-02-24 14:59] slhh commented on #2272
We could offer a context menu and shortcut reshape operation based on the selection a an area/line and one of its vertexes. The operation lets the user draw a line starting from selected vertex and to be finished at a vertex or edge of the selected area/line. The user would be aware of the (intended) drawing direction with regards to the area/line, but iD would not be aware of this, at least not b

[2018-02-24 17:32] pnorman commented on #4822
https://gist.github.com/tmcw/5157262 is the osmlab policy.

Basically, it's like SVN used to be - no real ownership, but you probably want to talk to others active in a repo before merging stuff. If you have a project with a strong notion of maintainers, it's not the right place, but if you're releasing something out there to the development community, it's a reasonable option.

[2018-02-24 18:12] GuillaumeAmat commented on #4822
'kay thank you @pnorman. It seems that it fits with our needs. Can you add me to the organization?

cc @bhousel @kepta

[2018-02-24 19:12] bhousel commented on #4822
ok @GuillaumeAmat you should have an invite waiting for you 👍

[2018-02-24 20:24] Mashin6 commented on #2272
@slhh
That is right, if the line connecting the new node to the starting point would be rendered thicker then the user would know, which direction to stat drawing. And personally I think nobody would care if iD would  choose the start point seemingly at random.

@bhousel
But iD currently has a context menu for continuing line drawing. Wouldn't hiding this one under shortcut be inconsistent?

@bbor

[2018-02-24 23:13] maxerickson commented on #2272
Could also use the node closest to the pointer as the starting point. That way it is possible to to control it.

[2018-02-25 01:09] GuillaumeAmat commented on #4822
Got it! Thanks ;)

[2018-02-25 01:18] slhh commented on #969
A reasonable area split based on one selected vertex would be:
Put the user in line drawing mode with the selected vertex being the start and the rest of the area outline being the finishing target. The line needs to be self intersection protected and the outside of the area needs to be nope classed. This results in a line splitting the area into two parts.

The current area split might be reworke

[2018-02-25 02:25] bhousel commented on #969
Can we just make it a new operation that's available if a user has selected both an area and a line that divides it?  Then you don't need to worry about putting the user in drawing mode and dealing with whatever stuff might happen in there.

<img width="798" alt="screenshot 2018-02-24 21 16 35" src="https://user-images.githubusercontent.com/38784/36637325-0a2ab0a6-19a8-11e8-86d0-814dd33f8ac8.png">

[2018-02-25 02:31] slhh commented on #2272
@maxerickson Yes, we might use the current mouse position at the time of right clicking, pressing the spacebar (to open context menu), or pressing the shortcut key.

I see the following variants of using this information:

1. Based on selection of the area and a single vertex: The connected edge which is nearest to that position is  to be redrawn, and maybe also following edges.
2. Based on select

[2018-02-25 15:56] Psigio commented on #3744
Hi - I've created a Proof Of Concept for this (PR at: https://github.com/openstreetmap/iD/pull/4837).  I've only added the annotations to a couple of files and updated the build process to include flow but hopefully it should be enough to demonstrate the process.  If you are happy with this approach, the annotations could gradually be added to the rest of the application.

[2018-02-25 18:59] pnorman commented on #1520
Making density tiles isn't really a problem, there's half a dozen ways to do it. https://github.com/osmcode/osmium-contrib/tree/master/node_density is probably the best. It's what to do with that data that's in question.

[2018-02-25 21:38] kriscarle commented on #1520
The discussion above seems to around whether to have iD
1) react to dense data after it encounters it and adapt, or
2) making a density dataset available to iD so it can determine when it is safe to go above z16

Option 1 sounds like a complicated build? Plus it still means downloading the data on the initial load before figuring out how to optimize later requests, and that could still put a strai

[2018-02-27 09:44] geohacker commented on #1520
Glad to see the activity on this ticket! I feel like if we can store quadkey densities as part of the OSM API that's probably the best and let other editors also use this information. OSM Analytics could give this as a byproduct, but is dependent on QA tiles but I somehow think this should in API core.

Do we know what densities translate to what zoom level? It sounds like to me that even z16 is s

[2018-02-27 21:56] MaciejWWojcik commented on #4826
Hello, sorry for that stupid questions - I'm new and want to learn and help.

I want to make this issue, so I writed my code in presets.yaml and then start npm test, because of contributing.md

There I have two problems:
1. My changes in yaml disappeared
2. Test stuck at  iD.uiFieldWikipedia 2)"before each" hook

What I'm misssing?

[2018-02-28 00:31] yaugenka commented on #1711
There are a lot of rivers in our country which are drawn very badly. See an example pic attached.
They can be hundreds of kilemeters long, so you can imagine how painful it is to fix them.
Until this feature is done, is there at least some workarrown solution to improve the redrawing? e.g. cut the line and some hidden possibility to delete the entire new piece even if part of it is out of view?
![

[2018-02-28 13:31] MaciejWWojcik commented on #4522
@1ec5 Hi, can you provide some example of this maxspeed:advisory? I'm new here and don't know where should I start.

[2018-02-28 13:34] MaciejWWojcik commented on #4324
What's the progress for this issue? Is there something to do?

[2018-02-28 13:47] bhousel commented on #4324
Looks like nobody is working on it currently, you can give it a shot @MaciejWWojcik

[2018-02-28 13:59] MaciejWWojcik commented on #4324
ok, so I can start coding from master branch?

[2018-02-28 14:08] bhousel commented on #4826
Hey @MaciejWWojcik thanks!
We have a special readme just for working with presets and fields:
https://github.com/openstreetmap/iD/blob/master/data/presets/README.md

There is a lot of info in there, but the tl;dr is
* presets and fields are all defined in the .json files
* run `npm run build` to rebuild the generated files (you found that the .yaml is one)

So for this request, the steps to do are

[2018-02-28 16:27] eehpcm opened #4838 "Fully superimposed objects"
This could be a feature request (if it's not currently possible), or a bug report on the help system (if it's possible but the help doesn't say how), or an admission of stupidity (it's possible, the help explains how, and I'm too stupid to comprehend), or an admission of colossal stupidity (it's a very stupid thing to want to do).

I have two fully superimposed objects.  All their respective nodes

[2018-02-28 16:47] bhousel commented on #4324
A good way to stay organized is to do this (you might have done some of these steps already?):

#### Setup:
Fork your own iD, and make it easy to keep it in sync with ours..

1. Fork the repo into your personal GitHub account.  Now you have your own iD  🎊
2. Clone your iD to your local machine:
`git clone git@github.com:MaciejWWojcik/iD.git`
3. You'll have a "remote" called `origin`.  You can also

[2018-02-28 18:26] leegenes commented on #4324
Also happy to help with questions, too, if bhousel is busy. Just didn't have the time to work on it a while back.

[2018-02-28 21:56] MaciejWWojcik commented on #4324
Thanks so much for the answer :) It's very clear for me what to do now. So I'm getting to work

[2018-02-28 21:57] MaciejWWojcik commented on #4826
Okay, thanks a lot! I will work on this ;)

[2018-02-28 22:38] MaciejWWojcik commented on #4826
#4839

[2018-02-28 23:15] slhh commented on #4246
@bhousel
Readme.md states Node.js version 4 or newer as a prerequisite. This needs to be updated.
I don't know which version is really required for iD. I had updated my system to the newest version due a failing 4.x.x version.

[2018-03-01 06:14] bhousel commented on #2622
This was done in #2346!

[2018-03-01 06:14] #2622 closed

[2018-03-01 06:15] bhousel commented on #2346
This was done in #4768!

[2018-03-01 06:15] #2346 closed

[2018-03-01 07:04] bhousel commented on #4246
That's strange - we actually do matrix builds on travis against node 4, 6, and 8, and they have been succeeding:  https://travis-ci.org/openstreetmap/iD

@slhh if it happens again, can you open a new issue?  Node does occasionally get messed up and a clean reinstall of all dependencies (`rm -rf node_modules` then `npm install`) could fix things.

[2018-03-01 17:23] manfredbrandl opened #4840 "Improve style of slider controls"
The options looks like this that when the mouse is over the crossing but before click:
![turn-restriction-editor-options-before-click](https://user-images.githubusercontent.com/5360273/36859031-7b6d95b6-1d7d-11e8-82ed-6b25c7aae1af.png)
After selecting with click and moving the cursor to the object editor / turn-restrictions editor it look like this:
![image](https://user-images.githubusercontent.c

[2018-03-01 17:48] bhousel commented on #4840
Looks a bit buggy - which browser is this?
Styling sliders is a bit complicated, so I've avoided messing with the style much.  Do the sliders under the Background Pane do this too?

[2018-03-01 18:23] yaugenka opened #4841 "Pan the map to the first/last node of a selected line by pressing home/end buttons"
When you have a line node selected you can press home/end to get its first/last node.
It would be nice to also have a possibilty to pan the map to the first/last node of a selected line by home/end keys.

[2018-03-01 18:50] bhousel commented on #4841
Agree, this seems fine

[2018-03-01 19:08] thomas-hervey opened #4842 "Unchecked 'No' box for car parking attributes like Park and Ride"
I am not sure if this is intentional or not, but when toggling through a _yes, no, unknown_ attribute like **Park and Ride** under the Car Parking feature, the 'no' option saves but isn't checked. If this is a bug, it seems a quick fix.

This was found while using Firefox 58.0.2 (64-bit) on OSX High Sierra.

![no_check](https://user-images.githubusercontent.com/1840672/36864067-71041c68-1d40-11e8-

[2018-03-01 19:19] manfredbrandl commented on #4840
This is Firefox Quantum 58.0.2 (64-Bit) on Windows 7. But i suspect it browser specific, because on Chrome Version 64.0.3282.167 (Offizieller Build) (64-Bit) and Opera 50.0.2762.67 (PGO) there is no such problem. Feel free to close.

[2018-03-01 19:21] bhousel commented on #4840
No problem @manfredbrandl, I'll leave it open.. It is actually possible to style sliders with CSS, and we should probably make them look a little bit more iD-like (clean, minimal), or at least more consistent.

[2018-03-01 20:11] bhousel commented on #4819
Done in #4831 !

[2018-03-01 20:11] #4819 closed

[2018-03-01 20:16] eehpcm commented on #4842
I don't think it means what you think it means. :)

There is a - and a textual explanation that it means "unknown."

There is a check mark and a textual explanation that it means "yes."

There is an absence of a check mark and a textual explanation that it means "no."

To make the interface work the way you're expecting would require three radio buttons (so only one can be selected) labelled "unkn

[2018-03-01 20:16] #1141 closed

[2018-03-01 20:18] bhousel commented on #1141
@tyrasd added support for the tile-compatible WMS sources in #4814  🎉

[2018-03-01 20:20] thomas-hervey commented on #4842
@eehpcm, your explanation makes more sense. I will close this issue but feel free to reopen it if you'd like to see a defaulted "no" as a new feature.

[2018-03-01 20:20] #4842 closed

[2018-03-01 20:47] #4826 closed

[2018-03-01 20:50] bhousel commented on #4830
Thanks for your feedback @Nakaner & @manfredbrandl ..  Closing this issue as "looks wrong because it is wrong" 😆

[2018-03-01 20:50] #4830 closed

[2018-03-02 03:26] #4841 closed

[2018-03-02 03:34] #4825 closed

[2018-03-02 05:27] bhousel commented on #4765
Ok I ended up unlocalizing the `decimalCoordinatePair` function.
I don't think anybody would be likely to be _confused_ by the output, which is my main concern.

We can revisit later if people want to.
(For example, removing the comma from the German translation on Transifex would also be an equally ok solution).

[2018-03-02 05:44] #4750 closed

[2018-03-02 08:00] naomap commented on #2837
I strongly agree with matkoniecz. Tag values for keys such as surface and bicycle_parking are translated in JOSM presets, it feels really strange they cannot be translated in iD which is meant to be easier to use. Also, favoring freeform values is not an argument IMHO, as iD enables users to add any key and value in the spreadsheet at the bottom of the edit panel.

[2018-03-02 14:54] bhousel commented on #2837
If the set of allowable values for a field is not fixed, we would end up mixing translated and untranslated strings in the dropdown and that would be more confusing than just displaying all the values be in one language.  The tag editor ("spreadsheet") at the bottom of the edit panel also only shows only raw values and makes no attempt to translate them.

We could maybe display both strings next t

[2018-03-02 15:03] matkoniecz commented on #2837
I think that making available values limited to a fixed list would be preferable here.

BTW, StreetComplete needs project like this for similar reasons - see https://github.com/ENT8R/tags2names/issues/1

[2018-03-02 15:03] bhousel commented on #4838
Hey @eehpcm yes this is a real issue!  What you describe with `building:part` is the current best-practice for mapping 3d buildings.

I'm going to close here and consider it part of #2746
We need to better handle how to allow users to map features that are coincident (located in the same place) but on separate layers.

My plan is that a toolbar like #3123 can unblock adding more options for tools

[2018-03-02 15:03] #4838 closed

[2018-03-02 15:15] bhousel commented on #4835
Ok, yeah that is pretty different than just a 400 server error.  If you can get it to happen again in a repeatable way, then it's a bug that needs fixing.

Unfortunately it's not always easy to know what caused an error like this, but if it happens again, the best course is to open the dev console and look at the errors (for an error like this you'd probably see a lot of "Entity not found" stuff).

[2018-03-02 15:24] bhousel commented on #4835
good idea!  @manfredbrandl can you write it up?

[2018-03-02 15:30] eehpcm commented on #4838
Oh my.  Those other proposals are way more complicated than I envisaged.  Probably better, in the long run.

All I was thinking was maybe control-click on a superimposed node or superimposed way opened a pop-up giving you a list of objects to select.  When there's no superimposed node/way it acts as normal.

Or maybe without needing control.  Click on it and get a "select object" pop-up.

Could ge

[2018-03-02 15:32] bhousel commented on #4838
We might do something like that too - that's #1239

[2018-03-02 17:03] tyrasd commented on #1141
Should we open a follow-up ticket for "supporting" EPSG:4326 wms services as described above in https://github.com/openstreetmap/iD/issues/1141#issuecomment-15469807?

[2018-03-02 17:06] bhousel commented on #1141
Yes, please open one... 👍

[2018-03-02 17:15] tyrasd opened #4843 "Support non web mercator WMS"
follows #1141:

see also https://github.com/mapbox/whoots-js/issues/19

[2018-03-02 21:28] slhh opened #4844 "Restriction editor: missing icons and ways"
Even if slider is set to two via ways, hover styling and restriction icons are shown for via nodes only here, and in addition some ways are missing.:
At http://preview.ideditor.com/master/#background=Bing&disable_features=boundaries&id=n26415364&map=19.28/53.57380/10.03363:
![grafik](https://user-images.githubusercontent.com/13684947/36921874-3907a5ba-1e66-11e8-9d87-401e17e4e5c4.png)
![grafik](htt

[2018-03-02 22:07] naomap commented on #2837
The set of values is never fixed in OSM. The tag fire_hydrant:type has 141 different values according to taginfo and it can be translated, bicycle_parking shows 330 different values and cannot be translated : where is the threshold ? I would argue that the best of both worlds, is to show translated values in the dropdown, and leave actual DB values in the edit panel. This makes life simpler for be

[2018-03-02 22:47] bhousel commented on #4844
Good catch @slhh thanks for reporting!

The issue was that there was an old `maxDistance` variable hardcoded to 30 meters that I needed to remove, preventing the turn finder from taking large enough steps..  The `maxDistance` is now configurable up to 50 meters everywhere.

I don't think I can do much about fixing the rendering artifacts.  Some challenges are:
- We don't actually know how big the

[2018-03-03 00:06] Thue opened #4845 "Escape does not always exit area creation, depending on mouse position"
Hitting Escape to end area creation does not always work.

When I am creating a new area in iD, I will create nodes clicking with the mouse, and then hit "escape" on the keyboard once all the nodes are made. When I hit escape to finish area creation, I do not care where the mouse is pointing, since it should have no relevance, so the mouse is often in a meaningless location.

In a recent update of

[2018-03-03 01:41] bhousel commented on #4723
Going to close this, I think it was a onetime issue with reading back a very old value..

[2018-03-03 01:41] #4723 closed

[2018-03-03 01:50] bhousel commented on #4807
To elaborate a bit on my previous answer....

This is a bit complicated because tile servers regularly return 4xx responses.. If you are zoomed in very far, the server might just not have imagery at that detail and return a 404.  This is expected, so iD will deal with the error by requesting a zoom level up.  It will keep doing this until it either runs out of zoom levels or finds some imagery.

S

[2018-03-03 02:03] bhousel commented on #4161
I've decided I don't want to do this anymore 😆   closing..

[2018-03-03 02:03] #4161 closed

[2018-03-03 02:11] jjiglesiasg commented on #4835
Hi Brian, the white dot showed up again today, but this time I was able to save my previous work, not the line that I was drawing, and there were not Error Code at all... I tried to refresh but the line never showed, so I did it again, no other fault...

[2018-03-03 02:18] bhousel commented on #3893
Just going through old issues - this was actually done already, I think in #4720...

[2018-03-03 02:18] #3893 closed

[2018-03-03 03:11] bhousel commented on #2708
I'll reopen this as a "considering" issue because of discussion on #2837, and it _really is_ a problem for non-English users of OSM.

It probably requires finding a way to compile a list of all our combo fields from the iD presets, then query the taginfo API to pull the top most common values into a new transifex resource.  And rerun that process sometimes.  It sounds like a good hackday type proj

[2018-03-03 03:20] bhousel commented on #2837
Sure, I agree with you.  The issue was closed before because we thought it was too hard to do.  I reopened and added my thoughts:
 https://github.com/openstreetmap/iD/issues/2708#issuecomment-370112193

[2018-03-03 06:42] matkoniecz commented on #2708
See also https://github.com/ENT8R/tags2names/issues/1 - StreetComplete needs a similar data, if possible it would be nice to have a project usable by both editors.

[2018-03-03 11:11] NopMap commented on #659
I think there is an important feature missing here.

Potlatch2 is capable of highlighting ways which are members of routes on the map (without selecting anything). This is very helpful to see where route relations are "hidden". It is also possible to distinguish different types of route relations by different color highlighting.

It is probably necessary to switch the highlighting of different typ

[2018-03-03 14:15] mvl22 commented on #4108
I've just run into this for the first time. The console (in Chrome) shows me:

![screen shot 2018-03-03 at 14 14 10](https://user-images.githubusercontent.com/361423/36935238-4806cb54-1eed-11e8-9f0b-4d54d882b869.png)

[2018-03-03 18:33] slhh commented on #2708
I don't really like the idea of translating values, they are a formal thing, and they are defined in the wiki as an English value only, even on the translated wiki pages.
Finding sufficiently descriptive values was already hard and not always possible for English, in spite of being able to optimize the tagging classification for English. Translated values are likely less descriptive because there

[2018-03-03 18:48] tbertels commented on #2708
Everything else is translated in iD. When we want to add something, there's a search box and the results are translated. That's actually what makes it possible to add features without knowing every tag.
And the current behavior is [what matkoniecz suggests in a comment of #2837](https://github.com/openstreetmap/iD/issues/2837#issuecomment-369944763): a list of limited values.
Advanced users can al

[2018-03-03 20:57] 1ec5 commented on #2708
#3299 already adds a tooltip to each suggested value of a combo box. The tooltip contains a description from the OSM Wiki (via taginfo). If the relevant wiki page has been translated, then this tooltip is also translated.

[2018-03-03 22:02] slhh commented on #2837
I wouldn't be able to name many of the bicycle parking types even in my native language. I had to check the wiki, and would find the English value only.

[2018-03-04 12:59] umarpreet1 commented on #4833
I want to contribute to this issue but i am new to osm. Kindly guide me further.

[2018-03-05 03:32] bhousel commented on #3744
Thanks @Psigio for getting this started!

We can gradually add Flow annotations to the entire codebase.  This is a great project for anyone who wants to contribute and learn more about the internals of iD (beginners are very welcome!) .

For anyone wants to help out with this, please tag yourself in a followup comment and claim a folder. 🤗

The work to do is:
1. Read up on Flow's [type annotations

[2018-03-05 11:36] Ghybu commented on #4783
@1ec5 @bhousel
Thanks. But for the "ku" or "ku-latn" code (Latin script ) the layout of the page must be in LTR and for the "ckb" code (Arabic script ) the layout must be in RTL.
Currently, it's the opposite.

[2018-03-05 12:27] bhousel commented on #4783
Oh thanks for flagging ... It looks wrong here, and this is a value that I expected Transifex to update for us:

https://github.com/openstreetmap/iD/blob/837b297ec61daf94e2a2de71a626edfaa4153b35/data/locales.json#L30-L32

[2018-03-05 16:29] Ghybu commented on #4783
Sorry to come back again and again on this topic :)

Line [126 / 127](https://github.com/openstreetmap/iD/blob/837b297ec61daf94e2a2de71a626edfaa4153b35/data/locales.json#L126) must also be modified. As I said above, actualy "ku" and "ku-latn" is in RTL. It should be in LTR.

Another thing: when I choose "ku" in "My preferences --> Preferred Languages". I don't see a translation in Kurdish. Normall

[2018-03-05 16:35] bhousel commented on #4783
No apology needed, we want to get this right 👍
If Transifex is returning the wrong thing for these languages, we'll just hardcode the correct thing in our `update_locales.js` script.  I have to investigate whether the result is wrong or whether there is an issue in our query.

https://github.com/openstreetmap/iD/blob/837b297ec61daf94e2a2de71a626edfaa4153b35/data/update_locales.js#L53-L55

[2018-03-05 17:22] bhousel commented on #4783
Transifex is indeed returning the opposite of what we expect:
[code]

[2018-03-05 17:29] manfredbrandl commented on #4780
2.7 was published recently, so work on milestone 2.8 and the iD taskbar is opened. @zbycz and @panieravide are you intrested in porting indoor-mode to the main iD editor now?

[2018-03-05 18:21] 1ec5 commented on #4783
For reference, CLDR defines [`ckb`’s script](https://www.unicode.org/cldr/charts/32/supplemental/languages_and_scripts.html#ckb) as Arabic and [`ku`’s script](https://www.unicode.org/cldr/charts/32/supplemental/languages_and_scripts.html#ku) as either Cyrillic or Latin (with Arabic being a non-primary script). CLDR also defines Arabic as being written [right-to-left](http://unicode.org/cldr/trac/b

[2018-03-05 19:12] Ghybu commented on #4783
Kurdish is written in Arabic script or in Latin. Cyrillic script is no longer used.

Concerning the CLDR, see these discussions:
-  http://unicode.org/cldr/trac/ticket/6527
- http://unicode.org/cldr/trac/ticket/9964
- http://unicode.org/cldr/trac/ticket/9748

See also (phabricator):
- https://phabricator.wikimedia.org/T48235

And (OSM wiki)
- https://wiki.openstreetmap.org/wiki/Talk:WikiProject_Ir

[2018-03-05 23:42] zlavergne opened #4848 "Unexpected behavior in new turn restriction editor"
@bhousel Correct me if I'm wrong but this wasn't the expected behavior to me.

<img width="1135" alt="screen shot 2018-03-05 at 3 49 02 pm" src="https://user-images.githubusercontent.com/9849118/37004197-df404220-208c-11e8-886e-ecb2d2080db4.png">

[https://www.openstreetmap.org/edit#map=20/-36.81697/-73.04610](https://www.openstreetmap.org/edit#map=20/-36.81697/-73.04610)

When adding a simple `no

[2018-03-06 04:16] bhousel commented on #4848
Hey @zlavergne - yes, what you described is exactly what it does, and I understand that it's unexpected.  There were some things that surprised me when I implemented this feature that I'd love to share.

#### How it works
The turn restriction editor displays a "fake" intersection in which all the ways already are split up.  When a user changes something in that intersection, all those splits are a

[2018-03-06 04:16] #4848 closed

[2018-03-06 07:20] tyrasd opened #4849 ""only_*" turn restrictions shouldn't affect turns in opposite direction of way"
I noticed the following regression related to the reworked turn restrictions editor (see #4768 / #2622): When a short road segment in a (moderately) complex intersection is used as a _from_ member of a _only_-type turn restriction, not only are all "outgoing" turns marked as prohibited (i.e. turns one could otherwise take when driving on the road towards the _via_ node or way(s)), but also all tur

[2018-03-06 07:47] PanierAvide commented on #4780
Great :-) Well for now I'm quite busy to help, but I'm still interested in seeing indoor mode being available in iD.

[2018-03-06 13:54] bhousel commented on #4849
Yes, this is something that came up in our internal testing and I took an approach that might not be perfect.. I was trying to follow the rule on the [osm wiki](https://wiki.openstreetmap.org/wiki/Relation:restriction#Tags):

We agree that that this wording is probably an oversimplification - when the FROM way is bidirectional.

I ended up adding some code in here to say "only follow this rule and

[2018-03-06 13:56] bhousel commented on #4849
Should also add - If this is the case then we should definitely change iD to match what they do 😆

[2018-03-06 20:15] tyrasd commented on #4849
here's an example: https://www.openstreetmap.org/relation/2227207#map=19/47.05882/15.47012&layers=N

OSRM and Graphhopper happly route across this turn restriction in both directions:
https://www.openstreetmap.org/directions?engine=osrm_car&route=47.05877%2C15.47019%3B47.05915%2C15.46974

[2018-03-06 20:36] bhousel commented on #4849
Yeah I thought about this more.. I'll definitely change it and push out an update in the next day or so.

[2018-03-06 20:41] #4783 closed

[2018-03-06 20:42] bhousel commented on #4783
I opened an issue with Transifex support, and they're looking into the issue.  In the meantime, I just hardcoded the RTL/LTR values in 13789cc86 so we can close this out.

[2018-03-06 21:35] Psigio commented on #3744
Just to add to this, I was looking at setting up Flow on a couple of the heavily-used types, in particular entity.js, but ran into a few issues due to the use of the constructor function approach.  A [stackoverflow post](https://stackoverflow.com/questions/42454321/flowtype-errors-in-a-simple-constructor-function/42466341#42466341) suggests that importing the type to other files will not work, and

[2018-03-06 21:45] tmcw commented on #3744
(obviously not really a stakeholder here anymore, but) - though Flow is very nice and works well with the Babel toolchain, I've really seen TypeScript take the lead in the last year or two, and it may well be the better option here, with more potential contributors and better tooling.

[2018-03-06 21:58] kepta commented on #3744
I love typescript too and find `flow` a little immature. But moving to typescript is a significant lift and might need more hands for to help out.

[2018-03-06 22:10] mvexel opened #4851 "Support for OpenStreetCam detected signs"
OpenStreetCam is rolling out sign detections gradually. An updated JOSM plugin is close to release. It would be great to have iD support this layer as well. Ideally this would work in a similar fashion as the corresponding Mapillary layer.

I will update this ticket once I gather the details about the API. For now, [here is an existing OSC trip that has sign detections](http://beta.openstreetcam.o

[2018-03-06 22:12] HolgerJeromin commented on #3744
As every js file is valid Typescript it can be converted with the same strategy.
The editor support is impressive (i use visualstudio, but the language service is the same in vs code).

[2018-03-06 22:21] Psigio commented on #3744
There is a babel plugin that can allow piecemeal conversion of a project to Typescript (https://www.npmjs.com/package/babel-preset-typescript) but I've never used it, so can't really comment further.  The Flow annotations I've added so far are largely compatible with Typescript (I think that the Type Alias won't work, but they aren't necessary for the Typescript transpiler), so it might be possibl

[2018-03-06 22:30] kepta commented on #3744
I think we should really try hard to avoid babel at all costs. There should be no need for us to rely on Babel and other bloat that comes with facebook-react ecosystem.

[2018-03-06 22:30] HolgerJeromin commented on #3744
Why use babel to remove type info and not typescript compiler itself?
https://github.com/Microsoft/TypeScript-React-Conversion-Guide/blob/master/README.md

[2018-03-06 22:32] HarelM opened #4852 "Custom baselayer is lost upon browser refresh"
I totally dig the fact that you can set a custom base layer for iD to use using a URL.
Here's a link I'm using from my site to allow an OSM user to edit a feature:
https://www.openstreetmap.org/edit?node=278477259#background=custom:https://israelhiking.osm.org.il/Hebrew/Tiles/{z}/{x}/{y}.png

Unfortunately when surfing to the above page and then refreshing it, the custom base layer is lost...
This

[2018-03-06 22:48] Psigio commented on #3744
I've just tried with the rollup-plugin-typescript (no babel involved!) and it seemed relatively easy to convert the existing Flow annotated file.  You can take a look at the diff on my fork at: https://github.com/Psigio/iD/commit/8ce8b03023d7df230b44b74f6ad0703a1e007a9e

This is only a quick Proof Of Concept, but it seems just as easy to implement as the Flow annotations were.

[2018-03-06 23:08] slhh commented on #4849
+1
Applying the rule literally would make the from member a dead end road in the other direction.
Only restrictions are likely used quite often with bidirectional roads. The German wiki requests to always use only restrictions where only one routing is allowed, because the restriction is signed this way. This does likely apply some to other countries too.

[2018-03-07 09:47] zbycz commented on #4780
I would like to work on the implementation, but i still dont know where could i place the entry button. Who is the one to decide?

[2018-03-07 12:03] greenkeeper[bot] opened #4853 "Drop support for node 4 / npm 2"
☝️ Greenkeeper’s [updated Terms of Service](https://mailchi.mp/ebfddc9880a9/were-updating-our-terms-of-service) will come into effect on April 6th, 2018.

## Version **0.56.5** of [rollup](https://github.com/rollup/rollup) was just published.

<table>
  <tr>
    <th align=left>
      Branch
    </th>
    <td>
      <a href="/openstreetmap/iD/compare/greenkeeper%2Frollup-0.56.5">Build failing 🚨</a>

[2018-03-07 15:12] bhousel commented on #4853
This _seems_ spurious.  I reviewed the [travis log](https://travis-ci.org/openstreetmap/iD/jobs/350268911) for this build, and it shows an error with a missing module that it couldn't find.

I tried a local build using:
[code]
...and got a similar error but for a different module, which was resolved after running `npm install` a second time.  (see https://github.com/npm/npm/issues/10727)..

I'm th

[2018-03-07 16:55] abdeldjalil09 opened #4855 "man_made=observatory"
https://wiki.openstreetmap.org/wiki/Tag:man_made%3Dobservatory

[2018-03-07 17:46] bhousel commented on #4851
This is awesome!  great news @mvexel 👍

[2018-03-07 18:00] rugk opened #4856 "Piste:type should mention regional signs/colors"
Currently when editing/adding a piste the selection for the `piste:type` mentions things as "green circle", blue square" etc.

[2018-03-07 18:38] bhousel commented on #4852
Yes, this url-rewriting issue might be something we need to change on the openstreetmap-website side, but I agree that it's expected that a refresh would not change the user's imagery.

[2018-03-07 18:43] bhousel commented on #4856
I was expecting that people would just remove any US-specific text when they do the translations.
e.g. In the German translation, they could just remove those and replace them with whatever they do in Germany.

For reference:

<img width="377" alt="screenshot 2018-03-07 13 39 48" src="https://user-images.githubusercontent.com/38784/37111186-11fc630c-220d-11e8-8b8f-dd6d370911e6.png">

[2018-03-07 18:57] boothym opened #4857 "Name field missing from presets"
The name field is missing from leisure=pitch and amenity=parking.

I'll get round to it eventually but if anyone else wants to create the PR then feel free :)

[2018-03-07 21:13] rugk commented on #4856
Yeah, and the German translation is just literally, here. Maybe you need some translation instructions/notes there. It seems it was not obvious for the translators to change that.

Also, BTW, what happens when US users do some armchair mapping or similar and change stuff in Europe?

This may be a more general question, as it may of course be an unlike case for this issue.

[2018-03-07 21:14] bhousel commented on #4856
I hope people aren't armchair mapping piste difficulty 😆

[2018-03-07 21:21] rugk commented on #4856
Sure, that's why I said, this may be a general question.

[2018-03-07 21:50] Psigio commented on #3744
I've got a bit further with this - it turns out that the rollup-plugin-typescript didn't quite do what I expected, but I found that https://github.com/ezolenko/rollup-plugin-typescript2 did seem to work better.  I've got a work-in-progress branch on my fork, you can see the diff compared to master: https://github.com/Psigio/iD/compare/master...Psigio:wip-1

It works in pretty much the same way as

[2018-03-07 22:24] manfredbrandl commented on #4856
I just improved the German translation. Thanks for the hint, it was translated literally before

[2018-03-08 12:27] maning opened #4861 "Splitting the road, breaks TR relation"
When splitting a road with an existing TR, the from member is assigned to the other segment that does not connect to the via way.

To reproduce, select a from way, split the way. Check the relation membership.
![split-tr](https://user-images.githubusercontent.com/353700/37151037-fa6a45b8-22f9-11e8-99f7-06bed6658a91.gif)
_Not uploaded of course! 😄_

[2018-03-08 12:29] HolgerJeromin commented on #3744
You could try "--pretty" compiler option.

Perhaps we should move the discussion to a separate ts issue to avoid spamming this issue if ts is rejected.

[2018-03-08 15:27] bhousel commented on #4861
Good catch @maning - I thought I included this fix but I missed it.  Will push out a patch for it this week.

[2018-03-08 16:52] lakedistrictOSM opened #4862 "Train platform is incorrectly called "Subway Stop / Platform""
![image](https://user-images.githubusercontent.com/20193716/37163722-6028e044-22f0-11e8-8e91-7f73b5393ae6.png)
This should really be called "Train Stop / Platform", given that there's nothing to suggest that this is a subway platform. Perhaps it's an issue with the "Train Stop / Platform" and "Subway Stop / Platform" presets having the same tags.

[2018-03-08 17:49] bhousel commented on #4862
Thanks for reporting - you're right that the tags should not be the same, and that's why iD is incorrectly recognizing the feature.

[2018-03-08 18:36] umarpreet1 commented on #4857
I am new to OSM and id but i really want to contribute to OSM. So want to solve this issue to become familiar with the OSM and ID. Can you guide me for solving this issue.

[2018-03-08 19:22] #4862 closed

[2018-03-09 16:03] Nakaner commented on #4857
This might be related to https://github.com/openstreetmap/iD/issues/4200.

@umarpreet1 wrote:

The quick work around is to enter the name tag manually in the tag section below the preset form (left sidebar). So this issue should not keep you away from mapping. ;-)

[2018-03-09 17:46] Lukas458 opened #4864 "Splitting the road does also cause wrong order of a public transport version 2 relation's members"
If you split a way in iD, which is part of a public transport version 2 relation, the relation's members with the roles "stop" and "platform" are ordered completely new after splitting the way. Even if the members with the roles "stop" and "platform" have nothing to do with the way splitted in two ones. First are listed all "stop" members, then all "platform" members. For example, please look at t

[2018-03-09 18:46] bhousel commented on #4864
Thanks for flagging @Lukas458, I did not realize that the nodes were being reordered.  I'll see if this is something we can support in iD.

Relevant code that does this would be _around_ here somewhere: https://github.com/openstreetmap/iD/blob/a01ddf26f9bf0ed5eaf1191fccf4e45b7ebfd4a9/modules/actions/add_member.js#L119-L122
My expectation was that `groups.node` would contain all the nodes from the

[2018-03-09 19:41] bhousel commented on #4857
Done in #4865

[2018-03-09 23:15] yaugenka opened #4866 "Allow cutting a closed line without converting it into a multipolygon"
Currently when you cut a closed line like natural=water it gets converted into a multipolygon.
It would be nice to have a possibility to prevent the auto-conversion by holding say alt key.
This operation is needed when you want to merge adjecent areas or redraw part of the line.

[2018-03-09 23:28] slhh commented on #4864
@Lukas458
Are the stops still in correct sequence?

@bhousel All platforms are ways in this route, which is pretty valid in PTv2. Maybe, this is the reason for the issue.

This is wrong, at least for PTv2.

The wiki says:

The list of stops and platforms is followed by a ordered list of the ways which are used by the vehicle from the starting station to the terminal station.

[2018-03-10 00:03] bhousel commented on #4864
Oh no.. yeah that's definitely the issue.
We'll need to exclude members with roles `stop` and `platform` from the way reordering code. 😓

[2018-03-10 03:41] #4849 closed

[2018-03-10 03:42] bhousel commented on #4849
This is fixed now - `only_` turn restrictions will only count if they leave the from way towards the via node or way(s).

<img width="365" alt="screenshot 2018-03-09 22 41 20" src="https://user-images.githubusercontent.com/38784/37238019-0f90b232-23eb-11e8-9def-386a9b3357df.png">

[2018-03-10 05:13] #4864 closed

[2018-03-10 06:53] F5System opened #4867 ""Beauty shop" errors in the feature type preset"
"shop=beauty": there are two "Hours" fields in this preset now and no more drop down "beauty=*" tags to choose shop's specialisation.

[2018-03-10 07:15] alexander-ii commented on #4867
pic related:
![image](https://user-images.githubusercontent.com/25887642/37239383-ac3e56d8-244b-11e8-850f-be309f0e5a59.png)

[2018-03-10 11:38] hikemaniac opened #4869 "Weird results when inspecting certain turn restrictions"
I was just testing the new turn restriction editing feature when I noticed a very strange result in the inspection window.
![strange turn restricition image](https://user-images.githubusercontent.com/31667811/37241777-2cbbe5ec-245f-11e8-9033-511c24a1a82c.png)
The responsible node is https://www.openstreetmap.org/node/4996747168 but neighbouring connection nodes also create such results. Is this an

[2018-03-10 12:55] #4867 closed

[2018-03-10 13:03] bhousel commented on #4869
Probably an issue in the editor, but I'll check it - thanks for reporting!

[2018-03-10 13:06] bhousel commented on #4866
If we had a dedicated operation like "unclose" which would break the closed line at the selected point - would that be ok?

I'm leaning more towards that because:
- we already overuse the <kbd>alt</kbd> key
- there is existing code that tries very hard to keep closed ways closed that would need to change

[2018-03-10 13:40] yaugenka commented on #4866
It if will be possible to unclose at an attached node (see example screenshot below) then I think the operation wound differ much from cutting and hence should be ok.
![openstreetmap](https://user-images.githubusercontent.com/14937001/37242877-5fa1c0f4-2481-11e8-9739-9ef371cfc8f8.png)

[2018-03-10 17:03] bhousel commented on #4866
Ok.. I get that it can sometimes be useful to break a polygon and put it back together, but I'm ok with this being hard to do in iD.  Maybe we can consider this as an enhancement following #2929

[2018-03-10 19:08] 1ec5 commented on #4522
[This way](https://www.openstreetmap.org/way/19051632) is tagged `highway=motorway_link` `maxspeed:advisory=30 mph` (and not tagged `maxspeed`):

[![openstreetcam](https://user-images.githubusercontent.com/1231218/37245832-0a67ec72-2453-11e8-8a3f-3619da9c6362.png)](https://openstreetcam.org/details/1121191/264)

[This way](https://www.openstreetmap.org/way/528915276) is tagged `highway=trunk` `max

[2018-03-10 20:20] #4861 closed

[2018-03-10 20:37] HolgerJeromin commented on #4128
Same with zooming out

[2018-03-10 22:05] 1ec5 opened #4871 "Hide some preset fields by default"
In many cases, it makes sense to offer a field in the “Add field” dropdown for a particular preset but not display it by default for every feature that uses the preset. The idea is to make the tag more discoverable (so users don’t have to know the raw tag name and values) but avoid making the field too prominent or take up valuable screen real estate (because the field wouldn’t apply to enough fea

[2018-03-10 22:07] 1ec5 commented on #4722
I agree with @willemarcel that `denomination` and `religion` should be hidden by default for the school preset. Unfortunately, I just realized iD doesn’t support optional fields for specific presets, so I opened #4871 to get that feature added.

[2018-03-10 22:08] 1ec5 commented on #4816
#4871

[2018-03-10 22:19] slhh commented on #4866
@yaugenka
You don't seem to need the requested operation, but an easy way to modify areas.
I think an area merge opearation (#3074, #435), an operation to redraw area outlines (as discussed in #2272) and a ´n area split along lines (as discussed in #969) would cover your requirements.

@bhousel

I haven't thought about this operation in detail yet, but something like that makes sense, even if not

[2018-03-10 22:22] bhousel commented on #4871
I like this idea.. I'd even be ok with getting rid of "universal" fields, and just making each preset have an explicit `optional_fields` / `more_fields` array.

[2018-03-10 22:39] JamesKingdom commented on #4871
@bhousel yes, I think that would be a great feature!

[2018-03-10 22:51] #4869 closed

[2018-03-10 22:58] bhousel commented on #4869
The weird rendering was caused by some code that tried to extend the length of short ways.  It wasn't doing a very good job, so I just removed the code and now the ways render as-is.   (@slhh - [you were right](https://github.com/openstreetmap/iD/pull/4768#issuecomment-364670722) 😄)

<img width="964" alt="screenshot 2018-03-10 17 55 33" src="https://user-images.githubusercontent.com/38784/37247639

[2018-03-11 02:09] slhh commented on #4871
We should also be able to hide/unhide or even disable/enable or modify a field based on country, or other field settings, or geometry.

For example:

1. You might want to make maxspeed:advisory visible in the US, hidden in a few other countries, and unavailable elsewhere.
2. We do really need a checkbox to exclude bicycles from oneway in Europe, but it would be clutter in the US.
3. Maxweight and

[2018-03-11 02:25] #4845 closed

[2018-03-11 02:56] bhousel commented on #4796
Ok I figured out why the trace is zoomed out.. It's because code on openstreetmap-website is telling iD to open the view at z16..  I'll open an issue on openstreetmap-website to change this:

https://github.com/openstreetmap/openstreetmap-website/blob/0f5ad1f3cc5d82efef93d2d17809145c5f68f233/app/assets/javascripts/edit/id.js.erb#L15-L19

[2018-03-11 03:28] bhousel commented on #4796
I'll need to think more about the best way to fix this.
iD actually will try to centerzoom on the gpx trace, as long as the gpx trace _does not fit in the given viewport_.

This is weird.  It means that:
- If you specify a zoomed out zoom/lat/lng (like openstreetmap-website does), iD **will not** zoom to the trace - [try it](http://preview.ideditor.com/master/#background=Bing&gpx=http://sonny.7thp

[2018-03-11 04:25] 1ec5 commented on #4871
These are interesting examples to consider – thanks!

The nice thing about the “Add fields” dropdown is that any irrelevant fields in there don’t have a huge negative impact on the user experience. If you’re mapping in a country that has no concept of an advisory speed limit, that field would clutter up the dropdown a little bit, but at least you wouldn’t feel pressured to fill it in unnecessarily

[2018-03-11 10:44] yaugenka opened #4872 "Line direction is reverted at merge"
When you merge two lines the direction is reverted but only if you select the last line first.
![linemerge](https://user-images.githubusercontent.com/14937001/37252467-294f27d8-2532-11e8-8447-2d4f67cf3c71.gif)

[2018-03-11 14:22] bhousel opened #4873 "uglify-js 3.3.x hangs when building minified output"
The latest release of uglify-js (v3.3.14 at time of writing) can cause hangs when running
`npm dist:min`
which expands to
`uglifyjs dist/iD.js -c warnings=false -m -o dist/iD.min.js`

I don't know why, but downgrading to `"uglify-js": "~3.2.0"` fixes the issue.

[2018-03-11 14:26] bhousel opened #4874 "Sourcemaps broken"
Running into this issue today:
https://github.com/rollup/rollup/issues/2011

Details on above issue are pretty thin.  Rollup is generating an unusable sourcemap (filled with ';'s) which makes it difficult to do significant work on iD.

This really needs to be fixed before anything else.

[2018-03-11 18:32] ockendenjo opened #4876 "Splitting roads can change order of ways in relation"
A number of the bus_route relations in Lancaster, UK have recently become invalid.

User:gurglypipe has been modifying the roads in the City Centre and has  split the roads in a few places. These are the relevant changesets.
https://www.openstreetmap.org/changeset/56998682
https://www.openstreetmap.org/changeset/56997445

See relation: https://www.openstreetmap.org/relation/6536546

I link to two

[2018-03-11 18:38] ockendenjo commented on #4876
![Kdiff showing differences](https://user-images.githubusercontent.com/29466887/37257032-579bcec4-255b-11e8-946b-eb73ed0cf142.jpeg)

[2018-03-11 19:43] Jbwalters22 opened #4877 "Pen/Stylus Input Bug"
Currently now whenever I try to use my digitizer pen to edit OpenStreetMap in ID I can no longer move ways like driveways as it just zooms in and out of the map instead.  Please fix this issue as mapping with a stylus type input is used by a lot of people.

[2018-03-11 22:16] bhousel commented on #4877
Thanks for reporting @Jbwalters22 - which browser and OS are you using?

[2018-03-12 00:56] Jbwalters22 commented on #4877
I am currently using Windows 10 Education Version 1709 and Maxthon browser but I just verified that it also is a bug when using Google Chrome

James Bradley Walters (J.B.)

Doing Business As (D/B/A)

Walters I.T. Consulting

Cell: 1.317.502.2853

Note: James Bradley Walters Is A Sole Proprietor Doing Business As Walters I.T. Consulting

From: notifications@github.com
Sent: March 11, 2018 6:16 PM
T

[2018-03-12 09:36] greenkeeper[bot] opened #4878 "An in-range update of request is breaking the build 🚨"
☝️ Greenkeeper’s [updated Terms of Service](https://mailchi.mp/ebfddc9880a9/were-updating-our-terms-of-service) will come into effect on April 6th, 2018.

## Version **2.84.0** of [request](https://github.com/request/request) was just published.

<table>
  <tr>
    <th align=left>
      Branch
    </th>
    <td>
      <a href="/openstreetmap/iD/compare/greenkeeper%2Frequest-2.84.0">Build failing 🚨

[2018-03-12 13:58] bhousel commented on #4876
Thanks @ockendenjo - this is related to #4589

The fix for that bug might have introduced this one, or it could be a case that iD always got wrong.  It's very hard to order the member ways correctly in a relation that loops back over itself, especially when the relation is very large and iD hasn't downloaded all of its members.

My _guess_ is that one of those ways inside the moved range was what

[2018-03-12 21:08] NopMap commented on #659
In my fork I did a basic implementation of the behaviour possible in P2:
- membership of ways in hiking relations (foot or hiking) is translated in an attribute **route-hiking** on lines
- such lines are marked with a white semi-transparent highlight shadow unless selected or hovered upon, then the original selection shadow is used
- horse routes are similarly highlighted with a bluish shadow
This

[2018-03-12 23:47] yaugenka commented on #4866
Another use case to mention is fixing landuse areas which are drawn attached to a highway. Instead of detaching and dragging off each node, it would be much easier to just cut and delete the attached segment and then draw a new one along the highway.

In general, to my mind, the cut operation is one of those core things which advanced users might prefer over the bulk operations like the above refe

[2018-03-13 00:48] slhh commented on #1614
We should also support to follow a path with constant distance. Otherwise, we would encourage users to glue landuses to highways.

[2018-03-13 01:38] slhh commented on #4866
This is an important usecase, but it can be nicely covered by #2272. Why should users split and remergeif they can just redraw the area or multipolygon outline along the highway, especilly if the draw mode support following the highway in parallel https://github.com/openstreetmap/iD/issues/1614#issuecomment-372509450 . Imagine how complicated your approach becomes when the landuse is a multipolygo

[2018-03-13 01:44] bhousel commented on #4815
We're moving ahead with assembling an index of local community resources!

Anyone following this issue with ideas on the kinds of things that we want to track - please head over here to discuss:  https://github.com/osmlab/osm-community-index

[2018-03-13 09:46] jidanni opened #4879 "Squelch track slogan"
Here we observe the track making software's slogan is dogging along in every view.
![de](https://user-images.githubusercontent.com/1230959/37334087-e1266b8c-26e5-11e8-9617-1b5126ec7255.jpg)
No matter where the user moves along the track, the "blasted" slogan is right there following along.

Perhaps iD could help squelch such annoyances, so the user could concentrate on the real notes he added to t

[2018-03-13 10:03] jidanni opened #4880 "Allow user to zoom track text"
On https://www.openstreetmap.org/edit?gpx=2630876#map=24/24.17869/120.85616
see that number, 7438-35?

Well there is no way for the user to make it temporarily bigger to be sure he read it correctly, Zooming only helps for a second.

OK he can do CTRL++++ .

OK I suppose that will have to do.

[2018-03-13 10:06] jidanni commented on #4880
If he does CTRL++++ he will have to remember to do exactly CTRL+---, otherwise he will have messed up his original situation.

[2018-03-13 10:18] jidanni commented on #4880
Wait, CTRL++++ only helps for one second...

[2018-03-13 11:22] yaugenka commented on #4866
If I understand the idea of #2272 feature correctly, it will let you re-enter area draw mode to add new nodes to it. In our case the user would still end-up with a necessity to cut the incorrect segment after drawing (with or without the follow a path ability) the correct one.
![continue](https://user-images.githubusercontent.com/14937001/37338861-bd3fc428-26c9-11e8-9ee5-914adae18aaa.gif)

The cut

[2018-03-13 13:15] tyrasd opened #4881 "improve consistency of displayed length units"
I've been noticing that there are a few places which display length measurements in either metric or imperial units (meters/km or feets/miles):

* map scale
* measurement info box
* speed limit preset field (default selection)
* intersection size selector in turn restriction editor

![selection_074](https://user-images.githubusercontent.com/1927298/37342836-1089c7e0-26c6-11e8-8774-b2af339896b8.png

[2018-03-13 15:14] bhousel commented on #4879
Yeah this could be better.. It seems that D3.js just places it wherever it thinks the centroid of the path is after being clipped.

I do want to keep the label somewhere though. Maybe we could put it up top in a dedicated place.  I'm also thinking of the idea that if we allow users to show multiple traces at the same time, it would be useful to have a legend and different colors for each one.

[2018-03-13 15:23] bhousel commented on #4880
Changing the size of this text is something you can do with Stylish:
see
https://github.com/openstreetmap/iD/blob/master/FAQ.md#im-having-trouble-seeing-some-of-the-colors-is-there-a-way-to-customize-or-change-them
and
https://www.makeuseof.com/tag/fix-small-annoyances-web-stylish-firefox-chrome/

I think it would be fantastic if somebody made a Stylish theme for iD, specifically for mappers with

[2018-03-13 15:23] #4880 closed

[2018-03-13 15:35] boothym commented on #4866
That could also be achieved by allowing you to delete/disconnect landuse nodes while hiding roads, similar to #4622

[2018-03-13 17:01] bhousel commented on #4815
Rough mockup:

<img width="712" alt="screenshot 2018-03-13 12 57 45" src="https://user-images.githubusercontent.com/38784/37357379-af1a3e6a-26be-11e8-919d-13f66ef5eafa.png">

[2018-03-13 20:08] yaugenka commented on #2225
How about using the same key for switching between overlapping ways/areas when you have a way selected and it has at least one node shared with another way?

[2018-03-13 21:43] slhh commented on #2225
In most cases ways or areas are partially overlapping only. Therefore, we need a position to define a fixed set of overlapping features to be cycled through. Unfortunately, using a shortcut key can't provide that information.

[2018-03-13 22:03] yaugenka opened #4882 "Navitation to relation members"
It would be nice to have a possibility to navigate to any member of the currently selected relation.
E.g. you have a boundary relation with outer/inner and label members selected. You click on the label member and press some button to pan the map to it.

[2018-03-13 23:01] ockendenjo commented on #4876
The ways were already ordered correctly in the relation so ID would not have needed to reorder them.
The new segment of road should either have inserted before or after the existing (shortened) way, depending on the travel direction. Calculating the direction in which the way is travelled might be the difficult thing, and probably depends on the ways either side being downloaded?

Even if ID got t

[2018-03-14 01:15] bhousel commented on #4876
Maybe, but iD would have no way to know that..

In this situation, I think the new way needed to be added twice and in opposite direction, because it's an out-and-back with loops?

I think this is a map of around where the issue occurred.

<img width="864" alt="screenshot 2018-03-13 21 11 00" src="https://user-images.githubusercontent.com/38784/37377971-90a4fd0e-2703-11e8-8ec7-9a3819ee244a.png">

[2018-03-14 01:22] bhousel commented on #4876
I do really want to improve this... Some things to keep in mind:

- The splitting code was originally intended to work with multipolygons, not routes, and definitely not PTv2 routes.  We think it mostly just happened to work correctly except when there are loops and repeated segments.
- We only started even thinking about routes with loops and repeated segments 2 months ago with #4589 - so I'm not

[2018-03-14 01:31] bhousel commented on #4881
I agree it would be great to have more consistency here.

Because all these controls only redraw when needed, we'd probably need to use an evented approach, like where they subscribe to events that are dispatched whenever a user changes their unit preference.

Another thing to consider is that the user might not be mapping in a place that uses their preferred unit.  So they might want to see feet/

[2018-03-14 01:39] bhousel commented on #4872
Ah yeah, iD strongly prefers to generate a forward path..

The same code that joins ways also joins relation members.  This comment is right before the part that does the reversal.

https://github.com/openstreetmap/iD/blob/00c4c57fc1d932625f8eb5a38fa6274d55a77a1d/modules/osm/multipolygon.js#L131-L135

I'm going to close here, since it doesn't really affect anything..

[2018-03-14 01:42] bhousel commented on #4882
This is a duplicate of #3604

[2018-03-14 01:42] #4882 closed

[2018-03-14 02:15] bhousel commented on #659
I'll probably do something stylistically similar to what I just added in #4768 in the Turn Restriction editor.

It's not hard, but we need to render another stroke and add some design elements so that users can easily identify them - either by hovering on relations in the sidebar or when one is selected.

![tr_preview](https://user-images.githubusercontent.com/38784/37379792-b3c5921e-270b-11e8-8ae

[2018-03-14 07:35] jidanni commented on #4880
Yes but that is a hack.

[2018-03-14 08:44] 1ec5 commented on #4881
As it happens, Puerto Rico officially measures road distances in kilometers but speeds in miles per hour.

[2018-03-14 09:34] andrewharvey commented on #4843
is this all done now that #4858 was merged or is there still more to do?

[2018-03-14 09:39] NopMap commented on #659
I think there are two sides to this issue
- showing the associated members of a particular relation when selected or hovering, as shown above
- always marking all members of all instances of a type of route relation even if nothing is hovering/selected. E.g. all foot/hiking route relations. This is very helpful to understand routes.

Do you also plan a statical highlighting of the different route

[2018-03-14 09:42] tyrasd commented on #4843
Well, we could try to add support for other non web mercator projections (apart from plate carrée = EPSG:4326). Not sure if it would be worth the effort, though.

[2018-03-14 09:45] andrewharvey commented on #4843
Fair point!

[2018-03-14 13:37] bhousel commented on #4872
Ok, I just tested this - the reversing doesn't actually affect oneway roads (the tag gets reversed to `oneway: -1`), but it does affect waterways.

I'll see if this is something we can fix.  The main issue is if those ways also belong to a relation that requires the members ordered in a forward direction.  Maybe I can skip that reversal code in most cases.

[2018-03-14 13:39] lakedistrictOSM opened #4883 "Add preset for passing_place"
https://wiki.openstreetmap.org/wiki/Tag:highway=passing_place

For use on nodes on highways

Common in rural areas with single-track roads

[2018-03-14 13:39] bhousel commented on #659
Not sure what you mean by this, but probably yes.

[2018-03-14 13:40] bhousel commented on #4883
Sounds good.. Whoever wants to do this can just copy the `highway=turning_circle` preset and change the name and tag.

[2018-03-14 13:49] #4878 closed

[2018-03-14 14:14] bhousel commented on #3744
Hey I've had a week to think about this.
I'd like to avoid TypeScript / Babel / ES6 transpilation for now.

I was going to write up a longer response why, but I don't have time. Basically:
* I don't have time to learn a new thing that...
* doesn't affect our users in any way and...
* makes the toolchain even more brittle than it already is (see #4874)

In the end I need to maintain this thing.  No

[2018-03-14 14:39] craigemery opened #4884 "Support Static Image layer"
I've got technical drawings from a developer and I'd like to check the maps align with the drawings they built to. So can we support my being able to drop in a drawing (jpeg) layer?

[2018-03-14 14:41] bhousel commented on #4884
Check out https://mapwarper.net/ for a service that does this..
You can drop the image in there, set control points, and it will give you a tile set that you can use as a custom background in iD or other OSM editors.

[2018-03-14 14:41] #4884 closed

[2018-03-14 18:49] NopMap opened #4887 "Join cursor not used"
I noted that iD has images for a join cursor. But when you draw a way and join it with an existing way, the cursor does not change.

Observed on osm.org.

[2018-03-14 19:49] yaugenka commented on #4872
Ok, the tag secures the navigation. But is it really correct to revert the line direction and then fix it by means of the tag in this case? Let's take for example this one-way highway which is part of a route
https://www.openstreetmap.org/edit?way=314718034#map=17/52.96646/29.87338
The direction of this way is correct and conincides with the direction of the proceeding and following ways.
If you c

[2018-03-14 20:22] ockendenjo commented on #4876
I've had another look at the changesets for the relation mentioned in my original bug report, and the screenshot you posted:

| v  | Changes                            | Effect on relation           |
|----|------------------------------------|------------------------------|
| 37 | Initial relation                   | Ordered correctly            |
| 38 | Road split on Common Garden Street | Order

[2018-03-14 20:37] Xavier-J-Ortiz commented on #4883
Hello! I'd like to contribute to this project!

This will be my first contrib. Very excited to be part of the project! Will start to take a look at this today, but will probably have some more time during the weekend if I can't figure this out.

[2018-03-14 20:55] ockendenjo commented on #4876
With regards to the splitting of ways in PTv2 relations, I think that it is necessary to download the adjacent ways (before and after) in the relation.

### Linear example
* We want to split the blue way in the diagram
* The grey ways (adjacent in the relation) have not been downloaded
* Until we download the adjacent ways in the relation their is an ambiguity as to whether the new segment should

[2018-03-14 21:40] Lukas458 opened #4888 "add some vending_machine presets"
Hello,
what do you think about adding presets for some further vending_machines like vending=sweets or vending=chewing_gums? And something further: There are also many machines which sell two or more different products, too, so what are we going to do with these? Maybe for amenity=vending_machine, at least in some cases it would be better to have a field in the preset like that one for recycling c

[2018-03-14 22:37] Psigio commented on #3744
Makes complete sense - once #4874 is merged back (and when I have some time) I'll see if I can add any more Flow annotations to the files in the utils folder.

[2018-03-15 00:52] slhh opened #4890 "Actions should be able to request additional data"
Some existing and potential actions need more data than available in the graph to be executed safely or to be executed at all.

Actions should be able to check for missing data, issue the database requests, and reschedule themselves on the last callback.

Maybe, iD needs to leave mode select and enter a new wait mode.

Related issues: e.g. #2248, #4876

[2018-03-15 03:29] #4874 closed

[2018-03-15 05:17] #4883 closed

[2018-03-15 05:31] bhousel commented on #4888
Sure, we can add more if they are commonly used. I don't think we would want a preset for every kind of vending machine, but we do support most of the frequently used types:
(see https://taginfo.openstreetmap.org/keys/vending#values )

These are the ones we currently have presets for:

<img width="218" alt="screenshot 2018-03-15 01 25 07" src="https://user-images.githubusercontent.com/38784/374456

[2018-03-15 09:40] tbertels opened #4894 "Move Lines next to Points in the walkthrough"
Currently, the user goes through Points, Areas, Lines and then Buildings.

It seems more logical to introduce Lines (two dimensions element) before Areas (three dimensions element), and to go through Buildings just after Areas.
Additionally, the toolbar buttons are in the order Point, Line and then Area.

![presse-papiers-1](https://user-images.githubusercontent.com/3265870/37455292-053734e0-283d-

[2018-03-15 09:51] tbertels opened #4895 "Consider using semantic elements wording (point, line, polygon, relation)"
iD currently mixes [elements](https://wiki.openstreetmap.org/wiki/Elements) wording (node, way, area, relation) and [semantic elements](https://wiki.openstreetmap.org/wiki/Semantic_elements) wording (point, line, polygon, relation).
The culprit is area, which is used to add [buildings](https://wiki.openstreetmap.org/wiki/Buildings) and [areas](https://wiki.openstreetmap.org/wiki/Area), which may c

[2018-03-15 12:50] bhousel commented on #4890
I think what we really want to do is just have the `action.disabled()` return `true` in the situations where it doesn't have enough data to be executed safely.

We can't schedule them asynchronously because the graph could change before they get a chance to run.

[2018-03-15 12:51] bhousel commented on #4894
Oh, we have the walkthrough chapters ordered this way on purpose because the tasks increase in difficulty.

[2018-03-15 12:51] #4894 closed

[2018-03-15 13:07] scrapperuk opened #4896 "Strava Heatmap overlay problems"
Strava have recently made some changes to accessibility of their heat map dataset, meaning that you need to have a Strava loging to access the data at zoom levels required to match to openstreetmap editing using the heatmap as an overlay

The iD editor doesnt appear to give an option to access any login functionality to attach a strava account

Is anyone aware of a fix for this?

[2018-03-15 13:20] bhousel commented on #4895
Sorry, but we wouldn't rename something like "Area" to "Polygon".

We try very hard to make iD as approachable as possible for beginners.  When we worked on the walkthrough overhaul (#3921) last year, I did a bunch of focused testing with first time mappers, and I found that jargon words like _node_ and _way_ were extremely off-putting.

This probably sounds silly to someone who is very familiar w

[2018-03-15 13:20] #4895 closed

[2018-03-15 13:26] bhousel commented on #4896
This is pretty much out of scope for iD.  The main instance of iD is not allowed to use the heatmap for editing.

Strava made a fork of iD to allow editing with the heatmap, and the repository for that fork is: https://github.com/strava/iD

You could try raising the issue there, but as far as I know, the fork is not really maintained.

[2018-03-15 13:26] #4896 closed

[2018-03-15 19:51] bhousel commented on #4887
Ok I also see the cursor not changing when things (points in `drag_node` mode or lines in `draw_way` mode) are snapped where they can connect to other things.

This is probably fallout from the big changes described in https://github.com/openstreetmap/iD/pull/4602#issuecomment-353705419

iD doesn't really have any interactivity with the rendered shapes anymore, the interactivity is with invisible

[2018-03-15 20:02] bhousel commented on #4522
This was done in #4870

[2018-03-15 20:02] #4522 closed

[2018-03-15 20:03] #4855 closed

[2018-03-15 21:10] bhousel commented on #4876
Hey @ockendenjo there are actually a few loop situations we should test for:

<img width="619" alt="screenshot 2018-03-15 17 04 24" src="https://user-images.githubusercontent.com/38784/37491162-476774ac-2873-11e8-8a89-ee6cd56ee476.png">

When splitting B, the resulting ways could be ordered B1,B2, or B2,B1, or both depending on what the route does.

We probably don't need to download the whole rou

[2018-03-15 23:31] yaugenka opened #4898 "The first feature selected after save is not loaded properly"
When you select some feature after save, the information panel shows nothing. If you select another object or diselect and select the first one again everything works fine.
![screenshot_1](https://user-images.githubusercontent.com/14937001/37496172-04b03a1e-28c2-11e8-8d16-9c53532ef0fa.png)

[2018-03-16 02:31] slhh commented on #4890
In some cases this might be sufficient, but in general this seems to be quite unfriendly to the user.
I do also think about operations like a multipolygon split, which would likely be disabled in most cases due to missing data. The user needs to get rid of even very complex multipolygons (e.g. large forest MP) by splitting something off to reduce the complexity.

Sure, resolving the conflicts woul

[2018-03-16 12:31] bhousel opened #4899 "Remember value for changeset source, make it settable via url param"
iD should do the same things for changeset `source` that it currently does for `comment`:
* Remember the value for 2 days and autofill it
* Allow it to be set via url parameter

[2018-03-16 13:21] #4899 closed

[2018-03-16 14:06] Xavier-J-Ortiz commented on #3744
@bhousel I'd like to have a crack at this. Will be able to dive in this evening after work as well as weekend.

Should I "claim" a folder or two from the TODO list? If so, I'm just randomly going to choose `presets` and `services`.

[2018-03-16 14:26] bhousel commented on #3744
Great @Xavier-J-Ortiz - sounds good!

[2018-03-16 15:12] ghost opened #4900 "Autocompleted relation roles are not saved"
When adding a relation role by typing the first few letters and then pressing the tabulator key, iD does not save it: the save button does not change and after selecting a different element and then selecting the first element again, the relation role has disappeared.

![untitled](https://user-images.githubusercontent.com/14875493/37528338-af627a2c-2934-11e8-9875-e9a14004b242.gif)

[2018-03-16 15:23] SelfishSeahorse opened #4901 "Please improve way disconnection behaviour"
When disconnecting ways, it would be nice that you could move the node of the way you have just selected. Currently, the node of a random way gets moved:

![untitled 2](https://user-images.githubusercontent.com/14875493/37528475-04186efa-2935-11e8-9d5f-d651dc321df2.gif)

[2018-03-16 15:39] bhousel commented on #4901
I agree, this is #2206

[2018-03-16 15:39] #4901 closed

[2018-03-16 17:08] 1ec5 commented on #4320
Here’s the hack I do whenever a POI is incorrectly attached to a street or building, preserving history:

1. Draw a new line that also connects to this point.
2. Shift-select the building and the point, then right-click the point and detach the building from the point. Now there are two identical points at the same location.
3. Delete the line in step 1, leaving the original point as a standalone

[2018-03-16 17:30] hikemaniac opened #4902 "Allow querying relations with id in "add-to-relation" section"
In some cases it would be really helpful if one could add objects to a distant relation by typing in its OpenStreetMap id. In my specific case, I wanted to add a city marker to an administrative border relation as admin_centre but iD made it impossible, because it only shows the closest relations. Would it be possible to add this low-impact but helpful feature?

[2018-03-16 17:52] slhh commented on #4902
https://github.com/openstreetmap/iD/issues/3622#issuecomment-372018186 seems to be the better solution for the usecase.

[2018-03-16 18:39] mvexel commented on #4851
Thinking about sign symbol assets -- @bhousel would you prefer to have shared image assets with the Mapillary sign layer? Or can we use the assets we already host for the OSC web site for this layer?

[2018-03-16 18:47] bhousel commented on #4851
I think I'd prefer to keep them separate rather than try to use a shared one..

I have a TODO to switch over the Mapillary sign assets anyway to use this:
https://github.com/mapillary/mapillary_sprite_source
(see https://github.com/openstreetmap/iD/issues/4145#issuecomment-321809897 )

At least for iD, it's much better to have the assets in SVG instead of the current image sprite.

[2018-03-16 19:08] slhh opened #4903 "Mode select should download missing relation members on start"
Mode select does only check for missing selected elements in the graph, and remove them from the selection.

Instead, iD should download missing elements in mode.enter(), and postpone execution most of its current code to the last callback, if a download was required. I already did this in the (unfortunately unreviewed) PR #3631 to make #3604 useable.

In addition selected elements and also their

[2018-03-16 19:40] mvexel commented on #4851
I'm looping in my colleagues @alexandrui-telenav and @beataj-telenav who are finalizing the OSC API v2 that includes the detections API.

[2018-03-16 22:47] hikemaniac commented on #4902
Sorry, this is a duplicate of #3487. By the way, I agree with @slhh, that the solution suggested in #3622 (which also regards the same topic) would be even better.

[2018-03-16 22:47] #4902 closed

[2018-03-16 23:25] slhh commented on #4898
I'm not sure what happens here, but maybe, #4903 can solve the issue.

[2018-03-17 19:07] greenkeeper[bot] opened #4910 "An in-range update of rollup-plugin-node-resolve is breaking the build 🚨"
☝️ Greenkeeper’s [updated Terms of Service](https://mailchi.mp/ebfddc9880a9/were-updating-our-terms-of-service) will come into effect on April 6th, 2018.

## Version **3.3.0** of [rollup-plugin-node-resolve](https://github.com/rollup/rollup-plugin-node-resolve) was just published.

<table>
  <tr>
    <th align=left>
      Branch
    </th>
    <td>
      <a href="/openstreetmap/iD/compare/greenkeep

[2018-03-18 14:46] slhh opened #4914 "Splitting complex multipolygons"
When thinking about how to implement an area/multipolygon split (#969), I realized a special case seems to need a different UI: Complex multipolygons with multiple independent (non nested) outer rings.
Broken normal multypolygon with separated segments of a single outer ring might fall into this special case too. Nomal area splitting has priorty, but we should think about the complex multipolygons

[2018-03-18 16:22] bhousel commented on #4914
Its not clear to me why this is an issue.. The #969 split operation should probably just operate on a single outer ring.. It should be disabled if the split line crosses any inners, or if it tries to split two disjoint outers.

Anyway, can you put your thoughts on #969, instead of adding more issues?  I'm personally having a lot of trouble dealing with the iD issue backlog lately.  Thanks..

[2018-03-18 16:22] #4914 closed

[2018-03-18 16:24] bhousel commented on #4903
What's the worst case scenerio?

I'm imagining that a user would click on something and unknowingly kick off a 5 minute download pause.

[2018-03-19 03:43] slhh commented on #4914
In essence I agree, but here the issues with complex multipolygons start.

- Usecases specific to complex multipolygons aren't covered:
Assume the forest in the screenshot is mapped as a single complex multipolgon. The desire to separate the forest into two parts, the rectangular one and the triangular one, seems to be quite natural.
How to address that is the topic of this issue.
- The operation

[2018-03-19 09:43] Andygol opened #4915 "An alternative workflow to work with relations"
Right now iD has the next workflow for working with relations:
1. Select existing node|way|relation for add it as member of new relation
![id 2017-08-21 15-48-20](https://user-images.githubusercontent.com/369696/29520276-1eb05b0a-8689-11e7-8c71-ff444b2f3802.png)

2. Select existing relation or create new one
![id 2017-08-21 15-57-16](https://user-images.githubusercontent.com/369696/29520424-a13a7c

[2018-03-19 12:57] bhousel commented on #4815
Yeah that is a fair concern - at least in iD it will just display whatever people have contributed to the index, with preference given to most local (smallest area) resources.  This is the similar to how iD presents background imagery sources from editor-imagery-index.

In this case, friendly just means "friendly".  I'd prefer for the sources to be something that a new user (or someone with just a

[2018-03-19 13:36] simonpoole commented on #4815
From a technical pov the thing is we already have https://www.openstreetmap.org/help for such information I would prefer for that to be more dynamic  (as in location aware) and than more effort duplication (and @mmd-osm has already pointed yet another source out in https://github.com/osmlab/osm-community-index/issues/23).

[2018-03-19 15:18] bhousel commented on #2300
done in #4906

[2018-03-19 15:18] #2300 closed

[2018-03-19 15:21] #3371 closed

[2018-03-19 15:21] bhousel commented on #3371
done in #4907

[2018-03-19 16:01] #4853 closed

[2018-03-19 16:04] #4910 closed

[2018-03-19 16:25] bhousel opened #4916 "Fix preview.ideditor.com (use node 6)"
I dropped support for node 4 in #4853
This is just a note for myself that I need to upgrade the preview.ideditor.com builder to use node 6

[2018-03-19 16:28] iandees commented on #4916
I forget: is this still using benzene?

[2018-03-19 16:29] bhousel commented on #4916
@iandees It is.. You might have just gotten a warning that I tried to run `sudo` 🙈

[2018-03-19 16:43] eehpcm opened #4917 "Handling of allotments=plot"
The editor currently doesn't seem to handle allotments=plot correctly (or I'm misunderstanding something, as usual).

According to the wiki [allotment=plot](https://wiki.openstreetmap.org/wiki/Tag:allotments=plot) is applied to an area.  Which I did.  But it seems that id is not treating it as a way with an implicit area=yes tag.

Why do I think that?  Because when I give the plot a name=* it is s

[2018-03-19 16:56] bhousel commented on #4917
You're correct, we don't have a preset for `allotment=plot` yet.  We can add one for it.  After we add the preset, iD will know that it can be an area feature, and won't require the `area=yes` tag.

We can add fields for both `name` and `ref`.

Yes - if people are mapping it, we add a preset for it.  Taginfo shows over 9000 instances of `allotment=plot`, so that's good enough for me.  We don't car

[2018-03-19 20:49] eehpcm commented on #4917
Thanks. :)

[2018-03-20 02:00] bhousel commented on #4916
This was done

[2018-03-20 02:00] #4916 closed

[2018-03-20 07:59] 1ec5 commented on #4915
Turn restriction relations already have a relatively intuitive workflow that’s separate from the relation creation workflow. I suppose the turn restriction editor could be more discoverable for people who already know that turn restrictions are implemented using relations under the hood (and would be inclined to first select a member). But even as a relatively experienced user, I have little probl

[2018-03-20 09:27] tyrasd commented on #3133
In a presentation about OSM editing with the iD editor on 34C3 @nakaner demoed the creation of multipolygons and considered this behavior a bug: https://media.ccc.de/v/34c3-ChaosWest-21-einfa1_4hrung_in_den_openstreetmap_online_editor_id#t=1800 (around the 30 minute mark, talk is in German though).

Btw: there is some related discussion and possible solution to this (IMHO not very intuitive behavi

[2018-03-20 11:08] susosl commented on #4344
Just for providing some information, some `barrier=*` types has a implied access tag documented on the wiki and some don't, but on the wiki page about [Barriers](https://wiki.openstreetmap.org/wiki/Barriers#Routing) we can read that:

[2018-03-20 13:45] abdeldjalil09 opened #4918 "Life guard station preset"

[2018-03-20 14:10] bhousel commented on #4918
I found these possible tags.
https://wiki.openstreetmap.org/wiki/Key:emergency#Lifeguards
None of them have a lot of usage, and they seem overly specific (why not just `emergency=lifeguard`?), so let's not add a preset now.

tag|uses
---|---
https://wiki.openstreetmap.org/wiki/Tag%3Aemergency%3Dlifeguard_base|202
https://wiki.openstreetmap.org/wiki/Tag%3Aemergency%3Dlifeguard_place|39
https://wiki

[2018-03-20 19:16] abdeldjalil09 opened #4919 "missing some fields for railway preset"
https://wiki.openstreetmap.org/wiki/Tag:railway%3Drail
[usage=](https://wiki.openstreetmap.org/wiki/Key:usage)#
[frequency=](https://wiki.openstreetmap.org/wiki/Key:frequency)# (with electrified=contact_line/rail)
[voltage=](https://wiki.openstreetmap.org/wiki/Key:voltage)# (with electrified=contact_line/rail)

[2018-03-20 21:34] boothym commented on #4919
Plus voltage when selecting electrified=contact_line/rail in the dropdown and also frequency for electrified=contact_line

[2018-03-21 06:58] abhisheksaikia opened #4921 "Prevent node drags that can damage relations"
When remodelling roads in iD, nodes are dragged and small segments may be deleted. This causes the relations in that segment to be modified/deleted and the mapper uploads it without knowledge. A warning box saying a relation has been affected will prevent relation breakage or unknowingly adding or modifying a relation. Particularly helpful in case of turn restrictions

An example where a node was

[2018-03-21 07:13] 1ec5 commented on #4921
Part of the problem is that relation membership isn’t very visible – not on the map (#2946), and way below the fold in the feature editor. So even a mapper who’s familiar with turn restriction relations may be prone to accidentally deleting them.

[2018-03-21 07:13] abhisheksaikia opened #4922 "List of all relation members in ID for TR editor window for selected segments"
In the turn restrictions editor window it would be great to have list of all the members in a relation example all the `from`,`via` and `to` roles for all the relations a segment is a part of. Right now it only lists out all the roles for various turn restrictions the selected node is part of even when you click on a way segment

Example in the gif below 👇

![id feature 3](https://user-images.gith

[2018-03-21 12:10] jguthrie100 commented on #4900
I've just tried to replicate this and I can't. I've tried pressing tab and just clicking outside of the textbox, but every time the Save button highlights and the role remains after clicking onto another way and back again.

Can you try it in Firefox/Chrome and see if you still have the problem? (I'm on Linux and don't have Safari to try it on)

[2018-03-21 14:12] bhousel commented on #3744
So, after spending the last week or so on working on adding Flow annotations... I'm pretty ok if we just don't do it.

I'm spending way too much time fighting with the Flow compiler to understand even simple code like this:
[code]
<img width="724" alt="screenshot 2018-03-21 10 06 34" src="https://user-images.githubusercontent.com/38784/37714290-928220d8-2cef-11e8-9262-d0f983f0c3d7.png">

I was exp

[2018-03-21 14:39] bhousel commented on #4921
I hope that's just an example edit and not something that people are actually doing.  That node drag probably moved the crosswalk tag onto the traffic signals node also.

We do have some situations where an action will be disabled if it will affect a relation, and we should add node drags to this check also.

[2018-03-21 14:45] bhousel commented on #4922
Sorry, I dont think we can do this.  The selected vertex is the only thing that the sidebar will show details for.  Selecting segments in the Turn Restriction editor can't change the contents of the sidebar (doing so would throw away the turn restriction editor).

The turn restriction editor operates on a limited subgraph that includes the selected vertex and whatever stuff is near it.  You can ho

[2018-03-21 14:45] #4922 closed

[2018-03-21 15:36] SomeoneElseOSM commented on #3453
Quick question about the "We filter out the historic layers from iD" comment at https://github.com/osmlab/editor-layer-index/issues/456#issuecomment-374963039 - I can edit using NLS 1:25k historic at
https://www.openstreetmap.org/edit?editor=id#map=15/52.5845/-3.4650 .  Is this by design or not?  There are obviously arguments for and against whether it should be allowed or not (trying not to get i

[2018-03-21 15:37] grischard commented on #3453
This isn't by design, that layer is missing an `end_date` property.

[2018-03-21 16:33] abdeldjalil09 opened #4923 "natural=mud preset"
https://wiki.openstreetmap.org/wiki/Tag:natural=mud

[2018-03-21 16:52] zlavergne commented on #4848
Thanks for the explanation. It makes a lot more sense now!

[2018-03-21 18:20] SelfishSeahorse commented on #4900
The problem doesn't seem to occur with Firefox.

[2018-03-21 21:11] Xavier-J-Ortiz commented on #3744
@bhousel I'm ok with this.

[2018-03-21 21:52] Psigio commented on #3744
I'd agree - I've spent a bit of time looking at adding Flow annotations to the tooltip.js file and unfortunately it didn't look like there was an easy way to do it (or at least not one I could see!).  I think that the first files I started on were on the simpler side of things so it appeared a lot easier than it might actually be to add annotations to the rest of the project.

[2018-03-21 21:55] Xavier-J-Ortiz commented on #3615
@1ec5 I'll look into this in the next upcoming days, should have some more time during the weekend if that's alright.

[2018-03-21 22:28] bhousel commented on #4923
Whoever wants to work on this can just:

- copy `data/presets/presets/natural/sand.json` to `data/presets/presets/natural/mud.json`
- Edit `mud.json` contents to have appropriate tags, name, terms

[2018-03-22 07:51] krishnanammala opened #4925 "Providing space in conditional restriction not considered as a modification in iD"
While trying to modify the conditional restriction for `School days` of adding space for `SH off` after `;` syntax `restriction:conditional=no_u_turn @ (Mo-Fr 09:00-10:00,15:00-16:00; SH off)` as per [wiki](https://wiki.openstreetmap.org/wiki/Key:opening_hours#Syntax) the iD editor is not considering it as a modification and not allowing to upload the data to OpenStreetMap.

![id](https://user-ima

[2018-03-22 10:26] alpter commented on #4896
@bhousel sure Strava heatmap should not be allowed to edit in ID, but is a useful tool to help check and mantain OSM alive and update... a sort of help to implement it... https://github.com/bertt/wmts/issues/2
Here is the ticket from JOSM community... (also affected by the recent [heat map updates](https://blog.strava.com/press/heatmap-updates/).
https://josm.openstreetmap.de/ticket/16100

[2018-03-22 11:48] Xavier-J-Ortiz commented on #4923
I'll take a stab at this.

[2018-03-22 12:05] vershwal commented on #4917
This is already been done in #4920. @bhousel do you think we can close this issue now? or is there anything that is to be done?

[2018-03-22 14:03] bhousel commented on #4917
Oh yeah, thanks for the reminder @vershwal - I did forget to close it.

A useful tip:  if your commit message contains special language, GitHub will automatically close the issue.  [See here for more info](https://help.github.com/articles/closing-issues-using-keywords/).

The first line in a commit message is special, so I usually put the magic comment on a separate line.  For example:

[code]

[2018-03-22 14:03] #4917 closed

[2018-03-22 14:08] #4923 closed

[2018-03-22 15:53] vershwal commented on #4917
Thank you @bhousel. I'll be using this from the next time.

[2018-03-22 16:04] bhousel commented on #4925
Thanks for reporting @krishnanammala ...

This is one of those weird OSM edge cases.  Most of the time OSM expects spaces around ';' removed, but inside of an opening hours string, they want the spaces kept.

We have special code in here to handle the situation:
https://github.com/openstreetmap/iD/blob/e1b72d2c0c1013cd1866bdaafebbdfb7bc92ad15/modules/ui/entity_editor.js#L219-L229

I'll have to cha

[2018-03-22 16:05] bhousel commented on #4925
Also, it seems like a value can have _multiple_ conditionals, and in this situation they are also semicolon-space delimited:

`maxspeed:conditional=120 @ (06:00-20:00); 80 @ wet`

[2018-03-22 17:43] zlavergne opened #4928 "Can only Toggle no_straight_on Turn Restriction Once"
I ran into an issue where I can only toggle a turn restriction once in the new Restriction editor. I discovered the bug because I accidentally hit the `no_straight` but I couldn't click through to reset it.

![turn_restriction](https://user-images.githubusercontent.com/9849118/37787983-e5196082-2dc5-11e8-96d3-4a6a6b54e686.gif)

I cannot undo the `no_straight` on any of the ways I could add it to.

[2018-03-22 18:47] #4925 closed

[2018-03-22 19:16] bhousel commented on #3744
Thanks @Xavier-J-Ortiz and @Psigio 👍

[2018-03-22 19:16] #3744 closed

[2018-03-22 22:28] Xavier-J-Ortiz commented on #3615
@1ec5 @bhousel

I'd like to take this one on as it would make me dive a bit more into the codebase of iD.

Where, or which file would I need to modify in order to effect these changes needed for this issue? I'll continue digging for the time being, and will updated in this thread if I get my bearings and realize where this is to be done.

Thanks!

[2018-03-23 02:04] bhousel commented on #4928
Hey @zlavergne which Browser/OS did you see this on?
I can't seem to reproduce on MacOS with Chrome 65.0.3325.162

[2018-03-23 12:13] theel0ja opened #4930 "Ability to resize Photo Viewer div (Mapillary / OpenStreetCam / Streetside)"
Mapillary and OpenStreetCam windows should be resizable because it looks small, while 1.5x the size of the default looks much better for small detail without zooming.

**Default**
[![](https://storage.theel0ja.info/theel0ja-img-up/ShareX/2018/03/opera_2018-03-23_14-11-09.jpg)](https://storage.theel0ja.info/theel0ja-img-up/ShareX/2018/03/opera_2018-03-23_14-11-09.jpg)

**1.5x height & width**
[![](

[2018-03-23 16:25] Xavier-J-Ortiz commented on #3615
I suspect that I should work on this file `data/update_locales.js` and add a function that will parse the decimals correctly in there.

Will work on this this evening.

[2018-03-23 16:31] abdeldjalil09 commented on #4919
Thanks for more information

[2018-03-23 16:51] slhh commented on #3615
Accepting localized numbers is useful, but iD should also accept the formally defined format of the tag value. Due to a restricted range of reasonable values, the resulting value seems to be unambiguous.

[2018-03-23 16:54] lakedistrictOSM opened #4931 "Add preset for leisure=outdoor_seating"
https://wiki.openstreetmap.org/wiki/Tag:leisure=outdoor_seating

Area that belongs to a restaurant/cafe/pub for eating/drinking outdoors, with tables and chairs.

https://taginfo.openstreetmap.org/tags/leisure=outdoor_seating#combinations doesn't show what it's usually combined with, but name and operator are probably most useful.

- Name: Outdoor Seating Area
- Fields: Name, Operator
- Icon: picn

[2018-03-23 17:12] zlavergne commented on #4928
I'm on MacOS and Chrome 65.0.3325.181
I'm getting this error from the console:
[code]

[2018-03-23 17:20] bhousel commented on #4919
We don't currently support having fields appear and disappear depending on values entered

(Except for certain cases like the structure `bridge=*`/`tunnel=*`/etc field, because those are popular and worth adding the custom code to do it).

[2018-03-23 17:24] bhousel commented on #3615
I don't think it would go there - that script is to pull down translation packs from Transifex.

You'll probably really need to do the conversion to/from local formatting in `modules/ui/fields/*` (all of the fields?  I dont know.)

@1ec5 can you provide some more guidance?  I'm not sure this should be labelled with "good first issue".  It sounds like something with a lot of gotchas involved and re

[2018-03-23 17:26] bhousel commented on #4930
Good suggestion!  I've wanted this for a while, and I'm surprised we don't have an issue for it already.

[2018-03-23 17:50] zlavergne commented on #4928
Update: It seems to be an issue involving the zoom level. The toggle works fine when on the same way when the window is zoomed in. In the case of the way I sent above, the problem happens at 145ft or higher.
For that intersection, when you get to 115ft, you are viewing the most you can view and when you change the zoom level, I begin to get the error for select ways.

[2018-03-23 18:20] dieterdreist opened #4932 "preset for amenity=monastery"
It would be great to have a preset for monasteries. Basic tags are amenity=monastery with a name, religion and denomination tags (similar to churches). Advanced tagging would also include a monastery:type and community tag, see here for reference:

https://wiki.openstreetmap.org/wiki/Tag:amenity%3Dmonastery
https://wiki.openstreetmap.org/wiki/User:FrViPofm/Community

There is also a historic=monas

[2018-03-23 19:39] #4931 closed

[2018-03-23 19:40] #4798 closed

[2018-03-23 20:07] boothym commented on #4919
Is there a lot of work involved in adding the custom code for electrification?

[2018-03-23 20:54] bhousel commented on #4919
It would not be a lot of work to have the fields show up all the time and I think it's ok to expect the user to know whether to use them.

[2018-03-23 21:04] #2455 closed

[2018-03-23 22:48] slhh commented on #4903
@bhousel
As regards downloading missing selected elements only, the worst case data amount depends on operations, which add unloaded elements to the selection.
The current operations don't seem to do this, provided that selected elements aren't unloaded. And I think future operations won't massively do so. Downloading a few of such elements, doesn't seem to be an issue.

The worst case scenarios f

[2018-03-23 22:53] Xavier-J-Ortiz commented on #4932
I'll take a stab at this one If it's alright.

[2018-03-24 00:45] bhousel commented on #4932
Go for it @Xavier-J-Ortiz 👍

- copy `/data/presets/presets/amenity/place_of_worship.json`
to `/data/presets/presets/amenity/monastery.json`
- edit the file, give it the name "Monastery Grounds" to signal to users that they are supposed to tag the perimeter, not the building
- `npm run build`

[2018-03-24 07:23] simonpoole opened #4934 "Only suggest adding turn restrictions when they make sense"
The improved turn restriction editor is very good, however showing for every shared node of a highway is overdoing things and given the suggestive nature of the feature (it implies that you really should be adding a turn restriction, which lots of beginners will do), it should only be shown in cases where there is actually choice.

An example of when it should not be shown

![grafik](https://user-

[2018-03-24 09:42] andrewharvey opened #4935 "autocomplete is harmful sometimes"
In the speed limit field, if I type "10", it autocompletes to "100". I'd expect typing "10" and then clicking elsewhere would leave it as "10" and only use "100" if I select that option from the dropdown.

![maxspeed autocomplete](https://user-images.githubusercontent.com/117278/37862597-d1862714-2fa3-11e8-8351-ce6970146eee.png)

[2018-03-24 13:53] bhousel commented on #4935
Oh interesting.. Looks a bit like #4549
This case is a bit different though.  We should probably not even attempt to autocomplete numbers.

[2018-03-24 13:58] bhousel commented on #4934
Thanks for flagging @simonpoole - I agree it should not show the field here.

I think we already hide the turn restriction field at junctions with a single _from_ and _to_.  That rule should probably be be expanded to include any junction with multiple _from_ and a single _to_.

[2018-03-24 14:13] bhousel commented on #4903
I think I would be ok with storing the adjacent undownloaded way IDs in a special buffer, and scheduling download of those things whenever iD is idle.  We can use [`loadMultiple`](https://github.com/openstreetmap/iD/blob/master/modules/services/osm.js#L323-L341) to chunk the requests into a single API call.

Or maybe use `relation/full` API call but not for multipolygons or boundaries.

[2018-03-24 16:33] hikemaniac opened #4937 "Add fields to Taginfo file as well"
Currently only preset tags are included in iDs taginfo.json file. It think that it would be a great improvement to the Taginfo documentation if we also add field tags and keys to the file.

[2018-03-24 18:55] #4932 closed

[2018-03-24 21:59] bhousel commented on #4937
Good suggestion @hikemaniac!  Anyone who wants to update our `taginfo.json` file generation could do this and #3598  together.

[2018-03-25 01:06] slhh commented on #4934
In essence I agree, but we should show show the field in case of any existing turn restrictions through the node. It doesn't make sense to hide potentially wrong data.

In addition that rule should be expanded to any node connecting the ends of two highway ways only, even if bidirectional ones.
It doesn't make sense for data consumers to assume that U-turn rules at the node can be different from t

[2018-03-25 12:30] HolgerJeromin commented on #3744
I dont know flow in the usage, but the benefit of using typescript is to help programming not finding bugs.
visual studio code knows and not guess what properties the object might have.
I dont know what editors you use and what it helps with js programming.
For me its the difference like having a debugger and using console output only for debugging.

[2018-03-25 12:34] mmd-osm commented on #4937
So to recap: that's roughly translating into something like feeding https://github.com/openstreetmap/iD/blob/c8e89b7a0542a6ebf1c07f7d1cccbb01e7a52152/build_data.js#L66 into https://github.com/openstreetmap/iD/blob/c8e89b7a0542a6ebf1c07f7d1cccbb01e7a52152/build_data.js#L70 and iterating over `fields` as well very similar to how generateTranslations is doing it. Each entry in strings/options should

[2018-03-25 13:02] bhousel commented on #4937
You're in the right place @mmd-osm
What I'd do is pass both `presets` and `fields` into taginfo.json:

[code]

Then in that function add a separate for loop for the fields.

The format of the project file is described here: https://wiki.openstreetmap.org/wiki/Taginfo/Projects
It doesn't have `on_node`, `on_way`,etc, but rather accepts an `object_types` array. I agree we should fill it with which t

[2018-03-25 16:41] lakedistrictOSM opened #4939 "Add preset for shop=pet_grooming"
https://wiki.openstreetmap.org/wiki/Tag:shop=pet_grooming

- Name: Pet Grooming Shop
- Terms: "dog"
- Probably use same fields and icon as shop=pet

[2018-03-25 19:27] mapninja opened #4941 "Allow "lock last tag" when adding features"
I'd find it useful to be able to 'lock' the last tag used (building=yes, for instance) so when I'm digitizing buildings in HOT, I can just lay down a building, hit S, hit 3 and lay down another building.

[2018-03-25 20:12] bhousel commented on #4941
Hey @mapninja welcome!  I agree this would be a very useful feature, and it's something we want to add soon.

#3123 will allow the user to toggle certain tools like this, and the first one of those will probably be #590 - a "repeat the last thing I just added" tool.  (I'll close here, as the feature is already tracked on a few other issues)

In the mean time, the fastest way I know to repeat the l

[2018-03-25 20:12] #4941 closed

[2018-03-25 22:43] Xavier-J-Ortiz commented on #4939
@bhousel I'll have a go at this one.

[2018-03-26 04:54] abhisheksaikia opened #4944 "Unable to inspect some TR relations in iD"
Came across the bug, where iD is not allowing to inspect TRs in some cases. In one such example below,  a section has two restrictions. While the mapper can inspect one TR and its role members (`from`,`via` and `to`), the mapper is unable to open the other TR despite repeated clicks to inspect the role members in the TR. This is creating issues with verifying existing TRs and whether they are corr

[2018-03-26 12:58] bhousel commented on #4944
There was a typo that's already been fixed in master.. @kepta can you patch this commit in for @maning & @abhisheksaikia ?

aea3b6feb 2018-03-23 Fix `reference` typo

[2018-03-26 12:58] #4944 closed

[2018-03-26 13:18] stefanocudini opened #4945 "Field "terms" inside presets tags"
I wanted to know which database was used to fill the field **terms** in the configuration files of the individual tags.

like as here:
https://github.com/openstreetmap/iD/blob/be5929d4dcec805bce3cf4a18c9a230c764d97d2/data/presets/presets/natural/cave_entrance.json#L15

or here:
https://github.com/openstreetmap/iD/blob/be5929d4dcec805bce3cf4a18c9a230c764d97d2/data/presets/presets/amenity/atm.json#L

[2018-03-26 13:18] stefanocudini commented on #4945
@napo

[2018-03-26 13:26] bhousel commented on #4945
The preset search terms are not filled from a database.  They are usually added by the person who added the preset.

Sometimes we add additional terms or remove terms if we see mappers having trouble selecting the correct preset.

The terms themselves are sometimes synonyms, and sometimes related words.

[2018-03-26 13:26] #4945 closed

[2018-03-26 13:33] stefanocudini commented on #4945
@bhousel
May be interesting to use an external service(or new iD module) for fill this field that deals with the generation of terms list with respect to the terms searched.

[2018-03-26 14:55] bhousel commented on #4939
This was done, thanks @Xavier-J-Ortiz 👍

[2018-03-26 14:55] #4939 closed

[2018-03-26 17:24] Lukas458 commented on #4864
THere seems to be another, let's call it "problem": Not only PTV2-relation's members with the roles _stop_ and _platform_ need to be **excluded** **from the way reordering code**, **but also members with the roles _stop_entry_only_, _platform_entry_only_, _stop_exit_only_ and _platform_exit_only_**. I know it's a bit complicated, but please could anyone help? :)

[2018-03-26 17:27] Lukas458 opened #4946 "more PTV2-realtion's members need to be excluded from the way (re-)ordering code"
see https://github.com/openstreetmap/iD/issues/4864
There seems to be another, let's call it "problem": Not only PTV2-relation's members with the roles stop and platform need to be excluded from the way reordering code ( which has been done a few days ago already, thank you! :) ), **but also members with the roles _stop_entry_only, platform_entry_only, stop_exit_only _and_ platform_exit_only_.** I

[2018-03-26 18:37] vershwal opened #4947 "Previously selected background remains highlighted."
As we switch between various background options, the background that was previously selected remains highlighted. For example, if I select 'Esri World Imagery' after 'Bing aerial imagery', the latter is still highlighted.
<img width="244" alt="screen shot 2018-03-27 at 12 00 42 am" src="https://user-images.githubusercontent.com/17474532/37925405-0f7e14dc-3152-11e8-8604-66d4843046d5.png">

It shoul

[2018-03-26 20:51] bhousel commented on #4946
Hmm, I have not heard of those before.  Are they documented anywhere?

[2018-03-26 20:54] bhousel commented on #4947
Oh yeah that's by design.  It's because the user can switch quickly between those 2 backgrounds with <kbd>⌘B</kdb>.  I know it's a bit strange though.  A nicer solution might be a visual indicator, but we don't have a lot of room on the pane for additional UI, it's already pretty cramped.

Let me know what you think @vershwal ..

[2018-03-26 22:52] RAytoun commented on #2708
This week I have had a new mapper in Holland ask for help with road classification. Said mapper is using iD Editor with the Dutch language. The problem was relating the translated Dutch classifications to the English tags. When I gave a list showing the Dutch words and their equivalent key:value (straat ... *highway:residential* etc). The response was **wonderful, that is a great help**. The probl

[2018-03-27 08:44] magol commented on #2708
I strongly support the possibility to translate the tags. Even for me who are relatively experienced, it can be hard to remember what some tags meant.

Maybe something like this?
![image](https://user-images.githubusercontent.com/493140/37956410-9b5215ea-31ab-11e8-9f93-4f54009eb76e.png)

It view the translation for the tags that have translations. It stil focus on the English tag names, but give p

[2018-03-27 11:54] Lukas458 commented on #4946
Yes, it seems they are, please for example take a look here: https://wiki.openstreetmap.org/wiki/Tag:route%3Dbus
and then look under "members"

[2018-03-27 12:19] FTABoy opened #4948 "Upload button not showing"
hello , after i did some changes using iD , when i clicked the Save button and then i clicked Upload button the uploading process took so long time and then site showed me an error saying some thing like : error occurred please check your internet connection.... here i notice my internet connection is dropped(disconnected after pressing save button). reconnected to internet but still couldn't uplo

[2018-03-27 12:35] geoaria commented on #4948
This problem was created several times for me. It is very unfortunate that after the overall change, we will encounter this message and not upload the changes.
Unfortunately, switching the Internet browser was also not worth it. (i.e. chrome, firefax).

[2018-03-27 12:36] vershwal commented on #4947
I checked ⌘B and it works well to switch between any two backgrounds and then it makes sense. But as a user, I didn't realize it at first.

[2018-03-27 12:50] bhousel commented on #4948
Yeah this is a frustrating bug, and we haven't been able to track it down yet. see #4108

The fix seems to be to undo your changes back to a certain edit that caused the issue.  I don't think anybody has figured out yet what kind of edit it is that causes the issue.

[2018-03-27 12:50] #4948 closed

[2018-03-28 01:54] #4946 closed

[2018-03-28 01:54] #4947 closed

[2018-03-28 02:16] #4935 closed

[2018-03-28 03:54] #4934 closed

[2018-03-28 04:01] bhousel commented on #4934
I've expanded this code to catch more trivial junctions..

https://github.com/openstreetmap/iD/blob/a160c00c35e02462a4f91ed77f7e7d01365d7977/modules/ui/fields/restrictions.js#L79-L90

[2018-03-28 04:27] #4919 closed

[2018-03-28 04:56] #4888 closed

[2018-03-28 11:50] abhisheksaikia opened #4951 "Deleting a restriction creating a new restriction in the TR window"
While trying to delete a wrongly added restriction (no_u_turn) in iD, through the TR window, ended up creating a new restriction (only_u_turn) in addition to deleting the old one without any visible warnings.

![trbug4](https://user-images.githubusercontent.com/13744156/38026888-72fa0c32-32ab-11e8-9345-d363cd22a13e.gif)

osm Change file:

<details>

[code]
</details>

[2018-03-28 12:15] srividyacb opened #4952 "`only_straight_on` shown as `no-turns`"
iD shows `only_straight_on` restriction as `No Turns` while listing the relations in a junction. This is confusing for a mapper seeing two different ways of showing a same relation type.

_There is nothing incorrect about interpreting `only_straight_on` restriction as `no-turns`_
Having the names consistent according to tagging schema will be easy for mappers to follow what restriction is added.

[2018-03-28 18:49] bhousel commented on #4952
I agree. Also for clarity and consistency, I think all the `no_` restrictions should say "No" and all the `only_` restrictions should say "Only".

I also noticed that we don't have a `only_u_turn` preset (they are rare but we should support this), so I'll create that today while I am making the names a bit more consistent.

[2018-03-28 19:39] obama opened #4953 "add yandex.ru tile source"
for russia it has much fresher satelite data.

[2018-03-28 19:44] bhousel commented on #4953
Hi, thanks for the report. iD's background imagery sources come from the [editor-layer-index](https://github.com/osmlab/editor-layer-index) project, so that is the place to requests about the imagery.

In order to add them as a source, the imagery must be openly licensed, or Yandex needs to grant us a permission to use them for this purpose.  Thanks!

[2018-03-28 19:44] #4953 closed

[2018-03-28 20:05] #4952 closed

[2018-03-28 20:05] bhousel commented on #4952
looks like this now!

<img width="374" alt="screenshot 2018-03-28 16 03 37" src="https://user-images.githubusercontent.com/38784/38053298-b97b26be-32a1-11e8-86eb-a3ee052175fb.png">

[2018-03-29 01:37] bhousel commented on #4928
Thanks @zlavergne I was able to reproduce and debug the issue once I increased the max distance to 145ft.

Here's what's going on (it's weird)..

You're trying to cycle from `no_straight_on` to `only_straight_on`.  iD knows that when you switch to an `only_`, it should remove ALL the `no_` restrictions from the FROM.  So it looks any `no_` restrictions that it can find, searching up to 2 via ways

[2018-03-29 03:49] #4928 closed

[2018-03-29 10:15] srividyacb commented on #4952
Awesome @bhousel 🎉 I am not able to see it in OpenStreetMap iD 🤔

<img width="300" alt="image" src="https://user-images.githubusercontent.com/3423533/38083693-f7b3b48e-3367-11e8-82b7-16436e737880.png">

[2018-03-29 11:34] mmd-osm commented on #4599
Currently, the icon bar interferes a bit with the scrollbar. Wouldn't it make sense to have a larger right margin for the help window, say 50px:

![grafik](https://user-images.githubusercontent.com/5842757/38086687-9d5d4458-3355-11e8-9677-d340522443bf.png)

[2018-03-29 12:30] bhousel commented on #4952
Yep, @srividyacb we release updates to iD on openstreetmap.org about once a month.. I'll probably do it soon, since we have a few more bugfixes coming this week.

You can try iD on our development site (current copy of code in master) to see the change:  http://preview.ideditor.com/master/

[2018-03-29 12:31] bhousel commented on #4928
This is fixed, I'm going to test a bit more..

[2018-03-29 12:35] bhousel commented on #4599
Thanks @mmd-osm I'll check these and see if we can improve it.

[2018-03-29 13:34] srividyacb commented on #4951
@bhousel

[Area in OpenStreetMap](https://www.openstreetmap.org/edit?editor=id&relation=7517143#map=20/37.79673/-122.42363)

- click the [way](https://www.openstreetmap.org/way/527829981) in iD
- Delete `no_left` and `no_u` turn-restriction
- While deleting `no_left` - first click it changes to `only_left` (blue) and second click deletes the TR.
- While deleting `no_u` - the first click (in single

[2018-03-29 15:24] bhousel commented on #4951
Awesome thanks @srividyacb and @abhisheksaikia for the detailed report 👍

[2018-03-29 17:39] zlavergne commented on #4928
Good find! I had a hunch it had something to do with deleting a relation that was already deleted. It was odd that it happened only above a certain zoom level even though the number of objects didn't change.

[2018-03-30 04:14] bhousel commented on #4599
Hey @mmd-osm  - I restored the padding at the bottom of the panes..
I'm going to leave the position of the pane alone for now because it's already designed to fit around the buttons.  It does cover the scrollbar sometimes, but the previous version of these panels did too.

[2018-03-30 04:14] #4599 closed

[2018-03-30 13:03] #3598 closed

[2018-03-30 13:03] #4937 closed

[2018-03-30 21:27] bhousel opened #4954 "Support right-click-drag to change map rotation"
In some cases it would be helpful to be able to rotate the map away from North-Up.

To support this we'd need to change the following:

- add rotation to the map projection object
  - this whole file
  https://github.com/openstreetmap/iD/blob/master/modules/geo/raw_mercator.js
  - utilSetTransform (and anywhere that calls utilSetTransform)
  https://github.com/openstreetmap/iD/blob/master/modules/

[2018-03-31 15:07] abdeldjalil09 opened #4955 "leisure=beach_resort"
https://wiki.openstreetmap.org/wiki/Tag:leisure%3Dbeach_resort

[2018-03-31 18:01] Xavier-J-Ortiz commented on #4955
I'll take this one.

[2018-03-31 18:58] gustavecha opened #4957 "Pressurised waterways presets"
Recently, waterway=pressurised was reviewed on osm wiki, encouraging the use of waterway=* key to map not only free space but pipe flow waterway features also, with content (waterway) vs containers (tunnels, pipeliens...) distinction
​https://wiki.openstreetmap.org/wiki/Tag:waterway%3Dpressurised

It may be good to add some new waterway presets as follow on iD:
==Penstock==
    waterway=pressurise

[2018-04-01 21:32] jguthrie100 commented on #4900
I've tried it on Chrome 64.0.3282.186 running on Ubuntu 16.04 and couldn't replicate it.

What operating system/browser are you using?

[2018-04-01 21:35] yaugenka commented on #3681
Here are a couple of cases when editing large objects is needed.
1. waterway lines of wide rivers, e.g. you cannot fix the waterway line of Dniper river because the river bed is so wide that it does not fit into your screen and thus you cannot determine the central position for the line. https://www.openstreetmap.org/edit?way=24588426#map=16/50.7595/30.4577
2. antarctic coastline is constantly mov

[2018-04-01 22:05] yaugenka opened #4958 "Preserve selectio at small scales"
When you zoom out to a scale with locked editing the current selection gets lost.
It would be nice to keep the selection both in the tags panel and the object highlighting on the map to let you review the geometry at small scales.

[2018-04-02 12:34] SelfishSeahorse commented on #4900
The problem occurs with Safari 11.1 on macOS 10.12.6, but not with Firefox 59.0.2 on macOS.

[2018-04-02 17:22] karissa opened #4959 "Zooming out to see full map with mousewheel"
When looking at http://preview.ideditor.com/release/#, I'm noticing that I can't scroll all the way out to see the entire world using the mousewheel. Is this intended behavior for iD 2.0, or a bug?

[2018-04-02 17:24] bhousel commented on #4959
It's a bug 🐛

[2018-04-02 17:31] karissa commented on #4959
thanks!

[2018-04-02 19:28] #4959 closed

[2018-04-03 04:21] bhousel commented on #4957
Since this tag currently only has 24 uses, let's see if it catches on more before we add a preset for it.

Also from reading the tagging guidelines and the proposal, this looks like the sort of feature that a novice mapper wouldn't really be able to add correctly.  I worry that if we add this preset to iD, we would see more people using the tag incorrectly (to map water mains?) instead of correctl

[2018-04-03 04:21] #4957 closed

[2018-04-03 06:29] gustavecha commented on #4957
Both water mains and hydro power plants can be mapped with waterway=pressurised
Difference comes with usage=* key

I don't get how this tag can be more and correctly used if you expect novice mappers to act as advanced mappers (look at several wiki page on their own without editor guidelines)

[2018-04-03 06:31] gustavecha commented on #4957
Point is the current canal preset on iD have to be updated with usage=* key nevertheless how confusing waterway=pressurised can be

[2018-04-03 17:28] cliffordsnow opened #4960 "Please replace the USFS Roads layer"
Please replace the USFS Roads layer with https://api.mapbox.com/styles/v1/glassman/cjf4qjmps0tgv2qpahj977mvz/tiles/256/{z}/{x}/{y}@2x?access_token=pk.eyJ1IjoiZ2xhc3NtYW4iLCJhIjoiRjk3dWdwYyJ9.Tg_fMJWxygeKBgVTrZHmGA.

The existing layer has an opaque background which makes aligning the road to the aerial imagery difficult. The layer above has a transparent background plus a color scheme to identify

[2018-04-03 19:05] Nakaner commented on #4954
@bhousel wrote:

Could you please give examples?

[2018-04-03 19:19] bhousel commented on #4954
The two most common examples people have asked me about are:

* Tracing stuff along a diagonal road grid (many users instinctively bend their neck to match the road grid, which can be uncomfortable, and looks silly when a whole room of people is doing it)
* Using street level imagery where the user wants the map aligned to driver point of view (for example, to better understand what the "no left t

[2018-04-03 21:13] Lukas458 opened #4961 "add billboard and column advertising preset?"
Hello,
I think it could be a good idea to add presets for advertising=billboard and advertising=column, isn't it? Both are in very common use.
And some further: In the preset for amenity=clock, there is the key faces=* missing.

[2018-04-03 21:47] bhousel commented on #4961
Thanks for the suggestions!   iD already has a preset for `advertising=billboard`

We can:
- [ ] add preset for [advertising=column](https://wiki.openstreetmap.org/wiki/Tag:advertising%3Dcolumn)
- [ ] add [faces](https://wiki.openstreetmap.org/wiki/Key:faces) field to `amenity=clock`

[2018-04-03 21:48] bhousel commented on #4955
Thanks @Xavier-J-Ortiz 👍

[2018-04-03 21:48] #4955 closed

[2018-04-03 22:57] Xavier-J-Ortiz commented on #4961
@bhousel I'll be happy to take this issue and get started on this soon.

[2018-04-03 23:04] Xavier-J-Ortiz commented on #4955
Happy to contribute! :)

[2018-04-04 02:03] bhousel commented on #4960
Thanks @cliffordsnow  - are you sure?  It looks like the custom style is missing some of the detail.  I'm happy to make the switch, just want to make sure nobody is relying on something from the other source.

![usfs comparison](https://user-images.githubusercontent.com/38784/38284705-b3da251e-378a-11e8-99b1-2c1b14709f91.gif)

[2018-04-04 04:07] 1ec5 commented on #4954
Personally, I would find map rotation to be very handy for the two reasons above (and not just because I like to [trace east-facing corn mazes](https://www.openstreetmap.org/user/Minh%20Nguyen/diary/42333)).

Some considerations regarding user interaction:

* JOSM binds right-dragging (or Ctrl+dragging on the Mac) to panning the map. I don’t think it’s necessarily the job of iD to avoid conflicts

[2018-04-04 04:25] 1ec5 commented on #597
Turns out Transifex [supports plurals in YAML](https://docs.transifex.com/formats/yaml#plurals) as well, as subkeys of what would normally be a single string. To enable Transifex pluralization for a particular message, we need to turn something like:

https://github.com/openstreetmap/iD/blob/d60c423ac0775f6759196ea4ef57dac6aecfff2c/data/core.yaml#L295

into:

[code]

To use the pluralized translat

[2018-04-04 08:26] Lukas458 commented on #4961
Thank you! :)

[2018-04-04 10:37] 1ec5 commented on #597
#4964 implements this enhancement.

[2018-04-04 15:11] bhousel commented on #4960
Sure @cliffordsnow  - those screenshots were taken here:

http://preview.ideditor.com/master/#background=custom:https://api.mapbox.com/styles/v1/glassman/cjf4qjmps0tgv2qpahj977mvz/tiles/256/{zoom}/{x}/{y}%3Faccess_token%3Dpk.eyJ1IjoiZ2xhc3NtYW4iLCJhIjoiRjk3dWdwYyJ9.Tg_fMJWxygeKBgVTrZHmGA&disable_features=boundaries&map=13.47/48.0584/-121.6561

[2018-04-04 17:05] jothirnadh commented on #4944
Is this fix live in master or going to take a couple more days to get merged?

[2018-04-04 17:11] bhousel commented on #4944
couple more days

[2018-04-04 20:16] cliffordsnow commented on #4960
That is what is on the original dataset from the Forest Service. I would
like it to appear similar to the TIGER Roads overlay so the imagery is
visible for tracing. Much of this data isn't suitable for direct importing
since it doesn't always match what's on the ground. Not a shift, but more
of the quality of they did digitizing the roads.

On Wed, Apr 4, 2018 at 8:11 AM, Bryan Housel <notificatio

[2018-04-05 09:47] jidanni opened #4965 "Tell user better that his attempt to make a building edges squarer failed"
Some times if the angles are too skewed, the "square" function in the context menu does nothing.
One has to keep a sharp eye to see if it really does something or does nothing.
Therefore I propose that some kind of signal be given to the user if it fails.
E.g., a unhappy face that floats up and disappears.

[2018-04-05 09:48] jidanni commented on #4965
(At this point he would go back and adjust the angles and try again.)

[2018-04-05 10:43] jidanni opened #4966 "Add green and red start and stop points to trace animations"
On some traces's animations it is very clear where the start and stop points are,
e.g., https://www.openstreetmap.org/user/jidanni/traces/2503249

But on others, it is very unclear, e.g.,
https://www.openstreetmap.org/user/jidanni/traces/2503246

Therefore I propose green and red start and stop points be places on every animation,
just like the green and red points of Directions.

Indeed on the la

[2018-04-05 10:44] jidanni commented on #4966
Oops, this is not an iD issue.

[2018-04-05 10:44] #4966 closed

[2018-04-05 10:46] jidanni commented on #4966
OK made https://github.com/openstreetmap/openstreetmap-website/issues/1811 .

[2018-04-05 13:28] jidanni commented on #4965
In fact the Square choice should be greyed out if it won't do anything.
But on the other hand, that would make the user think there was no way to ever use it.
So maybe it should just have a "🚫" mark on it there in the menu. With a mouseover saying his building is not squared enough yet.

[2018-04-05 13:32] jidanni opened #4967 "Four symbols lack mouseover explanations"
Without mouseover explanations,
![0](https://user-images.githubusercontent.com/1230959/38368676-81e17208-3918-11e8-9aa1-4745230dfaeb.jpg)
the user dares not use these.
In fact I almost "wrecked the map" by clicking the second one, only to find out it wasn't what I thought it was. Luckily Undo worked.

[2018-04-05 16:55] bhousel commented on #4967
Weird - you don't see this when you mouse over those things?

![editmenu hover](https://user-images.githubusercontent.com/38784/38380055-96b5aa52-38d0-11e8-8fb1-9a3cd43508e3.gif)

[2018-04-05 19:35] hikemaniac commented on #4967
On my computer with **macOS 10.13.13** with **Firefox 59.0.2** the explanations show as well.
![button explanation](https://user-images.githubusercontent.com/31667811/38372216-8eba9330-38ee-11e8-8c4c-164795bf4609.png)
Maybe it's a browser specific issue?

[2018-04-05 19:36] hikemaniac commented on #4965
iD already gives visual feedback when the modified object is not even close to being rectangular.
![not squarish warning](https://user-images.githubusercontent.com/31667811/38365210-bd8b4c3a-38db-11e8-9708-acc32563b3e9.gif)
However it is really a bit unobtrusive. Maybe this could be improved, but I don't really have any good ideas about it.

[2018-04-06 06:48] srividyacb opened #4968 "Cannot add restrictions in complex multiway junction"
[Area in OpenStreetMap](https://www.openstreetmap.org/edit?editor=id#map=20/37.76421/-122.43304)

![image](https://user-images.githubusercontent.com/3423533/38406672-c93c01e2-3993-11e8-8d98-9e1e30e002ea.png)
_Red box in above image showing overlapping restriction arrow in TR editor_

In the same junction cannot add `only` turn-restrcition for highway going straight. The restriction arrow is not go

[2018-04-06 08:08] tyrasd commented on #4968
confirming. in the second case, the following exception is thrown:

[code]

[2018-04-06 10:51] tyrasd commented on #4968
this is actually a regression introduced by 0d262e5bb5572e1ad740a6a97777c54fb0e1da01 for #4928. :thinking:

[2018-04-06 14:04] tyrasd commented on #4968
no, unfortunately the fix from #4928 doesn't work in this situation (I've originally tested this with a locally checked out master branch, but [http://preview.ideditor.com/master](http://preview.ideditor.com/master/#background=Bing&disable_features=boundaries&id=n581047109&map=20.95/37.76422/-122.43307) shows the same behavior), and introduced the above mentioned "no-u-turn reflection" regression.

[2018-04-06 14:09] bhousel commented on #4968
Ah good, thanks for checking 👍

[2018-04-06 17:34] SK53 opened #4970 "oneway=reversible is probably confusing in preset list"
Anecdotally I, and others, have noticed an uptick in the use of oneway=reversible by new contributors. In the main they seem to believe that it is a synonym for twoway operation.

I would suggest that reversible & alternate are sufficiently uncommon occurrences to warrant not being directly supported in the iD presets if this causes confusion.

Examples edits:

- B-road in English Midlands: https:

[2018-04-06 18:25] bhousel commented on #4970
Yes, I've seen a few too.. I think it's important to support these tags, but maybe we should change it so that the user can only enter them via the tag editor (not just toggling the checkbox).

[2018-04-06 18:56] SK53 commented on #4970
I think that is pretty close to what I had in mind but failed to express very clearly.

[2018-04-06 20:11] SomeoneElseOSM commented on #4433
@bhousel Does http://osmhv.openstreetmap.de/changeset.jsp?id=57730892 look like the same problem?  That "extra line" was added 2nd April.

[2018-04-07 17:50] bhousel commented on #4965
As @hikemaniac , iD already does this, if the object is really not at all "squarish".

If the object is "almost square" it can be difficult to tell whether the Square operation does anything, but I don't see that a serious enough issue that we need to spend development time on.  I think users can figure out whether something needs more squareness or not just by looking at it.

[2018-04-07 17:50] #4965 closed

[2018-04-07 17:51] bhousel commented on #4967
Closing, can't reproduce this

[2018-04-07 17:51] #4967 closed

[2018-04-07 19:34] hikemaniac opened #4971 "Allow connecting nodes of a self-intersecting way when alt key is pressed"
In some cases such as resolving self-intersections it would be desirable to be able to connect nodes of a self-intersecting way to another object when overriding the checks with the alt key. However it is currently impossible to do so, because the alt key also seems to disable the possibility to connect nodes to each other in this case. Is this by design or is it an unwanted behaviour?

[2018-04-08 01:02] jidanni commented on #4965
Ahh... I see what the case I am talking about is!

It is the case where we expect all four corners to be made into right angles.

And when we click, e.g., only A and B are made into right angles. But not C and D, because they are too far from being right angles.

Now if our eyes are only looking at A and B we will think the operation succeeded.

If we are only looking at C and D we will think the

[2018-04-08 01:05] jidanni commented on #4965
Also if repeated operations do nothing, maybe do like the image you posted, saying that all the squaring possible has already been done.

As often we are operating on small objects and can't really be sure the operation has succeeded or not.

[2018-04-08 01:11] jidanni commented on #4967
OK sorry. It is working again today.

[2018-04-08 05:38] bhousel commented on #4971
The behavior of not connecting when holding down <kbd>alt</kbd> is by design.

I couldn't think of a good reason to allow connections like that, but we will probably add a feature to allow users to disable the self intersection and other checks (#2929)

[2018-04-08 05:38] #4971 closed

[2018-04-09 02:39] bhousel commented on #4815
I just merged this!  I'm happy with how it turned out...
It uses the data from [osm-community-index](https://github.com/osmlab/osm-community-index).

Some features
* Social sharing options are gone (was: share your edit on Facebook, Twitter, Google+)
* Community resources are displayed from local to global
* Nice icons come from FontAwesome
* Each resource has a name, short description, and extend

[2018-04-09 02:39] #4815 closed

[2018-04-09 11:32] lakedistrictOSM commented on #4864
Not sure if this is a duplicate, related or needs a new issue -  I created a bus route relation in iD (https://www.openstreetmap.org/relation/8191135/history v1) and all stops, platforms and roads were in the correct order apart from the last bus stop and platform which was added to the relation after the road ways.

The expected behaviour is the order of members as they are in v2.
The actual beha

[2018-04-09 13:08] boothym commented on #4857
@umarpreet1 Probably should have been clearer about this - I think the name field also needs to be added to the various sport pitch presets in here: https://github.com/openstreetmap/iD/tree/master/data/presets/presets/leisure/pitch

[2018-04-09 14:40] maning opened #4973 "Highway not visible if its also part of a boundary relation when boundaries are disabled in the map"
When a way is both a `highway` and a member of `boundary=administrative` relation, the highway is not visible in the map when the boundary is disabled in the Map features.

![missing-highway-filtered](https://user-images.githubusercontent.com/353700/38503941-0ab7628e-3c31-11e8-9b98-cc5f29691ea4.gif)

Tested in [preview/master in this location](http://preview.ideditor.com/master/#background=Mapbox&

[2018-04-09 14:50] #4970 closed

[2018-04-09 17:04] bhousel commented on #4973
Thanks for reporting @maning

We have some existing logic in the feature matching code for the "rail" and "past_future" rules, so I just added it to the "boundaries" rule too.

When these features are shared with highways, iD will treat them as highways.

[2018-04-09 17:08] bhousel commented on #4961
This was done..

[2018-04-09 17:08] #4961 closed

[2018-04-09 17:35] hikemaniac opened #4974 "Keep already existing nodes when connecting two nodes"
In many of my changesets I connect newly created areas with previously existing ones. Unfortunately iD will replace a lot of older nodes with my newly created ones. This results in mass deletion and weird error messages from the editor itself (You have deleted x objects...) even though the user is pretty convinced he didn't do such a change. The older nodes are only replaced when a new node is cre

[2018-04-09 17:51] bhousel commented on #4974
This is probably the same as #4674
I can change `actionConnect` to prefer an existing node to keep as the `survivor`.

https://github.com/openstreetmap/iD/blob/c42556ec96beea2de880a04a177a68931c4b30a4/modules/actions/connect.js#L20-L21

[2018-04-09 17:58] NKAmapper commented on #1141
Now that WMS support is implemented, it would be great to have support for WMS in the custom background menu as well.

[2018-04-09 18:00] hikemaniac commented on #4974
You are right, the situation is different, but the core issue is the same. I'll close it if you want to.

[2018-04-09 18:03] bhousel commented on #4974
Nah ok to leave open, I'm fixing it now..

[2018-04-09 18:09] mmd-osm opened #4975 "History tool: osm.org link for newly created objects"
When creating new objects, the history tool link "History on openstreetmap.org" points to the non-existing object `https://www.openstreetmap.org/node/-1/history`. Also the other fields in this toolbox are not immediately obvious (Last Edit "Unknown"). Maybe there's some different way to say: _this is a new object without history_.

![grafik](https://user-images.githubusercontent.com/5842757/385143

[2018-04-09 18:35] #4975 closed

[2018-04-09 18:35] bhousel commented on #4975
Good suggestion.. it will show this now:

<img width="254" alt="screenshot 2018-04-09 14 33 04" src="https://user-images.githubusercontent.com/38784/38515782-3612915c-3c03-11e8-8c49-2ecfd2d9c693.png">

[2018-04-09 20:18] #4857 closed

[2018-04-09 20:37] bhousel commented on #4433
checking here:  https://osmcha.mapbox.com/changesets/57730892

Hm that's weird.
That user is using iD 2.4.1 and they have modified iD to hide the `host` tag from their changesets.
OSMCha flags it as an unrecognized iD instance, and the user as having several blocks already.

So, it could be this bug, but they are using a very old version.

[2018-04-09 21:03] NKAmapper opened #4977 "Custom WMS imagery"
Now that WMS support is implemented, it would be great to be able to use WMS in the custom background menu as well.

[2018-04-09 21:05] NKAmapper commented on #1141
#4977

[2018-04-10 01:08] bhousel commented on #4960
I think I will just add it as an additional transparent overlay layer rather than replacing the existing nontransparent USFS Roads layer.  Just in case anybody using the other layer to see the shelters or whatever those other features are.

[2018-04-10 02:10] bhousel commented on #4960
Hey @cliffordsnow I added this to [editor-layer-index](https://github.com/osmlab/editor-layer-index) project.
You can try it out the new layer in http://preview.ideditor.com/master/

<img width="1029" alt="screenshot 2018-04-09 22 08 11" src="https://user-images.githubusercontent.com/38784/38532391-990ad7bc-3c42-11e8-84b2-2309d5991dcb.png">

[2018-04-10 02:10] #4960 closed

[2018-04-10 11:32] lakedistrictOSM opened #4978 "Bus stop and platform added to end of bus route relation"
Not sure if this is a duplicate of another issue - I created a bus route relation in iD (https://www.openstreetmap.org/relation/8191135/history v1) and all stops, platforms and roads were in the correct order apart from the last bus stop and platform which was added to the relation after the road ways.

The expected behaviour is the order of members as they are in v3.
The actual behaviour was the

[2018-04-10 12:05] AllroadsNL opened #4979 "OSMlab, and new tiles"
When is ID taking over the new tiles?

from editor-layer-index

There are now new 2017 tiles and **actual** tiles (important), people like to use it, we can in JOSM and Potlatsch.

[osm lab, editor-layer-index, last messages.](https://github.com/osmlab/editor-layer-index/pull/329)

[2018-04-10 12:58] bhousel commented on #4979
The imagery is updated whenever we release a new version of iD.  That should happen sometime this week.

[2018-04-10 12:58] #4979 closed

[2018-04-10 13:08] bhousel commented on #4978
Is the issue that iD reordered the stops and platforms?  It is supposed to leave their order alone, but put them first in the member list.  (related #4946 which is fixed but not deployed yet)

Or that iD misordered the highway ways?  It is supposed to put them into the order that the bus travels over them, but iD struggles when there are loops. (related #4876 which is not fixed yet)

[2018-04-10 14:27] bhousel commented on #4978
Oh yeah we can't get the stop/platform order correct the first time.  I'm not even sure it's possible.

I even added a comment about this in the code 😬
https://github.com/openstreetmap/iD/blob/1866e40c82d43093eba9bb5f23850fbd1907c4cf/modules/actions/add_member.js#L20-L25

Probably the only solution is to give users the ability to reorder the relations manually, like by dragging them up and down in

[2018-04-10 15:10] lakedistrictOSM commented on #4978
I've just created a new relation - this one's much shorter: https://www.openstreetmap.org/relation/8197678/history v1

Again, iD has put the final stop and platform after the highway ways.

(Also again this was a circular route where the route starts and ends at the same bus stop)

[2018-04-10 16:33] abdeldjalil09 opened #4980 "healthcare=laboratory"
https://wiki.openstreetmap.org/wiki/Tag:healthcare=laboratory

[2018-04-10 18:35] mmd-osm commented on #4061
Truncation already occurs when you paste your URL into iD's value field. The maximum length of 255 is checked by your browser. Level0 doesn't have this kind of validation, the message you were seeing is the error message returned by the OSM API.

[2018-04-10 21:07] #4980 closed

[2018-04-11 22:07] bhousel commented on #1765
@mmd-osm  Oh yeah, I didn't know about this old issue.  Someone opened #3447 for the same thing and I agree we should do it.

[2018-04-12 01:46] jidanni opened #4983 "Lit: No: unchecked checkbox very confusing"
Lit:
[✓] Yes
becomes
[   ] No
when unchecked, but when we try to check it, hoping to create
[✓] No
well... we are instead not supposed to touch it further if we really mean no.

Yes I know what your are doing but you will confuse most of the public.

[2018-04-12 01:54] #4983 closed

[2018-04-12 01:56] bhousel commented on #4983
I think most people can figure out how the checkboxes work.  Users can always just click a few more times to learn what it does.

[2018-04-12 17:12] #4968 closed

[2018-04-12 17:26] bhousel commented on #4978
@lakedistrictOSM can you share the exact steps how you created the most recent one?
I am guessing that you did:

1. Create platforms and stop as features (points or lines)
2. Click the '+' under parent relations to add to a new relation
3. Tag this relation as a bus route
4. Click '+' to add members to the relation (they will get put at the end by default)
5. Assign roles (this step will not reord

[2018-04-12 17:41] lakedistrictOSM commented on #4978
1. Split highway ways where necessary and create stops
2. Select first highway section, All Relations > + > New relation...
3. Search bus route and add details
4. Add highway ways, bus stops and stopping locations as I got to them (assigning platform/stop roles where needed) in the order the bus would get to them

Note that one stop was added to the relation twice since the route both starts and e

[2018-04-12 21:41] bhousel commented on #4921
I hacked together something today that should prevent this and warn the user:

![relation_conflict](https://user-images.githubusercontent.com/38784/38705758-aa85b092-3e78-11e8-867d-fcdde3c506ea.gif)

[2018-04-13 03:39] bhousel commented on #4921
The change I pushed does fix the issue but also prevent certain harmless drags, so I'm reopening this improve it.

[2018-04-13 09:31] SomeoneElseOSM opened #4984 "Add data layers to "imagery used" in changeset tags"
Currently, iD users don't add sources to changesets, but iD adds details of the imagery they used as a tag.  It'd be great if it also included the "data layer overlays" in that too.

For example, here's someone changing access to a road based on a traffic sign seen in a mapillary photo:
https://www.openstreetmap.org/changeset/57960469

and a lot of the initial conversation was about "where did you

[2018-04-13 09:49] JamesKingdom commented on #4984
@SomeoneElseOSM I tried this [here](https://master.apis.dev.openstreetmap.org/changeset/112862), and it displays `Esri World Imagery;Mapillary Images;Mapillary Signs` in the `imagery_used` box.

`counter_striker` is still on iD 2.4.1, and is hiding the `host` box (I think this was discussed somewhere).
I think they are changing their `imagery_used` tag, as the feature to display that Mapillary had

[2018-04-13 10:00] SomeoneElseOSM commented on #4984
@JamesKingdom Thanks for that.  Presumably their iD 2.4.1 is hosted somewhere else (I've asked on the changeset).  My guess is that it's actually not straight out of this repository.

[2018-04-13 10:00] #4984 closed

[2018-04-13 14:13] mvexel commented on #4851
Here's the relevant bits of the OSC v2 API docs @bhousel

[ApolloServiceAPI.pdf](https://github.com/openstreetmap/iD/files/1907639/ApolloServiceAPI.pdf)

And the icons

[detection-icons.zip](https://github.com/openstreetmap/iD/files/1907640/detection-icons.zip)

Is this sufficient to run with?

[2018-04-13 16:10] abdeldjalil09 opened #4986 "attraction=maze preset"
https://wiki.openstreetmap.org/wiki/Proposed_features/Key:attraction

[2018-04-14 23:06] Jbwalters22 commented on #4877
This bug appears to be fixed now.

[2018-04-14 23:06] #4877 closed

[2018-04-15 03:15] #4921 closed

[2018-04-15 03:58] #4986 closed

[2018-04-15 23:53] slhh commented on #4921
@bhousel

At least not without generating new issues. I think it will turn out to be much more complicated than you have expected again.

I had a short look at the test cases, and realized that it does still prevent certain harmless drags, especially ones fixing a broken relation. I have been able to verify this using the master deployment. Overiding the prevention using the Alt key doesn't really

[2018-04-16 23:11] slhh commented on #4921
@bhousel

1. nodes A,B,C,D,E
    way A-B: from member
    way B-C: via member
    way D-E: to member
    connecting C and D should not be prevented.
2. nodes A,B,C,D,E
    way A-B: from member
    way C-D: via member
    way D-E: to member
    connecting B and C should not be prevented.

Preventing node-node conflicts seems to be fine. I assumed way-way role conflicts are also prevented.
The test

[2018-04-17 00:46] bhousel commented on #4921
Interesting - in situation 1, the via and to are not connected, and in situation 2, the via and from are not connected.. and in both situations the user is trying to connect them to fix the issue?

Yes, I did change this since last Friday or so.. You might have seen the original version where the tests were much too strict..

[2018-04-17 07:47] manfredbrandl opened #4989 "Reverse Geolocation for changeset not good enough, translation missing"
After uploading a changeset in Leibnitz, Steiermark (Styria, part of Austria) I see:
![image](https://user-images.githubusercontent.com/5360273/38855247-434a3d86-4223-11e8-84e3-4cb6fcc5c907.png)
The location is Leibnitz (County of Styria and main city there) in the Austrian state of Styria:
https://www.openstreetmap.org/changeset/58159266#map=14/46.7436/15.5616
![image](https://user-images.githubu

[2018-04-17 07:51] manfredbrandl opened #4990 "Language Names not translated in post-upload-screen"
It would be nice to allow translation of "de", "en" etc.
![image](https://user-images.githubusercontent.com/5360273/38855813-e112a7aa-4224-11e8-99de-cd4b73bb4ef5.png)

[2018-04-17 09:58] Bonbadil opened #4991 "New tag value is lost when tab is used"
Hello,

When adding tags directly on new or pre-existing nodes and using TAB to add a new one, the new tag is added to the list but not its value:
![lost value of new tag](https://user-images.githubusercontent.com/833234/38862445-41145d8c-4235-11e8-88a8-ba270246483b.gif)
Also, the focus do not return to the first column.

I can reproduce the bug easily, but not systematically, on the same node and

[2018-04-17 10:07] Bonbadil opened #4992 "Can't find aera-type presets on polygon directly"
Hello,

When I add a polygon, I would like to give it a polygon preset, like for a store for example, but ID only show me line-type preset (roads, etc.). I have to add an aera-type tag, like building, to be able to search a store preset.
![cant find polygons presets](https://user-images.githubusercontent.com/833234/38863353-abf2e540-4237-11e8-9361-12066d327cd9.gif)
I hope I'm understandable...

I'

[2018-04-17 11:34] jguthrie100 commented on #4991
It works with Firefox 59.0.2 on Linux

[2018-04-17 11:40] bhousel commented on #4990
Ah yeah, I punted on that just to get something deployed quickly.  We might actually get this automatically when we do #2457 - I haven't looked into CLDR much lately, but #4964 will start pulling pieces of it into iD as a dependency.

[2018-04-17 11:45] bhousel commented on #4992
Yep thats #1828!

[2018-04-17 11:45] #4992 closed

[2018-04-17 11:47] bhousel commented on #4991
Thank you for the detailed report!   I will try this out on a few different browsers and see if I can reproduce the issue.

[2018-04-17 13:50] bhousel commented on #4989
The current code that puts together the location string is here:
https://github.com/openstreetmap/iD/blob/85ae00dd05d998a8fbf14aba1fb78491fec498b4/modules/modes/save.js#L500-L511

What the code does is ask Nominatim to reverse geocode the center of the map where the user is looking when they did the save (their edits might not necessarily be there, but this is the place that they are looking at).

[2018-04-17 15:00] lakedistrictOSM opened #4993 "Empty source tags on changeset"
Noticed in #4989 that the source tag has an empty value:

Also seems to be happening for other users; see https://www.openstreetmap.org/changeset/58170337 and https://www.openstreetmap.org/changeset/58161104 for examples.

[2018-04-17 15:17] bhousel commented on #4993
Thanks for opening @lakedistrictOSM - I agree iD should not write anything here if the source is empty.

[2018-04-17 19:20] bhousel opened #4994 "Fetch frequently updated resources instead of bundling them"
iD bundles a few dependencies from other projects:
* [x] [osm-community-index](https://github.com/osmlab/osm-community-index/)
* [x] [editor-layer-index](https://github.com/osmlab/editor-layer-index)
* [x] [name-suggestion-index](https://github.com/osmlab/name-suggestion-index)
* [x] [translations](https://www.transifex.com/openstreetmap/id-editor/dashboard/)
* [x] [wmf-sitematrix](https://github.

[2018-04-18 00:54] bhousel opened #4995 "Hovertext for geojsons in debug mode"
iD has a pretty sweet debugging feature for datasets (see #3158)..
This is what the new community index coverage looks like:

<img width="483" alt="screenshot 2018-04-17 20 49 25" src="https://user-images.githubusercontent.com/38784/38905814-ecc9c0fe-4280-11e8-9918-a956422cd9c5.png">

But it would be nice to know what all of those things are.  We should add some hovertext with the `id` or `propert