[2020-05-08 20:57] quincylvania commented on #7341
@blackboxlogic Terrific! Thanks for reporting and seeing this issue through 👍

[2020-05-08 21:00] maro-21 opened #7582 "Change category for Recently Demolished Building"
I think `demolished:building=yes` preset should be in the category Future/Past or Buildings, not Landuse.

I think Buildings will be better because it will prevent from adding a building again from aerial imagery.

[2020-05-08 22:40] quincylvania commented on #6745
I've been looking into this while revamping touch interaction for #5505. I'm pretty sure the issue is that a touch leaves the screen without iD logging it as gone, so subsequent swipes are interpreted as two-finger pinches instead of one-finger pans. [This commit](https://github.com/openstreetmap/iD/commit/5a8f573889fdd1f0fde1d5234a8f86ead36354b7) likely fixed it by listening for all ended or canc

[2020-05-08 23:37] quincylvania commented on #5505
We've made a lot of progress with this switch! Here are a few things you can now do on touch devices that were impossible or buggy before:

- Draw ways
- Drag nodes
- Double tap to add nodes to ways
- Select features with one tap
- Pan and pinch the map on Edge
- Use styluses
- Drag to change the imagery offset
- Resize the photo viewer

While there are still more opportunities to improve touch in

[2020-05-08 23:37] #5505 closed

[2020-05-09 02:23] #7577 closed, assigned to quincylvania

[2020-05-09 05:50] verdy-p commented on #2095
What was suggested was just to allow adding a custom layer, and when adding it (WMS or TMS link), add a checkbox in the definition to say if this is either
* a transparent layer (to be used on top of another background layer using a checkbox to enable it, or on top of a blank background), or
* a plain layer (to be used with radio buttons in the list of background layers).

Custom layers should be

[2020-05-09 11:09] animesh-007 commented on #7581
I am not able to find the exact file which needs to be changed.
Can you tell me where to look at?

[2020-05-09 11:09] Elefant-aus-Wuppertal opened #7583 "add insurance=health for some "Krankenkasse" presets in Germany"
In Germany, there is a preset for "Techniker Krankenkasse" which is a common health-insurance brand here. The tag insurance=health (https://wiki.openstreetmap.org/wiki/Tag:insurance%3Dhealth) is used not so often but specifies those insurance offices which are specialized (only) on health insurances. On the tagging-mailing list, people said it would be a good purpose to use an under-tag for this.

[2020-05-09 11:25] Elefant-aus-Wuppertal commented on #7583
The same would fit for the "DAK Gesundheit" and for the "AOK" presets, as it seems to me.

[2020-05-09 15:07] EuropeanWaterProject commented on #6398
This would be  very helpful... has any progress been made on this ?

[2020-05-09 19:26] jidanni commented on #2095
moth tiles -> most tiles?

[2020-05-09 19:50] verdy-p commented on #2095
Yes @jidanni there were some typos left I just fixed a few including this one

[2020-05-09 20:25] verdy-p commented on #2095
Another interesting extension would be to transform a non-transparent layer into a transparent one (notably cadastral maps which are mostly black on plain white: transforming such tiles into a monochromatic tile with alpha values only and constant RGB color would allow them to be superposed on another background layer such as aerial photography, in much clearer way than just applying a static alph

[2020-05-10 16:35] quincylvania commented on #7549
Done in #7568.

[2020-05-10 16:35] #7549 closed, assigned to nobody

[2020-05-10 16:37] quincylvania commented on #7583
@Lukas458 Thanks, the brand presets are managed in the [name-suggestion-index](https://github.com/osmlab/name-suggestion-index) project so you'll have to bring it up there.

[2020-05-10 16:37] #7583 closed, assigned to nobody

[2020-05-10 16:39] quincylvania commented on #6398
@EuropeanWaterProject Not yet…

[2020-05-10 17:35] maro-21 opened #7586 "Edit Service Road preset"
There are only 5 options on the list, could we make them translatable?
![highway_service](https://user-images.githubusercontent.com/57260466/81506177-cb608f80-92f4-11ea-8035-1929b2953826.png)

And reorder them? Because for example `service=driveway` is used much more often than `service=parking_aisle`.

Current usage:
[code]

[2020-05-10 17:41] maro-21 opened #7587 "Edit Storage Tank preset"
I don't know if `man_made=storage_tank` needs `building=*` tag, but iD currently adds `building=yes` to `man_made=storage_tank`. Could it add [`building=storage_tank`](https://wiki.openstreetmap.org/wiki/Tag:building%3Dstorage_tank) instead?

[2020-05-10 17:58] maro-21 opened #7588 "New preset: shop=collector"
Add [shop=collector](https://wiki.openstreetmap.org/wiki/Tag:shop%3Dcollector) preset
with the field `collector=*` that works like `cuisine` for restaurants.

[2020-05-10 18:09] maro-21 opened #7589 "name and noname tags together"
When `noname=yes` tag is present, could we make the Name field grey like it is when it has a wikidata tag?
We can additionally change the placeholder to, e.g, "This feature has a noname tag".

[2020-05-10 18:41] quincylvania commented on #7587
Yes, the `building` tag is important here so renderers can automatically treat these as 3D extruded objects instead of landuse.

iD doesn't really have a mechanism for setting the default `building` value for a preset like this, and in any case the tag seems a bit redundant…

[2020-05-10 18:41] #7587 closed, assigned to nobody

[2020-05-10 18:50] quincylvania commented on #7588
Hmm shouldn't the `shop` tag indicate what the store sells? Like `shop=comics` or `shop=stamps`? I'm not sure "collector's items" is an identifying or unifying label for a store. People could collect anything.

[2020-05-10 19:07] quincylvania opened #7590 "Multiselection on touch devices"
Without the ability to shift-click, it's impossible to select multiple features on touchscreens. This makes operations like merging ways unavailable, even with #7577. We should come up with some way to enable this functionality with no keyboard, perhaps via a mode in which tapping features adds or removes them from the selection.

[2020-05-10 19:16] jidanni commented on #2095
Indeed, cadastral map uses go beyond just [parcel](https://wiki.openstreetmap.org/wiki/Parcel) boundaries, often being the richest source of what lies under a tree cover, when [Lidar](https://en.wikipedia.org/wiki/Lidar) isn't available.

[2020-05-10 19:29] quincylvania commented on #7577
I did this ☝️. It felt pretty natural in my brief testing. We'll have to do #7590 and adapt some of the operations like Move and Rotate in order to achieve full parity, but this is still an exciting step forward.

![ezgif-4-d3dec5f8b6ba](https://user-images.githubusercontent.com/2046746/81508514-5cb21080-92b9-11ea-962d-dd917d6625cf.gif)

[2020-05-10 19:51] Elefant-aus-Wuppertal commented on #7583
Okay, thank you. I will do this.

[2020-05-10 20:30] maro-21 commented on #7588
It sells collector's items :)
Such stores are not as popular as grocery stores. There are very few of them. So it's practical to have one tag for many types of collector's shops than for each store separately. I think the tag was created for stamps and coins, and then others were added.

There are mores shop=* tags that don't indicate what the store sells, like shop=variety_store, shop=general.

W

[2020-05-10 21:54] 1ec5 commented on #7588
In the U.S., these stores are often signposted as “We Buy …”, “We Collect …”, or “Cash for …”, though there may be a different, more obscure name in each case.

`shop=collector` is an attempt to collect (hah!) multiple related kinds of shops into one tag. It might be more intuitive to create a preset for each of the common collector’s items mentioned in the [`shop=collector` documentation](https:/

[2020-05-10 22:06] maro-21 commented on #7588
Collector's shops in my country sell usually stamps and coins together.
Having separate tags for these stores (shop=stamps, shop=coins) would cause the problem how to tag them.

As you can see on Taginfo
https://taginfo.openstreetmap.org/keys/collector#values
`collector=stamps;coins` is very popular

[2020-05-10 22:21] hungerburg opened #7591 "snapping incompatible nodes"
ID is the editor of choice for newbies; can you make it so, that drawing a highway does not snap to nodes of a power line or ways of that kind, or other kind of furniture, where it does not make any sense?

[2020-05-10 22:27] hungerburg opened #7592 "Mehrzweck-Wege"
I know, this name is in the OSM wiki, but "Mehrzweck-Weg" is really a bad translation of "path" - The consequence being, that anybody native German will never use it for anything but a "track", and use "footway" instead for hiking paths &c. Can that be changed in ID? I suggest "Pfad" instead ("Weg" is already too broad, as it includes even roads).

[2020-05-11 01:18] 1ec5 commented on #7588
True, that would be a reason to add a general preset for “Collectible Store”, but we could still have more specific presets for shops that specialize. (iD does the same thing with restaurants and the `cuisine` tag.)

[2020-05-11 01:23] 1ec5 commented on #7589
Sounds like a reasonable validator warning to add. Same goes for `ref` and `noref`.

[2020-05-11 08:02] manfredbrandl commented on #7586
I remember that translating iD Version 3 will be offered later, because Translators want to concentrate now on the productive iD-Version and there are too many changes in development now.
Having an order of options which reflects the usage numbers is usefull anyway.

[2020-05-11 08:16] manfredbrandl commented on #7592
I did change the Wiki because you are absolutely right that "Mehrweck-Weg" is a bad translation for "path", "Pfad" is much better. Please reviewe the Wiki if i have done it right. If the Change in the Wiki persists we can change the translation in iD via transifex.

[2020-05-11 09:35] hungerburg commented on #7592
Hallo Manfred, in the context there this now looks over the top. Maybe "Weg" is better, at least without the stupid "Mehrzweck" (multipurpose) addon. For reference, the dictionary translation of path is indeed way https://dict.leo.org/englisch-deutsch/path - while the reverse https://dict.leo.org/englisch-deutsch/pfad is much more narrow. I try my hands on the wiki, please check quality

Perhaps "

[2020-05-11 09:39] hungerburg commented on #7592
Hmm, Fußwege is not in the Wiki…

[2020-05-11 11:14] jidanni opened #7593 "ESRI just a lower resolution version of the same MAXAR imagery"
It turns out the ESRI imagery,
![E](https://user-images.githubusercontent.com/1230959/81555481-3b394d80-93bb-11ea-9010-e7989c733881.jpg)
is simply just a lower resolution version of the same MAXAR imagery,
![M](https://user-images.githubusercontent.com/1230959/81555554-5efc9380-93bb-11ea-8e3b-b7e02b51c600.jpg)
at least at https://www.openstreetmap.org/edit#map=18/24.16310/120.82965

[2020-05-11 12:06] jidanni opened #7594 "Please add helipad/port presets for points"
Please add
https://wiki.openstreetmap.org/wiki/Tag:aeroway:helipad
<s>https://wiki.openstreetmap.org/wiki/Tag:aeroway:heliport</s>
presets for single points, not just areas. Their wiki pages say points are OK too.

[2020-05-11 12:29] gendy54 commented on #7407
In France we use the tag `shop=vacant` which corresponds to all types of shops.

[2020-05-11 13:38] manfredbrandl commented on #7592
I did change the Wiki again, please check quality. I also updated the translation for iD in Transifex.

[2020-05-11 15:09] intgr commented on #7593
This is not true everywhere though. In Estonia, where I live, Esri is significantly more detailed than any other provider.

I think it's common practice for imagery providers pick and choose between satellite partners for sourcing their imagery for different areas, and two might end up using the same imagery for some area. I think there isn't anything actionable here.

[2020-05-11 15:18] jidanni commented on #7593
Ah ha... how about adding to the top of the list
[x] Best
which would be chosen for us via Artificial Intelligence...

Well at least Artificial Intelligence could knock identical imagery out of the list, leaving only the better one, or combining their names in case of a tie... all these are wishlists for the years to come.

[2020-05-11 15:24] intgr commented on #7593
The iD editor indeed has capability of highlighting a preferred imagery source, but I'm not sure about the details. There's a long discussion at #6736.

It's probably determined somewhere in repositories https://github.com/ideditor/imagery-index or maybe https://github.com/osmlab/editor-layer-index

[2020-05-11 15:38] jidanni commented on #6736
Maybe "Editor's choice" https://www.google.com/search?q=seal+of+approval+with+ribbons&tbm=isch could be placed next to items in the imagery radio button list to steer users to them... More colorful than stars...

[2020-05-11 15:40] kymckay commented on #7593
I may be missing some knowledge here, but I don't believe there is any way iD can programmatically do anything about this (without having a suitable source of metadata about all of the imagery tiles), nor do I think it's actually an issue.

Because the imagery sources can change across very localised regions, the only options that I can fathom would require either an unreasonable amount of routine

[2020-05-11 15:40] #7593 closed, assigned to nobody

[2020-05-11 18:26] maro-21 commented on #7591
It is already in iD.
"<kbd>Alt</kbd> Hold to disable point snapping"

[2020-05-11 18:29] hungerburg commented on #7592
Ja, so ist es viel besser.

How about "Gehweg" for "Fußweg" in iD, this is much more concise. Then I think this will be much harder to be gotten wrong by newbies and this issue ripe for closing!

[2020-05-11 18:32] hungerburg commented on #7591
Well, I actually meant, for newbies…

[2020-05-11 21:52] manfredbrandl commented on #7592
I checked how many results Google has for Fußweg (12,6 Mio) and for Gehweg (4,6 Mio). Also Gehweg is Not known in Switzerland, therefore I stick to Fußweg.

[2020-05-11 22:18] hungerburg commented on #7592
Wikipedia is clear on the official usage - https://de.wikipedia.org/wiki/Gehweg is the word for what is meant with footway on OSM in Germany and Austria. Regarding the numbers: Gehweg is mostly used that way, unlike Fußweg, which can appear in other contexts too, eg. "Es war ein langer Fußweg von A nach B". "Fussweg", which is the official word for "Gehweg" in Switzerland only has 733000 hits on g

[2020-05-11 22:31] hungerburg commented on #7592
Further evidence that the Swiss need not special minority protection - they know the word, see for example this very official looking document, where they write "Gehweg" quite often - https://www.astra.admin.ch/dam/astra/de/dokumente/langsamverkehr/velos_auf_trottoirs-entscheidungshilfedervelokonferenzschweiz200.pdf.download.pdf/velos_auf_trottoirs-entscheidungshilfedervelokonferenzschweiz200.pdf

[2020-05-11 23:03] hungerburg commented on #7592
Ich hab schon einmal die DE:tag:footway Wiki Seite aktualisiert, das ist nun auch viel leserlicher, OSM muss nicht so gestelzt klingen, dass einem Beamten die Scham kommt dabei.

[2020-05-12 09:30] manfredbrandl commented on #7592
There are so many aspects ... Gehweg is - according to Wikipedia - the part of the street intended for Walking, also called Bürgersteig or Gangsteig/Gehsteig/Trottoir in DE/AT/CH. Fußweg is - also according to Wikipedia - more general and includes also all other contructions for walking. There are many way for walking and biking and "Fuß- und Radweg" seems to be the most common word for that. If y

[2020-05-12 09:53] hungerburg commented on #7592
I was tired then and forgot to switch to English mode. Anyways, the official wording is simple, clear and concise. The Wiki now reflects that and even mentions the (thanks to you correctly spelled, helveticism) swiss peculiarity. If iD wants to stay apart, let us have the mapping crowd heal it. Happy so far I close the issue. Peter

[2020-05-12 09:53] #7592 closed, assigned to nobody

[2020-05-12 10:12] manfredbrandl commented on #7592
Hi Peter, the most important part ot the issue "Mehrzweck-Weg" is done in transifex,  and will be solved for iD with the next version 2.18.0 coming to openstreetmap.org. Having small differences between Gehweg, Fußweg und Fussweg will not harm community.

[2020-05-12 13:55] dktue opened #7595 "Closed way with junction=interchange is not interpretated as area"
A closed way with `junction=interchange` like [Autobahnkreuz Stuttgart](https://www.openstreetmap.org/way/802385368) should be interpreted as area. Currently it is interpreted as closed polyline.

[2020-05-12 16:47] quincylvania commented on #7593
@SilentSpike Good reasoning, thanks for responding and closing.

@jidanni Sorry, but saying "just fix this minor annoyance with AI" isn't helpful for an open source project like iD with limited development resources.

[2020-05-12 18:17] quincylvania commented on #6736
@jidanni I've actually been considering an icon change since star icons often refer to user favorites. A ribbon, crown, or thumbs-up might do. It'd still be monochrome.

[2020-05-12 18:57] quincylvania commented on #7594
iD already supports helipads as points and it doesn't have a heliport preset at all.

[2020-05-12 18:57] #7594 closed, assigned to nobody

[2020-05-12 20:13] quincylvania opened #7596 "Cookie "sameSite" attribute warning"
Browsers have started issuing warnings like this for iD:

The lock is pretty important to avoid data corruption so we should be sure to address this for the next release.

[2020-05-12 20:57] hungerburg commented on #7592
Yes, the heart of the issue is fixed. I brought that up, because I repeatedly had to explain to newcomers, that the hiking path they created was truly awesome, yet it was not a "Fußweg" but a "Mehrzweck-Weg" instead.

I am afraid that this first step will not help all that much, as long as there is still the very broad meaning "Fußweg" top in the options and I will still have to apologize that the

[2020-05-12 23:47] quincylvania commented on #7595
Hi and welcome, @dktue.

The `junction` tag has historically been difficult for iD to interpret since values like this are used for areas while values like `junction=roundabout` are used on linear `highway` features. As such, iD can't tell if an unknown `junction` tag implies area or not. See 781158874aa19cc6f5d1202e6f2ae4ca53ac722f and 6dfdec06ad0e3b64b0f47799bdad4bb05d3712ed for more info.

We c

[2020-05-13 09:19] dktue commented on #7595
Thanks for hinting the workaround @quincylvania : What track would you suggest to get the (in my eyes correct) solution done?

[2020-05-13 12:41] sun-geo opened #7597 "Node types/rendering legend and handling (tutorial)"
When working with iD, you can notice different kind of nodes rendering, e.g. small white dot, small grey dot and big grey dot. Did I miss some others?
Example object which shows currently (v#2) all types of rendering:
https://www.openstreetmap.org/edit?relation=9933393

(1) small white dot: https://www.openstreetmap.org/edit?node=6781452953
(2) small grey dot: https://www.openstreetmap.org/edit?no

[2020-05-13 13:00] quincylvania commented on #7595
@dktue If you or others could document on the wiki what `junction=interchange` is and how to map it then we could probably support it in iD.

[2020-05-13 13:10] quincylvania commented on #7591
This is #4173. It's a nontrivial problem since iD would have to maintain a list of what features can and cannot connect to what other features, plus compute validity in real time.

[2020-05-13 13:10] #7591 closed, assigned to nobody

[2020-05-13 13:37] #7596 closed, assigned to quincylvania

[2020-05-13 14:59] #6674 closed

[2020-05-13 15:08] quincylvania commented on #6674
I made it work like this. It's definitely simpler, consistent with the related Combine and Downgrade operations, and touchscreen friendly. Plus it automatically puts points in the center of areas, so mappers won't have to worry about placing points perfectly and can oftentimes skip moving them altogether.

I also realized that the "Extract this point" validation fix for point-as-vertex warnings al

[2020-05-13 15:33] quincylvania opened #7598 "Support Extract operation on compatible lines"
A few types of features can be both lines and points, such as benches and artwork. iD can already merge these types of points into lines. We should allow extracting points out from these lines.

[2020-05-13 16:00] #7598 closed, assigned to quincylvania

[2020-05-13 16:09] quincylvania commented on #4053
Closing this since it's been a few years and lots has changed with iD that could have addressed this bug. @Stalfur Let us know if you're still seeing this or something like it!

[2020-05-13 16:09] #4053 closed

[2020-05-13 16:35] quincylvania opened #7599 "Make Move and Rotate operations touchscreen-friendly"
When moving or rotating ways or multiselections, iD currently relies on the position of the hovered mouse cursor. This makes these operations impossible on touchscreens where pointers cannot hover—dragged touches simply pan the map.

We should look into a workflow where the mapper can grab the feature and drag it around instead of it following the cursor immediately. See also #3372 for talk of a "

[2020-05-13 18:01] quincylvania commented on #2508
I think it'd be frustrating to have copy without paste. This does mean we'd have to enable right-clicking on blank areas of the map and move the edit menu controller out of `modeSelect`.

---

Now that we've done #7577, the edit menu is also accessible on touch devices. Thus, implementing menu buttons for copy and paste would make these operations possible on mobile devices where keyboard shortcut

[2020-05-13 19:57] matkoniecz commented on #7407
shop=vacant support would be a separate, possibly new issue

[2020-05-13 20:12] quincylvania opened #7600 "Enable Extract operation for multiselections"
Now that we've done #6674, extracting points is a one-click operation. It'd be helpful to allow this for multiple selected features, in line with #6565 and #7326. I can imagine extracting a strip mall worth of POIs mapped as vertices along the building's front wall.

[2020-05-13 20:22] quincylvania commented on #7407
iD already has an unsearchable preset for `shop=vacant` in case mappers come across them. Since we can't have two searchable presets for equivalent things and since `disused:shop` has some advantages, I'd ask that we leave things as-is.

[2020-05-13 21:15] AntMadeira opened #7601 "Translations at Transifex"
Hi there.

There are some translation strings at Transifex which don't have any documentation in wiki pages.
For example:
- Cleaning Service ( craft=cleaning): what's this and where is it on wiki.openstreetmap.org?
- Courtyard (man_made=courtyard): this is a proposal, it wasn't voted yet. Why is it being translated?

BTW, what does "Fix Guidelines" mean in "core"?

[2020-05-13 22:09] maro-21 commented on #7601
- Cleaning Service is just a cleaning service... Yes, it's not on the Wiki.
- Courtyard isn't on the Wiki either. I asked myself the same question today when I was translating. More information and pictures you can find here https://wiki.openstreetmap.org/wiki/Proposed_features/courtyard. It would be good to have a Wiki entry though.
- "Fix Guidelines" is, I think, the same as "How to fix" in the

[2020-05-13 23:41] quincylvania commented on #7601
@AntMadeira Thanks for translating! Hopefully @maro-21 answered your questions…

Most tags in OSM have never been voted on—iD's presets are based on more factors than the wiki. That proposal is five years old and hasn't gone anywhere, but this appears to be the most established tag for courtyards.

[2020-05-13 23:41] #7601 closed, assigned to nobody

[2020-05-14 00:13] AntMadeira commented on #7601
I don't think iD should promote tags that are not approved by the community and are not properly documented. I know that a tag doesn't need to have a wiki to be used, but I think that it should be at least discussed and not just pushed like a de facto tag.

About Osmose string, I'm sorry but I still don't understand what it means or where it's going to appear...

[2020-05-14 01:32] quincylvania commented on #7601
@AntMadeira Hmm my understanding is that most OSM tags have grown organically and weren't formally discussed nor approved. I believe `man_made=courtyard` is consistent with this pattern. It's been around for years and has hundreds of uses from mappers who manually added it because they thought it was the most suitable tag. Documenting these types of tags can be a great asset, but is not a requirem

[2020-05-14 01:36] quincylvania commented on #7601
@AntMadeira The Osmose layer is coming in the next feature update to iD. The "Fix Guidelines" string is a section header on the left here:

<img width="1045" alt="Screen Shot 2020-05-13 at 9 34 48 PM" src="https://user-images.githubusercontent.com/2046746/81882808-9f961180-9561-11ea-8bb1-098a1196e424.png">

[2020-05-14 04:25] AntMadeira commented on #7601
Thanks for your clarifications, Quincy.
I don't intend to change iD's policy about tags. I just thought it was odd to push for something that it's not approved. I guess I could open the discussion in the tagging mail list, but I'm in too many fronts right now to take the time to do it. If iD thinks this is ok, it's fine by me.

Osmose: Ok, now I get it. I was searching for something that it's not

[2020-05-14 08:11] manfredbrandl commented on #7597
In the walkthrough people get practise in connecting streets and see grey circles in connections and big circles at endpoints but there is no explanation.
![image](https://user-images.githubusercontent.com/5360273/81909042-56c67300-95ca-11ea-85e1-176db640e33c.png) In the HelpChapter on Lines under Connecting Lines you find "The connections between roads are drawn with gray circles. The endpoints o

[2020-05-14 08:38] manfredbrandl commented on #7597
@sun-geo The big grey circle (dot) is so unusual because the are-relation "March Field" is deprecated. See https://wiki.openstreetmap.org/wiki/Relation:multipolygon "Simple areas are mapped in OSM by creating a closed way". Having a foot and part of a house also there does not harm, if the area really starts by the house and the footpath is really on the March Field outline.

[2020-05-14 08:52] manfredbrandl commented on #7592
I think its worthwile to further optimize German preset-texts in iD. In iD 3 one will select the feature type before mapping, but in iD 2 it's the other way round. After mapping a line one can see "Größere Straßen...", "Nebenstraßen...", "Schienen..." and "Wege..." with a walking person:
![image](https://user-images.githubusercontent.com/5360273/81913337-1f5ac500-95d0-11ea-91ba-8474ed3e79a2.png)
K

[2020-05-14 11:40] hungerburg commented on #7592
Hello Manfred, my wish for iD is, to enable newbies to get it right on first try. I consider that important for the whole OSM project, because iD sure is the number on entry point for newcomers. I just happen to care. Editing the wiki I learned, that, while the same circumstance can be mapped in diverse ways, there are competing schools advocating the single right way and that there are quite fier

[2020-05-14 12:50] matkoniecz opened #7602 "Complain about wikipedia links to disambiguation pages"
To replicate:

- create an empty node.
- select adding a Wikipedia tag
- add `fr:Micromania`
- description will show "Wikipedia disambiguation page" and https://www.wikidata.org/wiki/Q3312213 has "instance of Wikimedia disambiguation page"

But validator is not complaining and not making clear that it is a certainly wrong link.

Examples from Poland recently added by iD users: https://www.openstre

[2020-05-14 12:57] matkoniecz commented on #4414
It appears to be not fixed or regressed. After selecting Polish Wikipedia ("polski") in WIkipedia article adding menu and typing "Kalenic" I get "Kalenica" disambiguation page as a suggestion.

And #5647 seems to be about integration with OSM Wiki Wikidata, not with Wikidata ("Takes data directly from the Wikibase data items (OSM Wiki)")

[2020-05-14 15:39] quincylvania commented on #3843
I did this 🚀. The spacebar now works identical to a mouse click for selection, including for deselection and multiselection.

Consequently, I had to remove the functionality of pressing the spacebar to open the context menu, though this was a fairly nonstandard interaction anyway. As a replacement you can now hold down the spacebar over a feature and the edit menu will appear after half a second.

[2020-05-14 15:39] #3843 closed

[2020-05-14 19:49] #2508 closed

[2020-05-14 21:11] quincylvania opened #7603 "Disable copy/paste of features that aren't mostly visible"
To make sure that mapper see the results of their actions, operations in iD are disabled if a large area of the selection is offscreen. This isn't yet the case with copy and paste, meaning mappers can too easily duplicate features of any size without realizing it. With #2508 done, copy and paste are more discoverable, so it's even more important to set safe limits for these operations.

[2020-05-15 02:44] jidanni commented on #6736
At least I could find [a ribbon](https://www.fileformat.info/info/unicode/char/1f380/index.htm).

[2020-05-15 02:49] jidanni commented on #6736
OK I see many Award-Medal on https://www.unicode.org/emoji/emoji-requests.html

[2020-05-15 13:51] #7603 closed, assigned to quincylvania

[2020-05-15 15:05] quincylvania commented on #6745
This is still happening…

I think we need to be more careful about using `stopPropagation` on `pointerup` events since stuck pointers can occur if the map zoom/pan handler doesn't receive this event.

[2020-05-15 15:56] quincylvania commented on #7597
I agree with @manfredbrandl that the existing tutorial and help documentation are good enough for most users. There are always more details to explain in an app as complex as iD, but there's a limit to the amount of instruction people can tolerate at once. iD doesn't have a legend at all—the symbols are meant to be as self-explanatory as possible.

If we do #6079 then we could potentially make dee

[2020-05-15 15:56] #7597 closed, assigned to nobody

[2020-05-15 17:32] #7432 closed, assigned to quincylvania

[2020-05-15 17:37] quincylvania commented on #7432
Turns out the [`hover` media feature](https://developer.mozilla.org/en-US/docs/Web/CSS/@media/hover) can by used to apply CSS only to environments where the primary pointer can hover. I wrapped all of iD's `:hover` selectors in media queries and added `:active` selectors so all buttons still react when pressed on touch devices.

[2020-05-15 20:44] maro-21 opened #7604 "Untranslatable string"
"Center and zoom the map to focus on this feature." isn't on Transifex.

[2020-05-15 21:06] maro-21 opened #7605 "New preset: amenity=music_venue"
A place for concerts.
https://wiki.openstreetmap.org/wiki/Tag:amenity%3Dmusic_venue

[2020-05-16 10:00] Adamant36 commented on #7605
There doesn't seem to be a good consensus on what tag to use for music venues unfortunately. As reflected by the low usage and the proposal never going anywhere.

[2020-05-16 10:34] maro-21 commented on #7605
Do you have any other alternative?

[2020-05-16 12:01] Adamant36 commented on #7605
Nope. Like I said, there isn't currently a good tag for "music venues" and I'm not really into inventing random ones.

[2020-05-16 12:10] maro-21 opened #7606 "Point reverts location when changing type"
When I move a POI to a new place and then change the type of amenity, the POI returns to the original location.

[2020-05-17 01:21] bjarnephys opened #7608 "all objects i Nuuk area is misplaced, about 25m towards W"
this fixpoint is placed at the outerwall in the Asiaq building:
utm22: y=7116148.640   =464353.901
(lat,lon): 64 10 11.527693 N  51 43 59.680975 W (64.16986880361111  , - 51.73324471527778 )

Who knows the 'story' behind the Nuuk objects. I guess the creator
<img width="452" alt="misplacement-in-Nuuk" src="https://user-images.githubusercontent.com/988296/82133515-fd2d9680-97cb-11ea-92fc-4c6e9a7cbc

[2020-05-17 16:09] kymckay opened #7609 "Osmose layer icons turn white after uploading changes"
I have some inkling of what's causing this.

So there's currently a bit of a race condition when first enabling the Osmose layer:
1. Issue details (strings and colours) are all requested from the API upon first toggling the layer.
2. Independently, the rendering begins to tell the Osmose service to request issue tiles from the API as needed to cover the viewport.
3. If any issue tile requests are

[2020-05-17 16:22] kymckay commented on #7609
Actually it does seem like the initial race condition that happens when the layer is enabled for the first time is not related to the icons becoming white after uploading OSM changes.

It seems like iD is purging that cached detail information (because panning the viewport to new tiles still loads white issues) and so it doesn't get re-requested until the layer is toggled off and on again.

I thin

[2020-05-17 16:42] #7609 closed, assigned to nobody

[2020-05-17 16:49] kymckay opened #7610 "Osmose layer white icons race condition"
This is a **very minor** rendering issue that can occur when the Osmose layer is first enabled. Opening this ticket just to track that it's known. Copied from #7609:

User can force re-rendering of the icons (pan viewport or toggle the layer) to correct this once the colour requests are resolved.

[2020-05-17 19:26] quincylvania commented on #7609
@SilentSpike Thanks for reporting and fixing!

[2020-05-17 19:31] quincylvania commented on #7606
@maro-21 Hmm I couldn't reproduce the bug. Are you seeing this on osm.org or on a preview site? Could you be more specific about your setup and what exact steps made this happen? A screencapture is always helpful if that's possible.

[2020-05-17 19:34] quincylvania commented on #7608
Hello and welcome, @bjarnephys.

I'm not sure I understand the issue. This repository is for the iD map editor project, but the screenshot looks like a different application. You can ask more general questions about OpenStreetMap in the [forums](https://forum.openstreetmap.org/).

[2020-05-17 19:34] #7608 closed, assigned to nobody

[2020-05-17 19:35] maro-21 commented on #7606
This bug only occurs occasionally.

[2020-05-17 19:36] maro-21 commented on #7606
This bug occurs only occasionally.

[2020-05-17 19:36] quincylvania commented on #7604
@maro-21 That strings has been removed the `develop` branch and replaced with this one for the next release:

![Screen Shot 2020-05-17 at 3 35 32 PM](https://user-images.githubusercontent.com/2046746/82158151-124e0800-9854-11ea-80cf-109398726017.png)

[2020-05-17 19:36] #7604 closed, assigned to nobody

[2020-05-17 19:44] quincylvania commented on #4414
Verified.

[2020-05-17 20:01] quincylvania commented on #7602
This is an okay idea in theory, but it'd take a lot of development work only to detect a few stray mistags. iD doesn't yet have validations that make server requests so we'd need to do a lot of refactoring. Plus checking every downloaded feature could cause performance issues.

I'd say let's fix #4414 to prevent new mistags and then perhaps someone can create a MapRoulette campaign to fix existing

[2020-05-17 20:01] #7602 closed, assigned to nobody

[2020-05-17 21:37] 1ec5 commented on #4414
That’s because `prop=pageprops` (and thus `ppprop=disambiguation`) only works when setting `titles=` to specific page titles, not when searching with `srsearch=`. Adding an `srprop` might be tracked in [T18449](https://phabricator.wikimedia.org/T18449).

So I think filtering out disambiguation pages would require an extra call to the MediaWiki API for each search result, which would probably not b

[2020-05-17 21:43] quincylvania opened #7611 "Unresponsive second double-click-to-zoom"
When quickly double-clicking or -tapping to zoom the map twice in a row, the second zoom is typically ignored. This appears to happen due to the animation of the first zoom transform affecting the calculation of the tap point in the second interaction.

[2020-05-18 10:08] Mbodin opened #7612 "[preset] `highway=footway` described as “car-related equipment”"
In iD 2.17.3, a polygon with `highway=footway` is described in French as “Équipement autoroutier”¹, which can roughly be translated as “car-related equipment”. This is confusing as `footway` states that this place is not meant for cars. I think that it would be better to describe such places it as if it were `highway=pedestrian` as a first approximation.

Here is an example of such a way: https://

[2020-05-18 14:03] quincylvania commented on #7611
Looking further into this, it looks like a pointerdown event immediately after the first zoom cancels the transform. It isn't a critical issue but a buggy user interaction like this can quickly become frustrating.

[2020-05-18 14:37] #7588 closed, assigned to quincylvania

[2020-05-18 15:16] quincylvania commented on #7572
This happens since the trash button only appears when a tag is present, but I agree it'd be nice to have a way to close that UI anyway.

[2020-05-18 15:22] #7581 closed, assigned to quincylvania

[2020-05-18 15:23] quincylvania commented on #7581
@maro-21 Yeah, I guess it doesn't make sense for no direction to have the right of way 😂

@animesh-007 We had to add another field to change the options. Check out the commit to see how to do this in the future.

[2020-05-18 16:21] boothym opened #7613 "iD adds building=yes when offering to upgrade amenity=bus_station tag"
When an amenity=bus_station is upgraded, it adds the following tags: building=yes, bus=yes, and public_transport=station.

This is a problem when the bus_station is an area around the place where buses stop / turn, and not just on the bus station building. And it's also something that users might not even notice when clicking to upgrade the tag in iD.

Simply, iD should not add building tags in th

[2020-05-18 16:36] quincylvania opened #7614 "Add endpoints for setting the changeset parameters programtically"
Tasking manager relies on changeset comments and hashtags to gather mapping campaign statistics, but their development team is having trouble ensuring these values with embedded iD. In #7504 we made started to persist the URL values through multiple saves, but TM needs more control during the iD session. We should add endpoints so client apps can manually set the values.

See also https://github.c

[2020-05-18 17:14] quincylvania commented on #7443
@hungerburg I think I understand what you're getting at, but I don't see a problem with the existing UI.

<img width="358" alt="Screen Shot 2020-05-18 at 12 51 56 PM" src="https://user-images.githubusercontent.com/2046746/82239436-c019ef00-9906-11ea-86c9-1bde59ea3bbe.png">

If a mapper picks an incorrect fix, I'd say it's probably because they think it's correct, not because they're afraid of igno

[2020-05-18 17:14] #7443 closed, assigned to nobody

[2020-05-18 17:16] maro-21 commented on #7581
We should change `highway=stop` as well, I think...

[2020-05-18 17:20] quincylvania commented on #7581
We can't since `direction=both` is used for [all-way stops](https://en.wikipedia.org/wiki/All-way_stop), which are very common in the US and some other places.

[2020-05-18 17:21] maro-21 commented on #7581
I see, ok.

[2020-05-18 17:39] #7578 closed, assigned to quincylvania

[2020-05-18 17:42] quincylvania commented on #7578
I kind of wish people would use [`location`](https://wiki.openstreetmap.org/wiki/Key:location) for some of these but so it goes.

[2020-05-18 19:13] claysmalley opened #7615 "Don't offer to upgrade tags of railway platforms with access=private"
When a mapper selects a `railway=platform` with the `public_transport=platform` tag missing, the validator will suggest to add that tag ("Train Platform has incomplete tags", "Upgrade the tags"). Currently this also happens on railway platforms inaccessible to the public (e.g. with `access=no`, `access=private`, etc.). In this case adding the `public_transport=*` tag would be misleading—these usua

[2020-05-18 19:23] #4977 closed

[2020-05-18 21:04] maro-21 opened #7616 "Don't add capacity=1 to amenity=parking_space"
Capacity=1 shouldn't be added by default. I often use `amenity=parking_space` to map more than one single space. So for such features iD suggests that `capacity=1` is missing. Everyone can add capacity manually.

[Wiki](https://wiki.openstreetmap.org/wiki/Tag:amenity%3Dparking_space): "If an area represents more than one parking space (of equal kind), use capacity=* to define the number of parking

[2020-05-18 21:14] maro-21 opened #7617 "iD wants to remove internet_access=terminal"
I added `internet_access=terminal` to a library because there are computers in the library which one can use.
There was a tag `wifi=yes` there.
It was some time ago before adding validation to iD.
When I now open this feature, iD wants to remove important information:
Suggested updates:
[code]

[2020-05-18 21:14] #7330 closed

[2020-05-18 21:21] quincylvania commented on #7330
The reason clicking the label doesn't appear to do anything is that iD can't actually select a feature while resolving conflicts. Instead, it's centering the map on the focused feature. But if iD has to zoom too far out then nothing would display. I changed it to render the focused feature at any zoom level, which hopefully fixes some of the confusion.

The conflict resolution UI has lots of room

[2020-05-18 21:41] quincylvania commented on #7617
Yes, iD ignores existing values for this type of tag upgrade. While not ideal, I would call this the least bad of all the possible behaviors since it doesn't leave conflicting values and erroneous results are usually glaring.

As for this particular case, `internet_access=wlan` is the widely accepted way to tag the presence of wifi. Regrettably there's no great way to tag multiple types of interne

[2020-05-18 21:41] #7617 closed, assigned to nobody

[2020-05-18 21:57] quincylvania commented on #7616
@maro-21 The `amenity=parking_space` tag exists only to delineate singular units of parking. Adding `capacity=1` by default helps convey this to mappers and encourages them to be explicit if they decide to break this guideline for some reason. Personally I don't understand those supposed exceptions—if you can't accurately map single spaces then there's no need to map spaces at all, I'd just use th

[2020-05-18 21:57] #7616 closed, assigned to nobody

[2020-05-18 21:59] maro-21 commented on #7617
Why do you think it's not a bug? It suggests removing important information.
I don't see any conflicting values here, it is possible that internet access in a library is terminal together with wifi.
iD could replace it with `internet_access=wlan;terminal`
Semicolon separated values are commonly used https://taginfo.openstreetmap.org/keys/internet_access#values

[2020-05-19 13:36] quincylvania commented on #7617
@maro-21 I'm talking about the general case of this type of tag upgrade. iD can't know every valid combination of tags. For this specific case it'd be okay to combine the tags, but what if the existing tags were `internet_access=no` + `wifi=yes`? Not upgrading the tags would leave them conflicting, as would upgrading to `internet_access=no;wlan`.

[2020-05-19 14:06] quincylvania commented on #7615
Hello and welcome, @claysmalley. This is a tricky issue since transit tagging is applied so unevenly in OSM, but I'm pretty sure what iD is doing is okay.

Despite the name, `public_transport=platform` defines only the place where passengers board or disembark a transit vehicle and doesn't imply "public" access. As you know, that's what the `access` tag is for. Plenty of mass transit infrastructur

[2020-05-19 14:26] #7613 closed, assigned to quincylvania

[2020-05-19 15:01] boothym opened #7618 "Search OSM notes by ID"
Similar to how you can search for nodes, ways and relation ids in the search box, it would be good to have this option for OSM notes as well.

![Screenshot_2020-05-19 OpenStreetMap](https://user-images.githubusercontent.com/16965772/82342837-0136ff80-99ea-11ea-8f3b-9d7dbf6a285f.png)

I don't know if it would even be possible to fetch the highest current note id and use that as an upper limit (plus

[2020-05-19 15:27] jjiglesiasg opened #7619 "Boundaries should be easily un-anchored from physical objects"
Boundaries are polytical NON existing objects that should be easily detached from actual physical objects like roads, rivers, etc.

The disconnection feature of the right click should be applicable for large sections of these "forced" juntions instead of node by node. Indeed roads/waterways and boundaries should not be possible to be connected at all. Due to different nature, and boundaries not be

[2020-05-19 16:08] #7186 closed

[2020-05-19 16:54] quincylvania commented on #7619
@jjiglesiasg You can click-and-drag on the map while holding shift to lasso all the connection nodes and then use the Disconnect command to detach them all at once. Perhaps this is sufficient?

[2020-05-19 17:05] maro-21 commented on #7619
I don't agree. I had a situation when I had to connect a road to a boundary because of the names of the streets in two cities. If I didn't correct, overpass would find the name of a street which belongs to the other city.

[2020-05-19 17:38] maro-21 commented on #7618
What would you use it for?
If I see a note that I can resolve, I press Edit on this area.

[2020-05-19 18:36] #7574 closed, assigned to quincylvania

[2020-05-19 18:37] quincylvania commented on #7574
Neat tag. I used the alternative name "Free Box" for the English locale since I'm certain people would mistag donation-only drop-off boxes as "give boxes".

[2020-05-19 19:41] #7553 closed, assigned to quincylvania

[2020-05-19 19:42] quincylvania commented on #7553
@jgscherber Thanks for reporting! This was a weird bug that'd probably been around for quite awhile.

[2020-05-19 21:24] #1981 closed

[2020-05-19 21:32] quincylvania commented on #1981
A lot's changed in six and a half years!

We now have pointer events (#5505) and can thus treat stylus and mouse interaction differently. I don't have a graphics tablet but selecting nodes without dragging them using an Apple Pencil on iPad was near-impossible, as described. I added a higher pixel tolerance for styluses which solved the issue. Selecting ways and areas appears to be unproblematic,

[2020-05-20 01:50] claysmalley commented on #7615
Fair enough. I can't think of any data consumers that currently depend on this distinction.

[2020-05-20 03:51] jjiglesiasg commented on #7619
Hi quincylvania. there is no possibility to disconnect multiple nodes because boundaries are part of relations and ID do not allow to disconnect following your example.

maro-21 I dont know under what exact circunstances your example falls, but again Boundaries are NOT existing objects and roads, waterways, etc, are REAL objects that needs to be adjusted, corrected, and redrawn, fighting with hund

[2020-05-20 04:06] jjiglesiasg opened #7623 "Crossing way-waterway not warning shown in ID"
Dont know if reported already, but in any crossing way-waterway there is NO Warning from the system if they share a connection node with any attribute, if there is NO node shared between the way-waterway crossing, them the system raise a warning in Issues and suggest correction.

The connecting node should be a Ford, or be added a Tunnel or a Bridge for this crossing (way-waterway)..

[2020-05-20 08:58] hungerburg commented on #7592
Hello Manfred, did you get anywhere? Here a fresh newbie _Fußweg_ https://www.openstreetmap.org/way/803294117 - Perhaps it it easier to change the meaning of footway in OSM instead?

[2020-05-20 13:19] quincylvania commented on #7615
@claysmalley Great, thanks for understanding!

[2020-05-20 13:19] #7615 closed, assigned to nobody

[2020-05-20 13:24] quincylvania commented on #7623
Yep, this is #7418.

[2020-05-20 13:24] #7623 closed, assigned to nobody

[2020-05-20 14:22] teiszler opened #7624 "Marker Animation along a Way"
Good day,

We have a fork of iD in which we have added our own features and are using the editor to create simulation scenarios. The simulation takes place in a separate system, but we leverage iD to allow the user to generate the content of the scenario (using the osmChange file that is generated as input into the simulation). While the simulation is in progress, we would like to update the pathw

[2020-05-20 15:00] quincylvania commented on #7580
Done in #7584 by @animesh-007

[2020-05-20 15:00] #7580 closed, assigned to nobody

[2020-05-20 15:11] quincylvania commented on #7579
Done in #7585 by @animesh-007.

[2020-05-20 15:11] #7579 closed, assigned to nobody

[2020-05-20 16:08] #7486 closed, assigned to quincylvania

[2020-05-20 18:48] #7614 closed, assigned to quincylvania

[2020-05-20 18:55] quincylvania commented on #7614
Okay, in addition to the URL hash values on startup you can now set the default parameters at any time like this:

[code]

These populate the save inspector when it's first loaded. The mapper can still change the values as they wish and the edited values persist until the changeset is saved, iD is restarted, or `reset()` is called on the `coreContext` instance.

[2020-05-21 06:05] Adamant36 opened #7625 "Add preset for amenity=ski_rental"
It's similar to the other amenity tags related to renting things. There's currently about 500 uses of it. None of the other ways ski rental places are tagged are close to that in usage. Also, having a preset would be good for when I add some ski rental brands to the NSI.
https://wiki.openstreetmap.org/wiki/Tag:amenity%3Dski_rental

[2020-05-21 13:58] quincylvania commented on #7625
There doesn't appear to be consensus between this and using `ski:rental=yes` or `rental=ski` on `shop=ski` or `shop=rental`. I understand that not every ski rental place sells skis, but many, many do and it's a burden on data consumers to support yet another `amenity` tag versus a standard `shop` tag.

[2020-05-21 14:05] quincylvania commented on #7586
We currently can't make combo fields translatable without limiting the options to a fixed list (see #2708). There are all kinds of service roads people might make up tags for, so it's important to allow custom values here.

[2020-05-21 14:08] #7586 closed, assigned to quincylvania

[2020-05-21 14:43] #7573 closed, assigned to quincylvania

[2020-05-21 14:44] quincylvania commented on #7573
@boothym I think I fixed this but could you link a test location?

[2020-05-21 17:25] Adamant36 commented on #7625
There's a lot of purely rental places that aren't shops though. There's no reason they can't just be tagged as amenity=ski_rental and then the various other rental tags can be used where its a ski shop that also rents. Its already done in many other instances. You cant just something as rental=ski or ski:rental without another tag anyway. In most cases where rental=ski was used it was being co-tag

[2020-05-21 18:33] #7156 closed

[2020-05-21 19:07] quincylvania commented on #7624
Greetings and welcome to the repo, @teiszler. Always great to hear from people using iD in interesting ways.

You're right that adding an entity isn't the best way to show a marker. Unfortunately, iD has been designed for a single user case and so isn't easily extendable, but it should be possible to do what you're talking about.

iD has a number of non-OSM layers loaded by `svgLayers`. You can in

[2020-05-21 19:07] #7624 closed, assigned to nobody

[2020-05-21 19:42] teiszler commented on #7624
Thanks @quincylvania for the quick response. I will take a look at layers.js using svgGeolocate as an example. We have found iD to be fantastic in terms of allowing a user to design a simulation scenario. Originally we were using the existing features that were already present in iD and just coercing them for our use case, but we now have our own custom feature presets that we are using. If I can

[2020-05-21 19:54] JamesKingdom opened #7626 "Taxiway's are treated as non-routable"
As seen here ![](https://i.imgur.com/jXOwKpI.png) The taxiway is the only way to access the service road, so shouldn't it be counted as routable?

[2020-05-22 06:14] manfredbrandl commented on #7626
I think that’s okay. The solution is to have a highway-tag for (part of) the taxiway.

[2020-05-22 16:18] blackboxlogic opened #7627 "More flexible format in 'Search Features' when searching by element id"
Currently, User can search for a specific feature with a 'Search Features' query like `n1234`. When I copy an element from JOSM (or other places) I get a string like `node 1234`. But when I search in iD for this string, I get nothing. When I search for `1234` it offers `node 1234` as an option.

I suggest supporting search queries of the form `node 1234`.

After looking at the code...
https://gith

[2020-05-22 17:51] maro-21 commented on #7617
The solution could be
 if `internet_access` exists, do nothing
 else update `wifi=yes` to `internet_access=wlan`

[2020-05-22 18:27] manfredbrandl commented on #7627
It would be great if we could allow more than one translated word for the regex, e.g. „Punkt“ and „Knoten“ for the german translation of node or maybe even „Weg“ and „Fläche“ for way.

[2020-05-22 18:30] 1ec5 commented on #7627
I think this would be pretty straightforward. Ideally, iD would expose a translatable string for “node <kbd>id</kbd>” in Transifex. With the current locale’s translation in hand, iD could convert that into a regex dynamically.

Or iD could expose two translatable lists of prefixes and suffixes (similar to the presets’ synonym lists), which would allow for variation. Hopefully no language needs bot

[2020-05-22 21:22] boothym commented on #7627
Would it be possible to update the regex to exclude spaces before or after element ids? As that would solve #7467.

[2020-05-22 22:35] boothym commented on #7573
Weird - I've looked at many of the locations I normally edit in and where I have seen this before, but now the Esri (clarity) imagery only shows the zoom information. Very strange!

Thanks for making the changes, will let you know if the info reappears...

[2020-05-25 05:42] Katze0815 opened #7631 "only standart attributes in favorites"
**Hello,**

favorites are a great thing in iD, I missed this feature for a long time.

In actual version I dont found a way to create a favorite, with more then the standart attributes.

e. g.

amenity=bench

I need:
amenity=bench
material=wood
backrest=yes
seats=3

I need also more then one favorite for "Bench", each with different attributes.

Also more then one favorite for ways, with different

[2020-05-25 11:12] hanchao opened #7632 "Add cuisine= bubble_tea in taginfo.json"
Bubble tea (also known as pearl milk tea, bubble milk tea, or boba) (Chinese: 珍珠奶茶; pinyin: zhēnzhū nǎichá, 波霸奶茶; bōbà nǎichá) is a Taiwanese tea-based drink. It is popular in most parts of East and Southeast Asia. Tag it with amenity=cafe and cuisine= bubble_tea.

![Bubble_Tea](https://upload.wikimedia.org/wikipedia/commons/thumb/a/a2/Bubble_Tea.png/200px-Bubble_Tea.png)

https://wiki.openstreetm

[2020-05-25 14:28] blackboxlogic commented on #7627
Ignore whitespace before, after or between:
`/^\s*(node|way|relation|[nwr])\s*([0-9]+)\s*$/i`

[2020-05-25 20:59] jidanni opened #7633 "Adjust Imagery Offset not easy for hundred meter cases"
Adjust Imagery Offset works great.
But it has never been tested in cases where one needs to tug it 100 meters,
![8527-0](https://user-images.githubusercontent.com/1230959/82842763-5359b280-9f0d-11ea-9b57-e3116e00d389.jpg)

https://www.openstreetmap.org/edit?#map=18/24.29681/121.03853 (Bing).

A few adjustments would make it easier for users to adjust longer distances with each mouse grab.

Sure, "

[2020-05-25 22:35] maro-21 commented on #7608
The buildings countours are at the same place as on Bing imagery.
So if they are in the wrong place, then imagery offset may not be properly set.
How did you measure this difference?

[2020-05-25 22:48] bjarnephys commented on #7608
I know the position of the reference/fix point; it is placed in the building correctly in the utm22 map I have worked for the official map organization in Greenland, Asiaq, the fixpoint must be correct!
---------------------------------------------------------Bjarne Hansen Mobil:(+299)565535, Suloraq 3-504, 3905 Nuuk, Greenland, DK
Email: bjarnephys@yahoo.dk.
Kontakt mig per facebook, har kontoen:

[2020-05-25 22:56] bjarnephys commented on #7608
 I know the position of the reference/fix point; it is placed in the building correctly in the utm22 map. I have worked for the official map organization in Greenland, Asiaq. OpenStreetMap objects must come from an import of objects from Asiaqs map, but something has gone wrong with the projection -I would really like to know, what was done in this process.  

-------------------------------------

[2020-05-25 23:12] boothym commented on #7618
Well, if there is more than one note to fix in the area, they can be edited at the same time.
Just like with you can do with a node or way id just now.

Would also help when trying to find the next note to edit if there are many notes in the same area. Going directly to it is better than dragging the map around with all the OSM data, trying to find it.

[2020-05-26 13:58] quincylvania commented on #7633
@jidanni The vast majority of imagery that needs adjusting only requires a few meters offset, so we're going to tune the UI for this use case. A few extra clicks for a rare, extreme offset seems fine. You can always just type the offset if dragging is a pain.

[2020-05-26 13:58] #7633 closed, assigned to nobody

[2020-05-26 14:06] quincylvania commented on #7631
Hi and welcome, @Katze0815. Thanks for testing the v3 preview branch! I'm glad you're finding preset favorites helpful. Custom favorites are a logical next step, but we still need to ship the initial version before we can expand it further.

For now, you can copy and paste a selected feature with keyboard shortcuts to quickly add duplicate features with the same tags.

[2020-05-26 14:39] Katze0815 commented on #7631
Hi,

I'm glad too, to hear custom favorites will comming!

Actually I use a the software ReMouse, that record mouse moves and keyboard actions. I can replay the recorded actions with different keyboard shortcuts. With this I can create userdefind objetcs in a fraction of a second.

No question, a solution integrated in iD is the best way.

Thank you for your work to make iD better and better!

Kin

[2020-05-26 14:41] quincylvania commented on #7631
@Katze0815 No hard promises here, but this is something I think we should look into eventually to see if it's a fit for iD. I doubt it'd happen anytime soon though.

[2020-05-26 14:45] #2949 closed

[2020-05-26 14:47] Katze0815 commented on #7631
... on yes, iD need this!

Favorites are good, but the mappers need custom favorites. I spend not the most time not to place new objects, I spend most time to edit the attributes.
**And custom favorites will save a lot of time!**

[2020-05-26 15:22] quincylvania commented on #3805
Closing this as stale and probably fixed. Let us know if it's still an issue.

[2020-05-26 15:22] #3805 closed

[2020-05-26 21:21] #7590 closed, assigned to quincylvania

[2020-05-27 18:09] matkoniecz opened #7634 "Consider adding man_made=geoglyph to presets"
https://wiki.openstreetmap.org/wiki/Tag:man_made%3Dgeoglyph

[2020-05-28 00:43] kaligrafy commented on #1614
Here is a [patch](https://gist.github.com/kaligrafy/c7b907a4cf6bf7866b46ca6a9c2a2600) and two gist: one for the [action](https://gist.github.com/kaligrafy/5ad25e6a4ce1e0809623f1fac7700501) and one for the [operation](https://gist.github.com/kaligrafy/886b25c24a73195b05b9d3ba33e99894).
This patch and code is for the v3_prototype branch.

You must first select the target way (the one that will follo

[2020-05-28 08:07] MASangys opened #7635 "Adding JOSM terracer feature into iD editor"
As a user from Malaysia, almost 80 percent of houses in Malaysia are in terrace form (locally call it as Taman or Garden in English). Plus commercial building are also in terrace form. So, I would like to request JOSM terracer that can spilt way equally into several block plus auto filling housenumber to be added in iD. JOSM is pretty hard to use compare to iD and there would be more easier if som

[2020-05-28 10:04] kymckay commented on #7543
I think is sensible

[2020-05-28 13:37] quincylvania commented on #7635
Greetings and welcome, @MASangys. We're tracking this feature at #6988—other mappers have been missing this tool as well.

[2020-05-28 13:37] #7635 closed, assigned to nobody

[2020-05-28 14:16] quincylvania commented on #1614
@kaligrafy Looks cool! Could you create a branch and draft pull request for what you've done so far? It's hard to work with code in gists.

Also, we're not updating the `v3-prototype` branch so this will need to go into `develop`, but only a few minor changes are needed for that.

[2020-05-28 14:32] kymckay commented on #6988
Hmm 🤔 @GenericError Is this still WIP for you?

Something I've considered implementing also, but always wondered what the best UX for such an operation would be.

It would be nice to also allow arbitrary splitting of an area using any drawn line across it (with the same operation) if the user selects the area and a way element.

Similarly, it would be nice to allow the user to split along the mino

[2020-05-28 16:47] kaligrafy commented on #1614
OK, I'll try with the develop branch and add a pull request. I tested it a bit more this morning. It works most of the time, but there can be some issues when following can be done on two sides.

[2020-05-28 17:25] MASangys commented on #6988
Truly support this feature!

[2020-05-28 19:02] quincylvania commented on #6904
So lately I've been doing a lot of work to build touch/stylus support for iD that works as seamlessly as possible with the traditional mouse and keyboard workflows. Unfortunately, the existing move mode doesn't really work for touch input since touches can't move around the map while "up". Thus, two-step operations like the one described are unmanageable and I've actually been thinking about ways

[2020-05-28 19:26] quincylvania commented on #7599
I'd like to try enabling click/tap-and-drag to move selected features without entering a special transform mode. It's simple, intuitive, and consistent with other graphics editors.

Dragging unselected features would not be supported since otherwise it would be difficult to navigate the map in dense areas without accidentally dragging something. The existing limits would remain in place, so moving

[2020-05-28 21:04] maro-21 opened #7636 "New preset: highway=proposed"
It's a very popular tag, used over 85,993 times.
https://wiki.openstreetmap.org/wiki/Tag:highway%3Dproposed

I often use it because in my city they often create new name for a future street and create addresses with this street, although sometimes the road isn't physically build.

Fields:
- Type
- Name
- Source

The last tag is important, because proposed roads are not visible on the ground so fil

[2020-05-28 21:16] quincylvania commented on #7626
@JamesKingdom I've also been annoyed by this in the past, but I don't see how we can change this behavior given the limits of the OSM data model. Routers aren't expected to treat lines without a `highway` or `route=ferry` tag as routable, so silencing the warning in iD wouldn't actually fix the connection issue. Piers, athletic tracks, and transit platforms suffer from the same problem. @manfredbr

[2020-05-28 21:16] #7626 closed, assigned to nobody

[2020-05-28 21:26] quincylvania commented on #7636
Hmm this one's tricky. As the wiki notes, proposed features are controversial since they're not verifiable on-the-ground. Plus there could be plans for non-authoritative sources, multiple different plans, plans that change dozens of times, plans that get pushed back years, and plans that get cancelled altogether. I definitely don't think we can have an addable/searchable preset; I'm not sure about

[2020-05-28 21:32] maro-21 opened #7637 "New preset: man_made=goods_conveyor"
Add `man_made=goods_conveyor`
https://wiki.openstreetmap.org/wiki/Tag:man_made%3Dgoods_conveyor

Because it has been rendering on OSM Carto since last month.

[2020-05-28 21:37] maro-21 commented on #7636
But it's used anyway. So it would be good to see the preset name if someone click such feature while editing. That's why I suggested to be unsearchable.

[2020-05-29 03:54] jidanni opened #7638 "Allow minimap to be different from main background"
Background > "Show Minimap" is great, but should be allowed to be decoupled from the main background.

That way our main background could be the deep forest of a satellite image,
and our minimap could be Standard Carto.

A minimap of a deep forest is useless as it is all green.

[2020-05-29 04:46] jidanni commented on #7633
(Yes, but we don't know that yet. That's is why we are tugging on the map, little by little.)

[2020-05-29 13:47] quincylvania commented on #7636
We don't add presets just because people are using a tag. People can make up tags for anything and often do.

Unsearchable presets have their place, but mappers who encounter them may understandably assume the feature type is "official" and get confused when they can't add their own.

[2020-05-29 13:48] quincylvania commented on #7638
This sounds okay, but we'd need to figure out a more compact UI for the imagery selection than the long list of radio buttons.

[2020-05-29 17:11] #7576 closed, assigned to quincylvania

[2020-05-29 17:24] quincylvania commented on #7576
I tried a lot of different ways to do this and found that it's pretty complicated to disable page scroll bouncing without also disabling scrolling for all elements within iD. I implemented a basic solution that only works for standalone iD (e.g. on the preview site but not on osm.org). To me it makes iD feel less like a webpage and more like a real app, which is great.

[2020-05-29 19:14] quincylvania opened #7639 "Distribute iD as a mobile app"
This idea may sound rather ambitious, but hear me out 😄

Over the past few months I've been putting in a lot of work toward achieving parity between mouse and touch interaction methods in iD. For a taste, see these closed issues: #5505, #7423, #6049, #2128, #2677, #7415, #6598, #7380, #7396, #7577, #7432, #1981, #7590.

The results are quite promising. I've done a few medium-sized changesets with

[2020-05-29 19:42] jgscherber opened #7640 "Mid-way toggle is too close to top bar to easily grab"
![image](https://user-images.githubusercontent.com/6207661/83298662-752b9180-a1ba-11ea-947d-21b4fc5aa0e9.png)

The toggle seems to stay a fixed distance from any edge of the map view, but with the top bar coverting part of the view the mid-way toggle is right on edge of it, making it hard to grab.

[2020-05-29 21:16] quincylvania commented on #7640
What an interesting little usability bug. I'd never noticed this but now I can't unsee it. The minimum distance is probably just hard-coded somewhere and was set before we made the toolbar taller to add the labels.

[2020-05-30 12:30] boothym opened #7641 "Add shop=trophy preset"
https://wiki.openstreetmap.org/wiki/Tag:shop=trophy

Don't know if there is a suitable icon, couldn't see a trophy from a brief look at the maki icon set.

[2020-05-30 19:08] jidanni commented on #7638
Ah! maybe just have a toggle: minimap should use:
- current map I am using in iD (openstreetmap.org/edit) [present single choice], or:
- current map I am using in OSM (openstreetmap.org/)  [new choice one can toggle to]

[2020-05-30 22:11] manfredbrandl commented on #7639
I propose that the OSM Foundation should publish the APP. A possible Name may be „OSM Editor iD“.

[2020-06-01 13:33] #7640 closed, assigned to nobody

[2020-06-01 13:40] quincylvania commented on #4421
@1ec5 Have you seen this lately? I've been using iD in Firefox routinely on a Mac and never encountered a crash.

[2020-06-01 13:45] quincylvania commented on #1614
@kaligrafy Let me know if you need any assistance! I can help with the code issues once the PR is up.

[2020-06-01 13:51] #7641 closed, assigned to quincylvania

[2020-06-01 13:53] quincylvania commented on #7641
Maki icons are focused on traditional map features. For general objects like this we tend to have better luck with [Font Awesome](https://fontawesome.com/) (or drawing our own).

[2020-06-01 14:28] quincylvania commented on #6744
With local country coding, the address field doesn't call to nominatim anymore. But iD could still be looking at the nearby `place` and `boundary` features downloaded from OSM.

[2020-06-01 15:02] quincylvania opened #7643 "Larger touch targets for map data"
Fingers are larger than mouse pointers, so touch targets have to be larger than mouse targets to avoid frustration. The map data is presently rendered pretty thinly, and is thus hard to select and drag with touches. We should address this without negatively affecting the mouse experience.

[2020-06-01 15:18] cebderby opened #7644 "change displayed text for One Way default"
The currently displayed label "Assumed to be [No]" for a selected way is triggering some users to wrongly add explicit oneway=no tags to the OSM database.

This text needs to be changed to "Defaults to [No]" which is the correct description and less likely to invite unnecessary tag addition

[2020-06-01 16:25] #7643 closed, assigned to quincylvania

[2020-06-01 16:29] quincylvania commented on #7643
So the simplest way to do this was to change the CSS styling based on the pointer type of the last event. This is a proxy indicator, but unless the mapper is switching input devices constantly for some reason it should work fine. Even if they do, worst case scenario is they have to be more precise with their first input after each switch.

[2020-06-01 16:39] quincylvania commented on #7644
Hi and welcome, @cebderby.

I see your point, but as far as I'm aware there's no harm in explicitly adding implicit tags like this. I've seen plenty of one-way streets left without a `oneway` tag, so adding `oneway=no` gives a stronger indication that the value has been reviewed and is accurate. Sometimes a two-way road was previously one-way, and thus adding `oneway=no` helps avoid an erroneous `

[2020-06-01 16:39] #7644 closed, assigned to nobody

[2020-06-01 19:20] kaligrafy commented on #1614
I am working on a second action called smooth to add automatic curves to lines. When I'm done with it, I will review the code and provide a pull request for both actions.

The follow action does not work all the time (it fails when there are two sides to choose from or when the first point and last points are the starting and ending nodes of the target line). I will try to fix them.

I have a ques

[2020-06-02 11:28] matkoniecz commented on #7636
I would strongly against promoting this kind of unverifiable, controversial type of data that is never based on survey on mapping from aerial images.

[2020-06-02 11:32] matkoniecz opened #7645 "validator colored background is not clickable (yellow/red), user must target warning text"
It would be great - especially for mobile devices - to be not obligated to target small text area, but be able to click also on the yellow background.

I understand technical reasons (yellow area is likely single for all warnings and there is a single red area for all errors), but it would be nice to add larger invisible catchment area to allow less precise clicks.

![screen01](https://user-images

[2020-06-02 13:39] quincylvania commented on #7636
@maro-21 After further consideration, I think this type of change needs to be discussed in the broader OSM community first. An unsearchable preset may seem like a minor thing, but it'd be a significant change to support proposed features in any way.

[2020-06-02 13:39] #7636 closed, assigned to nobody

[2020-06-02 13:53] quincylvania commented on #7645
This UI is essentially leftover from iD before we added the real time validator. I'm not sure it makes sense to make a list's container clickable, but there are certainly things we could improve.

[2020-06-02 16:26] kaligrafy commented on #1614
Now the gist is fixed for any kind of ways for source and target (closed, not closed, clockwise, counterclockwise) and no need to select the two intersecting points if there are only two between the source and target ways. I will post a pull request soon.

[2020-06-02 16:43] mfbehrens opened #7646 "hide piste arrows when pistes are disabled"
![image](https://user-images.githubusercontent.com/58851724/83546234-a977b880-a500-11ea-8d4f-c47f198e6bd4.png)
![image](https://user-images.githubusercontent.com/58851724/83546266-b4cae400-a500-11ea-8c40-18fe3d10b528.png)
When piste information is disabled the track is still considered as oneway however this should not be the case.

[2020-06-02 17:23] quincylvania opened #7647 "Disable feature dragging when a pointer is already down"
Accidental node dragging is a bigger issue with touch input than mouse input since it's harder to pan and zoom the map by other means (e.g. trackpad, scroll wheel, arrow keys). One common instance I encountered was dragging nodes with the second pointer while pinching-to-zoom. We can avoid this and similar scenarios by not allowing drags to start when a pointer is already down.

[2020-06-02 17:43] quincylvania commented on #1614
Great! Looking forward to the PR.

Sounds interesting, but please make a separate PR since it's not related to following a path.

Simply put the file under [svg/iD-sprite/operations/](https://github.com/openstreetmap/iD/tree/develop/svg/iD-sprite/operations) with the operation ID and it will be loaded automatically. Don't worry about the icon too much, we can work on that later.

[2020-06-02 17:46] boothym opened #7648 "Do not show current relation in dropdown"
When adding a new bus route relation, I accidentally clicked a relation in the dropdown next to the one I wanted to choose, as it had a similar name.

However this relation was already added to the way - should it even be available to select from the dropdown? Surely relations can only be added to a way once?

[2020-06-02 18:05] 1ec5 commented on #7648
I’ve previously mapped bus routes that loop back over themselves, requiring double membership, but I don’t know how common that is.

[2020-06-02 18:09] quincylvania commented on #7648
Even if it's really uncommon, if it's possible then we should support it in iD. But I agree it's too easy to accidentally add the same relation twice. We should at least style these values differently in the list and possibly add a label.

[2020-06-02 18:23] kaligrafy commented on #1614
Manual:

- First select the target way (the one that willl follow)
- Then select the source way (the one to follow)
If only 2 points intersect both the source and target ways, just press the F key.
If more than 2 points intersect both source and target ways:
- Add the starting intersection point to the selection
- Add the ending intersection point to the selection
- Press the F key.

[2020-06-02 19:17] boothym commented on #7648
Let's say a route uses the same roads in and out of a bus station, or the same roundabout twice - how would that work? Would you just add the same relation to the way twice (perhaps with forward and backward roles?)

Maybe another issue should be opened for this, but what about listing recently used relations first in the dropdown? That way you don't have to scroll down to find your last used rela

[2020-06-02 20:55] DujaOSM commented on #7619
I propose that selecting a way (open or closed) and issuing "disconnect" (via context menu or D key) disconnects all its nodes from all adjacent ways, except for those that it shares a relation with. That would be a huge time saver.

 On many occasions, I've encountered good-faith but clueless mapping where everything is glued together and it's almost impossible to make any changes in geometry of

[2020-06-03 00:01] maro-21 commented on #7636
Proposed highways aren't rendered on maps anyway. No one will be hurt.
This tag is often used anyway, no matter if there is a preset or not.

Quincy: Why? This preset is for mappers, not for renderers. Not having a preset won't stop people from adding such roads.

[2020-06-03 10:04] matkoniecz commented on #7636
Collecting in OSM data that should not be collected in OSM in undesirable (`highway=proposed` is quite controversial here)

But it will reduce it and they will be lower chance of misleading people. Adding such data is controversial among OSM community.

There is more than one map, see for example https://jakdojade.pl/krakow/trasa/ that for some reason shows them (along with other random stuff like

[2020-06-03 15:06] quincylvania opened #7652 "Enable disconnecting two selected ways from each other"
Since we did #4245 you've been able to disconnect the selected way from all connected ways. You can select specific vertices to limit the disconnection. We should also allow limiting by connected ways, i.e. only shared nodes are disconnected.

Example use case:

<img width="935" alt="Screen Shot 2020-06-03 at 11 01 42 AM" src="https://user-images.githubusercontent.com/2046746/83653493-dae89680-a58

[2020-06-03 17:35] vanjakom opened #7653 "Incorrect reorder of relation members when not all members are loaded"
Initially I thought that issue is appearing when route is made circular, after discussion on Slack and looking into code I was able to narrow it down to case when relation is not fully loaded and new member is added.

How to reproduce:
https://preview.ideditor.com/release/#background=Bing&disable_features=boundaries&map=16.00/43.8434/22.3387
Select path going from centre to north-east, add it to h

[2020-06-03 18:51] #7652 closed, assigned to quincylvania

[2020-06-03 19:21] quincylvania commented on #7652
I did this! It feels like a natural interaction, I'm sure mappers expected it to work like this already. As a bonus, you can also run Disconnect on multiple ways that don't share nodes, disconnecting them each entirely.

[2020-06-03 20:30] Elefant-aus-Wuppertal opened #7654 "make covered=* for amenity=telephone to a three-options field and booth=* to an undertag"
Usually, the key covered=* has the values "yes" and "no", but for telephones there is a third special value, covered=booth to show that a phone has a full-cover.

This tag exists on the one hand to differentiate between a full-cover (booth) and just a roof (covered=yes) for a phone, and on the other hand because shelter=yes would not really fit for a telephone (it has not a shelter in sense of wha

[2020-06-03 20:32] bhousel commented on #7654
see #5088

[2020-06-03 20:34] Elefant-aus-Wuppertal commented on #7654
Hmm, okay. I see some mappers don't like covered=booth. But then, my suggestion would be to make booth=* to an addable and not a standig tag, because not every telephone at all does have still a booth in these times. Some ones do have, but many others not. Some other tags would apply on many many more phones, like payment:coins=yes etc.

booth=* is needed, but should be an addable one.

[2020-06-03 20:39] Elefant-aus-Wuppertal commented on #7654
Or maybe I should start a discussion about how telephone covers get tagged? There a some options: covered by a roof, by a "hood", and by a "booth".

[2020-06-03 20:57] Elefant-aus-Wuppertal commented on #7654
Oh yes, okay, I'm going to do that

[2020-06-03 20:57] bhousel commented on #7654
For context, around the summer of 2018 I tried working through this and a few other seemingly simple issues with the folks on the tagging mailing list. https://lists.openstreetmap.org/pipermail/tagging/2018-June/037336.html

I don't think it went particularly well, and that was 2 years ago.

[2020-06-03 21:02] Elefant-aus-Wuppertal commented on #7654
Oh yes you are right. I read the discussion and see what you mean. But I might try making another propose again and then will look what "the folks" say. It might work or not. Maybe this could be set as waitfor-info until then...

[2020-06-03 21:45] jjiglesiasg commented on #7619
That's my bottom point, a mess all these connected areas or Political (Administrative) Boundaries to a way or river do not make sense at all for me at least...

[2020-06-04 00:52] mfbehrens opened #7655 "Create Preset for destination_sign relation"
This is a request for a new **Relation**-Preset.

Wiki article can be found here: https://wiki.openstreetmap.org/wiki/Relation:destination_sign

Required tag: **`type=destination_sign`**

Fields:
- `destination` (multiple: dest_1;dest_2;dest_3)
- `distance` or `time` (also multiple: time_dest_1;time_dest_2;time_dest_3)
- `destination:ref`

Optional Fields:
- `colour:back`
- `colour:text`
- `colour

[2020-06-04 11:06] kymckay commented on #7619
Validator discussion here has some relevance to #6631

Original issue might be addressed by now implemented #7652

[2020-06-04 12:06] ian727 opened #7656 "iD performance issue with long lines"
Hello,

after a short discussion in the OSM Discord group I was referred here to address my problem.

I am experiencing an issue that affects the performance of iD (Windows 10, Google Chrome). When I want to continute drawing a line that already has ~200+ nodes in it, each new node I draw takes about 2-3 seconds to appear.

This issue only occurs in the specific region I am mainly mapping. Other O

[2020-06-04 14:34] quincylvania commented on #7656
Hello and welcome, @ian727. I've also run into this issue when mapping long rivers…

We'll have to investigate further, but I'd say the most likely cause is the validation engine calculating "crossing ways" warnings. With every node you place, iD is checking for crossings between every segment of that line and the segments of every other way within the line's bounding box. A long line has a large

[2020-06-04 14:35] quincylvania commented on #7655
Thanks, this is #6970.

[2020-06-04 14:35] #7655 closed, assigned to nobody

[2020-06-04 14:35] bhousel commented on #7656
#4731

[2020-06-04 14:40] ian727 commented on #7656
Thanks for the replies and hints!

However, the line I gave as an example only connects to three other features and is really not that long (hardly 200 nodes). It intersects a couple more features, among them a huge wetland-relation. Could this be the reason for the performance drop?

[2020-06-04 14:50] quincylvania commented on #7656
Since #4731 triggers at >1000 nodes and predates validation, I'm thinking this is a separate underlying issue. But I'll do some debugging to be sure.

@ian727 The wetland shouldn't make much difference—iD looks for crossing highways, waterways, railways, and buildings. I noticed there are several long roads and a long stream in that area. I'd think these are part of the issue.

[2020-06-04 15:13] blackboxlogic opened #7657 "Search to an element, element hides relation membership"
When arriving at an element (which is a relation member) for the first time using the search field, the editor shows that the element is not a member of a relation.

To reproduce:
In iD, go to search field, put in 641539706, select the way, see that the selected element is not a member of a relation.
Un-select the element by click on an empty space. Re-select the element by clicking on it. See tha

[2020-06-04 15:16] blackboxlogic commented on #7627
Consider merging this issue with with https://github.com/openstreetmap/iD/issues/7282. Also, I had indicated I might make a pull request. I'm abandoning that for now.

[2020-06-04 15:54] #7632 closed, assigned to quincylvania

[2020-06-04 16:01] quincylvania commented on #7619
@SilentSpike #7652 should help in some circumstances, but I suspect there might be something else at play here.

@jjiglesiasg Could you link to a map location where you're seeing the issue?

[2020-06-04 16:12] quincylvania commented on #7646
Yeah pistes on highways are tricky because it essentially produces one feature with two feature types. iD expects a feature to have only one type. A feature is either toggled on or off, there can't be a feature that's "half on and half off". Since this would take a lot of development work to change, and since this piste mapping pattern is relatively uncommon, and since this is only a minor visual

[2020-06-04 16:12] #7646 closed, assigned to nobody

[2020-06-04 16:25] quincylvania opened #7658 "Disable Straighten operation for lines that are already straight"
iD shouldn't let the mapper straighten lines like this that are straight already.

<img width="532" alt="Screen Shot 2020-06-04 at 12 19 12 PM" src="https://user-images.githubusercontent.com/2046746/83782363-b3fb9480-a65d-11ea-9479-e84e9d7a0aa7.png">

Note that straightening a straight line like this is okay since iD will remove the extraneous vertices.

<img width="464" alt="Screen Shot 2020-06-0

[2020-06-04 16:35] quincylvania commented on #7582
I agree it makes sense for features with this type of lifecycle-prefixed tag and no primary feature type to be in the future/past category. We just have to be careful about checking this performantly.

[2020-06-04 17:24] quincylvania opened #7659 "Magic mouse horizontal scroll doesn't start a map pan"
Scrolling vertically with a magic mouse on macOS properly starts to pan the map, and from there you can scroll-to-pan in any direction. However, the same does not work as expected when starting to scroll horizontally. Previously a horizontal scroll could start browser page navigation, but since fixing #5552 it just does nothing.

[2020-06-04 17:29] #7659 closed, assigned to quincylvania

[2020-06-04 17:36] quincylvania commented on #7659
Turns out this was caused by iD ignoring scroll events without a vertical component, because historically these would not affect the map's transform. It now appears to work correctly.

I don't think this addresses #7134, since iD tries to treat events from physical scroll wheels differently than gesture scroll events, but I don't have a mouse with a horizontal scroll wheel so I can't test it.

[2020-06-04 17:55] #7483 closed, assigned to quincylvania

[2020-06-04 18:51] maro-21 opened #7660 "New preset: landuse=village_green"
It has been used 96,601 times and is rendered on the standard map:
![Image](https://wiki.openstreetmap.org/w/images/f/f9/Landuse-village_green.png)

https://wiki.openstreetmap.org/wiki/Tag:landuse%3Dvillage_green

[2020-06-04 18:53] maro-21 opened #7661 "New preset: amenity=hookah_lounge"
It has been used 650 times.
https://wiki.openstreetmap.org/wiki/Tag:amenity%3Dhookah_lounge

[2020-06-04 20:35] #7600 closed, assigned to quincylvania

[2020-06-04 21:50] jleedev opened #7670 "Searching for lat/long is broken"
Steps to reproduce:

1. Enter a latitude,longitude in the search box
2. Click on the location result

Expected: Should jump to the location on the map
Actual: Upon clicking (or hovering) the location result, the following exception happens:

[code]

05925b15f2e430fe170142d5c369c2b33d528f7c is the first bad commit

[2020-06-04 22:42] mfbehrens opened #7671 "Add fields for route relations"
Additional fields that would by handy:
- `distance`
- `duration`
- `ascent`/`descent`
- `roundtrip` (= yes/no)
- _maybe_ `colour`

[2020-06-04 22:55] quincylvania commented on #7670
@jleedev Thanks for reporting and investigating! Looks like this is only on the `develop` branch and hasn't been released yet…

[2020-06-04 23:03] jjiglesiasg commented on #7656
We have the same issue in South America

From: ian727 [mailto:notifications@github.com]
Sent: Thursday, June 4, 2020 8:07 AM
To: openstreetmap/iD <iD@noreply.github.com>
Cc: Subscribed <subscribed@noreply.github.com>
Subject: [openstreetmap/iD] iD performance issue with long lines (#7656)

Hello,

after a short discussion in the OSM Discord group I was referred here to address my problem.

I am ex

[2020-06-05 05:27] DujaOSM commented on #7619
@quincylvania I tried #7652 and, while I like the principle very much, it has a severe practical limitation: "This can't be disconnected because not enough of it is currently visible". In the case of administrative and other boundaries -- which are inevitably several screenfuls large -- this limitation makes it practically unusable.

As a test, try untangling this National Park boundary from the f

[2020-06-05 06:39] Nakaner commented on #7656
@quincylvania wrote:

In OSM, ways may have up to 2000 nodes. Encouraging users to change their mapping behaviour because the in-browser editor is unable to handle a ways with 200 nodes is a poor response. It encourages users to map large landuse features as multipolygons or using multipolygons with more than one `outer` member although it is not necessary. Unnecessary usage of multipolygons is di

[2020-06-05 13:50] quincylvania commented on #7656
@Nakaner All software has limitations. This particular issue is a bug that we're going to fix. We often provide temporary, optional workarounds so mappers can continue contributing before the fix is released.

The issue is primarily about three types of line features, not landuse multipolygon members, so this doesn't seem like an immediate concern. There's also no technical problem with this mappi

[2020-06-05 16:06] #7670 closed, assigned to quincylvania

[2020-06-05 16:45] maro-21 commented on #7671
distance, duration and colour are already there

[2020-06-05 17:27] quincylvania opened #7675 "Disable Straighten operation when the selection isn't mostly visible"
For safety, most operations in iD are disabled for features that extend far past the current viewport. I recently added this check for copy/paste (#7603). The Straighten operation is the last obvious outlier, with iD happily straightening entire rivers off-screen as long as the nodes are all on downloaded tiles. We should reduce errors and vandalism by enabling the visibility check when straighten

[2020-06-05 18:59] #7675 closed, assigned to quincylvania

[2020-06-05 20:23] #7637 closed, assigned to quincylvania

[2020-06-06 15:06] 1ec5 commented on #7659
How about a trackpad where you scrub the bottom edge to scroll horizontally? Would it be interpreted the same way as a mouse with a horizontal scroll wheel?

[2020-06-07 02:05] newnumber2 opened #7676 "Catch 22: Not enough visible to let me delete; have to zoom out too far"
I was trying to delete a section of power line so that I could re-do it from scratch rather than edit the existing line. I selected it but iD would not let me Delete it because not enough of it was visible. However, for enough of it to be visible, I had to zoom out too a level where iD tells me I need to zoom in to do ANY editing. Of course, then, when I do, not enough of it is visible again.

The

[2020-06-07 11:57] MRVDH opened #7677 "iD crashing after trying to save way with more than 2000 nodes / allowed to add more nodes than the maximum of 2000"
I got this error on saving after editing large woodland areas. The problem is that this could have easily been shown in the information panel before saving. What happened after I saw this message was that I tried to split the area into two separate area's. After doing this when I tried to hit Save it gave me the login popup (even though I was logged in), I logged in again and the popup window gave

[2020-06-07 12:21] matkoniecz commented on #7660
Note that translating/describing it is quite hard - it is often misused (up to and including "any greenery" or "strip of grass between carriageways").

[2020-06-07 12:22] matkoniecz opened #7678 "man_made=cross is not only for summit crosses"
https://github.com/openstreetmap/iD/blob/a7e639d5145a81360fa01f18d0fef2fed5b61064/data/presets/presets/man_made/cross.json

I think that dropping "Summit" would be helpful.

(triggered by someone adding iD bug report to wiki page of that feature)

[2020-06-07 13:58] DerKarlos commented on #7639
I am exited. When iD was started, my first expectation was iD to be usable on my new iPad then. But as I asked for this feature, that topic was not on the list :-/
Now it starts and I would like to help, to test, to experiment with different solutions.
[Try](http://ac1000.de/tosme/) my [first steps](https://wiki.openstreetmap.org/wiki/TosmE) to edit on iPad. (Don't test with mouse, there are offse

[2020-06-07 14:32] jidanni opened #7679 "Moving many kilometers while zoomed out is slow"
Let's say there is a complicated node,

that we want to copy to a place, 10 km to the north.

(If it were a simple node, then we might just create it afresh. But it is not.)

OK, our journey begins by doing CTRL+C to copy it.
Then we zoom out, and drag ourselves 10 km. to the north,
and then zoom back in, and then do CTRL+V to place it on the map.
Simple.

However as you will notice even with a fa

[2020-06-07 14:40] rjgambrel opened #7680 "Focus description field when adding a new note"
I post lots of temporary OpenStreetMap notes using the Add Note button. Without thinking about what has focus at the moment, I instinctively start typing the note text. However, the New Note Describe The Issue area does not have focus, so instead it appears the characters I type are interpreted by ID as keyboard shortcuts.

I think that the Describe The Issue area should receive focus immediately

[2020-06-07 16:29] Lukas458 commented on #7660
I think it would be hard to explain in the preset's name good enough for what it should be used. When adding a preset for it, I would not know how to make sure that the misuse of this tag wouldn't increase. Of course a preset is not claimable for it, but maybe it will "push" this tag again. I believe many of the actual usages would even more fit into just landuse=grass and not the original meaning

[2020-06-07 16:32] Elefant-aus-Wuppertal commented on #7654
I created a proposal for tagging telephone's covers more detailed, maybe someone wants to look at it: https://wiki.openstreetmap.org/wiki/Proposed_features/extend_telephone_covers
please place any comments on the discussion page.

I know the key covered=* is used for it and some people do not like to see this, but covered=* isn't a yes/no boolean key at all. We also have covered=colonnade and arca

[2020-06-07 17:04] mmd-osm commented on #7677
That seems like a duplicate of #7381 and #6030

[2020-06-07 19:46] boothym opened #7681 "Add terms to shop=storage_rental"
In shop=storage_rental please add the terms "self storage", "storage unit" as these are common UK terms to describe this kind of place, for example see https://www.bigyellow.co.uk/

[2020-06-07 19:59] MRVDH commented on #7677
Looks like this bug has existed for over a year. Would be great if this can be a high prio one, at least the limitation of the amount of nodes that can be placed. Otherwise I have no way to know how many more/left I can add to an area

[2020-06-07 22:33] gdutkowski opened #7682 "No delete button for a point"
I am trying to delete a bike rental point as it is no longer operating.
OSMID:4334994969
According to the help "To delete a point,  right-click on the point to select it and show the edit menu, then use the  Delete command."
When I do that I only get the options to Downgrade.
What am I doing wrong?
![image](https://user-images.githubusercontent.com/62486564/83981534-20c6a580-a962-11ea-9fe7-b377644

[2020-06-07 23:34] quincylvania commented on #7682
Welcome, @gdutkowski.

The Delete command only becomes available after you Downgrade. This is helpful since the address is probably still valid even if the business doesn't exist anymore. But we should make this clearer in the help documentation, and possibly consider supporting Delete and Downgrade on the same features via different hotkeys.

[2020-06-07 23:41] quincylvania commented on #7677
@MRVDH Sorry you lost your edits! This is definitely a bug and I think #7381 and #6030 cover it. I agree we should prioritize a fix—data loss is bad.

[2020-06-07 23:41] #7677 closed, assigned to nobody

[2020-06-07 23:46] #7681 closed, assigned to quincylvania

[2020-06-07 23:49] #7678 closed, assigned to quincylvania

[2020-06-08 00:09] quincylvania commented on #7676
Yep, deleting large features in iD is intentionally difficult. It's a problem if someone can carelessly delete Iceland or some large stretch of the Nile or the Pacific Coast Highway. But if the entire feature fits on screen with all the nearby features visible, then at least the mapper will see the results of their actions.

That said, we've also been trying to make iD scale to the needs of advanc

[2020-06-08 00:09] #7676 closed, assigned to nobody

[2020-06-08 00:21] quincylvania commented on #7660
I'm also hesitant to support this tag worldwide, despite its large usage. iD mappers already have to distinguish between Common, Park, Recreation Ground, Grass, Grassland, Sport Pitch, Garden, and various other similar presets. A Village Green may be a well-defined thing to some people, but I'm not sure it translates easily across cultures and to all of iD's languages.

[2020-06-08 00:34] quincylvania commented on #7659
@1ec5 Not sure, I'm not familiar with this interaction… I have a MacBook.

[2020-06-08 04:57] 1ec5 commented on #7659
Yeah, I’m thinking of Windows laptops mainly. I’ve previously owned Dell and Toshiba laptops with this sort of scrolling before.

[2020-06-08 06:32] jidanni opened #7684 "Hovering over Undo/Redo arrows should give a hint of *which* tags it is talking about"
If we hover over the Undo/Redo arrow,
it might say we "Changed tags".

That is great, but we need a little hint of which tags they were,
before we know if we want to undo / redo that step.
Mentioning just one tag, with an ellipsis, would be good enough for starters. Thanks.

No it is not always clear from looking at the left panel.

[2020-06-08 06:36] jidanni commented on #7682
(I got used to it as sort of an undocumented safety feature, requiring two steps for complete deletion.)

[2020-06-08 14:26] #7680 closed, assigned to quincylvania

[2020-06-08 15:58] #7658 closed, assigned to quincylvania

[2020-06-08 15:59] jidanni commented on #7679
Ah! The problem is:
1. User zooms out, (to a "Zoom in to edit" message level)
1. User pans one screen to the north.
1. At first this screen is all black
1. Now the imagery is pulled in
1. Now the major roads are carved (black) into the imagery.
1. Now the user has an idea of where he is and where to move from here.

[2020-06-08 16:00] jidanni commented on #7679
At least in rural areas, if the few roads were shown first, then he wouldn't have to wait for the imagery to be pulled in, and could continue panning right away.
(But that would be black upon black in the current arrangement.)

[2020-06-08 18:10] rjgambrel commented on #7680
Thank you Quincy for the quick response and action! I saw your presentation
at State of Map in Minneapolis. It was a good one. Am an active user of ID
and it is just great! Looking forward to some of the new  features you
described when they roll out.

Bob (in Minneapolis area)

On Mon, Jun 8, 2020 at 9:26 AM Quincy Morgan <notifications@github.com>
wrote:

[2020-06-08 18:38] #6030 closed

[2020-06-08 18:49] quincylvania commented on #6030
I added a safety check to the merge operation, but there are still other situations where the maximum node limit could be exceeded:

- Continuing a line
- Double-clicking a way
- Dragging a midpoint
- Dragging a node onto a way
- Clicking a way while drawing
- Clicking a way while placing a new node
- Probably more…

Since these only add one node at a time, I expect they're less likely to exceed t

[2020-06-08 18:53] quincylvania commented on #7381
I added a specific safety check for #6030, but mappers could still trigger this error in a manner other than merging lines. In any case, iD shouldn't discard changes upon receiving an API error response so I'm leaving this open as a bug.

[2020-06-08 19:37] AntMadeira commented on #7601
About new strings at Transifex:

"Jetway" - what is `aeroway=jet_bridge`? (it has no wiki)
"Unknown Road Bridge" - The `highway=road` tag is highly discouraged and even considered an error. The wiki states:

Do not expect highway=road to be rendered
Do not expect highway=road to be routable
Do expect highway=road to be ignored by applications directed at end users

Does iD really need this?

Regar

[2020-06-08 19:56] quincylvania commented on #7601
A jetway is the walkway between an airport terminal and a plane: https://en.wikipedia.org/wiki/Jet_bridge. We changed the name from "Jet Bridge" since people were incorrectly using it to map road bridges.

Yes, iD warns against usage of the `highway=road` tag and encourages users to pick a more specific highway type. But there are times and places when a highway type cannot be determined (e.g. whe

[2020-06-08 20:17] AntMadeira commented on #7601
Thanks, Quincy. That helped.

I didn't realise that `highway=road` tag would show an info box. I think its a fair trade off for having this kind of highway in iD.

[2020-06-08 20:47] #7329 closed

[2020-06-08 21:30] quincylvania commented on #7679
I don't see how we can make this faster if the bottleneck is a slow network connection. iD can't show imagery tiles it hasn't downloaded yet. A slow network is certain to make data-dependent workflows slower, and map editing requires a lot of data by definition. #1520 might help with your problem if the data is already downloaded.

[2020-06-08 21:30] #7679 closed, assigned to nobody

[2020-06-08 23:06] BjornRasmussen commented on #7648
A long time ago, this was not possible to represent in OSM, so people created a newer system for mapping bus routes called PTv2, which requires that the roads be added to the bus route relation in the order that they are covered by the bus.  If a bus route uses the same road twice, then the road will be part of the relation twice, but in different parts of the parent relation.  See [this wiki page

[2020-06-09 01:52] sun-geo opened #7685 "Validator: check for crossing=traffic_lights (pedestrian light)"
While manual adding a highway crossing (`highway=crossing`) I tried also maually add the details for a pedestrian crossing light/signal (which is mainly tagged by using the `crossing=traffic_signals`). The list for key `crossing` of the dropdown menu shows e.g. items for
`traffic_signals`
and
`traffic_lights`
It is a bit confusing to select the right one, when you see these two similar values.

![

[2020-06-09 02:26] eneerhut commented on #7639
I'm a huge fan of iD @quincylvania and how it maintains a balance between ease of use and feature richness. My question with the app would be what problems/gaps it aims to fill.

My experience with existing OSM mobile apps is as follows:
- **[OSMAnd](https://play.google.com/store/apps/details?id=net.osmand&hl=en_US)** (cross platform): Decent for adding points of interest. I've only used in on And

[2020-06-09 02:39] eneerhut commented on #7639
An additional thought to the above. I have run quite a few mapathons where people attend with their tablets and want to follow along in the same way those with their laptops are mapping.

They can get iD editor to work with a bit of effort, but they don't have the same experience as those on their laptop. As you mentioned, a mobile iD editor could be a helpful introduction to OSM for the less tech

[2020-06-09 05:33] DerKarlos commented on #7639
I agree with @eneerhut, tablets editing on the field eye to eye tho the ground truth is great.
I also like "go map!!", we should consider to take some ideas of its UI.

To me, a main advantage of iD is: Just start it and edit, no installation. And mostly selves explaining too.
So I hope, this will be the same on tablets.
Could it be offline to? May be not at first, but technically, it should be po

[2020-06-09 06:36] gdutkowski commented on #7682
Thanks.
The two step deletion is a useful way of doing it, but I agree that it
needs to be documented.
Greg Dutkowski
+61 0362238495/0408238495
1 Cascade Road, SOUTH HOBART.

On Mon, 8 Jun 2020 at 09:34, Quincy Morgan <notifications@github.com> wrote:

[2020-06-09 15:26] quincylvania commented on #7639
@DerKarlos Interesting! We've already solved the touch drawing interaction in iD, but there's always room for more editors if you're going to continue building that one.

Unfortunately, we don't have the development resources to even consider a full or partial rewrite of iD in a different language. But there's been some talk of using canvas to speed up map rendering (#3741).

Possibly one day, but

[2020-06-09 16:10] quincylvania commented on #7612
Oh I see the issue here. This problem is iD doesn't have a preset for `highway=footway` as an area. It's falling back to the generic `highway=*` preset and thus uses the translation of "Highway Feature". Someone should probably change the translation to indicate this feature includes non-car infrastructure. This can be done [here](https://www.transifex.com/openstreetmap/id-editor/translate/#fr/pre

[2020-06-09 16:26] quincylvania commented on #7661
Sounds fine, but we need to find or make a decent icon.

[2020-06-09 16:29] quincylvania commented on #7513
Yes, we can now limit fields to specific countries, but not also for specific presets. So we'd need to add a duplicate `maxspeed` field with different properties to accomplish this. Which is a bit hacky and breaks stuff like multiselection field editing. Is it really a problem to continue showing this field or is it just an inconvenience?

[2020-06-09 16:36] quincylvania commented on #7490
Turns out this issue is trickier than it first appears, since iD relies on SVG hit-testing to determine the target data of events like node drags. I don't think there's an easy way to offset this test from the touch point.

An alternative solution would be to show a magnifying glass of the space under the finger, but this is more abstract and also sounds complicated.

[2020-06-09 16:38] Elefant-aus-Wuppertal commented on #7513
Hmm, nah, calling it a problem might be a bit too much, but people just have the feeling to fill something into this field when it is there. But if it would be too difficult to change this, I could live with letting it stay.

[2020-06-09 16:40] quincylvania commented on #7513
@Lukas458 Okay, thanks for understanding. Maybe in the future we could come up with a better solution if more situations like this arise.

[2020-06-09 16:40] #7513 closed, assigned to nobody

[2020-06-09 16:40] jidanni opened #7688 "Add "Loading..." message at startup in lieu of blank screen"
On osm.org we push the "Edit" button, an then the bottom 7/8ths of the screen become white (blank) for five to twenty seconds.

How about a "Loading..." message in the middle of the screen, like I recall the previous default editor had.

[2020-06-09 16:42] quincylvania commented on #7688
Sounds reasonable. I've also noticed this issue and wondered if anything was actually happening. Though ideally we'd just make iD load faster.

[2020-06-09 16:58] quincylvania commented on #7684
I agree we could have more relevant messages for certain types of tag changes, like "Changed feature type" or "Changed Name value". But I don't think iD should mention specific tags, unless perhaps the mapper was using the raw tag editor.

[2020-06-09 17:24] jidanni commented on #7684
(Sometimes it is so worrisome, that one opts to just save, and then have a look at what was saved and  clean up (edit) anything that one didn't intend.)

[2020-06-09 17:31] jidanni commented on #7688
True yes there is a spinner spinning, but it is tiny and way up in the logo of the browser tab.

True my [own](https://www.jidanni.org/) webiste doesn't have any loading messages, but it doesn't have any javascript or CSS so loads fast.

But I'm sure from Coca-cola to Kleenex to the Air National Guard, they all have various things to keep the users' eyes busy while loading, nowadays.

[2020-06-09 17:53] der-dirk opened #7689 "Issue "Foot Path crosses House" still shown althoug covered=yes was added"
In the following section I marked a path that contains a passage through a house with "covered=yes": https://www.openstreetmap.org/edit#map=21/48.16523/11.76064

According to these entries in the wiki I guess that was correct:

- https://wiki.openstreetmap.org/wiki/Key:covered
- https://wiki.openstreetmap.org/wiki/DE:Key:covered

Nevertheless the issue "https://wiki.openstreetmap.org/wiki/DE:Key:c

[2020-06-10 00:22] matkoniecz commented on #7689
Main problem is that node/point where `covered=yes` starts/end should be also attached to building.

bad:
![screen](https://user-images.githubusercontent.com/899988/84213533-3c948d80-aac1-11ea-91f4-1adda6ca132e.png)

good:
![screen05](https://user-images.githubusercontent.com/899988/84213536-3d2d2400-aac1-11ea-8de0-ef367b6a3b79.png)

I edited this specific case. Maybe iD can communicate this bette

[2020-06-10 09:26] vanjakom commented on #7653
Not sure if same bug happened today or this is something else, adding here until I investigate it further. During split of way which belongs to route iD did invalid reorder of elements. On attached images order is listed before and after change. Relation in question is https://www.openstreetmap.org/relation/11185515 and newly created way that introduced error is https://www.openstreetmap.org/way/8

[2020-06-10 09:58] scotmartin commented on #7612
Thank you for this very beginner friendly issue. I have changed the translation to "Équipement pour toutes les voies", that makes it applicable to any kind of road, street or path without reference to means of transportation.

[2020-06-10 10:46] der-dirk commented on #7689
Thank you very much for this quick response and the immediate fix. Sorry for posting this as a bug.

[2020-06-10 10:46] #7689 closed, assigned to nobody

[2020-06-10 13:02] quincylvania commented on #7612
@scotmartin Thanks a bundle!

[2020-06-10 13:02] #7612 closed, assigned to nobody

[2020-06-10 13:27] quincylvania opened #7690 "Focus relation role when clicking on membership label"
Fields work like this. It makes sense relations would too.

[2020-06-10 13:43] jleedev opened #7691 "Infinite recursion when attempting to create cyclic relations"
Here's a relation B that contains A as a member, and I am attempting to add B as a member of A:

![Screenshot 2020-06-10 at 09 37 08](https://user-images.githubusercontent.com/23022/84274828-530d0a00-aafe-11ea-9cf3-edfe07679951.png)

Upon clicking the dropdown, the page hangs for a few seconds then (recovers and) produces this stack trace:

[code]

Happens in both the current release 2.17.3 and in

[2020-06-10 13:53] #7690 closed, assigned to quincylvania

[2020-06-10 14:35] #7572 closed, assigned to quincylvania

[2020-06-10 16:03] quincylvania opened #7692 "Update documentation and walkthrough for touch interactions"
iD has historically been tailored for mouse and keyboard input only. Now that we're supporting touch and stylus pointers, the help materials need updating.

[2020-06-10 17:15] kaligrafy opened #7693 "Pharmacies in Quebec province are dispensing prescriptions by default, but are set to dispensing=no"
Jean-Coutu, Pharmaprix, Proxim, Brunet, Familiprix and Uniprix pharmacies are dispensing prescriptions by default, but are set to dispensing=no in iD. They should be set to dispensing=yes

[2020-06-10 18:34] quincylvania commented on #6817
Okay, I think I finally have this working correctly.

iD now counts tag and role lengths in unicode characters instead of native JavaScript UTF-16 code units. I had to implement the checks in code rather than relying on the `maxlength` attribute we used previously since [browsers count `maxlength` inconsistently](https://github.com/whatwg/html/issues/1467). Doing it in code is safer in any case.

[2020-06-10 18:36] quincylvania commented on #7693
@kaligrafy Thanks, iD's brand presets are handled over at the [name-suggestion-index](https://github.com/osmlab/name-suggestion-index) so you'll have to open an issue there 👉

[2020-06-10 18:36] #7693 closed, assigned to nobody

[2020-06-10 19:47] #7503 closed, assigned to quincylvania

[2020-06-10 21:30] quincylvania opened #7694 "Cannot double-tap on iOS 13.4+ browsers"
This is a bizarre bug, one of several apparently introduced in iOS 13.4. I've seen it on mobile Safari, Firefox, and Chrome, so it must be a WebKit issue.

Basically it looks like pointerup/pointerdown events are throttled to about one second for any element with a gesture event listener, even if the event handler doesn't do anything. iD listens for gestures to enable pinch-to-zoom of the map via

[2020-06-10 21:47] maro-21 commented on #7601
Good idea with this bridge, Quincy.

[2020-06-11 00:18] jleedev commented on #6817
I'm unable to type spaces when writing a changeset description, and this change looks related.

[2020-06-11 00:31] AntMadeira commented on #1512
Hi there.
I've just read https://github.com/openstreetmap/iD/issues/1461 and https://github.com/openstreetmap/iD/issues/2358 and got here, which is exactly the problem I want to bring about (again). I hope it is ok. If not, please move it to a new issue.

Recently, there were 8 editions in Portugal which damaged major relations. This was done by a mapper that merged ways and changed those relation

[2020-06-11 11:35] c933103 commented on #4843
Is it possible for iD editor to support WMS in polar stereographic projection?

[2020-06-11 14:25] quincylvania commented on #6817
@jleedev Whoops, this change is definitely related! iD now trims whitespace from the ends of textarea fields. Generally this is done only after the field loses focus, but the changeset comment is special.

[2020-06-11 14:34] tbertels commented on #6817
I did notice that the last space gets stripped when the changeset description loses focus, but I'm still able to type spaces. Tested with Firefox and Chrome.

[2020-06-11 14:38] quincylvania commented on #6817
@tbertels This issue relates to the [development preview](https://ideditor.netlify.app). I was able to reproduce it in Firefox on macOS.

[2020-06-11 15:45] quincylvania opened #7697 "Replace PhantomJS for headless browser testing"
PhantomJS was [abandoned in 2018](https://github.com/ariya/phantomjs/issues/15344) and the mocha-phantomjs-core project used by iD for testing [followed suit](https://github.com/nathanboktae/mocha-phantomjs-core/commit/562125f41e4248a9ae19b91ed2e23a95f92262e9). We've been coasting until now, but mocha just [deprecated](https://github.com/mochajs/mocha/pull/4178) some of the functions used by mocha

[2020-06-11 19:20] Lukas458 opened #7698 "add support of wheelchair:description"
Hi,
wheelchair:description is a tag to describe how a feature is wheelchair accessible - we have wheelchair=yes/limited/no already, but especially when wheelchair=limited is set, this tag does actually only make sense when a wheelchair:description is added.

See https://wiki.openstreetmap.org/wiki/Disabilitydescription for explanation.

Is there a consensus that it would be useful to add wheelchai

[2020-06-12 15:05] quincylvania opened #7699 "Flash reason when tapping disabled buttons on touch devices"
iD often uses tooltips to explain why certain controls are disabled. This doesn't work for touch interaction. We could instead flash the disabled reason at the bottom of the screen like we do for disabled hotkeys.

[2020-06-12 16:48] j47996 opened #7700 "render sidewalk &/ verge with road"
The renderer used for https://map.atownsend.org.uk/maps/map/map.html#zoom=17&lat=52.809367&lon=-0.86894 shows sidewalk info, though does not distinguish left/right/both detail

[2020-06-12 18:18] #7699 closed, assigned to quincylvania

[2020-06-12 19:03] quincylvania commented on #7366
This is part of #1554…

[2020-06-12 19:03] #7366 closed, assigned to nobody

[2020-06-12 21:13] boothym commented on #7685
The best way to fix this would be to edit the map and lower the number of traffic_lights values, so that iD no longer shows the wrong value from taginfo 😉 (though the value only appears near the top when you begin typing "traffic")

More importantly, the presets and fields for crossings need to be improved so that most people wouldn't need to manually edit crossings.

[2020-06-12 21:14] boothym commented on #7700
Similar to #1762 - iD could show the sidewalk info in a field like the cycle lanes.

[2020-06-12 23:34] jidanni opened #7701 "Show point for current warning"
It would be best to put a red flashing marker at the point of conflict,
![20003-11](https://user-images.githubusercontent.com/1230959/84553869-fac94880-ad47-11ea-903d-dcd0674af74f.jpg)
as it is not always clear from simply giving road name (if any!) exactly what intersection is being discussed.

[2020-06-12 23:37] jidanni commented on #7701
And for identically named features,
![6317-13](https://user-images.githubusercontent.com/1230959/84554034-a83c5c00-ad48-11ea-9a90-05bed22ec2d2.jpg)
it is a gamble to guess which one is being discussed.

[2020-06-12 23:38] jidanni commented on #7701
Yes I am only talking about warnings that refer to points (intersections of roads A and B).

[2020-06-12 23:51] jidanni commented on #7701
Yes road A is in red, but road B is only in purple if our mouse is hovering over the item in the yellow list. Hovering anywhere else removes the purple.

[2020-06-13 02:52] jidanni commented on #2225
In iD once two items share the same location, the "buried item" is no longer accessible… an artifact buried in the map.

Yes there are tricks, like grabbing and distorting other people's layers to get at it.
But then one needs to remember to carefully try to put them back where they were when finished.

A beginning editor would sense that he is about to wreck other people's work and figure the cos

[2020-06-13 15:18] PhilippRigoll opened #7702 "Move the presets folder into an own repository"
I propose to move the presets folder into an own repositiory and include it here using git submodules. This way presets are separated from the rest of the codebase. I think the code and the presets should be unrelated. This also enables other editors to easily use these presets via git submodules.

[2020-06-14 05:52] manfredbrandl commented on #7702
Also Quality Assurance Tools could use the repository and automatically find inconsistencies between the presets and other resources (wiki, new trending tags, etc).

[2020-06-14 16:46] kymckay commented on #7702
Some history of this:

#2656
#6483
#7130

[2020-06-14 16:50] kymckay commented on #7700
#5659

[2020-06-14 17:35] boothym commented on #7700
@SilentSpike didn't realise you'd submitted a PR back then. The sidewalk tag is used a lot of more than cycleway=* on highways yet we have a cycle lane field in iD...

[2020-06-14 18:01] henry4442 commented on #2327
Was this ever resolved?
Seeing existing correct data retagged uncorrectly because of this issue.

[2020-06-14 18:13] henry4442 commented on #6836
Please add "de" to the exclusion list: "notCountryCodes" in data/presets/presets/highway/cycleway/bicycle_foot.json
It causes retagging of correct data by new users.
highway=path with *=designated is the existing data in germany:
https://wiki.openstreetmap.org/wiki/DE:Bicycle/Radverkehrsanlagen_kartieren

[2020-06-14 18:56] RobJN commented on #7613
Thanks for the quick fix. Same issue appeared in Coventry, England where I had to revert part of an edit. Came here to raise an ticket and found it had already been solved :+1:

[2020-06-14 19:06] matkoniecz commented on #2327
This issue is open, it means that it is waiting for someone to implement it (or review a submited pull request). In general, in open source projects you can either implement it by yourself or wait for someone else to do this.

There are ways to increase chance for someone working on it. All of them are either not too effective or require noticeable effort.

For people interested in just signalling

[2020-06-15 16:28] #7694 closed, assigned to quincylvania

[2020-06-15 16:37] quincylvania commented on #7694
I realized that we really only need to override gesture events on desktop Safari. Since this bug only affects mobile Safari, I added a check to see if iD is running in mobile webkit or not before adding the event listeners.

User agent sniffing like this is hacky and generally not recommended, but I think it's unavoidable when addressing this kind of browser-specific bug. It's not catastrophic if

[2020-06-15 18:58] blackboxlogic opened #7706 "Multi-select: high cpu and unresponsive ui"
In the dev branch of ID 2.17.3 ([currently here](https://ideditor.netlify.app/)) where multi-select has been implemented, when I select many (25) nodes, my cpu sits at 60% and click events in iD start to "miss", meaning that the user actions occasionally don't illicit any response from the UI.

I suspect that the pulsing red boarder on selected elements is expensive. Consider:

- Limit the quantit

[2020-06-15 20:55] #7671 closed, assigned to quincylvania

[2020-06-15 20:58] quincylvania commented on #7671
@mfbehrens99 Okay, I added fields for `ascent`, `descent`, and `roundtrip` to the pertinent route presets. We already support the other fields.

Note that iD has limited fields for the generic `type=route` preset since we can't be sure the fields will be relevant to all kinds of routes. For example, `roundtrip` doesn't really make sense for utilities.

[2020-06-15 21:12] quincylvania commented on #7706
The good news is: this used to be a lot worse! See #3571. On my setup I can select a few hundred nodes and suffer only a minor performance hit. But I'm concerned that you're seeing something worse. What browser/system are you testing with?

~~#2911~~ #3919 was also about improving the selection animation performance but was closed as stale.

[2020-06-15 21:13] quincylvania commented on #7701
Sounds reasonable. I often run into similar situations where two features cross multiple times and it's unclear which crossing the issue corresponds to.

[2020-06-15 23:26] blackboxlogic commented on #7706
Windows 10 home
Intel Core i7-7500 @ 2.8 GHz
16 gigs ram
Firefox 77.0.1 (64-bit)

No errors in the developer console in Firefox. The selection-highlighter also gets jittery and starts skipping transparency frames, jumping from opaque to not.

I just tested on chrome and CPU stays much lower but click events get dropped about the same.

[2020-06-16 14:24] #7691 closed, assigned to quincylvania

[2020-06-16 16:01] jleedev opened #7708 "Touchscreen panning became janky"
Steps to reproduce:
1. Begin line drawing mode (e.g. press <kbd>2</kbd>)
2. Put finger on touchscreen, and quickly pan a large distance

The map pans one frame then halts, and I have to try again.

Panning a small distance at first will successfully start panning the map, which can then be dragged freely.

Bisect result:
0473243930130d7bd033b345609e887b5d065b89 is the first bad commit

The code ch

[2020-06-16 19:32] AntMadeira opened #7709 "Add man_made=windpump to presets"
Hi there.

I would like to suggest adding [man_made=windpump](https://wiki.openstreetmap.org/wiki/Tag:man_made%3Dwindpump) to iD's presets.

Regards.

[2020-06-16 19:41] quincylvania opened #7710 "Don't redraw everything when changing modes"
Currently, iD will schedule a re-render of all features when changing modes, e.g. when selecting or deselecting something. This can make iD noticeably sluggish when editing with lots of features onscreen. We should make a point to re-render only features that need style updates.

[2020-06-16 21:31] quincylvania commented on #7708
@jleedev Weird bug! Thanks for reporting. I don't have an Android device for testing at the moment—I should really get one.

I added `touch-action: none` to the map element, so hopefully Chrome will correctly let iD handle the gestures. Please do let me know if that fixes it or not.

[2020-06-16 21:45] quincylvania commented on #7025
The overlay endpoint was recently updated in https://github.com/osmlab/editor-layer-index/pull/840 by @mikelmaron. While this change isn't specific to iD, most users won't know that, so it's worth promoting in the next release.

[2020-06-17 12:45] jleedev commented on #7708
b96401e29c9c15a4d11c92de47e03194eb2cbddf doesn't seem to fix it.

Adding `touch-action: none` to `.ideditor, .ideditor *` does, though.

[2020-06-17 13:28] quincylvania commented on #7708
@jleedev Odd. We can't add `none` to everything since that disables scrolling of elements like the sidebar.

[2020-06-17 14:15] quincylvania opened #7712 "Support retina tile parameters in TMS imagery"
The locator overlay has always been a bit blurry on retina screens. Now that this layer has been updated (#7025), it'd be especially nice to load the high-resolution tiles, but only for high-DPI devices.

[Mapbox specifies](https://docs.mapbox.com/api/maps/#retrieve-raster-tiles) the `{@2x}` parameter for toggling retina tiles. [Leaflet uses](https://leafletjs.com/reference-1.6.0.html#tilelayer) `

[2020-06-17 16:40] #7712 closed, assigned to quincylvania

[2020-06-17 18:26] quincylvania commented on #7712
iD now loads retina tiles for the locator overlay on retina screens. iD will switch between retina and non-retina requests if the pixel density changes, such as when dragging a browser window between displays. Custom background layers can also take advantage of this behavior by specifying `{r}` or `{@2x}` if the endpoint supports retina tiles.

<img width="1280" alt="Screen Shot 2020-06-17 at 2 18

[2020-06-17 19:20] quincylvania opened #7713 "Document state of iD's accessibility and setup compatability"
iD's goal has always been to make mapping as approachable as possible to as many people as possible. Much work has been done to make the interface friendly and intuitive to non-experts. But we have to keep in mind that there are many dimensions to accessibility—just because iD works great for some people doesn't mean it works well for everyone. Here are a few of the varied groups we should be cons

[2020-06-17 20:29] maro-21 opened #7714 "Edit Organic Goods Store preset"
Why Organic Goods Store is a supermarket in iD? Isn't it possible to have Organic Goods Store which is a convenience store? Supermarkets are bigger than convenience shops. I think one can use `organic=only` on `shop=convenience` too.

In my country organic goods stores are usually very small, there are almost no stores big enough to call them supermarkets.

We should do someting about it. Either:

[2020-06-17 20:47] quincylvania commented on #7714
Oh yeah we should rename this. Looks like the name comes from the original `shop=organic` preset from before that tag was deprecated. See #2348.

[2020-06-17 21:09] maro-21 opened #7715 "Edit presets/README.md"
I've noticed some broken links in the file.

Because you renamed the branch `master`, it should be fixed in two places:
- _Upon merging with `master`_
- _`* [iD's spritesheet](https://github.com/openstreetmap/iD/tree/master/svg/iD-sprite/presets)`_

And
- Link to Maki works, but it's a redirection
- Link to Temaki doesn't work: 404

[2020-06-17 21:21] #7714 closed, assigned to quincylvania

[2020-06-18 08:38] tomasokol commented on #6004
@quincylvania I think we should have a “Crossing with traffic signals” and an “Uncontrolled crossing” preset by now. As https://wiki.openstreetmap.org/wiki/Key:crossing says, the priority is information about presence of traffic signals, over whether it's got any kind of marking. Which can be specified by crossing_ref=.

[2020-06-18 13:10] quincylvania commented on #7715
@maro-21 Thanks, these have already been changed in the `develop` and `release` branches. Did you follow a link that needs updating?

[2020-06-18 13:10] #7715 closed, assigned to nobody

[2020-06-18 14:36] quincylvania commented on #7654
I think #5088 already addressed this. You can add `booth=yes` if there's a phone booth.

[2020-06-18 14:36] #7654 closed, assigned to nobody

[2020-06-18 15:05] quincylvania commented on #7120
Closing in favor of #7648.

[2020-06-18 15:05] #7120 closed

[2020-06-18 15:09] quincylvania commented on #7471
Closing this for now as low-impact. You can just scroll down or type the value you want.

The next version of iD will have field editing for multiselection, so you can just select all these features and change the value for all of them at once. Try it out [here](https://ideditor.netlify.app/).

[2020-06-18 15:09] #7471 closed, assigned to nobody

[2020-06-18 20:25] maro-21 commented on #7715
Oops, it looks like I saw an old version, sorry :)

[2020-06-19 00:27] matkoniecz opened #7719 "Consider complaining about amenity=school inside amenity=school, amenity=hospital inside amenity=hospital..."
Repeated mistake made by various iD mappers is to retag `building=school` within `amenity=school` area into `amenity=school` what due to #5883 removes building tag.

Appearing complain about `menity=school` within `amenity=school` would increase chance of reverting that edit or at least spotting that school was mapped already.

It would help reduce impact of #5883 and allow to spot some type of mi

[2020-06-19 00:34] matkoniecz commented on #7713
I would be happy to contribute - not very extensively but at least "speakers of languages other than English" is part where I may be useful.

I would consider adding "people completely unfamiliar with OSM" and "JOSM users" as both groups have some quirks.

Not sure is it within planned coverage but I would consider also "people with old hardware" - iD can be noticeably laggy even with relatively d

[2020-06-19 11:58] manfredbrandl opened #7721 "Feature request: change point to way or area"
Platforms are often mapped as point with many relations.
![image](https://user-images.githubusercontent.com/5360273/85130207-c9171c80-b234-11ea-9beb-b62601100664.png)
It would help a lot if iD could change this object into way or area and keeping relation membership and attributes.
See https://www.openstreetmap.org/#map=19/47.38820/16.00108

[2020-06-19 14:15] quincylvania commented on #7721
@manfredbrandl You should be able to accomplish this already by drawing a line or area, selecting that with the point, and using the Merge operation.

[2020-06-19 15:36] rahullli commented on #7721
I would like to work on this issue , can you please explain more about the issue ?

[2020-06-19 15:41] quincylvania commented on #7721
@rahullli Thanks for your interest! We're still looking into this particular issue, but you can check out [beginner](https://github.com/openstreetmap/iD/labels/good%20first%20issue) or [intermediate](https://github.com/openstreetmap/iD/labels/help%20wanted) issues to work on. Please review the [contributing guidelines](https://github.com/openstreetmap/iD/blob/develop/CONTRIBUTING.md) too.

[2020-06-19 16:28] manfredbrandl commented on #7721
Works like a charm! Is this documented anywhere?

[2020-06-19 16:30] quincylvania commented on #7721
Perhaps not! We should really detail the operations in the help panel.

[2020-06-19 16:30] #7721 closed, assigned to nobody

[2020-06-19 21:47] boothym commented on #7719
Wouldn't that be an issue if you have two buildings, each with separate schools in them but on the same campus?

As in - the campus grounds are marked as amenity=school, but inside them each building is also tagged as a school? Is that even the correct way of doing things?

[2020-06-20 13:00] sun-geo commented on #7719
btw, see also use case 3
(_"here more than one education type (school, kindergarten, colleage, university) are located in a larger campus."_)

https://wiki.openstreetmap.org/wiki/Tag:landuse=education#Use_cases

[2020-06-20 13:09] sun-geo commented on #7685
@boothym

This request is to add a rule which displays a warning message for `crossing=traffic_lights` objects & this would most likely be exactly reduce the database amount for this tag over time. I don't want to do any mechanical edits. ;-)

Agree, would you open a separate issue for that idea?

[2020-06-22 08:56] sevku opened #7722 "layout of "choose object type" improvement request"
So, I don't know what title would suite this best, so please just edit it.

The problem I have is the following:
![OSM_Layout_Screenshot_0](https://user-images.githubusercontent.com/23403917/85268405-c0ae2400-b476-11ea-9561-58c4bda4c0e7.png)

At least in german, "markierter / gekennzeichneter Übergang" is a very long word. Additionally, there are two versions of it, a "normal" one and one that is

[2020-06-22 13:29] quincylvania commented on #7722
Thanks, @sevku, looks like we've already fixed this for the next release! You can test at https://ideditor.netlify.app.

![Screen Shot 2020-06-22 at 9 28 36 AM](https://user-images.githubusercontent.com/2046746/85293061-d289ca00-b46a-11ea-821c-4cbeeee57922.png)

[2020-06-22 13:29] #7722 closed, assigned to nobody

[2020-06-22 13:43] #7685 closed, assigned to nobody

[2020-06-22 14:25] manfredbrandl opened #7724 ""manual imagery" descriptions not translatable"
![image](https://user-images.githubusercontent.com/5360273/85298776-c91d5380-b4a4-11ea-9e9c-6242f562ce31.png)
![image](https://user-images.githubusercontent.com/5360273/85298902-eb16d600-b4a4-11ea-8968-cc79a52d3f62.png)

[2020-06-22 15:11] opk12 opened #7725 "Support for emergency ward entrance"
Wiki link: [`emergency=emergency_ward_entrance`](https://wiki.openstreetmap.org/wiki/Tag:emergency%3Demergency_ward_entrance)

- An entry should be in the `Select feature type` list when adding a node.
- The related key `emergency_ward_entrance=*` should be under `All fields`.
- There should be an icon.
- The heading "Emergency Feature" for a selected node is too generic.

[2020-06-22 20:49] #7656 closed, assigned to quincylvania

[2020-06-22 20:57] quincylvania commented on #7656
I made the crossing ways validation a lot smarter about which segments it checks for crossings. Now, when continuing the original example way, each click now takes <250ms instead of several seconds. While there's always room for improvement, the fix makes iD usable here again without reducing validation functionality.

[2020-06-22 22:23] flacombe opened #7726 "Add line_management and discourage tower:type usage on power supports"
Dear maintainers,

Recently, line_management key has been reviewed on osm wiki.
Mappers are now encouraged to use it to describe particular topology situations of power lines around their supports.
https://wiki.openstreetmap.org/wiki/Key:line_management

Furthermore, tower:type and pole:type are now discouraged on power=tower, power=pole, power=portal, power=insulator and power=terminal

Could you

[2020-06-23 00:26] maro-21 commented on #7724
I reported it four months ago in https://github.com/openstreetmap/iD/issues/7358 and it was closed as solved.

[2020-06-23 08:24] manfredbrandl commented on #7724
The strings All fields, All tags and All relations are translatable now, so #7358 is solved, but not for the maxar strings. I hope "Somebody" will help here.

[2020-06-23 18:51] quincylvania opened #7728 "Disable lasso multiselection when OSM data is hidden"
Currently, lasso-selecting nodes via shit+click+drag works even if you're zoomed out beyond the editable limit, or if you have the OSM data layer disabled. This is unexpected and makes it too easy to create enormous, rough selections. We should disable the functionality in these cases.

Lasso selection does correctly ignore disabled map feature layers.

[2020-06-23 19:00] quincylvania opened #7729 "Sort lassoed nodes intelligently"
I did this back in d6c0c329dfd481c250e83afabe01683312e27b1f, but I'm creating this issue for tracking purposes.

Before, the multiselection list order would be pretty much random when lasso-selecting nodes. Now they're sorted by these guidelines:

- All standalone points before vertices
- Standalone points sorted left-to-right
- Vertices grouped by their parent ways
- Vertices within a way sorted

[2020-06-23 19:00] #7729 closed, assigned to quincylvania

[2020-06-23 19:18] #7728 closed, assigned to quincylvania

[2020-06-23 19:36] #7726 closed, assigned to quincylvania

[2020-06-23 19:46] #7725 closed, assigned to quincylvania

[2020-06-23 20:19] quincylvania commented on #7724
Turns out the Maxar strings have a different underlying issue from the other strings in #7358. Since they use encrypted endpoints, they're not included in the editor-layer-index and so don't use the standard imagery translation workflow.

[2020-06-23 20:28] quincylvania commented on #7700
This is similar to #2701, which was closed as stale. I agree with Bryan in #5659 that sidewalks should really be mapped as separate ways. In any case, I wouldn't want to visualize sidewalks on roads without also bike lanes, probably as part of full lane rendering/editing. So I'm closing in favor of #387 .

[2020-06-23 20:28] #7700 closed, assigned to nobody

[2020-06-23 20:42] quincylvania commented on #1762
A lot's changed since 2013! The general preference is now to map sidewalks independently from roads. I'm closing this on that basis, in line with #5659. Though of course mappers are of course free to tag sidewalks whichever way they wish.

Any further consideration should be as part of a combined lane editor (#387).

[2020-06-23 20:42] #1762 closed

[2020-06-23 20:52] #7571 closed, assigned to quincylvania

[2020-06-23 20:57] quincylvania commented on #7571
@1ec5 Thanks for the background info here. It looks like `grades` would indeed be friendlier for iD mappers, so I added that for now. It's nice to finally have a field for this—I've been missing it since I first started mapping in OSM.

[2020-06-23 21:05] Adamant36 commented on #7571
I guess grades works. Its better then nothing and isced:level clearly has its own unique problems. Even if it had vastly more usage. Thanks @quincylvania

[2020-06-23 21:11] quincylvania commented on #7571
I like the idea of potentially using the `isced:level` tag to create presets like "Primary School", at least for some countries. But it's great if people can type in the grades that make sense to them regardless.

[2020-06-23 21:50] boothym commented on #1762
What is the evidence for this?

[2020-06-23 22:32] flacombe commented on #7726
This is great, thank you @quincylvania

[2020-06-23 22:37] quincylvania commented on #1762
@boothym Usage of the `highway=sidewalk` tag has [grown faster](https://taghistory.raifer.tech/#***/footway/sidewalk&***/sidewalk/) than that of `sidewalk=`, and has about caught up in [total uses](https://taginfo.openstreetmap.org/tags/footway=sidewalk). Higher-resolution aerial imagery is more widely available, making it much easier to trace sidewalks in urban areas. Separate ways enable granula

[2020-06-23 23:03] #6970 closed

[2020-06-24 07:15] matkoniecz opened #7730 "Add "sand pit" to presets (landuse=quarry)"
"sand pit" as in sand mining https://commons.wikimedia.org/wiki/Category:Sand_mining

"sandpit" as in playground feature is present

Optionally autoadd `resource=sand` if that is supported and shown by iD

[2020-06-24 07:18] scottAnselmo opened #7731 "OSM Japan Slack Invite is no longer valid"
When making a commit to OSM via iD among other social network sites/services, it presents an invalid Slack invite for OSM Japan that has expired:

https://join.slack.com/t/osm-japan/shared_invite/zt-d0my5ek2-SRxGCIsPPIyaOWkJOZ4EMg

![image](https://user-images.githubusercontent.com/3056597/85513754-dba1a500-b5ea-11ea-95bc-d9b65d7e0af3.png)

This should be changed to a permanent Slack invite

[2020-06-24 07:23] matkoniecz commented on #7731
Thanks for reporting!

iD is pulling this data from https://github.com/osmlab/osm-community-index and it should be fixed there

Do you know which invite would be correct!

[2020-06-24 12:13] Nakaner commented on #1762
@quincylvania wrote:

TL;DR The model (counting TagHistory/global Taginfo) you base your decision on is not suitable to support forming a well though out decision.

@quincylvania, the explaination for your decision not to support it lacks a couple of things:

You say that `footway=sidewalk` grows faster than `sidewalk=*`. First, TagHistory has not been updated for about one to two years. Things ca

[2020-06-24 13:17] quincylvania commented on #7731
Yep, someone can open an issue or PR there.

[2020-06-24 13:17] #7731 closed, assigned to nobody

[2020-06-24 13:25] quincylvania commented on #7730
@matkoniecz What exact tags are you proposing for this?

[2020-06-24 13:38] quincylvania commented on #7730
I changed the `playground=sandpit` preset name to "Play Sandbox" to hopefully avoid people using it for industrial sandpits.

[2020-06-24 14:06] blackboxlogic opened #7732 "Allow Combining looped ways"
In the situation where a road ends in a turning loop, mapped as separate elements (in a "lollipop" shape), I'd like to be able to select both elements, and use the 'combine' action to turn them into one element.

An example:
- Select way/11418145 and way/11416675
- Type the letter 'C' to combine them
- Receive error: "These features can't be merged because their endpoints aren't connected."

There

[2020-06-24 14:32] Mashin6 commented on #1762
I agree that the creators of iD too often decide/or influence tagging without getting proper approval from OSM community through official channels (and in all seriousness this should change). However, in this case tagging as separate ways is officially approved scheme, while tagging on roads had never reached that status. I think that as a community we should strive to keep the tagging as consiste

[2020-06-24 14:45] matkoniecz commented on #7730
`landuse=quarry` + `resource=sand`

(I have no strong opinion here, but it is standard tagging Poland and tagging that I use myself)

https://wiki.openstreetmap.org/wiki/Tag:landuse%3Dquarry seems to agree (disclaimer: I am very active on OSM Wiki so as usual the page may be written by myself)

https://help.openstreetmap.org/questions/2351/tagging-a-gravel-pit is related and demonstrates that it n

[2020-06-24 14:46] matkoniecz commented on #7730
After editing PL translation - maybe `landuse=quarry` should match to "sand pit" and "sandpit"? Not sure is it going to be confusing for native speakers of English.

Though `resource=sand` sounds like a good idea anyway.

[2020-06-24 14:49] kymckay commented on #1762
@Mashin6 I'm curious because this comes up a lot: what official channels do you speak of and who represents the OSM community? 🤔

I think all involved in developing iD would actually be relieved if there were official channels coordinating sensible and well thought out centralised tagging scheme development as it would make their lives much easier. To my knowledge, no such thing exists. Closest th

[2020-06-24 14:57] blackboxlogic commented on #7732
A [brief discussion](https://osmus.slack.com/archives/C2VJAJCS0/p1593007575251100) found no cases where this would break something.

[2020-06-24 15:02] quincylvania commented on #1762
@Nakaner Closing this issue means only that I don't think we should add a `sidewalk` field to roads. iD has gone without this field for seven years, so the state of play remains unchanged.

When there are multiple valid ways to map something in OSM, we try to surface just one in iD in order to avoid confusing or overwhelming new mappers. People are free to use whatever pattern they or their commun

[2020-06-24 15:33] bhousel commented on #7732
Combining the loop with the straight part could possibly break a relation with a "via" node at the intersection point, such as a turn restriction, enforcement, or speed camera or something, but this would be pretty rare.

[2020-06-24 15:38] Mashin6 commented on #1762
@SilentSpike OSM is a community based project, which comes with advantages and disadvantages. The decision making is largely decentralized, without any official entity that would issue directives. Although I personally think that it is a time to establish at least some form of committee that would help to streamline things and make communication more efficient.

For now the best place to engage in

[2020-06-24 16:35] manfredbrandl commented on #7724
@quincylvania no maxar strings in transifex as you have probably seen and reopened

[2020-06-24 16:40] quincylvania commented on #7724
@manfredbrandl Yep. I mistakenly thought Transifex pulled the strings from `en.json`, but it actually pulls the imagery and community strings right from their respective projects. This is okay, but it means we'll probably have to include the Maxar strings in `core` instead of `imagery`.

<img width="670" alt="Screen Shot 2020-06-24 at 11 50 18 AM" src="https://user-images.githubusercontent.com/204

[2020-06-24 18:53] manfredbrandl commented on #7724
Including maxar string in core not imagery: not the best but the best available solution so far. very okay for me.

[2020-06-24 19:11] #6397 closed

[2020-06-24 19:16] maro-21 opened #7733 "Change shortcuts.editing.operations.disconnect"
I think the text in the help menu "Disconnect features at the selected node" should be changed, because now it is possible to use [D] key to disconnect not only at the selected node, but also at the selected nodes and disconnect an entire fetaure.

[2020-06-24 19:29] quincylvania commented on #6397
I added toggle buttons for all the panels that were shortcut-only: Background, Location, History, Measurement. I also did #2508, so copy and paste of features can now be performed without a keyboard.

While there are still some shortcuts that don't correspond directly to UI controls (zoom in/out by a lot, nudge features with arrow keys, select first/last/next vertex in a way), these are all things

[2020-06-24 19:41] maro-21 commented on #7726
How do you call _line management_ in other words? Because I'm thinking of the right translation. [Wikipedia](https://en.wikipedia.org/wiki/Line_management) doesn't help.

[2020-06-24 19:44] #7733 closed, assigned to quincylvania

[2020-06-24 19:44] quincylvania commented on #7733
@maro-21 Good catch 👍

[2020-06-24 19:46] maro-21 commented on #7724
- There should be a space between _50_ and _cm_
- Why are there two Maxar layers if they have the same imagery?
- Why are there two Esri layers if they have the same imagery?

[2020-06-24 19:51] quincylvania commented on #7724
@maro-21 They're not the same imagery all over the globe. Both companies maintain two separate endpoints and can independently update the data for any given location at any time.

[2020-06-24 19:56] quincylvania commented on #7726
I'm not sure, but I'm open to suggestions for the English label. "Line Management" isn't very intuitive, but I left it since it matches the tag directly and only power-mappers are likely to see it anyway.

[2020-06-24 20:24] khyati18 commented on #7611
@quincylvania can I work on this issue ?

[2020-06-24 20:31] maro-21 commented on #6970
Why are there two fields (strings on Transifex) with the same name?
What is the difference between them?

Destinations | destination=*
* presets.fields.destination.label
* presets.fields.destination_oneway.label

Destination Road Numbers | 'destination:ref=*
- key: presets.fields.destination/ref.label
- key: presets.fields.destination/ref_oneway.label

Destination Symbols | 'destination:symbol=*'

[2020-06-24 20:34] quincylvania commented on #6970
@maro-21 These fields are identical but one appears only if the `oneway=yes` tag is present. This isn't optimal for translation so we might think of ways to improve it in the future.

[2020-06-24 20:43] quincylvania commented on #7611
@khyati18 Thanks for your interest! This might be a relatively complex and delicate interaction issue, so unless you're experienced in the codebase I'd recommend starting with a [beginner](https://github.com/openstreetmap/iD/labels/good%20first%20issue) or [intermediate](https://github.com/openstreetmap/iD/labels/help%20wanted) issue first. That said, no one else is working on this yet, so feel fr

[2020-06-24 20:58] maro-21 commented on #6970
Do we need separate fields for one way? Can't we remove one of them?

[2020-06-24 21:02] quincylvania commented on #6970
We need the oneway restriction since `destination=` is ambiguous on bidirectional highways. There are `destination:forward` and `destination:backward` tags for these cases, but they're too complex for iD to support right now. This is usually okay though since `destination` is mostly used on "link" highways that are typically oneway.

[2020-06-24 21:03] sun-geo commented on #7685
Thank you

[2020-06-24 21:21] maro-21 commented on #6970
Ah, I see.

[2020-06-25 11:06] geo-system opened #7734 "Change the title and definition of "polska.e-mapa.net: Buildings" layer"
polska.e-mapa.net is a map portal run by us (Geo-System; commercial company),
whereas the current url of the layer is https://integracja02.gugik.gov.pl/cgi-bin/KrajowaIntegracjaEwidencjiGruntow (WMS service owned by GUGiK; Head Office of Geodesy and Cartography in Poland), so there's a clear mismatch.

To fix this the layer should use metadata entries from the service capabilities (https://integra

[2020-06-25 13:06] quincylvania commented on #7734
Hi and welcome, @geo-s. iD gets most tile layers from the [editor-layer-index](https://github.com/osmlab/editor-layer-index/issues), so you'll have to open this issue over there 👉

[2020-06-25 13:06] #7734 closed, assigned to nobody

[2020-06-25 14:16] quincylvania commented on #7656
I was able to optimize performance even more, such that continuing the original example way now feels speedy and indistinguishable from drawing some short way 🤸

[2020-06-25 14:26] jidanni opened #7735 "Idea: Row of houses (cells) tool"
The houses on the left were made by CTRL+C CTRL+V CTRL+V CTRL+V ...
More ideal are the houses on the right.
![26369-1](https://user-images.githubusercontent.com/1230959/85737372-e7e44a00-b731-11ea-816f-e9fe43f5d7ac.jpg)
Perhaps a tool could be made:
"Split current rectangle into [___] equal sized rectangles; (x) Lengthwise, ( ) widthwise; (x) clone all tags, ( ) clear all tags, ( ) clear___tag..."

[2020-06-25 14:28] quincylvania commented on #7735
Thanks, this is #6988.

[2020-06-25 14:28] #7735 closed, assigned to nobody

[2020-06-25 15:04] quincylvania opened #7736 "Add "Done" button when drawing a way"
To finish drawing a way in iD, the mapper can either click the last-placed node again or press a key like escape or return. On touch devices, tapping a node again is fiddly and unintuitive, while using hotkeys may be impossible. We should consider showing a dedicated "Done" button as an easier interaction for non-mouse drawing.

The v3 prototype UI has this already, but we should think of the best

[2020-06-25 15:28] quincylvania opened #7737 "Localize the locator overlay to the extent possible"
The new Mapbox locator overlay is great, but it currently shows labels only in their local language(s). It'd be better to request tiles in the user's language if it's one that's supported by Mapbox. Cc: @mikelmaron

<img width="949" alt="Screen Shot 2020-06-25 at 11 24 17 AM" src="https://user-images.githubusercontent.com/2046746/85749069-86db5880-b6d6-11ea-8f24-7f3b57b752bc.png">

![image](https:

[2020-06-25 16:06] quincylvania commented on #7708
@jleedev Would you mind testing this again when you get a chance? I made the map and all its container elements `touch-action: none`, so Chrome _shouldn't_ try to handle any of the gestures itself…

[2020-06-25 16:54] jleedev commented on #7708
It seems to be working!

[2020-06-25 16:59] quincylvania commented on #7708
@jleedev Huzzah! Thanks for helping debug this. It's always hard to fix browser/device-specific bugs without access to the setup in question.

[2020-06-25 16:59] #7708 closed, assigned to quincylvania

[2020-06-25 18:04] Elefant-aus-Wuppertal opened #7738 "add some more keys to the post_box-preset"
Hi,
I think for amenity=post_box, there could be added some more things to its preset:
- how is the post box supported (support=*)
- how is the post box constructed (post_box:type=*, see https://wiki.openstreetmap.org/wiki/Key:post_box:type)
- what colour is it (colour=*)
- what material is it (material=*)

[2020-06-25 18:06] mikelmaron commented on #7737
@quincylvania there's a couple ways this could be achieved. we could create different styles for each language, and iD would request the appropriate one for the users environment. or iD could use vector rather than raster tiles, and modify the styling on the front end; that is simple to code, but would mean dependency on a library to handle vector tiles.

[2020-06-25 18:38] quincylvania commented on #7737
@mikelmaron Hmm I'd rather not add a vector tile library just for this. Vector tiles are probably something iD should have first-class support for eventually. You can sort of load an vector tile endpoint as the custom map data layer, but the support is minimal and bug-prone.

For now I think it's fine to swap between language-specific styles. Though I'm assuming it's tough to keep them in sync, so

[2020-06-25 19:13] mikelmaron commented on #7737
Yes makes sense to launch the new style, make sure there's no issues with the styling, and then look at cloning and tweaking for different languages.

In parallel, presume this wouldn't be too hard to implement in iD. However I'm not clear how we'd add this to the ELI in a way that wouldn't explode the number of overlay layers available.

[2020-06-25 19:52] quincylvania opened #7739 "Autoprefix CSS"
Since we started using PostCSS anyway for #7437, we should try using the [autoprefixer plugin](https://github.com/postcss/autoprefixer) to ensure as much cross-browser CSS support as possible.

[2020-06-25 20:23] #7739 closed, assigned to quincylvania

[2020-06-26 13:39] quincylvania commented on #7730
@matkoniecz Hmm I don't think we need to start adding presets for every type of quarry, but we can definitely add more search terms.

[2020-06-26 16:34] jidanni opened #7744 "Hard to actually choose the grey item"
Here (with Foot Path) the user has great difficulty in actually choosing the grey "yes"
![6918-0](https://user-images.githubusercontent.com/1230959/85879884-af19a300-b80d-11ea-851e-a4ab07878479.jpg)

Perhaps the idea is "yes is assumed, so we don't actually offer it, as there is no need to save the tag at all in this case." But this is not clear to the user.

[2020-06-26 19:08] maro-21 commented on #7744
No, it's because _adding access=yes to highway=footway could be read as changing default restrictions (which usually are foot=yes and vehicle=no for highway=footway) to yes, highway=footway + access=yes means "road, which is open for all pedestrians and vehicles"._  https://wiki.openstreetmap.org/wiki/Key:access#Transport_mode_restrictions

Adding `access=yes` to a road is a bad idea, because it m

[2020-06-26 19:54] quincylvania commented on #6745
I haven't seen this bug in quite some time, so I'm _hoping_ I finally fixed all occurrences. We must continue to stay vigilant… 🕵️‍♂️🐛

[2020-06-26 19:54] #6745 closed

[2020-06-26 20:00] quincylvania commented on #7599
As much as I'd love to get this done for 2.18.0 and tote "full tablet support", this will definitely take some time to get right and the release has already been delayed long enough. We can just hide the move/rotate menu buttons on touch interactions for now and tote "nearly full tablet support". Full move/rotate touch support can come in 2.18.1 or whatnot. After all, "nearly full" is better than

[2020-06-26 23:15] jidanni commented on #7744
Well I'm only concerned that among
- item in grey vs. item in black
- item present in blue in drop down list vs. item absent

the user does not grasp that there is deeper logic going on in the several combinations, so maybe the item (e.g., "yes" here) should also appear in the drop down list, but in e.g., red, not blue, and then a mouseover (which hopefully can be machine generated: "A blocks B")

[2020-06-26 23:20] flacombe commented on #7726
Line management is definitely an OSM vocabulary chosen accordingly with line_attachment=* key.
It deals with particular topologies of any kind of line (both underground and overhead) around their supports or particular waypoints.

It could be rephrased as Line topology pattern IMHO.

[2020-06-26 23:35] jidanni opened #7746 "combine tool doesn't update big block at top"
I found a restaurant on the map, but it was only a point.
So I drew an area around it and used the combine tool "c", to convert the point into an area.
![X0](https://user-images.githubusercontent.com/1230959/85908488-cb3a3600-b847-11ea-978c-982e90c98900.jpg)

Well, if one wants "area" at the top there to become "restaurant", one need to save the edit.

After saving click the area again.

![X2](htt

[2020-06-27 21:33] jjmontesl commented on #2225
Another example, where I don't dare removing the incorrect "construction area" below the supermarket and its parking:

https://www.openstreetmap.org/edit?#map=19/40.95723/-5.67744

(The invalid area is w762437182)

[2020-06-27 21:46] kymckay commented on #2225
@jjmontesl A pro-tip workaround for you while this issue is unsolved:

https://www.openstreetmap.org/edit?way=762437182#map=19/40.95723/-5.67744

Open that link and hit the delete key (can also use `node` and `relation` for similar cases).

[2020-06-27 22:53] jidanni commented on #2225
So the full steps to the workaround would start with first going to OSM.ORG and doing a query features on the spot to obtain the way link...

[2020-06-27 22:55] jjmontesl commented on #2225
I guess @SilentSpike meant hitting CTRL-I to get the way ID, and building the URL automatically. Before that, I have to remove enough features to reach the buried one, get the ID, then hit CTRL-Z to undo, build the URL and edit as needed. In order to be able to press DEL, I also had to drag the map before, in case someone is trying to do the same.

Well at least I now have a full workaround. But m

[2020-06-27 23:19] jidanni commented on #2225
But those "w237949253" CTRL+I way ids are only available for features that one can click on, not for buried features, no? I mean if I can't click on it, then CTRL+I won't help me.

[2020-06-28 05:32] jidanni opened #7748 "Offer copying line segments in place"
Here we see the user has roughly made a road next to a preexisting administrative boundary,
![23043-7](https://user-images.githubusercontent.com/1230959/85938830-374d9480-b943-11ea-9195-95e73b923c30.jpg)
when in fact the road lies right on top of the administrative boundary.

If he could just copy a line segment in place the map would be much better.

Yes he can copy an entire district boundary, s

[2020-06-28 07:05] tbertels commented on #2225
A few pictures are often better than words, so here's a workaround to remove a hidden polygon:

### 1.

![1b](https://user-images.githubusercontent.com/3265870/85940652-f3946400-b91d-11ea-8181-556370b68d27.png)

### 2.

![2b](https://user-images.githubusercontent.com/3265870/85940656-f68f5480-b91d-11ea-86c4-364c352838cf.png)

### 3.

![3b](https://user-images.githubusercontent.com/3265870/85940658

[2020-06-28 15:01] sun-geo opened #7750 "amenity kindergarten (as node) preset currently called "... ground""
I wonder if it could (and if it is possible) make sense to modify a bit the `amenity=kindergarten` preset, so that a node object will not called as "Preschool / Kindergarten **grounds**" (in sense of a terrain)?

Example node object:
https://www.openstreetmap.org/edit?node=6639186310

So, for node object I think I would prefer a preset name just like "Preschool / Kindergarten".
What are others thi

[2020-06-28 15:16] jidanni opened #7751 "Fixing one issue folds up all of them"
If there are multiple issues,
![155-4](https://user-images.githubusercontent.com/1230959/85951245-79eb8d00-b994-11ea-8ef9-41e33a643678.jpg)
and we choose "add a bridge", all the issues get folded up:
![28781-6](https://user-images.githubusercontent.com/1230959/85951334-157cfd80-b995-11ea-801c-5617ec5c06e9.jpg)

It's as if the latter stages of the program are only expecting there is one issue, so j

[2020-06-28 16:28] quincylvania commented on #7746
@jidanni You opened this issue in #7450 and we'd already fixed it for the next release. I understand this release is taking awhile, but I ask for your patience. You can try out the new version at https://ideditor.netlify.app.

[2020-06-28 16:28] #7746 closed, assigned to nobody

[2020-06-28 18:59] quincylvania opened #7753 "Enable Relations section for multiple selected features"
Similarly to #7324, we should make the Relations inspector section compatible with multiselections. This is tricky, since the memberships may have different roles and the same member can appear multiple times in one relation.

[2020-06-28 19:51] quincylvania commented on #3094
This was fixed somewhere along the line since 2016.

[2020-06-28 19:51] #3094 closed

[2020-06-28 22:56] peternewman commented on #7750
It's grounds as in land that surrounds a building:
https://dictionary.cambridge.org/dictionary/english/grounds

It's because you've tagged a point and used amenity I think, if you tag an area you can have a particular building:
https://github.com/openstreetmap/iD/blob/develop/data/presets/presets/building/kindergarten.json

[2020-06-28 23:17] peternewman opened #7754 "Spellchecking warnings for certain tag names (to catch typos by users)"
So I, and previously 90 other people, misspelt pavilion with two L's while tagging in OSM (on my part because it didn't show in the drop down of the building key, yes I probably should have use a preset or noticed it didn't flag one).

So I've created https://github.com/openstreetmap/iD/pull/7749/files which I think will fix the outstanding ones.

I've also done a codespell ( https://github.com/co

[2020-06-29 07:28] Samarath commented on #7738
I would like to work on this.

[2020-06-29 11:08] matkoniecz opened #7755 "show source field on saving form"
Currently user must notice that the field even can be added and then add it manually on every edit.

As result iD mappers are generally not specifying their sources.

To not block/scare mappers it would be OK to not require filling it.

[2020-06-29 11:55] sjorford opened #7756 "Typo in preset for craft=agricultural_engines"
Shows as "Argricultural" instead of "Agricultural"

![image](https://user-images.githubusercontent.com/10633357/86002061-b73d3280-ba07-11ea-9096-115dbfb6d278.png)

[2020-06-29 13:03] quincylvania commented on #7738
@Samarath Great, welcome! Check out our [contributing guide](https://github.com/openstreetmap/iD/blob/develop/CONTRIBUTING.md) and the [presets readme](https://github.com/openstreetmap/iD/blob/develop/data/presets/README.md). Let me know if you have any questions.

[2020-06-29 13:08] #7756 closed, assigned to quincylvania

[2020-06-29 13:08] quincylvania commented on #7756
@sjorford Whoops! Thanks for reporting, and welcome.

[2020-06-29 17:28] manvisingh07 commented on #7738
I am interested, I would like to work on this.

[2020-06-29 19:18] rivermont opened #7757 "Consider piers for routing disconnected ways"
Currently if a `route=ferry` is connected to a larger network only by `man_made=pier`'s, iD throws the `Disconnected from other roads and paths` error.
Piers are routable according to [Osmose](https://github.com/osm-fr/osmose-backend/blob/703f6bac7d56b623c193363fb22398f5f24fc93b/analysers/analyser_osmosis_highway_floating_islands.py#L42) and [the wiki](https://wiki.openstreetmap.org/wiki/Tag:man_m

[2020-06-29 20:12] quincylvania commented on #7757
The existing behavior is intentional. Not all routers will necessarily treat piers as routable and people use the `man_made=pier` tag for all sorts of things you can't really walk on, like bridge pilings.

You can manually add `highway=footway` or `highway=service` to routable piers.

[2020-06-29 20:12] #7757 closed, assigned to nobody

[2020-06-30 08:06] sun-geo commented on #7750
Yes, so for an area object like:
https://www.openstreetmap.org/edit?way=282917235
the preset text "Preschool / Kindergarten grounds" matchs quite good, execpt, if you have area which defines only the building, like:
https://www.openstreetmap.org/edit?way=256908810
In the last case the surrounding is missing.
So maybe that all cases (node / area only building / area building and surroundings) will

[2020-06-30 12:14] vanjakom commented on #7653
iD is also having trouble sorting route which is not fully mapped, happens with hiking routes
<img width="826" alt="Screenshot 2020-06-30 at 14 07 43" src="https://user-images.githubusercontent.com/881309/86124780-f046d700-badb-11ea-8014-0780cc99b4e8.png">
and correct order:
<img width="737" alt="Screenshot 2020-06-30 at 14 12 42" src="https://user-images.githubusercontent.com/881309/86124818-00f7

[2020-06-30 12:38] bhousel commented on #7653
Yes, I don’t think iD will ever be able to handle this case very well, where the trail is not connected.

The way iD ordered it in your screenshot looks pretty good actually. It just ordered the disjoint segments beginning to end.

[2020-06-30 13:03] maro-21 commented on #7750
It's because there is only one preset for kindergarten. No matter what geometry it has.

The preset for kindergarten is "Preschool / Kindergarten grounds"
and the preset for school is "School Grounds" - it's becasue most of such amenities we map as an area including school buildings, pitches and area around them. Of course it is possible to map them as a point, or some schools are only inside one

[2020-07-01 07:10] SpaeterAendern opened #7758 "Spelling German -> "Wald ohne forstwirtschafliche Nutzung""
"Objekttyp auswählen" shows the term
"Wald ohne **forstwirtschafliche** Nutzung" without the "t"
"Wald ohne forstwirtschaftliche Nutzung" is the correct term :)

![Bildschirmfoto_2020-07-01_09-08-58](https://user-images.githubusercontent.com/3099922/86213797-86c9d580-bb7a-11ea-9fdd-7449eac75c37.png)

[2020-07-01 07:32] manfredbrandl commented on #7758
This was a typo in the Translation, i did correct that:
![image](https://user-images.githubusercontent.com/5360273/86215784-4ddf3000-bb7d-11ea-843a-6737f172d9aa.png)

This will be unrolled to https://ideditor.netlify.app/ when the next change in the develop branch occurs.
With the upcoming release 2.18.0 it will be unrolled to https://openstreetmap.org/.
Can you please close this issue?

[2020-07-01 07:34] SpaeterAendern commented on #7758
thx!

[2020-07-01 07:34] #7758 closed, assigned to nobody

[2020-07-01 10:46] amandasaurus commented on #1762
Huh? OSM has no officially approved tagging schemes for anything.

I 100% agree.

I'm personally not in favour of that, and it would bring many disadvantages.

There's plenty of non-US channels & non-US activity on that.

[2020-07-01 13:10] sun-geo commented on #7750
Exactly, so for my understand it would be for interest, that the text is more generic => will match all forms of geometries.

Thanks for linking the other issues. Seems some other people have the same wish/request, i will read the mentioned threads later in detail.

[2020-07-01 15:10] maro-21 commented on #7582
Currently the preset for `landuse=construction` is in both categories: Landuse and Future/Past, so I think Recently Demolished Building should be in both too: Buildings and Future/Past.

[2020-07-01 17:27] boothym commented on #1762
@quincylvania Given that a length of road with a sidewalk on either side of the carriageway would be tagged only once with sidewalk=both, but twice with two footway=sidewalk ways, it's not surprising that footway=sidewalk has caught up!

Maybe it's the general preference to map sidewalks independently from roads in the USA (where separate sidewalks outnumber the sidewalk tag by ~200k) but there is

[2020-07-01 18:07] Mashin6 commented on #1762
@rory Separate sidewalks were approved by majority of voting members. Discussion about semantics of "official" are not pertinent in this case. Anyways, I think that Github is not a place for these type of discussions. If you want to talk more hit me up in Slack or PM on osm.org

[2020-07-01 18:14] cliffordsnow commented on #1762
On Wed, Jul 1, 2020 at 10:27 AM Michael Booth <notifications@github.com>
wrote:

I'm one of those mappers that switch from mapping sidewalks as attributes
of streets to separately mapped ways. The reason I switched was that it's
nearly impossible to route pedestrians using the attribute method.
Especially for pedestrians with limited mobility. The attribute method
basically just informs vehicle tr

[2020-07-01 20:16] sun-geo opened #7759 "potential validation: turn restriction with same 'from' & 'to' member"
So far i understand, the turn restriction relations are only used for navigation routing engines. And it seems that turn restriction with same 'from' and 'to' member makes no sense for these routing engines, because they wouldn't use such a route even without having these restrictions.

Example object: https://www.openstreetmap.org/relation/7809294

If others agree, please display a warning messag

[2020-07-01 20:31] bhousel commented on #7759
The restriction you linked to looks like a typical No-U-Turn restriction.
These are pretty common, and they have the same 'from' and 'to' members.

[2020-07-01 22:03] 532910 opened #7760 "preview tiles in edit mode are outdated"
https://www.openstreetmap.org/way/37631652
![image](https://user-images.githubusercontent.com/14617699/86295663-c5ee3a00-bbff-11ea-92b6-2c2b83fac8c5.png)
![image](https://user-images.githubusercontent.com/14617699/86295672-cc7cb180-bbff-11ea-9efb-e203ef6e4e7b.png)

[2020-07-02 00:43] quincylvania commented on #7760
@532910 Hi and welcome. This is #7025 and has been fixed for the next release.

[2020-07-02 00:43] #7760 closed, assigned to nobody

[2020-07-02 00:52] jjiglesiasg opened #7761 "In water/waterways (Any) add to the displayed menu the Seasonal condictionals"
It will be nice that for lines and areas tagged as water or waterways, the displayed menu shows also the seasonal tag, like the intermitent currently shows.

Thanks

JJ

[2020-07-02 11:51] GenericError commented on #6988
If somebody would like to take over the reigns of this then they are more than welcome to; essentially the closest I worked out would be to: draw a bounding box around the building (as seems to already be implemented as a function in iD), draw a line down the centre, create nodes at the intersection and reasign nodes in the way to create an additional building and resize the original building to o

[2020-07-02 12:33] Adamant36 opened #7763 "Limit service namespace to none redundant tagging"
The wiki guidelines around the use of namespaces clearly states that they shouldn't be used in cases where it just duplicates data.

As in an example, the Over-namespacing section of the [namespace](https://wiki.openstreetmap.org/wiki/Namespace) article says "over-namespacing leads to a disseminated data scheme: for example, someone interested in VHF channels data will have to look for harbour:VHF

[2020-07-02 19:59] maro-21 commented on #7763
I don't agree. [shop=bicycle](https://wiki.openstreetmap.org/wiki/Tag:shop%3Dbicycle) is for shops where one can: buy a bike OR rent a bike OR repair a bike OR buy bike parts. Redundant would be to have separate main tags for it: shop=buy_bicycle, shop=bicycle_rental, shop=bicycle_repair, shop=bicycle_parts. So service:bicycle:retail=yes is not redundant because with shop=bicycle you can tag a pla

[2020-07-02 23:29] Adamant36 commented on #7763
From my understanding the intent of these types of descriptive tags exist are for the exceptions, not the rules. For instance the whole reason there is a key like outdoor_seating is because some places have outdoor seating and some don't. Otherwise, outdoor seating would be "baked into the cake" and there wouldn't be a need describe it. In this example most people assume that a bicycle shop sells

[2020-07-03 05:27] Adamant36 commented on #7217
@polarbearing what was the outcome of the tagging list discussion?

[2020-07-03 07:03] Adamant36 commented on #7709
Mind if I ask how people know it's a windpump from the satellite images, or even on the ground, instead of just a regular windmill? Because the example image on the wiki just looks like a regular windmill to me. It's even called a "windmill" in the file name. So, I'm thinking the distinction between them isn't that clear, likely most (or all) windpumps are also inherently windmills. Therefore that

[2020-07-03 13:34] AntMadeira commented on #7709
Hi, Adamant36.
Well, those are two completely different things. One is a pump and the other is a mill. They not only look different (at least here in Europe), they also have different functions and can clearly be distinguished from satellite images or on the ground, just like so many other features. A windpump is a pump powered by wind and windmill is a mill (used to grind something, usually cerea

[2020-07-03 13:54] AntMadeira commented on #7709
Well, now that I read more about it, I understand your question better.
This is an issue to debate on the tagging mail list (I see you posted the same question on the wiki), but here in Portugal, windmill is a windmill, it's never confused with a windpump (especially the kind with those metal blades). I don't really think they even should be called windmills, since they don't grind anything, but t

[2020-07-03 18:23] 1ec5 commented on #7709
I assume you’re discussing this image:

[![](https://upload.wikimedia.org/wikipedia/commons/thumb/4/4d/Water_Pumping_Windmill.jpg/320px-Water_Pumping_Windmill.jpg)](https://commons.wikimedia.org/wiki/File:Water_Pumping_Windmill.jpg)

This is a classic design for an American-style windpump. In the Midwest where I’m from, windpumps are colloquially called windmills, even though they’re unrelated to

[2020-07-04 04:54] Adamant36 opened #7764 "Add preset for information centers"
The wiki recommends `tourism=information + information=office`. I see the preset comes up if you specifically search for "tourist information office", but it would be good if it did when searching for "information center." I think the title for the office=guide preset might have to be altered to. Thanks.

[2020-07-04 12:44] forteller commented on #7574
I still can't find this on https://preview.ideditor.com/master/ ?

[2020-07-04 15:02] quincylvania commented on #7709
A good icon should help people distinguish these from windmills. We can add "windmill" as a search term so people will see both and hopefully learn about the distinction. I'd assume windpumps are widely mistagged as windmills in the US.

[2020-07-04 15:04] quincylvania commented on #7574
@forteller That v3 preview site isn't getting updated anymore. You can find the latest working changes at https://ideditor.netlify.app.

[2020-07-04 15:13] quincylvania commented on #7759
Yep, I don't see an issue here.

I'm sure there are plenty of invalid combinations of relation members, but iD doesn't know enough about the OSM schema (such as it is) to flag them.

[2020-07-04 15:13] #7759 closed, assigned to nobody

[2020-07-04 15:17] quincylvania opened #7765 "Hover-inspector not always removed correctly"
This is an unreleased bug specific to the interaction changes in the `develop` branch.

Sometime when hovering over a feature and then doing something else, like zooming out past the editable level, the "hovered" preview inspector sidebar remains open.

[2020-07-04 15:52] fqdb opened #7766 "Intersecting multipolygon ways is not detected as an error"
This rendering error is not identified as an error in iD (I tried both the live version hosted on openstreetmap.org [2.17.3] and the preview of iD 3):

https://wiki.openstreetmap.org/wiki/Relation:multipolygon/validity#2_-_Overlapping.2C_unclosed_member_ways_belonging_to_the_same_role

![Annotation 2020-07-04 174750](https://user-images.githubusercontent.com/2826336/86516178-b4cf4400-be1e-11ea-91e

[2020-07-04 17:27] forteller commented on #7574
Huh. Ok, thanks. So there's no way to test the latest v3 any more? Does that mean it's close to release?

[2020-07-04 19:50] quincylvania commented on #7574
@forteller That preview site is up to date with the v3 branch, but we're not working on that branch of code anymore. The v3 preview ended up being a prototype where we tried a bunch of things that weren't fully baked. It was turning into a massive amount of work to keep that branch up-to-date with all the release-ready stuff in the `develop` branch, so we decided to abandon it.

We've learned a lo

[2020-07-04 22:11] 1ec5 commented on #7123
[This MapRoulette challenge](https://maproulette.org/browse/challenges/13851) includes hundreds of flagpoles to retag where a mapper had written a full country name in the Country field. That could’ve been due to a lack of awareness of the convention to use ISO codes, the inconvenience of looking up an ISO code, or the taginfo-based suggestions that currently show “Tanzania” as the most common val

[2020-07-06 08:49] vanjakom commented on #7653
I understand, think I'm unable to understand is why iD tries to reorder from scratch. For example today I edited perfectly ordered route, simple edit, way which was part of relation is split into two and both ways stay in relation. Before edit I downloaded all ways and guideposts that belong to relation to ensure iD has all data that it needs. I ended up with completely reordered route.

With hiki

[2020-07-06 09:20] Adamant36 commented on #7738
@Lukas458 I was looking at the usage for post_box:type and they all seem to be about the type of support. So, do you know how it would be different then the support tag? Because it looks like they are used the same to me.

[2020-07-06 12:35] Elefant-aus-Wuppertal commented on #7738
Hmm, okay. In my thoughts there would be a difference between these keys. When you look at post_box:type's wiki page, you can for example find the value "lamp". A post box "lamp" is the kind of its shape to me. Here is what we call "lamp" as a post box in Germany: https://wiki.openstreetmap.org/wiki/File:BRIEFKASTEN_DER_DEUTSCHEN_POST_in_BREITH%C3%9CLEN.JPG

As support, the picture shows a pole. B

[2020-07-06 12:55] Adamant36 commented on #7738
Hhhmm, that sorta makes sense. I guess. But then you have stuff like `post_box_type=wall + support=wall`. Same goes for the others possibilities. Which just seems wierd and redundent. Everyone knows that a wall post box is supported by the wall that its in. Same goes wiyh a pillar post being supported by the piller. Although technically wall post boxes aren't "supported" by the wall in a tradition

[2020-07-06 16:09] Elefant-aus-Wuppertal commented on #7738
I see, but at the moment I have no idea how to solve that. So maybe it would be better to exclude adding post_box:type first...

[2020-07-06 21:12] willemarcel opened #7767 "Improve preset selection when presets are filtered by URL parameter"
Some users that are a bit more experienced on iD are getting confused with the preset selection.

We should let them know when the presets are limited. Maybe we could also restrict the point, line, area selector according to the preset geometry types.

[2020-07-06 21:27] rachblevine commented on #7767
Agreed! Thanks for starting this ticket.  Another option is instead of displaying the number of options that are missing when you type in what you are looking for, a note is displayed "you are searching for a feature on a restricted project."

[2020-07-07 06:53] matkoniecz opened #7769 ""zoom in to edit" is not disappearing on zooming in until user dismiss welcome dialog"
It is a bit confusing, I just completely missed welcome dialog with "start mapping" button (banner blindness?)

Encountered in https://preview.ideditor.com/master/

[2020-07-07 09:28] Adamant36 commented on #7738
I would say just leave post_box:type out of it. It looks like its an abandoned mostly reject proposal anyway that mainly only worked in UK. There's a post_box:design tag and post_box:mounting. Both of which have semi-high numbers and would be way better then post_box:type. Although they don't have wiki articles or much discussion from what I can tell. But the best options sounds like just going wi

[2020-07-07 13:46] quincylvania commented on #7769
@matkoniecz We're not updating that preview site anymore. Let us know if you see this on the `develop` branch: https://ideditor.netlify.app.

[2020-07-07 13:46] #7769 closed, assigned to nobody

[2020-07-07 17:48] dead10ck commented on #2225
Is any progress being made on this? I hate to be that guy that doesn't contribute code and comes in complaining, but this issue was opened 6 years ago, and it's still a major usability issue.

[2020-07-07 20:36] quincylvania opened #7770 "Remove keyboard traps from non-modal views"
A keyboard trap occurs when a user cannot navigate away from a UI element via the keyboard alone. This is an [accessibility problem](https://www.w3.org/TR/UNDERSTANDING-WCAG20/keyboard-operation-trapping.html).

Modal views can restrict the keyboard focus, since their purpose is to temporarily limit the scope of the UI. But the modal must still be escapable/resolvable using the keyboard alone.

Re

[2020-07-08 12:49] jidanni opened #7772 "Can't undo to the last vertex of a polygon"
On https://ideditor.netlify.app/ start making an area.
Now undo the steps one by one with CTRL+Z.

You will see that with a polygon with vertices
A B C D E
you can't just undo down to just
A
because any further undoing beyond
A B
with just zap the whole thing.

[2020-07-08 14:42] rjgambrel opened #7773 "Feature request for user specific flagging using overpass-turbo like queries"
Use case: I am systematically updating a long highway or extended bike route consisting of many ways, and for each new way (segment) that I touch, I want to be warned in the editor that the way meets certain criteria that I select (such as tiger:reviewed=no). As in overpass-turbo, I would be allowed to type in the query. If the particular way I am now touching some distinctive message or visual in

[2020-07-08 22:00] AntMadeira opened #7774 "Are building type presets really necessary in iD?"
Hi there.
iD has two presets that can be a bit confusing, specially for newbies: `amenity=place_of_worship` + `religion=christian` and `building=church`. (it could be extended to other types of buildings)
In a country with many thousands of churches, this is problematic, because most casual mappers don't read OSM wikis.
To avoid having dozens or hundreds of actual churches mapped only with buildin

[2020-07-08 22:53] quincylvania commented on #7774
@AntMadeira I agree some of the building presets can be confusing for many mappers. I'd consider disabling them by default if these accommodations were in place:

- The building type field was translatable (#2708)
- A building "preset pack" could be enabled for mappers who care a lot about these

[2020-07-08 23:05] AntMadeira commented on #7774
If the type of building was translatable (that is another issue that I would love to be implemented, since it would help pick the correct keys) I agree it should be removed from presets. People could choose the building type from the field inside other main presets. As it is now, it causes a lot of unnecessary doubts.

I didn't understand what you meant with "preset pack"...

[2020-07-09 01:43] quincylvania commented on #7774
People currently see all available presets at once, mixed together. We could separate some groups of specialized presets out into "add-on packs" that advanced mappers could enable in a separate menu or via a URL parameter.

[2020-07-09 02:01] AntMadeira commented on #7774
Thank you for your clarification.
Don't know which presets would be included in those packs, but it seems a good idea to separate basic/common presets from more advanced/complex ones.
Still, I believe that the building type specifically should be only selectable only when you choose the building preset, or some kind of amenity like school, hospital, place_of_worship, etc.

[2020-07-09 02:43] andreasscherbaum commented on #2225
Same question here. All the tricks mentioned (like use middle mouse button, or Ctlr, or Right Alt) don't work here.
Chrome, on Linux.

[2020-07-09 15:12] blackboxlogic commented on #7627
These are examples of positive matches:
n158867610
n 158867610
n/158867610
node158867610
node 158867610
node/158867610
https://www.openstreetmap.org/node/158867610
https://www.openstreetmap.org/node/158867610/history
https://www.openstreetmap.org/node/158867610/history#map=19/43.66140/-70.25415
And the same for ways and relations. By requiring tokens before the `type` and after the `id` I have min

[2020-07-09 15:50] quincylvania commented on #7713
I've been working on this in a new [ACCESSIBILITY.md](https://github.com/openstreetmap/iD/blob/develop/ACCESSIBILITY.md) file. The name is short for convenience; the document involves a lot more.

[2020-07-09 17:10] matkoniecz commented on #7713
Would it be useful to mention #1646 in "Slow connection"?

[2020-07-09 18:28] boothym opened #7776 "Add shop=model preset"
https://wiki.openstreetmap.org/wiki/Tag:shop%3Dmodel - Scale model shop would probably be the best name for it? One of the terms would be "hobby".

To give some context, I saw a shop tagged as shop=hobby and checked the wiki, which said the hobby tag was undocumented and that a more descriptive tag should be used https://wiki.openstreetmap.org/wiki/Tag:shop=hobby

I would tend to agree, especially

[2020-07-10 14:02] quincylvania commented on #7738
Done in #7777 by @yyazdi13

[2020-07-10 14:02] #7738 closed, assigned to nobody

[2020-07-11 11:38] maro-21 opened #7778 "Wrong shortcuts"
In the new version of iD, in the settings "Style Options", the tooltip for both "Partial Fill" and "Full Fill" suggests that Space key is the shortcut for toggling this option. It's not true - [W] key is to toggle between "No Fill (Wireframe)" and "Partial Fill". "Full Fill" doesn't have a shortcut.

I also noticed that there is too much unnecessary space between "Data Layers" and "Photo Overlays"

[2020-07-12 06:47] manfredbrandl commented on #4090
@bhousel is this still on your agenda?

[2020-07-12 08:12] HaasJona opened #7780 "ID suggest wrong (brand) name for "immergrün" ("immergün")"
Steps to reproduce:

* Open https://www.openstreetmap.org/edit?node=1438376548

Actual results:

* ID suggests to replace "name=immergrün" with "name="immergün" (without the "r")

Expected result:

* No such suggestion.

The [wikidata object](https://www.wikidata.org/wiki/Q62589254) seems to be okay. I also [just corrected](https://www.openstreetmap.org/changeset/87870733) several instances of err

[2020-07-12 08:19] HaasJona commented on #7780
See also: https://github.com/osmlab/name-suggestion-index/pull/4028

Can probably be closed if the issue is over there.

[2020-07-12 11:10] #7780 closed, assigned to nobody

[2020-07-12 14:57] Adamant36 commented on #7713
Re "People with old hardware." I've been thinking for a while now that it would be cool of there was a way to toggle between basic and expert modes. Whatever those would entitled. Personally, I rarely use most of iD Editors more advanced features and it tends to slow my computer down a lot sometimes. Even though I have a fairly new hardware and a good internet connection. So a basic version that c

[2020-07-12 15:26] #7627 closed, assigned to nobody

[2020-07-12 15:28] kymckay commented on #7282
Resolved in #7775

[2020-07-12 15:28] #7282 closed

[2020-07-12 17:51] eduardoaddad opened #7781 "Error translating information from wikidata"
Description of wikidata are not being translated into Brazilian Portuguese noopenstreet map

[2020-07-13 06:07] manfredbrandl commented on #7781
@eduaddad Can you help translating? See https://github.com/openstreetmap/iD/blob/develop/CONTRIBUTING.md#Translating

[2020-07-13 11:38] Bibi56 opened #7782 "Wrong update proposal"
On https://www.openstreetmap.org/node/5904541271, iD [suggests](https://www.openstreetmap.org/edit?editor=id&node=1370801481#map=16/48.3241/-4.7753) to add `seamark:type=light_major`.

Adding `seamark:type=` on `man_made=lighthouse`is a good idea but 2 values are equally making sense:
`seamark:type=light_major`
`seamark:type=light_minor`.
Adding almost silently a refining attribute is a very bad i

[2020-07-13 11:57] jleedev opened #7783 "Add portapotty preset"
I think the correct tags for a portapotty are `amenity=toilets` and `toilets:disposal=chemical`, but I'm not smart enough to remember this.

Actual: Type in 'portapotty' and come up with nothing. Try the 'toilets' preset, then frown at the refinement options, since I'm not sure if this only applies to indoor facilities.

Expected: Select the 'portapotty' preset and be happy.

[2020-07-13 13:43] quincylvania commented on #7782
@Bibi56 Thanks, this was fixed in #7621.

[2020-07-13 13:43] #7782 closed, assigned to nobody

[2020-07-13 13:52] Bibi56 commented on #7782
@quincylvania, thanks I looked in the tickets - open or closed - and couldn't find a related issue.

[2020-07-13 13:54] quincylvania commented on #7783
I'd add [`portable=yes`](https://taginfo.openstreetmap.org/tags/portable=yes) too.

[2020-07-13 13:56] quincylvania commented on #7782
@Bibi56 No problem, the issue search doesn't include pull requests even though they use the same numbers.

[2020-07-13 16:32] eduardoaddad commented on #7781
the texts even being translated are in English

[2020-07-13 18:35] #7692 closed, assigned to quincylvania

[2020-07-13 19:28] #7778 closed, assigned to quincylvania

[2020-07-13 19:29] quincylvania commented on #7778
@maro-21 Thanks for reporting, the tooltip key was a bug. I'm not worried about this spacing, I think it looks fine and helps visually separate the sections.

[2020-07-13 19:47] #7765 closed, assigned to quincylvania

[2020-07-14 21:00] quincylvania commented on #7776
Done in #7779

[2020-07-14 21:00] #7776 closed, assigned to nobody

[2020-07-15 14:44] manfredbrandl opened #7786 "Publish Release 2.18 after Friday"
I cannot translate 100+ strings to German before Friday. Can you please publish 2.18 on Saturday (or later) or plan an extra translation update?

[2020-07-15 16:41] ignaciolep opened #7787 "Set Maxar as default background imagery"
Consider setting Maxar as default background imagery.

Bing (current default) is, at least in Argentina, far more outdated than Maxar.

The problem is that new editors use the default setup and make changes that doesn't reflect reality due to outdated imagery.

Check this location for example: https://www.openstreetmap.org/edit#map=17/-40.14195/-71.29770 (Switch between Maxar and Bing)

[2020-07-15 16:45] quincylvania commented on #7786
@manfredbrandl Sure thing, there's no need to rush. I've been checking in on Transifex to see how things are coming along. I'm planning to wait until the usual top languages are close to 100% again.

Thanks again for your translation work! Sorry we had to change so many strings at once.

[2020-07-15 16:45] #7786 closed, assigned to nobody

[2020-07-15 20:16] pnorman commented on #7787
It's important to set it to what is best in most locations where mapping is done. Each layer has places where it's best.

I've been meaning to do a worldwide evaluation of bing vs maxar vs esri but haven't gotten around to it, and probably won't soon.

[2020-07-15 20:34] quincylvania commented on #7787
Unfortunately a single layer isn't likely to be "best" in every location. We should really add a way to specify the default global layer for each region when a preferred local layer isn't available. We could do this pretty easily at the country level since iD already has [local country coding](https://github.com/ideditor/country-coder).

[2020-07-15 20:54] quincylvania opened #7788 "Low data mode"
iD can download a lot of data, which is an issue for mappers with slow or limited connections. This could become even more of a pain point as we continue to expand iD's mobile capabilities. We should consider adding the option to reduce the amount of downloaded data, at the cost of somewhat reduced functionality. Here are a few ideas:

- Don't download map data or tiles outside the visible area
-

[2020-07-15 21:18] thibaultmol opened #7789 "'Report an Imagery Problem' link broken"
The link for 'Report an Imagery Problem' in the background panel of the Preview.ideditor.com doesn't link to an existing page
https://github.com/openstreetmap/iD/blob/master/FAQ.md#how-can-i-report-an-issue-with-background-imagery

[2020-07-15 22:12] quincylvania commented on #7789
This has already been fixed in the `develop` branch.

[2020-07-15 22:12] #7789 closed, assigned to nobody

[2020-07-15 23:54] NateGrobe commented on #7467
Hi. I'm new to open source and was wondering if I could work on this issue?

[2020-07-16 01:52] jidanni commented on #7788
(Indeed... going a <del>tiny</del> bit further, _zero data mode_, would allow iD to be usable offline, like JOSM (whose opposite panning mouse binding means I cannot use it.) Anyway, imagery, if desired, could be cached beforehand, and edits would be saved up until an internet connection was available.)

[2020-07-16 02:01] jidanni opened #7790 "Remember where we last edited"
It would be great if
- https://preview.ideditor.com/release/
- https://ideditor.netlify.app/

would, via cookie, remember where we were last editing.

That way a second run wouldn't start from map=2.00/0.0/0.0 all over again.

Just like browsing OSM.ORG remembers where we were last time, so should iD.

Yes, iD is usually invoked via the Edit button on OSM.ORG, so this isn't a problem.

However for

[2020-07-16 07:01] jidanni opened #7793 "Say which item is to be tagged as higher / lower"
![20932-0](https://user-images.githubusercontent.com/1230959/87637174-70279f00-c774-11ea-9969-d0f970f119f9.jpg)
Maybe say:
- Tag 老人活動中心 as higher
- Tag 老人活動中心 as lower...

or

- Tag stream as higher
- Tag stream as lower ...

else the wording is ambiguous, and to some users
it seems you are talking about the stream, despite,
yes, 老人活動中心 blinking, etc. so they are not 100% sure
of your meaning.

[2020-07-16 09:00] GalenWong opened #7794 "Feature Search is empty"
I am new to the iD editor but the feature type search is always empty for me. I have tested in Chrome with all extensions disabled (incognito mode).

![image](https://user-images.githubusercontent.com/33505320/87651227-593d7880-c785-11ea-8d43-67e6d201835d.png)

There are 34 results but no option is showing up, using version 2.17.3.

[2020-07-16 09:40] Nakaner commented on #7788
Couldn't we save data by just building a light version of iD not containing secondary features like name-suggestion-index, Mapillary and StreetSide? It would make it possible to load smaller JavaScript assets. Migrating the imagery index to a API returning only what one needs and not returning all entries for the whole world could save space as well.

[2020-07-16 15:05] sun-geo opened #7795 "object history handling while split way function"
![image](https://user-images.githubusercontent.com/47290585/87686117-6e65d780-c784-11ea-9818-5ca514b661b1.png)

It seems the current process and handling of the object histories (of a line/way element) is like the first part depending on the osm-way direction gets a +1 higher version number and the second part gets a new way-id with version#1.

first-part:
![image](https://user-images.githubuserco

[2020-07-16 15:32] quincylvania commented on #7467
@NateGrobe Welcome, go ahead and give it a shot! The [modules/ui.feature_list.js](https://github.com/openstreetmap/iD/blob/develop/modules/ui/feature_list.js) is probably the place for this

[2020-07-16 15:49] quincylvania commented on #7788
@jidanni Offline mode would be a totally separate and much more difficult feature to build, particularly for a web app.

@Nakaner I don't see these as secondary since they add significant functionality that mappers constantly use. If someone doesn't want something then they can always fork iD. Though I do agree that, as much as possible, we should avoid loading assets until the mapper initiates wh

[2020-07-16 18:35] NateGrobe commented on #7467
I'm having a small issue getting the project to run. I'm getting the error:
Error: Could not load ~/iD/node_modules/es5-ext/array/index.js#/clear (imported by node_modules/ds6-set/polyfill.js)

I checked the imports in es6-map/polyfill.js and they seem fine. The import is as follows:
var clear = require('es5-ext/array/#/clear')

Switching it to an es6 imports didn't fix the issue. I'm just not sur

[2020-07-16 20:04] jidanni opened #7796 "Connection error message should also consider iD ⇔ OSM"
This error message on https://ideditor.netlify.app/
![26579-0](https://user-images.githubusercontent.com/1230959/87716735-deef1180-c7e1-11ea-8e75-17bbdc740aed.jpg)
needs to consider more cases. E.g., in this case the problem wasn't
- user ⇔ iD, but instead
- iD ⇔ OSM, as could be seen at https://www.openstreetmap.org/ :

We're sorry, too many people are accessing this website at the same time. We'

[2020-07-17 00:19] maro-21 commented on #7778
Could you also add a shortcut tooltip for "Partial Fill"? Because `W` key actually toggles these two options.

[2020-07-17 00:30] maro-21 commented on #7786
Please note that for Polish 100% is 125 strings :)
Presets and Core I translate usually within a day. These 125 strings from Community resource are long descriptions of YouthMappers groups from Africa...

[2020-07-17 13:09] quincylvania commented on #7786
@maro-21 Yeah, presets and core are what I mean primarily 😄

[2020-07-17 13:33] quincylvania commented on #7778
`W` toggles between wireframe and either partial or full fills (whichever was last used). I agree we should make the tooltip key indicate which one, like with the background imagery selection.

[2020-07-17 13:38] quincylvania commented on #7467
@NateGrobe Hmm I haven't seen that issue before. I assume you went through all the [installation](https://github.com/openstreetmap/iD#installation) steps? Make sure you're running Node 10, 12, or 14. It'd be easier to discuss if you care to join our [slack](https://osmus-slack.herokuapp.com/).

[2020-07-17 13:48] quincylvania commented on #7795
@sun-geo Hmm this is a type of UI that sounds great for JOSM, but I don't think suits iD's usability goals. I'm assuming very few iD mappers know about entity IDs and version numbers, so asking them this question would be unhelpful. However, iD could be smarter when deciding which part to increment rather than simply picking the first part.

[2020-07-17 13:50] quincylvania commented on #7794
Hi and welcome, @GalenWong. Looks like you're using iD in Tasking Manager, which often restricts the types of features you can add. Making this UI clearer is #7767.

[2020-07-17 13:50] #7794 closed, assigned to nobody

[2020-07-17 13:51] quincylvania commented on #7767
Sounds fine. I agree this could be made clearer.

[2020-07-17 15:33] maro-21 opened #7798 "Broken link to ImproveOSM"
A link to https://improveosm.org/en/ doesn't work. I don't know if it's temporary.

[2020-07-17 16:35] quincylvania commented on #7798
The link was correct. Their site was temporarily down, but it seems to be working now.

[2020-07-17 16:35] #7798 closed, assigned to nobody

[2020-07-17 20:38] maro-21 commented on #7798
I still can see
[code]

[2020-07-17 20:57] maro-21 commented on #7778
You're right, I didn't know it! I thought it toggles only between Wireframe and Partial Fill. It actually toggles between any two of them last used.

[2020-07-18 00:20] sun-geo commented on #7795
Thanks for checking and thinking about.

I agree.

What about an idea of a bit hidden function to add instead a new context menu item (after right click) only active for the second way part (w-1) (which has no object id & version yet). Let's say a function which is called "Get history"- (get the version history information from the other split way segment). So, the average iD user would not bother