[2020-02-25 20:38] quincylvania commented on #7373
I guess this is misleading when all the mapper did was drag a point onto a vertex…

<img width="333" alt="Screen Shot 2020-02-25 at 12 37 06 PM" src="https://user-images.githubusercontent.com/2046746/75285495-964fa100-57cb-11ea-844d-1c6d4be21acf.png">

[2020-02-25 21:29] maro-21 commented on #7373
Yes, this one! I thought the node will be deleted with its history, but in fact it wasn't.

[2020-02-26 06:16] matkoniecz opened #7383 "Give info tooltip on hovering over "upgrade the tags""
I forgot how can I get iD to show me what it is trying to do when it is showing unclear "upgrade the tags".

I finally remembered how to review this automatic edit, but I tried hovering over "Upgrade the tags".

Would it be possible to add tooltip there, among lines "Click info button to review this proposed edit"?

[2020-02-26 06:17] matkoniecz opened #7384 "Make clicking any part of "upgrade the tags" header resulting in display of proposed edit"
Currently only clicking small "i" part is doing this.

It would make it a bit more accessible, I think without any loss. It would be also tiny step toward better mobile support.

[2020-02-26 18:17] quincylvania commented on #7384
I agree we should make the tag diff more discoverable, but I think let's keep discussion in #6408.

[2020-02-26 18:17] #7384 closed, assigned to nobody

[2020-02-26 18:23] quincylvania commented on #6408
I think I'd just add a second button to avoid mixing the meanings and so advanced mappers don't have to see the help text every time.

Sounds reasonable 👍

[2020-02-26 18:30] quincylvania commented on #7383
Duplicate of #6408…

[2020-02-26 18:30] #7383 closed, assigned to nobody

[2020-02-26 19:27] quincylvania commented on #7068
Update on the icon list with some slight changes…

- Icons used by five or more presets are now included.
- Unsearchable presets are now excluded.

<details>
  <summary>View list</summary>

[code]

</details>

[2020-02-26 20:18] forteller opened #7385 "Support automatically creating pedestrian crossing when sidewalk crosses roads"
One of the major PITAs of helping map for OSM is when you have to stop one line you're working on just to insert a short line of something else before continuing with the original line.

The functionality of automatically adding a bridge or tunnel when a road crosses a river was really great, and made mapping a lot easier. But much, much more often than a road crossing a river, a sidewalk crosses

[2020-02-26 20:27] forteller opened #7386 "The options to fix an issue disappears if you adjust the line first"
Not sure if that title was understandable… :/

If you cross one road over another or over a sidewalk, you're asked if you want to connect them, and can do that with one click. But maybe the new road you drew needed an adjustment, and instead of having to drag two points you just want to drag one, so you first adjust the road, and the you want to click the button to connect to the road you crossed.

[2020-02-26 20:32] forteller opened #7387 "Show what kind of element something is on hover"
In the version of iD that is live on OSM.org you can hover your mouse over an element to see what kind of element it is. In the master branch version you can not, and have to click on the element to see what it is. This is a step backwards, as it makes mapping take more time and effort. Please bring hover back. Thank you!

[2020-02-26 20:34] forteller commented on #7387
Shit, I just noticed that I've already reported this before! :( Sorry! Disregard this :(

[2020-02-26 20:34] #7387 closed, assigned to nobody

[2020-02-26 20:36] flacombe commented on #6780
Dear maintainers,

Lack of presets and validation on those values encourage the use of other tags and increase noise in the db.

Do you guys have some time to handle this issue please?
Related to #7389

[2020-02-26 20:41] forteller opened #7388 "Option to select all connected features/elements"
I spend maybe too much time adjusting the placement of buildings. This might not be an important thing to do, generally. But some times I have to to make sure the building doesn't cross a road or a sidewalk. But this is not a fun thing to do if the building is a part of a complex with many connected buildings. Especially if I miss one of the connected element, starts moving it, notice it distort t

[2020-02-26 20:46] flacombe opened #7389 "Telecom medium validation"
Dear maintainers,

It comes to my attention that mappers can add ;-lists as values for ​telecom:medium key on ​telecom=exchange or ​telecom=connection_point features.

Although it's not intended to cause any harm to the db, it's often not correct to do so, because exchanges or connection_point only have a single medium.
Using several values in medium key means you merge two independent feature in

[2020-02-26 21:01] quincylvania commented on #7386
Oh yeah this is a bug…

[2020-02-26 21:51] quincylvania commented on #7388
I agree we should improve iD's selection mechanisms since we've been improving multiselection inspection and editing for v3. We'll have to see if we can figure out an intuitive UI for this. See also #7375.

[2020-02-26 21:53] quincylvania commented on #7348
Issue appears unrelated to dependency.

[2020-02-26 21:53] #7348 closed

[2020-02-26 23:40] quincylvania commented on #7389
Hi @flacombe. I'm looking at the [usage](https://taginfo.openstreetmap.org/keys/telecom%3Amedium#values) of `telecom:medium` and only see about a dozen tags with multiple values.

<img width="507" alt="Screen Shot 2020-02-26 at 3 36 06 PM" src="https://user-images.githubusercontent.com/2046746/75398238-e3a43f00-58ad-11ea-8a85-bab7ec5f4cc9.png">

We really only add validation rules for common data

[2020-02-26 23:40] #7389 closed, assigned to nobody

[2020-02-26 23:51] #6780 closed

[2020-02-26 23:55] quincylvania commented on #6780
Thanks for your patience, @flacombe, looks like this slipped through the cracks. I added the preset 👍

[2020-02-26 23:59] flacombe commented on #7389
Hi Quincy

Low usage of multiple values is because we spend time to clean up them once they appear (at least in my area)
I won't be able to do so in other countries, it would be great iD helps us for that

All the best

[2020-02-27 00:13] quincylvania commented on #7389
@flacombe Thanks for this work!

The problem is that there's not a clear tag upgrade path, so we can't use iD's existing outdated tags validation rule. We'd have to add a custom rule, which we only do if an issue is widespread. I doubt that thousands of these are getting added. Plus if they're not added with iD then the validation rule wouldn't help much anyway.

I recommend addressing this proble

[2020-02-27 00:26] quincylvania commented on #6601
Reflecting more on this, it's not great for a zoom control to live alongside edit controls. I'm going to try putting this in the map alongside the other zoom controls. It'd be disabled when nothing is selected. We'll have the space after #7368.

<img width="84" alt="Screen Shot 2020-02-26 at 4 21 14 PM" src="https://user-images.githubusercontent.com/2046746/75400450-26691580-58b4-11ea-8b74-e5f0506

[2020-02-27 02:57] quincylvania opened #7390 "Style the "on" state of the geolocate button"
As a followup to #5587, we should show give the geolocate button an enabled style when the user's location is shown.

<img width="84" alt="Screen Shot 2020-02-26 at 4 21 14 PM" src="https://user-images.githubusercontent.com/2046746/75408068-8e762680-58c9-11ea-93d5-322870fbc457.png">

[2020-02-27 09:47] forteller commented on #7388
Thanks! The lasso tool is not very relevant, though, since it also marks all freestanding nodes etc in the area. As you can see in the screenshot there's a lot of those in Norway (all addresses are added in this way), and you often don't want to move this. In the lower right corner of the screenshot you can see buildings that should be moved, but if the address nodes are moved just as much as the

[2020-02-27 11:43] forteller commented on #7390
I would add that the icon used is very unintuitive, at least to me. I do not look at that and understand what it does. I would recommend to change the icon to either the pin/drop icon or this:

![Screenshot from 2020-02-27 12-42-47](https://user-images.githubusercontent.com/343561/75441877-bcf21100-595e-11ea-9796-fdf4ccd836a6.png)

I think these are more commonly used to indicate "Find my location

[2020-02-27 12:11] forteller commented on #7385
I just want to add that this is important because our infrastructure, including our digital infrastructure like maps, are too often car-centric. We need to get more people away from cars, over to walking and biking, but that's hard when so much is focused on making it easy to use cars and thus comparatively harder to walk/bike. Making it easier to map infrastructure for pedestrian will make sure t

[2020-02-27 16:37] matkoniecz opened #7392 "Add "shop building" to presets as synonym of "retail building" (shop=retail)"
Present also in https://preview.ideditor.com/master/#background=none&disable_features=boundaries&map=18.58/37.05828/17.37724

![screen01](https://user-images.githubusercontent.com/899988/75464860-1a4e8800-5988-11ea-8482-e23b1e69b1b2.png)

[2020-02-27 16:44] matkoniecz opened #7393 "Add generic "building" as result in searching for not-yet-specified buildings"
For example currently searching "shop building" (#7392) has multiple values, but not generic "building".

I tested also with "wat building" search term that can be expected to never return specific building type. Its search results also have no entry for generic building.

I think that it is preferable to have escape hatch with unspecific `building=yes` rather than forcing user to select one of in

[2020-02-27 16:47] matkoniecz opened #7394 "Add "Chicken coop", "pigsty", "farm auxiliary" as searchable terms"
Tested in https://preview.ideditor.com/master/#background=none&disable_features=boundaries&map=18.58/37.05832/17.37726

All three may map to `building=farm_auxiliary` or have specific `building=pigsty` `building=chicken_coop`

Farm auxiliary is kind of weird term, but may be used by people who remember its tag value (like I just did during testing)

[2020-02-27 17:04] quincylvania commented on #7390
@forteller Hmm I just checked the Google Maps and Apple Maps apps and both use a very similar icon to ours (at least in the US localization). But the Google Maps website uses one like you show.

I think both are valid icons and I personally don't like the crosshairs.

[2020-02-27 17:19] #7394 closed, assigned to quincylvania

[2020-02-27 17:20] quincylvania commented on #7394
@matkoniecz Sounds fine. Feel free to open pull requests for minor stuff like this.

[2020-02-27 17:37] #7392 closed, assigned to quincylvania

[2020-02-27 17:46] quincylvania commented on #7388
#7375 is distinct but might be helpful in some of these cases, such as when separate address points aren't present.

[2020-02-27 18:01] quincylvania opened #7395 "Add hotkey for geolocate command"
Most buttons have a hotkey, including the three other zoom buttons, so I think it makes sense to add one for the geolocation toggle. The Apple Maps app uses `Command` + `L` for this. I think simply `L` should suffice for iD, since we don't seem to use it for anything else right now.

[2020-02-27 18:23] #7395 closed, assigned to quincylvania

[2020-02-27 18:55] #7390 closed, assigned to quincylvania

[2020-02-27 19:14] quincylvania commented on #7378
Hi and welcome, @mondeja. I just succesfully ran the same command with that version node…

I expect this isn't an iD problem, particularly since the command works for your when you don't use the wrapper. Not sure if there's anything we can do to help at this point but let us know!

[2020-02-27 20:07] quincylvania commented on #3130
So a lot's changed in validation since this issue was posted!

- We've done points 1, 3, 4, and 5.
- I think #5977 covers point 6.
- Point 2 is already covered for buildings and will be covered for water by #7050. I'm not sure that other types of area crossings are a large concern but we can open separate issues for them if needed.

I'm closing this since remaining actionable items are pretty well

[2020-02-27 20:07] #3130 closed

[2020-02-27 20:14] #7371 closed, assigned to quincylvania

[2020-02-27 20:15] quincylvania commented on #7371
Okay, I guess there's no harm in adding this under `moreFields` since it has so much usage.

[2020-02-27 20:48] quincylvania commented on #7385
@forteller I'm all for making pedestrian mapping easier—most of my personal mapping consists of sidewalks and crossings. I like your idea, but this fix would be more complicated than the existing fixes so it'll take time to consider the full feasibility and user experience.

[2020-02-27 21:14] #7201 closed

[2020-02-27 21:33] quincylvania commented on #7322
Closing as stale since we don't have enough information to address the problem.

[2020-02-27 21:33] #7322 closed

[2020-02-27 22:12] quincylvania commented on #7376
@Shi-Jianmin Hmmm are other sites able to show your location in those browsers?

[2020-02-27 23:34] quincylvania commented on #7380
Looks like the underlying issue here is that the feature isn't actually selected when first tapped, it's just in the hover state. So the inspector can't be interacted with. This is still a bug that needs fixing.

[2020-02-27 23:42] quincylvania opened #7396 "Apple Pencil cannot interact with map data"
Testing an Apple Pencil with iD on an iPad, it can pan the map but not select or draw features. This is annoying since styluses should be better at working with vector data than fingers. I'm not sure if other styluses are affected or if this is related to #4877.

My best guess is that iD is interpreting the pencil input events as swipe gestures instead of mouse events.

[2020-02-27 23:58] quincylvania opened #7397 "Convert all source files to ES6 syntax"
[ES6](https://www.w3schools.com/Js/js_es6.asp) syntax gives our JavaScript better safety and ease-of-use. We've slowly started to ES6ify iD, particularly with new and edited files. Since it's awkward use a mix of new and old, and since we're doing a major version anyway, let's make a point to switch everything over for iD v3.

[2020-02-28 00:18] quincylvania commented on #7396
I'm not sure if this and #7380 could be solved by #5505 but it certainly wouldn't hurt.

[2020-02-28 02:42] quincylvania commented on #6436
Oh this was fixed awhile back.

[2020-02-28 02:42] #6436 closed

[2020-02-28 03:10] quincylvania commented on #6096
@BjornRasmussen Has this been a problem for you in practice? We'd have to switch to "list style" drag-and-drop where we show a placement indicator between items when dragging instead of moving items as you drag. This would be a bit of a pain if people don't actually need it.

[2020-02-28 03:19] quincylvania commented on #5505
All major browsers now support pointer events, covering 86% of global users according to caniuse. I imagine it's an even higher percentage of iD users. I think it's time to try making pointer events standard as we work towards better mobile support in v3. We can fallback to the old events for unsupporting browsers.

[2020-02-28 04:00] greenkeeper[bot] opened #7398 "An in-range update of mocha is breaking the build 🚨"
## The devDependency [mocha](https://github.com/mochajs/mocha) was updated from `7.0.1` to `7.1.0`.

🚨 [View failing branch](https://github.com/openstreetmap/iD/compare/2.x...openstreetmap:greenkeeper%2Fmocha-7.1.0).

This version is **covered** by your **current version range** and after updating it in your project **the build failed**.

mocha is a devDependency of this project. It **might not br

[2020-02-28 05:51] sriramnpkt commented on #7322
Sorry for the late reply.

I sent the message around "11:17 AM IST  28 Feb 2020", but the screenshot shows "28 February 2020 at 05:48".

PFA
![OSM_Screenshot from 2020-02-28 11-18-59](https://user-images.githubusercontent.com/26897463/75513917-38fe5e80-5a1c-11ea-9463-cbf6d5d26621.png)

[2020-02-28 06:18] sahithiduddukuri opened #7399 "Zoom out button"
A button same like Zoom in to Edit is there any posibility to create Zoom out after edit. Once zoom out button check it should revert back to basic location(2.00/0.0/0.0)

![zoom-out](https://user-images.githubusercontent.com/22541694/75516236-f50e5800-5a21-11ea-9688-4305fa2ed8cf.png)

[2020-02-28 08:23] Shi-Jianmin commented on #7376
@quincylvania
Thank you for relaying!!
I try to use  other network,  it does work.
I am really sorry to make you confused.
I will close the issue.

[2020-02-28 08:23] #7376 closed, assigned to nobody

[2020-02-28 14:59] bhousel commented on #7399
Let's talk about zooming!

I've noticed a lot of chatter about the "zoom in to thing" and "zoom out of thing" features.

I introduced this "zoom in to" button in #5169, so that people could focus on a specific geometry, or note, or QA issue.  I wanted a kind of universal "focus on a thing".  Maybe I should have called it "focus" instead of "zoom".

My ideal workflow would be to be able to hover or

[2020-02-28 18:28] quincylvania commented on #7322
@sriramnpkt No problem! Looks like an issue with the OpenStreetMap website, not the iD editor. You can open an issue for that project at https://github.com/openstreetmap/openstreetmap-website/issues.

[2020-02-28 18:30] quincylvania commented on #7376
@Shi-Jianmin No problem! Location sharing stuff is tricky. Good luck.

[2020-02-28 18:40] quincylvania commented on #7399
@bhousel There was some discussion of a navigation stack in #6783. I'd agree it'd be great to avoid adding more buttons. One idea is to use the browser's navigation stack for this, but I'm not sure how that'd work on sites where iD is embedded.

[2020-02-28 20:31] flacombe commented on #6780
That looks great, thank you Quincy

[2020-02-28 20:44] flacombe commented on #7389
Understood, thank you

I'm more familiar with JOSM logic for validation rules and I may have mistaken the extent of current rules in iD
Instead a validation rule, is it possible to display a hint when using telecom:medium to remind mappers that multiple values are discouraged for this key?

[2020-02-29 09:55] #7399 closed, assigned to nobody

[2020-02-29 14:19] kymckay commented on #7340
Decided to look into this as it's been annoying me too.

So this viewer is using d3-zoom which is a little tricky to wrap my head around.

Currently, the `.translateExtent` (specifies dimensions within which translation is bounded) is being fed the same dimensions as the `.extent` (specifies dimensions of the viewer) upon creation and when resized.

Worth noting that when the viewer is made bigger

[2020-02-29 17:34] flacombe opened #7402 "Warn about placing a surface marker as member of underground pipeline or cable"
Dear maintainers

Markers are currently mapped as nodes with marker=* key. They often warns about the presence of underground infrastructure.
Wiki states it's not recommended to map those markers nodes as members of underground pipeline or cables ways.
​https://wiki.openstreetmap.org/wiki/Key:marker
​https://wiki.openstreetmap.org/wiki/File:Guideline_markers_underground_pipelines.png

Is it possib

[2020-02-29 18:02] bhousel commented on #7402
This seems overly nitpicky.. Can’t consumers (if there even are any) just assume that the markers for underground things are visible?

Having different rules for whether or not they should be connected puts extra burden on everyone - mappers and developers.

[2020-02-29 18:31] flacombe commented on #7402
I would agree if pipelines were always right under their markers.

This is often not true actually, markers may be located a few meter away the danger they refer to.
Encouraging to split nodes between underground and surface features is done as to prevent to merge them for wrong reasons. Markers may be retrieved with RTK or GPS on ground while pipeline geometries can be obtained from other odbl co

[2020-03-01 09:47] sun-geo commented on #6438
No. I now used 3 different browsers. It works fine for all.
Maybe any other of the many changes did fix it in the meantime.
Thanks for checking.
Please feel free to close it. Oh it seems the close function is also accessible for me.
So I will close it.

[2020-03-01 09:47] #6438 closed

[2020-03-01 10:00] sun-geo commented on #7340
Thanks for looking into it. My current workaround is to open the pictures via the OpenStreetCam webpage, but this is of cource not so comfortable.

[2020-03-01 17:30] flacombe commented on #6686
Well, I confirm power=cable_distribution_cabinet was replaced by man_made=street_cabinet for the cabinet part.
It doesn't prevent to combine it with power=transformer or power=switch when appropriate.

cable_distribution_cabinet doesn't mean anything and should be discouraged in favor of man_made=street_cabinet + street_cabinet=power
I think we'll agree on this since it precisely prevents to use m

[2020-03-01 17:47] flacombe commented on #6779
Hi guys,

There must have been an error in this update because in iD 2.17.2, I still don't get a warning when adding power=transformer to an area
What am I doing wrong?

[2020-03-01 18:11] bhousel commented on #6779
2.17.2 is just 2.17.1 but with the Maxar layers restored.
Both our `master` and `2.x` branches are un-deployable right now. 😓

[2020-03-01 18:12] bhousel commented on #6779
Sorry, I misspoke, this was supposed to be in 2.15.  I'll have to investigate what happened.

[2020-03-01 18:39] bhousel commented on #6686
What I'm saying is - up until recently, all power features have had a `power=*` tag and this was very helpful.  Actually I think it might be the only class of tags in OSM that was properly namespaced under a single tag key.  Check it out, this is our code for detecting power features:
https://github.com/openstreetmap/iD/blob/857903129896aa92bbe8c101dc57a8d8b4656f28/modules/renderer/features.js#L19

[2020-03-01 18:55] bhousel commented on #6686
I'm reading https://wiki.openstreetmap.org/wiki/Proposed_features/Street_cabinet surprised that people voted for this.

(This reminds me a lot of that other conversation about measuring trees by their circumference instead of their diameter.)

Like, there are a few things in the world that I know a lot about, and I feel like in each case OSM has voted to adopt tags that work against the way that p

[2020-03-01 21:33] flacombe commented on #6686
That will be preserved:
One motivation of man_made=street_cabinet is to free power=* key for features that are directly involved in power infrastructure. The cabinet doesn't transform, transmit or cut power while the switch inside does.

Wrong assumption: introducing man_made=street_cabinet didn't encourage to remove power=* from features. The point is only to use it with more meaningful values an

[2020-03-02 11:14] mfbehrens opened #7403 "Add Checkbox for summit cross"
for all natural=peak iD should give the opportunity to select if there is a summit cross on the mountain (summit:cross=yes/no)

[2020-03-02 11:24] mfbehrens opened #7404 "Add Preset for natural=hill"
https://wiki.openstreetmap.org/wiki/Tag:natural%3Dhill
I would like to have a preset for this feature. The input boxes can be copied from natural=peak

[2020-03-02 12:03] kymckay commented on #7404
Not so sure about this one. My first instinct was "isn't a hill just a classification of a peak?" and the wiki page also discusses the same lack of distinction. I think it makes more sense for peaks to be consistently tagged and folks can differentiate as they individually desire by the `ele` tag and/or a calculated prominence.

[2020-03-02 13:51] bhousel commented on #7402
I'm ok with:
* "Markers should be connected to pipelines."
* "Markers should not be connected to pipelines."
* "We don't care whether markers are connected to pipelines or not." (best)

I have a problem with:
* "Markers should be connected to pipelines when they are aboveground, and markers should not be connected to pipelines when they are underground"

I did not build a validator into iD so that

[2020-03-02 13:51] #7402 closed, assigned to nobody

[2020-03-02 14:00] ignaciolep opened #7405 "Add a capitalized case converter button in name fields"
The OSM Wiki says "Use mixed case with the first letter of each word capitalised, e.g., Church Street, not Church street." (https://wiki.openstreetmap.org/wiki/Names)

A common mistake is to use All Caps (UPPERCASE), so now to fix that one must manually rewrite the name.

Please consider adding a button in the name fields to convert case to mixed case (Capitalized Case).

Suggested button icon: ht

[2020-03-02 14:00] bhousel commented on #7404
The difference between hill/mountain/peak is indeed subjective.

As far as I can tell, the main reason for this feature to exist is [if the hill has a name](https://en.wikipedia.org/wiki/List_of_hills) and the style wants to render named natural things.

People can really add whatever they want into the `natural=` namespace, so this seems ok:
<img width="632" alt="Screenshot 2020-03-02 08 59 31" s

[2020-03-02 14:09] kymckay opened #7406 "UI translation strings used before data is loaded"
Reported this in Slack, but have realised it doesn't always happen and is something of a race condition. Opening this issue to better keep track of this.

My understanding is that with the changes to bundled data being pulled in live instead, the main UI is created before these translation strings are pulled in which results in:
![image](https://user-images.githubusercontent.com/5459452/75683539-3

[2020-03-02 14:12] bhousel commented on #7406
Thanks for the reminder - yes I did forget about this.  A lot is changing with iD internals right now.

[2020-03-02 15:10] matkoniecz opened #7407 "Add "visible remains of shop or unopened shop" for disused:shop"
Triggered by https://www.openstreetmap.org/node/1905952844/history where someone added incorrect `shop=kiosk` where correct `disused:shop=kiosk` was already present.

I suspect that showing that it explicitly tagged as remains of a shop would be helpful in this situation.

Tag is in actual use https://taginfo.openstreetmap.org/keys/disused%3Ashop

Related to #7098

It may be better to have it unse

[2020-03-02 16:14] mfbehrens commented on #7404
I agree that the difference is subjective however the difference is definitively there.

Additionally, the tag is used in OSM and is not deprecated by the OSM Wiki so I see no reason why this should not be implemented.

[2020-03-02 16:21] mfbehrens commented on #7405
I really like this idea. But I think we have to be careful because this applies not to every name. Right next where I live there is the "DVLA Road". This is an abbreviation for Driving Vehicle Licencing Authority and it should not be spelled "Dvla Road". So I think users have to be aware of cases like that.

[2020-03-02 16:37] bhousel commented on #7404
We don't just do everything the OSM Wiki says to.  A lot of it is wrong or just added by one person.

[2020-03-02 16:39] bhousel commented on #7405
Yeah I think the number of exceptions to this rule makes it a bad idea.  I think a better place for something like this to live would be if we someday made a dedicated tag cleanup tool separate from iD.

[2020-03-02 16:39] #7405 closed, assigned to nobody

[2020-03-02 17:31] quincylvania commented on #7403
Hmm I'd say mappers can just add these separately using iD's Summit Cross preset. We can't add fields for everything that could be on a peak and it's unfair to support just one faith's symbol.

[2020-03-02 17:31] #7403 closed, assigned to nobody

[2020-03-02 17:35] quincylvania commented on #7389
The hint is that iD's field only takes one value. You can edit the tag's wiki and wikibase documentation as needed.

[2020-03-02 17:41] quincylvania commented on #6779
I closed this issue because I removed the `area` geometry from the Transformer preset. There's no warning because iD doesn't yet warn about areas that are expected to be another type of geometry…

[2020-03-02 23:12] flacombe commented on #6779
The point is not only about areas

Users should also get a warning when they mix a building and a transformer (see incompatibility in wiki).
Currently I can put them both on an area (or a node) without any warning.

That cause dozen of objects being mapping as such in France because common people use to call a minor distribution substation a "transformer". They see transformer in the list and use

[2020-03-02 23:19] quincylvania commented on #7404
Yeah I think it's fine for people to use `natural=peak` for named hills instead of making iD mappers draw distinctions.

[2020-03-02 23:19] #7404 closed, assigned to nobody

[2020-03-02 23:22] flacombe commented on #7402
If you look at wiki, that's precisely what is explained
https://wiki.openstreetmap.org/wiki/Key:marker#Common_Values

This picture : https://wiki.openstreetmap.org/wiki/File:Guideline_markers_underground_pipelines.png

If it cause too much problems to iD to distinguish between underground and overground, we'd better always warn about a marker as a member of pipeline.

Most traffic signs I map are

[2020-03-03 00:08] quincylvania commented on #7393
This sounds okay, we want preset search to be as assistive as possible in iD v3.

[2020-03-03 03:42] AntMadeira opened #7408 "Add highway=toll_grantry to icon presets"
Hi there.

In Portugal and many other European countries, there are plenty of [electronic toll systems](https://wiki.openstreetmap.org/wiki/Tag:highway%3Dtoll_gantry) on highways.
It would be nice to add a specific preset to iD to differentiate these from the normal human operated [toll booths](https://wiki.openstreetmap.org/wiki/Tag:barrier%3Dtoll_booth).

Regards.

[2020-03-03 18:45] quincylvania opened #7410 "Add URL option to disable editing some features"
In mapping campaigns, volunteers are often directed to just map certain features. However, iD lets them edit anything on the map. We should add an endpoint so tasking tools can tell iD that some or all existing features should be read-only. This is similar to the existing endpoint that limits the addable presets and would work well in tandem with it.

[2020-03-04 01:32] tordans commented on #2708
I briefly thought that maybe the (newish) wikidata data from the OSM wiki might be a good source of translations. The UI  to add different languages, of those data tables, is pretty good. However, looking at two examples, it looks like the data is not there, yet – especially since the label-field is used differently for the OSM-wikidata-data then I would have expected (it shows the Tag or nothing)

[2020-03-04 01:52] tordans commented on #7343
I think at least for editing areas in Berlin the list should be helpful. Looking at https://taginfo.geofabrik.de/europe/germany/berlin/keys/source#values (which AFAIK only shows Tags, not Changeset-Tags so I use it only as a rough proxy here), other mappers used source-tags that I would also use.

However, I agree, having the sources I used recently in my browser is probably the saver and more use

[2020-03-04 02:15] tordans commented on #7410
I would love to see this!

For me, this is one of the missing features that is needed to use iD to create single purpose editing experiences. Did I show you [the prototype for editing bike parking](http://wwwfiles.de/fahrradstellplaetze/#disable_features=aerialways,boundaries,building_parts,buildings,indoor,landuse,past_future,paths,pistes,points,power,rail,service_roads,traffic_roads,water,others

[2020-03-04 19:08] jeffdefacto commented on #7125
Any update on this @quincylvania? We're mapping lots of bridges at the moment so we're running into this a lot.

[2020-03-04 20:18] #7380 closed, assigned to quincylvania

[2020-03-04 20:18] #7396 closed, assigned to quincylvania

[2020-03-04 20:28] quincylvania commented on #2502
Just tested this on iPad and had no trouble using the restrictions editor. A lot's changed since this issue was opened and lots will continue changing as we work on #5505. Closing as stale but we should continue to keep an eye out for problems here.

[2020-03-04 20:28] #2502 closed

[2020-03-04 21:19] quincylvania commented on #2128
I was able to reproduce this on iPad. It appears that tapping twice within about half a second triggers the double-click-to-zoom event, regardless of the distance between the taps or what mode you're in.

[2020-03-04 21:29] Elefant-aus-Wuppertal opened #7414 "add check_date to some more presets"
Hi,
my idea is to add the check_date field to some presets where things often change quickly, for example many public telephones get removed in these days. Due to this, it would be very great for people too see directly how actual the data are and when the last survey was, so mappers get more encouraged to add this information when the check_date-field is there.

[2020-03-04 22:23] quincylvania opened #7415 "Enable dragging nodes on touchscreens"
Re: #5505

[2020-03-05 13:31] kymckay commented on #6881
I fixed this in https://github.com/openstreetmap/iD/commit/51efd5b7144fda0d9771cf1f6995b9a7bb4cdbe7

Issue was caused by use of `.then` on the request promise because the KeepRight request errors (but still works), so I changed it to use `.finally`

[2020-03-05 13:31] #6881 closed

[2020-03-05 13:32] kymckay commented on #6881
See:
https://github.com/openstreetmap/iD/blob/83d2656bbc604758657a40ceebe6bef4c7fa3ff1/modules/services/keepRight.js#L436-L459

[2020-03-05 18:38] #6598 closed

[2020-03-05 18:47] quincylvania commented on #6598
So I'm pretty sure I fixed this but I don't have a touchscreen Chromebook or Windows device to test on.

@omgitsgela @thibaultmol Would you mind seeing if pan and zoom touch interactions work for your devices on our development preview site? https://2-x--ideditor.netlify.com/

[2020-03-05 18:51] quincylvania commented on #7125
@jeffdefacto The v3 toolbar development has been on hold but I'll be getting back to it soonish as we move the functionality to the main branch 👍

[2020-03-05 23:18] #7415 closed, assigned to quincylvania

[2020-03-06 13:41] jonsger commented on #3915
I wonder if it makes sense to support `contact:` tags but not switch to them. In recent times I sometimes added `phone` and `website` tags not seeing that the object already had the `contact:` equivalent.

So it would be nice if ID could show `contact:` tags in the edit box. This would reduce duplication and wasted efforts...

[2020-03-06 13:43] carstenhag commented on #3915
Something like that would be great. I would prefer new phone numbers etc via ID to be made with the contact prefix, but if that's not currently how you want to do it, at least properly handle `contact:` prefixes when the data is there.

[2020-03-06 13:45] bhousel commented on #3915
IMO, the way to “properly handle `contact:` prefixes” is to remove them.

[2020-03-06 15:08] carstenhag commented on #3915
Why? It's the recommended way to tag. Of course it won't get used by more people, when the main editor refuses to support it.

[2020-03-06 15:26] bhousel commented on #3915
It is _not_ the recommended way to tag.  The `contact:phone` wiki page says today right now the literal words "To limit tag fragmentation, consider using the most used keys."

If it was seen as a failed experiment in 2017, why are we still discussing this in 2020?  What process led the OSM project to invent 2 competing tags for storing phone numbers?

We on the iD team didn't want this, but now ha

[2020-03-06 20:46] #2128 closed

[2020-03-06 20:46] #2677 closed

[2020-03-06 20:49] quincylvania commented on #2677
You can now both drag nodes and double-tap to add nodes on touch devices, so I'm considering this closed.

[2020-03-08 19:14] MarkusGaugg commented on #7296
Icon is ready to be integrated: https://github.com/MarkusGaugg/iD/pull/1

[2020-03-09 11:25] Tntdruid opened #7416 "Road Names"
The road names does not always render in lates FireFox.

Any way to fix that?
![firefox_2020-03-09_12-23-11](https://user-images.githubusercontent.com/72948/76208955-082ede00-6201-11ea-8ee5-ef6b34ca96fb.jpg)

https://www.openstreetmap.org/edit#map=19/55.75584/12.34834

[2020-03-09 14:07] bidabil opened #7417 "Use ID to update local Nominatim database"
Hi,
We want to make an application used by many people who update our local Nominatim database.
Can we link ID to our local Nominatim database and use it for updating?

Thanks a lot

[2020-03-09 16:00] camelloar opened #7418 "No warning when water and way cross with a common node"
Solving some OSMOSE issues about objet ovelaping (specially ways crossing ways, like highways and waterways), I can see that an issue reported by Osmose (especially in water with roads -highways, footways, paths-), couldn´t be detected by ID if the ways shares a node. If not a warning appears and offers an correct solution (like bridges, tunnels o fords).
The ID validator **must** to detect that a

[2020-03-09 16:52] quincylvania commented on #7416
Hello and welcome, @Tntdruid.

This looks like a duplicate of #7132. This started happening in Firefox 70. I'm not quite sure what's going wrong :/

[2020-03-09 16:52] #7416 closed, assigned to nobody

[2020-03-09 17:10] Tntdruid commented on #7416
@quincylvania thanks.

[2020-03-09 20:16] #6049 closed

[2020-03-09 20:27] quincylvania commented on #6049
So I was able to disable this on mobile Safari by calling `preventDefault` on the `click` event at the container level.

This doesn't have any apparent side effects on the iOS and macOS browsers I've tested, but I don't have access to other platforms to see if it works or has problems. Feedback is welcome!

This also doesn't disable double-tap-to-zoom on desktop with a Macbook trackpad, but in my

[2020-03-09 20:54] quincylvania commented on #6049
Thinking more about accessibility implications, I just tried out iD with iOS's built-in [Zoom tool](https://www.imore.com/how-use-zoom-accessibility-iphone-and-ipad). It gives you a smart on-screen magnifier that works for pretty much any app or webpage. I think it works better for a mapping app like iD than raw browser-zooming does, though I'm not vision-impaired so don't take my word for it.

We

[2020-03-09 22:11] quincylvania opened #7419 "Vertices don't always disappear when deselecting ways"
I've noticed this on desktop but it happens especially often when deselecting via tapping the map with an Apple Pencil on iPad. It's not a major bug but it's annoying.

[2020-03-09 22:58] #7419 closed, assigned to quincylvania

[2020-03-10 02:31] quincylvania commented on #7417
Hi, @bidabil. I'm not 100% sure what you're asking since I don't know a lot about the Nominatim architecture.

You can point iD to any implementation of the OSM API, including a local one: https://github.com/openstreetmap/iD/blob/41e58dc32ed10e2585f25dd5e85b24900e7a182c/index.html#L51

iD also has the ability to generate OSM changefiles from the active changeset, but it might take some hacking to

[2020-03-10 02:31] #7417 closed, assigned to nobody

[2020-03-10 02:34] quincylvania commented on #7418
So there are a few open issues concerning "what can be attached to what". It's a separate problem from crossing features. This probably does make sense to have as a validation issue, but it'd be nice to solve the problem generally and not just for highways/waterways.

[2020-03-10 10:13] Spanholz opened #7420 "Idea: Use the selection tool to draw areas"
If one press shift and moves the mouse it is possible to draw circles or any other shape. This tool could also be used to easily map ponds, small forests etc. Comparable to fast draw in JOSM.

Problem: Self-Intersection of the drawn areas.

[2020-03-10 18:15] #5552 closed

[2020-03-10 18:18] quincylvania commented on #5552
I found a solution for this that works for a Macbook trackpad in testing. I don't have a magic mouse for testing at the moment but I expect this solution will also fix panning on that device.

[2020-03-10 19:47] greenkeeper[bot] opened #7421 "An in-range update of minimist is breaking the build 🚨"
***
☝️ **Important announcement:** Greenkeeper will be saying goodbye 👋 and passing the torch to Snyk on June 3rd, 2020! [Find out how to migrate to Snyk and more at greenkeeper.io](https://greenkeeper.io)
***
## The devDependency [minimist](https://github.com/substack/minimist) was updated from `1.2.0` to `1.2.1`.

🚨 [View failing branch](https://github.com/openstreetmap/iD/compare/2.x...openstre

[2020-03-10 20:22] tordans opened #7422 "Quickswitch UI for Tunnel vs. Building Passage"
Hi @quincylvania, I was using the new quickswitch UI ([Location / iD Version](https://preview.ideditor.com/master/#background=custom:https://mapproxy.codefor.de/tiles/1.0.0/zoom/mercator/{z}/{x}/{y}.png&disable_features=boundaries&id=w779561193&locale=en&map=18.73/52.48021/13.44467)) for https://www.openstreetmap.org/way/779926439 and noticed, that the tunnel was layer=-1. I now see, that the tunn

[2020-03-10 20:51] #7421 closed, assigned to nobody

[2020-03-10 20:55] quincylvania opened #7423 "Prevent self-intersection when drawing ways on touch devices"
iD currently only checks for self-intersection when the pointer moves during drawing. However, move events are never called between pointerdown and pointerup when adding nodes on a touch device. This means iD doesn't catch self-intersections, which is undesirable.

[2020-03-10 21:24] flacombe commented on #7402
As this issue has been clarified and now focused on "Markers should not be connected to pipelines.", could it be reopened please ?

[2020-03-11 20:04] greenkeeper[bot] opened #7424 "An in-range update of minimist is breaking the build 🚨"
***
☝️ **Important announcement:** Greenkeeper will be saying goodbye 👋 and passing the torch to Snyk on June 3rd, 2020! [Find out how to migrate to Snyk and more at greenkeeper.io](https://greenkeeper.io)
***
## The devDependency [minimist](https://github.com/substack/minimist) was updated from `1.2.3` to `1.2.4`.

🚨 [View failing branch](https://github.com/openstreetmap/iD/compare/2.x...openstre

[2020-03-11 20:20] #7424 closed, assigned to nobody

[2020-03-11 23:07] bhousel opened #7425 "Replace editor-layer-index with @ideditor/imagery-index"
_Originally posted by @bhousel in https://github.com/openstreetmap/iD/issues/4994#issuecomment-582718226_

The past 2 weeks I've had some time to dive in and clean up the editor-layer-index project to make it something that works better for us.  I reviewed every single source file and rewrote all the code.

Today I released an initial version and I'm feeling good about switching iD over to use it!

[2020-03-11 23:16] bhousel commented on #4994
Replacing editor-layer-index being tracked on #7425  🎉

[2020-03-12 00:28] grischard commented on #7425
Note that the license of that project is incompatible with the source you've forked.

[2020-03-12 00:48] #7423 closed, assigned to quincylvania

[2020-03-12 01:04] jidanni opened #7426 "Persist multiple custom backgrounds"
Add a Copy Custom Background URL button, placed there in Background > Custom .

Without it, the user must type in all the details when switching between the one allowed custom background and another.

With it, the user merely would need to bookmark e.g., URL `https://www.openstreetmap.org/edit?editor=id&background=custom%3Ahttps%3A%2F%2Fwms.nlsc.gov.tw%2Fwms%3FVERSION%... `in his browser.

Current

[2020-03-12 02:21] bhousel commented on #7425
I don't believe that's true.

It's not a fork - all the files are significantly changed and I went through each one by hand and reworked the geometry.  I even put back the imagery license properties that you removed and cleaned up a lot of logos.

We discussed the ELI license a bunch on https://github.com/osmlab/editor-layer-index/pull/490
(can you believe it's been almost 2 years?)

per @stoecker

[2020-03-12 08:11] thomersch commented on #7425
Your actions look like they actively want to harm other projects and discourage other people to join discussion or collaboration. We reached out to iD to try to unify the work the OSM community is doing, and you are starting a fork that is probably not legally correct (database law!) and is actively breaking paths for collaboration. Why are doing this?

[2020-03-12 08:14] stoecker commented on #7425
It is not SO easy! That would be the same as saying that changing indentation and whitespace in source code files is enough to allow a license change. If you use existing data you need to follow the license of the data. You can't simply copy the data and choose another license. That's clearly a license violation.

[2020-03-12 11:10] grischard commented on #7425
If that were possible, we would long ago have reviewed every single proprietary map to make our own :)

[2020-03-12 11:35] bhousel commented on #7425
@thomersch said:

No that's not true.  If you run a project that needs an imagery index, I do want to talk to you about it.  (I see it as a crucial dependency for iD).

No that's not true either.  You and Stereo started buliding (in secret) a replacement for ELI using vector tiles.  We told you that that wouldn't work for us.  What we really want is something like ELI but with 1. the 3 year old bu

[2020-03-12 11:37] bhousel commented on #7425
@stoecker said

No that is not true, you need to change all the code and files much more significantly than that.

I agree!  I didn't do that.

[2020-03-12 12:27] thomersch commented on #7425
I guess except if the person works on JOSM...?

You didn't talk to me one word, but instead tried to lead a _secret_ conversation. We talked to Quincy which you intimidated so much that he didn't even want to talk to us anymore.

My only remaining questions are: Is this a Mapbox project? Is imagery index owned by Mapbox?

[2020-03-12 12:28] grischard commented on #7425
For the record: it's been public at https://github.com/osmlab/editor-layer-index/issues/586 for more than a year, and I contacted you to ask what changes would be needed to make it work for you.

I regret that you chose to do your own hard fork and not automatically base this off an existing index. This will deepen the rift between the two or three imagery databases, provide a worse experience for

[2020-03-12 12:46] bhousel commented on #7425
That's.. also not true.  🙄
(we can do this all day I guess)

No.  I think it's fair to say that Mapbox could not care less about any of this.

[2020-03-12 13:07] amandasaurus opened #7427 "“When you gotta go, you gotta go”: A proposal for tagging preset for gender neutral toilets"
I'd like to bring up the topic of gendered toilets, how they're tagged in OSM, and humbly suggest iD support the following tagging scheme, which I'm willing to offer to help implement.

There is a [a tagging scheme in use](https://wiki.openstreetmap.org/wiki/Key:unisex) for gender neutral toilets, which has for 4 mutually exclusive options for an `amenity=toilets`:

 * Male & Female, separated: `f

[2020-03-12 17:17] todrobbins commented on #7427
I'm glad to see you persisting on this topic @rory! Thanks for putting in the time and effort!

[2020-03-12 17:45] quincylvania commented on #7425
Hi @thomersch! I'm not sure how you came away with this impression, Bryan never intimidates me about anything 😂. I said I was leaving the conversation because it was exhausting sitting in the middle of the argument.

I'm excited that Bryan built the index we need to meet iD's technical goals and I regret that ELI wasn't flexible enough to meet them itself.

[2020-03-12 23:02] greenkeeper[bot] opened #7429 "An in-range update of minimist is breaking the build 🚨"
***
☝️ **Important announcement:** Greenkeeper will be saying goodbye 👋 and passing the torch to Snyk on June 3rd, 2020! [Find out how to migrate to Snyk and more at greenkeeper.io](https://greenkeeper.io)
***
## The devDependency [minimist](https://github.com/substack/minimist) was updated from `1.2.4` to `1.2.5`.

🚨 [View failing branch](https://github.com/openstreetmap/iD/compare/2.x...openstre

[2020-03-12 23:44] #7429 closed, assigned to nobody

[2020-03-12 23:56] #7398 closed, assigned to nobody

[2020-03-13 00:05] #7407 closed, assigned to quincylvania

[2020-03-13 02:23] quincylvania commented on #7221
Okay, so investigating this more, the issue is that `building` is sometimes a feature type and sometimes just an attribute.

When you change a line from River to Residential Road, you don't expect it to retain `waterway=river` as an attribute. So likewise it'd be unexpected to retain `building=house` when switching a House to a Seafood Shop. It's a bit tricky since `building=yes` is added as a def

[2020-03-13 02:23] #7221 closed

[2020-03-13 09:02] andrewharvey commented on #7426
The URL parameters are documented at https://github.com/openstreetmap/iD/blob/2.x/API.md

[2020-03-13 16:14] bhousel commented on #7427
Yes, #3954 goes into more detail about this.  I'd also like to see more better tagging for gender neutral restrooms.

Given that neither iD nor JOSM can support the existing `male`/`female`/`unisex` tag scheme easily - don't you think that this might be a good reason to rethink the tagging instead of pushing forward with implementing a new UI control?  I commented on #3954 with suggestions on how

[2020-03-13 16:23] bhousel commented on #7426
This is an issue with the editor-layer-index preview page, not with iD.

[2020-03-13 16:55] caduguedess opened #7431 "Error at npm install"
Actually at npm install I only got these warnings:

npm WARN optional SKIPPING OPTIONAL DEPENDENCY: fsevents@2.1.2 (node_modules/fsevents):
npm WARN notsup SKIPPING OPTIONAL DEPENDENCY: Unsupported platform for fsevents@2.1.2: wanted {"os":"darwin","arch":"any"} (current: {"os":"linux","arch":"x64"})

But in npm run all I got errors.

Here follows the log attached.

[2020-03-13T16_51_48_621Z-debug

[2020-03-13 17:41] quincylvania commented on #7420
@Spanholz If your system has key-repeat turned on then your can achieve this effect by holding down the spacebar while moving the mouse.

At some point I'd like to investigate "click and drag" as an alternative drawing option, particularly for touchscreens, but that's a separate issue from this.

[2020-03-13 17:41] #7420 closed, assigned to nobody

[2020-03-13 17:46] bhousel commented on #7431
Did you run `npm install` first?

[2020-03-13 17:59] caduguedess commented on #7431
Yes.
I followed all the tutorial again and got the same warnings at npm install and the following log at npm run all, which have the same content as the previous log

[2020-03-13T17_49_27_977Z-debug.log](https://github.com/openstreetmap/iD/files/4330906/2020-03-13T17_49_27_977Z-debug.log)

[2020-03-13 18:05] caduguedess commented on #7431
Here follows the error itself:
[code]

[2020-03-13 18:55] caduguedess commented on #7431
Here follows the npm audit fix command and npm fund

[code]

[2020-03-13 19:40] amandasaurus commented on #7427
I didn't know about the possibility of a special control. I'll look into that.

JOSM can't support it (now) because I wanted to start with the larger editor, id.

This male/female/unisex has bajillions of uses. To try to add a new tagging scheme just because the code doesn't exist now sounds like tagging for the preset system. 🙂 And doing it backwards

On 13 March 2020 17:14:44 CET, Bryan Housel <

[2020-03-13 20:44] quincylvania opened #7432 "Hover state persistst when tapping buttons on touch devices"
Mobile Safari gives tapped buttons the `:hover` CSS styling, which shows them as pressed. However, this doesn't always properly disappear after the tap is complete. It's not a big deal but it looks sloppy and can be confusing.

[2020-03-13 20:50] #7425 closed, assigned to bhousel

[2020-03-13 21:17] AntMadeira opened #7433 "Add building=chapel to presets"
Hi there.
With thousands of chapels everywhere in Western Europe, it would be great to have a preset and its icon on iD.

Thanks!

[2020-03-13 21:17] quincylvania commented on #7297
This was fixed in #7363 by @zengchu2 🎉

[2020-03-13 21:17] #7297 closed

[2020-03-13 22:25] andrewharvey commented on #7426
That's not how I see it. The request here is the ability to have two custom sources at a time in iD. It's unrelated to the ELI.

[2020-03-14 14:31] #6801 closed

[2020-03-14 14:34] maro-21 opened #7434 "warning when editing more than one country or continent"
How about adding a warning when a user edits features among countries or even continents?
Of course we can't forbid such edits, because there may be a road, a route or an area that passes through two countries, but when I add one POI in New York and one in Moscow and save my edits, my changeset is visible in, e.g., Germany where I didn't edit anything.
Examples:
https://www.openstreetmap.org/chang

[2020-03-14 14:39] bhousel commented on #6801
I did this in 47aaec0db - I added rules to sanitize the common kinds of personal tokens that we see in the wild. Let me know if there are others we should test for..

I think this strikes a fair balance between protecting our users personal information and also providing accountability.

If anyone (e.g. DWG) sees mappers tracing from custom sources that raise concern, you can always just ask them

[2020-03-14 14:50] bhousel commented on #7434
I'm kind of wary about adding a message for this, since it's not the sort of warning the user can actually do anything about.  I wouldn't expect mappers to undo their work from the save screen just because it spans a big area.

iD could probably automatically split big changesets up into a handful of smaller regional changesets.

[2020-03-14 17:54] matkoniecz commented on #7425
So it is based on ELI, with some changes made to it, entry by entry? Making it a derivative work, what requires obeying license of the used materials?

Note that "significantly changed" is not removing copyright. Manual editing is not enough to remove copyright.

Have you tried reporting that kind of functionality/data was missing and that it is necessary for iD (note [earlier](https://github.com/

[2020-03-14 19:12] manfredbrandl commented on #7434
I support automatically splitting up wide area changesets into regional changesets.

[2020-03-14 20:37] bhousel commented on #7425
Not really, [imagery-index](https://github.com/ideditor/imagery-index) is actually based on the [osm-community-index](https://github.com/osmlab/osm-community-index/) code.  (the [initial commit](https://github.com/ideditor/imagery-index/commit/834b2f780741a65ebb372f8b34f874fab85aaa1d) even says so).  This is why I used ISC, because that other project is ISC.

I don't actually have a strong prefere

[2020-03-14 21:59] don-vip commented on #7425
You always justify your decision with this argument, but will you actively monitor imagery entries for health check? Things break all the time, everyday, everywhere, see the [JOSM imagery integration test](https://josm.openstreetmap.de/jenkins/job/JOSM-Imagery-Integration/jdk=JDK8/). There are almost every time around 5% of entries broken because of bad TLS certificates, URL changes, temporary fai

[2020-03-14 22:16] bhousel commented on #7425
Thanks @don-vip - this is a fair point.. I understand that imagery itself may go down and that's outside our control.  But when users start iD, we need an imagery index to be available.

This was never an issue up until [yesterday](https://github.com/openstreetmap/iD/pull/7428) because previously, we just included ELI with the iD source code.  Unbundling it means that we absolutely must fetch a co

[2020-03-14 22:20] hungerburg commented on #7434
ID is the editor of choice for jerks. ID makes it too easy to create BIG changesets, littering the map with hundred pieces of junk spanning hundreds of kilometers. These are very tough to revert or even analyzing alone.

[2020-03-14 23:19] 1ec5 commented on #6801
This does address the access token aspect of the feature request – thanks!

However, I think the consensus on this ticket had moved toward putting a notice into the Custom Background Imagery dialog about public disclosure, which could just as well be an admonition against private or copyrighted sources. That could still be relevant to the sources not covered by this fix, whether legitimate or ille

[2020-03-15 02:31] #7431 closed, assigned to nobody

[2020-03-15 14:31] thomersch commented on #7425
Maybe there is some underlying cultural disconnect here, what do sentences like

even mean?

I am under the impression that you're trying to become independent of everyone (v3's direction seems to be a symptom of that) and apparently everyone who is of the impression that such actions can have unintended effects is a naysayer.

I have been always defending iD and still think it is a great thing fo

[2020-03-15 16:34] carstenhag opened #7435 "Show marker on map after searching for coordinates"
After searching for a specific location, ID should show a location marker on the specifc location. Currently, it just zooms in somewhat, but it's unclear where exactly the coordinate is from.

My usecase is: I take a photo, then extract the coordinates and search with them on ID, for example `48.304564,10.9553521`. I then want to tag the node I took a photo from at the specific location.

Google M

[2020-03-15 16:36] carstenhag commented on #7434
Agree with @hungerburg, perhaps with a "you are editing features which are apart more than 50km" warning we can lower this amount.

[2020-03-15 17:26] bhousel commented on #7425
@thomersch , I can't be "tired of speaking with" someone I've never spoken to before.  I've never met, emailed, or spoken to you, and you've never commented before on any issue in the iD or ELI issue trackers until this one.

If you need an imagery index for something, or if you have some problem with how iD works, sure let's talk about that and I'll try to avoid any "belittling emojis", but pleas

[2020-03-15 17:33] thomersch commented on #7425
It's not all about you, Bryan. I explicitly said it was about what Quincy said. You chose to speak with Guillaume in private instead of including me in the email conversation we tried to establish, which I am fine with, but please keep it straight yourself.

[2020-03-15 18:01] hungerburg commented on #7434
Splitting a changeset into areas will be hairy.

Look at https://www.openstreetmap.org/changeset/76399678 - while still live - it is far too easy to create. Perhaps a scheme, where one has to earn some credit and/or enrol into the feature, before being allowed at all to map anything that does exceed a range of 1km or 10 at most; 50km may already be too far off for someone to tell fact from fiction

[2020-03-15 18:02] bhousel commented on #7426
oh sorry, I think you're right.  I'm still not really sure what this issue is about though.

They can do this now, right?  If the url on openstretmap.org doesn't change, it might require something in the openstreetmap-website integration.  I tested on our preview site, and this works, that's why I was confused.

[2020-03-15 19:02] quincylvania commented on #7425
@thomersch I apologize if my emoji usage came across as belittling! I certainly didn't mean it that way and I didn't consider that possible interpretation. There's probably a cultural disconnect here, since I frequently use and see emoji in a broad variety of online interactions without issue.

With the laughing face I meant to convey a lighthearted tone. Asynchronous online discussions like this

[2020-03-15 19:58] maro-21 commented on #7434
What about a limit for new users with less than 50 edits?
As we can see in the link above, this was a user with 20 edits and still with walkthrough tags.

Not only iD. You can do the same in JOSM, but I think most of the edits spanning more than one country or continent come from MAPS.ME.

Kilometers are not good measure I tihnk. Because you can edit one node which is a member of a big relation, l

[2020-03-15 21:19] hungerburg commented on #7434
Thank you @maro-21 for pardoning me. Maps.me, osmand or wheelmap batch uploads, that might be another story, unless your only concern is, where a changeset shows in the OSM history tab.

If not, then I still think, country is too big an area - The measure should be "local area", because that resonates with the number one selling-point on the openstreetmap webpage, namely "local knowledge". Where "

[2020-03-15 23:24] jidanni commented on #7426
Maybe even better was if in the Background panel, at the bottom,
there was a more general "Copy background setting URL" which would copy the url for
"Bing shifted 3m to the northwest"
"Custom WMS with parameters x...y...x... shifted 1m to the east"
etc. etc.
allowing the user to bookmark them in his browser.

[2020-03-15 23:29] jidanni commented on #7426
Or maybe just add note at the bottom of Background panel, saying that "these can be controlled via a URL" with a link to https://github.com/openstreetmap/iD/issues/7426#issuecomment-598619046 documentation.

[2020-03-16 01:02] andrewharvey commented on #7426
I get there are valid use cases for the custom source, but as much as possible if there is a recurring reason for using custom we should try to get those into the [editor-]layer-index as much as possible rather than workarounds like this.

[2020-03-16 01:17] mikini commented on #7109
Another use case:
* Reverting a change by editing text of saved osc file directly, then reloading it

The need for this could be alleviated by more flexible undo/redo functionality (undo a change not on top of stack).

@sun-geo 's first use case above could also be generalized to "from one editor to another" ([example of user wanting to load osc file from OsmAnd](https://help.openstreetmap.org/que

[2020-03-16 13:27] jidanni commented on #7426
(I'm thinking that a little note to see the API doc could eliminate tedious daily workflows at the county assessor's office like

1. switch to maxar, then with the mouse adjust the ofset.
2. switch to bing, then with the mouse adjust the ofset.
2. switch  back to maxar, then with the mouse adjust the ofset.

using instead two bookmarks the user has saved.)

[2020-03-16 20:23] Elefant-aus-Wuppertal commented on #7427
What is about the tag **gender_segregated=yes/no**? It is less used, yes, but it can solve the problem that unisex=yes/no wasn't clear in the past whether to use as a shortcut for both genders (just as payment:cash as shortcut for coins and notes) or to say that there is (no) gender segregation.

[2020-03-17 08:06] amandasaurus commented on #7427
That also has the disadvantage of being nearly entirely unused, You could try to map this detail yourself to give it a boost?

[2020-03-17 12:12] Elefant-aus-Wuppertal commented on #7427
Yes I could. But please think of the tag traffic_signals=signal, which also was used nearly _only_ in Helsinki before iD made it to the standard value for a highway=traffic_signals-node. It was the editor itself which gave this tag a boost. The same for many other tags. The thing is whether people assume the tag to be useful, because in iD the osm-wiki seems to have "not so much to say" anymore, b

[2020-03-17 12:17] Elefant-aus-Wuppertal commented on #7427
As the meaning of unisex=yes is not so much clear, male=yes/no and female=yes/no can be used just to say whether one of these genders has access at all (just like it is used for already). gender_segregated=no would say then, that it is a gender neutral toilet. For adding the tag _gender_segregated_, there have to be the tags _male=yes_ **and** _female=yes_. It's just like the example that there ha

[2020-03-17 19:10] jjiglesiasg commented on #7418
I do agree, this must raise an issue. And the situation happen in Bolivia and south america quite often...

[2020-03-17 19:24] quincylvania commented on #6026
In ba7f9db46f373950298e1af43007756f787259de I added a warning that flashes at the bottom of the screen when you attempt to add standalone vertices.

[2020-03-18 18:11] quincylvania opened #7437 "Scope iD's CSS to its container"
Currently, iD's CSS can affect the styling of the entire document. This can quickly become a problem for any embedding site that shows additional elements. The Tasking Manager team [solved this](https://github.com/hotosm/iD/commit/69340f9d0c41c43d133f2c8d2bf17a0cba69e3b4) by prepending all CSS selectors with `#id-container `, so we could do something similar in main iD.

Cc: @willemarcel, @xamanu

[2020-03-18 20:30] forteller opened #7438 "Wrong point is selected for dragging after disconnecting elements"
Not sure how else to put it in the title :p

To reproduce:

1. Find a point where multiple elements meet
2. Disconnect them
3. Now you want to move one of them, but how do you select which one? The only logical way is to click on the element you want to move first, then click and drag the point.
4. Notice that almost every single time you do this you end up dragging a different element than the on

[2020-03-18 20:46] forteller opened #7439 "Make upgrading tags easier"
There's a lot of unwanted mouse movement involved in using the automatic tag upgrader feature right now. Especially since there's often many elements that needs to be upgraded close by each other. So you click one, drag the mouse over to "Upgrade tag", drag it back to the neighbouring element, back to "upgrade" again, etc, etc.

I have a few different ideas for how to make this process easier and

[2020-03-19 17:19] quincylvania commented on #7439
@forteller Thanks for mapping with the validator! If you're not yet aware, tagging is a surprisingly political topic in OSM so stuff like this isn't simple. We actually had a quick-fix UI in the past that could upgrade all tags the issues list at once, but we were pressured to remove it.

While this would be convenient, there are some very vocal mappers who would be strongly against it. iD's tag u

[2020-03-19 17:21] quincylvania commented on #7438
@forteller Thanks, I'm pretty sure this is the same underlying issue as #2206 but correct me if I'm wrong.

[2020-03-19 17:21] #7438 closed, assigned to nobody

[2020-03-19 17:28] quincylvania commented on #7414
@Lukas458 Hmm are people really doing this kind of mapping in iD? Almost any feature could have `check_date` but it's pretty advanced to go out surveying based on this tag. I think most iD mappers are just tracing imagery and adding stuff they know from memory.

[2020-03-19 23:39] quincylvania commented on #7433
Looks like we already[ have this](https://github.com/openstreetmap/iD/blob/2.x/data/presets/presets/building/chapel.json)—perhaps it's not translated correctly in whatever locale you're using?

<img width="380" alt="Screen Shot 2020-03-19 at 4 37 46 PM" src="https://user-images.githubusercontent.com/2046746/77124403-0387d800-6a00-11ea-8f28-525dc3322edb.png">

[2020-03-19 23:39] #7433 closed, assigned to nobody

[2020-03-20 01:41] AntMadeira commented on #7433
Yes, you're right @quincylvania but only for areas, not for points.
It would be nice to have this also for points.

Regards.

[2020-03-20 13:10] kaligrafy commented on #2570
+1

[2020-03-20 15:35] quincylvania commented on #7433
@AntMadeira Hmm iD only supports adding `building` features as areas since this is the preferred mapping pattern in OSM. I don't think we can make an exception for this.

[2020-03-20 16:00] 1ec5 commented on #7433
If I’m not mistaken, `building=chapel` only indicates that a building is built as a chapel. A chapel that’s currently in use as a chapel would be mapped as `amenity=place_of_worship`. If the Place of Worship present doesn’t show up in search results for “chapel”, the localization you’re using might need to be adjusted.

[2020-03-20 16:13] maro-21 commented on #7414
I agree with quincylvania.
I think it won't be changed often. I know from experience that people don't change this tag even if they update the data.

But I think we can add `check_date` to bus/tram routes - these are the features I used this tag with. Check date here is good because even if the bus route hasn't changed, people often cut roads so it's necessary to check routes from time to time bec

[2020-03-20 16:25] maro-21 opened #7440 "Rename Tram preset"
Is "Tram" a correct name for `railway=tram`?
I think it should be renamed becasue "tram" is a vehicle...
Although there is a meaning for "tram" as "One of the rails of a tramway"
https://en.wiktionary.org/wiki/tram#Noun
but it's marked as "obsolete".

[2020-03-20 19:43] AntMadeira commented on #7433
@quincylvania: yes, you're right. I was not thinking about the difference between amenities and buildings. Anyway, it's stated in the wiki that chapels can be mapped as points in special situations.
For example: it's common to have chapels inside churches. How do you map those with an area?

Edit: I checked that on the wiki, and states:
"A chapel is often part of a larger entity, such as a church,

[2020-03-20 22:33] jidanni opened #7441 "Open air theater entry oddities"
To enter an Open air theater, currently the user marks an area, then enters
"Open" or "Open air" in the Search box, and clicks on "Amphitheater" and then manually changes
theatre:type=amphi
to
[theatre:type=open_air](https://wiki.openstreetmap.org/wiki/Tag:theatre:type%3Dopen_air) after looking it up on the wiki.
Odd that iD knows that "Open" is related to "Amphitheater", but there are no "Open" n

[2020-03-20 22:35] jidanni commented on #7426
P.S., adding the tag "waitfor-info" while blocking the user you are waiting the info from will cause the user not to get any messages about what you are waiting for.

[2020-03-20 22:40] jidanni commented on #7434
What if all the McDonald's hamburger stores changed their name to "MacDonald's" worldwide.
Well, that could be taken care of with one changeset (for better or worse.)
So perhaps look instead at the problems with changeset examination tools.

[2020-03-20 22:43] jidanni commented on #7435
Not allowed, according to #6830 #4197 #4218 #6173 #5117 #3088 etc. etc. etc.

[2020-03-20 22:49] jidanni commented on #3649
Perhaps same as #7435, #4218.

[2020-03-21 09:31] carstenhag commented on #7435
Okay, so I read some of these. Clearly I was there because I took the picture. I can tell whether the found location was along my trip or is in China (or in the Atlantic sea, wherever the mixed up coordinates would put me at).

[2020-03-21 09:34] carstenhag commented on #7435
Clearly there is a search field, so the point is moot imo. The search is there for orientation. An editor needs orientation, else I would put amenities in the wrong city? Seems like an excuse to me, imo.

[2020-03-21 10:46] jidanni commented on #7435
Maybe there could be an independently distributed plugin for this. Alas I [read]( https://wiki.openstreetmap.org/wiki/ID) iD is "usable directly in the browser without plugins"...

[2020-03-21 10:50] jidanni commented on #7435
It seems this is a perfect candidate for a simple plugin. Plugins were mentioned in #1392 #3836 #1391 .

[2020-03-21 18:19] hungerburg commented on #7434
I wouldn't have though ID capable of that, but if it is, all the more reason to safeguard such a powerful tool!

[2020-03-21 18:29] quincylvania commented on #7441
Looks like someone recently updated these `theater:type` wiki pages to split a difference between `open_air` and `amphi`. I don't see a proposal for these so the wiki pages seem arbitrary. I doubt the average iD mapper knows or cares about the difference between the terms so let's just leave this alone. The tags have rather low usage anyway.

[2020-03-21 18:29] #7441 closed, assigned to nobody

[2020-03-21 18:50] hungerburg opened #7443 "Validator considered harmful"
The yellow warnings that appear, when there is something wrong in the area, offers to "ignore". I understand the policing behind the validator, yet psychologically this can be counterproductive. Looking at changesets by ID users, they e.g. create fords in wrong places. Probably just to please the validator.

The "ignore" option should be given some boost, at least a statement, that it is not a sha

[2020-03-21 19:25] manfredbrandl commented on #7443
„if uncertain, pick ignore„ seems a good idea, similar to „if unsure, leave blank“.

[2020-03-21 20:16] #6444 closed

[2020-03-21 20:18] quincylvania commented on #6444
I ended up doing this ☝️. It _should_ fix the issue, but browsers are persistent little rascals so let me know if it shows up again.

[2020-03-22 05:23] doublah commented on #7440
Maybe tramway would be better?

[2020-03-22 18:32] #7440 closed, assigned to quincylvania

[2020-03-22 18:33] quincylvania commented on #7440
@maro-21 Good point. A bunch of the railway presets looked unclear so I added "Track" to them, like Tram Track, Train Track, etc.

[2020-03-22 20:15] quincylvania opened #7445 "Avoid DOM collisions when embedding iD"
#7437 has me thinking about other ways iD doesn't play nice when it's embedded on a page without an `iframe` container. A primary concern is the risk of collisions—elements inside and outside iD responding to the same selector. Some ways to address this:

- [x] _Don't use plain `id` attributes within iD._ An `id` must be unique among all elements of the document and we can't guarantee this if we d

[2020-03-22 22:02] maro-21 commented on #7440
Great! Thanks!

What about Railway Under Construction preset and similar? Check please if they're ok, or should also be renamed.

Railway Under Construction: `railway=construction`
Abandoned Railway: `railway=abandoned`
Disused Railway: `railway=disused`
Disused Railway Feature: `disused:railway=*` (this one is ok I think, becasue it applies not only to tracks)

[2020-03-23 01:22] boothym opened #7446 "iD discards information when merging point and way"
I saw a node with the name of a building also tagged with amenity=* but no building drawn on the map.

So I drew the building outline shape, shift clicked to select both and then pressed C to merge. iD merged the two, adding a building=yes tag as well.

However the amenity tag value was simply replaced by amenity=yes. It seems that this only happens if the amenity value is not a preset, as it did

[2020-03-23 01:40] jidanni opened #7447 ""Add a bridge" suggestion missing if stream is selected"
Here we see the user will miss the very important option to "Add a bridge", depending on which of the two items is selelcted.
![27485-1](https://user-images.githubusercontent.com/1230959/77271500-dbdb8d00-6ce9-11ea-9252-2eee08a190fe.jpg)
![7498-0](https://user-images.githubusercontent.com/1230959/77271514-e433c800-6ce9-11ea-879a-e5b12bf7b7ab.jpg)

[2020-03-23 01:51] jidanni opened #7448 "No information available on Structure or subitems"
Here there is "No information available" when instead there should be some link to https://wiki.openstreetmap.org/wiki/Key:bridge etc.
![10661-2](https://user-images.githubusercontent.com/1230959/77272199-961fc400-6ceb-11ea-8a08-cb99eb5bef7f.jpg)
Therefore each subitem needs an "i" link.

[2020-03-23 03:03] jidanni opened #7450 "Combine tool needs to bring in full form after combine"
Start with an old existing point node
[code]
Now draw an area around it and use the Combine Tool.

OK, the node and the area are now combined. But where are the address fields etc.?

OK, we must choose Place of worship again in the search box to generate them, as "Area" didn't get updated after the Combine.

I.e., even though at the bottom we see now
[code]
but the rest of the template for a build

[2020-03-23 03:46] jidanni opened #7451 "Allow user to know imagery loading state"
A black background might represent
1. imagery loading... please wait
2. imagery not available for given imagery choice and zoom level
3. user has chosen "None" imagery
4. some other condition I am not aware of

At least conditions 1 and 2 should be distinguishable via the use of for 1) "Loading" and/or for 2) "Zoom out to see imagery" etc. watermark backgrounds.

[2020-03-23 06:07] jidanni opened #7452 "Add Key:mimics to Mobile Phone Mast preset"
Mobile phone mast entry is easy. We get

filled in for us.
Alas these days most new masts involve https://wiki.openstreetmap.org/wiki/Key:mimics  .
Therefore it would be good if we could find that field in the form. Thanks.

[2020-03-23 11:53] maro-21 commented on #7447
As you can see it creates a tunnel or bridge on the selected feature.
It's because a stream can be in a tunnel but not on a bridge...
A road can be on a bridge but... Why tunnel is here? I don't think there are roads under a ditch ;). Even if there are, this is very rare case so this option shouldn't be here.
So there is no missing "add a bridge" but rather "add a tunnel" should be removed.

To no

[2020-03-23 12:21] UKChris-osm opened #7453 "Update branch names referenced in repo files"
Hello all,

Coming over from the [Name-Suggestion-Index](https://github.com/osmlab/name-suggestion-index/) the branch name change has affected the project with some missing icons now occurring, and I think this is down to the taginfo.json file still referring in places to the **@master** branch, which I gather now no longer exists.

As iD is a much larger project, I don't want to interfere with an

[2020-03-23 12:43] forteller opened #7454 "Fountains shold not need to be connected to anything"
Yeah, title pretty much says it all. It seems very unreasonable to give an error for this, no?

![Screenshot from 2020-03-23 03-52-14](https://user-images.githubusercontent.com/343561/77317785-22da7a00-6d0c-11ea-94ce-e9e808fb6571.png)

[2020-03-23 14:43] kymckay commented on #7454
Have you checked the raw tags of the fountain? (Alternatively can you link to this location?)

[2020-03-23 15:49] forteller commented on #7454
Ah. Huh. Thanks :)

![Screenshot from 2020-03-23 16-45-06](https://user-images.githubusercontent.com/343561/77334890-af456680-6d25-11ea-90f4-2910a71c98ee.png)

Could there be a system to stop this from happening? I did not make this fountain, it was already there, I just fixed it up a bit. Maybe someone made it first as a footpath and then someone else changed it to a fountain? (Makes sense, since

[2020-03-23 16:13] quincylvania commented on #7453
@UKChris-osm Thanks again for reporting. Fixed.

[2020-03-23 16:17] quincylvania commented on #7450
Hmm this was indeed a bug in 2.17.2 but has already been fixed for the next release.

[2020-03-23 16:17] #7450 closed, assigned to quincylvania

[2020-03-23 16:28] quincylvania commented on #7454
Theoretically, yes, but I'm afraid that determining what tags can coexist with other tags would be a never-ending task fraught with controversy. I'm inclined to leave it alone considering this type of issue looks to be relatively uncommon.

If someone did this with iD's preset switcher than the footpath tag would be removed automatically. If they used the raw tag editor then we assume they're bein

[2020-03-23 16:28] #7454 closed, assigned to nobody

[2020-03-23 16:31] johanricher commented on #7453
The use of the `master` branch should also be removed in all the other files on _all_ the branches, at least the [active ones](https://github.com/openstreetmap/iD/branches/active).

[2020-03-23 16:48] quincylvania commented on #7453
We typically only update branches as-needed. Let me know if you're relying on a particular branch.

[2020-03-23 16:51] #7452 closed, assigned to quincylvania

[2020-03-23 17:02] quincylvania commented on #7447
Right. Aqueducts are possible in OSM but uncommon.

Huh, I hadn't thought about this before but it's a good point. Tunnels under waterways are also fairly uncommon.

Maybe. There are many types of crossing issues where connecting is the desired solution, e.g. road/path, and it's nice to keep the order consistent.

It's okay to open a separate issue if the concern is different than the original pos

[2020-03-23 17:02] #7447 closed, assigned to nobody

[2020-03-23 17:08] johanricher commented on #7453
I'm just pointing out that the `master` branch is used in several parts of your code (for example in `FAQ.md` on all the branches, including the current `develop`) and removing those in anticipation could avoid future breakages that would be hard for users to diagnose, like we had to.

[2020-03-23 19:47] #7446 closed, assigned to quincylvania

[2020-03-23 19:47] quincylvania commented on #7446
Thanks a lot for reporting, @boothym, we take potential data loss seriously.

[2020-03-23 19:50] quincylvania commented on #7422
This sounds okay.

[2020-03-23 22:17] forteller opened #7455 "Offer to connect paths to pedestrian areas"
So, there's a ton of foot paths or the like crisscrossing an area, but the area is not marked as a pedestrian area or square or the like, so you add that.

But then you get an error: This area is not connected to anything. Although all those paths crisscrossing it obviously "connected" to it, out there in real life. So then you have to start making new nodes on all the paths and dragging them to c

[2020-03-24 08:53] jidanni commented on #7447
All I know is when uploading an edit with nearby missing tunnel/bridges, we get warnings. It seems to always give us the stream's warning  instead of the road's warning.

This is too bad, because where I live these all should be fixed with bridges, not tunnels.
(Bridges are [cheaper](https://en.wikipedia.org/wiki/Bridge%E2%80%93tunnel) for municipalities than tunnels.)

So I must remember to click

[2020-03-24 11:37] sun-geo commented on #7448
Yes, adding "i" to each line could be a solution, or creating a top level structure wiki article page "structure" which contains some links to different tag/key wiki pages. Maybe a little bit similar to this page:
https://wiki.openstreetmap.org/wiki/Note

[2020-03-24 13:28] willemarcel opened #7456 "Scroll sections problems when embedded"
![image](https://user-images.githubusercontent.com/666291/77430101-6808b580-6db9-11ea-8191-d448cad00830.png)

![image](https://user-images.githubusercontent.com/666291/77430372-d6e60e80-6db9-11ea-9a75-15d5e57d4027.png)

`.pane-content` and `.sidebar-component .body` scroll doesn't behave well when iD is embedded. The scroll bar is present, but we can not scroll until all the content is visible. Th

[2020-03-24 13:39] willemarcel opened #7457 "Define better z-index levels"
We are having some problems with `z-index` when embedding iD (https://github.com/hotosm/tasking-manager/issues/2554). That one we can solve easily, but maybe it would be worth defining better the `z-index` levels for iD in order to avoid conflicts... Current values:

![image](https://user-images.githubusercontent.com/666291/77431441-76f06780-6dbb-11ea-8834-63a83db7a221.png)

[2020-03-24 13:54] willemarcel opened #7458 "Gap on combobox dropdowns"
![image](https://user-images.githubusercontent.com/666291/77433099-b455f480-6dbd-11ea-8a16-0d2952b9e59f.png)

When running iD embedded on Tasking Manager, there is a gap between the add field select position and the dropdown contents. it happens even without scrolling the page.

[2020-03-24 14:13] willemarcel commented on #7456
It was caused by a wrong height values on the id-container div. I could fix it.

[2020-03-24 14:13] #7456 closed, assigned to nobody

[2020-03-24 14:13] willemarcel commented on #7458
It also happens on other dropdowns

![image](https://user-images.githubusercontent.com/666291/77435047-87571100-6dc0-11ea-95d6-ef847c1adfb3.png)

[2020-03-24 16:21] quincylvania commented on #7447
Ah okay, you're trying to add a road bridge instead of a stream tunnel, not a road tunnel.

An issue like this is shared by multiple features but the fixes are specific to the selection. When clicking an issue in the issues list, one of the features is arbitrarily selected. #5897 would make it possible to choose which feature to select.

[2020-03-24 16:21] jidanni opened #7459 "Add azimuth to Measurement tool"
Azimuth would be a very simple addition to the measurement tool.

Much more simpler than the current Centroid.

The user currently can get the length, but not the azimuth.

Have it only active on the first segment of a line, fine. But at least provide it.

Azimuth is a basic component of all other such "ruler" tools I have ever seen.

[2020-03-24 16:22] quincylvania commented on #7448
I'd prefer this to adding five more buttons.

[2020-03-24 16:24] jidanni commented on #7459
https://support.google.com/maps/forum/AAAAQuUrST8LqY4a9_vWKA

[2020-03-24 17:17] #6209 closed

[2020-03-24 17:36] jidanni commented on #6924
They are not always on the imagery. For instance the foundations of a ruins in a dense jungle.

Let's say we need to enter a 5x10 meter house, or 50x100 meter playing field.
OK, with the Measurement tool we are very happy that we can get the first side, 5, or 50 meters wall entered fine.

But then things fall apart.

Therefore, aside from just showing the accumulated distance, please also show the

[2020-03-24 17:40] quincylvania commented on #6209
I ended up removing the map location part since it was distracting and not particularly useful to most users. Perhaps we could include the local area name instead, e.g. "Tuba City, AZ".

I added this too. I couldn't yet figure out how to show it in the current title but not in the history item title, but it's not a big problem.

[2020-03-24 17:46] jidanni commented on #7448
But wait, with the five buttons the user could get to the info of each item directly!

[2020-03-24 17:57] quincylvania commented on #7451
@jidanni Is this actually a usability problem for you? You can just pan and zoom around to get a sense of what the imagery is doing. To my knowledge, mappers have managed fine thus far with the existing behavior.

[2020-03-24 18:06] jidanni commented on #7451
Ah, but that assumes high speed Internet connections and perfect imagery servers.
Anything else and the user is wondering if he should just wait, or if waiting will be fruitless, for a given black area.

[2020-03-24 18:07] quincylvania commented on #7459
@jidanni Sorry, but this doesn't make any sense to me. The measurement panel isn't some multipurpose "ruler" tool, it gives basic geometry info about the selected feature. You can't calculate the azimuth for a line with more than two points, and only using the first segment would be arbitrary and confusing. In any case, I don't know how showing this would help with mapping. Please use a data viewi

[2020-03-24 18:07] #7459 closed, assigned to nobody

[2020-03-24 18:08] jidanni commented on #7451
Yes we don't want to waste even more cycles by putting spinning things there, but maybe there could be a default background that eventually gets replaced by imagery.

[2020-03-24 18:15] quincylvania commented on #7457
@willemarcel Hmm good point. I can audit these and try limiting them to a smaller range.

[2020-03-24 18:16] jidanni commented on #7447
Well all I know is the warning system should say
"A stream crosses a road.
Add a bridge?
Add a tunnel?
Add a ford?" etc.

The average user is not going to double check which of the two items iD has arbitrarily selected, and hence will always miss out on some valid solution options. (And like me, create lots of tunnels thinking it was the only proper choice!)

Therefore iD should always present all

[2020-03-24 18:35] jidanni commented on #7459
Well I filed https://help.openstreetmap.org/questions/73733/make-a-house-of-given-size-and-angle .

[2020-03-24 18:48] quincylvania commented on #7453
@johanricher Good point. I updated all the instances I could find in d669bbef2afe804318484df6127db5b360d900bd.

[2020-03-24 19:46] quincylvania commented on #7458
Looks like the vertical positioning code uses the client bounding rect, so it's offset by the height of your top toolbar. We should make it relative instead.

[2020-03-24 21:44] boothym opened #7460 "Add wikidata description to dropdown list items"
I was adding wikidata to an object, however when doing so there were a lot of items with the same name - meaning I had to mouseover each one to get the description to appear.

If there is more than one wikidata item of the same name, could the description be added so users can differentiate between them? E.g. "Green Hill Q3314551 - Census-designated place in Wilson County Tennessee"

![Untitled-1]

[2020-03-24 23:17] quincylvania commented on #7457
Turns out we can make all of iD's elements stack relative to the container and not sandwich external elements. This way we can leave all the internal `z-index` values alone.

https://developer.mozilla.org/en-US/docs/Web/CSS/CSS_Positioning/Understanding_z_index/The_stacking_context

[2020-03-25 04:07] megaboxbrasil opened #7461 "Edit Geocode Reverse address"
How to edit the addresses that appear in the Geocode Nominatim search (Reverse geocode)

[2020-03-25 06:56] jidanni opened #7462 "Bridges: prompt for name and ref fields"
![29999-6](https://user-images.githubusercontent.com/1230959/77509818-636efa80-6ea8-11ea-8f10-914c4d8b616b.jpg)
Besides "Type" and "Layer", the very important "Name" (Washington Memorial Bridge), and ref fields should also be listed at the bottom. (Else the bridge will only have the name of the highway it carries.)

[2020-03-25 07:48] jidanni commented on #7462
(I am not clear about the [technicalities](https://wiki.openstreetmap.org/wiki/Talk:Key:bridge#Naming) underneath the hood.)

[2020-03-25 08:01] jidanni opened #7463 "Lopsided bridges sometimes created during problem resolution"
In [certain cases](https://www.openstreetmap.org/changeset/82602496), a lopsided bridge is created,
![15156-9](https://user-images.githubusercontent.com/1230959/77514246-6d492b80-6eb1-11ea-934e-9cc4f005b656.jpg)
when the user chooses "Add a bridge" from the problem resolution choices.

It would be better to always create bridges that have the same length on both sides of the stream they cross.

[2020-03-25 09:28] forteller opened #7464 "Offer to add a gate when path crosses fence"
Too many people forget to add this, and so you wonder if there's something wrong: Does the path really cross the fence here? Is there really a fence? etc.

It would be helpful if iD could remind people of adding a gate, and offer a one-click way of doing it. If you in addition have any way of reminding people to add information about who's allowed to pass the gate, that would be great :)

[2020-03-25 15:08] forteller commented on #7143
This happened to me now when I right clicked an then used a keyboard shortcut to do one of the things in the context menu (V). Just in case it's helpful to know what can trigger this.

[2020-03-25 16:31] quincylvania commented on #7464
@forteller Thanks, this is #6349.

[2020-03-25 16:31] #7464 closed, assigned to nobody

[2020-03-25 16:35] quincylvania commented on #7461
Hi and welcome, @megaboxbrasil.

I'm not totally sure what you're asking, but updating an address in OpenStreetMap should eventually update it in Nominatim search.

[2020-03-25 16:35] #7461 closed, assigned to nobody

[2020-03-25 16:39] quincylvania commented on #7463
The way this works is that the bridge length is estimated heuristically and then one side is shortened since there's a junction. Though I suppose the junction could indicate that the other side of the bridge might also be shorter.

[2020-03-25 16:43] quincylvania commented on #7460
@boothym I agree it'd be great to show the descriptions too, but no other comboboxes have subtitles so we'd have to build out this UI. I'd rather not just have one big long string.

Interested idea! This is probably doable. We could also theoretically filter the list to just geographic entities, but this is a bit risky since not everything on wikidata is properly categorized.

[2020-03-25 17:50] quincylvania commented on #7143
@forteller Thanks for the tip. I was able to reproduce this in the `develop` branch.

[2020-03-25 18:46] megaboxbrasil commented on #7461
When decoding latitude and longitude on a given street, it returns a wrong street name. Where can I change this?

[2020-03-25 19:41] jidanni commented on #7462
However [my try](https://www.openstreetmap.org/way/784403030) didn't [work](https://wiki.openstreetmap.org/wiki/Tagging_for_the_renderer).

[2020-03-25 19:44] forteller commented on #7464
I promise I searched! :)

[2020-03-25 19:54] jidanni commented on #7462
I am saying iD needs a way for the user to say this is Washington bridge, and also Highway 1, in the right recipe so the user later will see all that in the renderer.

[2020-03-25 19:57] quincylvania commented on #7461
You can make sure the street and all nearby addresses have the correct street name in OpenStreetMap.

<img width="580" alt="Screen Shot 2020-03-25 at 12 54 21 PM" src="https://user-images.githubusercontent.com/2046746/77579623-dcb22180-6e97-11ea-8ca6-b20e344fe855.png">
<img width="549" alt="Screen Shot 2020-03-25 at 12 54 32 PM" src="https://user-images.githubusercontent.com/2046746/77579622-db80f

[2020-03-25 19:57] jidanni commented on #7463
Here's a scale bar to see what we are talking about,
![10861-1](https://user-images.githubusercontent.com/1230959/77579820-e4b0a680-6f15-11ea-8875-fe5f32ecd3ce.jpg)

[2020-03-25 19:59] quincylvania commented on #7464
I'm sure! I've done the same thing, even for issues I'd already opened 😆

[2020-03-25 20:00] megaboxbrasil commented on #7461
This was done, but it remains with the wrong name in geocoding. The name on the map layer is ok
![wk3](https://user-images.githubusercontent.com/62397353/77580044-12680200-6eba-11ea-9740-6288fc671464.png)

[2020-03-25 20:01] jidanni commented on #7463
So maybe always make bridges end 5 meters beyond the item being crossed, snapping to anything nearer, or anything farther if within one meter. Something like that.

Hmmm, I bet the current algorithm is the same, except using 20 meters. Hmmm.

[2020-03-25 20:05] megaboxbrasil commented on #7461
This same street also looks wrong in the organization's own, but with a different third name
![wk4](https://user-images.githubusercontent.com/62397353/77580418-bce02500-6eba-11ea-8d39-22d96f518133.png)

[2020-03-25 20:06] megaboxbrasil commented on #7461
A name appears on my server, another name appears on the organization's server. Only on the map layer that is right

[2020-03-25 20:08] quincylvania commented on #7461
@megaboxbrasil Different servers update at different schedules. I can't really help you any more than that.

[2020-03-25 20:10] jidanni commented on #7463
Well [here](https://wiki.openstreetmap.org/wiki/File:Bridge_Name_And_Ref_Taiwan.jpg)'s the bridge. [Itty bitty](https://goo.gl/maps/Qs6Ysn9ARPqyAWnW9).

[2020-03-25 20:13] jidanni commented on #7463
Well, maybe there is no one-size-fits-all. Some bridges are longer, some shorter. That there are some approach ramps close to the east side shouldn't have some side effect on the west side.
So maybe "if the user isn't happy with the result he can edit it before saving." So I suppose we should close this bug.

[2020-03-25 20:13] #7463 closed, assigned to nobody

[2020-03-25 20:13] quincylvania commented on #7462
@jidanni The current best practice is to map bridges separately as areas using `man_made=bridge`. This is even mentioned on the wiki at [`bridge:name`](https://wiki.openstreetmap.org/wiki/Key:bridge:name). This follows [one feature, one element](https://wiki.openstreetmap.org/wiki/One_feature,_one_OSM_element), will let you easily enter multilingual bridge names, and will make the bridge name rend

[2020-03-25 20:13] #7462 closed, assigned to nobody

[2020-03-25 20:13] megaboxbrasil commented on #7461
Understand.

But it is wrong on the OpenStreetMap website. Only the name of the map layer is right. The geocoding service is wrong. I wish I could contribute to that, but from what it seems to me, so you can contribute with a map layer

[2020-03-25 20:15] quincylvania commented on #7463
Sounds good 👍

[2020-03-25 20:50] forteller commented on #7464
I'm glad I'm not the only one! 😁 #7387

[2020-03-25 21:33] #7143 closed

[2020-03-25 22:36] forteller opened #7465 "Make it easier to add parking spaces for disabled people"
I _try_ to spend most of my time mapping on things that I think will have real world value for people, and especially for people with special needs (benches, drinking water, toilets, etc), and so I think marking where there are parking spaces for disabled people is especially important.

Unfortunately, trying to do this in iD was a difficult and frustrating task for me.

First there's no specific

[2020-03-25 23:43] boothym commented on #7460
In JOSM, the wiki plugin can download elements either in the viewport or from a certain category.

The object I was editing was a peak, don't know if the wikidata api response supplies a catergory which could also help in terms of reducing the number of wikidata items?

![wiki](https://user-images.githubusercontent.com/16965772/77595823-24fe2d80-6ef2-11ea-8f5f-66c7a3af8f65.jpg)

[2020-03-26 16:03] mfbehrens opened #7466 "Probably wrong display of the surface tag on roads"
Hello,

I just added the surface tag to a living street and the street changed its style to the unpaved road look.
Is this correct or is this a bug?

Michael

[2020-03-26 16:39] quincylvania commented on #7466
@mfbehrens99 What `surface` value did you use? iD uses a narrow definition of "paved" which is more about smooth vs. bumpy. All values except these get the "unpaved" styling:

https://github.com/openstreetmap/iD/blob/5125c04a588d72683ab937949ea93bb0c819ab70/modules/osm/tags.js#L120-L131

[2020-03-26 17:01] boothym opened #7467 "Search features box should trim spaces"
As per title - sometimes when copying nodes/way/relation IDs from overpass-turbo, I select a leading or following space and include it when pasting. Would be good if these were trimmed.

[2020-03-26 18:20] kymckay commented on #7467
I don't think the actual string in the UI should be trimmed, however searching would benefit from stripping out white space for the actual search (for better fuzzy matching)

[2020-03-26 18:29] #7465 closed, assigned to quincylvania

[2020-03-26 18:32] quincylvania commented on #7465
Thanks, @forteller, I didn't realize this tagging was so well developed already. It's always great to make accessible mapping easier. I added an Accessible Parking Space preset and an Accessible Spaces field to parking presets.

[2020-03-26 19:30] mfbehrens commented on #7466
I mean this surface:
wiki.openstreetmap.org/wiki/Key:surface

The way I mean is this here:
openstreetmap.org/edit#map=21/50.00002/8.23741
openstreetmap.org/way/390473400

[2020-03-26 19:56] forteller commented on #7465
Wow, that was fast! Thank you! :)

[2020-03-26 20:12] boothym commented on #7467
Perhaps it can be restricted to numeric strings then? Because if I paste in " 107775" or "107775 " (minus the quotation marks) then iD doesn't display the node/way/relation links.

[2020-03-26 20:51] quincylvania commented on #7466
It looks like the tag in question is `surface=paving_stones`? This has come up before in #6691. The rationale is that most highways are considered have an asphalt-like surface by default in OSM, so it's helpful to style anything else differently.

However, it's true there's a real difference between paving stones and dirt. Perhaps we can consider a third style for intermediate-level pavement.

[2020-03-26 21:09] forteller opened #7468 "Use distinct mouse pointer styles for point and area"
I have a few features that I use a lot, but also switch between using as points or as areas (bike parking, playgrounds, etc). When I select one of them and click where I want it I sometimes have forgotten that last time I used it I changed it from one to the other. This really annoys me, because then my rhythm is broken and I must cancel what I did, change style and click on the place again.

All

[2020-03-26 21:37] mfbehrens commented on #7466
But is paving stones not asphalt-like as well? After some rain there is no problem with mud or things like that. Same for the smoothness.

[2020-03-26 23:45] jidanni opened #7469 ""Add a bridge" should use new practices"
Regarding the warning

*Residential Road crosses stream*
- *Connect using a ford*
- *Add a bridge*
- etc.

Choosing "Add a bridge" currently creates
[code]
it instead should be updated to use the practices mentioned in https://github.com/openstreetmap/iD/issues/7462#issuecomment-604061422

[2020-03-26 23:50] jidanni commented on #7469
So as far as the geometry issues, it should start making areas instead of lines.
I suppose the length of the area could be the same as the length of the current lines it makes.
But for width, I suppose it needs to make a standard width, based on the highway grade it is operating on. I guess for the rare case it didn't make the bridge wide enough (some ceremonial bridges) the user could stretch it

[2020-03-27 00:54] jidanni commented on #7459
Well all I can say is the Measurement Tool has many many length features, but no angle features.
One can measure Area:0.9182 m², Perimeter:9.139 m, lengths, centroids, but nothing about angles (directions). As we know the simplest vector is composed of a length and a direction.

[2020-03-27 02:26] #7466 closed, assigned to quincylvania

[2020-03-27 02:33] quincylvania commented on #7466
I did this ☝️. I went with a subtle dash with the paved casing color that is meant to convey "not quite asphalt" while still being considerably better than earth or gravel.

<img width="1037" alt="Screen Shot 2020-03-26 at 7 21 47 PM" src="https://user-images.githubusercontent.com/2046746/77715182-1f5b2300-6f98-11ea-9045-eafc9dae1c63.png">

---

This definition no-doubt varies by culture. Here in

[2020-03-27 02:48] quincylvania commented on #7469
@jidanni The `man_made=bridge` tag should be used on separate features entirely and does not replace `bridge=yes` + `layer=1` on the road. It's also not really relevant to the crossing ways issue so it'd be weird to start adding them automatically.

[2020-03-27 02:48] #7469 closed, assigned to nobody

[2020-03-27 08:58] polarbearing commented on #7469
@jidanni - "make a standard width, based on the highway grade" / "attach the area to the road":

I tried to explain you in the wiki talk page already: The bridge outline (man_made=bridge) is a separate object from the road over the bridge, only the road is tagged bridge=yes. Assumptions of width shout **not** be done automatically, e.g. a bridge could carry multiple highways.

[2020-03-27 10:38] kymckay commented on #7467
Apologies, I think I wasn't super clear.

My point is the actual UI string should not change, but for actual searching it could be stripped of whitespace. This would solve the issue here, but also for cases where a user may search for "Pizza Express" when the preset is "PizzaExpress", etc.

[2020-03-27 14:35] MRVDH opened #7470 "Unable to close KeepRight issue"
Pressing Close (Error Fixed) does not do anything

![image](https://user-images.githubusercontent.com/6686385/77766782-67358500-7040-11ea-9736-f62bc1f0eb44.png)
![image](https://user-images.githubusercontent.com/6686385/77766838-7ae0eb80-7040-11ea-9593-f7d7b64b7bd0.png)
![image](https://user-images.githubusercontent.com/6686385/77766876-846a5380-7040-11ea-99bc-b15428541d16.png)
![image](https://us

[2020-03-27 16:19] kymckay commented on #7470
Duplicate of #6881

Should be fixed in development version and so next release (can test this at https://ideditor.netlify.com if you'd like to confirm)

[2020-03-27 18:28] MRVDH commented on #7470
Yep, just tested and seems to work as expected there. Thanks!

[2020-03-27 18:28] #7470 closed, assigned to nobody

[2020-03-27 19:31] forteller opened #7471 "Drop up when drop down will go bellow screen"
The situation in the screenshot is a bit annoying. Could the drop down drop up in these situations (and only in these)?
![Screenshot from 2020-03-26 21-23-54](https://user-images.githubusercontent.com/343561/77791513-0b322700-7067-11ea-808a-9d646afd7e6c.png)

[2020-03-27 19:40] MRVDH opened #7472 "Using "Add a bridge" with path over pedestrian area does not work"
Error in the console after pressing
![image](https://user-images.githubusercontent.com/6686385/77793846-1d15c900-706b-11ea-8f38-98d02749be91.png)

Location: https://www.openstreetmap.org/node/7335826542#map=19/37.89153/126.74319

[2020-03-27 19:57] kallejre opened #7473 "Suggestion: Optionally using whole viewport as single bounding box for layers"
I recently made pull request to editor-layer-index about adding some new layers for Estonia. What I noticed, was that all layers there but one were based of WMS layers, that supported bounding boxes with any aspect ratio (not just squares). All these layers are built for web app, which native behaviour is to use on-demand rendering, where bounding box of requested layer is browsers viewport.

I un

[2020-03-27 20:02] manfredbrandl commented on #6025
I am doing translation into German: point is Punkt, vertex/node x are Knoten now. I think about translating these three with Punkt only, because everybody will easily understand that. I think we do not need extra word for all points, points which are part of a way and point with are standalone, one name for all should be enough. Everybody agree?

[2020-03-27 23:26] kallejre commented on #7451
As someone experimenting with custom layers, 4th category can include incorrect layer settings (incorrect url, servers replies with custom error, zoom level not available). That's unlikely to happen for end user, but i agree, that empty black tile should include something, for example dark grey error code/message, except for None-background.

Temporary workaround is to use browser console's networ

[2020-03-28 02:03] jidanni commented on #7469
I used to make bridges separately as areas. But then for the last few month I have let the problem resolver help me make them (as lines).
OK, could somebody edit
https://www.openstreetmap.org/way/784403030
for me making it perfect. And then from then on I shall make them that way. Thanks! You can see there is a wikimedia_commons link so you can see how it looks on the ground.

[2020-03-28 05:07] rivermont opened #7474 "Bing Streeetside overlay persists after disabling"
Preview site, 0328e10

Noticed that the overlay was still there after I disabled the feature. Didn't change after checking and unchecking a few times. I think I could load images, and it definitely was loading new areas. Can't reproduce; it went away after uploading changeset.

![screenshot](https://user-images.githubusercontent.com/25139386/77815205-02554b80-708f-11ea-978f-fc7bcdbc6ac8.jpg)

[2020-03-28 08:22] polarbearing commented on #7469
@jidanni - I have shortened the road and added the man_made=bridge object for the bridge you asked for, and transferred the bridge:name and bridge:ref to the man_made object as name and ref.

[2020-03-28 13:58] maro-21 opened #7475 "Edit Kebab Fast Food preset - change icon"
The icon for Kebab Fast Food preset is the same as for a restaurant preset. It should be the same as for Fast Food preset.

[2020-03-28 13:59] maro-21 opened #7476 "Edit Nail Salon preset - change icon"
Currently the icon for Nail Salon preset is a shopping cart icon. It should be the same as for Beauty Shop preset.

[2020-03-28 14:01] maro-21 opened #7477 "Add smoothness to Parking Lot and Service Road presets"
Smoothness key is used together with `surface=`. Parking Lot and Service Road presets already have a `surface=` key, but they don't have `smoothness=`.

[2020-03-28 14:04] maro-21 opened #7478 "highway=corridor isn't an indoor feature"
After unchecking "Indoor Features" iD doesn't hide corridors [highway=corridor, indoor=yes], for it this is a "path".

[2020-03-28 14:09] maro-21 opened #7479 "Edit Bus/Tram/Ferry Route presets"
Remove fields `wheelchair`, `opening_hours`, `level` and `ele` from presets:
`type=route + route=bus`
`type=route + route=tram`
`type=route + route=ferry`
`type=route_master`.

[2020-03-28 14:13] maro-21 opened #7480 "Train Station Building is not searchable"
Why `building=train_station` preset is not searchable?

[2020-03-28 14:15] maro-21 opened #7481 "Edit Public Bath preset"
Preset `amenity=public_bath` has more options for `bath:type` than these 3 listed in iD.
For example `bath:type=thermal` and `bath:type=hammam` are missing.
https://taginfo.openstreetmap.org/keys/bath:type#values
https://wiki.openstreetmap.org/wiki/Key:bath:type

[2020-03-28 14:18] maro-21 opened #7482 "Add natural=shrub preset"
Add a preset for `natural=shrub`.
https://wiki.openstreetmap.org/wiki/Tag:natural%3Dshrub

[2020-03-28 14:25] maro-21 opened #7483 "Add amenity=vacuum_cleaner"
A vacuum cleaner is often found at gas stations or car washes.
It is used 682 times.
https://taginfo.openstreetmap.org/tags/amenity=vacuum_cleaner
We already have a preset for Compressed Air, it would also be good to have a Vacuum Cleaner preset.

[2020-03-28 14:36] maro-21 opened #7484 "Add healthcare=nutrition_counseling"
I know that this tag is not used very often, but there is no other way to map a dietitian...
Maybe after having its preset in iD, there will be more correctly tagged dietitians?
https://wiki.openstreetmap.org/wiki/Tag:healthcare%3Dnutrition_counselling

[2020-03-28 14:55] maro-21 opened #7485 "Don't show value suggestions for full_name, loc_name, reg_name"
Do not show value suggestions for keys: `full_name`, `loc_name`, `reg_name`, `short_name`, `sorting_name`, `artist_name`, `nat_name`, `long_name`, `bridge:name` in All tags.

[2020-03-28 15:11] maro-21 opened #7486 "Don't "translate" names"
I think the tooltip when hovering over "+" on the right of the "Name" field shouldn't be called "Translate", because we shouldn't translate or transliterate names. These should be existing names of features.
It suggests to translate the name. So when I add a restaurant name=Restaurant ABCD, can I translate it to other languages? name:de=Restaurant ABCD, name:fr=Restaurant ABCD, name:es=Restaurante

[2020-03-28 15:34] maro-21 opened #7487 "Edit amenity=letter_box preset"
Remove `collection_times` field from `amenity=letter_box`.
Because it's a private letter box and there are no collection times :)

[2020-03-28 15:49] maro-21 opened #7488 "Edit Water Park preset"
To Water Park preset add `sport=swimming` by deafult and add `opening_hours`.

[2020-03-28 18:37] jidanni commented on #7459
(I forgot to add examples)
Viking:
![viking_ruler](https://user-images.githubusercontent.com/1230959/77830819-2cc60800-7166-11ea-8657-0465da5892aa.jpg)

Google Earth:
![google_earth](https://user-images.githubusercontent.com/1230959/77830827-3c455100-7166-11ea-8d14-04c437074a8c.jpg)

[2020-03-28 20:01] quincylvania commented on #7485
Sorry, we don't support tag-specific functionality in the raw tag editor.

[2020-03-28 20:01] quincylvania commented on #7480
This is intentional so mappers don't confuse this preset with the Train Station preset.

[2020-03-28 20:01] #7480 closed, assigned to nobody

[2020-03-28 20:05] quincylvania commented on #7474
@rivermont Hmm I have no idea what's going on here but I don't see this on the `develop` branch. Since we've stopped development on the v3 prototype branch I'm closing this as won't fix. Elements of that branch are being manually pulled back to `develop`.

[2020-03-28 20:05] #7474 closed, assigned to nobody

[2020-03-28 20:07] quincylvania commented on #7471
@forteller You should just be able to scroll the sidebar up? We could possibly do this automatically. I'm not sure "dropping up" would be a great experience.

[2020-03-28 20:16] quincylvania commented on #7479
Doesn't look like the `level` field is present on these. The `wheelchair` and `opening_hours` tags are recommended by the wiki.

The Elevation field is currently "universal", meaning it appears for every preset. This is something we should change.

[2020-03-28 20:20] quincylvania commented on #7476
This has already been updated for the next version of iD. You can check out the development preview at: https://ideditor.netlify.com

<img width="383" alt="Screen Shot 2020-03-28 at 1 19 28 PM" src="https://user-images.githubusercontent.com/2046746/77832934-c786fe00-70f6-11ea-8054-d687fa01487e.png">

Re: #7068

[2020-03-28 20:20] #7476 closed, assigned to nobody

[2020-03-28 20:57] #7479 closed, assigned to quincylvania

[2020-03-28 21:04] #7488 closed, assigned to quincylvania

[2020-03-28 21:05] quincylvania commented on #7488
The Hours field sounds fine, but not all water parks necessarily have swimming facilities so I just added the Sports field and mappers can add values themselves.

[2020-03-28 21:06] #7487 closed, assigned to quincylvania

[2020-03-28 21:10] quincylvania commented on #7475
Let's just make a custom icon for this preset. Re: #7068

[2020-03-28 21:12] #7477 closed, assigned to quincylvania

[2020-03-28 21:22] quincylvania commented on #6025
This sounds fine for iD, yes.

[2020-03-28 22:34] quincylvania opened #7489 "Don't force reflow while dragging the map"
Currently iD calls `getBoundingClientRect` on every move event while panning the map or dragging stuff around. This [forces reflow](https://gist.github.com/paulirish/5d52fb081b3570c81e3a) which is a big hit to performance. We could speed up iD's responsiveness considerably by cacheing the required values.

[2020-03-28 22:44] maro-21 commented on #7485
What do you mean? I don't understand.

[2020-03-28 23:32] #7489 closed, assigned to quincylvania

[2020-03-28 23:34] quincylvania commented on #7485
The "All tags" section is for editing plain keys and values. We don't have code like "if this is the `name` tag, do something special". That's what the fields are for.

[2020-03-29 15:54] forteller commented on #7471
I could, but it's one more step. If I have to do this for many similar features in the same area having one more step for every single one of them might be the thing that makes me not bother doing it.

[2020-03-29 16:31] quincylvania opened #7490 "Offset markers when dragging them on touchscreens"
Points and vertices are rendered relatively small in iD, meaning a finger can obscure the entire marker while dragging it around on touchscreens. Some other touch apps compensate by offsetting the marker out from under the touch location. We could try the same in iD.

[2020-03-29 18:05] quincylvania commented on #7445
Closing this since I've tracked down about every instance of these I could find, but we should continue to be vigilant going forward.

[2020-03-29 18:05] #7445 closed, assigned to quincylvania

[2020-03-29 18:10] maro-21 commented on #7485
I meant this: if you add manually `alt_name` and click an arrow - there are no value suggestions - this is ok. The same with for example `name` and `old_name`.
But when a key is one of the above, if you click an arrow, there are random value suggestions from different languages, which is not ok. Because names are unique and it doesn't matter what values were used on the other side of the world.
Th

[2020-03-29 18:12] maro-21 commented on #7477
What about parking lots?

[2020-03-29 18:20] quincylvania commented on #7477
@maro-21 I'd rather not add these for `amenity=parking` features since they can also have `parking=multi-storey` or `parking=underground`. Asking "what's the smoothness of a parking garage" sounds weird. You can add `smoothness` to the parking aisles instead.

[2020-03-29 18:29] #7485 closed, assigned to quincylvania

[2020-03-29 18:40] quincylvania commented on #7485
@maro-21 Yes, iD automatically ignores the keys with the greatest number of unique values, including `name` and `alt_name` but not `full_name`. Though I suppose this behavior is actually enforced at the service level and not the UI level, so we can ignore these keys in order to be less taxing on TagInfo if nothing else.

[2020-03-29 18:47] 1ec5 commented on #7485
@joto (taginfo maintainer) has previously recommended that we avoid making this sort of query for common freeform keys like `name`, for which each feature generally has a different value. #3975 disabled value suggestions for the 100 keys with the most distinct values, plus `opening_hours`:

https://github.com/openstreetmap/iD/blob/a7ce956e1f2f12c10608f630bbe4505dc96141f6/modules/services/taginfo.j

[2020-03-29 20:59] maro-21 commented on #7485
I think we can also add dates to this list.
Source:date for example has a value "[2014-03-24](https://taginfo.openstreetmap.org/tags/source%3Adate=2014-03-24#map)" used 7,534,698 times but it comes probably from an import so I don't think I will use the same value again ;-).

`source:date`
`start_date`
`survey:date`
`source:geometry:date`
`population:date`
`check_date`
`date`
`source_date`
`constr

[2020-03-29 23:14] quincylvania commented on #7485
@maro-21 Yes, there are probably hundreds of keys we could technically exclude here, but I see relatively little benefit compared with the burden it would place on iD to maintain the list.

A smart solution based on data type as suggested by @1ec5 sounds theoretically workable, but I personally don't see it as a high priority right now. The worst offenders are already skipped and users can otherwi

[2020-03-30 18:32] Grenhauser opened #7491 "Skilift mit unnötigem "public_transport""
Mittlerweile bietet der iD-Editor die Funktion dass er Fehler selbst korrigiert.
Darunter fallen jetzt, oder schon länger auch Berg- und Talstationen in Skigebieten.
Diese werden dann als public_transport=station erfasst, auch wenn sie nur im Winter von den Skifahrern verwendet werden und keine öffentliche Funktion für Pendler, Anwohnern oder Touristen haben.

Mittlerweile sind etliche, wenn nicht

[2020-03-30 19:22] quincylvania commented on #7491
Hi and welcome, @Grenhauser. Please excuse me for answering in English, as I do not speak German.

If this translation is accurate, it sounds like you're suggesting iD shouldn't recommend `public_transport=station` on all aerialway stations because many are just for winter sports. This is tricky since transit tagging in OpenStreetMap varies from place to place. I'd argue that all aerialways functi

[2020-03-30 19:22] #7491 closed, assigned to nobody

[2020-03-31 12:48] elumbella commented on #7361
@quincylvania I have used the layer option. However, the layer only applies to the (in this case right) part of the building, not to the whole area. This is why the error appears I believe: not because of the intersection with the building _part_ but with the whole building.

I might add that I find this kind of mapping weird anyway. I have just complied to the wiki. Would you think that changing

[2020-03-31 16:01] quincylvania commented on #7361
@elumbella Hmm there are several ways to disambiguate this crossing and iD uses the one that's simplest for most mappers in most situations. If you don't want to tag the whole building with `layer` then instead you can tag the section of the path under the roof with `layer=-1` plus your `covered` tag.

[2020-03-31 17:35] maro-21 opened #7492 "Add ref to Transit Platform preset"
Ref key is already on `public_transport=stop_position` presets but it's not on Bus stop preset and other `public_transport=platform` presets.

[2020-03-31 17:54] maro-21 opened #7493 "Remove network:type from Bus route preset"
[network:type](https://wiki.openstreetmap.org/wiki/Key:network:type) key is used in some special cases, Wiki says it's "used on recreational route relations, node network relations and junction nodes to indicate they are part of a node network" and bus route isn't such network but I can see all the time this field in the editor.
https://taginfo.openstreetmap.org/keys/network%3Atype#values

[2020-03-31 19:23] #7406 closed, assigned to quincylvania

[2020-03-31 20:22] #7493 closed, assigned to quincylvania

[2020-03-31 20:30] maro-21 opened #7494 "add operator:type for amenity=kindergarten"
For `amenity=school` when we type something in operator field, below appears operator:type field, which is very helpful.
Can we add the same feature for `amenity=kindergarten`? It would be commonly used because like schools, kindergartens can also be public or private.

[2020-04-01 09:58] ghost opened #7495 "I want to update our community"
It is about the Galician community in Galicia: https://openstreetmap.community/

There have been changes in the telegram link for this: https://t.me/osmgalicia

It would be interesting to add this twitter: https://twitter.com/xeoinquedos

And finally add that these things are in the Galician language! It would not hurt to add the Portuguese community within Galicia too, since there are things that

[2020-04-01 17:06] quincylvania commented on #7495
Hello and welcome, @Ivans-Git. The OSM communities listed in iD actually come from the [osm-community-index](https://github.com/osmlab/osm-community-index) project, so you'll need to open an issue or pull request over there 👉

[2020-04-01 17:06] #7495 closed, assigned to nobody

[2020-04-01 17:23] #7494 closed, assigned to quincylvania

[2020-04-01 17:43] jidanni opened #7497 "Driving school mostly not buildings"
Aren't [driving schools](https://wiki.openstreetmap.org/wiki/Tag:amenity%3Ddriving_school) mostly not indoors, so maybe the preset should not have building=yes.
Or help the user make the choice: is this the office of the school, or the grounds of the school, or at least the parking lot of the school. OK, some don't have their own driving range but use city streets, yes.

[2020-04-01 18:02] quincylvania commented on #7497
The majority of these drawn as areas have `building` tags so I think it's fine as-is. Mappers can always remove the `building` tag as-needed.

[2020-04-01 18:02] #7497 closed, assigned to nobody

[2020-04-01 18:13] tomasokol commented on #7490
What about placing an object in the centre of the screen? Like: „Adjust position“ –> node/object sticks to the centre of the screen –> I align/move the map –> tap to place.

[2020-04-02 09:50] tomasokol opened #7498 "Route relation member sorting"
Hi,
as Wiki says, a Bus route should have relation members in this order:
1) bus stops (in the direction the bus is going)
2) roads (in the direction of the bus)

So iD should keep bus stops at the top of the list. That should be relatively easy, i suppose.
Options are:
1) still just one “window” for all members;
2) splitting the existing “window” into two, one containing stops, the other containi

[2020-04-02 18:01] #7482 closed, assigned to quincylvania

[2020-04-02 18:29] quincylvania commented on #7414
I suppose,  but `check_date` isn't really the best way to manage these. Someone could say "yes, the route still exists" and update `check_date` without looking for gaps. This tag isn't really all that useful because people can interpret it differently. Because of this, I wonder if making it more prominent in iD could be more problematic than helpful. I'd say people can just use the raw tag editor

[2020-04-02 18:29] #7414 closed, assigned to nobody

[2020-04-02 19:02] quincylvania commented on #7434
Hey guys 👋. I'm just catching up on this thread.

@hungerburg I take issue with your effective tone here, no matter how you meant it. iD mappers are good people working within the limits of the software. I encourage you to make your points professionally if you want to be welcome in this repository and taken seriously.

@jidanni Such a changeset couldn't be performed with iD. Thus, it's beyond the

[2020-04-02 19:02] #7434 closed, assigned to nobody

[2020-04-02 19:13] quincylvania commented on #5672
A lot has changed with the related code since this issue was filed. I haven't been seeing the bug so I'm closing this unless it reappears.

[2020-04-02 19:13] #5672 closed

[2020-04-02 19:18] quincylvania commented on #5466
A lot has been changing with touchscreen input as we implement #5505. I don't have a way to test the issue with this platform but I'm closing it as stale. Let us know if it still happens on our development preview site: https://ideditor.netlify.com/

[2020-04-02 19:18] #5466 closed

[2020-04-02 19:20] jleedev commented on #5466
As of late touch has been working in iD stable on Chrome OS.

[2020-04-02 21:08] maro-21 opened #7499 "Edit Transit Stopping Location"
Do we need `level=` for `public_transport=stop_position`s?
https://github.com/openstreetmap/iD/blob/72a99673a0328ba4f44c58dd110797cc733f7007/data/presets/presets/public_transport/stop_position.json#L9-L10
Although it is used with `public_transport=stop_position` in 0.36% cases, I think we can remove it from MoreFields because it's not one of the basic tags:
https://wiki.openstreetmap.org/wiki/Tag:

[2020-04-02 21:20] maro-21 commented on #7479
I was sure it was there. Maybe it was removed in the meantime.

I don't want to open a new issue because the title would be the same, so I'm writing here.
Can we change the order of fields "To" and "From" to more natural: first "From" and "To" below?
I think this order is more natural, we name bus routes e.g. "222: Start -> Destination".

[2020-04-02 21:28] tomasokol commented on #7499
public_transport=stop_position must be used on a line (a node on a line). So the level must be the same – defined by said line.
So I agree with @maro-21

[2020-04-03 05:46] DavidMetcalfe opened #7500 "Description for Cliff feature links to non-existent wiki page"
The infobox description for "Cliff" appears to have a broken URL attached to it.

![image](https://user-images.githubusercontent.com/80915/78328225-872ee200-7533-11ea-857e-7feac3ef768b.png)

When clicking "View documentation," the destination URL is "https://wiki.openstreetmap.org/wiki/V" instead of what should probably be "https://wiki.openstreetmap.org/wiki/Tag:natural%3Dcliff"

[2020-04-03 17:21] quincylvania commented on #7500
Hello and welcome, @DavidMetcalfe. Looks like the link was broken in the [wikibase item](https://wiki.openstreetmap.org/wiki/Item:Q4715). I'd guess someone was trying to copy-and-paste and missed the modifier key. In any case, I've fixed it now.

<img width="941" alt="Screen Shot 2020-04-03 at 10 18 27 AM" src="https://user-images.githubusercontent.com/2046746/78387851-d822f280-7594-11ea-9263-c5a0

[2020-04-03 17:21] #7500 closed, assigned to nobody

[2020-04-03 17:27] quincylvania commented on #7490
@tomasokol Hmm that workflow is fine for phone-only apps, but iD also has to work seamlessly on tablets and touchscreen laptops. I think simply dragging nodes around with your finger is intuitive if you can see where the node will be placed. But let's see how it works in practice!

[2020-04-03 18:00] #7492 closed, assigned to quincylvania

[2020-04-03 18:00] #7499 closed, assigned to quincylvania

[2020-04-03 18:04] quincylvania commented on #7499
This makes sense. Though I don't see much harm if mappers add `level` on the stop position redundantly. Frankly this type of issue is of pretty minor concern.

[2020-04-03 18:09] quincylvania commented on #7498
Okay, I added a Trolleybus Route preset.

iD could definitely be smarter about placing new members when adding them to route relations. But I'm not sure if it should be reordering existing members or not.

[2020-04-03 19:14] hungerburg commented on #7434
Hello quincy, just a volunteer mapper here, no professional. Obviously not an iD mapper though, at least not exclusively, because then, I would not have written such a piece. In the end, it does not matter what I meant, the only thing that matters is, how it is understood. I appreciate that there are people here with some sense of humour who can decode compliments, even those, that one would not w

[2020-04-03 19:30] #7455 closed, assigned to quincylvania

[2020-04-03 19:30] #7472 closed, assigned to quincylvania

[2020-04-03 19:40] quincylvania commented on #7479
I think this order is more natural, we name bus routes e.g. "222: Start -> Destination".

Okay, I did this. Note that the order that feels natural may depend on language and culture. Many non-Romance languages use a "to-from" construction when talking about things like journeys and exchanges. But I'm okay switching it since OSM is English-language-based and it'd be tough to support multiple orders

[2020-04-07 15:59] quincylvania opened #7503 "Endpoints for customizing page title behavior"
With #7444 iD started updating the page title to include some useful info. However, client apps may want to customize the title or override it entirely. We should add endpoints for that.

Re: https://github.com/hotosm/tasking-manager/issues/2658

[2020-04-07 17:33] UKChris-osm commented on #7453
If a release of iD 2.17.3 is due soon, is it possible to have the Name Suggestion Index updated before it's published (@bhousel)??

Quite a few entries have been added to the NSI since NSIv3.7.0 which I believe is the current version associated with iD 2.17.2

[2020-04-07 17:37] quincylvania commented on #7453
@UKChris-osm Yep, we can include an NSI release.

[2020-04-07 18:39] #7358 closed, assigned to quincylvania

[2020-04-07 18:39] #7457 closed, assigned to quincylvania

[2020-04-07 18:42] #7453 closed, assigned to quincylvania

[2020-04-07 18:53] #7458 closed, assigned to quincylvania

[2020-04-07 19:31] #7437 closed, assigned to quincylvania

[2020-04-08 12:11] willemarcel opened #7504 "Assure iD loads with the changeset comment set on the URL"
On the embedded iD on TM4, we start iD with the `comment=` param on the URL. On the first time we load iD, the changeset comment is set correctly, but...

- If I modify (or erase the comment), but don't save the changeset, it loads the modified (or empty) comment next time.
- If I modify and save the changeset, it loads the project's comment.

I tried setting the comment field on localStorage, but

[2020-04-09 10:56] mmd-osm commented on #7073
Upstream issue https://github.com/openstreetmap/openstreetmap-website/issues/2582

[2020-04-09 19:00] mmd-osm commented on #7073
Upstream issue has been resolved...

[2020-04-09 19:32] quincylvania commented on #7073
@mmd-osm Terrific, thanks for the info.

[2020-04-09 19:32] #7073 closed

[2020-04-10 04:30] jidanni commented on #2277
Yeah, I was just going to say:
Got an idea for a quick building addition mode:
Two clicks to define a rectangular building!
(OK, maybe a third click in the same spot to mean "I'm finished".)
That way, say in rural area with lots of rectangular barns,
or communities with lots of rectangular homes,
one could make a lot of buildings in a jiffy!

[2020-04-10 08:26] clearJSer opened #7505 "Is there a hot loading mode for local development?"
1. `cd` into the newly cloned project folder
2. Run `npm install`
3. Run `npm run all`
3. Run `npm start`
4. Open `http://localhost:8080/` in a web browser

Can I see the effect of the code I changed in real time? how to do?
for example   'npm run dev'

[2020-04-10 09:47] tomasokol commented on #7498
Validator could suggest, that lines are not in order (there is a gap / members are not in the right order). If it should be automatically sorted, I don't know.

Though it could be automatically putting all the stops and stopping positions above lines/roads, in the list. I don't see any situation when somebody would not want that to happen or wanted to keep it sorted differently.

[2020-04-10 11:15] clearJSer opened #7506 "How do I develop a debug ID ？？？"
![image](https://user-images.githubusercontent.com/29148598/78986919-025d4d00-7b5f-11ea-8d68-7095e22e12ef.png)
Why is the development and debugging mode so slow? How did you develop and debug?
The command I executed: npm run start
release branch

2. Found under the develop branch can not be developed and debugged? How to do?

For help. . .

[2020-04-10 12:16] clearJSer commented on #7504
hi,@willemarcel  , I need your help for develop iD .  Local development and debugging is particularly slow. Have you encountered it? How to solve?

[2020-04-10 17:11] quincylvania commented on #7505
Hi and welcome, @clearJSer. You can't see code changes in real time since iD is a large, compiled app.

Note that you only have to do steps 1-3 from your list the first time you setup iD. Afterward, just run `npm start` to see your changes.

You can also review iD's scripts to see how to build CSS, data, and sprite sheets separately from the code:

https://github.com/openstreetmap/iD/blob/252d5217

[2020-04-10 17:11] #7505 closed, assigned to nobody

[2020-04-10 17:14] quincylvania commented on #7506
@clearJSer Build time is something we recently worked to reduce. The default branch, [`develop`](https://github.com/openstreetmap/iD/tree/develop), compiles in under 20 seconds on my laptop. The `release` branch takes considerably longer.

[2020-04-10 17:14] #7506 closed, assigned to nobody

[2020-04-10 17:15] quincylvania commented on #7506
See also https://github.com/openstreetmap/iD/issues/7505#issuecomment-612126213.

[2020-04-10 18:24] #7475 closed, assigned to quincylvania

[2020-04-10 18:27] quincylvania commented on #7475
<img width="281" alt="Screen Shot 2020-04-10 at 11 26 59 AM" src="https://user-images.githubusercontent.com/2046746/79013742-38c6a800-7b1e-11ea-91cd-1110868a2bff.png">

[2020-04-11 13:40] comradekingu opened #7508 "Replace Transifex"
Following the logic of OSM and iD being a place free of tracking not by happen-chance,
it would be great if the translation platform followed suit. To me that is one of the central points of what is and should be the greater OSM ecosystem.

Transifex is not libre software, so it is a bad match all together.

As a translator I find Transifex infuriating, and I can't even log in to contribute to the

[2020-04-11 17:17] 1ec5 commented on #7508
Thanks for starting this conversation. At the time this project chose Transifex, that platform was more open (open source too), and the obvious alternatives had significant downsides: #909. For example, Translatewiki.net required access to push changes to the repository automatically. (It looks like [that’s an option with Weblate](https://docs.weblate.org/en/latest/faq.html#what-are-the-options-fo

[2020-04-11 18:28] maro-21 opened #7509 "iD craftily adds bridge=yes"
Bridge Area preset:
[code]
![bridge1](https://user-images.githubusercontent.com/57260466/79051772-6270f380-7c32-11ea-9ad8-5463851eee94.png)

![bridge2](https://user-images.githubusercontent.com/57260466/79051776-66047a80-7c32-11ea-97f9-ef6cf5ad3542.png)

After clicking (1) and then clicking (2) or pressing [Esc], iD craftily adds `bridge=yes` to the tags. I can't see it because it's beyond my scre

[2020-04-11 18:49] maro-21 commented on #7508
As an active translator of iD and other OSM projects, I don't agree. For me it's a very good tool.
Weblate doesn't have as many features as Transifex does.
The only disadvantage I found during my 1-year work on translations is missing plural forms for languges with many plural forms. But it's nothing because for iD there is maybe one string that needs it. Maybe it supports plurals somehow but I do

[2020-04-12 05:54] 1ec5 commented on #4977
A minimal implementation of WMS background imagery support was added in 2a28a03ca13f68f0d94ae0ca7aedb2b9b4530a3d as part of #7428, which was reverted for unrelated reasons. Reopening this issue to track either restoring 2a28a03ca13f68f0d94ae0ca7aedb2b9b4530a3d or finishing #6915.

[2020-04-12 07:00] comradekingu commented on #7508
@1ec5 Transifex doesn't handle fuzzy strings, which is a pain and a half. It also adds all deleted translations to suggestions, so if one sees an error made (which already is clunky), it is clunky to navigate to, and just wastes time. The best libre software translators are already on Hosted Weblate, and other Weblate instances.
Weblate has support for a lot more OAuth-2.0 logins, so signing up is

[2020-04-12 09:25] soshial opened #7511 "Excluded area is shown as a part of multipolygon area"
This national park has several excluded parts. Let's look at the top-middle part which excludes this town, called Ķaunata.

<img width="1184" alt="image" src="https://user-images.githubusercontent.com/100644/79065253-b70a8200-7cb7-11ea-941b-d6b512261ca7.png">

The excluded town is marked by red circle:

![image](https://user-images.githubusercontent.com/100644/79065298-f6d16980-7cb7-11ea-8769-0ceb

[2020-04-12 17:31] quincylvania commented on #7511
Hi and welcome, @soshial.

This is a longstanding issue we've been tracking at #1201. For efficiency, iD only downloads the relation members in view. In your example, no outer members are downloaded so SVG renders the inner part as an outer part. You can manually download more parts in the Members section of the inspector and watch the rendering update.

#6656 would address this problem, but we're

[2020-04-12 17:31] #7511 closed, assigned to nobody

[2020-04-12 17:45] #7509 closed, assigned to quincylvania

[2020-04-13 15:46] talllguy opened #7512 "Improve Phone Number Entry with Google's libphonenumber"
I've been entering phone numbers for local restaurants during the pandemic and find it annoying to manually reformat them every time I copy/paste. I asked if anyone had a tool to auto-format and @iandees mentioned the [google/libphonenumber](https://github.com/google/libphonenumber/) tool [in the OSM US Slack](https://osmus.slack.com/archives/C2VJAJCS0/p1586790512138800?thread_ts=1586788671.138600

[2020-04-13 15:51] bhousel commented on #7512
see #3495

[2020-04-13 16:21] 1ec5 commented on #2272
As a partial solution, how about temporarily adding the “finished drawing an area” operation to the undo stack? Users are already used to undoing when they accidentally add a vertex in the wrong place while drawing a line or area. To avoid cluttering the undo stack overall, maybe we could remove the command from the undo stack as soon as anything else is added onto the stack.

This half-measure wo

[2020-04-13 16:29] 1ec5 commented on #7512
It isn’t clear to me if the opposition in #3495 takes into account that this formatting would only occur when a mapper manually enters a new phone number in the field, not automatically when loading or viewing a phone number. (This wouldn’t be a validator issue.)

If there really is regional variation in the standard that OSM adheres to, the libphonenumber output could be merely a suggestion that

[2020-04-13 16:44] bhousel commented on #7512
I was reading it as - we don’t have consensus that formatting is the right thing to do in the first place.

[2020-04-13 17:09] Elefant-aus-Wuppertal opened #7513 "remove maxspeed=* field from living street preset in Germany"
Hi,
as I saw that #7085 was merged,
would it then be possible to drop the "maxspeed" field from highway=living_street in Germany?

In Germany, living streets are maxspeed=walk not only as default, but **implicit**. There not just only should not, but mappers consensed that there has no to set any maxspeed=* value on these ways, because "walk" is ca. 7 Km/h but some courts are not clear about, and

[2020-04-13 19:41] quincylvania commented on #7508
I'd theoretically be okay with switching iD to a better platform but I'll need to spend time looking into all the practical matters.

[2020-04-14 07:18] pnorman commented on #6656
https://github.com/openstreetmap/iD/issues/1201#issuecomment-24951533 suggests

[2020-04-14 09:02] soshial commented on #7511
Thanks for the profound explanation.

[2020-04-14 17:28] quincylvania commented on #6668
Closing this since it only concerns the `v3-prototype` branch at the moment. See #4903 and #6656 instead.

[2020-04-14 17:28] #6668 closed

[2020-04-14 17:31] quincylvania commented on #6656
@pnorman As you also mentioned in the comment, this call can run into issues with very large relations. For performance, iD really needs to exercise more granular control over how many members are getting fetched at once.

Re: https://github.com/openstreetmap/openstreetmap-website/issues/2348

[2020-04-14 17:34] pnorman commented on #6656
Is it how many are getting fetched at once, or how many are added to iD's graph? The former would surprise me - is there much difference between requesting 500 ways 4 times or requesting 2000 ways once?

[2020-04-14 17:53] quincylvania commented on #6656
I'm honestly not sure off the top of my head. I'm thinking about other optimizations. The `relation/id#/full` call returns all the members, but iD doesn't need to redownload entities it already has. We also don't necessarily need to fetch every member immediately if there are thousands. We can prioritize based on the index, role, and entity type.

[2020-04-14 18:10] quincylvania commented on #7468
@forteller I assume you're talking in reference to the v3 toolbar? I agree we need to make it clearer what geometry you're drawing—I really like this cursor style idea 👍

[2020-04-14 21:03] #7504 closed, assigned to quincylvania

[2020-04-14 21:19] quincylvania commented on #7504
@willemarcel I _think_ I fixed these issues but please test the latest [2.17.3](https://github.com/openstreetmap/iD/tree/2.17.3) branch.

@clearJSer As you've seen, instead of posting unrelated comments you can simply post a separate issue and someone will respond within a day or two 🙂

[2020-04-15 04:48] jeisenbe commented on #7491
We've discussed this on the mailing list and there is consensus that adding this tag is incorrect. See threads starting in https://lists.openstreetmap.org/pipermail/tagging/2020-March/051850.html and https://lists.openstreetmap.org/pipermail/tagging/2020-April/051885.html

While the old proposal linked above (from 2011) suggested the possibility of using public_transport=station for aerialways fea

[2020-04-15 14:34] bhousel commented on #7491
See #4585 and others linked on that ticket for context.

When I did this, I tried following the approved [Public Transport v2 proposal](https://wiki.openstreetmap.org/w/index.php?oldid=625726) as closely as possible, and it does clearly include aerialways in its scope.

These presets landed in [v2.6.0](https://github.com/openstreetmap/iD/blob/develop/CHANGELOG.md#260) so it would have been based o

[2020-04-15 17:24] quincylvania commented on #7491
@jeisenbe Thanks for the links to the mailing list discussion. Is iD's tagging pattern actually causing issues for any apps using OpenStreetMap?

I personally don't see a clear or important difference "leisure transport" and "public transport". Are we to tag the Disneyland Monorail or Heidelberger Bergbahn differently because they're primarily used for tourism? The aim of iD is to help non-experts

[2020-04-15 22:19] forteller commented on #7468
Yes, exactly. In the toolbar in v3 you can often choose between point, line and area, or just point and area, but the cursor stays the same so there's no visual cue on the area where you're working what type of thing you will get when you click :)

[2020-04-16 04:50] Adamant36 opened #7515 "Add ability to map quarries as nodes"

[2020-04-16 16:08] #7378 closed, assigned to nobody

[2020-04-16 16:10] bhousel commented on #7378
It turns out this was a real issue with our build_data script.

It was possible for the minify steps to occur before the writing steps were finished writing.
In e6e5d6a I switched the code to do synchronous file writing before the promisified minification tasks.

[2020-04-16 16:38] quincylvania commented on #7515
Hmm we really try not to support any `landuse` features as points. Looks like `landuse=quarry` is used on over 35,000 nodes but most of those are from GNIS imports.

[2020-04-16 17:22] quincylvania commented on #7473
Interesting. Do you know how widespread this pattern is? It'd be a lot of development work to build an alternative rendering flow and that screenshot doesn't really look that bad. The data is visible and the repeated labels seem like a relatively minor annoyance.

You might actually be able to tick iD into fetching bigger tiles by setting `tile-size`, but I'm not sure.

[2020-04-16 20:28] kallejre commented on #7473
I honestly don't think it's common pattern/problem. It only applies to (some niche WMS) layers, where text is positioned on map tiles based on user's bounding box. Situation could look worse if there are longer text phrases, clipping could occur. Example from testing layer (not added to imagery index yet):
![pilt](https://user-images.githubusercontent.com/22601238/79501814-583a6500-8037-11ea-9039-

[2020-04-17 07:11] jidanni opened #7516 "Use different icon for power pole vs. utility pole"
![29541-9](https://user-images.githubusercontent.com/1230959/79541970-616e1500-80bd-11ea-9fab-27bce3108c42.jpg)
![32659-10](https://user-images.githubusercontent.com/1230959/79541984-67fc8c80-80bd-11ea-9e5f-f291bd89484a.jpg)
Could a slightly different icon be used for power vs. utility (telephone) poles please?

[2020-04-17 07:13] jidanni commented on #7516
Put lightning bolts on its insulators, make it look rougher and tougher, anything...
[Plenty of choices](https://www.google.com.tw/search?q=utility+pole+icon&tbm=isch) for both. No need to use 100% the same.

[2020-04-17 14:46] manfredbrandl commented on #7516
I suggest a "heavier" Icon for Power Pole maybe like this: ![image](https://user-images.githubusercontent.com/5360273/79581603-f3c8e580-80ca-11ea-9473-87bf45a33d6e.png)

[2020-04-18 07:03] fenymufyd opened #7517 "Add healthcare:speciality explanation when hovering over the terms"
Add healthcare:speciality explanation when hovering over the terms

When you add speciality in a hospital, i dont know that "Pediatrics is the branch of medicine that involves the medical care of infants, children, and adolescents" but i know the hospital has speciality in children so i keep searching what those word means over and over.
It might help to know what the word means when you hover ove

[2020-04-19 00:11] Grenhauser commented on #7491
@bhousel
Nothing in the proposal say that we should add PT=station to aerialway=station, or that this replace the aerialway tagging.

I find only this link what is talking about **stop area**:
https://wiki.openstreetmap.org/w/index.php?oldid=625726#The_new_Schema_in_Short
and this, talking about "considerably bigger than a pair of bus stops or tram stops":
https://wiki.openstreetmap.org/w/index.ph

[2020-04-19 01:05] jeisenbe commented on #7491
I'm not aware of this, but I believe the burden is on those wishing to add a tag: there should be evidence that adding the tag `public_transport=station` provides some benefit to mappers or database users.

Since most aerialway features are ski lifts which can only be used by buying a very expensive lift ticket (now about $100 a day on weekends), and the lifts only take you in one direction with t

[2020-04-19 03:23] jidanni opened #7518 "Add preset for boardwalk"
Add preset for [boardwalk](https://wiki.openstreetmap.org/wiki/Tag:bridge=boardwalk).

[2020-04-19 12:39] maro-21 opened #7519 "Add Type for Road Closed preset"
Add [`construction=*`](https://wiki.openstreetmap.org/wiki/Key:construction) field for Road Closed preset.

https://wiki.openstreetmap.org/wiki/Tag:highway=construction
"highway=construction is used together with construction=* for any type of highway, including roads, tracks and paths, currently under construction. "

[2020-04-19 14:05] sun-geo opened #7520 "Validator: power=station deprecated"
It seems `power=station` could be added to the list of https://github.com/openstreetmap/iD/blob/develop/data/deprecated.json
see also the wiki: https://wiki.openstreetmap.org/wiki/Tag:power%3Dstation
see also carto v5.1.0 removed rendering: https://github.com/gravitystorm/openstreetmap-carto/pull/4088

[2020-04-19 14:23] bhousel commented on #7520
I think we can only add things to `deprecated.json` that have an unambiguous replacement (but I haven’t looked at the code in a while and could be mistaken).

[2020-04-19 14:41] InsertUser commented on #7434
While I still think the ability to split widely spaced edits would be the best embodiment (#5424), I appreciate that that is probably quite a lot of work to implement. I think there is value in a banner message that says something like:

"Your other unsaved edits are more than XXX from the current viewport, please consider saving or discarding those edits before editing here."

It would be especia

[2020-04-19 16:21] sun-geo commented on #7520
Your are right, the mapper has to decide to choose a new value and for this case (`station`) there are 3 options (`generator`, `substation` or `plant`)

[2020-04-19 16:45] sun-geo commented on #7520
By the way, a bit of topic, i made a quick look into this overview
https://wiki.openstreetmap.org/wiki/Deprecated_features - because i wanted to understand if the case of "_deprecated and having more options for the new value"_ is more often existing. I found this seems happened also for deprecation of `landuse=farm` (wiki https://wiki.openstreetmap.org/wiki/Tag:landuse%3Dfarm). The wiki gives a r

[2020-04-19 17:33] bhousel commented on #7520
I don't know. It was introduced in b21dd1d

If you want to see when code was changed, you can open the file on GitHub and use the "Blame" view to look at specific lines of the file, see what commits changed the lines, and what issues were referenced.

[2020-04-19 20:33] sun-geo commented on #7520
Thanks a lot, :-)
I never used the blame-view.
I will try next time, to find information by myself.

[2020-04-20 13:54] jeisenbe commented on #7300
The tag healthcare=pharmacy was not approved, and consensus is that this tag is not needed: amenity=pharmacy is the tag supported by other editors and all database users.

See the history on the tag page:

"Multiple healthcare=* tags were introduced by healthcare proposal. This tag duplicating amenity=pharmacy was not introduced by this proposal. Author of the healthcare proposal wanted to depreca

[2020-04-20 20:27] mmd-osm opened #7523 "Relations gone wild"
Some mappers probably thought it's a great idea,  to not only create a relation and a master relation, but to also group those master relations into yet another master relation to double as a collection of master relations in a country:

![dot](https://user-images.githubusercontent.com/5842757/79795224-e5412f00-8353-11ea-947a-0fb4dcf28faa.png)

Deleting such a relation from iD has triggered some r

[2020-04-20 21:52] bhousel commented on #7523
weird!

Relevant code is here:
https://github.com/openstreetmap/iD/blob/develop/modules/actions/delete_member.js
and here:
https://github.com/openstreetmap/iD/blob/develop/modules/actions/delete_relation.js

As far as I can tell, the code will recurse up through the parent relation chain, deleting them if they go _degenerate_ (Which is a fancy way of saying "no longer have members").

Or the bug c

[2020-04-21 00:52] camelCaseSucks opened #7524 "Don't suggest bus=yes for highway=bus_stop"
`bus=yes` is an access tag, indicating something is accessible by bus. I can't imagine there is such a thing as a bus stop that is not accessible by bus, so it's completely unnecessary on bus stops. It's not even mentioned in the 'recommended tagging' section of the `highway=bus_stop` wiki page. It's not wrong, but it's not useful either.

[2020-04-21 01:32] Daredemodaisuki opened #7525 "When a boundary relation only has 2 ways, there'll be some rendering errors."

[2020-04-21 01:36] Daredemodaisuki commented on #7525
like this
![image](https://user-images.githubusercontent.com/64051837/79815563-9925d700-83b3-11ea-9b9c-f38a747f3c41.png)

[2020-04-21 05:30] jidanni opened #7526 "A concrete chain-link fence, and other impossible combinations"
Perhaps when the user selects "chain-link",
![18643-0](https://user-images.githubusercontent.com/1230959/79828692-d1d5a880-83d3-11ea-939b-f2ce68372e5f.jpg)
"concrete" and "stone" should be moved off, or at least later, in the Material selection list.
Same with other impossible combinations in other presets.
Perhaps mark this issue as a long term goal.

[2020-04-21 08:13] clearJSer opened #7527 "我创建了一个中国iD开发者交流群，欢迎加入。"
群名称：iD Editor 开发者交流群
QQ 群：165444936
欢迎中国的开发者加入一起交流关于地图编辑器的代码，如果你感兴趣的话。
谢谢。

[2020-04-21 14:03] bhousel commented on #7526
No, this is OSM and people can generally enter whatever they want.  We can't curate lists of e.g. what materials go with what kinds of fencing.  In a schemaless system, you have to just be ok with seeing some bad or weird data.

[2020-04-21 14:03] #7526 closed, assigned to nobody

[2020-04-21 14:07] bhousel commented on #7527
translation:

Group name: iD Editor Developer Exchange Group
QQ Group: 165444936
Developers in China are welcome to join and exchange code about the map editor if you are interested.
Thank you.

[2020-04-21 18:50] quincylvania commented on #7524
@camelCaseSucks The `bus=yes` tag indicates the type of public transport for `public_transport=platform`. This pattern succeeds `highway=bus_stop`, but iD currently supports both for backwards-compatibility.

[2020-04-21 18:50] #7524 closed, assigned to nobody

[2020-04-21 18:56] quincylvania commented on #7525
Hi and welcome, @Daredemodaisuki. The screenshot you shared is related to a different project, the [openstreetmap-carto](https://github.com/gravitystorm/openstreetmap-carto/) rendered tiles. You'll need to try asking over there. Good luck!

[2020-04-21 18:56] #7525 closed, assigned to nobody

[2020-04-21 19:25] skfd commented on #4618
This was working for some time, but now is broken again. Did not figure out the tests, sorry, just noticed while using.

 @bhousel Can we re-open the issue, please? Or it's ok to create new one?

[2020-04-21 20:35] jgscherber opened #7528 "Using a shortcut with right-click menu prevents menu from closing"
After selecting an object (way, node, or area) and right-clicking, if a keyboard shortcut that's available on the right-click menu is used, the right-click menu stays open after clicking away

e.g. select an area and right-click it. While the context menu is still open, press `O` on the keyboard to circularize. Observe the area has been circularized. Click away. The context menu remains

![image](

[2020-04-21 20:45] camelCaseSucks commented on #7524
[This comment on a Carto issue](https://github.com/gravitystorm/openstreetmap-carto/issues/311#issuecomment-544909753) claims that is what `highway=bus_stop` or `railway=tram_stop` are for. I looked up [the original proposal on the wiki](https://wiki.openstreetmap.org/w/index.php?oldid=625726#Platform) which suggests tags like `bus=yes` should be used for `public_transport=stop_position` (a node o

[2020-04-22 10:35] polarbearing commented on #7217
Please re-open.

```healthcare=hospice``` tagging was not discussed anywhere before it had been introduced as a preset here in iD. I had analysed the usage in the data and found that all occurrences  were tagged from iD. Thus when you reason the presence in the preset with the slightly higher usage numbers, which are just caused by this preset, this is kind of a self-fulfilling prophecy, and an ab

[2020-04-22 17:11] quincylvania commented on #7217
@polarbearing See #3589 and #4329. The `healthcare` presets were added three years ago with community input and support. iD followed the wiki page as it existed at the time, which included `healthcare=hospice`. [You yourself deleted this value](https://wiki.openstreetmap.org/w/index.php?title=Key%3Ahealthcare&type=revision&diff=1527892&oldid=1527280) after the fact, so please don't act like iD int

[2020-04-22 17:14] quincylvania commented on #7528
Hi and welcome, @jgscherber. Thanks for reporting. This looks like a known bug we've fixed on our development branch for a future release of iD. See #7143.

[2020-04-22 17:14] #7528 closed, assigned to nobody

[2020-04-22 17:51] #7516 closed, assigned to nobody

[2020-04-22 18:01] polarbearing commented on #7217
Thanks for pointing to the PR, so indeed the commit in iD was on 19 Aug 2017, in between of the visibility of the feature on the healthcare=* page (19 May - 25 Nov 2017).

There is a general discussion about such facilities on the tagging list currently, waiting for outcome. But typically there is never a formal consensus about anything ;-)

[2020-04-22 19:10] quincylvania commented on #7516
<img width="376" alt="Screen Shot 2020-04-22 at 12 10 04 PM" src="https://user-images.githubusercontent.com/2046746/80023344-3bb48780-8492-11ea-9c26-e3ca7a27716d.png">

[2020-04-22 21:29] maro-21 commented on #7524
This tag is necessary because `public_transport=platform` gives no information what kind of stop it is.
So
`public_transport=platform` + `tram=yes` is a tram stop
`public_transport=platform` + `bus=yes` is a bus stop

[2020-04-23 03:50] camelCaseSucks commented on #7524
Where did this idea come from? As the wiki links in my last comment (including the `public_transport` v2 proposal) show, the access tags are not meant to be used on the platform.

`railway=tram_stop` is a tram stop
`highway=bus_stop` is a bus stop

`public_transport=platform` is meant to supplement these tags, not replace them. The access tags are not necessary or helpful, and arguably not even co

[2020-04-23 10:28] kymckay commented on #7524
I think the wiki pages have changed over the years as the tagging around public transport has always had conflicting opinions since I started editing. The information probably also differs across all the different pages which discuss public transport tagging.

I know that I remember first reading to use `public_transport=platform` and `bus=yes` (the idea being a platform could serve multiple forms

[2020-04-23 17:03] quincylvania commented on #7473
Okay, in this case I'm closing this issue as low-impact. We don't have the development resources to make every possible tile layer look perfect, unfortunately. Though if a volunteer contributor wants to take this on then that could be okay.

Yes, and adding support for more would be non-trivial. iD would have to either warp raster tiles or project all vector data and neither sound pleasant if they

[2020-04-23 17:03] #7473 closed, assigned to nobody

[2020-04-23 17:52] #7518 closed, assigned to quincylvania

[2020-04-23 18:19] #7058 closed

[2020-04-23 18:27] quincylvania commented on #7058
I made pedestrian streets the same width as roads but with the colors and dashes from footways.

Here's a town in the Netherlands before and after. The new style makes the pedestrian streets look natural and more important than side paths.

<img width="468" alt="Screen Shot 2020-04-23 at 11 23 38 AM" src="https://user-images.githubusercontent.com/2046746/80135349-f907b380-8554-11ea-9200-5b528ff820

[2020-04-23 20:36] #7527 closed, assigned to nobody

[2020-04-23 20:37] quincylvania commented on #7527
@clearJSer Thanks for the info.

[2020-04-23 21:16] talllguy opened #7529 "Add COVID-19 Opening Hours Option"
Maptime Bmore is [planning a virtual mappy hour on 4/30](https://wiki.openstreetmap.org/wiki/Foundation/Local_Chapters/United_States/Virtual_Mappy_Hours#Upcoming_Events) to update Baltimore carryout restaurants on OSM using a crowdsourced spreadsheet for reference. We'd like to add the pandemic-related `opening_hours` using the newly authored [`opening_hours:covid19` spec on the OSM Wiki.](https:/

[2020-04-23 21:27] maro-21 commented on #7524
This is the old scheme. And because there was no e.g. highway=trolleybus_stop, new tagging scheme that covers other means of transport had to be created, because there are more than bus and tram.

[2020-04-24 01:27] 1ec5 commented on #7529
Not sure what the release schedule is for iD, but even after a new release of iD is published, it may take a little while for it to be deployed on openstreetmap.org. In case it isn’t feasible to release the requested change by then, it would still be possible to host an instance of iD on some website that the mappy hour participants can use instead of the main openstreetmap.org instance.

[2020-04-24 06:20] Nakaner commented on #7529
Yes, you have been ablet the tag with iD for a couple of years already – well without the support of presets. Just select the object to be modified and then go to "All tags" in the left sidebar and enter the tag manually. It is not as comfortable as an additional field in the preset but it works now and does push any pressure on the maintainers of iD (which is not needed because not implementing i

[2020-04-24 15:38] maro-21 opened #7530 "iD 2.17.3?"
It's been already over 3 months since the last update of iD.
Are you planning to release a new version soon? Because we've been waiting for a long long time for a layer to add to editor-layer-index. It was added after a few months and it was added on March 3.
Currently, I can't map my city, because the last available aerial photos are from 2015. This new added layer is from 2018.

If you're not pl

[2020-04-24 15:59] pawelcegiela commented on #7530
I agree with @maro-21 that the current situation can discourage some people from mapping. Since my neighbourhood has been developing rapidly for the last several years, this "freshest" good quality layer from 2015 is not an alternative for me anymore.

[2020-04-24 16:26] quincylvania commented on #7530
@maro-21 Yes, we'll be releasing a 2.17.3 patch very soon including the latest editor layers. Issues included in this patch can be browsed [here](https://github.com/openstreetmap/iD/milestone/17?closed=1).

[2020-04-24 16:26] #7530 closed, assigned to nobody

[2020-04-24 17:30] maro-21 commented on #7530
Ok, thanks.

And how to make this custom background work?
http://gis1.um.wroc.pl/arcgis/services/ogc/OGC_ortofoto_2018/MapServer/WmsServer?FORMAT=image/jpeg&VERSION=1.1.1&SERVICE=WMS&REQUEST=GetMap&LAYERS=0&STYLES=&WIDTH={x}&HEIGHT={y}

[2020-04-24 19:28] #7529 closed, assigned to quincylvania

[2020-04-24 20:37] maro-21 opened #7531 "add image tag"
We've recently added `wikimedia_commons=*` and `mapillary=*` as basic tags for all presets.
Could we also add `image=*`?
https://wiki.openstreetmap.org/wiki/Key%3Aimage

If not for all presets, at least for artworks, sculptures, monuments etc.

`wikimedia_commons` is used 25,150 times,
`mapillary` 141,453 times,
and `image` 162,309 times.

[2020-04-24 23:06] maro-21 commented on #7166
Another example, the same as the above one: https://www.openstreetmap.org/changeset/83900919

[2020-04-24 23:21] maro-21 opened #7532 "Add destination for Waterway relation preset"
Add destination=* for Waterway relation preset to moreFields.

https://wiki.openstreetmap.org/wiki/Relation:waterway
https://wiki.openstreetmap.org/wiki/Key:destination#Destination_of_waterways

[2020-04-24 23:38] maro-21 opened #7533 "Change icon for shop=deli"
Currently the icon for [`shop=deli`](https://wiki.openstreetmap.org/wiki/Tag:shop%3Ddeli) is the same as for a restaurant. Could we change it to what it is in OSM Carto or something similar?
https://wiki.openstreetmap.org/wiki/File:Deli-14.svg

[2020-04-25 05:47] sun-geo opened #7534 "Add a preset for man_made=reservoir_covered"
wiki: https://wiki.openstreetmap.org/wiki/Tag:man_made%3Dreservoir_covered
It seems well distributed nowadays:
taginfo map: https://taginfo.openstreetmap.org/tags/man_made=reservoir_covered#map
history chart (steady growth): https://taghistory.raifer.tech/#***/man_made/reservoir_covered

[2020-04-25 19:23] maro-21 opened #7536 "The name disappears after entering a dash"
I wanted to change the name of a bus stop:

![volvo1](https://user-images.githubusercontent.com/57260466/80288756-61fc5080-873a-11ea-800d-1c9c218c85bc.png)

What I wanted to do was change the hyphen to the dash in the name:

![volvo2](https://user-images.githubusercontent.com/57260466/80288759-67599b00-873a-11ea-96f4-bdafe37684fe.png)

No matter what I do or where I click, the name after the dash

[2020-04-25 20:45] bhousel commented on #7536
Thanks for reporting @maro-21 .. The endash is used as special separator character in the name dropdown for a few old reasons.  Name suggestion presets sometimes need to disambiguate between several choices like “7-Eleven – Fuel” and “7-Eleven – Convenience Store”.  Because names can have hyphens in them and the dropdown control only lets us work with a single text value, and the preset part of th

[2020-04-25 20:54] 1ec5 commented on #7536
Looks like this bug only occurs if there are spaces surrounding the en dash, possibly due to that conflict with the name suggestion feature mentioned above, but it occurs even if there’s no name suggestion preset.

https://github.com/openstreetmap/iD/blob/60f7dc7c0b58e52e95cbe9a9244fb8e8f939d635/modules/ui/sections/feature_type.js#L102-L103

Assuming it is due to the name suggestion preset feature

[2020-04-25 22:13] bhousel commented on #7536
We could probably delimit on some nonprintable Unicode characters in the string to avoid the issue.  The important thing is that the decorated string looks normal to the user and to html, because it will appear in dropdowns, preset labels, etc, and we will have to find it later to remove the decoration.

[2020-04-26 03:58] 1ec5 opened #7537 "Add synonyms for barrier=lift_gate"
A [`barrier=lift_gate`](https://github.com/openstreetmap/iD/blob/develop/data/presets/presets/barrier/lift_gate.json) is commonly called a “[boom barrier](https://en.wikipedia.org/wiki/Boom_barrier)” or “boom gate” in English.

[2020-04-26 04:16] 1ec5 opened #7538 "Add synonyms for barrier=height_restrictor"
A [`barrier=height_restrictor`](https://github.com/openstreetmap/iD/blob/develop/data/presets/presets/barrier/height_restrictor.json) is commonly called a “[height barrier](https://commons.wikimedia.org/wiki/Category:Height_barriers)” or “height restriction barrier”.

[2020-04-26 14:07] maro-21 opened #7539 "Add building=office, building=supermarket and other buildings"
Add presets for various popular types of buildings. Office building is what I miss the most because I use it often.

[`building=office`](https://wiki.openstreetmap.org/wiki/Tag:building%3Doffice) ([100322](https://taginfo.openstreetmap.org/tags/building=office) features)
[`building=manufacture`](https://wiki.openstreetmap.org/wiki/Tag:building%3Dmanufacture) ([97767](https://taginfo.openstreetmap.

[2020-04-26 14:20] maro-21 opened #7540 "Deprecate various building=* values"
`shop` [9730] → `building=retail`
`factory` [4652] → `building=manufacture`
`abandoned` [4421] → `building=yes + abandoned=yes`
`dwelling_house` [4059] → `building=residential`
`apartment` [2371] → `building=apartments`
`storage` [2159] → `building=warehouse`
`other` [1578] → `building=yes`
`power_substation` [1512] → `building=service + power=substation`
`part` [1193] → `building:part=yes`
`offic

[2020-04-26 15:10] maro-21 opened #7541 "Add website for some building presets"
Add `website=` for:
`building=yes`,
`building=office`,
`building=commercial`.

[2020-04-26 17:09] raphaelpe opened #7542 "tag personalizada de Farmácia no Editor ID."
Gostaria de saber como faço para criar uma tag pernsonalizada para o Editor ID com pagina na wikipedia,

queria incluir uma nova rede de Farmacias que nao está no OpenstreetMap mais não sei como fazer, sempre vejo tag personalizadas de outras farmácias e queria incluir essa tag personalizada dessa rede de farmácia,

alguem que possa me ajudar..

atenciosamente,
====================================

[2020-04-26 17:39] UKChris-osm commented on #7542
I think you mean you wish to add a new [Pharmacy chain](https://nsi.guide/index.html?k=amenity&v=pharmacy) to what is known as the [name suggestion index](https://github.com/osmlab/name-suggestion-index/)??

[2020-04-26 18:05] raphaelpe commented on #7542
isso, um rede de novas farmácias!
=====================================

this, a chain of new pharmacies!

Raphael de Assis.
Membro da FOSM.

[2020-04-26 20:56] maro-21 opened #7543 "Hide name field for some buildings which typically don't have names"
Residential buildings usually don't have names... So this field is not filled in very often.
Could we move Name field to moreFields?

Why?
- It will prevent adding values like "Garage" for building=garage or "House" for building=house. Some newcomers think they should fill in every field. Example: https://www.openstreetmap.org/way/791172314
- There will be more space in the screen because now when

[2020-04-27 00:48] skfd opened #7544 "Unnececery autocomplete in `preset-input-entrance` input (new MS Edge)"
I F12ed `autocomplete="off"` instead of `autocomplete="new-password"` as an `<input>` attribute and it stopped auto-completing. Could this help?

Could we do browser-dependant tags if this is only works for some brower?

![image](https://user-images.githubusercontent.com/159640/80048142-005c9c00-8518-11ea-98c2-26eccedd67b8.png)

[2020-04-27 08:54] hungerburg commented on #7434
no comment - the area of local_knowldge of some persons is truly impressive
https://www.openstreetmap.org/changeset/84125088
https://www.openstreetmap.org/changeset/83842160
…

[2020-04-27 16:55] quincylvania commented on #7533
Good news, I've already changed this for v2.17.3. Delis are tricky since they're somewhat different types of shops in different parts of the world, but I think meat is a common theme. You can test and map with pre-release iD here: https://ideditor.netlify.app.

<img width="356" alt="Screen Shot 2020-04-27 at 9 52 29 AM" src="https://user-images.githubusercontent.com/2046746/80398895-36c64e00-886d-

[2020-04-27 16:55] #7533 closed, assigned to nobody

[2020-04-27 22:58] jeisenbe commented on #7484
The page https://wiki.openstreetmap.org/wiki/Key:healthcare is not very clear, but seems to suggest using the combination of `healthcare=counselling` + `healthcare:counselling=nutrition`, which has been used 59 times (http://overpass-turbo.eu/s/Tn1), or `healthcare=counselling` + `healthcare:counselling=dietitian`, used 116 times. (http://overpass-turbo.eu/s/Tn2), compared to 34 uses of `healthcar

[2020-04-28 01:27] dbaron opened #7545 ""uses google as a data source" warning shouldn't count googledrive.com URLs?"
Showing all of the warnings in Palo Alto, California, has the problem that it shows a very large number of "building shows google as a data source" warnings:

![Screenshot from 2020-04-27 18-23-17](https://user-images.githubusercontent.com/248721/80436648-76645880-88b4-11ea-8295-b7eae66caede.png)

This is because of a building import that referenced the source of the datafile, which was hosted on

[2020-04-28 01:32] dbaron commented on #7545
Also, this request is quite similar to #6556 and could hopefully be fixed in a similar way.

[2020-04-28 15:42] thayeray commented on #7529
Thanks for doing this @quincylvania and for requesting the change @talllguy!

[2020-04-28 17:08] quincylvania commented on #7545
@dbaron Sounds reasonable, thanks for reporting.

[2020-04-28 18:03] quincylvania commented on #7530
@maro-21 I don't think you can right now. See #4977 and #7510 about custom WMS imagery.

[2020-04-28 18:10] #7545 closed, assigned to quincylvania

[2020-04-28 18:13] #7537 closed, assigned to quincylvania

[2020-04-28 18:15] #7538 closed, assigned to quincylvania

[2020-04-28 18:26] #7519 closed, assigned to quincylvania

[2020-04-28 19:13] quincylvania commented on #7539
I added `office`, `cowshed`, and `sty` since those seem like common, distinguishable things. I did not add the rest for these reasons:

- I assume `manufacture` overlaps strongly with `industrial`. It would be confusing to have both, especially since it doesn't have English wiki documentation.
- I didn't know what a `transformer_tower` was and I'm afraid others won't either. The tag appears to be

[2020-04-28 19:13] #7539 closed, assigned to quincylvania

[2020-04-28 19:17] #7542 closed, assigned to nobody

[2020-04-28 19:24] #7541 closed, assigned to quincylvania

[2020-04-28 19:27] quincylvania commented on #7541
I didn't add this for `building=yes` because mappers can use that tag for any arbitrary building and most don't have websites. But I agree this is a good idea for office and commercial buildings since those might have a management company website. I also added the `phone` field for the same reason.

[2020-04-28 19:37] quincylvania commented on #7520
☝️ This is true. iD can't handle multiple upgrade paths and I think that's okay—the validator is primarily for checking new edits, not complex re-tagging. I'd suggest a MapRoulette challenge for manually reviewing and upgrading `power=station` tags. There are currently just around 2300 instances.

Looks like I added this early on when building the validator. At the time I must not have realized th

[2020-04-28 19:37] #7520 closed, assigned to nobody

[2020-04-28 19:51] prasadrajuv opened #7546 "pls display id of node or way on select when hilighted."
id editor is not user friendly some time because zoom level restriction to edit. building alignments is not possible because of poor satellite map image in india. i want use api to update building using osm id number but it is not displaying in editor. pls provide id info below properties window on select.
our streets are congested and houses area approx 60 to 100 yards. map showing one or two hou

[2020-04-28 20:14] JamesKingdom commented on #7546
I think what you're wanting is already possible, if the node/way has already been saved to OSM, you can click "View on openstreetmap.org" in the bottom left when you select the node, showing you the way or node id.
<img width ="300" src="https://i.imgur.com/rQr77Y9.png">
You could also find the node/way id by opening the history panel with `CTRL` + `Shift` + `H`, which will show you the id.
![](ht

[2020-04-28 20:19] quincylvania commented on #7546
Hi and welcome, @prasadrajuv.

Check out @JamesKingdom's helpful comment for ways to view entity IDs already. We do need to make the History panel more discoverable in the future, see #6397.

Happy mapping!

[2020-04-28 20:19] #7546 closed, assigned to nobody

[2020-04-28 20:25] quincylvania commented on #7483
I've held off on this so far because I think we need a decent icon. At least in the US, most people who hear "vacuum cleaner" first think of the portable household appliance, which this is not. An icon will help. I'm also considering the name "Vacuum Station" or something like that.

[2020-04-28 20:34] #7534 closed, assigned to quincylvania

[2020-04-28 20:35] quincylvania commented on #7534
I wish there weren't all these different tags for water tanks but so be it.

[2020-04-28 20:42] #7532 closed, assigned to quincylvania

[2020-04-28 20:59] Elefant-aus-Wuppertal opened #7547 "add newly allowed real estate cadastre wms-layer for Brandenburg, Germany"
As we did for the German distrcit Baden-Württemberg already, would it now be possible to add the new allowed wms-layer for the real estate cadastre of the district Brandenburg, Germany?

The release is documented here: https://wiki.openstreetmap.org/wiki/Brandenburg/Geoportal but unfortunately, only in german.

The address for the layer would be the following: wms:https://isk.geobasis-bb.de/ows/al

[2020-04-28 21:01] maro-21 commented on #7483
How about "vacuum cleaner for cars"?

[2020-04-28 21:02] quincylvania commented on #7547
I believe you're looking for https://github.com/osmlab/editor-layer-index/issues.

[2020-04-28 21:02] #7547 closed, assigned to nobody

[2020-04-28 21:02] Lukas458 commented on #7540
I agree with most of them, but building=railway does not necessarily have to be a train station. It could have also another function in the railway sector, for example it could be a signal box.

[2020-04-28 21:09] maro-21 commented on #7540
Ok, I removed it.

[2020-04-28 21:17] quincylvania commented on #7540
@maro-21 Since you already encoded all this in JSON, I invite you to open a pull request with the changes. Then we can review it.

[2020-04-28 21:23] raphaelpe commented on #7542
how to create this tag for this pharmacy network

[2020-04-28 21:25] quincylvania commented on #7542
You can open an issue here and someone will assist you: https://github.com/osmlab/name-suggestion-index/issues

[2020-04-28 21:47] maro-21 opened #7549 "Rename Metal Construction preset"
Isn't the name for craft=metal_construction "Metal Construction" ambiguous in English?
It suggests that this is a kind of construction, but this supposed to be an office of a company.
Maybe we should change it to "Metal Construction (company)" or similar?

[2020-04-28 23:55] 1ec5 commented on #7549
“Metalworking” would be more intuitive from my (American English) perspective.

[2020-04-29 00:04] 1ec5 commented on #7483
Sometimes this equipment is called an “automotive vacuum”, but that can also be confused with handheld vacuums that one might buy to keep their car tidy. “Vacuum Station” sounds pretty intuitive to me (in American English), but it does have [an unrelated meaning](https://en.wikipedia.org/wiki/Vacuum_sewer), so how about “Vacuum Cleaning Station” or (if we can make this assumption) “Self-Service Va

[2020-04-29 00:47] skfd opened #7550 "Rendering bug: magic select looking control appears"
![image](https://user-images.githubusercontent.com/159640/80551420-16f96c00-89cc-11ea-84a7-928304bad2e4.png)

[2020-04-29 09:47] kymckay commented on #7550
What are the circumstances under which this occurred?

[2020-04-29 10:53] willemarcel opened #7551 "Wrong walkthrough elements position when embedded"
When iD is embedded, the walkthrough tutorial tooltips and some curtains load in the wrong position.

![image](https://user-images.githubusercontent.com/666291/80588224-51740080-89ee-11ea-8d16-667adefd0c9d.png)

![image](https://user-images.githubusercontent.com/666291/80588248-618be000-89ee-11ea-93ab-c758dd8cdcf3.png)

[2020-04-29 13:16] Elefant-aus-Wuppertal commented on #7547
Oh yes it seems so, thank you for the link

[2020-04-29 13:48] lectrician1 opened #7552 "Stop inserting Features/Tags manually every release and base it off of TagInfo/Wiki Presence"
**Issue**
When recently mapping, I came across the Curb and Basin preset and found that there were _many_ more preset values for each of the tags than even used or documented in the Wiki. There are only 3 Basin values documented and yet there are about 15 different presets, many of them very similar.

**Reasoning**
What I don't understand is why Quincy has to go in every release and manually accep

[2020-04-29 13:55] jgscherber opened #7553 "Moving end of self-looped way causes loop to break"
Moving a self-looped ways endpoint to another node causes the self-loop break (see vid)

![breaking_loop](https://user-images.githubusercontent.com/6207661/80604260-2215c180-89f7-11ea-96d6-d61b3b85ab12.gif)

This can be reproduced on w566763593. This is reproducible on the `develop` branch (https://ideditor.netlify.app/)

[2020-04-29 15:56] sun-geo commented on #7534
That's right, for me it was also not so easy to find the right one ("Covered Reservoir") via the wiki-pages. Sometimes i try to improve the wiki by adding interlinks to the "See also" sections. Hope that helps a bit the user who is searching for it after me.

Thanks!

[2020-04-29 16:08] maro-21 opened #7554 "Untraslatable strings for new Overlays"
In the changelog for 2.17.3 you didn't mention about two new features: OpenRailwayMap Maxspeeds and OpenRailwayMap Signalling.
Unfortunately these ones are in English, could you make them translatable?

![](https://user-images.githubusercontent.com/57260466/80618359-8cecea00-8a43-11ea-9d5f-a7fca4f61ccd.png)

[2020-04-29 17:09] quincylvania commented on #7554
@maro-21 So those layers come from the [editor-layer-index](https://github.com/osmlab/editor-layer-index/issues). We usually don't include those changes in our changelog since it's a separate project with its own release schedule, theoretically.

As far as translation goes, looks like something might be wrong with the imagery strings…

[2020-04-29 17:11] quincylvania commented on #7534
This definitely helps me navigate the wiki 👍

[2020-04-29 17:35] quincylvania commented on #7544
This should be fixed on the `develop` branch for a future release. We're now using different element IDs for fields each time they're rendered so the browser can't store an autocomplete history. See #6444.

[2020-04-29 17:35] #7544 closed, assigned to nobody

[2020-04-29 19:43] #7481 closed, assigned to quincylvania

[2020-04-29 19:44] #7478 closed, assigned to nobody

[2020-04-29 22:25] quincylvania commented on #7552
Hello and welcome, @lectrician1. Thanks for your concern about my time and workload!

A lot of folks don't realize how much finessing it takes to turn OSM's thousands of tags into presets and fields that a casual mapper can readily understand. We have to separate type tags from attribute tags and determine which attributes belong on which types. We have to give each preset and field a short, clear

[2020-04-29 22:25] #7552 closed, assigned to nobody

[2020-04-30 01:29] skfd commented on #7550
I had selected polygon/way and shift-selected point and pressed Detach command. Was in process of detaching landuse from way.

Sorry for no steps, will try to repro

[2020-04-30 08:47] Marc-marc-marc opened #7556 "unable to find "terrain de sport" with french locale"
after drawing a polygon, I search "terrain de sport". not found.
adding leisure=pitch by hand show the object as a "terrain de sport"

[2020-04-30 16:18] quincylvania commented on #7556
Hmm I was able to find it without issue… Were you expecting it to be the first result?

<img width="393" alt="Screen Shot 2020-04-30 at 9 17 09 AM" src="https://user-images.githubusercontent.com/2046746/80734053-6ff7fb80-8ac3-11ea-8b18-57f711e01fdc.png">

[2020-04-30 20:52] bhousel opened #7557 "WMS 1.3.0 EPSG:4326 reverse axis"
This is an old issue from Leaflet and other WMS clients that is affecting iD and GoMap!! [link](https://github.com/bryceco/GoMap/commit/b15b14c840c7a43e6dd4898dbe557ed7d9031ff6) - thanks @bryceco for finding this!

The Leaflet bug:  https://github.com/Leaflet/Leaflet/pull/1897
This article details the problem http://viswaug.wordpress.com/2009/03/15/reversed-co-ordinate-axis-order-for-epsg4326-vs-c

[2020-05-01 15:48] jgscherber commented on #7471
"Dropping up" is a common UI pattern. I think from a usability perspective, it is the expected behavior.

As a quick example - this is the hamburger menu in Chrome "dropping up" when the browser is near the bottom of the screen.

![image](https://user-images.githubusercontent.com/6207661/80818664-3ee9fa80-8b99-11ea-9e46-d0f1fe174e2c.png)

[2020-05-01 18:23] maro-21 commented on #7531
The reason why we need this tag:
http://openpoimap.org/?map=various&zoom=15&lat=51.93838&lon=15.50504&layers=B00FFFFFFFFFFFFFTFFFFFF

[2020-05-01 18:26] maro-21 commented on #7554
It has been corrected
https://github.com/osmlab/editor-layer-index/pull/832/commits/d9eae265809b3387488680036d702dd6d42d4fbc

[2020-05-01 18:26] #7554 closed, assigned to nobody

[2020-05-01 18:58] quincylvania commented on #7471
@jgscherber Yes, it is common to position menus and popovers. But not for showing search suggestions in a text input, methinks.

[2020-05-02 01:30] Adamant36 opened #7560 "Mapping line brings up scroll bars"
Not really sure why, but in Chrome when I map a line and move it around the screen it activates the scroll bars on the bottom and side of the screen. Even though I'm not going out of the current window with it or anything. Also the scroll bars will self adjust depending on how I move the line around.

![iD Editor Scroll Bar](https://user-images.githubusercontent.com/30259065/80851955-960fbf80-8bd9

[2020-05-02 07:20] AlphaWong opened #7561 "Is the direction service down in the web page?"
Hi,

If I try to build a route between two points on the web page. The webpage seems not to work.
https://www.openstreetmap.org/directions?from=22.2865%2C113.9421&to=22.28231%2C113.93928

When I open the console, I find it throws some error. Are they related?
![image](https://user-images.githubusercontent.com/5622516/80857929-6370d000-8c88-11ea-9bb9-229059da07a5.png)

Best,
Alpha

[2020-05-02 09:16] Adamant36 opened #7562 "Add preset for shop=shoe_repair"
Hi. Can you add a preset for shop=shoe_repair? It seems to be different from craft=shoemaker and currently a lot of shoe repair places are wrongly tagged as shop=shoes + repair=only or similar clarifying tags. It's not something that should need an extra tag like that when there is already a specific shop tag being used for shoe repair shops. Especially when shop=shoes is suppose to be used on pla

[2020-05-02 19:06] 1ec5 commented on #7561
The directions service is a different part of the [OpenStreetMap website](https://github.com/openstreetmap/openstreetmap-website/), not part of iD. The URL you posted above seems to work for me. It might’ve been temporary downtime on the part of the [FOSSGIS routing service](https://routing.openstreetmap.de/about.html) that powers the default “Car (OSRM)” option. If the request continues to fail f

[2020-05-02 19:06] #7561 closed, assigned to nobody

[2020-05-02 21:38] blackboxlogic opened #7563 "Adjustable Units for Route Distance"
When using iD to get routing directions, I'm shown the distance of the route in km.

- I'd like a way to select my preferred units
- I'd like my preference to be saved between sessions

[2020-05-03 04:55] Adamant36 opened #7564 "add compressed_air=yes/no preset to shop=scuba_diving"
Currently a lot of scuba diving shops that provide air are tagged with both scuba_diving:air_filling=yes
and scuba_diving:filling=yes. Likely because of the "services" preset. It would be a lot less convoluted if there was a compressed_air=yes/no preset that people could instead. Especially considering it is a much more widely used and accepted tag then either of those, and it doesn't involve the

[2020-05-03 11:02] blackboxlogic commented on #7563
This ticket belongs in a different project. Please disregard.

[2020-05-03 11:02] #7563 closed, assigned to nobody

[2020-05-03 15:05] SomeoneElseOSM commented on #5400
I'm not seeing any message when I launch iD on the live osm.org site and the user is blocked - I guess that the change mentioned earlier hasn't been released there yet?  What I do also get is the following, if the user is already editing:

In browser A, as SomeoneElse2, enter edit mode

In browser B, as SomeoneElse, block SomeoneElse2
https://www.openstreetmap.org/user_blocks/3667
(0-hour, must re

[2020-05-03 17:28] ArenaL5 opened #7565 "Brand name matches correctly ignores case, but not hiragana/katakana"
When adding a point and typing a brand name, the search tool correctly ignores case: creating a point and typing a name will suggest matches in osmlab/name-suggestion-index with any capitalization:

![osm1](https://user-images.githubusercontent.com/37388405/80920990-a9ef2900-8d73-11ea-8bd1-5a43c424f522.png)

This works for any writing system with uppercase and lowercase letters. Japanese doesn't h

[2020-05-04 00:39] 1ec5 commented on #7565
If I understand correctly, the issue is that iD only finds name-suggestion-index presets based on the `name`, not any other name tags or `matchNames`. This issue affects all writing systems. For example, searching for “Kentucky Fried Chicken” doesn’t return the preset that “KFC” does, even though [its entry in NSI](https://github.com/osmlab/name-suggestion-index/blob/70fdc02b0f862fc5d07dd71937275b

[2020-05-04 06:33] aseques commented on #7199
Same thing happened to me today, don't know how to diagnose it, but I downloaded the osc file in case it's  useful.
My feeling is that it seems something related to firefox support, but I cannot guess any further.
[changes.osc.txt](https://github.com/openstreetmap/iD/files/4573042/changes.osc.txt)

[2020-05-04 10:39] ValorNaram opened #7566 "Remove non-prefixed versions of contact: scheme"
I request to replace all (hardcoded/in preset) occurrence of the non-prefixed versions of the contact keys like Key:phone, Key:email. Key:website to be replaced with the prefixed ones like Key:contact:phone, Key:contact:email, Key:contact:website . It harms our database in a way that makes our data less useful. In order to be successful we need to standardize to the `contact:` prefix. No more mult

[2020-05-04 11:49] ArenaL5 commented on #7565
No, that's a different issue. `matchNames` work, it's just that "Kentucky Fried Chicken" is an `alt_name` but not a `matchName`.

What I meant is that the search engine should treat hiragana/katakana like uppercase/lowercase. If AKIO/akio/Akio/akIo/aKIO all suggest the same result, シマムラ/しまむら/しまムラ/シマむら should too.

The general idea is to treat characters [in every cell of this table](https://en.wik

[2020-05-04 15:19] 1ec5 commented on #7565
Yes, I’m aware of the possibility of automatically transliterating between Japanese writing systems. However, iD is written in JavaScript and deployed as part of a webpage, which makes bundle size a key performance consideration. Language-specific dependencies can be problematic. An alternative would be to manually specify the kana representations of each brand in `matchNames`. `matchNames` won’t

[2020-05-04 21:05] jgscherber opened #7567 "Water land-use being rendered outside boundary instead of inside"
See [here](https://www.openstreetmap.org/way/391695097#map=17/-35.99398/146.39982) in OSM and compare to how it's rendered with iD (below). The water should be inside the river.

![image](https://user-images.githubusercontent.com/6207661/81013627-170cc800-8e21-11ea-9a9e-f81839115976.png)

[2020-05-04 22:17] quincylvania commented on #7567
Looks like this is #1201.

[2020-05-04 22:17] #7567 closed, assigned to nobody

[2020-05-04 23:38] ArenaL5 commented on #7565
I understand. It's clearly not a trivial problem to solve as I hoped.

It _might_ be possible to leverage functions from [`Intl.Collator()`](https://developer.mozilla.org/en-US/docs/Web/JavaScript/Reference/Global_Objects/Intl/Collator/Collator), as those are already built in every modern browser. But I'd need to do several experiments to be certain.

I'll use `matchNames` for now. Thank you for y

[2020-05-05 09:51] Nakaner commented on #7566
See also https://github.com/openstreetmap/iD/issues/3915 and, if you need the see a voting on that question, https://wiki.openstreetmap.org/wiki/Discussions/tagging/contact:phone_or_phone

IMHO, there is only one thing where iD could improve without taking sides in a never ending dispute and making any party more angry than the other one: If `contact:phone=A` is set, setting `phone=A` makes no sen

[2020-05-05 11:30] animesh-007 commented on #7549
@1ec5 I have made suggested changes.

[2020-05-05 14:06] maro-21 commented on #7549
Suggested name was "Metalworking", not "Metal Working".
https://en.wikipedia.org/wiki/Metalworking

The tag remains the same, `craft=metal_construction`, but you changed it to `craft=metal_working`.

[2020-05-05 16:03] animesh-007 commented on #7549
Thanks for reviewing.
I have made the suggested changes.

[2020-05-05 17:37] quincylvania commented on #7566
@ValorNaram I can see that you're passionate about this, but it's outside iD's scope. Tagging changes of this magnitude have to be settled at the database level, not the editor level. You're talking about retagging millions of features. If a solution is approved and implemented in the database then we can update iD's presets.

[2020-05-05 17:37] #7566 closed, assigned to nobody

[2020-05-05 20:48] maro-21 opened #7569 "iD craftily adds memorial=yes"
Continuing "Don't insert generic values" (#7265, #7509),
the same with `historic=memorial`. iD adds `memorial=yes`.

[2020-05-05 20:59] #7569 closed, assigned to quincylvania

[2020-05-05 21:28] #7562 closed, assigned to quincylvania

[2020-05-05 21:35] #7515 closed, assigned to quincylvania

[2020-05-05 21:36] quincylvania commented on #7515
I guess we already break this a few times and the wiki recommends tagging plenty of `landuse` features as points, including `quarry`. Gotta let OSM be OSM.

[2020-05-05 21:46] #7531 closed, assigned to quincylvania

[2020-05-05 22:36] sun-geo opened #7570 "mouse symbol on mapillary link position"
**Current behavior:**
When the mouse is reaching the position of the mapillary link the mouse symbol shows a picture like this: ![map-icon](https://upload.wikimedia.org/wikipedia/commons/1/16/Commons-emblem-hand.svg)

Example test object:
https://www.openstreetmap.org/edit?node=2458001035#map=20/48.84865/2.34839
(Tested with firefox browser)

![map-icon](https://user-images.githubusercontent.com/4

[2020-05-05 23:15] Adamant36 commented on #7515
Thanks. It does seem like OSM is a little inconsistent on tagging landuse as points. I think it's fine in this situation though.

[2020-05-06 01:13] Adamant36 opened #7571 "Add support for isced:level"
It would be cool if there was some kind of support for tagging what type of school a school is. The de facto tag seems to be isced:level, but since it isn't supported a bunch of other less used tags are being used for the same thing. Like school, education and training. It would be good  if there was just one tag being that was easily accessible in iD Editor. Maybe iD Editor could support it by ha

[2020-05-06 04:22] 1ec5 commented on #7571
At least here in the U.S., there’s very little public awareness of ISCED or how it maps to conventional grade numbers, much less ISCED 1997. Mappers would need to familiarize themselves with [the table on this wiki page](https://wiki.openstreetmap.org/wiki/Key:isced:level). The most appropriate field type for this key would be a list of checkboxes with descriptive labels. (Otherwise, a numeric ISC

[2020-05-06 15:36] maro-21 commented on #7566
ValorNaram I agree with you that having two keys for the same purpose is bad.
I had many such situations when someone added with iD `phone` key, while `contact:phone` was already there.

If I had to choose, I would choose prefixed version because on the list of tags one can easily see all the contact tags in one place.

I think the one thing we can do is to add a validation rule to check if both "

[2020-05-06 15:44] maro-21 commented on #7484
Oh, it's a pity that there isn't one tag for this but three!
I was influenced by the icon on Wiki for OSM Carto, but looks like it's not true, it's not rendered.
You can close the issue.

[2020-05-06 16:12] maro-21 commented on #7485
There are more ;-)
`inscription`
`note:access`
`note:ja`
`contact:fax`

[2020-05-06 17:23] #7484 closed, assigned to nobody

[2020-05-06 17:40] maro-21 opened #7572 "No trash icon on the bar for multilingual names"
If a feature has a name in other language [name:en], but no [name], there is no icon of a trash bin to delete it, but anyway I can click anywhere on the bar and the name will disappear.

When I add a name, the icons reappear.

![name_en](https://user-images.githubusercontent.com/57260466/81209293-a4424f00-8fd0-11ea-8df9-0fd4c0a362ef.jpg)

[2020-05-07 12:08] Marc-marc-marc commented on #7556
if I add a new polygon and search for "terrain de ", it works.
I delete the tag, clic on "choisir un type d'élément" and search again, it doesn't return "terrain de sport"
![Capture d’écran de 2020-05-07 14-01-05](https://user-images.githubusercontent.com/31963329/81292455-ec627f80-906b-11ea-8175-244dc4cb1f17.png)
![Capture d’écran de 2020-05-07 14-01-13](https://user-images.githubusercontent.com/

[2020-05-07 13:35] boothym commented on #7560
Same here on Firefox/Win10

[2020-05-07 13:52] boothym opened #7573 "Background info decimal places"
Not a massive issue, but it would be good to trim the excess decimal places off the resolution and accuracy numbers in the background panel.
This is the ESRI (clarity) imagery, but on the normal ESRI imagery it just displays 0.31m
![Screenshot_2020-05-03 OpenStreetMap](https://user-images.githubusercontent.com/16965772/81300746-f8e8d700-906f-11ea-9d7c-ab8cecaf9351.png)

[2020-05-07 15:45] quincylvania commented on #7556
Oh I see. So OpenStreetMap doesn't have an "area" geometry type. iD and other apps know that tags like `leisure=pitch` or `building=yes` imply an area geometry. By removing the tags you're switching to line geometry and so searching for an area type doesn't work.

Issue #1828 is about making it easier to switch between closed lines and areas. For now, you can add the tag `area=yes` to make an unta

[2020-05-07 15:45] #7556 closed, assigned to nobody

[2020-05-07 16:52] quincylvania commented on #7570
Looks like this is present in v2.17.3 but has already been fixed in the `develop` branch.

You can test here: https://ideditor.netlify.app/#background=Maxar-Premium&disable_features=boundaries&id=n2458001035&map=20.00/48.84865/2.34839

[2020-05-07 16:52] #7570 closed, assigned to nobody

[2020-05-07 17:26] #7560 closed, assigned to quincylvania

[2020-05-07 18:23] maro-21 opened #7574 "Add amenity=give_box"
How about adding a recently approved preset?
It hasn't been used many times, but having its preset in iD, people could discover this tag.
https://wiki.openstreetmap.org/wiki/Tag:amenity%3Dgive_box

[2020-05-07 19:08] mfbehrens opened #7575 "Create preset for orthodontics"
As far as I know there is no preset for orthodontics. The tag should be **healthcare=dentist** and **healthcare:speciality=orthodontics**

[2020-05-07 20:46] maro-21 commented on #7575
I don't think we should have presets for every medical speciality.
And orthodontics is just a subspeciality of stomatology, so what about other specialities: implantology, endodontics etc?

[2020-05-07 20:50] #7575 closed, assigned to quincylvania

[2020-05-07 20:53] quincylvania commented on #7575
I agree, but it's useful to have them for relatively common ones with technical tags like this.

[2020-05-07 21:11] tas50 commented on #7575
Orthodontics practices are incredibly common in the US and often mistagged as general dentistry in OSM. This is going to really help fix that up so we can get folks to use the correct tags. There's obviously a lot of other kinds of specialized dentistry practices, but at least in the US, this is the most common by a few orders of magnitude.

[2020-05-08 16:06] quincylvania commented on #7560
@Adamant36 @boothym Thanks for reporting. This was a weird bug where iD had been adding some helper text that was supposed to follow the cursor the first time you mapped, but the element was outside iD's container and positioned beyond the bounds of the app. I submitted a CSS hotfix to the OSM website and also fixed it on iD's side by removing the text element altogether.

[2020-05-08 16:40] #7551 closed, assigned to quincylvania

[2020-05-08 17:57] quincylvania opened #7576 "Disable elastic page scrolling on Safari and mobile Safari"
Safari does this as a nice way to indicate you've reached the end of the page, but it doesn't make sense for an app like iD that takes over the whole window. On desktop it's no big deal but on touchscreens it gets annoying.

![elastic_scroll](https://user-images.githubusercontent.com/2046746/81434000-4caffa80-911a-11ea-9f77-aa17c0c224a6.gif)

[2020-05-08 18:33] blackboxlogic commented on #7341
This issue appears to be resolved.

[2020-05-08 18:33] #7341 closed

[2020-05-08 19:24] quincylvania opened #7577 "Edit menu on touch devices"
With #5505 coming along, touchscreen mapping is becoming increasingly possible. A large remaining issue, though, is the lack of right-click and thus the map edit menu.

iOS has a pattern of long-pressing on text to bring up contextual controls. Perhaps we could try a similar interaction here.

[2020-05-08 20:17] maro-21 opened #7578 "Edit Parking Lot preset: add parking=rooftop"
- [x] add `parking=rooftop` to the menu in Parking Lot preset
- [x] reorder the list
- [x] deprecate `parking=park_and_ride` -> `park_ride=yes`

Current order:
"surface": "Surface",
"multi-storey": "Multilevel",
"underground": "Underground",
"sheds": "Sheds",
"carports": "Carports",
"garage_boxes": "Garage Boxes",
"lane": "Roadside Lane"
https://github.com/openstreetmap/iD/blob/72a99673a0328ba4f44

[2020-05-08 20:22] maro-21 opened #7579 "Add fee for amenity=nightclub"
Add hidden field `fee=*` for `amenity=nightclub`.

[2020-05-08 20:34] maro-21 opened #7580 "Edit Car Wash preset"
Add [`automated=*`](https://wiki.openstreetmap.org/wiki/Key:automated) to fields in Car Wash preset, under `self_service`.

[2020-05-08 20:48] maro-21 opened #7581 "Edit Yield Sign preset"
I think `direction=both` should be removed from the menu because it's not possible. It's not like with traffic lights that we can put a node on the crossing for all directions.