[2020-09-26 14:03] quincylvania commented on #8024
@soshial Hmm iD doesn't support this type of warning yet, where certain combinations of tags are flagged without an upgrade path. (iD can flag tags like this for removal, but not for extraction.) While we could theoretically add it, I'm afraid it could become an endless source of tagging disagreements about what tags are okay together. This doesn't mean we shouldn't add it necessarily, but we shou

[2020-09-26 14:18] maro-21 opened #8025 "Can't disconnect a path"
I have a path connected to the tram track. I wanted to disconnect it but I couldn't because
"This can't be disconnected because it connects members of a relation.".
Indeed there are many tram relations on the tram track. iD doesn't allow me to disconnect it, but I can remove that shared node without any problem.

![iD_disconnect](https://user-images.githubusercontent.com/57260466/94342770-a35b9980

[2020-09-26 15:11] maro-21 opened #8026 "Make "{labeled} and {count} more" pluralizable"
Could you make it pluralizable on Transifex?
`labeled_and_more: "{labeled} and {count} more"`

[2020-09-27 00:45] TheAdventurer64 commented on #8025
I believe this is to serve iD's purpose: To not damage other users' data.

[2020-09-27 07:30] TheAdventurer64 opened #8027 "Create building=toilets as the default building tag for amenity=toilets"
### Rationale
* According to [the wiki,](https://wiki.openstreetmap.org/wiki/Tag:building%3Dtoilets) `building=toilets` is used for buildings which house toilets. Currently, iD sets the term for toilet buildings as `building=yes`.
* According to [taginfo](https://taginfo.openstreetmap.org/tags/building=toilets), the tag has been used over 11 297 times.

[2020-09-27 14:30] maro-21 commented on #8027
similar to https://github.com/openstreetmap/iD/issues/7587
"iD doesn't really have a mechanism for setting the default building value"

[2020-09-27 22:42] #8026 closed, assigned to quincylvania

[2020-09-27 22:43] quincylvania commented on #8026
@maro-21 Thanks, I missed this one since both the English plural forms are the same.

[2020-09-28 05:07] jidanni opened #8028 "Add red flags when attempting to insert Wikidata"
Here after the user inserts the Wikidata,
![X2](https://user-images.githubusercontent.com/1230959/94392536-1cc9c800-018b-11eb-8e03-6aaedd44469c.jpg)
wouldn't it be good if the Name field gets filled in for the user too, so he doesn't have to copy it manually:
![X3](https://user-images.githubusercontent.com/1230959/94392629-61edfa00-018b-11eb-8f9a-81c543b04e30.jpg)
Yes, have this only work for empt

[2020-09-28 12:06] manfredbrandl commented on #8026
@quincylvania There are two variables, which one is used for the distinction "one" versus "other"?

[2020-09-28 15:12] quincylvania commented on #8026
@manfredbrandl The `{count}` is the number. `{labeled}` is just a text label.

<img width="643" alt="Screen Shot 2020-09-28 at 11 10 27 AM" src="https://user-images.githubusercontent.com/2046746/94450411-411da880-017b-11eb-8784-24d853e3988f.png">

[2020-09-28 15:46] quincylvania opened #8030 "Drop The Noun Project integration"
In #5691 we added support for pulling icons from https://thenounproject.com. However, for #7959 we have to replace the `request` package for downloading icons, which is tricky since TNP requires oauth. To date we only use [seven icons](https://github.com/openstreetmap/iD/tree/develop/svg/the-noun-project), likely since there are a number of drawbacks:

- An account with API tokens is required for

[2020-09-28 17:58] #8030 closed, assigned to quincylvania

[2020-09-28 17:58] #7959 closed, assigned to quincylvania

[2020-09-28 19:28] #7536 closed, assigned to quincylvania

[2020-09-28 19:39] quincylvania commented on #7536
I ended up making `name()` only the brand name and added the parent preset name as a separate `subtitle()` property. The en dashes are still used for suggestion display, but no longer factor into the name value and thus don't need to be discarded. This seems cleaner and avoid bugs like this.

[2020-09-28 19:54] quincylvania commented on #7988
Hi and welcome, @xuiqzy. I agree the order of these values shouldn't really matter, but it's really helpful if they're consistent for tagging presets.

Since [4800 features use iD's order and only 200 use the other](https://taginfo.openstreetmap.org/search?q=parcel_mail_in#values), a validation rule as proposed by @matkoniecz sounds okay. If the uses were closer to even then we'd look at a more ad

[2020-09-28 20:07] #7988 closed, assigned to quincylvania

[2020-09-28 20:22] #7952 closed, assigned to quincylvania

[2020-09-28 20:26] quincylvania commented on #7799
@higa4 Yep, the features are linked. You can also lasso the node by using shift+click+drag. I'm not sure how else we could do this better right now, so I'm closing this as low-impact.

[2020-09-28 20:26] #7799 closed, assigned to nobody

[2020-09-28 20:48] quincylvania commented on #7822
Done by @iandees 👏

New link is: https://ideditor-release.netlify.app

[2020-09-28 20:48] #7822 closed, assigned to nobody

[2020-09-28 20:51] quincylvania commented on #7975
Welcome, @Jakuje. Have you used the external links in the photo viewer? These open the images in a separate window. You can also drag the sides of the viewer to make it larger.

<img width="355" alt="Screen Shot 2020-09-28 at 4 46 29 PM" src="https://user-images.githubusercontent.com/2046746/94484308-32021f00-01aa-11eb-8767-77042d93d95e.png">

[2020-09-28 21:19] #7682 closed, assigned to quincylvania

[2020-09-28 21:26] manfredbrandl commented on #8025
@maro-21 Can you try to select the path first and then shift right-klick on the connecting node? Are you offered the operation disconnect?

[2020-09-28 21:30] quincylvania commented on #7682
I ended up doing this. The delete shortcut is the same, but now the deletion occurs immediately. Pressing backspace alone without cmd/ctrl now triggers the downgrade. This setup will let us do #6756 and maybe #6475.

<img width="421" alt="Screen Shot 2020-09-28 at 5 21 06 PM" src="https://user-images.githubusercontent.com/2046746/94487457-07ff2b80-01af-11eb-810c-d2f366fc7f59.png">

Supporting both

[2020-09-28 21:49] #6756 closed

[2020-09-28 21:55] quincylvania commented on #6862
For #7682 I mapped Backspace to the Downgrade operation and made Cmd+Backspace delete immediately. When the selection is downgraded all the way, I think we could do @tordans's suggestion:

Not sure about this part since mappers can just use the two-key shortcut:

[2020-09-28 22:08] #7840 closed, assigned to quincylvania

[2020-09-28 23:39] maro-21 commented on #8026
Actually neither of them. In English these strings don't depend on the number in {count}.

`{labeled} and {count} more` is for example:
`Restaurant and 2 more`

[2020-09-29 07:04] colonelm opened #8032 "Gocery tag in iD editor"
shop=grocery tag is not not available in iD editor https://wiki.openstreetmap.org/wiki/Tag:shop=grocery

This is the most appropriate tag to map Ration Shop (as popularly called) / Fair Price Shop (newer name not popular). The Ration Shop's sell non-perishable food items such as Rice, Wheat, Sugar, Cooking Oil and Pulses. Only exception is Kerosene oil. There are ~500,000 shops that exists in Indi

[2020-09-29 07:16] Jakuje commented on #7975
Hi. I know that the viewer can be stretched, but it is always at the expense of the map, which I am editing. If I fill one third of the screen with the image, one third of the screen with side panels (yes, they can be hidden but it is quite inconvenient), the map is very small with very bad ratio to orient in and edit.

Opening in bing maps is I think only for the streetside imagery. Indeed mapill

[2020-09-29 08:04] matkoniecz commented on #8032
Note

problem describe at wiki. If added it probably should not appear in US/Canada or should be described differently than "grocery"

[2020-09-29 09:01] colonelm commented on #8032
What about adding it through nsi.guide  ? Or a new tag  shop=public_distribution / public_food_distribution.  What would be the best way ? These shops are very very important.

[2020-09-29 13:31] matkoniecz commented on #8032
If there are some widely appearing brands that are not present in name suggestion index then pull requests would be very useful and welcomed! Issues listing shop band and their wikipedia page or wikidata entry also would be useful at https://github.com/osmlab/name-suggestion-index

[2020-09-29 13:32] matkoniecz commented on #8032
This would be likely best handled at tagging mailing list discussion or via wiki ( https://wiki.openstreetmap.org/wiki/Proposal_process ) or via discussion with other mappers in your region ( https://github.com/osmlab/osm-community-index may list their preferred discussion channels )

[2020-09-29 14:10] bhousel commented on #8032
There already is a PR at the NSI project where someone is trying to introduce the `shop=grocery` tag:
  https://github.com/osmlab/name-suggestion-index/pull/4215

I have asked them to please pick another tag that's more widely used, and it turns out the Indian community had already decided in 2017 to use `shop=convenience` for these shops.

[2020-09-29 14:10] #8032 closed, assigned to nobody

[2020-09-29 16:50] quincylvania commented on #7975
@Jakuje Hmm okay, I agree it'd be nice to pop stuff like this out into a separate window, but this isn't really a common pattern in web apps. We'd have to think about the user experience and if this is even possible.

[2020-09-29 16:55] deveshbamola opened #8033 "I have setted up osm for india on my machine using docker ! how can i edit the osm map of india which is in pbf file. can i use this to edit my changes locally ?"
i want to edit the osm file of india which is .pbf format and add some custom text or custom location on the map on my local machine! "how can i achieve that" with this

[2020-09-29 17:09] quincylvania commented on #8033
Welcome, @deveshbamola. You can't edit a pbf file directly with iD, but if you have your own fork of the [OpenStreetMap backend](https://github.com/openstreetmap/openstreetmap-website) then you can [point iD to edit that](https://github.com/openstreetmap/iD/blob/5239017cdfce0f78e9948cc4a58909a8c6948bb8/index.html#L48-L58) instead of the main map.

For more details about setting up your fork, check

[2020-09-29 17:09] #8033 closed, assigned to nobody

[2020-09-29 18:47] quincylvania opened #8034 "Highlight the affected features when hovering over an operation"
Some operations from the edit menu, such as Split, Disconnect, and Continue, can relate to features that aren't selected. While often the affected features are obvious, they can be tougher to predict in a complex situation like an intersection with lots of connections or overlaid points.

We should highlight the related features when you hover over the operation so people will know what will happe

[2020-09-29 19:49] #6047 closed

[2020-09-29 19:54] quincylvania commented on #6047
I know this was a year and a half ago, but thanks for the kudos! I hope our subsequent work has also helped you out.

I changed this so you can still split the area if none of the connected lines can be split (e.g. they're endpoints). While in some cases this might be unexpected, it's usually clear after the fact what's been split and the mapper can easily undo. If we do #8034, then iD will highli

[2020-09-29 20:18] #5174 closed

[2020-09-29 20:22] quincylvania commented on #5174
I ended up doing this. I really don't think we can have iD disconnect stuff automatically after splitting, but now you can achieve it with one extra keypress instead of shuffling the selection manually.

[2020-09-29 20:48] quincylvania opened #8035 "Browser zoom breaks trackpad map navigation in Firefox"
Browser zooming is an important accessibility feature. iD mostly handles it fine, but in Firefox zooms other than 100% make it hard to navigate the map via multi-touch trackpads.

[2020-09-29 23:38] andrewharvey commented on #8027
Though perhaps there should be a separate preset for "toilet block" and "toilets". Someone adding a toilet node for toilets inside a shopping centre shouldn't use building on it, but a toilet block in a park which only houses toilets, then it should have building=toilets.

[2020-09-29 23:42] andrewharvey commented on #8028
You have to be careful here because of https://wiki.openstreetmap.org/wiki/Wikidata#Importing_data_from_Wikidata_into_OSM so you should not be doing this and tools shouldn't be doing it for you either.

[2020-09-30 00:23] jidanni commented on #8028
Hmmm, during the whole process no red flags occurred, and most fields were filled in for me.
So this tool needs the red flags added!

[2020-09-30 00:31] jidanni commented on #8028
Without big warnings (at every step?), most users will think "wiki"="cool", plus "the preset is encouraging me to fill this in".

[2020-09-30 01:00] TheAdventurer64 commented on #7904
https://wiki.openstreetmap.org/wiki/Juice

[2020-09-30 01:02] andrewharvey commented on #7543
Maybe this is regional, from my experience in Australia many apartment buildings will have a name.

[2020-09-30 01:03] andrewharvey commented on #7543
Instead perhaps build into the validator a warning when the name is "Garage" or "House" etc.

[2020-09-30 01:36] jjiglesiasg commented on #7543
In mostly of South America, all residential and commercial buildings have a name , apart from the cadaster number given by the municipality

From: Andrew Harvey [mailto:notifications@github.com]
Sent: Tuesday, September 29, 2020 9:03 PM
To: openstreetmap/iD <iD@noreply.github.com>
Cc: Subscribed <subscribed@noreply.github.com>
Subject: Re: [openstreetmap/iD] Hide name field for residential buildin

[2020-09-30 10:50] Jakuje commented on #7975
Technically, it is possible to open a new browser window and talk with it from the main one (or get updates from there). Lets take google slides for example, where you open slides in new window for presenting and then open a separate speaker notes window, where slides are changing synchronously.

[2020-09-30 14:21] quincylvania commented on #8028
iD doesn't fill in any tags with values from Wikidata except the Wikipedia link. Mappers are free to do this themselves if they're sure it's okay. If the OSM wiki is right, then iD can't know which values are safe and which aren't, and we're not going to set ourselves up for license conflicts.

[2020-09-30 14:21] #8028 closed, assigned to nobody

[2020-09-30 14:41] quincylvania commented on #7975
@Jakuje Yes, but iD is embedded in an iframe on osm.org, so I'm not sure about that dynamic. Browsers can also be cagey about how they handle popup windows.

[2020-09-30 15:24] seahorse41 opened #8036 "Save changes locks up, how to import changes.osc"
I was editing ok this morning in my lightweight browser (Seamonkey), so I think the servers are up. But it would not show the trace I uploaded, so I switched to Firefox (68.12.0esr) to edit ways with that trace as reference through the tree cover.
Now when I press save and Upload, it freezes.
The browser tells me the script is slow or stuck. I press Wait...
Half an hour later I try Stop. Now the g

[2020-09-30 17:33] maro-21 commented on #7543
Yes, there are 1851 `building=apartments` with `name` in Australia.
So we can exclude some of them from the list in my first message.

Which countries?

[2020-09-30 17:52] quincylvania commented on #7543
Yeah, I don't think iD needs to go down the path of worrying about what type of building might be likely to have a name in what country. It's okay to show fields that aren't always needed. If we do openstreetmap/id-tagging-schema#2051 then we might not even have all these building presets by default. Closing for now as low impact.

[2020-09-30 17:52] #7543 closed, assigned to nobody

[2020-09-30 18:40] #7974 closed, assigned to quincylvania

[2020-09-30 18:41] quincylvania commented on #7974
@jgscherber Thanks for reporting!

[2020-09-30 18:45] quincylvania commented on #7177
#7885 made the Mapillary traffic sign/photo linkage more robust and hopefully fixed these issues.

[2020-09-30 18:45] #7177 closed

[2020-09-30 19:49] SHARCRASH commented on #7992
@quincylvania Sorry for not having replied. I couldn't reproduce it neither, after you had replied, nor recall where i had tried. I gave it a few tries elsewhere and each time it did only unselect where i clicked on the cross.

Thanks for all the help!

[2020-09-30 20:46] #8034 closed, assigned to quincylvania

[2020-09-30 20:50] maro-21 commented on #7543
The previous message was only about apartment buildings which I deleted from my first post.
There is still a long list with buildings which typically don't have a name and my idea was to prevent typing a common name to the field like "garage" for building=garage.

iD hides names on some features like `amenity=bicycle_rental` or `amenity=parking` - it's becasue they usually don't have names or name

[2020-09-30 22:14] willemarcel opened #8037 "Make hashtags field customizable"
On Mapathons it's common to ask the mappers to add a hashtag to the changeset comment to make it possible to compute stats of a specific event, but many users edit the hashtags field instead of the comment and the tools used to query changesets don't support the hashtags field.

A suggestion is to customize the behaviour of the hashtags field, making it possible to hide it by the API. Other possib

[2020-09-30 22:41] jidanni commented on #8028
Well all I know is I didn't type e.g., that Description in the above image. It got entered for me after I fed it the Wikidata link.

[2020-09-30 23:16] andrewharvey commented on #8028
The description showing there is not actually saved into the OSM database, iD shows it to help make sure you've added the right wikidata ID.

[2020-09-30 23:26] andrewharvey commented on #7543
I think this is getting into tricky territory, hiding the field just because many don't have a name is at the direct expense of those that do and could mean a new mapper doesn't add a name where they could have. My counter point is many parking lots are named and so the name field should be shown for these, same for bicycle rental many of these are shops that rent bikes with a name. So where these

[2020-10-01 02:49] jjiglesiasg commented on #7543
I dissagre. Name field should be ALWAYS shown for buildings (even for everything in OSM), placing generic names however not encouraged, is better than hide the field and preclude that the data is Not added, existing it.

[2020-10-01 02:56] jjiglesiasg commented on #7543
In mostly of South America, all residential and commercial buildings have a name , apart from the cadaster number given by the municipality

Which countries?

Following the tradition of Spanish and Portuguese heritage almost in all countries on Latam (Spanish or Portuguese speaking ones) the buildings have a distint name, I have lived in 6 of them (Venezuela, Colombia, Brazil, Argentina, Costa Ric

[2020-10-01 03:03] jjiglesiasg commented on #7543
This could be tricky as well we have a massive edition where "casa", "vivienda", "habitacion", and others synonymous in spanish were used, all meaning more or less "house" so a warning should be for all languages, wich I guess is impossible

[2020-10-01 03:04] andrewharvey commented on #7543
Yes my suggestion wasn't limited to English, it would also include variants in other languages too.

[2020-10-01 03:16] jjiglesiasg commented on #7543
As a note some countries in Latam also have the tradition to place names to actual uni-familiar houses, Venezuela for example; the cadaster number or number in the street is not shown... mostly other countries here do not have name for houses but yes for buildings at least residential, apartments, terrace, garage, commercial, roof, etc

[2020-10-01 08:01] sun-geo commented on #8036
So far I know iD has (yet) no import function for osmChange files, see also #7109.
This is one of three main cases (next to #6539 & sorting big ptv2-relations) when i have to switch to the JOSM editor.

[2020-10-01 14:26] seahorse41 commented on #8036
I guess I was "hoping for a long shot." So I just started again from scratch, with 2 browsers, one to see the gpx trace, and one to do the editing.
So let's ignore the hopeful osc question and just look at Firefox 68.12.0esr running iD 2.18.5 which consistently fails to save any changes. It's broken.

[2020-10-01 15:53] quincylvania commented on #8004
Putting aside the map, which has no focus support, I was able to significantly improve keyboard navigation in the rest of the UI. Previously, there were lots of unfocusable controls, backwards ordering, non-trapping modals, and controls with no focus styling.

Since we've gone from non-usable to usable, I think we can close this issue. But there's still more to be done to make keyboards first-clas

[2020-10-01 15:53] #8004 closed, assigned to quincylvania

[2020-10-02 02:57] jidanni opened #8043 "Background panel could be thinnner"
Actually if the Background panel could automatically squeeze out the whitespace in itself,
![1610-8](https://user-images.githubusercontent.com/1230959/94883610-a2a48680-049d-11eb-9e26-8c9523ca3a09.jpg)
it could be a lot thinner.
This is important also when making an offset, as more of the screen should be visible while doing so.
Yes the two lines of text at the bottom could be made into three, and

[2020-10-02 02:59] jidanni commented on #8043
None of these lines uses up all the width given to them:

[code]

[2020-10-02 03:10] jidanni opened #8044 "Disposal methods for Portable Toilet roundabout entry"
This is an odd user experience for the user wanting to choose "unknown" as disposal method for Portable Toilet.

He cannot choose it, or manually enter it here, no matter how hard he tries,
![29844-9](https://user-images.githubusercontent.com/1230959/94884176-4c384780-049f-11eb-8ea9-ab8a80cb902f.jpg)

However, he discovers he can choose it below,
![12084-11](https://user-images.githubusercontent.c

[2020-10-02 04:53] tordans opened #8045 "Deprecate barrier=chicane to barrier=cycle_barrier"
I find those tags very confusing and it would be great if iD helped me by updating the wrong one.

The confusing part to me is, that chicane is a valid value, but as traffic_calming=chicane https://wiki.openstreetmap.org/wiki/Key:traffic_calming for slowing down traffic.

However, the same principle of infrastructure to slow down bikes is tagged barrier=cycle_barrier and not barrier=chicane, see h

[2020-10-02 13:49] quincylvania commented on #7301
Yes, I think we can group these together as "better background layer navigation".

[2020-10-02 13:49] #7301 closed

[2020-10-02 14:09] quincylvania commented on #5694
@vanreece built a version of this for RapiD: https://github.com/facebookincubator/RapiD/pull/179/

[2020-10-02 14:15] #8045 closed, assigned to quincylvania

[2020-10-02 14:18] quincylvania commented on #8045
@tordans Thanks, nonstandard `barrier` tags like this are a real problem since routers will often be cautious and prevent all traffic for unrecognized values.

[2020-10-02 14:34] quincylvania commented on #8044
Yes, iD limits some fields to the recommended values in order for them to be translated. The raw tag editor exists for situations where you still want custom values. If we re-implement #7411 then we could have both translated and custom values.

Also, `unknown` isn't a recommended value for any tag since it's usually the same as not tagging anything. In fact, it can troll data consumers by making

[2020-10-02 14:34] #8044 closed, assigned to nobody

[2020-10-02 14:55] jidanni commented on #8044
(Actually in this case simply hitting the trash can icon on Disposal gave:
[code]
So indeed users do need to do the _dirty_ work of finding out just what kind of toilet they are sitting on...)

[2020-10-02 15:57] quincylvania commented on #8044
@jidanni Are there common portable toilets without chemical disposal? If so then we can remove this warning.

[2020-10-02 16:27] jidanni commented on #8044
Well even though https://www.toiletsforsale.com/10-common-types-portable-toilet/ lists various types,
I'm just saying the simple mapper shouldn't be required to "thrust his head into the hole to find out exactly what kind of portable toilet it is, before being allowed to leave (his edit.)"

And even if he isn't the toilet user, snooping around toilets at sporting events to find out what kind they

[2020-10-02 16:34] jidanni commented on #8044
P.S., I note "Portable" isn't mentioned on
https://wiki.openstreetmap.org/wiki/Tag:amenity%3Dtoilets
and in fact the fact that it is portable or not only appears in the prompts,
and is lost when the final tags are composed.
Rather surprising.
OK, one could say "that it has wheels or can be picked off the ground doesn't matter for mapping."

[2020-10-02 17:30] #6398 closed

[2020-10-02 17:38] manfredbrandl commented on #8043
I suggest the white space to be used to stretch the sliders instead.

[2020-10-02 17:44] quincylvania commented on #8044
Okay, we can remove the warning. Refer to #7783 for discussion on this preset. This stuff isn't all that important in the grand scheme of the map—you can ignore warnings or leave things blank or map these are plain toilets or not map these at all.

[2020-10-02 17:56] quincylvania commented on #8043
@manfredbrandl I coincidentally did this already for the next release, along with support for values up to 300% instead of 200%.

<img width="386" alt="Screen Shot 2020-10-02 at 1 44 42 PM" src="https://user-images.githubusercontent.com/2046746/94953384-7694ff80-04b5-11eb-8f1f-b2a5d1fdc7c2.png">

@jidanni There could be longer layer names shown in different parts of the world or in different langu

[2020-10-02 17:56] #8043 closed, assigned to nobody

[2020-10-02 19:08] #8000 closed, assigned to nobody

[2020-10-02 19:16] #7914 closed, assigned to nobody

[2020-10-02 19:17] #7947 closed, assigned to nobody

[2020-10-02 20:15] forteller opened #8047 "Show search results of the same type of thing first when changing object type"
Ok, not sure if this is even possible without too much work for it to be worth it, but it's been bothering me, and it probably results in errors in OSM, I think, so I will post it, and let you decide what/if to do anything about it.

Here's my scenario:

I find a building that's only tagged as a "building", but I know it's a kindergarten. So I select it, click on the object type to change it and s

[2020-10-02 20:26] quincylvania commented on #8010
Thanks!!

I'm not sure what you mean… there's already a circularize operation.

<img width="406" alt="Screen Shot 2020-10-02 at 4 19 51 PM" src="https://user-images.githubusercontent.com/2046746/94966364-2032bb80-04cb-11eb-8755-903925b530f8.png">

To clarify, you're proposing an option to force all corners to 90 degrees instead of only squarish corners?

[2020-10-02 20:50] quincylvania commented on #8017
@danielsjf So this came up before in #6879 and was closed as essentially too complex. These tags use some nonstandard patterns that are different from almost everything else in OSM, meaning iD can't support them out-of-the-box. People can invent whatever tags they want in OSM, but that doesn't mean editors can always support them…

[2020-10-02 21:12] 1ec5 commented on #7543
Doesn’t iD already warn about generic names in the Name field? Maybe it isn’t working in some languages or needs to check for some additional generic words related to buildings?

[2020-10-03 01:38] #1881 closed

[2020-10-03 01:39] quincylvania commented on #1881
A rather old issue, but I was still able to produce it with @tyrasd's steps… thanks!

Couldn't reproduce this, so I'm assuming it's been fixed by now 👍

[2020-10-03 05:02] tordans commented on #6398
@quincylvania I know I am late to the party, just a quick though: Reading `photo=mapillary-eZxLgJ9sHstg0ySKE3plLw` makes me think of an ID that is actually `mapillary-eZxLgJ9sHstg0ySKE3plLw`. But reading your comment, its more of a identifier/category+ID which IMO could be shown a bit better by something like `photo=mapillary/eZxLgJ9sHstg0ySKE3plLw` or `photo=mapillary;eZxLgJ9sHstg0ySKE3plLw` or `

[2020-10-03 08:36] FransS1945 commented on #8010
Hi. Thanks for responding. When I started this issue I referred to an earlier request to square buildings in ID editor. I forgot to mention the request and cannot find it back. Sorry for that.
Nevertheless , the aim is to achieve a straightforwaring building with 90 degrees corners.  (4-6-8 -12 etc) without extra handlings.
As said, the majority has rectangular forms.
When a mapper uses the Q key

[2020-10-03 09:01] FransS1945 commented on #8010
Hi,  a question.  Sorry, I am a dummy on Github and think i've closed my request
When i did, it was by accident.

[2020-10-03 10:22] RAytoun commented on #8010
Hi Quincy,
Frans is referring to a long standing problem that we have with inexperienced mappers starting off using iD Editor and for more than two years now the repeated idea for a building tool similar to the one in JOSM has been made. This tool automatically draws with squared corners and automatically tags it with _building=yes_. I do agree that the present iD setup does allow for all mappers

[2020-10-03 12:56] danielsjf commented on #8017
@quincylvania, thanks for reopening. Just socket:type2 (one of the popular ones) has already 14k tags and this will only increase. Even though I agree that the choice of the tagging scheme was poor, I don't see it changing anytime soon.

Replying in this thread since the other one is closed:
* I agree with @bhousel in https://github.com/openstreetmap/iD/pull/6879#issuecomment-547607403 that curren

[2020-10-03 13:21] jidanni opened #8048 "Add: That address is already in the database warning"
Long term wishlist (so please don't close the bug that fast):
Add: "That address is already in the database" warning.

This will effectively prevent duplicate addresses from entering the database. A condition which could lead to problems during emergency situations. Thanks.

[2020-10-03 13:26] jidanni commented on #8048
One might think: "So simple, just look around the street.  It's obvious if you're creating a duplicate address." Well it's not so simple, especially in hilly areas, where the same address might get accidentally entered kilometers away.

[2020-10-03 13:28] jidanni commented on #8048
Sure, some Twin Towers might share the same address. In this case the user would just click "Yes, I know."

[2020-10-03 18:36] TheAdventurer64 commented on #8048
All warnings come with an "Ignore this Issue" button. I personally don't support this issue, as it would be problematic in [these situations](https://www.openstreetmap.org/#map=16/19.4896/-154.9417). I think it would cause a lot of clutter.

[2020-10-04 03:24] jidanni commented on #8048
I see. All buildings there,
https://www.openstreetmap.org/way/493120847
https://www.openstreetmap.org/way/493120848 ...
have the same address.
OK, maybe have the warning appear only when the address (attempted, not yet saved edits) tally goes from 1 to 2.
Beyond that, 3, 4, 5... assume that users know what they are doing.

[2020-10-04 03:57] jidanni opened #8049 "Save button's yellow color should clear upon resolution of all issues"
Here we choose "Delete this feature",
![25385-4](https://user-images.githubusercontent.com/1230959/95006534-37db8280-0638-11eb-84f3-6de76cd9c13c.jpg)

OK, that decrements the changes counter, but doesn't clear the yellow color!:
![9380-5](https://user-images.githubusercontent.com/1230959/95006553-635e6d00-0638-11eb-9601-9d3bab24884f.jpg)

(Clicking the Save button now confirms that no other issues

[2020-10-04 05:24] jidanni opened #8050 "access=customers for gates, chains, etc."
Gates etc.
![26515-13](https://user-images.githubusercontent.com/1230959/95007661-9b6bad00-0644-11eb-9afd-cee6e8972e17.jpg)
need to offer
https://wiki.openstreetmap.org/wiki/Tag:access%3Dcustomers
tags, just like the parking lots they lead to.

[2020-10-04 09:36] mmd-osm commented on #8049
That color is just a reminder for you to upload your changes. The more changes you made, the more red the background turns. It’s unrelated to the number of issues.

[2020-10-04 09:54] ferdi2005 opened #8051 "Disused:amenity transforms area in line"
If I use disused:amenity as tag and theatre as value, the areas becomes a line.
<img width="1555" alt="Schermata 2020-10-04 alle 11 53 33" src="https://user-images.githubusercontent.com/19609180/95012366-3b6f0980-0638-11eb-9285-13a2d0b2673b.png">

[2020-10-04 18:40] sun-geo commented on #8051
Which behavior would you expect instead?

[2020-10-04 20:22] ferdi2005 commented on #8051
@sun-geo I’d expect to see it as an area, greyed out or with some indication of disused. I’d certainly not expect to see it as a line.

[2020-10-04 23:34] #8051 closed, assigned to quincylvania

[2020-10-04 23:34] quincylvania commented on #8051
Hi and welcome, @ferdi2005. This happens because OSM doesn't have a separate `area` geometry type, so iD guesses what's an area based on the tags. Since iD didn't know whether `disused:amenity` should be an area, it falls back to line. You can add `area=yes` to anything like this to make it an area.

I added an unsearchable Disused Amenity preset to fix this.

[2020-10-04 23:48] quincylvania commented on #8049
This is true, but it's also a similar shade of yellow to iD's warnings 🤔

I don't think we need to make any immediate changes, but we can keep this in mind going forward.

[2020-10-04 23:48] #8049 closed, assigned to nobody

[2020-10-04 23:49] quincylvania commented on #8048
Thanks, we're considering a version of this in #7740.

[2020-10-04 23:49] #8048 closed, assigned to nobody

[2020-10-05 00:08] quincylvania commented on #6398
@tordans Hmm, that's a good point. The slash might work better. We can easily change this since we haven't released it yet.

[2020-10-05 05:37] ferdi2005 commented on #8051
@quincylvania and can’t you add that iD recognizes disused:amenity as an area tag like amenity?

[2020-10-05 08:35] jidanni commented on #8049
That's the first time I've ever encountered gradual color change style warnings/messages. Sounds like an enormous usability issue, to be interpreted by different people in different ways depending on how bright their screen is etc. Sounds like a nightmare.

[2020-10-05 08:40] jidanni commented on #8049
There really only should be two states, 1: you have things to upload. 2: you don't have things to upload.
As far as warnings,  that should be on a separate indicator,  next to the upload button. Perhaps a red triangle with an exclamation point in the middle.

[2020-10-05 08:41] jidanni commented on #8049
Indeed, if there's nothing to upload then the upload button could be greyed out. Perhaps it already is,  I'm not at a terminal at this moment.

[2020-10-05 08:43] jidanni commented on #8049
Anyway , as you can see, users are not going to understand this (Save (/upload) button) as it is currently.

[2020-10-05 11:34] forteller opened #8052 "Select the first object type when pressing enter, even if you haven't searched for it"
When creating an object you can start typing directly and press enter to select the first search result. But often you create many objects of the same type in a row, and if you don't search for the object type, pressing enter directly after creating an object does nothing. Pressing enter should select the top "result", even when you don't need to search for it.

Thanks!

[2020-10-05 11:38] maro-21 commented on #7543
Isn't it `addr:housename`?

Can you give examples of garages and roofs with names?

Yes, it does for some features, but the list is short. Unfortunately it mixes languages. For example "mercado" was added as a generic name for amenity=marketplace for Spanish, but in my city there is a Spanish restaurant named "Mercado" and iD warns about it. The same for "Casa" - it can be a generic name in Spanis

[2020-10-05 12:59] quincylvania commented on #8049
No, an enormous usability issue would be if people couldn't perform iD's basic functions. The changing button color is purely cosmetic. It's been around for years and this is the first time anyone has reported a problem. It's intentionally subtle until you have lots of unsaved edits.

[2020-10-05 13:01] quincylvania commented on #8051
Yes, this is what I did here:

[2020-10-05 14:23] #7958 closed, assigned to nobody

[2020-10-05 18:15] #7970 closed, assigned to quincylvania

[2020-10-05 18:22] M3yby commented on #8052
Hello, I am student of university in Slovakia, in the field of IT. I would like to participate on this issue to solve it. Thank you.

[2020-10-05 18:36] quincylvania commented on #8025
I tested the scenario and this should work. Disconnecting the node alone would disconnect all the ways, so iD is blocking you from disconnecting the railways (which are in the same relation). If you only want to disconnect the path, you have to select that along with the node.

Theoretically we could allow iD to disconnect the ways which aren't relation members. I'm not sure if this would be confu

[2020-10-05 18:44] bhousel commented on #8037
So I originally added the hashtags field in 2015 ,  this is the tracking issue: #2834.  We did this for mapathons, and made it so that the task manager could prefill the comments and hashtags independently if needed.

If in 5 years the "tools used to query changesets don't support the hashtags field" - can we just agree that it's a failed experiment and remove the field entirely?

It seems silly t

[2020-10-05 19:51] BriskySK commented on #8015
Hi, I would like to participate to try to solve this problem.

[2020-10-05 19:52] quincylvania commented on #7977
@tordans Supporting `ramp=yes`/`no` sounds okay. But I find `ramp=separate` confusing since these are mapped as distinct ways anyway. It has [less that 1%](https://taginfo.openstreetmap.org/keys/ramp#values) of the uses, so I'm inclined to leave it off.

[2020-10-05 19:56] #7977 closed, assigned to quincylvania

[2020-10-05 19:59] quincylvania commented on #8052
Welcome, @M3yby. Check out our [contributing guide](https://github.com/openstreetmap/iD/blob/develop/CONTRIBUTING.md) to get started. This particular issue can probably be solved in the [modules/ui/preset_list.js](https://github.com/openstreetmap/iD/blob/develop/modules/ui/preset_list.js) file. Let us know if you have questions, good luck!

[2020-10-05 20:05] quincylvania commented on #7943
We might show a remaining character count as your input gets long in textarea fields, instead of some obtrusive warning. These are fairly standard nowadays.

[2020-10-05 20:08] willemarcel commented on #8037
OSMCha supports querying by any changeset metadata field currently, but we don't have a complete OSM database.

The software used by MissingMaps/HOT to provide stats uses only the changeset comment though (https://github.com/AmericanRedCross/osm-stats/issues/48). Someone who needs a complete history stats would rely on the comment field too.

[2020-10-05 20:20] quincylvania commented on #8037
@bhousel Thanks for the background info. If the hashtags field is really causing more headache than benefit I'd be happy to remove it and streamline the save screen.

@willemarcel Are there times where people actually need this field, or do you think we can remove it?

[2020-10-05 20:24] quincylvania commented on #8015
@krisThis-some This might be a complex issue, but if you'd like to try it then check out our [contributing guide](https://github.com/openstreetmap/iD/blob/develop/CONTRIBUTING.md) to get started. The [modules/ui/fields/localized.js](https://github.com/openstreetmap/iD/blob/develop/modules/ui/fields/localized.js) file would be a good place to get started. Let us know if you have questions, good luc

[2020-10-05 20:33] willemarcel commented on #8037
@quincylvania I don't know any case people use it. I'll ask on the HOT Slack.

 I saw that JOSM is also adding the hashtags field, the same way as iD, but it's not so visible to users. Maybe it would be good to coordinate with JOSM developers if we remove it or make it only editable on the fields table.

[2020-10-05 21:24] maro-21 commented on #7970
Thank you!:)

[2020-10-05 23:57] pedjas commented on #8015
I guess this could help:

Displayed value should be presented in both native and Latin (or English script). That should solve most of the cases (actually that was how it was done in older version of ID, and it was satisfactory). So solution was already there, it is removed.

Additional approach is to transliterate whatever user types in into Latin and do search both in original typed text and Lati

[2020-10-06 00:52] jidanni opened #8055 "Trace text background assumed to be always dark"
When looking at My Traces / edit, what is not too hard to read on a dark background:
![13731-3](https://user-images.githubusercontent.com/1230959/95146557-b9562080-07b0-11eb-9bd4-f66bcce1d197.jpg)
Becomes a usability disaster on a light background:
![24736-2](https://user-images.githubusercontent.com/1230959/95146570-c410b580-07b0-11eb-9c6c-4380c76bd118.jpg)
I wonder if ditching the magenta for pl

[2020-10-06 13:04] quincylvania commented on #7842
I looked into this, the string is set here:

https://github.com/openstreetmap/iD/blob/c8069a58f67a8b6700c23bd15d49b269d2d1fb33/modules/renderer/background_source.js#L99-L101

So iD is supposed to be prioritizing the name for some reason and falls back to the layer ID. However, in https://github.com/openstreetmap/iD/commit/0917bc718913892b56cf2dbd5ff691190f45bc04 we changed `name` to `_name` everyw

[2020-10-06 13:14] quincylvania commented on #7876
Hi and welcome, @rbuffat.

There is a character limit, so we can't put too much in this tag. The attribution might be more human-readable, but I'm afraid it'd be noise for tools trying to process this tag if we included both. You can cross-reference the name with [entries in the editor-layer-index](https://github.com/osmlab/editor-layer-index/tree/gh-pages/sources) to find the attribution text or

[2020-10-06 13:14] #7876 closed, assigned to nobody

[2020-10-06 13:26] rbuffat commented on #7876
@quincylvania Thanks for your insights! I see this limit makes it difficult. I agree in most cases it is possible to cross-reference with ELI, but as names can change at any time, there is no guarantee that this will be easy or even a unique match can be found.

Personally, I think a good attribution of the used sources is important. Some kind of a [DOI](https://en.wikipedia.org/wiki/Digital_objec

[2020-10-06 13:39] quincylvania commented on #7876
I agree using a unique ID would be better than a name. ELI has these and with #7842 we'll probably switch to them. The nice thing with Github is that you can always go back to see what the identifier used to refer to even if it's been changed or deleted.

[2020-10-06 16:27] ferdi2005 commented on #8051
@quincylvania Thanks!

[2020-10-06 17:00] rbuffat commented on #7876
That's true, as long as github exists, respectively git is used for the index.

[2020-10-06 17:21] rbuffat commented on #7842
Is there a standard way/guidelines on how OSM editors should mention imagery in changesets that should be followed? Would it hurt if somebody from ELI, maybe @grischard, would comment on this?

[2020-10-06 17:27] grischard commented on #7842
Hi! Ideally, all editors would agree to do the same thing. JOSM uses names, and I'm not sure what the others do. It depends on whether you think those tags should be machine-readable or human-readable. DWG sometimes has to machine-read them, and there's always a part of human assistance.

[2020-10-06 17:47] maro-21 commented on #7842
ID is just an ID. I think we should use names because changeset tags are for humans.
This issue is about that Mapnik is not an imagery, there isn't such on the list in iD, so if someone sees `imagery_used=MAPNIK`, it is not known what it is. The same with an example mention above: "geovekst-nib" instead of "Norway Orthophoto".

[2020-10-06 19:57] Cj-Malone commented on #7924
Once it lands it might be a good idea to make sure everything gets cleaned up. [overpass](https://overpass-turbo.eu/s/YN2)

[2020-10-06 20:24] tordans opened #8057 "Custom Image Layer WMS does not resolve the {vars}"
Testcase:

1. Open https://www.openstreetmap.org/edit#map=17/52.50676/13.42419
2. Choose image layer "berlin areal images 2015" => it works – this is TMS
3. Choose image layer "berlin areal images 2011" => it works – this is WMS, see https://github.com/osmlab/editor-layer-index/blob/master/sources/europe/de/Berlinaerialphotograph2011.geojson
3. Chosse custom image layer with the wms-URL from the e

[2020-10-06 21:46] andrewharvey commented on #7842
I'm leaning towards name, it's consistent with JOSM and generally makes it much easier for humans to quickly see what imagery was used.

[2020-10-07 00:48] quincylvania commented on #7842
The identifiers could be made human-readable too, it's not a complete trade-off. But if the names never change and are unique, then they're essentially a second set of identifiers. Can we assume this is true?

Normally I'd be worried about accessibility for non-English speakers, but most of these are proper nouns and translation is an unsolved problem with all of OSM's tags anyway.

Yeah, thinking

[2020-10-07 05:22] tordans commented on #7977
@quincylvania thanks. For reference, see also https://github.com/westnordost/StreetComplete/issues/2036#issuecomment-703252986 with thought about the separate-value.

[2020-10-07 08:50] MRVDH opened #8061 "Mapillary sprite request seems to block map object request"
Mapillary sprites need some time to load when there are a lot of pictures. Requests after that, such as getting ways, points, areas etc seem to load only after the mapillary request has been completed.

![image](https://user-images.githubusercontent.com/6686385/95308835-ab74ce00-088a-11eb-9137-bc7f0595ea81.png)

[2020-10-07 13:19] DujaOSM commented on #8025
I think it would. However, I think a hint towards the workaround in the error message would be in order. Along the lines of "Try to Shift+Select specific objects to disconnect" -- it's difficult to formulate a short but understandable message.

[2020-10-07 13:34] quincylvania commented on #8061
@MRVDH This looks like the release version of iD on osm.org? I recently did #7982 which delays loading these photo overlay resources until the mapper enables those layers, instead of always loading them on launch. This makes things more efficient and I believe fixes the problem 👍

[2020-10-07 13:34] #8061 closed, assigned to nobody

[2020-10-07 17:19] 1ec5 commented on #8037
In the past, I’ve occasionally found hashtags useful for spotting an organized mapping activity, such as a classroom activity or homework assignment. People seemed to be entering them in spontaneously, identifying their class, even if it wasn’t part of an instruction. I don’t think we’d get that spontaneous hashtagging if the field is off by default, but at the same time I don’t know how much of a

[2020-10-07 21:38] jidanni opened #8062 "Cannot insert a node exactly in the middle of a line if direction marker is present"
Here, even though the pointer (not shown) is "<+", when we hold it over the edge,
![X3](https://user-images.githubusercontent.com/1230959/95390297-bc275180-0927-11eb-926f-db7ec6ac4aad.jpg)
However, if we hold it exactly on top of any of those four direction arrows (<),
no matter single click, nor double click, there is no way to insert a node in the line there (for no good reason.)
I.e., we cannot

[2020-10-07 21:41] quincylvania commented on #8062
@jidanni Thanks, this is probably #7972, which has been fixed for the next release.

[2020-10-07 21:41] #8062 closed, assigned to nobody

[2020-10-07 23:40] #8055 closed, assigned to quincylvania

[2020-10-07 23:40] quincylvania commented on #8055
Yeah, I never loved the pink. There are lots of ways we could make custom data nicer, but this is an easy one.

[2020-10-08 13:29] #7842 closed, assigned to quincylvania

[2020-10-08 14:15] quincylvania opened #8065 "Switch from buble to babel for ES5 transpilation"
With more and more of iD's dependencies adopting ES6, we've run into code that [buble](https://www.npmjs.com/package/@rollup/plugin-buble) can't entirely handle (#8056, #8029). While buble has been nice and lightweight, we've reached its limits and thus I think it's time to look into [babel](https://www.npmjs.com/package/@rollup/plugin-babel).

[2020-10-08 14:26] #8065 closed, assigned to quincylvania

[2020-10-09 09:48] DujaOSM opened #8068 "This can't be done because not enough of this is currently visible"
I noticed that, with every new release, iD becomes increasingly picky about operations with objects that cannot fit into the current viewport, complaining that "This can't be X because not enough of this is currently visible". While I understand that iD has limitations, many new checks seem arbitrary, and operations that used to previously work just fine seem to be disabled for no apparent reason.

[2020-10-09 12:22] quincylvania commented on #8068
Hi @DujaOSM. Yes, we've recently filled in a few missing safety checks. These are meant to avoid unintended effects for everyone, but particularly new users. It shouldn't be possible to duplicate Iceland, delete the Nile, or disconnect the Autobahn by accident.

That said, we're also trying to make iD scale to the needs of advanced mappers. #2929 is about manually allowing disabled operations for

[2020-10-09 12:22] #8068 closed, assigned to nobody

[2020-10-09 12:26] matkoniecz opened #8069 "Splitting ways corrupts step_count"
When a way with a value for `step_count` (e.g. `step_count=5`) is splitted, two ways are created with the same value for `step_count`, which leads to the total steps of both ways being doubled (two ways with `step_count=5` in a row => 10 steps in total)

Simply removing tag would be better

related to  #3740

triggered by https://github.com/westnordost/StreetComplete/issues/2145 https://github.com

[2020-10-09 13:19] quincylvania commented on #8069
@matkoniecz Hmm instead of removing the tag, I think iD can be smart enough here to distribute the step count proportionally to the resultant lengths. Sure it may not be 100% accurate, but it should be pretty close and it preserves the total step count.

[2020-10-09 13:48] #8069 closed, assigned to quincylvania

[2020-10-09 14:37] DerDings commented on #8069
I don't think this is a good idea. At least the user should be asked if the assumed counts are correct. There are very few stairs that need to be split at all. If one property varies so much that the way needs to be split, it is likely that the measures of the steps also vary.

We're not talking about simple stairs here, because those probably don't need to be split at all.

[2020-10-09 16:06] maro-21 opened #8070 "New preset: shop=honey"
https://wiki.openstreetmap.org/wiki/Tag:shop%3Dhoney

[2020-10-09 16:06] maro-21 opened #8071 "New preset: shop=hvac"
https://wiki.openstreetmap.org/wiki/Tag:shop%3Dhvac

[2020-10-09 17:30] westnordost commented on #8069
There are some more tags that might have a meaning for the geometry. Discussion still happening in https://github.com/westnordost/StreetComplete/issues/2145 but the following came to my mind:
- `capacity `(f.e. bicycle parking mapped as line)
- `parking:lane:[left/right/both]:capacity` (described as "possible enhancements" to the parking lane schema on the wiki, so not official, but I think the ta

[2020-10-09 17:52] quincylvania commented on #8069
@DerDings I'm afraid most mappers won't know nor care which part has exactly how many steps. iD is meant to help non-experts contribute usable data, not perfect data. It's not ideal to estimate, but it'd be a real problem if someone goes out and surveys step counts for accessibility and then later iD discards that data entirely.

Probably, but if so then it's not worth worrying too much about this

[2020-10-09 17:56] westnordost commented on #8069
`incline` certainly would :-)

I tend towards deleting `step_count` (etc) when implementing this in StreetComplete because once this tag is tagged wrongly, it is quite unlikely that someone else will notice and correct it while of course when the tag is missing, it can be detected easily that the information is missing (by StreetComplete).

**Edit:** capacity, step_count etc. are all properties th

[2020-10-09 18:00] quincylvania commented on #8071
@maro-21 Hmm 144 really isn't that many uses. Is this in the NSI or something?

[2020-10-09 18:57] maro-21 commented on #8071
Just a missing shop tag. The tag isn't popular because the shop isn't that popular either ;) But such shops exist.

[2020-10-09 19:08] quincylvania commented on #8071
@maro-21 Yes, there are thousands of different types of shops, but there's a maintenance cost to every preset so our goal isn't really to support all of them…

[2020-10-09 20:03] DerDings commented on #8069
If estimating is preferred, a tag like `fixme=check <key>` could be added to both fragments to state that the value may be inaccurate. `fixme` is found by various QA tools and it's likely someone will check it. Since the whole thing were talking about is a very particular case, this won't be spammy. The tag `fixme=check step_count` could also be used as a trigger for resurveying step_count in Stre

[2020-10-10 05:17] jihoun commented on #7397
Hi. I think it is a good idea. I would like to help on that front. I would not mind going over files folder by folder and opening independent pull requests to avoid having massive pull requests.

[2020-10-11 06:01] jeisenbe opened #8072 "Don’t suggest to upgrade waterway=tidal_channel with tidal=yes"
I notice that if I select a way which is tagged as waterway=tidal_channel, iD suggests upgrading incomplete tags. Selecting this option adds `tidal=yes`, but this is unnecessary, because all waterway=tidal_channel features are tidal, so this tag does not add any information.

Ironically, I noticed this out while investigating mis-tagged inland waterways which are clearly neither tidal nor waterway

[2020-10-12 08:50] matkoniecz commented on #7876
It appears to be discussed and rejected in  #6300

Also the same request was rejected in JOSM: https://josm.openstreetmap.de/ticket/19911

[2020-10-12 08:50] matkoniecz commented on #6300
It appears to be discussed and rejected also in #7876

Also the same request was rejected in JOSM: https://josm.openstreetmap.de/ticket/19911

[2020-10-12 12:54] quincylvania commented on #7876
@matkoniecz This is about the `imagery_used` tag, while #6300 is about the `source` tag. They're related, but different.

[2020-10-12 15:45] aaronaxvig commented on #1828
Today I stumbled upon a way to convert a closed line to an area.

1. With zero tags on the line, type `area `as the name of a new tag.
1. Tab out of the tag name box, and observe that the Feature Type at the top of the edit pane has changed to Area.
1. Click Area, and you are able to change it to any area-type Feature Type that you desire (building, parking lot, etc.).
1. After choosing the Featur

[2020-10-13 08:14] rbuffat commented on #7876
@quincylvania @matkoniecz

It's not the same, but I think it is still appropriate to leave the issue closed / wont-fix.

I still believe that for better attribution of the used data a DOI like system that would allow to easily see the data's origin, license, homepage etc. (which are sometimes required) would be something good. But this would involve modifying the OSM homepage and would require "a

[2020-10-13 12:44] quincylvania commented on #7397
@jihoun Thanks for your interest, feel free to open a PR for a file and we can take a look. Keep in mind we've had bugs due to [the way ES6 treats `this` inside arrow functions](https://medium.com/@josephcardillo/arrow-functions-and-this-in-es6-4f1d350a85cf). It'd also be nice if you could keep the existing file indentations (some are 2 spaces, some are 4).

[2020-10-13 13:51] #8072 closed, assigned to quincylvania

[2020-10-13 14:28] jidanni opened #8078 "Capacity missing units for water tank"
Here (for water tank), we see "Height (meters)" but Capacity units is left for a research mission.
![X5](https://user-images.githubusercontent.com/1230959/95873921-f454e700-0da2-11eb-80bf-2074cd5d1515.jpg)
OK, I found [it](https://wiki.openstreetmap.org/wiki/Tag:man_made%3Dstorage_tank): capacity in cubic metres...
Consider putting that on the panel like already done for Height. Thanks.

[2020-10-13 14:33] jidanni opened #8079 "A water tank holds compressed gases?"
A water tank holds compressed gases?
![X6](https://user-images.githubusercontent.com/1230959/95874565-970d6580-0da3-11eb-8b8c-66ade95ca8f6.jpg)
Wouldn't that be a gas tank?
(Wait, that's for a car.)
(Well anyway, yes this is indirectly calling the Storage Tank documentation, for Water Tank, so ends up looking funny.)

[2020-10-13 15:05] quincylvania commented on #8079
Yes, there's not a one-to-one mapping of iD's presets to OSM tags or wiki pages, so little inconsistencies like this happen. I doubt it's preventing anyone from contributing useful data.

[2020-10-13 15:05] #8079 closed, assigned to nobody

[2020-10-13 15:17] quincylvania commented on #8047
@forteller Thanks, iD should definitely be smarter about this kind of thing, but it doesn't have the data for it yet. I'm going to group this into #4139 since it's about adjusting the preset list based on context.

[2020-10-13 15:17] #8047 closed, assigned to nobody

[2020-10-13 15:28] quincylvania commented on #8024
Lacking further discussion, I'm closing this as low impact.

[2020-10-13 15:28] #8024 closed, assigned to nobody

[2020-10-13 16:00] #7867 closed, assigned to quincylvania

[2020-10-13 17:02] quincylvania commented on #7312
@rivermont Is this issue with the v3 prototype branch?

[2020-10-13 17:04] maro-21 commented on #8078
"Capacity" string should be split into multiple strings because the same label is used for example on amenity=restaurant - in my language it's not the same word ("objętość" for storage_tank and "liczba miejsc" for restaurant).

[2020-10-14 00:29] maro-21 commented on #7904
https://wiki.openstreetmap.org/wiki/Proposed_features/Takeaway_drink_shops

[2020-10-14 09:59] jidanni opened #8081 "Move Imagery Offset higher in Background panel"
In the Background panel, of these,
- Overlays
- Display Options
- Imagery Offset

I bet Imagery Offset is used 100 times more than the others, so should perhaps be placed above the others.

![14545-1](https://user-images.githubusercontent.com/1230959/95973632-7fd38400-0e46-11eb-8f64-252da040299b.jpg)

[2020-10-14 13:32] jidanni opened #8082 "Can't get Street Cabinet preset anymore"
I don't seem to be able to make new
![1202-6](https://user-images.githubusercontent.com/1230959/95995715-72c58d80-0e64-11eb-81d5-fb1facffb13c.jpg)
anymore. No matter what I type when making a point,
Street....
it can't find it.
(Above I'm showing an existing one.)

[2020-10-14 13:47] quincylvania commented on #8082
@jidanni Are you setting the preset on a standalone point? I'm not seeing this issue.

![Screen Shot 2020-10-14 at 9 46 27 AM](https://user-images.githubusercontent.com/2046746/95997817-2f3a3780-0e02-11eb-94c8-f6b06c54a1a4.png)

[2020-10-14 19:45] TechnologyClassroom opened #8084 "LibreJS compatibility"
It would be nice if iD became [LibreJS](https://www.gnu.org/software/librejs/) compliant.

Instructions:
- [Setting your JavaScript free](http://www.gnu.org/software/librejs/free-your-javascript.html)
- [Setting your JavaScript free from the LibreJS manual](https://www.gnu.org/software/librejs/manual/html_node/Setting-Your-JavaScript-Free.html)

[2020-10-14 20:46] maro-21 opened #8085 "Edit Service Road preset"
Move `covered=*` field to moreFields because this isn't popular tag used in combination.

[2020-10-14 22:46] grischard opened #8086 "Move from ELI to JOSM imagery index"
As discussed on today's sync chat, this is the ticket to track moving from the deprecatable [Editor Layer Index (ELI)](https://github.com/osmlab/editor-layer-index) to the better [JOSM imagery index](https://josm.openstreetmap.de/maps)

There are currently [11 references to ELI](https://github.com/openstreetmap/iD/search?q=editor-layer-index) in iD.

https://josm.openstreetmap.de/maps?format=geojs

[2020-10-14 23:47] jidanni commented on #8082
OK it is working again today.

[2020-10-14 23:47] #8082 closed, assigned to nobody

[2020-10-15 02:18] lukethemapper opened #8087 "old issue."
lots of shops around me selling these

[2020-10-15 04:36] jidanni commented on #6467
(The code is [here](https://github.com/openstreetmap/iD/blob/develop/data/core.yaml).)
OK, for now, please at the bottom of the two choices,
have the words:
"_If not sure, just press Restore. You can always undo those changes again before saving._"

[2020-10-15 11:10] DujaOSM opened #8088 "Continue drawing lines and areas from a mid-point"
Drawing lines and areas from scratch is intuitive and easy -- just go clicking on the map to define successive points. However, if  you have to adjust an existing line or area, the process is much slower: you have to double-click the line or grab an arrow on it to define a new point and move it around, then repeat for every new point - a lot of RSI-inducing mousework.

As an usability enhancement,

[2020-10-15 12:28] tordans commented on #8086
I did not hear the full discussion, so just two thoughts:

AFAIK for GoMap, @bryceco had to manually filter some layers, that where not really suitable for mapping and cluttered the UI. I could not find the commits right away. I think the same should happen for iD (or via a category …).

I would love to see more help for contributors about how to switching contributing from ELI to the wikibased fo

[2020-10-15 13:15] quincylvania commented on #8088
@DujaOSM This is a neat idea. I'm not sure how it'd feel in practice but we can look further into it. This and #2272 would probably work the same way.

[2020-10-15 13:41] DujaOSM commented on #8088
Yes, this is basically a duplicate of #2272 (my search failed to find it), and there are several ideas I like, particularly the @slhh's neat video. The video is probably the best illustration how it should work, perhaps only differing how the action is initiated. There's still an open issue as to direction...

[2020-10-15 13:44] grischard commented on #8086
CC @andrewharvey and @rbuffat 👋

[2020-10-15 13:57] quincylvania commented on #8088
Okay, I'll close this in favor of #2272.

[2020-10-15 13:57] #8088 closed, assigned to nobody

[2020-10-15 14:06] rbuffat commented on #8086
@grischard Could you elaborate on what you mean by better? I would argue that technology-wise https://github.com/ideditor/imagery-index would probably be a better fit for iD.

I think it would make great sense to bundle resources into one imagery index that is used by all editors. But as far as I'm aware, there is no review process in the JOSM index. During the last weeks, I looked at several sour

[2020-10-15 14:45] simonpoole commented on #8086
I note that this seems to have taken place without participation of most of the stakeholders.

Anyway, while there are a few small issues with generating ELI format configuration from JOSM right now that should be fixed, the major blocker and the reason why for current release builds I've fallen back to ELI (users can however update from both sources), is that JOSM has "normalized" essentially all

[2020-10-15 15:31] #7753 closed, assigned to quincylvania

[2020-10-15 16:36] maro-21 opened #8089 "iD tries to remove amenity=studio"
![studio](https://user-images.githubusercontent.com/57260466/96159580-1a01fd80-0f15-11eb-92da-0667c3220ebe.png)
`amenity=studio` is correct. Only the tag `type=*` should be changed to `studio=*`

[2020-10-15 16:51] #8089 closed, assigned to quincylvania

[2020-10-16 00:20] willemarcel opened #8090 "Handle removal from the DOM when integrated in React apps"
We are having some problems when running iD inside Tasking Manager.

What I noticed is that if I have a task open on iD in TM, then I move to another React view and go back (both using the back button or selecting to resume the task), iD will load but won't download the data again. It's working like if we didn't restart iD, but just went back to the instance that were running (although the OSM dat

[2020-10-16 00:43] quincylvania opened #8091 "Slow map performance"
When viewing or editing lots of map data with iD, it can take awhile for the map to render and respond to viewport changes, sometimes many seconds. This happens even on high-power hardware and can quickly degrade usability. The problem is long-standing, but has gotten progressively more apparent as people add more and more things to the map.

I'm opening this broad issue with the deceptively simpl

[2020-10-16 00:47] quincylvania commented on #8090
@willemarcel Thanks for opening this, it's a big bug! I wouldn't be surprised if iD isn't caching/uncaching things properly since it hasn't historically been restarted like this, but we'll need to look further into it.

[2020-10-16 02:14] andrewharvey commented on #8086
Not sure where that sync chat happened, but I would hardly call ELI deprecated, it's been undergoing a lot of changes lately, new sources, improvements to the process, and a wide range of contributors.

In my opinion ELI is far superior to the JOSM imagery index because

1. You have issues where you can raise and discuss things first before making a change
2. You have PRs where you can draft or su

[2020-10-16 05:55] bryceco commented on #8086
@tordans The filtering Go Map!! does is similar to filtering that iD does. It's not a reflection on the quality of the index (which tries to be exhaustive at the expense of including less useful imagery).

[2020-10-16 06:33] lukethemapper opened #8094 "NEW TAG"
a shop_stairlift tag is needed

[2020-10-16 07:18] manfredbrandl commented on #8094
already in #8087 please close here

[2020-10-16 07:18] #8087 closed, assigned to nobody

[2020-10-16 07:19] manfredbrandl commented on #8094
Taginfo show that there are 3 shop=stairlift and 1 show=stairlifts. It may be too early to include this tag into iD.

[2020-10-16 07:19] manfredbrandl commented on #8087
Taginfo show that there are 3 shop=stairlift and 1 show=stairlifts. It may be too early to include this tag into iD.

[2020-10-16 07:22] lukethemapper commented on #8094
Quite a few round me are tagged as a retail building with the name @manfredbrandl

[2020-10-16 09:25] grischard commented on #8086
Hi all,

The meeting I mentioned is the [weekly iD meeting](https://github.com/openstreetmap/iD/wiki/Meetings).

I've been part of the ELI maintaining team for a long time, and I do believe that the JOSM index is better because it tends to be more complete and up to date. @Klumbumbus consistently ports improvements on the ELI side to the JOSM side, and no one does it the other way around. https://

[2020-10-16 09:49] andrewharvey commented on #8086
@rbuffat has been doing a lot of work and has been porting some sources missing in ELI from JOSM.

Takes time, but a necessary step. If we can turn off or fix travis (which I don't have permissions for) I could merge things faster, right now because you need to wait for travis to commit after a merge I can't quickly merge bunch in a row so end up doing one and skipping the rest for another time.

[2020-10-16 09:51] andrewharvey commented on #8086
I didn't realise that, thanks for sharing. 4am local Sydney time, don't think I'm committed enough to join, but that's okay impossible to have a time that works for everyone.

[2020-10-16 10:20] grischard commented on #8086
The JOSM index is more complete and up-to-date, as https://josm.openstreetmap.de/wiki/ImageryCompare shows.

They also have a whole CI testing suite which we don't have:

https://josm.openstreetmap.de/jenkins/job/JOSM-Imagery-Integration/jdk=JDK8/lastCompletedBuild/testReport/ - the ones at the bottom show sources that have been problematic for a long time; the ones at the top are (hopefully) temp

[2020-10-16 13:34] quincylvania commented on #8094
Hello and welcome, @lukethemapper. I'm afraid with iD we can really only support presets for tags that are already approved or widely used. If there are lots of these shops near you, I suggest adding the tag manually to promote usage. You might also write a tagging proposal and/or documentation page on the OSM wiki. Until then, we can't take action on iD's side.

[2020-10-16 13:34] #8094 closed, assigned to nobody

[2020-10-16 14:50] quincylvania opened #8096 "Remove `direction_cardinal` field"
I added a [new check](https://github.com/openstreetmap/iD/commit/83df29ccf2a123d8295d9dfe536a46418b673461) to the build_data.js script to warn about fields that aren't used by any presets or anywhere else in iD. Looks like the only existing one is [`direction_cardinal`](https://github.com/openstreetmap/iD/blob/develop/data/presets/fields/direction_cardinal.json). I'm opening this issue before remo

[2020-10-16 16:34] rbuffat commented on #8086
I find the ImageryCompare rather hard to interpret. It includes a lot of minor differences, which makes it hard to find the real issues. Yes, there are more entries in JOSM (it shows 238 at the moment). However, this list includes also sources that in fact are included in ELI. And if only tms and wms sources are counted as well as sources not older than 15 years,  and only the ones where it is cle

[2020-10-16 16:53] quincylvania commented on #8086
Hi folks! Thanks for the discussion. Our weekly iD meetings are a time to talk about anything related to iD, but aren't for making binding decisions. This issue is a place for wider participation, and I'm labeling it as "considering" since there's clearly no consensus yet.

I'm fine with iD changing indexes if that's what the imagery maintainers want and if it's a benefit for iD technically. To th

[2020-10-16 18:28] joepie91 opened #8097 "iD wipes "source:date" tag when "downgrading" an address node with store metadata"
Example case: https://www.openstreetmap.org/changeset/92596968

When applying the 'downgrade' action to an address node that also includes other (eg. store) information, it leaves the `source` tag intact but removes the `source:date` tag, which is apparently necessary for those working with BAG (Dutch government) datasets to determine the age of certain information.

I'm guessing that the reason i

[2020-10-17 13:19] rbuffat commented on #8086
I think it would be good to have a requirements list of as many imagery index consumers as possible. I suspect depending on the use case these can be quite different (desktop application vs mobile app vs web application) regarding quite a few aspects (update interval, long-term availability of data, format, precision of geometries, etc.)

My personal opinion is that it would be good to have a sing

[2020-10-17 22:40] Keavon commented on #8091
On my fast desktop computer with Windows 10 and Chrome, the map editor runs fine for a while but as I continue editing, it bogs down a lot once I'm above ~100 edits and gets unusably slow in the 200–300 range, taking several seconds to respond to most input like dragging points around. My assumption is this scales proportionally to the number of edits, but maybe it's actually bogging down based on

[2020-10-17 23:27] jidanni opened #8098 "Prompt: does this power pole also serve as a street lamp? and vice-versa"
Many power poles [also serve as street lamp poles](https://wiki.openstreetmap.org/wiki/Tag:highway%3Dstreet_lamp#Variations_.28not_currently_tagged.29).
Or one could say many street lamps are mounted on [power poles](https://wiki.openstreetmap.org/wiki/Tag:power=pole).

Therefore, in iD, no matter if the user types "Street Lamp" or "Power
pole", there should be a box at the end
[ ] This pole also

[2020-10-18 00:27] forteller commented on #7385
Hi again. Have you been able to consider this? :) Would you care to briefly explain why this is more complicated than the "add bridge/tunnel" feature? Thanks!

[2020-10-18 10:21] matkoniecz opened #8099 "support unsigned_ref"
Some people love adding officially assigned road numbers that are not signposted (or are marked with signs that are invisible to drivers).

We have https://wiki.openstreetmap.org/wiki/Key:unsigned_ref for that.

Sadly, some people add it using ref tag, even to roads already tagged with correct `unsigned_ref`.

I propose to add it as "Road number without reassurance marker" or "Road number not list

[2020-10-18 10:22] matkoniecz commented on #8098
Vast majority of power poles are not used as street lamps, the same for street lamps - vast majority are not a power poles

[2020-10-18 10:26] matkoniecz commented on #8084
What would need to be changed?

Why it would be useful?

See https://github.com/openstreetmap/openstreetmap-website/issues/2886

Comments such as

and

by people with experience in making software make me skeptical about this proposal.

[2020-10-18 10:31] matkoniecz commented on #8096
https://wiki.openstreetmap.org/w/index.php?search=direction_cardinal https://taginfo.openstreetmap.org//search?q=direction_cardinal

Seems to be unused, undocumented and without clear purpose. I think that removal is clearly a good idea, even if for some reason translations for this specific tag are used somewhere.

[2020-10-18 13:55] tkansgar commented on #7826
Hi Quincy,

I still have an issue with this. Moving a node now is possible again when using the click lock feature. But each time, I move the whole map scene a little bit by pressing and dragging some point beyond any map object, the selection of the object recently selected (mostly some kind of highway / track) is lost. So I must reselect it after each map scene moving. Is it possible to preserve

[2020-10-18 21:07] TechnologyClassroom commented on #8084
Some indication that the code is available would be helpful at least.  I did not know the frontend was freely licensed after using the site for several years.  LibreJS is one solution.  Simply adding a link to this repo would solve the need for most people.

When viewing the minified JS, the code is mostly useless and acts more like a binary in practice.  Linking to the unminified version would he

[2020-10-18 22:20] maro-21 opened #8100 "Power poles and layers"
If I turn on "Power Features" I can see all the power features, including power poles and towers, but to add one, I have to turn on "POI" layers, it's strange.

[2020-10-18 22:27] RobJN commented on #8099
What on earth is a "reassurance marker"?! I've never heard this term used before. Perhaps just use "Road number not shown on signs". Could also use "displayed" instead of "shown".

[2020-10-18 23:43] ghost commented on #7709
'aerorotor' is a genericised trademark for the punched steel ones that people sometimes call them by in New Mexico.

[2020-10-19 05:28] matkoniecz commented on #8099
I also never heard this term earlier, but meaning was obvious from context.

See https://en.wikipedia.org/wiki/Reassurance_marker

![screen](https://user-images.githubusercontent.com/899988/96405011-967a3200-11dc-11eb-816e-29728e705cc4.png)

Note that sometimes `unsigned_ref` are posted but effectively invisible (in my area there are posted as small markers, with text about 3 cm high - utterly inv

[2020-10-19 07:11] jidanni opened #8103 "Roads disconnected from other roads, except via a parking lot"
Steps is disconnected from other roads and paths... but connected to a parking lot. Which is as good in my mind as a road,
![16201-5](https://user-images.githubusercontent.com/1230959/96412740-263fd080-121d-11eb-8681-d15e3c40ffca.jpg)

[2020-10-19 07:41] DujaOSM commented on #8099
This is not a good place for this discussion, but I must say I find the `unsigned_ref` key very... um, badly designed.

A reference number is a reference number, signposted or not. Nowhere in the [ref](https://wiki.openstreetmap.org/wiki/Key:ref) documentation it is stated that it has to be signposted. (And indeed, low-ranked roads across Europe seldom are). If it is desirable to indicate whether

[2020-10-19 08:12] matkoniecz commented on #8099
I would be happy to discuss it elsewhere (tagging mailing list, OSM Telegram channel, US Slack, Polish forum), but main use of this tag is to handle refs that are technically assigned but nooone is actually using them.

For example `1503L` from https://www.openstreetmap.org/way/813282360 is utterly pointless and useless and exists only in some hidden documentation. It is fundamentally distinct fro

[2020-10-19 09:04] DujaOSM commented on #8091
A part of the long lines issue has been fixed in #7656 (validation), but I'm afraid a different part has been lost in communication.

In #7656, @ian727 complained about iD performance in processing multipolygon changes after a large number of changes, and I can confirm that. It does not sound as if having anything with crossing validation.

Keavon is probably up to something, and in my experience

[2020-10-19 09:23] DujaOSM commented on #8098
FWIW, see the ongoing [Utility poles proposal](https://wiki.openstreetmap.org/wiki/Proposed_features/Utility_poles_proposal) on the OSM wiki.

[2020-10-19 11:35] DujaOSM commented on #8099
Tagging quibbles aside, what do you expect from iD in this case? `unsigned_ref` is IMO not so frequently used to justify its addition into the default highway preset. If one adds it manually, it is correctly recognized and linked to the wiki page:
![unsigned_ref](https://user-images.githubusercontent.com/48584318/96444983-7b74e580-120f-11eb-8c8f-63cad7693625.png)

The only thing that does not work

[2020-10-19 13:57] quincylvania commented on #8096
@matkoniecz To be clear, the field is for cardinal values of the `direction` key: `N`, `S`, `E`, `W`, `NE`…

If iD ever used this field then it must have since been replaced by the numeric direction field, which I contend is easier to deal with anyway.

[2020-10-19 14:26] quincylvania commented on #7709
I made an icon for this that'll be in the next release of [temaki](https://ideditor.github.io/temaki/docs). It's tough to keep the blades from blurring at small sizes, but the general shape is there.

<img width="181" alt="Screen Shot 2020-10-19 at 10 24 31 AM" src="https://user-images.githubusercontent.com/2046746/96464013-54111f00-11f5-11eb-920f-caa1bb623ce7.png">

[2020-10-19 14:29] #7709 closed, assigned to quincylvania

[2020-10-19 14:38] quincylvania commented on #8103
Hmm while it looks like [OSRM does treat](https://github.com/Project-OSRM/osrm-backend/blob/df3ed43d7026f7bfa01fff2861189dcc02c3a974/profiles/foot.lua#L101) parking lots as routable, I wouldn't expect all apps to handle this. Plus the routing would go along the edge of the lot, not through it.

My feeling is that it makes sense for data consumers to be as generous as possible when processing messy

[2020-10-19 14:44] quincylvania commented on #8100
@maro-21 Yeah, I think iD might group all standalone points into the POI layer even if they'd make more sense somewhere else…

[2020-10-19 15:03] quincylvania commented on #7385
@forteller Sure, adding a full crossing would require connecting the lines in addition to splitting up one of the lines. The bridge/tunnel fixes only need splitting. There's also the issue of whether to present marked/unmarked options or not. This could bring fix list to six or seven entries, which risks overwhelming users.

[2020-10-19 15:03] quincylvania commented on #7385
That said, I'm more confident we should try to do this somehow.

[2020-10-19 15:06] quincylvania commented on #7826
@tkansgar Hmm could you open a new issue for this? Sounds like a somewhat different problem.

[2020-10-19 15:13] matkoniecz commented on #8099
To display it as a field, not just in raw tag list - AFAIK typical iD is designed with expectation that normal user does not need to see raw tag values.

What is also not working is displaying this tag if tagged already. This would help to reduce needless adding it also as `ref`

[2020-10-19 15:27] quincylvania commented on #8086
Nope. They look neat, but I think we should focus on the big picture right now.

I agree that different apps have different needs from an index, which makes it difficult to determine a single solution. A central index with different distributions sounds like something to investigate further should other editors be interested.

[2020-10-19 15:48] bhousel commented on #7709
oh that's a nice icon 🤩

[2020-10-19 16:11] quincylvania opened #8104 "Grouped fields"
iD has a few special fields that group related tags together, like Name, Address, Structure, Allowed Access, and Bike Lanes. Grouping is a nice way to make the inspector simpler and more intuitive. There are a lot more tags that could benefit from grouping, for example:

- Internet connection/access/network name
- Wheelchair access/description (#7698)
- Population number/source/date (#6672)
- Fee

[2020-10-19 17:25] tkansgar opened #8105 "Selection is easily lost when panning using click-lock mechanism of certain mouse drivers"
Hi,

(just copied from https://github.com/openstreetmap/iD/issues/7826#issuecomment-712230444)

Each time, I move the whole map scene a little bit by pressing and dragging some point beyond any map object, the selection of the object recently selected (mostly some kind of highway / track) is lost. So I must reselect it after each map scene moving. Is it possible to preserve the selection in this c

[2020-10-19 17:26] tkansgar commented on #7826
Just done. Here it is: https://github.com/openstreetmap/iD/issues/8105

[2020-10-19 18:37] quincylvania commented on #7826
@tkansgar Thanks!

[2020-10-19 18:43] quincylvania commented on #8105
@tkansgar This is the behavior I'm seeing:

1. Select something
2. Click and hold the map for a time
3. The paste menu appears and the selection is cleared
4. Drag the map and release the mouse
5. The selection is still cleared

So the solution would be not to clear the selection, or at least to reselect after dragging the map.

[2020-10-19 20:37] tkansgar commented on #8105
Yes, that would be great! No matter, wether you don't clear the selection or you reselect it.

[2020-10-19 20:50] quincylvania commented on #4518
Done by @nickplesha in #7847, followup in #8076. ✨📸✨

You can now filter by exact dates. I'd like to add another option later to just show the "most recent", whatever that may be, but this is already a big step forward.

[2020-10-19 20:50] #4518 closed

[2020-10-19 20:50] quincylvania commented on #7342
https://github.com/openstreetmap/iD/issues/4518#issuecomment-712434240

[2020-10-19 20:50] #7342 closed

[2020-10-19 20:54] quincylvania commented on #5307
Done by @nickplesha in #7847, followup in #8076.

You can now filter photos to those by one or more specific users for all layers: Mapillary, OpenStreetCam, and even Bing Streetside if you somehow wanted to 😄

[2020-10-19 20:54] #5307 closed

[2020-10-19 20:59] quincylvania commented on #5482
#7847 by @nickplesha added controls for manually filtering photos by date and username. I'm going to leave this open though, since I think iD should automatically filter areas like this by default to avoid showing users spaghetti. We can have a control to switch between Most Recent, All Photos, and Custom Dates, or something like that.

[2020-10-20 07:13] rmikke commented on #8099
Maybe adding a checkbox like "Signposted" to the "Road number" field would work best.

[2020-10-20 07:48] matkoniecz commented on #8103
It is tricky as in many cases this warning is valid, but there are actually cases where footway connects two parts of parking - in some cases it goes from one parking space to another, without dedicated space for pedestrians.

If all cars are parked one would need to squeeze between them, so in such cases mapping `highway=footway` or `highway=service` would be incorrect.

And `noexit=yes` on footw

[2020-10-20 12:56] jidanni commented on #8098
Where I live 100% of street lamps are mounted on power poles.
Why (would the utility company) waste a whole new pole when there is a ready made one nearby?
Yes if the power lines are underground then separate light poles would be needed.
Where I live only telephone poles never have street lamps mounted on them,
as the government rules say the systems must be separate (so they don't fail at the sam

[2020-10-20 13:23] rjw62 opened #8107 "Update NSI to get updates/fixes to suggestions"
Currently the iD editor is erroneously suggesting that Tesco Express stores that have corrected tagged with brand:wikidata=Q98456772 should be changed to the less specific brand:wikidata=Q487494. This was an issue in the Name Suggestion Index, but it was fixed in that project there over a month ago. However, iD doesn't seem to have updated from the NSI recently. I'm sure this won't be the only suc

[2020-10-20 14:12] quincylvania commented on #8107
Hi and welcome, @rjw62. We keep iD up-to-date with all new releases of NSI, but [there hasn't been one since April](https://github.com/osmlab/name-suggestion-index/releases). I don't know the details, but I think NSI has had some internal changes that will make the next release non-trivial. Thanks for your patience.

Closing this since we have #7924 open and there's not a lot we can do on iD's sid

[2020-10-20 14:12] #8107 closed, assigned to nobody

[2020-10-20 14:26] quincylvania commented on #8098
Hmm this is a tricky situation because it's one structure that's functionally two different things. OSM and iD aren't great about features tagged with multiple types. Closing this since the tagging isn't really settled yet and the iD repo isn't the place to discuss it.

[2020-10-20 14:26] #8098 closed, assigned to nobody

[2020-10-20 14:27] #8096 closed, assigned to quincylvania

[2020-10-20 14:39] rjw62 commented on #8107
Sorry, but I have to disagree about closing this as a non-iD issue. There is an issue here with iD.

iD has chosen to use a third-party source for suggestions, and presents them in a way that encourages OSM mappers to apply them without checking. It is therefore iD's responsibility to ensure that there are timely re-imports of the source data to correct any issues that occur. If it can't do that,

[2020-10-20 14:40] quincylvania commented on #8081
@jidanni While I agree the offset is probably used more than the display options, I'm worried changing the order would be disorienting for longtime users. Plus it doesn't seem that hard to scroll a little bit more. The scroll position persists when closing and opening the background pane as well.

I think we could revisit this as part of a larger redesign of this UI, but I'm not worried about it r

[2020-10-20 14:40] #8081 closed, assigned to nobody

[2020-10-20 15:18] quincylvania commented on #8107
Okay, I can remove the `wontfix-not-iD` label if it's bugging you.

NSI is one of iD's many dependencies, and the deal with dependencies is that we trust other people to handle parts of our app. Regardless of changes to development branches, v4.0.2 is the current version, thus iD is up-to-date and its suggestions are still considered valid.

I'd imagine a new release is coming sometime soon, in wh

[2020-10-20 17:54] tordans commented on #8107
For Reference: https://github.com/osmlab/name-suggestion-index/issues/4543

[2020-10-20 19:55] stoecker commented on #8086
I'm commenting some of the texts from different authors:

JOSM has a large number of WMS. The wms_endpoint is used for these cases where many different layers are available and choice should be on user side. For the ELI→Sync we usually ignore the WMS of these services as they aren't needed for JOSM. But if needed for others they could be added as mirrors. We already now add some things not needed

[2020-10-20 20:33] quincylvania commented on #8085
This was added in fb3d6746a1530edec392e5ce1cb7fe200639e3e7 for fixing crossing ways issues, but we have simpler fixes now so we might not need this.

[2020-10-20 21:42] grischard commented on #8086
Thanks @stoecker! In the current proposal, iD would fetch the imagery geojson once, when it is being built and packaged. There's filtering happening at that step already now, but it's cool that you'd be ready to filter on the server side too - maybe useful for Go Map! or Vespucci.

On reviewing, ELI has a good team that struggles with the shoddy tools I've written. I think it would be most constru

[2020-10-21 13:12] karmanya007 commented on #8104
@quincylvania Hey, I want to start contributing to this project. Could you guide me a bit more on this issue. Would love to start off somewhere.

[2020-10-21 13:38] quincylvania commented on #8104
Welcome, @karmanya007. This issue is actually a bit advanced, and there aren't that many introductory issues open right now. But if you're feeling intrepid then can read our [contributing guide](https://github.com/openstreetmap/iD/blob/develop/CONTRIBUTING.md) and jump in anywhere.

[2020-10-21 13:50] simonpoole commented on #8086
...

...

...

The important point missing here is

**Contributor Needs

On the one hand there is "Only need to submit source / change to source" rule that we should be supporting that is currently being violated by the devs, on the other hand, coverage area generation is currently just way to complex and time consuming.

And it isn't as simple as simply using existing country or other admin entit

[2020-10-21 13:58] karmanya007 commented on #8078
@jidanni Do i have to change the label in presets.yaml file or fields.json or in capacity.json file??

[2020-10-21 14:00] simonpoole commented on #8086
As I pointed out this is not just an ELI issue, it is very user unfriendly for JOSM users too.

The problem is that there is no way to attach meta data to a specific layer that is only available via a WMS endpoint. For example the "best" flag, but including descriptions, the various licence and permission URLs, coverage areas etc, and yes their are many cases where compatible layers on WMS servers

[2020-10-21 14:03] quincylvania commented on #8078
@karmanya007 Change the label in capacity.json and then run `npm run build` and commit the derived data as well.

[2020-10-21 14:05] karmanya007 commented on #8078
@quincylvania Thanks 😄

[2020-10-21 14:05] quincylvania commented on #8078
@karmanya007 Actually, for this you'll have to create a new field like `capacity_volume.json` and leave the existing capacity field alone, since it's used for other things too. Check out the [presets guide](https://github.com/openstreetmap/iD/tree/develop/data/presets#presets).

[2020-10-21 14:06] karmanya007 commented on #8078
@quincylvania Okay. One more thing. Do i have to switch to the dev server on the localhost version?

[2020-10-21 14:21] quincylvania commented on #8078
@karmanya007 You only have to use the dev server if you need to upload fake data, so probably not for this issue. If you're unsure about something, feel free to open a draft pull request and we can discuss things there.

[2020-10-21 15:58] #7843 closed, assigned to quincylvania

[2020-10-21 17:24] maro-21 commented on #8104
We already have such fields - like operator and operator:type for schools. Can't we use the same for the ones above? If a user fills in the first field, other appear below it.

[2020-10-21 17:29] maro-21 commented on #8100
Another example with `landuse=construction`. What I meant is that if I turn on the "future/past" layer, I can see and edit construction sites, but to add one, I have to turn on the "landuse" layer. The same here with power poles: I can edit the existing ones if I turn on "power feature", but to add one, I have to turn on "POI" layers.

Is this behavior ok?

[2020-10-21 17:31] quincylvania commented on #8104
@maro-21 Yes, these already work such that one field's appearance depends on a related field's value, but they should also be grouped together visually.

[2020-10-21 17:33] maro-21 commented on #8103
These stairs must lead somewhere and be connected to other paths. So the iD issue is legitimate.

[2020-10-21 20:10] bhousel opened #8108 "Entering walkthrough "resolves" issues"
Steps to reproduce:

1. Go to a spot of map that has some issues.  You might need to enable Everything.
<img width="270" alt="Screen Shot 2020-10-21 at 4 06 35 PM" src="https://user-images.githubusercontent.com/38784/96776758-75216d80-13b7-11eb-98e4-7e78e9a346b7.png">
<img width="68" alt="Screen Shot 2020-10-21 at 4 02 56 PM" src="https://user-images.githubusercontent.com/38784/96776589-3a1f3a00-1

[2020-10-21 20:58] sun-geo opened #8109 "Preset (common) name field"
For some feature presets it might be useful to remove the (common) name field.

After a quick taginfo check this could be done e.g. for the following tags:

`landuse=grass` (https://taginfo.openstreetmap.org/tags/landuse=grass#combinations ~2% `name` used)
`landuse=farmland` (https://taginfo.openstreetmap.org/tags/landuse=farmland#combinations ~1% `name` used)
`landuse=meadow` (https://taginfo.ope

[2020-10-21 21:24] rbuffat commented on #8086
Creation of the sources is definitely not as user friendly as it should be. It is also possible that imagery outside of an administrative entity is not the same quality as within. I'm not an expert in the process of creating aerial imagery, but as far as I know, the imagery is typically checked against reference points on the ground. I suppose these reference points are more likely to be within th

[2020-10-21 23:30] #8108 closed, assigned to quincylvania

[2020-10-22 00:45] jidanni commented on #8103
The steps in this case just lead down to "some land", i.e., the vast blank area that comprises most of the world in OSM currently. I hope that is OK.

Make the steps an entrance to the parking lot? Well OK, but then I should make the car entrance also an entrance, but that currently is not an error not to do...

[2020-10-22 11:22] willemarcel commented on #8086
I didn't know JOSM had its own imagery index until the iD meeting last week. The data format and the instructions on how to add a new source looked very complex to me.

I have been planning to use ELI on Tasking Manager in order to make it easier for project managers to define the recommended imagery source for each project.

[2020-10-22 11:40] grischard commented on #8086
@willemarcel you can get geojson output from the JOSM index; see https://josm.openstreetmap.de/maps?format=geojson

[2020-10-22 15:28] karmanya007 commented on #8078
@quincylvania I have add the units to both the water tank and the storage tank (They both use the same key=capacity). Is this fine or only the water tank needs the units (cubic meter)?

[2020-10-22 15:54] karmanya007 commented on #8078
@quincylvania [PR Opened](https://github.com/openstreetmap/iD/pull/8112)

[2020-10-22 23:14] cbeddow commented on #7920
Still an issue here
![image](https://user-images.githubusercontent.com/10554922/96939315-f6e1cb80-1489-11eb-8149-c5fa387f0c23.png)

@quincylvania is there anything we can do on Mapillary side that would help this?

[2020-10-23 04:02] tordans commented on #8057
I looked into this some more. The error changed since I reported it. The {vars} are now replaced (again).

Nevertheless, there seems to be a problem with the projection. I will open another Issue for this, since its a different problem.

[2020-10-23 04:23] tordans opened #8113 "Allow different projections in custom WMS menu"
**Linking other issues:**

This is a follow up to my ticket https://github.com/openstreetmap/iD/issues/8057.

There are/were quite a few WMS issues and PRs over time (Ping https://github.com/openstreetmap/iD/issues/4977). But I could not find a current one to track extending the custom WMS dialogue to allow changing projections.

The latest info seems to be https://github.com/openstreetmap/iD/pull

[2020-10-23 04:44] tordans commented on #7920
Some input on this:

On **Preview** it works https://ideditor.netlify.app/#background=EsriWorldImagery&disable_features=boundaries&map=19.35/52.47242/13.44613&photo=mapillary/4t3r1XIpQoMSrgt1y1S2H4&photo_overlay=mapillary. The css uses a base64 svg for the right-arrow-icon:
[code]
(Via https://ideditor.netlify.app/mapillary-js/mapillary.min.css)

On **OSM.org** / https://www.openstreetmap.org/edit

[2020-10-23 04:52] tordans opened #8114 "Hash-URL is not updated on OSM.org"
The configuration hash on OSM.org is not updated anymore. For example, custom image URL or the info "show mapillary" is not added to the URL.

https://www.openstreetmap.org/edit#map=19/52.94899/14.10464

Tested in Chrome + Chrome Canary.

---

Looking into this:
* https://github.com/openstreetmap/iD/issues/6492 about this feature as well
* The code that updates the location-hash-part still works
*

[2020-10-23 07:13] tordans commented on #7876
@rbuffat this tool is great! What is the best place to discuss it (questions, suggestions). It would be off topic for this thread.

[2020-10-23 07:14] tordans commented on #7876
(Sorry @rbuffat wrong thread :-D. Deleted the message and will delete this one as well.)

[2020-10-23 13:18] quincylvania commented on #8057
@tordans Did you test both times on osm.org? We haven't changed anything there within that time frame so I'm not sure why this wouldn't work sometimes.

[2020-10-23 13:23] quincylvania commented on #7920
@tordans Thanks for investigating this. Looks like they inlined the SVG files in mapillary-js v2.21.0 (#8063), so that must have fixed it 👍

[2020-10-23 13:23] #7920 closed, assigned to nobody

[2020-10-23 15:56] kymckay commented on #8084
@TechnologyClassroom The scripts in `package.json` are what you're looking for: https://github.com/openstreetmap/iD/blob/06441e72d7250751cb85ec88cd5e827a5c3973f1/package.json#L26

`dist:min:iD` handles minification (by calling uglifyjs), the file being minified (`dist/iD.legacy.js`) is output by rollup (bundler) via the `build:legacy` script:

https://github.com/openstreetmap/iD/blob/06441e72d7250

[2020-10-23 16:23] sun-geo opened #8116 "Object isn't selceted after cancel save process"
I remember on an older version while the save process it was possible to hit one of the changed/added objects (a potential hidden object is coming to visual area) and after stopping the save function the object was selected.

Now with the current version selecting and bringing the object to the screen area is still working, but after quitting the save procedure the object isn't selected anymore.

[2020-10-23 16:35] quincylvania commented on #8084
This is true, but we actually sync the `dist/iD.legacy.js` file directly to openstreetmap-website, and then [they run it through](https://github.com/openstreetmap/openstreetmap-website/pull/2720#issuecomment-661700405) their own minification script. The `dist/iD.min.js` file is for other downstream apps that don't have their own compression workflow.

There's info in the help pane. We're not hidin

[2020-10-23 16:35] #8084 closed, assigned to nobody

[2020-10-23 20:59] maro-21 commented on #8109
Similar issue: #7543

I agree that we can hide "name" field here.

[2020-10-24 14:38] peternewman commented on #7924
On a sort of similar note, is it worth looking for and flagging some obvious key and value typos in iD e.g. `sepErate` which I often do until I catch myself and fix it?

If you e.g. ignored the value of certain fields which are supposed to be free text (e.g. name, wikipedia) I don't think there would be a huge risk of stopping people writing what really exists, but it would offer the option to avo

[2020-10-24 15:45] karmanya007 commented on #8078
@quincylvania Could you review #8112

[2020-10-26 08:18] lukethemapper opened #8118 "make ID load in a tiny bit faster"
**above **

[2020-10-26 08:58] fqdb opened #8119 "Preset for tower:type=pagoda"
Since bell_tower, stupa and minaret are already present, consider adding
`man_made=tower`
`tower:type=pagoda`

https://wiki.openstreetmap.org/wiki/Template:Map_Features:Tower:type

[2020-10-26 10:58] jidanni opened #8120 "Custom Background Settings: mention comment syntax"
In "Custom Background Settings" we see

All that is great, but let's say we have two frequently used favorite URL templates.
Well, if we could at least know how to comment:
[code]
Then we wouldn't have to type the whole thing in again when switching.
(Sure, if you would help us keep track of our favorite templates separately, that would even be better. But still, a comment syntax should be documen

[2020-10-26 13:32] quincylvania commented on #8120
@jidanni You already opened #7426 which is about support for multiple custom backgrounds. I'd say let's focus on that solution rather than spending time on an advanced workaround. You can always just keep your endpoints in a notes files separate from iD and copy-and-paste them as needed.

[2020-10-26 13:32] #8120 closed, assigned to nobody

[2020-10-26 13:50] jidanni commented on #8120
OK, but,
1. There is plenty of room in that box for comments:
![11220-3](https://user-images.githubusercontent.com/1230959/97180344-e6f12100-17d4-11eb-87d8-f51d54911582.jpg)

2. Nobody gets it right at the first attempt,
so there should always be room for comments:
[code]
without having to resort to Notepad etc.

[2020-10-26 13:51] quincylvania commented on #7924
If think you already opened this as #7754?

[2020-10-26 14:00] quincylvania commented on #8109
`name` might not have a high percentage, but it still has tens of thousands of uses on these features and is one of the most common combinations. Is this causing frequent problems?

I tend to think it's okay to show the most common allowed fields even if the usage is low, but we may have to do better about teaching people what to put in fields and when to leave them blank.

[2020-10-26 14:02] quincylvania commented on #8120
If someone wants to open a PR for this then that sounds okay. But it takes real work to build and maintain features and unfortunately we don't have the resources to do something just because there's space for it.

[2020-10-26 14:23] quincylvania commented on #7754
@peternewman This sounds cool in theory. I'm not sure if it'd be useful in practice—it might be! I'm a bit worried about the size of shipping a spelling dictionary in iD or the complexity of calling out to an API.

Generally I imagine that mappers use either iD's presets or TagInfo suggestions for selecting tags, so in either case the spelling is handled for them. Do you have any sense of how wide

[2020-10-26 14:39] quincylvania commented on #8118
@lukethemapper Do you mean faster relative to 2.18.5 on osm.org? We've already made a number of startup speed improvements for 2.19.0 🏋️‍♂️

[2020-10-26 14:40] jidanni commented on #8120
(OK, but pssst... tell me the comment syntax. I mean there is already fancy preprocessing  of those URLs, so I bet you guys didn't forget to add one... Or just add `{ignore: ..............} `.)

[2020-10-26 14:45] quincylvania commented on #8120
@jidanni There is no comment syntax. You paste in a URL, we replace the tokens with the parameters, and that's it. "URL comments" aren't really a thing.

[2020-10-26 14:56] jidanni commented on #8120
Every 'language' needs them,
https://stackoverflow.com/questions/2524367/inline-comments-for-bash
Anyway with `{comment: ..............}` syntax, iD could have them too in a jiffy!

[2020-10-26 15:05] peternewman commented on #7924
Oops, well at least I'm consistent! :laughing:

[2020-10-26 15:06] quincylvania commented on #8120
@jidanni I thought this went without saying but it's just a URL input box, it's not a bash script.

[2020-10-26 15:27] peternewman commented on #7754
As mentioned, if you only pick "relevant" words and filter the dictionary the resulting file shouldn't end up too large. I'd agree calling out to an API is probably more hassle than it's worth.

I'd agree iD presets should be fine (or can be fixed and typos handled at source). You have to use TagInfo for stuff like my ramp=separate as there aren't presets for it, and I don't think presets would re

[2020-10-26 17:20] rbuffat commented on #8086
@simonpoole I created two prototypes for extracting geometries:
For WMS:
https://mybinder.org/v2/gh/rbuffat/eli-helper/master?urlpath=apps%2Fextract_geometry_wms.ipynb

For Tiles:
https://mybinder.org/v2/gh/rbuffat/eli-helper/master?urlpath=apps%2Fextract_geometry_tiles.ipynb

Source code can be found here: https://github.com/rbuffat/eli-helper

They work by downloading tiles and converting all no

[2020-10-26 19:57] tordans commented on #8057
I looked at it again @quincylvania and you are right, I might have been looking at the different versions.

**This does work:**
https://www.openstreetmap.org/edit#background=custom:https://isk.geobasis-bb.de/ows/dop20c_wms%3FFORMAT%3Dimage/png%26TRANSPARENT%3DTRUE%26VERSION%3D1.1.1%26SERVICE%3DWMS%26REQUEST%3DGetMap%26LAYERS%3Dbebb_dop20c%26STYLES%3D%26SRS%3D{proj}%26WIDTH%3D{width}%26HEIGHT%3D{he

[2020-10-26 20:03] tordans commented on #8120
This thread got me thinking: One could miss-use a hash-syntax to kind off comment out parts of an URL. I don't think its really useful, but it does work :-).

Format:

`URL1#URL2`
And to switch the URL, I can manually copy-paste the URL to `URL2#URL1`.

Example:

Input for the custom map dialogue:
`https://isk.geobasis-bb.de/ows/dop20c_wms?FORMAT=image/png&TRANSPARENT=TRUE&VERSION=1.1.1&SERVICE=WM

[2020-10-26 20:46] Elefant-aus-Wuppertal opened #8121 "id wants to merge some points which are near to each other, but these points do not belong merged"
Hi,

I notices some issue when there are two nodes which are cose to each other, and id wants to merge them, but they do not belong merged.

Please have a look at the points
https://www.openstreetmap.org/node/8048340344
and
https://www.openstreetmap.org/node/8048340345
which are both part of https://www.openstreetmap.org/way/863903564

This way represents the elevator's shaft and both nodes need t

[2020-10-26 20:48] quincylvania commented on #8116
I'm not sure if/when this was changed or if it was intentional, but it seems to me that neither workflow is great. The purpose of listing the changes in the save screen is so the mapper can review them before uploading. But this is hard since the map is greyed out and selecting a feature would exit the list.

I'd like to look into a less rigid review/save workflow that maybe isn't its own mode. #6

[2020-10-26 22:36] jidanni commented on #8120
See @quincylvania, without a documented comment syntax, users will hack up their own, doubling the size of each request ☹☺

[2020-10-27 04:52] jidanni opened #8122 "Edit (this feature) should always zoom in to a piece of a (O, U. V shaped) feature"
1. Visit https://www.openstreetmap.org/way/863780195
2. Click "Edit" in the upper right.
2. Click "+ Zoom in to edit."

As you see the feature we wanted to edit is very much off the screen.

OK, let's try again, crafting this URL on our own,
https://www.openstreetmap.org/edit?way=863780195

OK, that's better. But still, then pressing "+ Zoom in to edit" puts the
feature off the map.

Conclusion: i

[2020-10-27 12:23] Marc-marc-marc commented on #8086
history of eli make josm hate eli because eli's creator forgot to invite them at startup.
fork with a new neutral and "chooses together" name or not maintain a historical conflict for the millennia to come, it has nothing to do with technical choices

imho the mains issues are :
- index of one editor that must be used by others <> "team" of editors that share an index
- wiki <> git <> ...
- osm lo

[2020-10-27 12:34] stoecker commented on #8086
Stop telling such bullshit.

ELI is a fork of JOSMs wiki system and never reached a state where we considered it better than what we have.

[2020-10-27 12:38] grischard commented on #8086
The history of the fork was way before my time, and I'm not interested in old fights. What matters is that today we have two indexes, which is one too many. We should focus our work on the better one.

Let's leave all past and future issues for another time, and focus on working together on this.

[2020-10-27 12:52] stoecker commented on #8086
Same for me, that's the reason why I didn't comment these points before at all. Anyway I couldn't let such an obvious statement as above be uncommented. Sorry.

As already said we are open to implement necessary backend support to help where necessary. There are also plans for UI improvements already, e.g. an OpenLayers based boundary editor directly in the interface instead the current rather com

[2020-10-27 13:03] grischard commented on #8086
JOSM already has, even! It produces custom XML for Potlatch, and adds privacy-policy-url to its data model and geojson output for Vespucci.

[2020-10-27 13:34] quincylvania commented on #8122
For this we could try to have iD select the feature even if you're zoomed out, so that it will appear without needing to zoom in at all.

[2020-10-27 15:27] quincylvania commented on #8057
@tordans I just checked both links and they appear to be working fine in Chrome, Firefox, and Safari, so I'm not sure what the issue is.

[2020-10-27 16:53] #8121 closed, assigned to nobody

[2020-10-27 20:25] tordans commented on #8057
@quincylvania you are right, the error does not show up for anymore :-/. Will reopen once I have ne info …

[2020-10-28 00:58] TheAdventurer64 opened #8126 "Bug: If you put a tag on a road, and you then suddenly click away, you'll get this:"
![image](https://user-images.githubusercontent.com/50059322/97377738-b40b6380-188e-11eb-90da-78da37bea7ac.png)

[2020-10-28 01:02] quincylvania commented on #8126
@TheAdventurer64 Thanks for reporting, I just fixed this in b2582dcf9e8498b1f3675122e4ad1ee68b6d6e82. It's a nasty bug so I'll push out a patch.

Screenshots are helpful, but they're not always self-explanatory. In the future I'd ask please describe the actual problem as well.

[2020-10-28 01:02] #8126 closed, assigned to quincylvania

[2020-10-28 08:26] jidanni opened #8127 ""Errors occurred when trying to save" message has raw HTML tags showing"
This is raw HTML in a plain text context:
![15106-10](https://user-images.githubusercontent.com/1230959/97410475-11a8ba00-193a-11eb-9b32-94bfab218309.jpg)
(Of course I can't reproduce it.)

[2020-10-28 10:58] matkoniecz opened #8129 "Misrendering of large relations (line placed where multipolygon has no border)"
I searched for https://github.com/openstreetmap/iD/issues?q=is%3Aissue+large+relation because I though that it may be reported/WONTFIXed already

Open https://www.openstreetmap.org/edit?editor=id#map=18/54.43957/19.61258 and note water area rendering that is misplaced from actual https://www.openstreetmap.org/relation/8140878#map=15/54.4400/19.6196&layers=N

![screen06](https://user-images.githubu

[2020-10-28 11:01] matkoniecz commented on #8118
@lukethemapper Do you have any specific idea how to do this or noticing cases with unusual slowness?

[2020-10-28 11:36] karmanya007 commented on #8119
I can take this one.

[2020-10-28 11:42] karmanya007 commented on #8119
@quincylvania What icon should I use for this tower?

[2020-10-28 12:38] karmanya007 commented on #8119
@quincylvania I found the font awesome vihara icon. But it is not added to the cdn of iD. So it's not showing up.

[2020-10-28 12:40] gregcrago opened #8130 "v2.19.0 Allowed Access adds [object Event] = yes tag"
I have NoScript 11.1.4 installed, but disabled.
I found a PATH that did not have foot=yes tag, so I normally use ALLOWED ACCESS and select YES for FOOT. Normally all settings are GHOSTED. Upon fist try, I noticed [object Event]=yes and the YES in ALLOWED ACCESS is still GHOSTED. I tried again and I get an additional [object FocusEvent] = yes added to the tags and I get a UNGHOSTED YES in ALLOWED A

[2020-10-28 12:45] tordans commented on #8130
@gregcrago this sounds like https://github.com/openstreetmap/iD/commit/24ad7fcb820c74647d67d37fd880b6a24fbc797e

[2020-10-28 13:11] quincylvania commented on #8130
Yep, this is #8126 and was fixed in the 2.19.1 patch. @gregcrago Try reloading the page and check the bottom corner—iD should be updated.

[2020-10-28 13:11] #8130 closed, assigned to nobody

[2020-10-28 13:27] quincylvania commented on #8118
@matkoniecz Internet speed is a big factor in startup time, since iD needs to download a few things. I did #7982 and #7994 for 2.19.0, which reduced the initial downloads.

[2020-10-28 13:47] quincylvania commented on #8129
@matkoniecz Thanks, this is #1201. The rendering of incomplete multipolygons is a longstanding issue with no clear solution aside from always downloading the full data.

[2020-10-28 13:47] #8129 closed, assigned to nobody

[2020-10-28 15:10] karmanya007 commented on #8104
@quincylvania I think, now I can take this one. Could you tell me how the grouping happens?

[2020-10-28 17:01] TheAdventurer64 commented on #3034
Similar to what @bhousel said, shouldn't mappers have a way to say something like `payment:credit_cards=no`?

[2020-10-28 17:26] gmckone opened #8131 "Map data not loading while editing."
While completing a HOTOSM task. (this has happened before).
link to page: https://tasks.hotosm.org/projects/9677/map/?editor=ID#background=Maxar-Premium&gpx=https://tasking-manager-tm4-production-
api.hotosm.org/api/v2/projects/9677/tasks/queries/gpx/%3Ftasks%3D1663&map=18.80/2.16804/35.41325
Working in Google Chrome. (logged into OSM/ HOTOSM.)
Google Chrome is up to date
Version 86.0.4240.111 (Of

[2020-10-28 17:47] quincylvania commented on #8131
Greetings and welcome, @gmckone. We've been monitoring this issue over at #8090. I've been working with @willemarcel to resolve this on the Tasking Manager side and I think we're pretty close.

Closing this as a duplicate.

[2020-10-28 17:47] #8131 closed, assigned to nobody

[2020-10-28 17:49] quincylvania commented on #3034
@TheAdventurer64 See #7035.

[2020-10-28 18:15] gmckone commented on #8131
Thank you quincylvania I appreciate the link to the issue. Great news!

[2020-10-28 20:02] rhhsm commented on #8051
The issue also applies to buildings, both disused: and abandoned: . In addition, these buildings no longer appear on the OSM map. I'm tempted to use building=house & disused=yes instead of disused:house=yes even though this is discouraged, because the issue doesn't occur here. I think disused:house=yes should be displayed the same as building=house & disused=yes (brick red area with dotted perimet

[2020-10-28 20:40] quincylvania commented on #8051
@rhhsm Yes, there are many combinations of `status:key` that people use in OpenStreetMap, but I think it'd be over-the-top to try and support all of them as presets. I'd discourage using the `disused:building` tag specifically, since a building is still a building even when no one is using it.

[2020-10-28 21:21] 1ec5 opened #8132 "Setting Wikipedia field no longer sets Wikidata QID"
Setting the Wikipedia field to an article title adds the `wikipedia` key but no longer adds a `wikidata` key with the QID corresponding to the article. Reproduces in 2.19.2 and the develop branch but not in 2.18.5.

[2020-10-28 23:26] jayenashar commented on #8090
not sure if it helps, but i've got a related report from a user (@tastrax) of the oceania tasking manager.  he gave me this stack trace.  i checked the network traffic and it looks ok (i.e. nodes before ways from OSM's API).

[code]

[2020-10-28 23:40] TheAdventurer64 commented on #7319
I like this idea! I've seen it in JOSM as well. This could be a neat way to engage new mappers into mapping, and to educate them on it.

[2020-10-28 23:44] TheAdventurer64 commented on #7080
@sanecito Any progress on the proposal?

[2020-10-29 00:31] willemarcel commented on #8090
@jayenashar I'm solving it with https://github.com/hotosm/tasking-manager/pull/3792

[2020-10-29 01:00] jayenashar commented on #8090
fantastic.  i'll pull it into our TM so @tastrax can use it

[2020-10-29 02:04] 1ec5 commented on #4579
I was thinking about keys as a first step, but in principle the same mechanism could eventually be expanded to cover values as well. The problem with flagging new values at the moment is that many keys allow freeform values, for example `name` and `maxheight`. We don’t want to discourage people from setting values for freeform keys just because they aren’t as predictable as enumerated keys.

There

[2020-10-29 02:04] 1ec5 commented on #7754
I proposed starting out with keys, but in principle the same mechanism could be extended to values if we can reliably distinguish enumerated keys from freeform keys: https://github.com/openstreetmap/iD/issues/4579#issuecomment-718311982.

[2020-10-29 02:09] 1ec5 opened #8133 "Filter Mapillary sign detections by date and user"
The street-level imagery filtering feature added in #8076 is incredibly useful for updating signposted details, but it doesn’t appear to filter Mapillary sign detections, so the filter can give a false sense of security when mapping based on sign detections. @cbeddow pointed out that Mapillary’s [map feature API](https://www.mapillary.com/developer/api-documentation/#the-map-feature-object) return

[2020-10-29 02:20] sanecito commented on #7080
@TheAdventurer64

Thanks for the followup; took bereavement shortly after the prior conversation and then COVID hit and this fell between the cracks. Will target modifying the proposal within the next two weeks to Quincy's suggestion of creating a `pitch=*` and `pitch=skatepark` as well as updating the [leisure skatepark example](https://wiki.openstreetmap.org/wiki/Tag:leisure%3Dpitch#Skatepark) t

[2020-10-29 03:49] rivermont commented on #7312
Looks like I didn't really add any info to this.

I meant that in addition to snapping to 90 degree angles, the tool should snap to 180 to make it easy to draw straight lines with nodes at certain points. Unless this was added on the v2 branch it applies to both, it's really a feature request and not a bug.

[2020-10-29 04:39] lukethemapper commented on #8118
@quincylvania I have a new superfast internet and a I5 processor

[2020-10-29 06:42] rhhsm commented on #8051
Consensus on the OSM wiki is that the simple tag is discouraged in favour of the prefix for reasons given here for instance https://wiki.openstreetmap.org/wiki/Key:abandoned: I think the software should be adapted to the consensus, not the other way around. Probably to create presets for all cases is not the most elegant solution (but I'm not a coder).

[2020-10-29 08:41] matkoniecz commented on #8051
1) https://wiki.openstreetmap.org/wiki/Key:abandoned is for abandoned, not disused

2) https://wiki.openstreetmap.org/wiki/Key:abandoned specifically indicates that `building=*` + `abandoned=yes` is superior to `abandoned:building`

3) I just edited [https://wiki.openstreetmap.org/wiki/Key:disused:](https://wiki.openstreetmap.org/wiki/Key:disused:) to indicate that `disused:building` is a bad idea

[2020-10-29 10:39] HolgerJeromin commented on #8051
Your link lost the `:`. Right is: [https://wiki.openstreetmap.org/wiki/Key:disused:](https://wiki.openstreetmap.org/wiki/Key:disused:)

[2020-10-29 10:53] DujaOSM opened #8134 "Mouse hover in dropdown no longer highlights the relation"
Another apparent 2.19 regression:

When i want to add an object to a relation, and hover the mouse pointer over the list of available ones, they are no more highlighted blue (or was it yellow?). Used to work fine in 2.18, and was immensely helpful to identify the desired relation.
![NoRelationHighlight](https://user-images.githubusercontent.com/48584318/97559102-4b7ecc80-19dd-11eb-8ee1-d5d27a70080

[2020-10-29 11:05] matkoniecz commented on #8051
Thanks, fixed. Github tried to be helpful and delinked trailing :

[2020-10-29 13:35] quincylvania commented on #8118
I'm just going to group this into #8091…

[2020-10-29 13:35] #8118 closed, assigned to nobody

[2020-10-29 13:57] #8134 closed, assigned to quincylvania

[2020-10-29 13:57] quincylvania commented on #8134
Thanks for reporting, @DujaOSM. I'll ship a patch out today for this.

[2020-10-29 14:05] #8132 closed, assigned to quincylvania

[2020-10-29 14:05] quincylvania commented on #8132
@1ec5 Thanks for reporting. This will be patched today.

[2020-10-29 14:59] quincylvania commented on #8090
🕺

[2020-10-29 14:59] #8090 closed, assigned to nobody

[2020-10-29 15:59] #8133 closed, assigned to quincylvania

[2020-10-29 16:00] quincylvania commented on #8133
@1ec5 Good idea, this makes for a nice enhancement that mappers would expect.

[2020-10-29 16:08] quincylvania commented on #8119
@karmanya007 Thanks! You can use the font awesome icon by specifying `fas-vihara`, running `npm run build:data`, and then running `npm run dist:svg:fa`. The icon file will be added to iD's files and you can check it in.

[2020-10-29 17:40] #8097 closed, assigned to quincylvania

[2020-10-29 17:41] quincylvania commented on #8097
Hi and welcome, @joepie91. Thanks for bringing up this issue, I've fixed it for today's patch release.

[2020-10-29 18:18] ignaciolep opened #8135 "Add preset communication=line"
Consider adding a preset for a _main communications cable carrying data_. These cables can be either on land or undersea (Submarine cables).

Wiki: https://wiki.openstreetmap.org/wiki/Tag:communication%3Dline

Thanks!

[2020-10-29 20:05] joepie91 commented on #8097
Excellent, thanks!

[2020-10-29 21:42] lectrician1 commented on #7773
**I am extremely for this.** If we could have a way to Overpass query inside of iD and then be able to easily browse through all of the resulting elements, that would make tag cleanup for a variety of projects so much faster.

It's very annoying to use Overpass-turbo right now to get the results for a query and then opening _every result_ in a new tab and then editing them. An example would be my

[2020-10-29 22:35] GregRetro opened #8136 "Allow OSM map notes text to be selectable"
I realize this is not critical, and is more of a "would be nice to have", as map notes are selectable for copying in OSM itself.
The aim is to allow selection of text in the left pane for insertion into a translator app.
![2020-10-29](https://user-images.githubusercontent.com/72281797/97639653-3b2a1a00-19fc-11eb-9386-102544d1db34.png)

[2020-10-30 00:29] tastrax opened #8137 "Shortcuts missing - 2.19.2"
When you initially go into the shortcuts (?) the browsing shortcuts appear but if you click on editing or tools, they disappear, never to return

![image](https://user-images.githubusercontent.com/8775395/97646149-08872c80-1aa3-11eb-9adc-e413b88e91e5.png)

![image](https://user-images.githubusercontent.com/8775395/97646165-1937a280-1aa3-11eb-82ee-26da3f81f619.png)

[2020-10-30 00:36] tastrax commented on #8137
Shortcut key ? also fails

[2020-10-30 00:50] jidanni opened #8138 "Can't copy text of relation member names"
[Here](https://www.openstreetmap.org/edit?relation=5668778#map=16/24.1741/120.8730) the text I want to copy, 天輪-翁子線,  is sitting in front of me,
![14058-8](https://user-images.githubusercontent.com/1230959/97647216-a4f20480-1a8c-11eb-93e0-37c8d26d01d1.jpg)
but there is no easy way to copy it with the mouse.
Sure, I could get it from elsewhere, but still...

Poking around in the "v" menus doesn't f

[2020-10-30 10:32] willemarcel commented on #7767
Another issue is the number of presets when the user searches:

![image](https://user-images.githubusercontent.com/666291/97694981-15dfef00-1a82-11eb-926d-56af50873995.png)

[2020-10-30 13:48] #8137 closed, assigned to quincylvania

[2020-10-30 13:49] quincylvania commented on #8137
@tastrax Thanks for reporting!

[2020-10-30 13:59] quincylvania commented on #8138
@jidanni What browser are you using? I'm able to select and copy the text in Firefox and Safari on macOS.

[2020-10-30 14:03] quincylvania commented on #8136
Hi and welcome, @GregRetro.

I can't reproduce this issue in Firefox or Chrome on macOS… What browser and system are you using? Does the problem occur when you first launch iD or only later on?

This and #8138 might be the same issue.

[2020-10-30 20:42] GregRetro commented on #8136
Apologies for not following the most basic bug reporting guidelines...
Running Win10Pro-x64, Chrome 86.0.4240.111.
Cannot get it to repro on Edge, and I've only just now noticed that it does not repro on new iD sessions in Chrome.

I agree that this is the same issue as #8138 - on iD sessions where I can't select map notes text, I also cannot select any text not in an editable field in either the

[2020-10-30 21:39] quincylvania commented on #8138
Closing this in favor of #8136, but more info would still be useful if you have it @jidanni.

[2020-10-30 23:48] jidanni commented on #8138
Even in Firefox,

1. Browse https://www.openstreetmap.org/edit?relation=5668778
2. Try to copy any text out of any of the **Members**
3. You end up grabbing the whole member and reordering it

That is because instead of just giving a "reordering handle to grab on"
on the edge of each member, somebody has **made the whole member its own handle**.

[2020-10-31 00:04] jidanni commented on #8136
Nope.

[2020-10-31 01:23] GregRetro commented on #8136
Yeah - not the same issue. I jumped the gun on that - sorry.

[2020-10-31 01:33] GregRetro commented on #8138
Looks like this is a "feature" of Power Route relations. I can reorder the relation members in this way with other power routes as well - and accordingly cannot copy the relation member names.
Definitely NOT the same issue as #8136, and this probably deserves to be reopened.
BUT... I *really* like the ability to reorder relation members here. Would be great if this state were toggle-able for all "

[2020-10-31 01:44] jidanni commented on #8138
I defend the right of anybody to reorder relations.

They just need little 'handles' added to them, for users to grab on and pull them around.

The 'lazy' way is to forget the handles, and unfortunately make each item its one big handle, with the concurrent loss of Accessibility as the price.

So what icon for the handles? A four direction arrow. OK, two directions, up and down... but that would s

[2020-10-31 04:52] jidanni commented on #8138
Here on my Zenfone, grabbing the hamburger icon does the trick:

![Screenshot_20201031-124912](https://user-images.githubusercontent.com/1230959/97771491-5cb01080-1b78-11eb-8e08-6845c1c7fef3.jpg)

[2020-10-31 09:31] mueschel opened #8142 "iD adding tags [object Event] [object FocusEvent] - cleanup necessary"
SInce a few days iD users have added hundreds of objects with two obviously wrong keys:

[object Event]
[object FocusEvent]

This happens world-wide and by more than 100 different users:
http://overpass-turbo.eu/s/Zzb

This needs to be cleaned up in the database.

[2020-10-31 14:02] RAytoun commented on #8142
This is probably where that key originated ... https://wiki.openstreetmap.org/wiki/Key:object

[2020-10-31 15:59] mueschel commented on #8142
No, this is #8130, but the damage to the database needs to be repaired as well.

[2020-10-31 16:34] RAytoun commented on #8142
OK. Thank you for clearing that misunderstanding.

[2020-10-31 17:14] lgommans opened #8143 "Show what changes are suggested along with the apply button rather than hiding what changes will be done by default"
![being asked to apply unspecified changes](https://user-images.githubusercontent.com/5626710/97785000-d5c45d80-1ba2-11eb-976d-f5683e70904d.png)

Rather than asking people to apply unspecified changes and requiring an extra click to see what change you will be making, iD should show what tagging changes it is proposing. Honestly, nobody should be clicking automatic edit buttons unless it's an appr

[2020-11-01 04:04] ScriptForAll opened #8145 "Feature Request: Make a distinction betwen highways that have different lit=* tags"
I've started using iD (and contributing to OSM in general) for a few mounths and something I've noticed that is missing and could help reduce editing time with highways would be a way to represent highways that have different lit=* tags.
One could use overpass turbo and have the ways highlighted with the different tags but I believe implementing it directly into the editor would be more friendly a

[2020-11-01 04:36] Jsfasdf250 opened #8146 "More precise feature rotation (modifier for snapping to angle, deltas in Directions field, custom pivot)"
It would be nice if the following features are added to rotation:

- Snap to 15 degree increments when holding shift or some other key
- Add option to type number of degrees to rotate
- A node can be selected as the pivot

[2020-11-01 09:26] 1ec5 opened #8147 "No longer able to translate many plural messages in Vietnamese"
As I finally started digging into the Vietnamese localization after #7991, I realized that Transifex doesn’t let me completely translate all the messages that PR made pluralizable, because [Unicode’s CLDR project insists that Vietnamese has no plural form](https://unicode-org.atlassian.net/browse/CLDR-14273), and Transifex takes CLDR at face value. Previously, the Vietnamese localization had been

[2020-11-01 15:36] scaidermern commented on #8006
Any progress here? With the current behavior iD is slowly degrading OSM's data quality.

[2020-11-01 16:20] lectrician1 commented on #8145
Implementation of #7773 could allow this. Your issue is one of many projects that could make it useful.

[2020-11-01 16:27] jleedev opened #8148 "Close button overlaps toolbar on right"
When the height of the window is too small, the X button of the right-hand sidebars is overlapped by the toolbar and is hard to click. Even when the window is tall enough, the sidebar's scrollbar is overlapped.

![Screenshot 2020-11-01 at 11 19 20](https://user-images.githubusercontent.com/23022/97808340-5f703b80-1c34-11eb-8b7c-81255089caf7.png)

[2020-11-01 16:33] jleedev commented on #8148
Also the measurement and history panels:

![Screenshot 2020-11-01 at 11 32 25](https://user-images.githubusercontent.com/23022/97808615-fee1fe00-1c35-11eb-8add-bfa48429cc95.png)

[2020-11-01 16:38] lectrician1 commented on #8143
I like this. I would prefer this format better:
![image](https://user-images.githubusercontent.com/22477298/97808775-6b58ff00-1c2e-11eb-9503-046f4090de96.png)

[2020-11-01 18:03] maro-21 commented on #7606
I still can see this bug.

What I've done:
- create a point
- add some tags
- move the node
- edit some tags and after it the node goes back to the previous location

[2020-11-01 18:09] lgommans commented on #8143
@lectrician1 I would like that format too!

[2020-11-01 19:27] maro-21 commented on #8143
I support this change, because I always click [i] button to expand even though I am experienced with the tags and I usually know what is going to change.

[2020-11-01 19:57] maro-21 opened #8149 "Empty shortcuts menu"
When I press [?] I can see the first of three menus, but when I click "Modifying" or "Tools", the menu disappears.

![help menu](https://user-images.githubusercontent.com/57260466/97812855-ae45c180-1c84-11eb-9c09-2515c9851b9b.png)

[2020-11-01 21:17] tordans commented on #8149
Same for me in German.

[2020-11-01 23:53] jidanni opened #8150 "warehouses should have telephone number prompts"
We are prompted to fill in the address of
https://wiki.openstreetmap.org/wiki/Tag:building=warehouse
but how about also telephone numbers?

This is important info for hazards teams too.

Workaround:
1. Enter details
2. Switch to corporate office
1. Enter phone number
2. Switch back to warehouse

[2020-11-02 01:04] 1ec5 opened #8151 "× button in multiple selection list selects the feature instead of deselecting it"
If you select multiple features and click the ✖️ button on one of the rows in the list of selected features, that feature should be deselected, leaving the rest of the features selected. Instead, iD selects only the feature corresponding to that row, deselecting the others.

[2020-11-02 13:08] quincylvania commented on #8149
Thanks, this is #8137.

[2020-11-02 13:08] #8149 closed, assigned to nobody

[2020-11-02 13:11] quincylvania commented on #8138
@jidanni Oh okay, I think I was looking at the Relations section by mistake, not the Members section.

[2020-11-02 13:23] quincylvania commented on #8143
Welcome, @lgommans. I think #6408 covers this…

[2020-11-02 13:23] #8143 closed, assigned to nobody

[2020-11-02 13:26] quincylvania commented on #8148
The panel issue is #7133. I think the underlying design problem is that the vertical side buttons aren't suited to small window sizes.

[2020-11-02 13:37] quincylvania commented on #7606
@maro-21 I still can't reproduce this. It might help if you could share what browser/system you see this on, or what location of the map.

[2020-11-02 13:49] #8150 closed, assigned to quincylvania

[2020-11-02 14:23] quincylvania commented on #8146
Hi and welcome, @Jsfasdf250.

Can you give us a better idea of where you might need this? I agree snapping is useful for most vector graphics software, but map data is rarely so neat and tidy.

Hmm this really seems too advanced for a simplicity-focused app like iD. Mappers can generally just line stuff up with the imagery and not have to worry about exact measurements.

This sounds okay theoretic

[2020-11-02 14:38] maro-21 commented on #7606
I use Firefox but I don't think it depends on the browser;)
More details:
- open any location
- add a point and choose restaurant
- add name, cuisine and opening hours
- move the point to a different location
- add another tag, for example website - when you type any letter, the point goes back to the previous location.

[2020-11-02 14:46] claudiush opened #8153 "Aeroway holding position type preset support"
holding_position:type=runway/intermediate/ILS is the established tag to specify the type of an airport holding position on taxiways and runways with more than 3000 uses: ​https://taginfo.openstreetmap.org/keys/holding_position:type

Please enhance iD's preset for aeroway=holding_position to support easy selection of this type.

[2020-11-02 14:47] #8151 closed, assigned to quincylvania

[2020-11-02 14:48] quincylvania commented on #8151
@1ec5 Thanks for reporting. I wasn't seeing this problem in Firefox 82, but I imagine some browsers might treat nested buttons differently. I un-nested them.

[2020-11-02 15:39] quincylvania commented on #7606
Ah, I was able to reproduce this when changing the Name field first.

[2020-11-02 16:03] quincylvania commented on #8142
Unfortunately I think we have to remove these tags entirely since we can't be sure what key the mapper intended.

[2020-11-02 16:05] quincylvania commented on #8078
Done by @karmanya007 in #8112.

[2020-11-02 16:05] #8078 closed, assigned to nobody

[2020-11-02 16:17] maro-21 commented on #8150
I don't agree. I think only POIs can have phones. Building=warehouse is just a building. If there is a phone, it should be connected to a company (shop / office).

[2020-11-02 19:29] willemarcel opened #8154 "Cancel button on custom background doesn't revert background list option"
When we click on the custom background option, doesn't set a value for the URL and cancel the edit, it doesn't revert the background list to the last option.

When we do the same by clicking on the `...` button, it reverts to the last option selected.

Follow up from #8141

[2020-11-02 19:30] maro-21 opened #8155 "Tags disappear from the editor"
How to reproduce the bug:
- Add gas station
- add fuels
- add payment types
- select any other feature and select this gas station again
- the tags are still there but not in the editor.

![gas_station](https://user-images.githubusercontent.com/57260466/97910287-d5b29200-1d49-11eb-8fb0-46a49190ca3a.png)
----
after:
![gas_station2](https://user-images.githubusercontent.com/57260466/97910301-d814ec0

[2020-11-02 20:42] lgommans commented on #6408
I didn't find this ticket before opening #8143. To recap, I wrote:

In response to which @lectrician1 proposed the following design:

---

@quincylvania wrote in the current ticket:

If any mapper needs to make a decision about tags being changed, they need to see the tags. It's under their name and not an approved mechanical edit, after all. If they are incapable of judging the change, then they

[2020-11-02 22:57] willemarcel commented on #8114
@tordans do you need those params on the url to share an iD config with someone? I prefer to have a cleaner URL. Maybe a solution would be a share URL function to get the URL with alll the hash params.

[2020-11-02 23:16] jidanni commented on #8150
@maro-21 , the bug spray company's office is in Taipei.
But they have five warehouses scattered around the country.
They don't have any shops. They are B2B, not B2C.
The do have a factory though, in Kaohsiung.

[2020-11-03 09:50] matkoniecz opened #8157 "Show inscription field if inscription tag is present for any object"
Basically anything may have inscription, so inscription tag can be present on nearly anything. If there is sane way to always display it of tagged already it would be nice to do this.

https://www.openstreetmap.org/node/1782223379
![screen03](https://user-images.githubusercontent.com/899988/97970782-5a40f700-1dc2-11eb-8e0d-7d7637940ac0.png)

[2020-11-03 16:09] lukethemapper opened #8158 "barrier=motorcycle_barrier preset"

[2020-11-03 19:10] quincylvania commented on #7702
I'd say it's high time to do this. Beyond the technical advantages to modularity, it'd be a huge benefit organizationally if tagging issues could live in a separate repository from the rest of iD.

[2020-11-03 19:20] cbeddow commented on #8133
We are thinking about how to do this a little differently, because the first seen and last seen has to line up a little differently from from and to. So if implementing it now, my suggestion is:

From date must be applied to the traffic sign layer so that there is a date range of FROM and TO, which then must overlap with the date range of FIRST SEEN and LAST SEEN. It's crucial to check for overlap

[2020-11-03 20:45] weech opened #8159 "Changing a power plant fuel type deletes plant:output:*"
I found what I think is a bug when changing a power plant tagged with the Coal-Fired Power Plant preset to any other kind of power plant. This action removes the `plant:method=combustion` and `plant:source=coal`, which is expected, but it also removes the `plant:output:electricity` tag, which is not expected.

[2020-11-03 22:46] M3yby opened #8160 "Search Feature after pressing Enter even if feature was not searched for."
The issue is similar to https://github.com/openstreetmap/iD/issues/8052 If searching for feature for the first time you need to click search worldwide, because enter is not working.

[2020-11-04 07:12] zdila commented on #7712
Is there a way or plan to support `@3x` scaling? It would be nice to have universal scaling parameter and specify supported scalings. For example: `{@2x,@3x}` or `{r,2,3}`.

[2020-11-04 08:21] zdila opened #8163 "Add support for retina aerial imagery"
TMS URL parameters `{@2x}` and `{r}` are a great addition to support retina background imagery for rendered maps (maps with labels, icons and other symbology). But iD should also support retina for pure aerial (non-hybrid) maps. These maps don't need any extra parameter in URL and to achieve sharp rendering it is sufficient to take 4 adjanced tiles from zoom+1 and place them to the same space as w

[2020-11-04 08:23] zdila commented on #8142
I think we should also comment those changesets so that mappers would be aware of this and would have a chance to re-add correct tags.

[2020-11-04 10:21] rbuffat commented on #7712
@quincylvania sorry to hijack this issue. To support retina for wms sources, wouldn't it just be necessary to increase the width and height parameter of the getmap queries if isRetina is true? https://github.com/openstreetmap/iD/blob/3ef36a8badc50d56b15dd4749df8e36be5f50a1b/modules/renderer/background_source.js#L159

But it probably needs to be investigated if this would have a negative impact on

[2020-11-04 13:54] quincylvania commented on #7712
@zdila No ongoing plans… we could theoretically support it but I'm not sure how useful it'd be. 2x is suitable for most screens. Doesn't look like Leaflet supports this yet either. Do you know of any actual 3x endpoints that people might need in iD?

I'm not a WMS expert but if the endpoints is imagery-only, something like this might work. #8163 might be related.

[2020-11-04 14:04] zdila commented on #7712
useful for 8k 32" and smaller displays ... maybe more a future ;-)

"Ortofotomozaika SR" background supports it. But not sure if anybody needs it.

[2020-11-04 14:15] quincylvania commented on #7712
Okay, well I'd say we can wait for 3x to catch on more before worrying about it.

[2020-11-04 19:23] Jsfasdf250 commented on #8146
I think the angle snapping feature would be useful for mapping buildings and other artificial features.

[2020-11-04 19:33] CHANDRAMANI70 commented on #7807
can i work on this ???

[2020-11-04 22:35] jidanni opened #8164 "Empty text boxes close before user has chance to copy new text into them"
Our task for today is to copy the letters AAAA into the bottom box, replacing the words 大坪角.

![10720-1](https://user-images.githubusercontent.com/1230959/98174505-f3415080-1f2f-11eb-82da-b63ab72d0ce1.jpg)

Our first step is to place the cursor next to the letters 大坪角 and erase them.
Now the box is empty.
Now we place our cursor next to AAAA intending to copy it. But...

![5638-2](https://user-ima

[2020-11-04 23:13] jidanni opened #8165 "Can't enter name:xxx in Multilingual Name box"
Here on the right (another browser window, looking at OSM.ORG, and a different place), we see `name:hak`,
![16674-3](https://user-images.githubusercontent.com/1230959/98177476-aceef000-1f35-11eb-8ab8-ab8f88256bab.jpg)

OK, but try as we might, there is no possible way to be able to get that on the left.
Any attempt at `hak` becomes `Hak`, and other weird languages are suggested to us instead.

The

[2020-11-05 00:52] sun-geo commented on #8109
@maro-21 Thanks for linking. Yes, it's a bit similar to the building name tagging.

@quincylvania It's not causing hard problems, but for my feeling the `name` field will be used instead of `description` or as a replacement of other tags (subtags) which maybe aren't invented yet to give some more details about the type.

It would be interesting if `name` would be still the most common combination

[2020-11-05 08:08] DujaOSM opened #8167 "Merging ways may result in duplicate relation membership"
When ways being merged participate in the same relation but with different roles, iD will happily duplicate the relation membership in the combined way, keeping the roles intact:

1. Create a way A, and add it to a (for example) multipolygon M with no role
2. From A's endpoint, create a way B, and add it to M with role "outer"
3. Shift-Select A and B and [C]ombine them.

As a result, the combined

[2020-11-05 08:27] 1ec5 commented on #8147
There ended up being a few messages where I had to write “(các) đối tượng” in parentheses in Vietnamese, the equivalent of “object(s)” in English.

[2020-11-05 09:32] magol opened #8168 "Translate description for "YouthMappers de Universidad de Costa Rica" to English"
The description for "YouthMappers de Universidad de Costa Rica" is written in Spanish when it should be in English.

https://github.com/openstreetmap/iD/blob/8ecb98323bbec077dc072dd7d8e7316f31238ff6/dist/locales/en.json#L13162

[2020-11-05 16:00] karmanya007 commented on #8119
@quincylvania #8169  opened

[2020-11-05 17:28] forteller opened #8170 "New preset: Bike repair shop"
I feel like it's unnecessarily hard right now to add a bike repair shop that only repairs bikes, and doesn't sell any. You have to know that you open up the tags manager and add service:bicycle:retail no, after adding a node for a bicycle shop.

But if you want to add a repair shop, you won't search for a bike shop, and might not even find the correct node to add at all. This might be worse in oth

[2020-11-05 17:58] maro-21 commented on #8170
I fully support this!

[2020-11-05 18:14] jjiglesiasg commented on #8168
Why?, Universidad de Costa Rica is the correct name of the institution. We do not translate University of Oxford or Yale, or so, because those are the Correct Names in their Languages, Why Universidad de Costa Rica needs to be Translated to English?

I don’t see the rationale behind this request…

From: Magnus Österlund [mailto:notifications@github.com]
Sent: Thursday, November 5, 2020 5:33 AM
To:

[2020-11-05 18:18] maro-21 opened #8171 "Unresolved issues on Transifex"
There are 29 unresolved issues on Transifex. Some of them were already solved so should be closed.
I don't know if developers look there from time to time, because some of them are 6 years old ;-)

| String

[2020-11-05 18:22] maro-21 commented on #8168
Not the name of the university, but the **description** which is entirely in Spanish and translators translate strings from English.

[2020-11-05 22:26] tguen opened #8172 "Add 'import_uuid' & 'gnis:import_uuid' to discarded tag list"
These tags don't appear to serve any real purpose, and the wiki discourages their use. It seems they were intended to act like a changeset ID before changesets were introduced. They have been used 224k and 52k times respectively. The discarded list already contains `tiger:upload_uuid` which appears to have the same intended purpose.

[2020-11-05 23:09] tastrax opened #8173 "Network error warning?"
Not sure if this is an OSM or ID error but whilst using the ID editor I occasionally get a red message flash at the bottom of the screen when uploading. Trouble is, it doesn't last long enough for me to read. Something about network and API? It would be good if it stayed on longer so I can read it, and maybe then dismiss it ?

I generally make a minor edit after this and try an upload again, hopef

[2020-11-06 09:46] magol commented on #8168
@jjiglesiasg The name should not translate as you say. But the description must be translated as all other strings are i English in en.json. I have updated the title of this issue to point out this.

[2020-11-06 15:18] jjiglesiasg commented on #8168
Agree… BsRgds

From: Magnus Österlund [mailto:notifications@github.com]
Sent: Friday, November 6, 2020 5:47 AM
To: openstreetmap/iD <iD@noreply.github.com>
Cc: Juan Jose Iglesias <jjiglesiasg@gmail.com>; Mention <mention@noreply.github.com>
Subject: Re: [openstreetmap/iD] Translate description for "YouthMappers de Universidad de Costa Rica" to English (#8168)

@jjiglesiasg <https://github.com/jjig

[2020-11-06 15:18] quincylvania commented on #8168
Thanks, @magol. This data is actually handled over at the [osm-community-index](https://github.com/osmlab/osm-community-index) so you'll need to open the issue there.

[2020-11-06 15:18] #8168 closed, assigned to nobody

[2020-11-06 15:36] jgscherber opened #8174 "Multi-select doesn't move point associated with line"
When select both a line and a node on that line, it'd be nice if a dragging action always moved the selected node, instead of any other nodes at the same location. See gif below for the "bad" behavior. The use case is largely around unhooking areas from roads. I don't want to move the road node just to get at the area node to move it.

![multiselect-point-line](https://user-images.githubuserconten

[2020-11-06 15:41] magol commented on #8168
Thanks @quincylvania
I have created a new issue: https://github.com/osmlab/osm-community-index/issues/386

[2020-11-06 17:30] quincylvania commented on #8174
I think this is the task behind #7984, but I'm going to leave this issue open instead since it seems more focused (and has a nice gif 😄).

[2020-11-06 17:30] quincylvania commented on #7984
Superseded by #8174.

[2020-11-06 17:30] #7984 closed, assigned to nobody

[2020-11-06 17:39] quincylvania commented on #7807
@CHANDRAMANI70 If you're feeling up to it, then give it a shot! I don't really have any tips though since I haven't looked into this issue myself.

[2020-11-06 18:19] Klumbumbus commented on #8086
I don't know how you came to this conclusion. See https://github.com/osmlab/editor-layer-index/issues/981#issuecomment-723221069

[2020-11-06 18:39] rivermont commented on #8172
If this goes through I would also suggest adding `NHD:FCode`, `NHD:FType`, `NHD:RESOLUTION`, `NHD:ReachCode`, and one of `NHD:ComID` or `NHD:way_id` (duplicates). FCode and FType were translated into the OSM tags and are now redundant, RESOLUTION and ReachCode is useless, and ComID (sometimes `nhd:com_id`) and way_id are duplicate info and mostly useless unless you want to reference a stream segme

[2020-11-06 19:19] lectrician1 commented on #8172
The NHD codes _need to go_. This would help with cleanup a lot.

[2020-11-06 19:39] MakiWolf commented on #8155
It also affects other categories
![grafik](https://user-images.githubusercontent.com/73300633/98407381-d9a72280-206f-11eb-807c-966e197a4761.png)

[2020-11-06 20:00] boothym opened #8176 "Copy and paste from nsi.guide"
I wanted to copy and paste a brand from nsi.guide which wasn't yet in iD, e.g. "brand": "Bannatyne Health Club". Unfortunately that means a little bit of extra work changing the colon into an equals sign so that iD recognises it as a tag/value pair in the tag text area.

So my suggestion would be to recognise a colon and space or two spaces as a separator along with "=". That would also allow copy

[2020-11-06 20:51] #8122 closed, assigned to quincylvania

[2020-11-06 21:15] #8155 closed, assigned to quincylvania

[2020-11-06 21:15] quincylvania commented on #8155
@maro-21 Thanks for reporting! This regression was most likely introduced in 2.19.0.

[2020-11-06 22:44] quincylvania commented on #8165
In cc1e512f445c8f5a51caa4f8c91085c20b8a2991 I added this and a lot more languages that iD previously had translations for in English but weren't shown in the dropdown.

[2020-11-06 22:44] #8165 closed, assigned to quincylvania

[2020-11-06 23:16] quincylvania commented on #7802
I'm seeing this, which I think is fine for any country even if some countries might not use these ranges.

![Screen Shot 2020-11-06 at 6 15 19 PM](https://user-images.githubusercontent.com/2046746/98423237-0d784d00-205c-11eb-97bf-0059216e6a61.png)

[2020-11-06 23:16] #7802 closed, assigned to nobody

[2020-11-06 23:21] quincylvania commented on #7801
I agree with @JamesKingdom here. It seems like an edge case that's not a huge problem and wouldn't be trivial to fix. Changeset tags like this are more of a general reference then a reliable measure anyway, since people can fake them. If someone cares about the exact changeset index then they'll need to examine the database-assigned metadata.

[2020-11-06 23:21] #7801 closed, assigned to nobody

[2020-11-07 07:44] tguen commented on #8172
`gnis:Class` & `gnis:feature_type` are redundant. `gnis:state_id`, `gnis:ST_num`, `gnis:ST_alpha`, `gnis:county_id`, `gnis:County`, `gnis:County_num`, & `gnis:county_name` could be considered redundant as well since the states & counties are all mapped already. I'd also consider `gnis:created` & `gnis:edited` to be useless. Honestly I think all gnis tags are useless except `feature_id`/`id` (dupli

[2020-11-07 11:46] amiormu opened #8177 "Use local osm data in iD editor"
Hello, it's a great honor to use such excellent code.

As the scientific research needs to extract the road by AI, we need to develop the map editing system based on local OSM data. At present, we have successfully modified the API for obtaining road information into our own API and obtained the road information and tags under the longitude and latitude.

However, when our results are displayed on

[2020-11-07 20:04] sun-geo opened #8178 "Potential new validation rules?: information=* => board_type=*"
It seems between 2009 and 2010 the tagging scheme changed a bit from `information=nature` to `information=board` + [`board_type=nature`](https://wiki.openstreetmap.org/wiki/Key:board_type).

I found this by looking to this chart: https://taginfo.openstreetmap.org/tags/information=nature#chronology
And checking an old wiki version of the corresponding template form that time ([third last table-line

[2020-11-07 21:22] CHANDRAMANI70 commented on #7807
ohhkk.. thank you.
but i m new to this contribution. so where should i start to get better knowledge of this topic..
any suggestions???

[2020-11-08 17:49] theshem opened #8179 "The purpose of multiple index.html files"
I've been trying to understand the reason of having multiple `index.html` files in the project but I couldn't figure it out. There are two files, [one at the root](https://github.com/openstreetmap/iD/blob/release/index.html) of the project and the other in `dist` folder.

I was thinking if the [`dist/index.html`](https://github.com/openstreetmap/iD/blob/release/index.html) is somehow generated fro

[2020-11-08 18:45] rene78 opened #8180 "Already selected key-value pairs do not appear in selection menu"
_service:bicycle:repair_ and _service:bicycle:retail_ don't appear in selection menu, even though they are in the key-value list for the node.

Problem appears on this node:
https://www.openstreetmap.org/node/371237899

![Unbenannt](https://user-images.githubusercontent.com/36115705/98481398-49491900-21fa-11eb-8d17-0e6c7170a1af.png)

[2020-11-08 19:47] jmaspons opened #8181 "Missing catalan community info after a successful edition"
After editing with iD, no info about the [catalan community](https://wiki.openstreetmap.org/wiki/WikiProject_Catalan) is shown.

We have the following channels:
- Telegram -> https://t.me/osmcat
- Twitter -> https://twitter.com/OSMcatala
- Mail list -> https://lists.openstreetmap.org/listinfo/talk-cat
- Facebook -> https://www.facebook.com/OSMcatala

And we work on this area https://osm.org/relati

[2020-11-08 21:57] maro-21 commented on #8180
It's already been fixed in https://github.com/openstreetmap/iD/issues/8155.

[2020-11-08 21:59] rene78 commented on #8180
Thanks @maro-21! Gonna close the issue.

[2020-11-08 21:59] #8180 closed, assigned to nobody

[2020-11-08 21:59] maro-21 commented on #8181
You should open an issue here: https://github.com/osmlab/osm-community-index

[2020-11-09 00:36] tas50 opened #8182 "Update shop/telecommunications to be shop/telecommunications"
I've noticed a few of these popping over from time to time. iD should make sure to update these to the correct tag.

[2020-11-09 00:38] tas50 opened #8183 "Update shop/mattres to be shop/bed"
A lot of people have incorrectly tagged bedding stores as shop/mattress. We should update these to be shop/bed.

[2020-11-09 02:25] tas50 opened #8184 "Update amenity/gym to be leisure/fitness_centre"
It's incredibly common to have gym's mistagged in the US as amenity/gym. iD should suggest updating those to leisure/fitness_centre so they actually display correctly on the map

[2020-11-09 06:14] tordans commented on #8114
@willemarcel yes, the state of the app config should be shareable via URL. I am pretty shure it was before. IMO, longer urls are not unclean - it is how the web works. Hiding the config in a config hash breaks the old system, makes it less hackable and more complex to maintain, IMO.

[2020-11-09 07:21] nyqvist opened #8185 "ID wants to add building=garage to an area tagged as building:part=garage"
In my example I have a building that consists of three parts, all tagged as building:part, the outer area that include all parts is tagged as building=yes. The middle part is tagged as building:part=garage. See the screenshot below:

I think the tag "building" should not be added to an area tagged with "building:part".

![Skärmbild_2020-11-09_08-07-42](https://user-images.githubusercontent.com/154

[2020-11-09 10:53] DujaOSM commented on #8177
It sounds as if you are in a wrong place. iD is only an editor for the OpenStreetMap database. Apparently, you want to change rendering of the map, which is done by different software pieces entirely.

The default OSM renderer is called "OSM Carto", and its repositories are located at https://github.com/gravitystorm/openstreetmap-carto There are numerous other renderers around, as well as extensiv

[2020-11-09 11:17] EliLardieri opened #8186 "Lines mapping in OpenStreetMap"
I'm not able to map streets in OpenStreetMap because I don't see line types in the element selection (as in the image attached). I tried to write both in italian and in english, but nothing appears in the list on the left.
<img width="1414" alt="Schermata 2020-11-09 alle 12 09 09" src="https://user-images.githubusercontent.com/74185168/98534821-58c17400-2285-11eb-8489-318702ae2b46.png">

[2020-11-09 13:22] lectrician1 commented on #8186
https://www.reddit.com/r/openstreetmap/comments/jq4p41/hot_tasking_manager/?utm_source=share&utm_medium=ios_app&utm_name=iossmf

See this.

Close this issue.

[2020-11-09 13:24] EliLardieri commented on #8186
Thank you so much lectrician.

[2020-11-09 13:24] #8186 closed, assigned to nobody

[2020-11-09 13:32] quincylvania commented on #8186
Welcome, @EliLardieri. #7767 is about avoiding this type of confusion.

[2020-11-09 13:48] quincylvania commented on #8179
Hi and welcome, @theshem.

Nope, these look similar but are both manually-maintained. I honestly don't know why there are two index files though. Any insight, @bhousel?

iD.js is used by the index.html file at the root level for local development. The minified file takes too long to build and makes debugging much harder.

The line is supposed to reinforce the idea that iD.min.js is compatible with

[2020-11-09 13:51] quincylvania commented on #8180
Yep, I'll push out a patch with this fix today or tomorrow.

[2020-11-09 13:56] quincylvania commented on #8181
Welcome, @jmaspons. Like @maro-21 indicated, the communities are handled at the community index project and you can find more info there about how to open a pull request.

[2020-11-09 13:56] #8181 closed, assigned to nobody

[2020-11-09 14:11] bhousel commented on #8179
Not sure.. #464 suggests that it was so that the root html file could be more for our internal use, having a dev/prod source switcher and raw code, and the `dist/` html file is more for consumers, no source switch and minified code only.

[2020-11-09 14:29] theshem commented on #8179
Thank you for the response @bhousel @quincylvania

I was going to change the build system to split the iD bundle into separate chunks (having `[hash]` in filename) for better caching in production. Therefore, I needed to know which `index.html` file is the one. I can send a PR if you will.

Should I open a new issue to ask further questions regarding the code splitting?

[2020-11-09 14:30] bhousel commented on #8176
I just changed the formatting on https://nsi.guide so tags can be easily copied into iD now.

[2020-11-09 14:30] #8176 closed, assigned to nobody

[2020-11-09 14:33] bhousel commented on #8179
It's probably fine to ask them here, but I wouldn't spend time on code splitting.
There are plenty of other important bugs to fix or more impactful features to deliver.

[2020-11-09 14:37] boothym commented on #8176
Thanks!

[2020-11-09 14:49] #7606 closed, assigned to quincylvania

[2020-11-09 15:14] quincylvania commented on #8157
@matkoniecz It might be okay to add this field to more features, but I don't think we can show this for everything since an inscription doesn't make sense for many types of OSM features: rivers, lakes, wetlands, woods, turn restrictions, destinations, sites, transit stop areas, boundaries, ferry routes…

[2020-11-09 15:18] matkoniecz commented on #8157
Good point, what I proposed was clearly too extreme.

[2020-11-09 15:45] quincylvania commented on #8177
Welcome, @amiormu, and thanks for the kind words.

Could you include a screenshot to show what you're seeing?

[2020-11-09 19:57] maro-21 commented on #7606
I'm glad you found a solution!:)

[2020-11-09 20:31] ghost opened #8187 "Don't interpret click-and-drag as a click when in move mode"
It might be difficult to find the right way to handle this given the various HID methods iD supports, but if it can be improved I think it would be worthwhile. I decided to open this ticket after not finding either an open or closed issue about this specific behaviour using the issues search, but my perusal was not exhaustive so it's possible I missed it and this is a duplicate.

Expected behaviou

[2020-11-10 03:39] sun-geo commented on #8157
I agree, I think we shouldn't add the field `inscription` everywhere, same as i think we don't need the field `name` for all features, see #8109 ;-)

[2020-11-10 08:14] matkoniecz commented on #8109
Note that at least some uses of `name` here are valid and correct.  For example https://www.openstreetmap.org/way/259975428 The same may be true for `grass` and `meadow`.

[2020-11-10 08:44] matkoniecz commented on #8157
Looking at it again, important part of my proposal is to do it in cases where `inscription` tag is added already

So if river or forest is tagged with it tagging does not really make sense, but it would be useful to show it.

[2020-11-10 14:07] quincylvania commented on #6731
Looks like there's an [endpoint](https://wiki.openstreetmap.org/wiki/API_v0.6#Relations_for_element:_GET_.2Fapi.2F0.6.2F.5Bnode.7Cway.7Crelation.5D.2F.23id.2Frelations) for this that iD isn't using yet.

[2020-11-10 15:00] #6731 closed

[2020-11-10 15:20] quincylvania opened #8188 "Switch to JSON endpoints for `user` API calls"
JSON responses for the `user/#id` and `user/details` endpoints of the OSM API were [recently added](https://github.com/openstreetmap/openstreetmap-website/pull/2839). JSON is more performant for a web app like iD since it lets us skip XML parsing. We should try switching to the new endpoints.

[2020-11-10 17:46] #8188 closed, assigned to quincylvania

[2020-11-10 20:43] #7702 closed, assigned to quincylvania

[2020-11-10 20:50] quincylvania commented on #5326
Closing this since:

- It's too long and technical for anyone to want to read
- Defining a precise solution when opening an issue is fairly limiting
- Lots has changed in the past two years (including my understandings of iD and OSM)

We probably still need to define tag relationships, so I might reopen something later in a different form, but it'd help to start fresh.

[2020-11-10 20:50] #5326 closed

[2020-11-11 18:14] jleedev opened #8189 "Don't suggest incorrect addr:city values"
iD apparently thinks that an `admin_level=8` is a useful suggestion for the `addr:city` key. In my experience, nine times out of ten this is not the case and it encourages clicking on the suggested value without an understanding that postal cities are not the same as administrative divisions.

The only reliable clue that a particular city might apply is existing tagging of that city on nearby feat

[2020-11-11 18:43] bhousel commented on #8189
~~No, iD doesn't do this.~~  Update - Actually you are right, sorry!  see below..

Yes, this is already how iD works -

https://github.com/openstreetmap/iD/blob/82bce000b0dad8a30ee32ebee9bd7b06cab56dd5/modules/ui/fields/address.js#L71-L88

If you are finding wrong suggestions in the `addr:city` dropdown list, it's because somebody used that value already on a feature within around 200 meters of wh

[2020-11-11 18:48] bhousel commented on #8189
Oh wait, I'm wrong.. The important code is just after the code I posted above..

https://github.com/openstreetmap/iD/blob/82bce000b0dad8a30ee32ebee9bd7b06cab56dd5/modules/ui/fields/address.js#L92-L97

Looks like this code originated all the way back in #1753 - before my time!

[2020-11-11 19:28] quincylvania commented on #8189
So I gather that iD is already doing #6744?

[2020-11-11 19:29] jleedev commented on #8189
Assuming the city has been downloaded, but not e.g. when loaded at a high zoom level away from the boundary.

[2020-11-12 00:23] lectrician1 opened #8190 "Automatically label `aerial imagery` Source preset with imagery source"
When you select `aerial imagery` as a source for a feature, it should automatically label it with the imagery you're using at the time in the editor.
The imagery source should also be easily changeable with a drop down menu and text box, without requiring the user to navigate/know how to edit the tags.

**Example:**
Before:
![image](https://user-images.githubusercontent.com/22477298/98877388-0085a

[2020-11-12 00:43] lectrician1 commented on #8190
I'm sorry I didn't do my research on the history of the source tag.
I think my request could still apply though with the tagging scheme in the Wiki.
Now that I think about it, the source tag for the previous batch of imagery would have to be overwritten too.
https://wiki.openstreetmap.org/wiki/Key:source

[2020-11-12 02:03] salisburymistake opened #8191 "Have street lamp preset use light:direction"
Per the wiki, the orientation of a street lamp should be using **light:direction** instead of just **direction**: https://wiki.openstreetmap.org/wiki/Tag:highway%3Dstreet_lamp

Maybe even suggest it as an upgrade if the **direction** tag already exists?

[2020-11-12 02:31] salisburymistake opened #8192 "UI sometimes blocks the arrows you need to click on to create midpoints on ways"
![Example 1](https://user-images.githubusercontent.com/14324139/98887505-b5768780-245b-11eb-829e-3fde9c84a795.png)

Sometimes the UI elements on the right-hand side of the interface covers up the arrow I need to click to create a midpoint on a way. For now I get around it by shifting the viewport this way and that until the arrow shows up in a clickable location. Would it be possible to factor in

[2020-11-12 10:31] jmaspons commented on #8181
Thanks for the tip! Pull request at #osmlab/osm-community-index/pull/387

[2020-11-12 17:37] maro-21 opened #8193 "How accurate is the line length measurement?"
How accurate is the line length measurement in iD?

[2020-11-13 08:23] lukethemapper opened #8194 "closed: Fixed"
images below

[2020-11-13 08:24] lukethemapper commented on #8194
![screenshot-www openstreetmap org-2020 11 13-08_22_08 (1)](https://user-images.githubusercontent.com/72900280/99045650-937b2300-2589-11eb-8c6c-55d9caeb0dfc.png)

![screenshot-www openstreetmap org-2020 11 13-08_22_08](https://user-images.githubusercontent.com/72900280/99045653-94ac5000-2589-11eb-9dc6-2bed7b3b37c0.png)

[2020-11-13 08:25] lukethemapper commented on #8194
and lots of other features have the same issue

[2020-11-13 12:25] mikini commented on #7199
Hit this again with iD 2.19.5 on the [production site](https://www.openstreetmap.org/edit).

The conflict was on way [366250882](https://www.openstreetmap.org/way/366250882) with "outer" role of relation [5806748](https://www.openstreetmap.org/relation/5806748). I was prompted to choose between "Theirs" or "Mine" (or maybe it was "Yours"). I chose "Theirs" this time being able to click "Save" but

[2020-11-13 14:58] quincylvania commented on #8194
@lukethemapper I can't reproduce this issue. Are you working on osm.org? Do they appear if you reload the page?

[2020-11-13 15:07] quincylvania commented on #8193
@maro-21 I'm not sure! It's just a quick reference for armchair mapping. I wouldn't use it for surveying, navigation, or anything important. It's calculated with [d3.geoLength](https://github.com/d3/d3-geo/blob/master/README.md#geoLength) and is called here:

https://github.com/openstreetmap/iD/blob/82bce000b0dad8a30ee32ebee9bd7b06cab56dd5/modules/ui/panels/measurement.js#L80-L81

Are you seeing n

[2020-11-13 16:45] lukethemapper commented on #8194
They didn't (also i work on osm.org)

[2020-11-13 21:09] gmckone opened #8195 "Feature Request - intercept "back button" navigation with a confirmation dialogue."
I searched for this but did not find a duplicate feature request.

I'll explain it as a user, trusting those who know more to interpret/correct any details which are not completely accurate.
When editing in ID, if a user hits the back button, they lose their unsaved edits.
On many other websites, "leaving the page" triggers a confirmation dialogue which allows the user to cancel their action if de

[2020-11-14 10:08] Marc-marc-marc opened #8196 "promote the unseen tutoriel if review_request checked"
I meet many users who first contribute without the tutorial and then ask for a review_request. The answer is often in the tutorial.
Is it possible, when the user hasn't see it, to propose again the tutorial when the user ask a review_request, before uploading ?
because unfortunately, the answer is often "as you would have learned from the tutorial, ...".

[2020-11-14 19:19] maro-21 opened #8197 "Local presets"
Is it already possible or would it be possible to do: local preset - a preset visible only in a given city, region or country?

I know that it's possible to exclude a preset in some countries - but is it possible to do something opposite?

[2020-11-14 19:22] lectrician1 commented on #8197
What are you proposing? Most tags are made to correlate to specific features throughout the world, irregardless of region.

[2020-11-15 12:40] comradekingu commented on #7508
@quincylvania https://docs.weblate.org/en/latest/
You can now set it up yourself on https://hosted.weblate.org/hosting/ and then just request continued hosting once that is done.
I can help set it up if you want.

[2020-11-15 14:03] jase88 opened #8198 "Undoing the deletion of a drawn line is not possible if the line was not ended by double-clicking"
### Subject of the issue
Undoing the deletion of a drawn line is not possible if the line was not ended by double-clicking

### Expected behaviour
- Undoing should be possible via undo button or shortcut (CTRL-Z)
 button should be clickable

### Actual behaviour
- Undoing action is not possible, because the drawed line is not recognised as performed change

### Steps to reproduce
- Open editor
- D

[2020-11-15 22:00] rouelibre1 opened #8199 "Semicolon added at the beginning of source string when using mapillary"
I noticed something odd in the changeset when using mapillary in iD to update data : the source of the changset is set to `;streetlevel imagery;mapillary`
- see https://www.openstreetmap.org/changeset/93942124.

To make sure I didn't accidentally cause this I tried again on another element and the issue was still present so I manually removed the first `;` character before submitting and this time

[2020-11-15 23:51] Fizzie41 opened #8201 "Contour line layer"
Apologies if this has been discussed previously, but couldn't find anything for it?

Have been doing some mapping in a country area recently, using the default "best" imagery (in this case "DCS NSW Imagery":
https://www.openstreetmap.org/edit#map=18/-28.17951/152.74558

Looking at the available Background Settings, I noticed OpenTopoMap which gives topo information:
https://www.openstreetmap.org/e

[2020-11-16 03:57] tastrax commented on #8201
This would be great as an overlay if suitable country/state datasets were available in the same way as the imagery. Can also help with river/stream flow direction.

[2020-11-16 03:58] Fizzie41 commented on #8196
Maybe set it that you must work through the tutorial before mapping for the first time?

Of course, if you're an experienced mapper & you change user names, or set-up a new one for a specific purpose, that would unfortunately also get you.

[2020-11-16 04:12] Kovirii commented on #7199
Extremely annoying. Happened to me, apparently I left the editor sit open overnight, started editing (202 changes) and it grabbed stale data(???) and after trying a couple of attempts to resolve the conflict it got stuck in the loop. It's continuously querying OSM and trying to upload but receiving a 409 error. The conflict was that another user had deleted and recreated a road using Potlatch. I t

[2020-11-16 04:19] Kovirii commented on #7199
Even worse, if you leave/don't save edits from the conflict resolution page, they are already deleted from the local cache (where they are saved in case of crashes) so reloading the page will not restore them. The cache should _absolutely_ not be deleted until it's confirmed the changeset has been uploaded successfully.

[2020-11-16 13:07] jidanni opened #8202 "Hijack HTML <title> to say iD or OSM - iD instead of just OpenStreetMap"
**Even if** there is no cooperation from the OSM website team on such longstanding issues,
couldn't iD somehow 'hijack the HTML page title' itself, to distinguish its tab from the other OSM tabs that a user surely has open?
I mean iD certainly can change the content of a page. How about the HTML title too?
![14018-6](https://user-images.githubusercontent.com/1230959/99255744-547df380-284f-11eb-968

[2020-11-16 13:11] jidanni opened #8203 "Ominous "cancel" button worries uploaders"
Here, experienced Internet users all know that pushing a "cancel" button...

![30879-5](https://user-images.githubusercontent.com/1230959/99256031-bd656b80-284f-11eb-8425-26bdf18ba896.jpg)

...could throw away hours of work.

OK, in this case it doesn't. Therefore please add a mouseover "Return back to the editor. All edits still intact."

Or re-label the button "Back" or "←" or "Previous page", e

[2020-11-16 13:26] jidanni opened #8204 "Automatic address parsing for lazy input"
Got an idea.
You know this address entry box,

![2237-4](https://user-images.githubusercontent.com/1230959/99256762-d884ab00-2850-11eb-9130-fa380f11eaf7.jpg)

Well, often we have an address "on the tip of our mouse's tongue" (ready to paste),
- 台中市北屯區芳庭路1號
- 31 Phartsworth Rd, Nurdsburg Estates, QZ 123-45 (or even with newlines/CR-LF)

that, well, we wish to paste in with our mouse in "one fell sw

[2020-11-16 14:18] quincylvania commented on #8197
@maro-21 iD's presets already support this at the country level. The name-suggestion-index has [incorporated a mechanism](https://github.com/osmlab/name-suggestion-index/blob/main/CONTRIBUTING.md#features) for specifying custom smaller regions that we'll probably also incorporate into iD's presets.

@lectrician1 This is true, and would be the ideal, but unfortunately there are some irregularities

[2020-11-16 14:18] #8197 closed, assigned to nobody

[2020-11-16 14:20] quincylvania commented on #8194
@lukethemapper What browser are you using? Do you see any [console errors](https://appuals.com/open-browser-console/)?

[2020-11-16 14:25] quincylvania commented on #8195
@gmckone Hmm iD already has this warning if you have unsaved changes, so I'm not sure why you're not seeing it.

![Screen Shot 2020-11-16 at 9 21 26 AM](https://user-images.githubusercontent.com/2046746/99263445-34b5e380-27ed-11eb-8768-ea50bceacbfc.png)

Plus, even if you leave the page accidentally then iD still autosaves your edits locally and offers to restore them when you reload.

![Screen Sh

[2020-11-16 14:40] quincylvania commented on #8196
Can you give some examples? The walkthrough teaches mappers how to use a few parts of iD, not how to map everything in OpenStreetMap. There are countless reasons someone might be unsure about their edits regardless of whether they did the walkthrough.

I don't think we can really do this. Mappers are given the choice, and those who choose not to do the walkthrough would probably close the tab rath

[2020-11-16 14:41] quincylvania commented on #8196
Can you give some examples? The walkthrough teaches mappers how to use a few parts of iD, not how to map everything in OpenStreetMap. There are countless reasons someone might be unsure about their edits regardless of whether they did the walkthrough.

I don't think we can really do this. Mappers are given the choice, and those who choose not to do the walkthrough would probably close the tab rath

[2020-11-16 14:48] gmckone commented on #8195
Thanks for the follow up Quincy.

Good to hear that feature is already there. :-)

I use chrome on Win 10.
I’ll try to reproduce the error to gather more details.

Greg

On Mon, Nov 16, 2020 at 6:26 AM Quincy Morgan <notifications@github.com>
wrote:

[2020-11-16 15:08] quincylvania commented on #8201
@mikelmaron Would a contour-only overlay be possible with Mapbox?

[2020-11-16 15:15] quincylvania commented on #8202
We added a dynamic title in #6209, but iD is embedded in an iframe on osm.org, so it has no ability to set the containing page title directly.

We could look into passing the title through to the website…

[2020-11-16 15:28] Marc-marc-marc commented on #8196
https://www.openstreetmap.org/changeset/94200768 : missing main tag

[2020-11-16 15:30] quincylvania commented on #8203
Okay, maybe, but since pressing Cancel doesn't actually discard any edits, and since you can just press the X button to close the screen, I'm not concerned that anyone is getting hamstrung by this. iD mappers should be invited to trust the app's safety and not worry about reading tooltips just to close a screen.

Still, I'm considering ways to make the save screen better, so I'll keep this in mind

[2020-11-16 15:30] #8203 closed, assigned to nobody

[2020-11-16 15:34] bhousel commented on #8201
We added Stamen Terrain for this years ago:
https://github.com/osmlab/editor-layer-index/issues/143
https://github.com/osmlab/editor-layer-index/issues/176

From what I understand Mapbox Terrain uses elevation sources that don't allow it for sharing in this way.  @ajashton knows more.

[2020-11-16 15:55] mikini commented on #7199
This is really annoying, yes, but hopefully not that common. At least the pattern of use has a lot to say about the probability (long editing session -> high probability of conflict -> high probability of this happening). From what I gather of the other issues opened about this, the local storage backup is not always cleared. I have, however, always had the edit gone MIA from the local storage.

B

[2020-11-16 17:34] Marc-marc-marc commented on #8196
another https://www.openstreetmap.org/changeset/94216542 ask for review without seeing the tutoriel (how to search for a POI catégory is in the tutoriel).

mandatory isn't a good idea.
I am simply suggesting that a reminder for the tutorial should be show when the user seems to need help.
Obviously this won't cover all cases, but if one or the other says "ha yes, I ignored it but I'll take a look"

[2020-11-16 17:35] jidanni commented on #8203
(I'm not saying it's iD's fault. I'm saying it's the fault of the 1000 other apps out there, giving the Cancel Button a bad 'name'/'rep'.)

[2020-11-16 17:39] jidanni commented on #8202
In https://github.com/openstreetmap/iD/issues/6209#issue-435455972 that photo with iD iD iD iD iD iD iD would be fine with me for now.

[2020-11-16 21:37] Fizzie41 commented on #8201
Thanks, Bryan, but just the hill shading by itself doesn't do the same job as having actual contour lines to indicate the high & low ground.

[2020-11-16 21:43] bhousel commented on #8201
What about the OpenTopoMap layer ?

<img width="963" alt="Screen Shot 2020-11-16 at 4 41 14 PM" src="https://user-images.githubusercontent.com/38784/99311430-99436380-282a-11eb-8fcc-5d52bbd86061.png">

Update:  oh I see you were asking to display that on top of other imagery.. sorry.

[2020-11-16 21:50] Fizzie41 commented on #8201
Yep, that's it :-)

The combo of the aerial imagery so you can see where the road runs & where the heavy vegetation is v open grass, together with contour lines so you can say that that is the high ground up there, while the stream runs down this gully & curves around down there, so I'm here, would be great!

[2020-11-17 00:59] RAytoun commented on #8201
Contour lines are a great asset for mapping. It allows you to see the valleys and probable watercourses even under a dense canopy of trees. In JOSM I put the OpenCycleMap above my Imagery layer then I reduce the opacity of the OpenCycleMap to about 50% so I can see through it and increase the Gamma to darken the contours so that i can see the them over the imagery. I can then work out direction of

[2020-11-17 11:32] sun-geo opened #8205 "Mapillary traffic sign & map feature filter"
Thanks a lot for adding the filter (date) option for photo overlays (#8133). It works very well so far. One thing i noticed, e.g. looking only to the mapillary overlay. It's seems the filter for the malliary pictures works okay, lets say only show picture-routes starting from 2019, but then when i also check the sub boxes "traffic sign" & "map feature" theses additional item on the map seems not f

[2020-11-17 14:44] quincylvania commented on #8205
The feature/sign detections should be filtered, but the issue is that the detection can be present in photos outside the set date range as well as in those within it. When you click a detection, iD arbitrarily selects one of its photos, but it should really be applying the filters first.

[2020-11-17 14:48] quincylvania commented on #8133
@cbeddow I'm pretty sure iD is handling the first/last seen ranges correctly. A detection is shown if the last seen date is after the from filter, and if the first seen date is before the to filter.

https://github.com/openstreetmap/iD/blob/82bce000b0dad8a30ee32ebee9bd7b06cab56dd5/modules/svg/mapillary_signs.js#L100-L111

[2020-11-17 14:53] sekerob opened #8206 "When adding a direction using the up/down arrow values go negative."
Had this a number of times being flagged on the issue report, which is dating from before the 5 degrees step change i.e. when direction incremented/decremented by 10 degrees. The simplest reproducible test is to enter direction=0, then using the down, the value goes -5. The OSMI issue report flags this as a suspect value. Going from 355 to 5 and back effectively turns 355 to -5 too.

O/T WishListe

[2020-11-17 16:25] lectrician1 opened #8207 "Change Category UI"
Current:
![image](https://user-images.githubusercontent.com/22477298/99412238-1ff35180-28ba-11eb-80a5-2f5227e41fbf.png)

The box could probably show a few examples, maybe have a different color (shade), and the "layered" part behind it could be enlarged:
![image](https://user-images.githubusercontent.com/22477298/99412787-b9226800-28ba-11eb-982a-f30c631ab4b6.png)
I just feel it's hard to distingui

[2020-11-17 16:43] Nekojimi opened #8208 "Add suggestion alias for amenity=vehicle_inspection : "MOT testing centre""
In the UK, the mandatory vehicle inspection test is commonly known as the "[MOT test](https://en.wikipedia.org/wiki/MOT_test)", and so testing centres are often called "MOT centres", and signed as such. It took a lot of typing and searching on the wiki to find amenity=vehicle_inspection, so I think this would be a good tag suggestion.

[2020-11-17 16:52] bhousel commented on #8208
I've added "mot test" and "mot centre" as search terms for this preset in the `en-GB` localization.
https://www.transifex.com/openstreetmap/id-editor/translate/#en_GB/presets/156857821?q=text%3A'vehicle+inspection'

[2020-11-17 16:52] #8208 closed, assigned to nobody

[2020-11-17 17:48] Nekojimi commented on #8208
That was quick! Thanks!

[2020-11-17 17:52] sun-geo opened #8209 "Modify train-station preset, potential add railway-station buiding preset"
It seem the is a current preset train-station active, which adds the following tags
for an area object:
`building=yes`
`public_transport=station`
`railway=station`
`train=yes`

for a node object:
`public_transport=station`
`railway=station`
`train=yes`

Even for area objects it seems there should be no `building` added compare to wiki example picture:
https://wiki.openstreetmap.org/wiki/Tag:railwa

[2020-11-17 20:33] AntMadeira opened #8210 "place=farm doesn't show on search"
Hi there.

The preset place=farm doesn't show when searching, although the correct icon and translation appears when manually inserted. Is this on purpose or an error?

Regards.

[2020-11-18 02:57] mikelmaron commented on #8201
Something [like this](https://api.mapbox.com/styles/v1/mikelmaron/ckhmstnt004z419pck2yfh4yx.html?fresh=true&title=view&access_token=pk.eyJ1IjoibWlrZWxtYXJvbiIsImEiOiJjaWZlY25lZGQ2cTJjc2trbmdiZDdjYjllIn0.Wx1n0X7aeCQyDTnK6_mrGw#12.63/36.25618/-105.30263) @quincylvania ?

This is a quick iteration without much design thinking, just to illustrate it's possible. Note that terrain data only available at

[2020-11-18 16:15] nc011 opened #8211 "Edit Feature - close button (revert to tick mark)"
Apologies if I've missed this. The recent change (last couple of months maybe?) to the Edit feature close button seems very counter-intuitive to me.

Originally, the button was a "tick" and is now a "cross". I think this should be reverted.

A tick, to me, means "close and save" (though, of course, the edits aren't actually saved until the user completes the save process) whereas a cross means "cl

[2020-11-18 16:23] nc011 commented on #6988
Ideally, this should be to _n_ number of identical buildings - not just two (but perhaps that's been implied already). Would be great to see implemented - it's something I would definitely make use of.

[2020-11-18 16:49] voschix commented on #7755
Yes, please!

[2020-11-18 16:57] matkoniecz commented on #7755
See https://github.blog/2016-03-10-add-reactions-to-pull-requests-issues-and-comments/ for guide how you can add your +1 without sending a flood of notifications.

[2020-11-18 18:13] Lukas458 opened #8212 "add operator and manufacturer to the highway=elevator preset (again?)"
Hi,

my propose would be to add the fields "operator" and "manufacturer" to the highway=elevator preset, because these are two things which give some useful information abut an elevator.

I'm also sure both of these fields were already added to the highway=elevator preset in the past, does anyone know why they were removed?

[2020-11-18 19:19] craigallan commented on #8192
With regard to the problem of a strip of "dead" screen due to the overlaid DIV attribution-wrap at the bottom, I see no point in clicking on the attribution so any clicks in that DIV could be ignored using CSS "pointer-events:none".
Or, alternatively, provide a clearly visible edge to the DIV attribution-wrap so editors don't try to click on apparently-editable points in there, which is just annoy

[2020-11-18 19:57] AntMadeira opened #8213 "Unnecessary split unaffected way when adding turn restrictions"
Hi there.

When setting restrictions in roads connecting to a roundabout, the geometry of the roundabout (circle) breaks.
Here's an image that exemplifies this:

![NQ32pEldE1](https://user-images.githubusercontent.com/34066528/99581093-0a1b8480-29bf-11eb-844b-35eb54293026.gif)

[2020-11-18 21:17] sun-geo commented on #8213
I would be also happy if the geometry break (way split) could be prevented while creating restrictions.
See my started talk in #6711

[2020-11-18 21:37] AntMadeira commented on #8213
I made a search, but did not find that one. Wrong choice of words, I guess.
Anyway, I hope this helps to move this forward (the other issue was closed), cause it's very annoying to correct every roundabout (and there are thousands).

[2020-11-19 08:58] amiormu commented on #8177
Thank you for your quick reply！:)
Here are a few screenshots of mine.
My road looks like this in the browser:
<img width="357" alt="1" src="https://user-images.githubusercontent.com/35089815/99643412-9abd9780-2a87-11eb-9bb4-a7ea8472a6f9.png">

My response is like this:
<img width="727" alt="WX20201110-221831@2x" src="https://user-images.githubusercontent.com/35089815/99644100-7910e000-2a88-11eb-8a

[2020-11-19 15:31] sun-geo commented on #8213
Yes, hope so too.

An other point is, the circle way split happens quite hidden, so i assume the average mapper mostly  won't recognized/realize it.

[2020-11-19 15:41] bhousel commented on #8213
On #4848 I wrote a bunch about why this is tricky problem and why the turn restriction editor is greedy about splitting ways into identifiable segments.  If you set the restriction editor to "via node only" it probably won't need to do all this splitting.  The splits are mostly to handle via-way paths (but this is probably a real case for some complex roundabouts).

[2020-11-19 15:43] bhousel commented on #8213
Worth mentioning too that the roundabout will have to be split up anyway if it's also part of a transit route.  Splitting turns out to be pretty important when working with some relations.

[2020-11-19 18:29] AntMadeira commented on #8213
This happens even with "via node only" set.

Some of them, yes. The thing is it seems to split on random nodes and not all of them have route relations. Even if they do, we have to adjust the geometry and split them on the right nodes.

[2020-11-20 06:42] sun-geo commented on #8213
@bhousel Thanks a lot for the effort to implement the turn restriction editor. I really like to use it and do it very often, because it offers a very easy and fast way to create the related turn relations (e.g. as compared to the way how in JOSM a turn restriction is tagged). There are only two minor points to improve a bit:
- the uncontrolled splitting action which is talked here
- a not so provo

[2020-11-20 12:39] maraf24 commented on #7902
So status=proposed doesn't actually mean anything?

[2020-11-21 01:43] CharliePlett opened #8214 "ID Dark Mode"
Hey, could we please have a dark mode?

[2020-11-21 23:24] jidanni opened #8215 "Custom Background Settings: allow specifying a maximum zoom level"
These Custom Background Settings are great, except they seem to lack a way to say
- There are no tiles available higher then zoom level Z, so don't bother requesting them from the server. Just locally magnify the current tiles beyond that. (But what if they do add those tiles on next year's aerial survey run? Then we will never eventually enjoy them.)

Or maybe that need not be necessary:

- If th

[2020-11-21 23:35] jidanni commented on #8103
"It's terrible"... I am forced to draw arbitrary roads within a pure asphalt blacktop parking lot (with no paint lines on it), just to turn off the warnings.
![4933-8](https://user-images.githubusercontent.com/1230959/99889959-3e2fc780-2c95-11eb-987b-86807f8d1dc7.jpg)
![27496-9](https://user-images.githubusercontent.com/1230959/99889961-45ef6c00-2c95-11eb-876d-97262a74fc76.jpg)

[2020-11-22 03:01] jidanni commented on #8103
If you think about it, from the phrase, "At rush hour the expressway becomes just like a parking lot," you can see how the two are not all that different sometimes.

I'm not saying that even beaches should be considered roads, I'm just saying that areas specifically for vehicle use, like parking lots, should be allowed to legally connect other roads, without triggering error messages.

I'm not say

[2020-11-22 03:39] jidanni commented on #8103
Also, who is going to be responsible for how arbitrary  imaginary roads going through parking lots are supposed to be rendered?
![Screenshot_20201122-113536](https://user-images.githubusercontent.com/1230959/99893170-ccb54080-2cb7-11eb-829e-4bb4c8e1d1ff.jpg)

[2020-11-22 09:32] jidanni commented on #8103
Perhaps simply think of a parking lot as part of a waterway. A waterway for cars ~ the road network.

Yes, it might be a shallower part of a river, but that doesn't mean water can't pass over it.

[2020-11-22 17:07] 1ec5 commented on #8103
First of all, a warning is just a warning, not an error. If you disagree with the warning, you’re free to ignore it.

In the case of https://github.com/openstreetmap/iD/issues/8103#issuecomment-731653144, iD was correct in convincing you to draw that connection between the two `highway` ways. If not for that connection, any car router (including OSRM’s car profile) would’ve been unable to reach th

[2020-11-22 17:13] lectrician1 commented on #8103
### Yes! This discussion is needed, and it should definitely take place outside of just iD as well.

Currently I run into the same situation commonly with this instance:
![OpenStreetMap (2)](https://user-images.githubusercontent.com/22477298/99909818-4a754e00-2cb0-11eb-88ff-34b4591885f7.gif)

Because of routing, I feel I have to do this, even though the path only extends up to the parking lot, and

[2020-11-22 23:37] Woazboat commented on #8103
`amenity=parking` (= 'parking lot') does not imply anything about being able to walk/drive on it and is not a routeable area. The reason why this is not the case can even be seen in the screenshot used as an example. The dirt strip with bushes and trees between parking aisles is clearly neither useable by car, nor is it intended to be crossed on foot (i.e. it is not routeable).

[2020-11-22 23:56] jidanni commented on #8103
OK, fine. From now on I will draw arbitrary roads through a purely uniform blacktop asphalt parking lot that has no paint lines on it nor any other **ground truth** for if I should make the road bend right or bend left as it magically makes its way across the parking lot.

![28877-5](https://user-images.githubusercontent.com/1230959/99921064-c334e280-2d62-11eb-972e-b06571b8bd43.jpg)

If I don't, I

[2020-11-23 01:41] 1ec5 commented on #8103
Sarcasm (?) aside, it’s premature to seriously consider the above proposals in iD’s bug tracker. The functionality in question is a validator, which is responsible for reminding users about mapping conventions defined elsewhere. If you don’t want to connect unmarked, common-sense car trajectories across an unmarked blacktop, then you need to convince every OSM-based router to implement visibility

[2020-11-23 01:52] Woazboat commented on #8103
OSM has and always will need to strike a balance between mapping things as they physically appear on the ground and the semantics of what those things actually mean for data consumers/humans. Otherwise we might get a pretty map to look at, but it would be nearly useless for anything else if software can't make heads or tails out of it. There's a reason why we don't just map streets as elongated re

[2020-11-23 05:36] #8190 closed, assigned to nobody

[2020-11-23 14:07] quincylvania commented on #8214
Hi and welcome, @CharliePlett.

Dark mode definitely sounds cool. I mention it as a missing vision feature [in our accessibility documentation](https://github.com/openstreetmap/iD/blob/develop/ACCESSIBILITY.md#-vision-accessibility). The toughest part will likely be maintaining two UI styles that are both look and work great.

[2020-11-23 14:27] quincylvania commented on #7902
@maraf24 I'm not sure what you're referring to. The [`status=proposed`](https://taginfo.openstreetmap.org/tags/status=proposed) tag has only two uses and isn't supported by iD.

[2020-11-23 14:40] quincylvania commented on #8177
Hmm it's sort of hard to say what's going on since I'm not sure what you changed. But one thing is that iD expects the `id` of entities to be strings prefixed with a letter for the type, like `n49120400`, `w69600304`, `r689293292`.

The map styling is managed in CSS using classes calculated in [this file](https://github.com/openstreetmap/iD/blob/develop/modules/svg/tag_classes.js), so you can try

[2020-11-23 14:40] #8177 closed, assigned to nobody

[2020-11-23 14:55] quincylvania commented on #7755
@matkoniecz I know you mean to help but I'm happy to see people's enthusiasm in this repo however they choose to show it.

[2020-11-23 18:43] matkoniecz commented on #7755
Sorry! I will try to avoid backseat moderation.

[2020-11-23 19:18] nyqvist opened #8217 "Add board:title property for information boards"
It would be nice if we can set "board:title" directly from the Property list when adding/editing an information board.

Instead of "Name" property in the picture below there could be "Board title" which will set [board:title](https://wiki.openstreetmap.org/wiki/Key:board:title).

![Skärmbild_2020-11-23_18-09-17](https://user-images.githubusercontent.com/1544300/100004336-a41c6c00-2dc7-11eb-9a86-62

[2020-11-24 16:23] MakiWolf opened #8218 "Map does not load"
Geoimage.at MaxRes gives a black screen.
![image](https://user-images.githubusercontent.com/73300633/100121217-2b75e800-2e79-11eb-8904-21b2d1fd332d.png)
How to reproduce:
In Version 2.19.5 click on "Bildmaterial-Einstellungen" and select Geoimage.at MaxRes and it does nothing.

[2020-11-25 07:11] thibaultmol opened #8219 "Photo layer date filter: only year"
Hi, I recently was trying to filter the photo layers and wanted everything in 2020 (or later, but yeah...)
So in this case it would have been nice If i could just fill in the year 2020 and have it still work (behind the scenes using 01/01/2020 of course)

[2020-11-25 08:34] forteller opened #8220 "Barrier objects category should include more barriers"
![Screenshot from 2020-11-25 09-26-48](https://user-images.githubusercontent.com/343561/100201598-8a327480-2f00-11eb-92ea-104b0479578d.png)

It seems like the category with barriers in iD only includes three objects, while the wiki lists [a lot of options](https://wiki.openstreetmap.org/wiki/Key:barrier). Shouldn't more of these be included in the category, at least sliding_gate, swing_gate, lift_

[2020-11-25 17:46] Suburbanno opened #8221 "UX problem in the background shortcut modal"
Hi!
it is impossible to close the modal, as the control panel is overlaying the X button

![image](https://user-images.githubusercontent.com/13632826/100263526-62f19c80-2f2c-11eb-94b4-697e2abc004d.png)
when using any control panel option, the modal is pushed aside and you can see the X button
![image](https://user-images.githubusercontent.com/13632826/100263664-916f7780-2f2c-11eb-8135-40fcf4add16c

[2020-11-25 17:51] quincylvania commented on #8221
Welcome, @Suburbanno. This is #7133.

[2020-11-25 17:51] #8221 closed, assigned to nobody

[2020-11-25 18:32] jidanni commented on #8103
Well here's the only fair and square solution I could come up with:

![11450-8](https://user-images.githubusercontent.com/1230959/100268232-a7faea80-2f8f-11eb-9d08-381fba29d9aa.jpg)

If I make the road go on the west, the landowner on the east will
complain that I am playing favorites, and vice versa.

If I prescribe two left turns to leave home, and two right turns to
return, the home owner will

[2020-11-25 18:40] jidanni opened #8222 "Add "Undo all", "Redo all" buttons"
Let's say for some reason we want to "Undo all."
![12545-9](https://user-images.githubusercontent.com/1230959/100268733-63238380-2f90-11eb-884d-9f4a6c17ea7a.jpg)
Well I tried it starting at the state in the picture, and it took about 20 clicks.
All that clicking doesn't seem too scientific.
Therefore perhaps add an "Undo all" button somewhere on the interface.

Don't worry, with an additional "Red

[2020-11-25 19:01] quincylvania commented on #8222
If you want to reset everything then you can just reload the page and click "Discard my changes" when iD offers to restore your work. I don't think we need dedicated buttons for destructive and relatively uncommon actions.

[2020-11-25 19:01] #8222 closed, assigned to nobody

[2020-11-25 22:02] 1ec5 commented on #8103
Can you link to a changeset or way where you’ve taken this approach? The additional context would help me and others in this discussion understand your reasoning better. As it is, your screenshots come across as hypotheticals, which aren’t particularly convincing.

[2020-11-26 00:40] jidanni commented on #8103
Yes, they are all hypotheticals. The only time I really did one was this image I already posted, where you can see, in the case of thin parking lots, even one road going across the middle will render so ugly. So who could imagine the damage with two roads going on either side of it!
[Screenshot_20201122-113536](https://user-images.githubusercontent.com/1230959/99893170-ccb54080-2cb7-11eb-829e-4bb4

[2020-11-27 11:57] donalhunt commented on #6236
Sorry for commenting on a closed issue but the consensus around `man_made=embankment` and `barrier=embankment` is not 100% clear.

The wiki page for `man_made=embankment` specifically calls out that it is primarily for roads and railways (i.e. it's a manmade construct for placing other things on top of). However there are specific use cases for `barrier=embankment` where a bank of earth exists pur