[2020-07-18 01:02] higa4 opened #7799 "Can't select the node behind when displaying Osmose layer/icon"
Osmose icon seems to be covering whole poi icon so that one can't select the poi to correct. Can select when displaying Keepright layer/icon.
Checked it at https://ideditor.netlify.app/#background=Bing&disable_features=boundaries&map=19.00/35.58539/140.28348 (v2.18.0 preview)
![](https://i.imgur.com/tIccmnw.png)

[2020-07-18 07:28] higa4 commented on #7799
Ah, I found I can select by clicking the blue colored link titled 'にんじん八街店'.

[2020-07-18 08:19] simonpoole commented on #4164
Shouldn't this be closed as ESRI has added the functionality to RapId, circumventing any possible outcome of the discussion on this fork?

[2020-07-18 08:47] TheAdventurer64 opened #7800 "Parking Type should include Rooftop"
As you can see in the photo, rooftop is not a type of parking you can add to the map. This needs to be fixed.
[image](https://user-images.githubusercontent.com/50059322/87848858-a00f9900-c87f-11ea-91a2-751703837511.png)

[2020-07-18 12:11] maro-21 opened #7801 "small bug: two edits have the same changesets_count"
The first two edits of this user have `changesets_count=1`:
https://www.openstreetmap.org/changeset/88161601
https://www.openstreetmap.org/changeset/88162476

[2020-07-18 13:31] maro-21 opened #7802 "Add a placeholder for grades field"
I suggest changing current type of this field by removing suggesting values and add a placeholder, where every country can put their own suggested values.
It's because:
- people tend to copy one of the suggested values instead of typing a proper one
- as we can see from [Taginfo map](https://taginfo.openstreetmap.org/keys/grades#map) it is most commonly used in Norway and Australia, so the suggest

[2020-07-18 14:14] maro-21 commented on #7800
It has been added in #7578.

[2020-07-18 16:09] slibby commented on #4164
I think that depends on whether RapId is accepted as widely-available editing client. This code is pretty stale and likely VERY out of date from the current state if iD, so I'm inclined to agree with closing the Issue.

More info on the RapId work here: https://www.esri.com/arcgis-blog/products/arcgis-living-atlas/mapping/arcgis-data-support-in-osm-editors/

Others are welcome to comment on the cl

[2020-07-18 16:09] #4164 closed

[2020-07-18 16:50] manfredbrandl commented on #7786
@quincylvania Is there still a preview site where I can test my translations as German is finished now and I seek for quality assurance tools.

[2020-07-18 16:56] manfredbrandl opened #7803 "Document Merge Operation (and other edit menu operations) somewhere"
The Merge Operation allows you to transform a point to a line or an area and keep the tags. This is not documented not. I suggest adding a section "edit menu" to the Help

[2020-07-18 18:40] Nimisha94 commented on #7783
Hi! I'm new to open source and want to give this a shot! @quincylvania  If you can give me a suggestion on where to start that would be helpful.

[2020-07-18 18:54] maro-21 commented on #7786
manfredbrandl: good job! You can preview translations here: https://ideditor.netlify.com

[2020-07-18 19:49] maro-21 opened #7804 "Fix icon for slipway"
The icon for slipway is currently a white symbol on a white background!
![slipway](https://user-images.githubusercontent.com/57260466/87860722-0cea6800-c940-11ea-9237-f01c12b255bb.png)
After placing the cursor over it:
![slipway2](https://user-images.githubusercontent.com/57260466/87860724-107def00-c940-11ea-8baa-dd62ef055c1c.png)

But it used to have a colour:
![slipway3](https://user-images.gith

[2020-07-18 22:31] BjornRasmussen commented on #6745
As of 5 minutes ago on [the preview site](https://ideditor.netlify.app/), this is still an issue.  I got stuck and couldn't escape.  I am using Firefox, windows 10.

[2020-07-18 23:53] mxxcon opened #7805 ""Dentist" preset with "specialties" subtag"
iD 2.17.3
When editing "Dentist" POI, "specialties" field seem to be populated with all the possible options from I guess `healthcare:speciality` subtag..?
Perhaps that should be removed or if possible narrowed down a selection to sensible options?
Otherwise we can end up with nonsense combinations like

[code]

[2020-07-19 01:37] quincylvania commented on #7798
@maro-21 Hmm I see. I swear it was working for me when I typed that 😂

[2020-07-19 02:44] TheAdventurer64 opened #7806 "Board Type should include Welcome Sign"
This issue needs to be fixed ASAP

[2020-07-19 11:48] maro-21 commented on #7798
Oh, you typed but didn't click?
There is another website with "www", https://www.improveosm.org, but I don't know if it's the same.

[2020-07-19 11:52] maro-21 opened #7807 "Some issues with the walkthrough"
- [ ] See the first screenshot below. The menu is beyond my screen.
![walkthrough](https://user-images.githubusercontent.com/57260466/87874034-baa05a00-c9c6-11ea-8c2c-670553c1f1dd.png)

- [ ] In the "Lines" section: the context menu for lines became longer than it was before, so if one clicks at the bottom of the line, it's impossible to click "Delete" icon [screenshot2]. After it, when I click so

[2020-07-19 12:38] andrewharvey opened #7808 "style street level imagery lines/icons by date"
There are existing tickets here for filtering by date, in parallel with that the lines and circles rendered for street level imagery could vary colour (eg. light to dark) based on date.

The idea being I should be able to see at a glance which traces are more recent so I can start by selecting recent photos and then work back to older ones if I need more angles to see.

[2020-07-19 15:17] quincylvania commented on #6745
@BjornRasmussen Any chance you have steps to reproduce this?

[2020-07-19 17:49] quincylvania commented on #7800
Hi and welcome, @TheAdventurer64. This will be in the next release (coming very soon!)

[2020-07-19 17:49] #7800 closed, assigned to nobody

[2020-07-19 17:52] quincylvania commented on #7803
@manfredbrandl Good idea. The Help screen could definitely use updating to cover more of iD's functionality.

[2020-07-19 19:58] JamesKingdom commented on #7801
I don't really think this is a bug, just the order which iD grabs info about the user.
It's caused if you open multiple tabs of the editor and make edits in both tabs, because it doesn't redownload the user data (including changeset count) until you refresh the tab.
I suppose iD could redownload the user data before each commit but that seems a bit wasteful for a small issue.

[2020-07-19 20:07] nisargshh commented on #7467
I've been greeted with the same issue when cloning the project again running `npm run all` My node version is v12.16.2.

[2020-07-19 20:45] quincylvania commented on #7467
@nisargshh I tried a clean install and am been getting this issue now too. Something must have changed with an in-range dependency but I haven't figured out what yet.

[2020-07-19 23:23] forteller opened #7809 "Don't mark crossing paths of different layers as a problem"
Title says it all, I think. I added a path on top of an underground path, and it was marked as a problem and I was asked if I wanted to connect them. They obviously can not connect since one is underground and the other is not :) The underground path was labeled as layer=-1, and the top one as layer=1.

Link to the place: https://ideditor.netlify.app/#background=geovekst-nib&disable_features=bound

[2020-07-20 01:08] quincylvania commented on #7467
@NateGrobe @nisargshh The issue seems to have been caused by [@rollup/plugin-node-resolve v8.4.0](https://github.com/rollup/plugins/blob/master/packages/node-resolve/CHANGELOG.md#v840). I pinned to the prior version for now in de307f3ff97132fa5e10c1a53dc4a97e033d763e.

[2020-07-20 01:25] #7804 closed, assigned to quincylvania

[2020-07-20 01:44] NateGrobe commented on #7467
@quincylvania Got it running. Really appreciate the help.

[2020-07-20 02:01] quincylvania commented on #7467
@NateGrobe No problem, thanks a lot for reporting!

[2020-07-20 02:15] nisargshh commented on #7467
@quincylvania Got it to work thanks for the update.

[2020-07-20 14:35] quincylvania commented on #7806
@TheAdventurer64 What exactly is the issue here? A screenshot might be useful.

iD is an open source project with limited resources, so this isn't a helpful thing to say without even providing a reason. Feel free to fix the issue yourself and open a pull request if something's urgent to you.

[2020-07-20 14:36] quincylvania commented on #7802
@maro-21 What's the problem with the suggested values? The grades field just takes a range of numbers.

[2020-07-20 14:43] quincylvania commented on #7766
@fqdb Could you link to a location where this pattern occurs? It's unclear to me what's going on in the screenshot. It doesn't look like the example you linked to on the wiki since none of the ways appear to be unclosed, but I'm not sure.

[2020-07-20 15:04] jleedev opened #7814 "Pressing 'L' twice creates an overlay layer that never goes away"
While the "Locating, please wait" overlay is present, pressing the <kbd>L</kbd> key will cause _another_ overlay to appear, but broken somehow such that it never goes away, and mouse input becomes impossible.

[2020-07-20 15:36] quincylvania commented on #7807
@maro-21 Could you give steps to reproduce the first one or more detail about your browser/setup? I couldn't recreate the issue.

[2020-07-20 15:49] #7814 closed, assigned to quincylvania

[2020-07-20 15:50] quincylvania commented on #7814
@jleedev Thanks for reporting! This was a simple but nasty bug.

[2020-07-20 16:06] quincylvania opened #7815 "Momentum map panning on touchscreens"
Touchscreen users are used to maps continuing to move after flicking them. iD feels a bit clunky when it doesn't do this. It looks like touch browsers provide this functionality for free by continuing to send "move" events after the "up" event, we just need iD to respond to this.

[2020-07-20 17:04] bhousel commented on #7815
Cool, yeah the word for this is "inertia".

It's a long-requested feature in d3-zoom:
https://github.com/d3/d3-zoom/issues/67
https://github.com/d3/d3-drag/issues/27

There is this fork that seems to support some inertial panning/zooming:
https://github.com/Fil/d3-inertia

[2020-07-21 07:58] TheAdventurer64 opened #7818 "Add leisure=sports_hall"
A sports hall is a sufficiently large single room, typically enclosed with walls and ceiling, that is suitable to exercise one or more sports indoor. It might contain subordinated locker/changing rooms, showers, and a depot room for devices. It can be a standalone building, or part of a larger building.

A sports hall can often be found on a campus of a school, as part of a school building, or in

[2020-07-21 15:22] maro-21 commented on #7807
I couldn't reproduce it. I went through the walktrough twice while translating but I saw it only once.

[2020-07-21 16:31] tas50 opened #7819 "iD's error message when OSM is busy is incorrect"
Hey folks,

It looks like iD isn't properly parsing the error message when OSM is busy:

openstreetmap.org right now

[code]

iD error shown in the netlify deploy:

![image](https://user-images.githubusercontent.com/1015200/88081226-f0635100-cb34-11ea-930f-3ce8572f083a.png)

[2020-07-21 16:46] quincylvania commented on #7819
Thanks, I think this is #7796.

[2020-07-21 16:46] #7819 closed, assigned to nobody

[2020-07-21 17:09] tas50 commented on #7819
Certainly is. Thanks

[2020-07-21 17:30] polychloriert opened #7820 "Panning on selection is"
It seems to me that an auto-centering feature was added that engages when an object is selected. The map will pan to the center of the object, irrespective of where I selected the object. This makes editing large objects, such as long paths, very cumbersome and annoying as the editor will pan away from the part of the object that I wanted to edit. Thanks.

[2020-07-21 18:50] mohit2872 commented on #7783
Can you assign this to me?

[2020-07-21 19:11] quincylvania commented on #7818
Might call this a Gymnasium in iD since the default language is North American English. We can change it for other English locales.

https://wiki.openstreetmap.org/wiki/Tag:leisure%3Dsports_hall

[2020-07-21 19:13] quincylvania commented on #7783
@Nimisha94 asked first so let's give them a shot. @mohit2872, you could try #7818 if you want, which is similar.

Check out the presets README for info on how to add one: https://github.com/openstreetmap/iD/tree/develop/data/presets

[2020-07-21 19:19] VictorIE-OSM commented on #7809
What the system is implying is that one or other path should be a bridge or tunnel.

For buildings, tunnel=building_passage is an option. highway=corridor and indoor=yes is another option.

PS. At that location, is it correct that a cycleway is connected directly to steps?

[2020-07-21 19:25] VictorIE-OSM commented on #7818
I think leisure=sports_hall is the best description. It refers to a room and not the contents. Typical use is by teams.

Gymnasium has too much hint of somewhere with tread mills and weights and use by individuals.

In Germany, a gymnasium is a type of school.

[2020-07-21 19:27] VictorIE-OSM commented on #7820
I have also noticed this. Sometimes the object is even off screen, e.g. a length of road that goes around a hill, and the map centres at the focal point of the arc, with no arc visible.

[2020-07-21 19:36] quincylvania commented on #7818
@VictorIE-OSM Yes, the tag would be `leisure=sports_hall`, but a "sports hall" is British English and isn't a term in the US. They're usually called "gymnasiums". https://www.merriam-webster.com/dictionary/gymnasium

[2020-07-21 19:49] VictorIE-OSM opened #7821 "phone:mobile=* and similar contact fields shouldn't suggest data"
If I add the key phone:mobile then ID will suggest data for the value. It shouldn't suggest any data, as that data is invariably going to be the contact details for someone else. This is is common to all or nearly all contact fields, e.g. contact:twitter and contact:linkedin, but not contact:email.

Certain contact keys do not suggest data, e.g. website=*, email=*, phone=*, fax=* and this needs to

[2020-07-21 19:52] quincylvania commented on #7820
Welcome, @polychloriert. iD shouldn't be moving the map just because you click on something. Do you have steps to reproduce this behavior? Or a screencapture?

[2020-07-21 19:53] VictorIE-OSM commented on #7790
I'm not sure if I am addressing your issue properly.

This page https://www.openstreetmap.org/user/VictorIE/history#map=7/53.448/-7.287 lists all my recent edits. Clicking on the first item will bring me to where I last mapped. You would need to change the end half of the URL to suit your OSM account.

[2020-07-21 20:16] quincylvania opened #7822 "preview.ideditor.com/release not updating"
Lots has changed that could have broken this, but I'm not sure specifically. We should look into moving the release preview to netlify too since it isn't rebuilt very often and so shouldn't impact our limits too much.

[2020-07-21 20:29] brainwad opened #7823 "Kanton ZH background imagery broken in iD 2.18.2"
After getting the update, imagery from the local government in Zürich, Switzerland is broken. Other backgrounds work fine. This is especially problematic because iD defaults to the Kanton ZH Orthofoto Summer 2018 layer.

Repro: https://www.openstreetmap.org/edit#map=11/47.3880/8.4932

[2020-07-21 20:40] jleedev commented on #7818
More discussion as to the two meanings of "gym" is here: https://wiki.openstreetmap.org/wiki/Gym_/_Fitness_centre

iD uses "Gym / Fitness Center" for `leisure=fitness_centre`, so it would be reasonable to see "Gymnasium" for `leisure=sports_hall` and understand which of the two presets is correct.

[2020-07-21 21:33] sun-geo commented on #7788
It seems the new version v2.18.2 loads many more data to get access to the iD editor after pressing the "Edit" button on top of the osm.org page. I assume there is a rough estimation of app. 1MB for v2.17.x to app. 5MB now for v2.18.2. Do you have more exact figures by chance. Is it possible to reduce the data load while the iD starting procedure? Do you know the reason for the strong increase of

[2020-07-21 23:56] jidanni commented on #7790
Thanks. But I am just saying if I do
1. https://ideditor.netlify.app/#background=Bing&disable_features=boundaries&map=17/24.18169/120.86617 , and then the next day just:
1. https://ideditor.netlify.app/

I am hoping that the second run should start up within a few kilometers of the first.

[2020-07-22 04:49] 1ec5 opened #7824 "Rename reflect operation to flip"
Over in OSMUS Slack, @TheAdventurer64 was asking about the “Reflect features across the longer/shorter axis” operations. I think these operations would be more discoverable to English speakers if they were called “Flip features across the longer/shorter axis”. Is there a technical distinction between flipping and reflecting?

[2020-07-22 07:32] sun-geo opened #7825 "leisure=track preset checkbox for 'area'"
It seems a `leisure=track` can be round course (closed way) or can be a straight line e.g. for a 100-metre dash.
Both could be mapped as an area (closed way or relation) or line object.

The wiki https://wiki.openstreetmap.org/wiki/Tag:leisure=track tells to distinguish between a line and area object it should be added the tag `area=yes` for the areas.

I'm not sure if there could be i kind of `le

[2020-07-22 08:42] mohit2872 commented on #7818
can you assign this issue to me?

[2020-07-22 08:43] mohit2872 commented on #7783
@quincylvania  yeah sure

[2020-07-22 11:47] ignaciolep opened #7826 "Long-clicking doesn't allow moving a node if something was previously selected"
#### Issue description

With nothing selected, after long-clicking a node until the edit menu appears, it still allows to move it as expected. BUT, if _anything_ was already selected, after long-clicking a node, it doesn't allow to move it.

#### Steps to reproduce the issue

1. Select anything
2. Do a long-click over a node (until edit menu is shown).
3. Try to move the node

#### What's the expe

[2020-07-22 12:00] polychloriert commented on #7820
Thanks for the quick reply. I just checked again and the described behavior is no longer present. Weird. Thanks anyway :)

[2020-07-22 12:00] willemarcel opened #7827 "Line presented with Point label"
I discovered a bug in the Line preset. Steps to reproduce:
- Create a line
- Edit a point
- Select the line again and you'll see the line labelled as "Point"

I recorded a video that shows how I found it https://drive.google.com/file/d/1ldsud0BTqQSjE8m7WIdJOGD9h_i0IKA9/view?usp=sharing

[2020-07-22 12:12] polychloriert commented on #7820
Ah, got it again. If I had to speculate, it's probably some kind of state bug during editing.
How to reproduce it:
1. Edit a feature that is considerably larger than the current map pane
2. Let the editor pan the map at least once to focus on the next/current node (happens during repeated node deletion for example)
3. Now, when seleting another feature, the editor will always pan to the feature's

[2020-07-22 12:23] brainwad commented on #7823
Works when setting a custom background with the exact URL in the config, e.g. `https://wms.zh.ch/OGDOrthoZH?SERVICE=WMS&VERSION=1.3.0&REQUEST=GetMap&LAYERS=ortho&FORMAT=image/jpeg&CRS={proj}&WIDTH={width}&HEIGHT={height}&BBOX={bbox}`. So the problem isn't the server, it's something iD is doing when reading from imagery.json?

[2020-07-22 13:12] quincylvania commented on #7825
Is this #1828? I'm not sure it makes a difference if the track is a closed circuit or not.

[2020-07-22 13:22] quincylvania commented on #7824
Good idea. I've seen other graphics apps use "flip", which is a better action word. People flip things like pancakes and burgers. People don't reflect anything except the contents of their souls 😱

I haven't heard of one, but I'm happy to round off corners on technical jargon. Like how iD uses "Square" instead of "Orthogonalize".

[2020-07-22 13:25] quincylvania opened #7828 "Browse custom map data file button broken"
<img width="322" alt="Screen Shot 2020-07-22 at 9 24 34 AM" src="https://user-images.githubusercontent.com/2046746/88181655-2ff57000-cbfd-11ea-9263-1f0c53d5a0b0.png">

Clicking this button does nothing. Reported by someone on OSMUS Slack.

[2020-07-22 13:29] quincylvania commented on #7820
@polychloriert Weird!! Definitely a bug. Thanks for reporting and for the detailed steps.

[2020-07-22 13:48] #7828 closed, assigned to quincylvania

[2020-07-22 13:58] #7820 closed, assigned to quincylvania

[2020-07-22 14:04] quincylvania commented on #7821
See #7485 for discussion about this functionality. You're right that iD shouldn't show suggestions, but the problem is there are hundreds of tags like this and it's unrealistic to manually exclude them all. We could theoretically do this intelligently if iD knew the data type for each tag, but for now I'm closing this as low impact. If you care a lot about it then feel free to open a PR.

[2020-07-22 14:04] #7821 closed, assigned to nobody

[2020-07-22 14:29] manfredbrandl opened #7830 "Rearrange Blocks in "Editing" within Shortcuts to save screen space"
![image](https://user-images.githubusercontent.com/5360273/88188737-8a5ff200-cc38-11ea-95f1-2ecd4b078dea.png)

[2020-07-22 14:44] #7823 closed, assigned to quincylvania

[2020-07-22 14:47] quincylvania commented on #7823
Looks like the issue arose from iD using the `EPSG:4326` endpoint whereas the custom URL used the `EPSG:3857` endpoint. Not sure if the issue is with iD or with the WMS server, but preferring `EPSG:3857` works fine for now.

[2020-07-22 14:48] quincylvania commented on #7830
Hmm it already works like this in English, but I agree we should make it work better for languages with longer labels.

<img width="1008" alt="Screen Shot 2020-07-22 at 10 47 50 AM" src="https://user-images.githubusercontent.com/2046746/88190895-d3984d80-cc08-11ea-984d-11ea6943d1b5.png">

[2020-07-22 14:53] bhousel commented on #7830
I'm pretty sure this screen just lets flexbox handle the layout.  Translators need to just use shorter labels.

[2020-07-22 15:18] #7827 closed, assigned to quincylvania

[2020-07-22 15:18] quincylvania commented on #7827
@willemarcel Thanks for reporting 👍

[2020-07-22 15:25] manfredbrandl commented on #7830
The left tab (Browsing = Ansicht) works also in German:
![image](https://user-images.githubusercontent.com/5360273/88195389-47098180-cc40-11ea-85b4-1a87eec6aca2.png)

The problem is with the middle tab (Editing = Bearbeitung).

[2020-07-22 15:32] manfredbrandl commented on #7818
@mohit2872 Will you create a PR for this?

[2020-07-22 15:36] mohit2872 commented on #7818
@manfredbrandl yes I will

[2020-07-22 16:13] rbuffat commented on #7823
I assume this is related to https://github.com/openstreetmap/iD/issues/7557

[2020-07-22 16:43] polychloriert commented on #7820
No, thank YOU for working on iD - it keeps getting better and better :)

[2020-07-22 17:17] quincylvania commented on #7823
@rbuffat Oh, quite possibly yes.

[2020-07-22 17:20] 1ec5 commented on #7557
Fixed in 964c2e6b129d69af8ce1d2b6cb3f16ce56cc042b.

[2020-07-22 17:22] 1ec5 commented on #7557
Oh never mind, that was just a workaround for particular layers.

[2020-07-22 18:23] rjgambrel commented on #7773
Bumping this issue. Curious as to why no comments or discussion. Should I just be patient or is this seen as "a bridge to far" or possibly not thought to be very important?

[2020-07-22 18:45] sun-geo opened #7831 "validator / spell checker: customers vs. customer"
Based from this view:
![image](https://user-images.githubusercontent.com/47290585/88215333-c5275180-cc5b-11ea-9800-2a163b862d49.png)

i wonder if this could be make sense for a validator rule.

According to the wiki `access`:
https://wiki.openstreetmap.org/wiki/Key:access#List_of_possible_values
the osm value is `customers`

PS, See also taginfo overviews:
https://taginfo.openstreetmap.org/search?

[2020-07-22 19:21] tkansgar commented on #7826
Hi,
I just wanted to post the same issue and found this one.
I found out, if you press the left button on a node of a selected line (e.g. some kind of highway) and immediately begin to drag it, this is possible (moving of the node begins). But if you wait too long (about 0.3 seconds or so), the selection of the line disappears and the popup menu for node modification appears instead (which formerl

[2020-07-22 22:20] maro-21 opened #7833 "How does the information button work?"
I've recently added a Polish Wiki entry for the key `beauty=*`:
https://wiki.openstreetmap.org/wiki/Pl:Key:beauty

As I can see, iD takes the Polish text description
![iD-information](https://user-images.githubusercontent.com/57260466/88234504-4fca7980-cc79-11ea-9cb8-7489ac560a47.png)

from https://wiki.openstreetmap.org/wiki/Item:Q2905
For sure, because there is a link to it and this description

[2020-07-22 22:25] quincylvania commented on #7826
@tkansgar Sorry this is causing such big issues for you! As you can see, this is a bug with the new release and we'll fix it soon. I wasn't aware of click locking, but will keep this workflow in mind for future development.

For the time being you can use a slightly older of iD [here](https://preview.ideditor.com/release/) if that helps.

[2020-07-22 22:31] quincylvania commented on #7831
Sure, we can deprecate `access=customer` in [deprecated.json](https://github.com/openstreetmap/iD/blob/develop/data/deprecated.json).

[2020-07-22 22:40] quincylvania commented on #7773
@rjgambrel Thanks for your patience. There aren't any paid or full-time developers working on iD right now so it can take awhile to respond to complicated issues.

My initial thought is that this feature sounds too complex for iD. I could theoretically see advanced data selection or map styling based on rich queries, but not anytime soon. I'll leave this open for now so we can think more about it.

[2020-07-22 22:45] quincylvania commented on #7788
@sun-geo I haven't been paying much attention to initial download size, so I don't have great answers for you. Since we unbundled a lot of data in release (#4994), iD's JavaScript payload should be smaller but the data file minification may not be as optimized, but that's just a guess. Before even starting low data mode I'd definitely like to take a look into this.

[2020-07-22 22:50] bryceco commented on #7557
The fix for this is pretty easy, if you look at https://github.com/bryceco/GoMap/blob/60f2846d921477525d1416b3400c032a9751745e/src/Shared/MercatorTileLayer.m#L313

[2020-07-22 22:57] sun-geo commented on #7833
So far I understand you need to add for
https://wiki.openstreetmap.org/wiki/Item:Q2905
the P31 (documentation wiki pages) information "Pl:Key:beauty" first.

You could compare to https://wiki.openstreetmap.org/wiki/Item:Q5056
There you can find that for P31 is "Pl:Tag:shop=beauty" set.

[2020-07-22 22:57] sun-geo commented on #7831
:-)

[2020-07-22 23:30] sun-geo commented on #7825
Yes, i think so. Thanks for linking to 1828.

I think it makes a difference. The possibility to add `area=yes` should only enabled for ring objects, like
https://www.openstreetmap.org/way/718067765
See this comment: [""Convert to Area" should really be allowed only on linear rings."](https://github.com/openstreetmap/iD/issues/1828#issuecomment-256251820)
Maybe this (to check and detect these kind

[2020-07-22 23:36] quincylvania commented on #7825
@sun-geo Okay great. It isn't complex to detect which lines are closed and can be converted to areas, but adding a new UI element to a usability-focused app like iD is always tricky.

[2020-07-22 23:36] #7825 closed, assigned to nobody

[2020-07-22 23:50] sun-geo commented on #7825
I see! It's regarding the UI handling.

Before writing the initial post for 7825 I had in mind the UI could just look like a preset checkbox. But i missed to add a picture.
A similar case see `leisure=track` like the tagging of `lit` information box (lit=yes / lit=no / without lit tag), as mentioned above which could used for `area`, but only enabled for ring elements, otherwise greyed-out, see
![

[2020-07-23 00:09] jtracey commented on #3002
The preference to show third party icons, which the UI implies will be stored, is currently not. I'm assuming fixing that would be part of this bug?

[2020-07-23 01:32] rjgambrel commented on #7773
Thank you for the response Quincy.  I look at the other referenced requests. I think this could be much simpler, less ambitious, but still useful.

Allow the query to be simple. Doesn't have to be as rich as OT. Main thing is to be able to easily detect and highlight a way (or node, or area) that is being touched. So main capability is for me to be able to specify the criteria (such as highway=res

[2020-07-23 04:52] tastrax commented on #7342
Hi folks - any movement on this added functionality yet? I would love to be able to reduce the spaghetti effect in popular areas.

[2020-07-23 04:55] HolgerJeromin commented on #4994
@bhousel how did you this stats images?

[2020-07-23 06:10] nisargshh commented on #7611
I've been playing with this for a few hours now. I realized that going to `modules\renderer\map.js `and changing the duration in `setCenterZoom(map.center(), ~~map.zoom() + delta, 250, true);` to `setCenterZoom(map.center(), ~~map.zoom() + delta, 200, true);` Allows the double tap to work. I can not seem to figure out what stops it from working when we increase the duration.

[2020-07-23 06:22] manfredbrandl commented on #7833
I think this should be documented in CONTRIBUTING.md in the Translating-Section.

[2020-07-23 07:29] sun-geo commented on #7833
Btw, i remember another talk a little bit, see here: #6310 (Potential missing links to wiki documentation pages for several tags)

[2020-07-23 08:45] tankaru commented on #7647
I used the iD editor on my iPad/Apple pencil.

And I frequently encountered unintended node movement.

In my case, I was editing the feature with the Apple pencil in my right hand, while simultaneously moving (dragging) and zooming (pinching) the map with my left hand. In this case, I couldn't notice when I accidentally moved a node with my left hand because I was focusing on my right hand side of

[2020-07-23 09:03] tankaru opened #7834 "Undo gesture"
I used the iD editor on my iPad/Apple pencil. I edit the feature with the Apple pencil in my right hand, while simultaneously moving and zooming the map with my left hand.

I would like to have the ability to UNDO with the touchpad gesture when I make an editing mistake. If I can do the UNDO gesture with my left hand, I don't need to move my hand.

For example, the vector graphics software "Affini

[2020-07-23 09:24] til-schneider commented on #6540
I would like to contribute this.

Is there a (small) part of the UI which would be a good candidate to be turned into React as an example?

If you (@BjornRasmussen) have concerns React could be a too heavy dependency, we could use [preact](https://www.npmjs.com/package/preact) instead. preact is API-compatible to React (so we could switch easily to React later) and only needs 3 kB (instead of [109

[2020-07-23 14:12] maro-21 commented on #7833
Oh, I didn't know it should be added there :/
But, yes, it works now, thanks!

[2020-07-23 14:42] quincylvania commented on #4994
@HolgerJeromin https://github.com/btd/rollup-plugin-visualizer

[2020-07-23 20:19] TheAdventurer64 opened #7835 "Add car detailer"
Since there are several car places that only detail cars, one way to distinguish them would be to add a Car Detailer preset with `shop=car_repair` with `service:vehicle:detailing=yes`.

[2020-07-23 21:27] BjornRasmussen commented on #6745
No, unfortunately not.  It just happened to me the first time I tested out the new iD

[2020-07-23 21:53] manfredbrandl commented on #7830
@bhousel Using shorter labels did the job.

[2020-07-23 21:53] #7830 closed, assigned to nobody

[2020-07-23 21:56] manfredbrandl commented on #4007
Instead of "Teach about disconnect in walkthrough" there is a short documentatin of disconnect in #7803

[2020-07-23 21:58] manfredbrandl commented on #4012
Maybe what we have in the help now is enough documentation.

[2020-07-24 08:06] sun-geo commented on #7831
Tried to bring the second edit (regarding the modification of the taginfo.json file) in the same #7836 pull request.

Seems i accidentally created meanwhile a branch "patch-2". How can i delete such a apparently now unnessecary branch?

Now i modified the taginfo.json file a second time (in branch patch-1) and hopefully the edit is moved automatically to the same pull & it is okay now.

[2020-07-24 10:15] jodastephen commented on #4764
Could I gently encourage some progress on this issue? I recognise its a hard problem, and that the imagery database is imperfect, but it does at least offer some kind of solution.

The problem I'm facing right now is that new high quality imagery (Bing) has been added in my area (London), but it is not aligned with the previous best imagery (Esri). And although its not totally clear, I think GPS b

[2020-07-24 13:03] EwenH opened #7839 "LH Details panel UX item 2.18.3"
A minor UX item is the scrolling of the left hand details panel when clicking away from a node or line and then clicking back does not scroll back to the top. This defeats the purpose of the error and warnings boxes and may be confusing to new users of this excellent product.

**Recreate**
- Using Chrome  83.0.4103.116 on Windows
- Open the editor and select a node or way
- Scroll down the left ha

[2020-07-24 14:59] #7831 closed, assigned to nobody

[2020-07-24 15:01] quincylvania commented on #7831
@sun-geo [This article](https://www.freecodecamp.org/news/how-to-delete-a-git-branch-both-locally-and-remotely/) should help.

[2020-07-24 15:14] quincylvania commented on #4012
@manfredbrandl The written documentation is important, but I'd like to try #6079 and have individual tutorials for all kinds of things like this. Some people have issues with reading or processing text, so an option to "learn by doing" makes iD more accessible to them.

[2020-07-24 15:22] quincylvania commented on #3002
@jtracey Third-party icons aren't intended to be stored between sessions. The privacy option is about whether to load them at all.

[2020-07-24 15:26] jtracey commented on #3002
@quincylvania I know, I'm saying the setting to not do that isn't stored (i.e., I have to disable it every time I load iD).

[2020-07-24 15:29] bhousel commented on #3002
The preference should be stored, unless you are using something like incognito mode, or maybe a privacy-focused web browser that throws out the storage.

[2020-07-24 15:31] jtracey commented on #3002
I delete local storage when I close the browser, yes. Which is exactly what this issue is about ameliorating, no?

[2020-07-24 15:34] bhousel commented on #3002
Yes.

[2020-07-24 17:46] maro-21 opened #7840 "Small correction in Help > Background Imagery"
In iD's Help > Background Imagery you can read:
`By default, a [Bing Maps](https://www.bing.com/maps/) satellite layer is chosen as the background image.`
which is not true...

[2020-07-24 18:42] tkansgar commented on #7826
Hi, is it possible to use the older ID version from within www.openstreetmap.org? There I have an URL like this:
https://www.openstreetmap.org/edit?gpx=3360169#map=20/52.34064/9.22462 (to see one of my uploaded gpx tracks)
So I modified your URL as follows:
https://preview.ideditor.com/release/#background=EsriWorldImageryClarity&disable_features=boundaries&map=20/52.34064/9.22462 (to see the same

[2020-07-24 21:43] #7557 closed, assigned to quincylvania

[2020-07-25 04:06] manfredbrandl opened #7841 "Add text ‚note‘ behind note-icon."
In the toolbar there are texts Point, line and area behind their icons. There should be the text note behind the icon. Currently it isn‘t. In Help it is described like that. German Screenshot from iPad:
![ACD7984E-BAB6-40F5-9325-427FBDCF7C9E](https://user-images.githubusercontent.com/5360273/88448322-ec894480-ce3c-11ea-8053-afc4531ffa20.jpeg)

[2020-07-26 12:48] maro-21 opened #7842 "imagery_used=MAPNIK?"
Why have you changed from `imagery_used=OpenStreetMap (Standard)` to `imagery_used=MAPNIK` in changesets?
Mapnik is not a mapstyle, it's just a toolkit for rendering maps. The default layer is OSM Carto.

_Note that Mapnik is a map rendering toolkit, and should not be confused with any of the common map stylesheets that may use Mapnik as a foundation. One of these, OpenStreetMap Carto is used as t

[2020-07-26 14:50] manfredbrandl commented on #7840
@maro-21 Do you know what the default is?

[2020-07-26 17:12] boothym opened #7843 "Upgrading sloped_curb replaces kerb=* tag"
I noticed iD offered to upgrade a highway=crossing with sloped_curb=both, to kerb=lowered.

However, there was already a kerb=flush tag on the object. When I clicked to upgrade it replaced it with kerb=lowered, which is not good as it loses information.

Therefore, if the kerb tag already exists iD should not touch it, and possibly iD should just remove the sloped_curb tag instead.

[2020-07-26 19:06] maro-21 commented on #7840
I think it's different for every country.

[2020-07-27 04:03] TheAdventurer64 opened #7846 "Add Welcome Sign preset"
Description: A sign welcoming users to a place/city, without further (detailed) information about the place.

Tag with `information=board`, `tourism=information`, and `board_type=welcome_sign`.

[2020-07-27 04:04] TheAdventurer64 commented on #7806
#7846

[2020-07-27 04:04] #7806 closed, assigned to nobody

[2020-07-27 09:30] sun-geo opened #7849 "Moving a node is not possible after long left mouse click (& holding left mouse button)"
See title, because it will be shown the same context menu as it happened when right clicking.
I assume this function comes with the new iD version (v2.18), which provides the touch-pad functionality.
But in this case (when using a a mouse) for moving existing nodes the handling isn't comfortable anymore, because you have to be very fast to start the move-action (after left mouse clicking).

[2020-07-27 09:38] SK53 commented on #7719
Whereas I agree that there is much egregious use of amenity=hospital for indivdual services within a hospital, I'd exercise caution with this suggestion. I can think of several valid uses of both school within school and hospital within hospital. Some specific examples:

* [Military hospital](https://www.openstreetmap.org/node/2492690989) within major teaching hospital.
* [Djanogly Sherwood Academ

[2020-07-27 10:43] manfredbrandl commented on #4012
@quincylvania I support #6709 to enhance the written documentation, which is easiert to produce but not so helpfull als a bunch of short walkthrough chapter e.g. on relations.

[2020-07-27 10:50] #7719 closed, assigned to nobody

[2020-07-27 12:23] NotSoImportant opened #7851 "Viewpoint and hunting stand have the same icons in ID"
Currently in the editor you cannot distinguish between both (without selecting them).

However their purpose is very different:
- One is for orientation and only allows access for hunters
- The other is a point of touristic interest, but has itself no specific structure to be recognized

Please introduce a different icon for one or the other.

[2020-07-27 14:10] maro-21 commented on #7851
... and shop=hunting as well.

For a viewpoint it would be good to have a similar icon as in OSM Carto:
https://wiki.openstreetmap.org/w/images/thumb/c/c2/Viewpoint-16.svg/240px-Viewpoint-16.svg.png

[2020-07-27 15:18] doublah commented on #7719
Maybe one of the QA tools integrated into iD could ask the user if the tag is correct if it's used inside the same tag?

[2020-07-27 17:55] AntMadeira commented on #7849
Yes, I second this. It's not helpful and it disturbs when editing the map.

[2020-07-27 18:06] AntMadeira opened #7853 "Allow adding to relation with multiselection"
In the recent iD update I was very happy to see a better feature multiselection, which allows us to change fields of several features at the same time. Thanks for that.
Unfortunately, there's no option to add selected features to a relation. This would be very useful and I don't see major problems allowing this to be done.
Is there a reason for not allowing relations in multiselection, or is it a

[2020-07-27 19:18] manfredbrandl commented on #7853
Each member of a relation can have a (different) role in the relation, the members are also ordered, sometimes the order depends on the time a member is added to a relatio. Some relation types (e.g. restriction) require roles for their members. Adding several members to a relation can break the relation. Anyway I am NOT opposed to add several members to a relation, it just has to be done right.

[2020-07-27 19:34] quincylvania commented on #7853
@AntMadeira This is definitely something I'd like to try. #7753 is about enabling the Relations section for multiselections, so let's focus discussion over there.

[2020-07-27 19:34] #7853 closed, assigned to nobody

[2020-07-27 19:35] quincylvania commented on #7849
@sun-geo Thanks, this is a bug we're tracking in #7826.

[2020-07-27 19:35] #7849 closed, assigned to nobody

[2020-07-27 19:42] AntMadeira commented on #7753
This is something I would like to see implemented. When I want to create a long route relation, for example, I have to use JOSM, where is very simple to select the lines I want and add them to an existing or new relation. Of course not all relations are so straightforward, but opening the relations menu and add multiple features to a relation is something that only experienced and savvy mappers wo

[2020-07-27 19:45] quincylvania commented on #7840
The global default is Bing but certain regions have a designated "best" layer that's used instead.

[2020-07-27 19:59] #7841 closed, assigned to nobody

[2020-07-27 20:00] quincylvania commented on #7841
@manfredbrandl Thanks, the help label should have matched the toolbar button label. I don't think we need two labels for this toolbar item.

[2020-07-27 21:37] sun-geo commented on #7831
Thanks for merging.

@quincylvania Seems the article describes how to delete via cmd commands.
I wonder if i could also do this via the webpage.

For the current pull quest (add area field for leisure=track), i did again 2 mistakes by creating unwanted branches patch-4 & patch-5.
I can see this screen:
![image](https://user-images.githubusercontent.com/47290585/88594704-f8098500-d061-11ea-8d19-518

[2020-07-28 00:39] thayeray commented on #7755
I concur! I would add that it would be great if the background data source were filled in by default when entering the upload dialog. So for example, I am thinking that would be the imagery sources that are highlighted in blue in background selection menu. I end up over abbreviating my sources so they probably are not very clear, for example instead of distinguishing between two types of Maxar ima

[2020-07-28 07:27] TheAdventurer64 opened #7856 "Add Units field to Apartment Building"
A units field could tell a person how many units are in a apartment, similar to the rooms field for a hotel.
Tag with `building:flats=`.

[2020-07-28 07:29] TheAdventurer64 opened #7857 "Add "Snorkel Shop" as a search term for "Scuba Shop""
Since a snorkeling shop and a scuba shop are the same thing, I propose we allow the user to search for "snorkel shop" to pull up the Scuba Shop preset.

[2020-07-28 23:20] simonpoole opened #7858 "Some streets not rendering"
In this area https://www.openstreetmap.org/edit#map=17/62.77698/27.50262 some of the roads do not render (latest FF) for no apparent reason (editing in other editors seems just fine).

Reported here: https://forum.openstreetmap.org/viewtopic.php?pid=796045#p796045

[2020-07-29 05:54] sun-geo opened #7860 "Potential adding a preset for highway=emergency_access_point"
wiki: https://wiki.openstreetmap.org/wiki/Tag:highway%3Demergency_access_point

Seems approved:
https://wiki.openstreetmap.org/wiki/Proposed_features/emergency_access_point
and well distributed:
https://taginfo.openstreetmap.org/tags/highway=emergency_access_point
https://taginfo.openstreetmap.org/tags/highway=emergency_access_point#map

Has quite constant organic growth:
https://taghistory.raifer

[2020-07-29 10:47] til-schneider commented on #6540
I just opened a pull request adding support for ReactJS. See #7861.

[2020-07-29 21:31] TheAdventurer64 opened #7862 "When you extract a point from a building part, the building part tags come with the point"
![image](https://user-images.githubusercontent.com/50059322/88855639-e376db00-d18e-11ea-8a9b-0cfbcc8d7d27.png)

[2020-07-30 05:46] st-anton commented on #7858
This appears on other places in the world as well. Sometimes the points of the roads and polygons are rendered, sometimes nothing at all. Curious: Some roads from the outside of the actual area are rendered. Changing the zoom level jumps around and does not effectively change the zoom, in the end the background image is shifted.
The iD editor cannot be used currently.

[2020-07-30 06:04] tastrax commented on #7858
even more strange - click on the nodes that are showing and things appear?

![strange](https://user-images.githubusercontent.com/8775395/88886673-57dc7780-d27e-11ea-8bb7-f98cc044621b.JPG)

[2020-07-30 06:31] st-anton commented on #7858
Obviously some areas in the world are affected, other not.

[2020-07-30 08:55] manfredbrandl commented on #7862
This behavior generally meets my expectations. @TheAdventurer64 What are your expectations?

[2020-07-30 12:02] simonpoole commented on #7858
While just idle (not quite) speculation it seems to be triggered by a specific data situation that causes rendering to abort at that point, the console output does report an error, but best leave tracking that down to the devs.

[2020-07-30 14:16] quincylvania commented on #7858
@simonpoole Thanks for reporting. I'm seeing console errors like `e.uid is undefined` and `entity n231109719 not found`, which are usually pretty serious errors which will exit the rendering code and leave an incomplete map. I'll work on debugging further.

[2020-07-30 15:59] st-anton commented on #7858
Some more examples:
[https://www.openstreetmap.org/edit#map=15/51.2277/13.6119](https://www.openstreetmap.org/edit#map=15/51.2277/13.6119)
[https://www.openstreetmap.org/edit#map=19/51.16365/13.56454](https://www.openstreetmap.org/edit#map=19/51.16365/13.56454)

[2020-07-30 19:46] #7858 closed, assigned to quincylvania

[2020-07-30 19:47] quincylvania commented on #7858
Looks like this was happening since iD wasn't accounting for the possibility of undefined `uid` on entities returned by the JSON endpoints of the OSM API. Simple fix for a nasty bug.

[2020-07-30 20:07] simonpoole commented on #7858
Ah revenge of the anonymous users :-)

[2020-07-30 21:46] SK53 commented on #7858
Looks like I encountered this editing in Devon a day or so ago. I made a screen grab but hadn't followed it up as I moved to using other editors.  I guess the S Devon coastal areas were mapped fairly early on. Glad there's an explanation.

![Screenshot (3)](https://user-images.githubusercontent.com/5452818/88977614-27b0cb00-d2b6-11ea-8554-46f4019b372c.png)

[2020-07-30 21:51] scottdurant commented on #7856
Hello, I'm new to open source and would like to try to solve this issue. Would I need to edit the data/presets/presets/building/apartments.json file? If you could point me in the right direction that would be much appreciated, thank you!  @TheAdventurer64 @quincylvania

[2020-07-31 13:15] maro-21 opened #7864 "Can't disconnect features"
If an area is connected to roads and they share a node: even if I disconnect them from each other and then turn off all layers except areas, iD still says that I can't move the node because it's connected to a hidden feature...

It's only with roads and areas. If an area is connected to a building I don't have this problem.

[2020-07-31 13:18] maro-21 opened #7865 "Edit Office presets"
Add Website and Phone as default fields. This will improve and speed up editing.

[2020-07-31 13:21] mmd-osm commented on #7858
Argh, too bad I missed this, I should’ve known better. 🙄

[2020-07-31 13:21] maro-21 commented on #7862
What meets you expectations? Tags `building:levels` and `roof:material` are building tags and should never be on a node.

[2020-07-31 13:35] tomhughes commented on #7858
Are we going to get a new build with this at some point? I held off rolling back yesterday assuming we would get a quick fix but if that's not going to happen I probably will need to roll back to a working version.

[2020-07-31 13:39] manfredbrandl commented on #7862
I generally expect the point extracted from a way (line or area) to have the same tags as the way. With the command merge these tags can then be transferred to another way. @maro-21 Your expectation appears to be that tags that are not allowed on a node should be removed by the extract command. Correct?

[2020-07-31 13:44] mmd-osm commented on #7858
By the way, both uid and user fields would be absent for anonymous users. Would you need an empty string as fallback for „user“ as well?

Version would never be missing otherwise you couldn’t upload any changes for this object.

[2020-07-31 13:56] quincylvania commented on #7858
I'll release a patch today.

[2020-07-31 14:37] mmd-osm commented on #7858
@quincylvania : did you read my last post? You didn’t change the user bit before releasing the new version. Just wanted to be sure there’s no further issue here.

[2020-07-31 14:47] jidanni opened #7866 "Allow mouse rebindings, to e.g., match JOSM"
There is no way to make JOSM mouse bindings match iD,
https://josm.openstreetmap.de/ticket/18186
https://josm.openstreetmap.de/ticket/4760
So I hope iD doesn't make the same mistake hardwiring them so deep down that there is no way
a former JOSM user could rebind them to match what he is used to.

[2020-07-31 14:48] quincylvania commented on #7858
@mmd-osm Yes, sorry. It should be fine for `user` to be undefined rather than an empty string since the XML parser worked the same way. For instance, iD properly displays an "Unknown" label in the UI for features last edited by anonymous users.

![Screen Shot 2020-07-31 at 10 45 28 AM](https://user-images.githubusercontent.com/2046746/89046561-22399c00-d31b-11ea-83f4-a5b3e7dc2424.png)

[2020-07-31 15:14] quincylvania commented on #7862
@manfredbrandl The intention has been for the Extract operation to easily separate out a POI from an area in one click. It already leaves behind building tags if the area has `building=*`, so I think it should also do this for `building:part=*`. Mappers can use the raw text tag editor to copy and paste all the tags between features.

[2020-07-31 19:18] manfredbrandl commented on #7862
@quincylvania Good to know, will use that for the section „edit menu“ in the help.

[2020-08-01 05:29] sun-geo opened #7867 "Increasing of direction step size"
The current step size for changing the `direction` value is 1, see:

![dir-step-size](https://user-images.githubusercontent.com/47290585/89094730-77cb8280-d3c7-11ea-9afd-0572984b7835.gif)

I propose to increase the step size a bit, maybe to (2 or) 5 (or 10)?

Who even still what's to use a more detailed figure below a raster of 5 would still have an option to manually enter a more detailed value i

[2020-08-03 07:29] thibaultmol opened #7868 "Disable 'recently used features' icon list at the top when on smartphone"
On a smartphone display, the top is already so small that you need to scroll to get to the buttons on the right. But because those icons of the 'recently used features' are draggable; often you end up dragging one of those instead of horizontally scrolling that bar.

[2020-08-03 11:44] maro-21 opened #7869 "Raw tag editor - no horizontal scroll bar"
No possibility to copy a long link in raw tags editor if it's too long - there is no horizontal scroll bar (but it used to be in the previous versions).

[2020-08-03 12:42] nickplesha commented on #5307
Hi, you can try the username filter in this PR: https://github.com/openstreetmap/iD/pull/7847 let me know if you have any feedback or suggestions.

[2020-08-03 12:43] nickplesha commented on #4518
Hi, you can try the date filter in this PR: https://github.com/openstreetmap/iD/pull/7847 let me know if you have any feedback or suggestions.

[2020-08-03 12:43] nickplesha commented on #7342
Hi, you can try the date filter in this PR: https://github.com/openstreetmap/iD/pull/7847 let me know if you have any feedback or suggestions.

[2020-08-03 19:43] manfredbrandl opened #7870 "Can we change from transifex to translatewiki"
Translatewiki does not invalidate a translation when the source string changes. This helps translators a lot, when minor changes  (e.g. spelling, wording, small additions) in the source strings occur.

[2020-08-03 21:38] maro-21 commented on #7870
It's expected behavior, if something has been changed, it means that the translation should be changed too.

Translatewiki is the worst CAT tool from all I've known. It doesn't have as many options as Transifex. It actually doesn't have any options except string search. I wouldn't even call it a CAT tool. And Transifex is really handy.

[2020-08-04 00:14] quincylvania commented on #7870
#7508 is about the possibility of switching translation platforms. I agree there are times it'd be great to not invalidate all translations for an English string change.

[2020-08-04 00:14] #7870 closed, assigned to nobody

[2020-08-04 07:40] manfredbrandl commented on #7508
From #7870 : Transifex does remove a translation when the source string changes. Instead of changing the translation one has to find the translated text somewhere else and enter it again before changing. This is cumbersome when minor changes (e.g. spelling, wording, small additions) in the source strings occur.

[2020-08-04 07:43] simonpoole opened #7871 "Remove unsuitable imagery sources"
We've found a number of imagery sources in ELI that are not suitably licensed. Background: this is imagery owned and produced by the Swiss federal GIS office, that was mistakenly offered by two cantonal GIS offices on their open data WMS servers (with other words an unintentional mess).

ELI has been updated, so a rebuild and redeploy of iD will remove the sources.

[2020-08-04 13:03] mikini commented on #7842
To my experience the contents of the imagery_used tag depends on what imagery has actually been shown during the editing session. If you enable, even shortly, an imagery source it will be appended to this tag with [semi-colon multi-value semantics](https://wiki.openstreetmap.org/wiki/Semi-colon_value_separator).
See fx. my recent editing session [in Denmark](https://www.openstreetmap.org/changeset

[2020-08-04 13:34] fakeharahman commented on #7857
I am new to open source and I would like to take up this issue.

[2020-08-04 13:55] quincylvania commented on #7857
@fakeharahman Great! Please review our [contributing guidelines](https://github.com/openstreetmap/iD/blob/develop/CONTRIBUTING.md) and the [presets readme](https://github.com/openstreetmap/iD/blob/develop/data/presets/README.md) for how to do this. You'll want to look at the `terms` property of the relevant preset file.

[2020-08-04 14:55] thibaultmol commented on #7869
Just to note: there is a horizontal scrollbar on the raw tag editor of the V3 Preview: [https://preview.ideditor.com/master/](https://preview.ideditor.com/master/)

[2020-08-04 14:59] thibaultmol opened #7872 "https://preview.ideditor.com/master/ not yet /develop/"
I noticed that url hasn't changed yet from master to develop (btw, if possible. Make it so that preview.ideditor.com/master/ does redirect to /develop so that people's bookmarks and previous mentions of that link still work)

[2020-08-04 15:04] thibaultmol opened #7873 "Tagging tip: When people make ways of barrier=* tell them that each node crossing a road needs to have those tags"
In situations like this where a fence crosses multiple roads, it should maybe note somewhere in the UI that each **node** that crosses a road also needs to have that barrier tag for it to actually affect it (routing and such)
![Screenshot_20200804_145807](https://user-images.githubusercontent.com/1010226/89309956-63f87880-d674-11ea-9a1b-2ba080af5969.png)

Because people might just draw a fence ove

[2020-08-04 15:31] fakeharahman commented on #7857
I've submitted a pull request #7874 fixing the issue. Can you please review?
Thank you

[2020-08-04 16:27] fakeharahman commented on #7857
It says test failed at the pull request but the test passes on my computer. Please advice.

[2020-08-04 17:12] rbuffat opened #7876 "Include imagery attribution in imagery_used tag of changesets"
If I'm not mistaken, currently, only the ["properties"]["name"] value of imagery sources is written in the imagery_used tag of changesets. ["properties"]["attribution"]["text"] is displayed when the map is shown, but I was wondering if it would not also be a good idea to use ["properties"]["attribution"]["text"] in combination with "name" instead. For my personal taste, this would give a better at

[2020-08-04 20:17] thibaultmol commented on #7868
Should clarify that I'm talking about the V3 preview on https://www.whatsmybrowser.org/b/AMADY

Here's a video of what I mean: https://photos.app.goo.gl/BKWwafFYmdtS6MH1A
If you need to scroll to the right to hit the save button. You need nudge from the right without touching dragging those icons by accident.

Solution idea: Make it so that on smartphone, you have to touch the icon for a couple se

[2020-08-04 20:22] thibaultmol commented on #7856
@scottdurant seeing as they haven't responded yet. I also just made my first attempt at a contribution to iD.

So from what I understand, that file is indeed the correct one. Now you should clone iD (but maybe only the latest version as described here https://github.com/openstreetmap/iD#cloning-the-repository ) and make sure to make a new branch in your own repo of iD with a descriptive name of wh

[2020-08-04 21:48] maro-21 commented on #7842
That's how it looks.
But I don't know if this is a bug or if it was changed intentionally.

[2020-08-04 21:48] maro-21 commented on #7869
But I mean normal, current version.

[2020-08-04 22:24] bhousel commented on #7842
Afaik iD has always used the imagery id, not the name. We are limited to 255 chars and the names are localized and can contain anything.

[2020-08-04 22:47] mikini commented on #7842
I found only the one example in my recent edits done using 2.18.2 which had id of one layer and name of another. Looking further back I can see only name used.

Do you see this more consistently @maro-21? I guess [maro21](https://www.openstreetmap.org/user/maro21) is you? Looking at your recent edits (all using 2.18.4) they all seem to have id in the tag.

I just made a new changeset using 2.18.4

[2020-08-05 11:56] maro-21 commented on #7842
All of the edits before iD 2.18 used `name` instead of `id`.
https://www.openstreetmap.org/changeset/88186266

[2020-08-05 12:03] maro-21 commented on #7842
So the first issue here is that the Standard default map's name isn't "Mapnik".
The second: it's not a problem using `id`s instead of `name`s, but in the example from above: "Norway Orthophoto" says more than "geovekst-nib". So it would be good to use shorter names than "Norway Orthophoto (more recent, less zoom)", but "geovekst-nib2" doesn't say much.

[2020-08-05 12:12] tordans commented on #7842
An important aspect of the ID is, that it is not changed later and can therefore be used to reliably perform a lookup of the full dataset. Name, link to the license and such is all part of the full dataset IMO. To change/rename IDs later, ELI would IMO need a concept of a "redirect" or reference to the now new dataset/file.

[2020-08-05 12:25] Nakaner commented on #7876
The 256 character (not bytes) limit still exists in the OSM API.

[2020-08-06 07:00] TheAdventurer64 opened #7877 "Add telephone and website to standard preset"
So, I'd like a feature that adds the telephone and website fields to the standard preset, rather than having to go to `Add `Field` to insert them.

[2020-08-06 11:27] maro-21 commented on #7877
Which preset do you mean?
It depends on a preset, sometimes you have these fields visible, sometimes they're hidden.

[2020-08-06 13:03] maro-21 opened #7878 "New preset: shop=wigs"
A shop selling wigs.
https://wiki.openstreetmap.org/wiki/Tag:shop%3Dwigs

[2020-08-06 13:05] maro-21 opened #7879 "New preset: shop=golf"
A shop selling golf equipment.
https://wiki.openstreetmap.org/wiki/Tag:shop%3Dgolf

[2020-08-06 13:07] maro-21 opened #7880 "New preset: shop=ski"
A shop selling skis and related accessories and services.
https://wiki.openstreetmap.org/wiki/Tag:shop%3Dski

[2020-08-06 13:16] maro-21 opened #7881 "Replace shop=water_sports with shop=surf"
There are many water sports. Some of them have their own tags:
`shop=boat` - sailing, boating
`shop=scuba_diving` - scuba diving
`shop=jetski` - jet ski

`shop=water_sports` doesn't have a page on Wiki, so I suggest to remove this preset and add `shop=surf` instead:
https://wiki.openstreetmap.org/wiki/Tag:shop%3Dsurf
It's a shop that sells surfboards, sailboards, wakeboards, water skis and other t

[2020-08-06 13:23] maro-21 commented on #7833
I agree.

[2020-08-06 13:26] maro-21 commented on #7840
Should I change the translation then?

[2020-08-06 13:32] fakeharahman commented on #7878
Hey, can I try solving this issue?

[2020-08-06 13:51] maro-21 opened #7882 "Remove Hobby Shop preset"
...because no one knows what it is. See Wiki: https://wiki.openstreetmap.org/wiki/Tag:shop%3Dhobby
My hobby is OpenStreetMap - would I buy a map in a Hobby Store?:)

This preset has terms: manga, figurine, model - we already have separate presets for these ones - `shop=anime`, `shop=collector` and `shop=model`.

I suggest addding "hobby" as a term for these presets:

* `shop=anime`
* `shop=bicycle

[2020-08-06 14:02] nickplesha commented on #5482
I've created a PR https://github.com/openstreetmap/iD/pull/7847 that adds date and user filters for imagery layers that could be used to solve this issue.

[2020-08-06 14:37] Spanholz opened #7883 "Open links in OSM notes in new tab"
For example notes from StreetComplete often have a linked image. These links should be opened in a new tab instead of the current one.

[2020-08-06 16:46] manfredbrandl commented on #7840
@maro-21 you should change the original english text first, can you prepare a PR?

[2020-08-06 18:31] maro-21 commented on #7840
I don't know if they want to keep this line there. I run iD in a random place in England and I can see that Bing isn't default imagery there and there isn't any other default layer.

[2020-08-06 18:58] BigPeteB opened #7884 "Some fields are too restrictive about units"
Fields for some tags like `width=*` and `length=*` are given titles "Width (Meters)" and "Length (Meters)". They don't offer a dropdown for selecting units, and they strip units if you enter them. This is contrary to the wiki, which for both of these tags explicitly says units are acceptable. (In fact, `width=5'` is the 25th most common value for that tag!)

One application where this is particula

[2020-08-06 23:27] quincylvania commented on #7882
@maro-21 I agree people should use more specific tags if they exist. But it's also useful to have a general category for some cases, as evidenced by the hundreds of uses of the tag. Some shops brand themselves as hobby shops after all—there are [five entries in the NSI](https://nsi.guide/index.html?k=shop&v=hobby).

Anyway, you'll need to get more buy-in from the community before we can remove an

[2020-08-07 00:31] quincylvania commented on #7873
#6349 and #7418 are related, and maybe cover this already.

[2020-08-07 12:05] manfredbrandl commented on #7840
You are running iD in England and want to change this sentence in which language?

[2020-08-08 04:24] tordans opened #7886 "Deprecate bench+capacity in favor of bench+seats"
There are quite a few `amenity=bench + capacity=<int>` out there.
- About 6k https://taginfo.openstreetmap.org/tags/amenity=bench#combinations
- Query https://overpass-turbo.eu/s/WR3

But the wiki says, that it should be `amenity=bench + seats=<int>` instead.
- https://wiki.openstreetmap.org/wiki/Key:seats

- https://wiki.openstreetmap.org/wiki/Tag:amenity%3Dbench

- And it is used a lot more: 200

[2020-08-08 04:44] tordans commented on #4240
FYI for anyone who comes across this: There is a discussion at https://wiki.openstreetmap.org/wiki/Talk:Key:species:wikidata if maybe the `species:wikidata` could be used to provide the data for a tree-suggestion-feature.

[2020-08-08 13:31] alexmodesto73 opened #7887 "Copy coordinates at pointer location"
Can you add the features of lat long tools (qgis extension)

open in an external card:

- Google street maps
- Mapillary

[2020-08-08 17:30] maro-21 commented on #7840
I looked there to check if Bing is really a default imagery. There wasn't any default imageries there so the sentence "By default, a Bing Maps satellite layer is chosen as the background image." isn't true.

[2020-08-08 18:44] AdityaSharma911 commented on #7883
Can you please assign this issue to me? I will change the target associated with this linked image so that it opens in a blank tab.

[2020-08-09 08:22] matkoniecz commented on #7887
"open in an external card:    Google street maps"

This would encourage copyright violations and is a bad idea.

[2020-08-09 08:51] nicolasmaia opened #7888 "Implement Ctrl+Enter shortcut to save changes"
It would be handy to have.

[2020-08-09 09:29] abitrolly opened #7889 "Walkthrough disappears after window refresh"
1. Open Walkthrough in Firefox
2. Press F5

Expected - stay on the same page of the tutorial.
Actual - the tutorial is gone.

[2020-08-09 09:31] tbertels opened #7890 "Wikipedia field not defaulting to local language anymore"
It should default to French in this case.

![Presse-papiers-2](https://user-images.githubusercontent.com/3265870/89729190-83f0b900-da33-11ea-88fb-59f540a75852.png)

I think it still worked in April.

Here's a screenshot of the debugger:
![Presse-papiers-1](https://user-images.githubusercontent.com/3265870/89730127-43e20400-da3c-11ea-9031-3407b44ac95b.png)

https://github.com/openstreetmap/iD/blob/

[2020-08-09 10:17] alexmodesto73 commented on #7887
OK

And just "copy coordinates" ? like lat long tools

[2020-08-09 15:50] manfredbrandl commented on #7888
The shortcut CTRL + S is not enough? Press ? to see all shortcuts.

[2020-08-10 00:20] nicolasmaia commented on #7888
Thanks for the heads-up. It would be nice to have it as ctrl+enter as so many applications already use it as such (including Github).

[2020-08-10 00:27] bhousel commented on #7888
This was #4234 and #7108 , which I rejected because I was concerned about people uploading their changes accidentally before they finished writing their changeset comment.

[2020-08-10 03:00] jesse-ashmore commented on #7883
I've been looking into this briefly but I can't find where link tags are constructed. I'm guessing there's some sort of user-input parsing library that's being used to clean any comment data, that also detects and wraps links? Maybe this is coming from the API. I think I might need to use a CSS selector and manually append a `target=_blank` attr for any link tags pointing away from OSM hosts (some

[2020-08-10 18:14] jesse-ashmore commented on #7883
Okay, so I've gone on the assumption and written a helper function to preprocess any comments for links, adding target=_blank attribute to any which point to 'external domains'.

At the moment, I'm considering any link whose hostname does not include "osm.org" or "openstreetmap.org" as an external domain.

There are 3 things to note with this:
1. There may be more domains than just these two I've

[2020-08-10 18:21] tkansgar commented on #7826
Hi again,

a cautious question: is there a possibility to say, when this bug will be fixed and the fixed version will be available at www.openstreetmap.org?

BR
tkansgar

[2020-08-10 18:43] kymckay commented on #7883
You could use d3 to select all the `a` elements in the comment-text div and add the attribute to them all like so:

[code]

[2020-08-10 18:50] jesse-ashmore commented on #7883
Ah! I'm super unfamiliar with d3. I'll still want to filter which tags open, something like:
[code]

Does this look reasonable?

[2020-08-10 18:52] kymckay commented on #7883
To answer your question about where the links are actually generated I had a look.

Looks like the note information returned by the API is being parsed here: https://github.com/openstreetmap/iD/blob/248b29983d273aa28877c47729af936644044481/modules/services/osm.js#L328-L367

Which involves the `parseComments` function in the same file on L150. However, that all just seems to be parsing the json res

[2020-08-10 18:53] kymckay commented on #7883
Hey, yes that looks good to me! I'm not the most well versed in d3 myself, but have played with it enough to know when it can make life easier 😄

[2020-08-10 18:55] jesse-ashmore commented on #7883
Great, I'll give a test and see how it goes with this new format. Thanks so much for all this!

[2020-08-10 19:57] jesse-ashmore commented on #7883
I've made a pull request (#7893) for this based on previous discussion. Solution now uses a much simpler function for determining internal links, and provided d3 functions.

[2020-08-11 07:04] matkoniecz commented on #4828
To be more specific. Main imagery for Poland is no longer available as WMS, WMTS works ( Geoportal2 WMS is showing as white tiles 99,99% percent of time for some reason https://github.com/osmlab/editor-layer-index/pull/877 ).

As result primary and best imagery for Poland is inaccessible in iD/Vespucci but remains available in JOSM because it supports WMTS.

2023 edit: this is now fixed

[2020-08-11 07:48] CharlesMaZ commented on #4828
We have very good aerial photos from the geoportal available in Poland. Unfortunately, WMS works slowly and even ceases to be supported. Please support WMTS in iD, because it will enable easier and faster editing and will eliminate problems with using WMS.

[2020-08-11 19:59] rmikke commented on #4828
:+1:

[2020-08-12 14:19] DujaOSM commented on #7890
In addition, selecting a Wikidata item automatically sets the Wikipedia link to English one, overriding any previously made input by the user.

The only "correct" editing sequence is to select the Wikipedia language, then pick up the correct article from the dropdown (which is not always obvious because of ambiguity), after which the Wikidata item gets populated automatically. If your target is no

[2020-08-12 14:21] DujaOSM commented on #7877
Almost any type of business should have those fields enabled. Accommodation and restaurants in particular.

[2020-08-12 14:23] tbertels commented on #7890
As it currently is, the best workaround seems to copy the full url of the article (with http) and paste it in the Wikipedia field without changing the language, which will then be set automatically. But it requires to go look for the article.

[2020-08-12 15:42] quincylvania commented on #7889
Hi and welcome, @abitrolly. This is an interesting idea. Is there a particular reason you need to refresh the page in the middle of things?

[2020-08-12 16:00] quincylvania commented on #7826
@tkansgar I'm not sure if there's an easy way to view a single uploaded track or not. If you have the GPX file you can simply drag it onto iD from your computer or use the Custom Map Data layer.

Unfortunately I can't say for sure. I'm not working on iD full-time right now. I'll fix it as soon as my position returns or I find some spare time. It's an important bug. I'd also welcome a fix from anot

[2020-08-12 16:03] quincylvania commented on #7880
Related: #7625

[2020-08-12 16:05] quincylvania commented on #7878
@fakeharahman Yes! Take a look at our [contributing guidelines](https://github.com/openstreetmap/iD/blob/develop/CONTRIBUTING.md) and the [presets readme](https://github.com/openstreetmap/iD/tree/develop/data/presets).

[2020-08-12 16:10] quincylvania commented on #7884
Hello and welcome, @BigPeteB.

I agree we should have unit dropdowns for measurement fields like these. OSM makes it tricky since people could put anything in any tag, so iD would have to deal with all types of values. The fields would also have to be localized for different representations of units in different cultures.

Thanks for linking to the other issues. See also #6707. I'm going to close

[2020-08-12 16:10] #7884 closed, assigned to nobody

[2020-08-12 16:15] quincylvania commented on #7129
Closing this in favor of #3614. We should solve this for the general case so all fields that take length measurement values can have unit dropdowns.

[2020-08-12 16:15] #7129 closed

[2020-08-12 16:18] quincylvania commented on #7877
Yes, could you be specific about which presets you mean, @TheAdventurer64? I agree that website is now a more important tag than ever considering many people are staying home and only visiting businesses online.

[2020-08-12 16:20] quincylvania commented on #7878
@fakeharahman Oops, I forgot I already linked you to those in #7857 haha

[2020-08-12 16:33] tkansgar commented on #7826
I found the possibility to upload a gpx file or to specify an URL to it. The URL of my file at www.openstreetmap.org didn't work (nothing happened, don't know why), but the upload did it. Now I can see again my track in the older iD version, and don't need to display it in the new version started by www.openstreetmap.org in another browser tab. Many thanks for this useful tip! Now I can good live

[2020-08-12 16:36] TheAdventurer64 commented on #7877
Since all places usually have a phone number or website, I think the two fields should be on most `shop=*` and `amenity=*`tags.

[2020-08-12 17:22] maro-21 opened #7898 "Some issues from Osmose are useless without a link"
An issue in Osmose:
"Unmapped phone booth"
![Mapillary Osmose](https://user-images.githubusercontent.com/57260466/90046368-a9e6b980-dcd0-11ea-8a20-335fcf7c4f0e.png)

I have a link to Mapillary to check if it's really a phone booth:
https://www.mapillary.com/app/?focus=photo&pKey=N5KH_iUOuTUNi5Vh-UGY0g&signs=true&points=true
It wasn't a phone booth.

But in iD I don't have this link to Mapillary so

[2020-08-12 18:54] fakeharahman commented on #7878
I'm on it!

[2020-08-14 06:24] TheAdventurer64 commented on #7862
Any progress?

[2020-08-14 08:42] abitrolly commented on #7889
@quincylvania yep. For some reason the window I needed to click became positioned outside of clickable area and tutorial interface locked up.

[2020-08-14 09:49] sun-geo opened #7900 "Adding a preset field "parking=*" (amenity=parking_entrance)"
Adding a preset / field of `parking=*` (for main tag `amenity=parking_entrance`), see wiki:
https://wiki.openstreetmap.org/wiki/Tag:amenity%3Dparking_entrance#Additional_tags

[2020-08-14 23:43] boothym commented on #7890
I've also come across the same problem as @DujaOSM. I found an object with a non-English wikipedia value but no wikidata, so I clicked in the wikidata field to select the wikidata item - however it changed the wikipedia value to the English one. So then I had to undo and copy & paste the original wikipedia value.

Basically there should be a way for iD to just fill in the blank wikidata value from

[2020-08-15 02:32] SinghalSaksham commented on #7857
Hello, I am new to open source and want to work on this issue. Can you please guide me through

[2020-08-15 10:50] hungerburg commented on #5990
Recently I toyed around with a pedestrian router for the blind and sometimes it went crazy detours. Digging into it, I found "railway=crossing" on footways crossing tram rails a major reason. As the tag is very rare in my local area (only 5 occurrences in all of the town), wondering how they came to be I learned, that iD suggests them. So I fired up iD, selected a tram line and clicked "connect" i

[2020-08-15 13:46] nicolasmaia opened #7901 "Do not allow linking to Wikipedia/Wikidata disambiguation pages"
It would be useful if iD did not allow linking to these pages.

[2020-08-15 15:42] quincylvania commented on #7901
@nicolasmaia Thanks, this is #4414 🙂

[2020-08-15 15:42] #7901 closed, assigned to nobody

[2020-08-15 15:45] quincylvania commented on #7857
This was done in #7874 by @fakeharahman!

@SinghalSaksham There are a few [similar issues](https://github.com/openstreetmap/iD/issues?q=is%3Aissue+is%3Aopen+label%3A%22good+first+issue%22) you can work on.

[2020-08-15 15:45] #7857 closed, assigned to nobody

[2020-08-15 16:24] quincylvania commented on #5990
@hungerburg Sorry this is causing issues for you! Look at it this way… these are the options I saw for what iD should do about tram and road/path crossings:

- Don't flag them. This leaves the layering and topology ambiguous.
- When connecting, don't tag the node. Routers wouldn't know there's anything special about these nodes (which seems like a big problem for blind pedestrian routers).
- When

[2020-08-15 16:29] quincylvania opened #7902 "Use tram crossing tags when connecting trams and roads/paths"
_Broken out from https://github.com/openstreetmap/iD/issues/5990#issuecomment-674419342._

Tram tracks are rather different from other train tracks. There are separate crossing tags to indicate this: [`railway=tram_level_crossing`](https://wiki.openstreetmap.org/wiki/Tag%3Arailway%3Dtram_level_crossing) and [`railway=tram_crossing`](https://wiki.openstreetmap.org/wiki/Tag:railway%3Dtram_crossing).

[2020-08-15 16:33] quincylvania commented on #7862
@TheAdventurer64 Any progress will be posted here. Changes may take awhile since iD doesn't have any paid or full-time developers right now.

[2020-08-15 17:25] #7902 closed, assigned to quincylvania

[2020-08-15 18:15] TheAdventurer64 opened #7903 "Add Cafeteria preset"
The tag `fast_food=cafeteria` is used for a canteen, refectory or a cafeteria, a type of food service location in which there is little or no waiting staff table service, usually found within an institution such as an office building, factory, hospital, or school.
Source: https://wiki.openstreetmap.org/wiki/Tag:fast_food%3Dcafeteria

Tag with `amenity=fast_food`and `fast_food=cafeteria`.

[2020-08-15 18:17] TheAdventurer64 commented on #7783
Shouldn’t this be closed?

[2020-08-15 18:54] TheAdventurer64 commented on #7783
Adding to this, according to [the wiki](https://wiki.openstreetmap.org/wiki/Tag:amenity%3Dtoilets#/media/File%3AECO_Toilets_at_the_Station_Groningen%2C_Groningen_(2019)_02.jpg), shouldn’t `toilets:type=mobile` be added as well?

[2020-08-15 19:25] maro-21 commented on #7903
Rather a hidden field than a preset

[2020-08-15 21:17] hungerburg commented on #5990
@quincylvania Great something came out of this. The fourth option clearly rules. Much better than option 3. It makes explicit what the router implicitly assumes in option 2. This is just a guess though, from reading the text form itinerary. I mapped two of those for control. I do not expect that the router knows about the new tags and will do as in option 2.

That leaves the cases, where there is

[2020-08-16 05:21] TheAdventurer64 opened #7904 "Add juice bar preset"
A juice bar is a place where people can order drinks, usually made with fresh fruit. Sometimes, they offer health food products, such as acai and breakfast bowls. At some places, they also offer indoor seating as well.

Tag with `amenity=fast_food` and `cuisine=juice`

[2020-08-16 08:06] simonpoole commented on #7880
The popular tagging scheme for shops selling/renting/servicing sport goods is shop=sports plus a (potentially multi-valued) sport=* tag. Suddenly splitting these things all out in to separate shop values doesn't make sense (not to forget typically that the shops do actually cater for more than one activity to start with).

[2020-08-16 08:06] simonpoole commented on #7881
See https://github.com/openstreetmap/iD/issues/7880#issuecomment-674495542

[2020-08-16 08:06] simonpoole commented on #7879
See https://github.com/openstreetmap/iD/issues/7880#issuecomment-674495542

[2020-08-16 09:31] simonpoole opened #7905 "imagery sources that match black list regexps should not be selected"
This is a bit of an edge case as normally a black listed imagery source should not be in the configuration, but as https://github.com/openstreetmap/iD/issues/7871 shows we now and then may need to short term block sources.

Currently in such a case the black listed source continues to turn up in the sources list and can be selected (no tiles will show though).

[2020-08-16 10:00] hiddewie opened #7906 "Enhance camp_site and caravan_site preset fields"
I would like to request a number of fields to be added to the tourism `camp_site` and `caravan_site` presets:
- `tents` (yes/no)
- `caravans` (yes/no)
- `static_caravans` (yes/no)
- `backcountry` (yes/no)
- `group_only` (yes/no)
- `nudism`

The reason that these fields are important, is for finding a camp site with a certain vehicle or with a tent. Without these properties, camp sites may not allo

[2020-08-16 11:47] SK53 opened #7907 "Vineyards & Wineries"
Currently iD expects to set both craft=winery with landuse=vineyard. I don't think this is appropriate, at least in Europe, for a range of reasons:

- many vineyards are not associated with wineries (particularly small scale vineyards in Europe which may sell their grapes to a co-operative winery. Furthermore the actual production of wine often occurs away from the vineyards. For instance the vill

[2020-08-16 12:18] maro-21 commented on #7862
Oh, what happened? Quincy will you come back?

[2020-08-16 12:33] maro-21 commented on #7880
It's not mentioned on Wiki.
For me `shop=sports` isn't the same as `shop=golf`, `shop=boat` or `shop=ski`.
Shop=sports sells mainly clothes and some accessories for popular everyday sports like: running, soccer, basketball and these shops are popular in shopping malls in my country. I won't buy a golf club there or a boat.
Shops shop=boat are common usually in regions close to water (sea, lake, oc

[2020-08-16 16:21] 1ec5 opened #7908 "Unable to copy text in panels"
As of v2.18.4, when I select some text in a panel, such as the coordinates in the Measurement panel, then hit command-V, iD copies the selected feature instead of the selected text, so nothing is added to the pasteboard. To copy coordinates, I have to select the text, right-click, and choose Copy from the context menu. The command-V keyboard shortcut previously worked for selected text.

Reproduce

[2020-08-16 19:18] nafees87n commented on #7900
@sun-geo @quincylvania I want to do this. What I understood is that I'll have to add the `parking.json` field to the fields key array in `data/presets/presets/amenity/parking_entrance.json` .
I am new to open source. I need help to understand the work to be done for this issue.

[2020-08-16 20:43] quincylvania commented on #7907
@SK53 Where are you seeing this? iD should only recommend `crop=grape` on `landuse=vineyard`. Wineries are separate.

[2020-08-16 21:18] #7862 closed, assigned to quincylvania

[2020-08-16 21:20] quincylvania commented on #7862
@maro-21 I'd love to come back to full-time and will probably be able to soon! There's a [change in the support model ](https://lists.openstreetmap.org/pipermail/osmf-talk/2020-August/006997.html)underway.

[2020-08-17 09:08] simonpoole commented on #7880
The difference is that shop=sports + sport=* is reasonably popular, whereas the "specialized" values have minuscule use except in the cases where there is actually a clearly well defined shop type.

Further using the example at hand, shop=ski is at odds with reality, as these shops (if not changing seasonally to start with) will typically offer a range of winter sports related goods from alpine sk

[2020-08-17 09:32] nicolasmaia opened #7910 "Preset for pickle shops"
These are very common in Japan, and possibly Korea and China, too. To prevent mistagging, we should align it in a preset. The Japanese section of the wiki recommends `shop=deli` + `product=pickles`.

See https://wiki.openstreetmap.org/wiki/JA:How_to_map_a#.E3.83.84

[2020-08-17 09:39] nicolasmaia opened #7911 "Preset for tofu shops"
Very common in Japan. 豆腐屋

    shop=deli
    product=tofu

See https://wiki.openstreetmap.org/wiki/JA:How_to_map_a

Alt names: tofu seller; tofu maker

[2020-08-17 13:57] quincylvania commented on #7878
Done in #7912 by @fakeharahman

[2020-08-17 13:57] #7878 closed, assigned to nobody

[2020-08-17 13:59] quincylvania commented on #7818
@mohit2872 Are you still planning on doing this?

[2020-08-17 14:14] mohit2872 commented on #7818
@quincylvania yeah

[2020-08-17 14:39] quincylvania commented on #7856
@scottdurant @thibaultmol Thanks for your interest! Apologies on not getting back to you, but no one has been working on iD full-time recently due to changes in the support model. I'll likely be back soon, at which point I'll be happy to assist with your first contributions 🙂

[2020-08-17 14:42] quincylvania commented on #7865
Done in #7875 by @thibaultmol

[2020-08-17 14:42] #7865 closed, assigned to nobody

[2020-08-17 16:02] quincylvania commented on #7904
This sounds a little funky, but I think the preset name should be something more like "Juice Fast Food". This better indicates the type of establishment, since `cuisine=juice` could also be used on cafés, bars, restaurants, etc. We already do this with presets like "Pizza Fast Food" to avoid confusion with pizza restaurants or stores.

[2020-08-17 16:08] quincylvania commented on #7877
See also #7865

[2020-08-18 05:44] aa-deet-eeya opened #7913 "Popover not positioned correctly in Walkthrough"
While going through the walkthrough on the Navigation tab the popover is positioned half out of the screen (see the attached image).

**Steps to reproduce:**
1. Go to http://www.openstreetmap.org/edit?editor=id and sign in
2. Select walkthrough
3. Select the Navigation from the bottom tab

**My config:**
- Ubuntu 18.04.5 LTS
- Mozilla Firefox 79.0

![OpenStreetMap_issue](https://user-images.github

[2020-08-18 16:44] fakeharahman commented on #7886
Can I please give this a shot?

[2020-08-18 16:51] maro-21 commented on #7862
Oh, that's good because I still have about 50 unreported issues for iD :-)

[2020-08-18 16:52] maro-21 commented on #7913
Duplicate of #7807.

[2020-08-18 17:15] aa-deet-eeya commented on #7913
Sorry for the duplicate, I'll close this one @maro-21

[2020-08-18 17:15] #7913 closed, assigned to nobody

[2020-08-18 17:49] aa-deet-eeya commented on #7807
@quincylvania @maro-21
I think you can reproduce this exact issue using these following steps :
- Get to the Navigation tab and click on the nodes of the lines till you see something similar to this pic attached below
![iD_issue1](https://user-images.githubusercontent.com/26107248/90546312-7fe93780-e1a7-11ea-9e65-71a804271192.png)
- Then click on some other tab and return back to the Navigation ta

[2020-08-18 19:14] tordans commented on #7886
AFAIK the actual doing is more or less one line of code. It's more a question of decision - if the change is wanted.

Update: but since @quincylvania added the good-first-issue-label I guess the PR would be welcome.

[2020-08-18 20:37] maro-21 opened #7914 "New preset: natural=hot_spring"
https://wiki.openstreetmap.org/wiki/Tag:natural%3Dhot_spring

[2020-08-19 05:46] tastrax opened #7915 "New preset: Emergency Water Tank"
https://wiki.openstreetmap.org/wiki/Tag:emergency%3Dwater_tank

In Australia emergency water supplies are now mandated in some areas of high fire risk. It would be useful to have a preset for both nodes and ways to quickly add these to the map. It would also be good to have the volume of the tank (litres) as a standard field. I am also seeking to get these rendered on the standard OSM map to assis

[2020-08-19 10:16] fakeharahman commented on #7886
Thank you @tordans! Could me please guide me on where to go?

[2020-08-19 15:54] #7871 closed, assigned to nobody

[2020-08-19 18:13] fakeharahman commented on #7903
Hey, can I work on this?

[2020-08-19 19:18] quincylvania commented on #7903
@maro-21 Please add new comments instead of editing them to change the contents. People watching this issue won't be notified about comment edits.

@fakeharahman Looks like we're still considering whether to support this tag, so I'd hold off.

[2020-08-19 19:23] quincylvania commented on #7886
@tordans I try to defer to what people ask for unless I see a reason not to. In this case one tag has overwhelmingly more usage and community support, so it sounds fine to me.

@fakeharahman Tag deprecations like this are usually encoded in the [data/deprecated.json](https://github.com/openstreetmap/iD/blob/develop/data/deprecated.json) file.

[2020-08-19 19:26] quincylvania commented on #7915
Looks like iD already has a point preset for this, but we could improve it and support areas as well.

[2020-08-19 20:22] fakeharahman commented on #7903
Alright! Thanks for your response

[2020-08-20 00:13] tastrax commented on #7915
Suggestions for extra tags

capacity=xx
content=water
drinking_water=no
emergency=water_tank
height=xx
man_made=storage_tank
material=xx
operator=xx
ref=xx

[2020-08-20 18:28] quincylvania commented on #7856
Done in  #7896 by @ogbeche77.

[2020-08-20 18:28] #7856 closed, assigned to nobody

[2020-08-21 12:56] boothym opened #7916 "Add dovecote preset"
https://wiki.openstreetmap.org/wiki/Tag:man_made%3Ddovecote

Terms should include "dovecot" and "doocot" (Scots word)

[2020-08-21 13:45] boothym opened #7917 "Yellow or red dot next to issues triangle no longer showing"
Previously, when there were warnings in the issues panel, there was a yellow or red circle on the right hand side of the screen next to the issues triangle. However this is no longer present in the current version (Both FF/Chrome on Win10). Is this a bug or a deliberate change?

Screenshot below is an old one I found:
![screenshot showing yellow circle](https://learnosm.org/images/beginner/id-edit

[2020-08-21 20:17] forteller opened #7918 "Show "diet" field by default"
Hi again :)

Whether or not a place to eat offers vegetarian, vegan or other dietary foods is one of the most important pieces of information about a place to eat for a lot of people. But since this field is hidden in iD by default, the majority, who don't mostly care about this, is more likely to not add this information, even if they know or very easily can find out.

I would very much appreciat

[2020-08-21 20:31] forteller opened #7919 "A simpler way of entering opening hours?"
Hey. First off, I totally get it if this is too much work.

But I just wanted to mention that I've found the opening hours thing very confusing for a very long time. I had to not only read the documentation, but often opening it again and check and double check if I do it right, even after doing it before. I've been thinking about manually finding the places in StreetComplete to enter the informat

[2020-08-21 20:59] bhousel commented on #7919
Thanks, yes improving opening_hours entry is #974

[2020-08-21 20:59] #7919 closed, assigned to nobody

[2020-08-21 20:59] maro-21 commented on #7919
Duplicate of https://github.com/openstreetmap/iD/issues/974.

Opening hours format it's not so difficult, for majority of cases you use something like `Mo-Fr 08:00-19:00; Sa-Su 10:00-19:00`.
You can also use this tool: https://projets.pavie.info/yohours

[2020-08-21 21:56] quincylvania commented on #7917
This was removed due to a change in how the side panes are managed under-the-hood, and wasn't re-added since the dot is redundant to the newer badge in the bottom toolbar.

<img width="140" alt="Screen Shot 2020-08-21 at 5 53 33 PM" src="https://user-images.githubusercontent.com/2046746/90938491-4565e180-e3d7-11ea-9ffd-2c797e64ee71.png">

However, I also miss the dot. We should think more about th

[2020-08-21 22:19] boothym commented on #7917
Ha, I've seen that at some point in the past but totally forgotten about it! The bottom right is probably one of the last places I'd look for it though. When mapping, the middle right hand side of the screen gets viewed much more often (panning the map, toggling options etc) so it would still be good to reintroduce the dot if possible.

[2020-08-22 06:44] tastrax opened #7920 "Mapillary Street Images - forward backward arrows transparent"
![MapillaryButtons](https://user-images.githubusercontent.com/8775395/90950605-9c7ebb80-e496-11ea-91ee-1c02e795ca9e.JPG)

Backwards/ Stop /Forward button images appear to be transparent

[2020-08-22 12:33] kymckay opened #7921 "Admin boundary way stops rendering when edited"
Was editing some admin boundaries and while dragging a node the way it was part of just stopped rendering. No errors in the console window.

At first I thought I'd never reproduce this, but after a bit of debugging I've determined it's related to the "Boundaries" and "Other Features" map feature layers. The easiest way to reproduce:
1. Disable all map features except for boundaries
2. Find a bound

[2020-08-22 14:44] maro-21 commented on #7921
If the line isn't tagged `boundary=administrative`, it is treated as "other feature", not like a boundary. iD probably doesn't check if it's a member of a relation.
I don't think it's a bug, you can solve it by enabling "Other Features" when editing boundaries.

The similar behavior is when you disable e.g. Buildings but open a building to edit by typing its number in the editor.

[2020-08-22 15:23] maro-21 opened #7922 "Implement plural forms on Transifex"
I didn't know before, that Transifex supports plural forms. Now I can see it's possible.
https://cdn.transifex.com/docs-images/plurals_editor_180404_161717.png
Could you enable pluralized strings on Transifex? There aren't many:
- `Copied {n} features.`
- `Add {n} duplicate features here.`
- `Pasted {n} features.`
- `Deleted {n} features.`
- `Downgraded {n} features to basic buildings.`
- `Downgra

[2020-08-22 16:11] kymckay commented on #7921
@maro-21 Then why does it show up to begin with? The rendering is inconsistent, it should either always show when boundaries are enabled without "other features", or it should only show when other features is enabled.

[2020-08-22 19:48] 1ec5 commented on #7922
Related: #597.

[2020-08-22 21:07] boothym opened #7923 "Separate brands from other outdated tags in the rules"
At the moment you can sometimes get quite a lot of issues highlighted by the outdated tags rule in the issues panel.

So it would be good to have a separate rule for brands versus outdated tags.

[2020-08-23 09:49] mueschel opened #7924 "iD forces users to add misspelled tag 'clothers'"
When editing clothing shops, iD automatically adds the tag 'clothers' - which is clearly wrong.
E.g. https://www.openstreetmap.org/node/412906795/history

[2020-08-23 12:05] maro-21 commented on #7922
That thread was created many years ago, I'm not sure if this support for plurals was already there on Transifex then.

[2020-08-23 13:29] quincylvania commented on #7924
This looks like an error in the [name-suggestion-index](https://github.com/osmlab/name-suggestion-index) that's already been fixed there. I'll leave this open until the fix has been incorporated by iD.

[2020-08-24 16:55] fqdb commented on #7766
The place where I originally found wrong data like this was already fixed, but if you draw a new object such as shown in the picture it won't be detected as an error.

To clarify what the error is: multipolygon ways may not share a set of consecutive points. If it would be uploaded like that, the renderer will not show the multipolygon.

[2020-08-24 21:47] Bonkles opened #7926 "Release 2.18.* contains spurious context() call"
This one is an easy fix- since 2.18.* we've had an extra `context()` call in dist/index.html:

https://github.com/openstreetmap/iD/blob/v2.18.4/dist/index.html#L47-L62

The first call to context() can almost certainly be done away with, saving us some runtime on startup!

[2020-08-25 05:51] TheAdventurer64 commented on #7904
Ah, alright. Thanks for the feedback!

[2020-08-25 14:44] westnordost opened #7927 "Presets: Implicit ordering of presets from name suggestion list"
I noticed the following entries (shortened) in the `presets.json`. Two times McDonald's, the first in English, the second in Cryllic.  <details>

[code]
</details>

The problem here is that both have the same `tags`, so both would match a search by tags in no defined order.

If there is no defined order, it is a problem because it is undefined what would be the first entry in the resulting match l

[2020-08-25 15:06] bhousel commented on #7927
Hey @westnordost , glad to see you are using the name-suggestion-index..
This issue should probably go over there instead of in the iD repo.

I'm doing some groundwork there to rethink how we represent the entries better (https://github.com/osmlab/name-suggestion-index/issues/3995)

The reason iD can match this preset is because it boosts the preset score if the `addTags` match, see #6802 / [this

[2020-08-25 15:06] #7927 closed, assigned to nobody

[2020-08-25 15:21] westnordost commented on #7927
Nice, good to see the NSI is being developed further to be even more flexible.

(the Java osmfeatures library should probably do this too)

Thank you for the hint, will do that!

I understand that the better solution would be to add country code(s) to such "sub-branches"/translations of the same brand. Since this is not done right now for McDonald's, is it eligible to create an issue or PR for thi

[2020-08-25 15:40] bhousel commented on #7927
Maybe?  My take is that entries should be "geographically distinct"?  i.e. closing an issue like that would involve writing a check to catch NSI entries that overlap?

[2020-08-25 16:01] westnordost commented on #7927
Mh, on that note, a smart sort order would also be to if the search is not limited to a locale, sort those matches that are not geographically limited first. So for example if the Russian McDonalds preset is being limited to the Russian-speaking world in the future and one searches through the presets without saying "I only want results for my country", then any presets that are not limited to a c

[2020-08-25 17:15] maro-21 commented on #7904
For such places I use `amenity=cafe` + `cuisine=juice`.

[2020-08-26 02:34] nicolasmaia opened #7928 "Add housename and floor number to address (at least in Japan)"
Addresses of businesses in Japan often include the building name and the floor number information too. It would be useful to have these easily add-able with iD.

See https://en.wikipedia.org/wiki/Japanese_addressing_system

[2020-08-26 06:15] Amjad2004 opened #7930 "Why"

[2020-08-26 08:35] DujaOSM commented on #7921
I know about the described behavior and I've always considered it a feature, although I concur there's a minor bug in there.

There is general inconsistence about untagged lines that are members of relations (either multipolygons or boundaries). Sometimes iD recognizes their relation membership and filters them according to it, and sometimes not, bundling them with "other features". I haven't reco

[2020-08-26 09:05] #7930 closed, assigned to nobody

[2020-08-26 09:59] papac25 opened #7931 "rawer"

[2020-08-26 10:00] papac25 commented on #7931
null````

[2020-08-26 12:50] #7931 closed, assigned to nobody

[2020-08-27 07:44] mikenath223 commented on #7846
Hey, I'll love to contribute to this. Could someone please provide me a bit more context on what this involves?

Best regards,
Michgolden Ukeje

[2020-08-27 09:29] prasadrajuv opened #7933 "need improvements"
osm api as documentation create nodes and add ref to way to create. is  it posible single request for way with nested nodes to create with lat lngs. so it create nodes and way create at once so that using way id later request full to get all node ids. and also include nd ref to pass already exist node.
<osm>
 <way changeset="12">
   <tag k="note" v="Just a way"/>
   ...
   <nd ref="123"/>        /

[2020-08-27 14:52] manfredbrandl commented on #7933
I do not understand what that issue is about.

[2020-08-27 16:57] blackboxlogic commented on #7627
To record some unintended consequences of this change:
![image](https://user-images.githubusercontent.com/31355456/91472017-d8ce6500-e864-11ea-8b56-d3274ed8d7cb.png)
This seems like a common use-case, and I regret breaking it. Any thoughts on if it is worth addressing?

[2020-08-27 21:38] donalhunt opened #7934 "telecom=line raises validation error"
This seems similar to Issue # [6395](https://github.com/openstreetmap/iD/issues/6395)...

I suspect this is a result of the tag and value not bring present in [data/taginfo.json](https://github.com/openstreetmap/iD/blob/develop/data/taginfo.json).

Happy to submit a PR to include it.

[2020-08-27 21:39] donalhunt commented on #7934
Screenshot of the validation error:

![Screenshot from 2020-08-27 22-25-44](https://user-images.githubusercontent.com/5854402/91497553-1dceb780-e8b6-11ea-8652-f83bafb0c1ed.png)

[2020-08-28 11:46] mmd-osm commented on #7933
I'm afraid I don't understand your issue either. I can read your words, but nothing more. So this is a wild guess at the first part of your text:

You can upload new nodes and ways (which referece those new nodes) via the API 0.6 changeset upload endpoint. This is what iD is already doing. The API also provides an endpoint to fetch a way including all nodes: https://api.openstreetmap.org/api/0.6/w

[2020-08-28 18:51] #7926 closed, assigned to quincylvania

[2020-08-28 18:55] quincylvania commented on #7790
Sounds reasonable that iD would pick up where you left off if the URL didn't specify a new location. I enjoy this functionality for the raster map tiles on osm.org.

[2020-08-28 19:02] quincylvania commented on #7900
Done in #7909 by @brokemyspoke.

[2020-08-28 19:02] #7900 closed, assigned to nobody

[2020-08-28 19:12] #7934 closed, assigned to quincylvania

[2020-08-28 19:16] quincylvania commented on #7934
Hi and welcome, @donalhunt. This was indeed caused by iD not know that `telecom` can be used on lines. I added a fallback preset to clarify this. Looks like `telecom=line` doesn't have much usage yet so I'm holding off adding a preset for that.

Also, the taginfo.json file is derived and just consumed by the Taginfo site. The preset data files are in data/presets.

[2020-08-28 19:24] #7918 closed, assigned to quincylvania

[2020-08-28 19:26] quincylvania commented on #7918
Hi @forteller. I agree this info is at least as important as `cuisine`, so I'm okay making it more visible. This will also help mappers avoid common mistakes like `cuisine=vegan`.

[2020-08-28 19:33] quincylvania commented on #7898
@maro-21 I wouldn't say these are totally useless without the link. You could open the Mapillary layer yourself or the feature might be visible in the aerial imagery.

But I'm wondering if we should even show these types of Osmose issues since iD has a separate detected Mapillary features layer. Does Osmose pull from other sources or is it redundant with Mapillary?

@SilentSpike Any thoughts?

[2020-08-28 20:30] maro-21 commented on #7898
In iD there is no link to Mapillary such as in Osmose.
There are a lot of objects on the mapillary layer, a user doesn't know which is which.

They're not, because these issues are called "Mapillary street objects". So objects such as road signs aren't visible in the aerial imagery.

These lines
![Mapillary Osmose](https://user-images.githubusercontent.com/57260466/90046368-a9e6b980-dcd0-11ea-8a20

[2020-08-29 15:19] Elefant-aus-Wuppertal opened #7935 "wrong QA warning "crossing ways" between a linear and an area-way on different levels"
Hi,

please have a look at this footway: https://www.openstreetmap.org/way/589491916 in iD, its on level 0. It is claimed that it would cross with the pedestrian-multipolygon way https://www.openstreetmap.org/relation/3687928 , which is on level 1.

When there are two linear ways crossing on different levels, no warning is shown. But when a linear and an area-way are crossing on different levels,

[2020-08-29 18:20] TheAdventurer64 commented on #7846
@quincylvania

[2020-08-29 21:44] sun-geo commented on #7935
+1

This seems a similar case:
https://www.openstreetmap.org/edit?way=839971909#map=19/47.56084/7.59054
Is it?

[2020-08-29 21:56] brokemyspoke commented on #7920
Hi @tastrax, are you able to reproduce this consistently.  Do they eventually render?  Also, what browser are you using?  Thanks.

[2020-08-29 22:54] tastrax commented on #7920
Pretty consistent on the latest version of chrome. They never seem to render at all.

[2020-08-29 23:20] maro-21 opened #7936 "New preset: shop=equestrian"
https://wiki.openstreetmap.org/wiki/Tag:shop%3Dequestrian

[2020-08-30 10:46] Elefant-aus-Wuppertal commented on #7935
Yes, it is.

[2020-08-31 10:37] tastrax commented on #7920
Identical result on the latest versions of Edge, Opera and Firefox @brokemyspoke

[2020-08-31 11:56] cebderby opened #7938 "Incorrect offer to add layer to building"
I had noticed a number of cases of inexperienced and poor users adding layer to building, especially where ways (correctly) enter or leave.   I note that iD highlights ways crossing buildings and makes a number of 'fix' proposals, including changing layer values.
Layer is not a building tag.  It shall not be added to buildings by iD by any automated/semi-automated process.
Layer is used to define

[2020-08-31 22:48] TheAdventurer64 commented on #7936
Add the description of the shop to the issue so that the developers don't have to look there.

[2020-08-31 23:29] pedjas opened #7939 "#help-wanted How to add few custom imagery sources in iD?"
I want to set few custom tile sources to be available forusers of iD instance on my server.

I found out that I can edit index.html and add

`iD.fileFetcher.cache().imagery = customImagery;`

before

`context.init();`

That works. My custom imagery shows in iD but all other imagery is lost.

I want to add my custom imagery to the the list of existing imagery, something like `iD.fileFetcher.cache()

[2020-09-01 00:36] escallic commented on #7312
Can I work on this task? So long as a feature has been orthogonalized (hit with Q), it is locked (this can be un-set by right-click), and dragging a node will be locked to one of two axes (either perpendicular or parallel to the building's axes), auto-selects node pairs depending along which axis the nodes are being translated.

[2020-09-01 00:57] escallic commented on #7312
Would also solve [#2986](https://github.com/openstreetmap/iD/issues/2986). It _could_ deal with [#1931](https://github.com/openstreetmap/iD/issues/1931) (ways).

[2020-09-01 04:43] papac25 opened #7940 "Crossbow"

[2020-09-01 06:08] manfredbrandl commented on #7940
What is your issue?

[2020-09-01 07:32] papac25 opened #7941 "app"

[2020-09-01 11:38] korolenok opened #7942 "Shortcut for "Toggle location panel" isn't working"
We have a lot of hotkeys that make editing easier, but one of them is out of order. Now we do not see the panel with the location of the area when using **Cmd+shift+L**.
<img width="1390" alt="Screen Shot 2020-09-01 at 14 27 23" src="https://user-images.githubusercontent.com/42146546/91844158-9db2a400-ec5f-11ea-9d64-40088a672aea.png">

Only Measurement, History and Background shortcuts are working

[2020-09-01 11:50] Zetkun commented on #7942
Hi! It will be great if you can quickly fix this problem. Without this hotkey, data processing speed by our folks has decreased. Thanks!
cc: @shvrm @abrohood

[2020-09-01 12:02] #7940 closed, assigned to nobody

[2020-09-01 12:03] #7941 closed, assigned to nobody

[2020-09-01 13:27] brokemyspoke commented on #7920
There is definitely a bug, but I think it is actually with the OpenStreetMap-website: https://github.com/openstreetmap/openstreetmap-website.  I noticed recent changes in the handling of 'assets' that might provide a clue.

On the OpenStreetMap.org site, the svg files are no longer being packaged, they could have been overlooked as Mapillary assets are manually copied into dist.  I have not seen a

[2020-09-01 15:07] brokemyspoke commented on #7920
The css/js were added to app/assets/config/manifest.js, so might be that the svg refs are needed as well.  I haven't explored it too much, so I'll pull the project and check it out.

[2020-09-01 19:51] tordans opened #7943 "Show warning if changeset comment is too long"
ATM, I can write a very long changeset comment and save, but the comment will get cut off at a limit. Ideally, the Editor would warn me, once I am over the limit.

It seems to 255 Chars max.

Screenshot: No warning ATM
![image](https://user-images.githubusercontent.com/111561/91899246-2865c400-ec9d-11ea-8325-3a538aa2bc49.png)

[2020-09-01 21:10] quincylvania commented on #7942
Welcome, @korolenok. What browser/system are you using? I don't see a problem with this shortcut on Firefox, Safari, nor Chrome on macOS.

You can also open the Location Panel in the Background Settings menu.

![Screen Shot 2020-09-01 at 5 08 47 PM](https://user-images.githubusercontent.com/2046746/91906328-00af3580-ec76-11ea-8111-3cf848facb61.png)

[2020-09-01 21:31] korolenok commented on #7942
@quincylvania I've checked the shortcut on Firefox and Safari - this works correctly for them.
But chrome for some reason doesn't allow using the shortcut (Version 84.0.4147.135 (Official Build) (64-bit)), so it looks like the problem is not on your side. Am I right?
Thank's for advising the Location Panel in the Background Settings menu 👍

[2020-09-01 21:31] #7935 closed, assigned to quincylvania

[2020-09-01 21:32] quincylvania commented on #7935
@Lukas458 Thanks for reporting. This was an issue with tags like `level` and `layer` getting ignored on all multipolygon crossings, such as highway areas and buildings.

[2020-09-01 21:35] quincylvania commented on #7942
Hmm I'm running Chrome `85.0.4183.83 (Official Build) (64-bit)` and it's working okay—must be a bug in 84! Closing this unless it reappears…

[2020-09-01 21:44] #7904 closed, assigned to quincylvania

[2020-09-01 21:50] #7916 closed, assigned to quincylvania

[2020-09-01 22:00] quincylvania commented on #7933
Hi @prasadrajuv. I'm also not exactly sure what you're asking, but I'll try to answer.

You've asked before about seeing node IDs in #7546.

You can ask about the OSM API at https://github.com/openstreetmap/openstreetmap-website.

We don't plan to add advanced functionality like inserting nodes with specific IDs or manually managing modification histories.

[2020-09-01 22:00] #7933 closed, assigned to nobody

[2020-09-01 22:10] #7915 closed, assigned to quincylvania

[2020-09-01 22:11] quincylvania commented on #7915
@tastrax Despite the name, it looks like this tag can also be used on `man_made=reservoir_covered`, so we can't assume `man_made=storage_tank`.

[2020-09-01 22:21] tastrax commented on #7915
No worries - I would be happy with all the other tags and having to manually add the man_made=storage_tank

[2020-09-01 22:23] quincylvania commented on #7888
I agree with the prior assessments that this probably isn't worth the risk. Actions in an app like iD should be hard to do by accident and/or easy to undo. Since uploading is hard to undo, it should be as deliberate as possible.

Keyboard users can pretty easily use tab navigation to focus and press the Upload button without using a mouse.

[2020-09-01 22:23] #7888 closed, assigned to nobody

[2020-09-01 22:30] quincylvania commented on #7835
Unfortunately it looks like [`service:vehicle:detailing`](https://taginfo.openstreetmap.org/keys/service%3Avehicle%3Adetailing) only has 34 uses and isn't documented on a wiki page, so we can't really support it yet…

[2020-09-02 13:22] quincylvania commented on #7910
@nicolasmaia Thanks for bringing this up. In looking at this and #7911, it looks like [`product=pickles`](https://taginfo.openstreetmap.org/search?q=product%3Dpickles) and [`product=tofu`](https://taginfo.openstreetmap.org/search?q=product%3Dtofu) are only used about 30 times each, which isn't much. Was this tagging voted upon? The `product` tag isn't generally used to specify the item a shop sell

[2020-09-02 13:43] nicolasmaia commented on #7910
I don't think there was a vote. My guess is that Japanese mappers gradually added their own suggestions in that page and others used it as reference. Is there another key you can think of that can work better instead of `product`? If so, it won't be a lot of work to change these tags and the documentation.

[2020-09-02 13:52] quincylvania opened #7944 "Only account for the connected nodes when checking visibility for Disconnect"
iD currently blocks the Disconnect operation when the extent of the selection isn't visible enough. However, if Disconnect will only affect some of the nodes of the selected way or ways, then we really only need to make sure those nodes are visible. This will let us enable the operation in more circumstances while still keeping it safe.

[2020-09-02 14:16] mmd-osm commented on #7943
Yes. As with any tag key/value pair, the same 255 unicode character limit also applies here.

[2020-09-02 15:07] #7772 closed, assigned to quincylvania

[2020-09-02 15:46] #7386 closed, assigned to quincylvania

[2020-09-02 16:05] #7818 closed, assigned to quincylvania

[2020-09-02 16:06] quincylvania commented on #7818
@mohit2872 Thanks for your interest, but it's been over a month so I just handled this. You can look for more issues to attempt [here](https://github.com/openstreetmap/iD/labels/good%20first%20issue).

[2020-09-02 16:09] quincylvania commented on #7834
Hi and welcome, @tankaru. Thanks for trying out tablet support and posting this feedback! I'll have to take a look at how other apps handle this gesture and if it's feasible for iD.

[2020-09-02 16:21] quincylvania commented on #7936
@maro-21 Hmm I'm not sure about this for the same reasons as #7880.

@TheAdventurer64 There isn't a designated way to write issues in this repo, so I ask that you please don't tell others what to post. If something is unclear then we can always ask for clarification.

[2020-09-02 16:29] quincylvania commented on #7846
@mikenath223 Thanks for your interest! Check out our [contributing guide](https://github.com/openstreetmap/iD/blob/develop/CONTRIBUTING.md) and the [presets readme](https://github.com/openstreetmap/iD/blob/develop/data/presets/README.md) for info on how to add this. See #7912 for a similar example.

@TheAdventurer64 I get notified about everything that's posted in this repo, so there's no need to

[2020-09-02 16:38] matkoniecz opened #7945 "Allow natural=cave_entrance on nodes that are part of ways"
At least some caves can be correctly tagged on nodes belonging to ways

For example see https://www.openstreetmap.org/changeset/90314885#map=19/50.20174/19.81875 - cave visited each (covidless) year by 90 000 people. And yes, there is footway leading to its entrance.

iD claims that it must be always on a standalone node.

![screen01](https://user-images.githubusercontent.com/899988/92011475-63bec

[2020-09-02 17:04] #7945 closed, assigned to quincylvania

[2020-09-02 17:04] quincylvania commented on #7945
@matkoniecz Thanks, sounds fine.

[2020-09-02 17:14] #7944 closed, assigned to quincylvania

[2020-09-02 17:32] quincylvania opened #7946 "Disallow undoing to a degenerate area"
After drawing an area and exiting the draw mode, you can undo to the point where the area only has two unique nodes. Two-node areas are degenerate and iD shouldn't create them. Attempting to undo to just one node properly removes the entire way for both lines and areas, so I think undoing areas to two nodes should also work like this.

<img width="720" alt="Screen Shot 2020-09-02 at 1 24 37 PM" sr

[2020-09-02 18:51] #7890 closed, assigned to quincylvania

[2020-09-02 18:53] quincylvania commented on #7890
@tbertels Thanks for reporting, this was a bug due to the recent asynchronous loading of the Wikipedia language list.

[2020-09-02 20:00] quincylvania commented on #7907
Lacking further info, I'm closing this as unreproducible.

[2020-09-02 20:00] #7907 closed, assigned to nobody

[2020-09-02 20:10] #7869 closed, assigned to quincylvania

[2020-09-02 20:11] quincylvania commented on #7869
@maro-21 Thanks for reporting, this was definitely a regression.

[2020-09-02 20:13] tordans opened #7947 "Add preset amenity=lounger"
I think it would be useful to have https://wiki.openstreetmap.org/wiki/Tag:amenity%3Dlounger as a preset, even if usage is not so high with 440+ cases ATM.

For search terms, I suggest to also add "bench", so people who are looking for a sub-tagging of bench will find this Preset and can choose between a regular bench or a lounger.

Additional fields on the preset
- I think, all of those that `ame

[2020-09-02 20:15] quincylvania commented on #7883
Done by @JeeZeh in #7893.

[2020-09-02 20:15] #7883 closed, assigned to nobody

[2020-09-02 20:51] quincylvania commented on #7606
Lacking steps to reproduce this or further information, I'm closing this as non-actionable.

[2020-09-02 21:29] #7408 closed, assigned to quincylvania

[2020-09-02 21:30] quincylvania commented on #7408
@AntMadeira Okay, I added this preset labeled "Open Road Toll", since I think that's more descriptive in American English. I also excluded in from Germany since the wiki discourages its use there.

[2020-09-03 01:35] AntMadeira commented on #7408
Thanks, Quincy.

[2020-09-03 03:02] escallic commented on #7312
I can't tell yet if this would be a blue-sky issue. A 'geoChooseAxis' would be very similar to the 'geoChooseEdge' subroutine in geo/geom.js.

[2020-09-03 08:14] escallic commented on #7834
The Wacom pen buttons aren't yet assigned to anything (there are two buttons).

[2020-09-03 09:01] DujaOSM commented on #7653
If I may gently ping this towards the top of the backlog...

iD has just made a mincemeat out of my 300-members, 160-km long hiking route:
https://hiking.waymarkedtrails.org/#route?id=11510161&map=12!45.1463!19.7107
members are not reasonably sorted at all, moreover, the route runs in the wrong direction.

Even if I had got the order initially wrong, I could have fixed it by manually redragging. H

[2020-09-03 11:35] bananu7 commented on #7109
Even being able to revert changes per-feature would be nice. Right now I can see the list of features I modified and added, and download the `.osc` file. However, I think I've edited one thing by mistake, and it seems I have no way to revert just that part; I'd need to discard everything and start over.

If I could upload the .osc file, I'd just edit it and remove the changes to that feature manua

[2020-09-03 11:40] mmd-osm commented on #7109
You can use OSMCha or Achavi for that purpose. Achavi can also display diff files when you drag and drop your osc file to the app.

[2020-09-03 12:49] quincylvania commented on #7109
@bananu7 Thanks, resetting individual entities is #537.

[2020-09-03 12:53] quincylvania commented on #7805
@mxxcon Sounds reasonable, but we'd need to know what options are supported. Would you happen to have a list?

[2020-09-03 13:58] #7826 closed, assigned to quincylvania

[2020-09-03 13:58] quincylvania commented on #7826
This took some time to debug but it looks like it's fixed with a one line change! So goes web development 😆

[2020-09-03 14:14] #7764 closed, assigned to quincylvania

[2020-09-03 14:17] quincylvania commented on #7764
@Adamant36 Looking at this, these tend to be called [visitor centers](https://en.wikipedia.org/wiki/Visitor_center) in the US at least, so I changed the preset name and added a bunch of search terms.

"Tour Guide Office" seems okay for `office=guide` since tour guides are distinct from information centers.

[2020-09-03 16:31] #7905 closed, assigned to quincylvania

[2020-09-03 18:25] quincylvania commented on #7864
@maro-21 Could you provide a location where this occurs?

[2020-09-03 19:12] #7730 closed, assigned to nobody

[2020-09-03 19:12] quincylvania commented on #7730
I did this ⬆️

[2020-09-03 19:36] quincylvania commented on #7517
Hi and welcome, @Jinkiesz. Looks like this issue fell through the cracks back in April.

Anyway, iD pulls those values from TagInfo, which I believe gets the descriptions from the OSM wiki. Check out the [Description column for `healthcare:speciality` values](https://taginfo.openstreetmap.org/keys/healthcare%3Aspeciality#values). Compare it to a [key where all common values have wiki pages](https:

[2020-09-03 19:36] #7517 closed, assigned to nobody

[2020-09-03 19:54] quincylvania commented on #7939
Hi and welcome, @pedjas. Always great to hear from others developing with iD downstream.

iD currently loads its imagery from dist/data/imagery.min.json, which is bundled via the [scripts/update_imagery.js](https://github.com/openstreetmap/iD/blob/develop/scripts/update_imagery.js) script. You can either edit the script or add sources to [data/manual_imagery.json](https://github.com/openstreetmap/

[2020-09-03 19:54] #7939 closed, assigned to nobody

[2020-09-03 20:03] quincylvania commented on #7910
@nicolasmaia I can't find any better existing tags offhand. You might ask the [tagging mailing list](https://lists.openstreetmap.org/listinfo/tagging) or some other OSM forum. We can't really support tags in iD that don't have community traction.

[2020-09-03 20:10] pedjas commented on #7939
I know abut that, but I would like to avoid to alter ID source, as it means I have to manually take care of each update. I hope imagelry list is exposed somehow so I can simply add new imagery programatically.

If it is not, then this can be treated as new feature suggestion.

[2020-09-03 20:25] mxxcon commented on #7805
I'd say this page is a good base to start from https://wiki.openstreetmap.org/wiki/Tag:healthcare%3Ddentist
[code]
and maybe also these?
[code]

[2020-09-03 20:47] maro-21 commented on #7864
Any. Just find a road connected to an area - if you disconnect them, and hide area layers, you won't be able to move a node.

[2020-09-03 23:09] quincylvania commented on #7939
Good point, we can look into this.

[2020-09-03 23:14] quincylvania commented on #7867
The increment is probably something we could encode in the field data files. Some field like electricity output or water tank volume are measured in the thousands so an increment of one is a bit trite.

[2020-09-04 11:58] maro-21 opened #7950 "Edit Elevator preset"
Remove wrong field "maxweight" which is used for "legal access restriction for vehicles that exceed the specified actual weight".

The tag maxweight is well described on Wiki and there is no mention about using it for elevators.
https://wiki.openstreetmap.org/wiki/Key:maxweight

![iD elevator](https://user-images.githubusercontent.com/57260466/92236631-114dee80-eeb6-11ea-959b-802d6329ffd1.png)

[2020-09-04 12:28] quincylvania commented on #7950
@maro-21 Thanks, but just because the wiki doesn't mention a usage doesn't mean it's wrong. I see elevators as part of the accessible routing network. Many even support vehicles. Elevators always have a legal maximum weight posted in them, at least in the US, which is akin to a max weight sign along the highway.

Let us know if this is causing problems for data consumers, but otherwise I'm certain

[2020-09-04 12:28] #7950 closed, assigned to nobody

[2020-09-04 12:44] maro-21 commented on #7950
But we can't use the same tag for two different things.
As you can see on the screenshot, the description and image doesn't fit to elevator maximum weight.

You previously said that there should be community consensus to add or remove something from iD preset.
If there was consensus, there would be mention on the Wiki.

[2020-09-04 12:55] jleedev opened #7951 "Continues downloading custom vector tiles with layer turned off"
1. Add a custom data layer (with Z/X/Y vector tiles)
2. Clear the checkbox at "Custom Map Data"
3. Pan and zoom the map a bit

iD continues to download the vector tiles which are not being shown.

2.18.5-dev

[2020-09-04 13:05] quincylvania commented on #7950
This actually happens all the time. A few examples are `ele`, `height`, `width`, `access`, and `lit`, which encode the same information on all kinds of different types of features.

The wiki also says "a number of navigable structures may be tagged with a weight restriction", and then gives examples such as railways, helipads, roller coasters, and zip-lines in addition to roads. An elevator is a n

[2020-09-04 14:15] quincylvania commented on #7748
I like this idea. Currently iD just ignores untagged vertices when copying, so this would be an additive feature.

[2020-09-04 14:49] #7908 closed, assigned to quincylvania

[2020-09-04 14:49] quincylvania commented on #7908
@1ec5 Thanks for reporting. This was due to under-the-hood changes for #2508.

[2020-09-04 15:12] quincylvania commented on #7921
#6277 is about lines that are members of boundary relations not hiding when they should be hiding, so I think this is a duplicate. It seems to have something to do with the order features are downloaded and added to the graph, or some kind of race condition.

[2020-09-04 15:12] #7921 closed, assigned to nobody

[2020-09-04 15:19] quincylvania opened #7952 "Show distance between two selected nodes in the Measurement panel"
Building off of #7329, another useful measurement would be the distance between two selected nodes. Currently only the number of nodes (2) and the centroid are shown for this type of selection, so there's space for this.

[2020-09-04 15:27] quincylvania commented on #7887
Hi and welcome, @alexmodesto73. Could you describe the specific features you're requesting for those of us unfamiliar with this tool? The [plugin page](https://plugins.qgis.org/plugins/latlontools/) says it does lots of things, but not all of them make sense outside of QGIS.

[2020-09-04 15:31] quincylvania commented on #7851
Welcome, @NotSoImportant. iD is often forced to reuse icons since there are a huge number of presets and only so many suitable icons. However, with #7068 we've lately been on a quest to find or draw as many unique icons as possible, so we should be able to address this.

[2020-09-04 19:09] alexmodesto73 commented on #7887
Click on map
Copy Coordinates to clipboard

Le ven. 4 sept. 2020 à 17:28, Quincy Morgan <notifications@github.com> a
écrit :

--
---
Alexandre MODESTO

[2020-09-04 20:16] mikini commented on #7943
Second this, same just bit me in [changeset 90422778](https://www.openstreetmap.org/changeset/90422778).

In the old days of 90s HTML you`d just set a length/size/limit on the input/textarea and the browser would prevent anymore input than that in the UI.

A quick look seems to suggest that the [maxlength attribute on form elements](https://html.spec.whatwg.org/multipage/form-control-infrastructur

[2020-09-04 20:25] bhousel commented on #7943
Yes, a long time ago iD did use maxlength for this: https://github.com/openstreetmap/iD/pull/2411/commits/8b896b8b84e858416b738a64cf17ca179682dd46

But that approach doesn't really work for strings that contain unicode - https://github.com/openstreetmap/iD/issues/6817 has more on why this is a hard problem.

[2020-09-04 20:26] mmd-osm commented on #7943
... in particular https://github.com/openstreetmap/iD/issues/6817#issuecomment-579758275 and  https://github.com/openstreetmap/iD/issues/6817#issuecomment-642186244

[2020-09-04 21:06] NotSoImportant commented on #7851
Thanks @quincylvania
I understand the effort of maintaining a lot of presets. And I think it is even ok to have the same icon for similar things.

Just wondering as
_amenity=hunting_stand_
has no overlap with
_tourism=viewpoint_

Looking forward to see it fixed :-)

[2020-09-04 23:29] TheAdventurer64 opened #7953 "Add toilets field to presets"
So, in many restaurants and shops, there is usually a restroom, and some people would probably like to add the information to the map. However, inexperienced users may not know about how to tag toilets within places in the map, and for other mappers, it can be exhausting to add this information. To solve this problem, I propose that there should be a Toilets field that is similar to Internet Conne

[2020-09-06 02:40] Adamant36 commented on #7880
So are a lot of general tags until more specific ones come along.

It would be extremely wrong IMO to claim there aren't some shops that just sell skis. It's completely nonsensical to go with a plural tag "shop=sports" for places that sell items of a single sport.

Also, the Wiki is pretty explicit that when there are usable top level tags for something, that it is preferably to go with the top le

[2020-09-06 09:20] simonpoole commented on #7880
No, the wiki is descriptive, not prescriptive.

[2020-09-06 15:11] andrepoiy opened #7954 "Suggestion: Add button in order to manually download map data"
Sometimes when my internet goes bad, iD doesn't download map data while I'm working on the map. The only way around this is to refresh the page, which risks losing all the work you've already done. Therefore, perhaps a button or keybind to manually download map data could be useful.

[2020-09-06 17:33] Adamant36 commented on #7880
Obviously. In this specific case though I assume its describing something that is established consensus and clearly a "standard" by virtue of being how most things are usually mapped etc.  That's not to say everything contained in the wiki is defacto information that should be followed without question, but I think defering to it in this partuclar case is perfectly fine.

Again, 99% of the time PO

[2020-09-06 19:15] dustinblainemyers commented on #7906
I added this under "fields" instead of "moreFields" since I saw you use the words "required" and "important" in your request.  Let me know if this was the incorrect interpretation and I can fix it.  I believe I followed the correct procedures according to the contributing guidelines but this is my first time contributing. Let me know if I can improve on anything.

Example of Change Under "Backcoun

[2020-09-07 02:04] verdy-p commented on #2225
The trick I usually do is to add an arbitrary node on the middle of a segment joined by two shared nodes: this would normally add a new node and add it to all the overlapping polygons or polylines. You'll note that this node will also be grey (meaning it would be shared across polygons too).

Then I use the right click on this arbitrary node to separate the polygons (this duplicates it in multiple

[2020-09-07 18:29] jidanni commented on #7748
(Another idea would be for the user to just add more tags to existing geometries: this line is both a road and a boundary.
But that is frowned upon, as e.g., changes to river flows **do not** usually affect boundary treaties based upon them. Hence the need for a way to easily duplicate lines (that may later change, and thus need to be two, not one.))

[2020-09-07 19:12] hiddewie commented on #7906
@dustinblainemyers Thanks for implementing this request! It looks really good, and will hopefully improve the tagging of campings and caravan sites!

[2020-09-07 20:10] dustinblainemyers commented on #7906
Awesome! Glad I could help.

[2020-09-07 21:01] boothym commented on #5997
@quincylvania I'm wondering if you're able to help with the question above, with regards to how relations are sorted in the dropdown? Because I've never been able to work it out!

[2020-09-08 00:15] karlcow commented on #7132
This can be reproduced in Firefox Nightly 82

[2020-09-08 00:53] karlcow commented on #7132
This is happening before the click, because when setting a breakpoint on the click, all labels have already disappeared.  Once the selection is made a zoom in/zoom out  or moving the map makes the label reappears while keeping the item selected. Also without clicking a `hover` a specific label makes it disappear.

the pointer not on top of the label.

[code]

The pointer on top of the label

[code

[2020-09-08 01:12] TheAdventurer64 opened #7957 "Make More Fields more visable"
To help improve the visibility of More Field tags, I propose we make them more visible by replacing the More Fields field with something like this:
![image](https://user-images.githubusercontent.com/50059322/92423341-80c51780-f11c-11ea-97c6-96fefd555bba.png)

[2020-09-08 05:59] AntMadeira opened #7958 "Add amenity=mortuary to presets"
I would like to recommend the addition of `amenity=mortuary` to iD's presets.
I think it's a very common amenity in every country and deserves a preset of its own.

Regards.

[2020-09-08 13:14] quincylvania commented on #7783
@TheAdventurer64 Looks like `toilets:type=mobile` is an informal tag with only 60 uses. `portable` is much more widely used. If different tagging is determined by the community in the future then we can change the iD preset.

[2020-09-08 13:14] #7783 closed, assigned to nobody

[2020-09-08 13:40] quincylvania commented on #5997
@boothym Looks like the relations are [meant to be sorted by creation date](https://github.com/openstreetmap/iD/blob/d8dbc708b28676a9046ad02613a9c2844e43310c/modules/ui/sections/raw_membership_editor.js#L169-L171). This makes some sense so relations you've just added in your session appear first, but I agree it could be smarter.

[2020-09-08 13:52] quincylvania commented on #7887
@alexmodesto73 Okay, this wouldn't be too hard to add now that you can open a menu by right-clicking on the map. Just need to think about how useful this would be to iD mappers.

[2020-09-08 14:10] quincylvania commented on #7958
Sounds fine, but I'd prefer to call this preset "Morgue". A mortuary can also refer to funeral homes, which iD already has a preset for.

[2020-09-08 16:17] AntMadeira commented on #7958
Actually, the term is a bit vague, even on the wiki. The request still applies, because there's no preset for a morgue, but I was thinking about the place where the dead await to be buried, usually with a ceremony or just some other private event, usually on a proper house next to or inside the cemetery.
For that, maybe it's best to wait for the approval of the funeral_hall tag:
https://wiki.opens

[2020-09-08 16:41] quincylvania opened #7959 "`request` has been deprecated"
The [`request`](https://www.npmjs.com/package/request) package has [recently been deprecated](https://github.com/request/request/issues/3142). It still works and iD only uses it for a couple build scripts, but we should still look into switching to a modern alternative at some point.

[2020-09-08 18:50] #7851 closed, assigned to quincylvania

[2020-09-08 19:25] boothym commented on #5997
@quincylvania Thanks, I've had a look when editing just now and that does seems to be the case. But would it be possible to sort by last modified, or have the most recently used relation at the top of the list? Because that was the most annoying thing recently - the relation I was changing was at the bottom of the list and I had to scroll down every time!

[2020-09-08 19:36] maro-21 commented on #7783
Why was this preset added?? There are **6** features tagged `[amenity=toilets][portable=yes]` on OSM and there is no mention on Wiki about mapping portable toilets. On OpenStreetMap we [don't map](https://wiki.openstreetmap.org/wiki/Good_practice#Don.27t_map_temporary_events_and_temporary_features) temporary and movable objects.

[2020-09-08 19:55] quincylvania commented on #7783
@maro-21 All features are ultimately temporary—it's up to the mapper to decide if a feature will exist long enough to merit adding. Portable toilets can be stationed for months or years in places like parks or encampments, and I'd argue mapping them as "portapotties" instead of toilets is useful information. The [`portable`](https://taginfo.openstreetmap.org/keys/portable) key has over 1300 uses,

[2020-09-08 21:56] maro-21 commented on #7783
Where 1201 of them were used in one city by one user to map portable swimming pools ;)

[2020-09-09 01:49] quincylvania commented on #7938
Some background on the use of `layer` in the validator: #5943, #5924, #6367, #7809.

As I understand it, the `layer` tag simply specifies the vertical ordering of ways when it's ambiguous. I'm not sure what's wrong with using it on buildings… how else would you specify the order when one building physically overlaps another? A tag like `building=roof` tag is combined with `layer` [over 570,000 tim

[2020-09-09 02:01] quincylvania commented on #7947
I had some hesitation about adding a new `amenity` value for this, since data consumers won't automatically support it, but I see the tag was already discussed and approved via vote so I guess there's not much more to say.

[2020-09-09 02:12] quincylvania commented on #7957
@TheAdventurer64 Is this just a screenshot of an old version of iD? It'd be worth mentioning. Every change is made for a reason, so we can't just revert something without understanding the history. I agree we should be thinking about ways to improve the inspector.

[2020-09-09 04:23] jidanni commented on #2225
"Then I use the right click on this arbitrary node to separate the
polygons"…

Hmmm maybe such right click capabilities should be available on all such
nodes, with no need to especially create a new node.

Indeed same for when right clicking on such line segments too.

So right clicking on an overlapping anything, should give one access to
(switching to) any of the layers.

[2020-09-09 04:59] verdy-p commented on #2225
The reason why I use this technic is to avoid modifying things that don't need to be modified, but I can't select the other ways or polygons to see their actual geometry if it is correct (and when all nodes emphasized in the selected object are not "white" (not shared by multiple lines/polygons) but "grey": this does not mean that it may eventually be shared by only 2 lines/polygons, and sometimes

[2020-09-09 06:03] mmd-osm commented on #3765
Json is in production, let’s close this issue.

[2020-09-09 07:41] mikenath223 commented on #7846
Fixing issue #7846

[2020-09-09 12:36] #3765 closed

[2020-09-09 12:36] quincylvania commented on #3765
@mmd-osm Thanks, this should have been closed months ago 😆

[2020-09-09 13:41] quincylvania commented on #7783
I hadn't looked into the distribution, but that doesn't sound unlike OSM 😅

[2020-09-09 13:46] sun-geo commented on #2225
verdy-p:

Very good explanation and description of the technic I also use for long while (did find out one day by myself).
Because this workaround is little bit time consuming, maybe not doable for the average iD user (so far I understood iD is intentionally made for users which doesn't need to have a deep knowledge of the osm data structure) and a bit error-prone (you have to care to delete the t

[2020-09-09 13:50] #7824 closed, assigned to nobody

[2020-09-09 13:56] quincylvania opened #7961 "Distinguish different service roads types via styling"
Driveways, drive-throughs, and parking aisles are often used (and misused) in close proximity to each other. Right now it's impossible to tell one from another without selecting them. We can change the rendering to make these distinguishable at a glance.

<img width="1071" alt="Screen Shot 2020-09-09 at 9 52 07 AM" src="https://user-images.githubusercontent.com/2046746/92607503-365dab00-f282-11ea-

[2020-09-09 14:44] sun-geo opened #7962 "real time validation"
Seems working depending on the order of deleting items (tags and relation members).

a) real time validation is displaying a issue when first delete relation members and delete tags afterwards:
![rt-val 1members](https://user-images.githubusercontent.com/47290585/92613498-552c6380-f2bb-11ea-87a6-fb80bec3c27b.gif)

b) real time validation is not displaying a issue when first delete tags and delete

[2020-09-09 15:14] #7962 closed, assigned to quincylvania

[2020-09-09 15:17] quincylvania commented on #7962
@sun-geo Thanks for reporting! We manually rerun validation in iD since doing so on every change would be inefficient. Turns out we haven't been revalidating after member or membership changes, but it at least it was a quick fix 🔧

[2020-09-09 16:04] sun-geo commented on #7962
Thanks a lot.

[2020-09-09 16:07] quincylvania opened #7963 "Support `lang` HTML attribute for multilingual text"
The [`lang`](https://developer.mozilla.org/en-US/docs/Web/HTML/Global_attributes/lang) attribute is used on HTML elements to specify the language, script, and locale of the contained text. Encoding this info explicitly helps web users in a number of ways, including:

- Pronunciation in text-to-speech (critical for users of screen readers especially)
- Formatting, such as how to break words when wr

[2020-09-09 16:20] pnorman commented on #7867
Agreed. Voltage might need different increments in different ranges. Sometimes it's a multiple of 10, sometimes 100, and sometimes 1000.

[2020-09-09 16:35] quincylvania commented on #7928
@nicolasmaia So you mean the `addr:housename` and `addr:floor` tags? Is there OSM wiki documentation for Japanese address formats?

[2020-09-09 16:41] quincylvania commented on #7550
The selection code has changed a lot since April, so I'm thinking this was a bug that's been fixed.

@skfd Please do let us know if you see this happen again.

[2020-09-09 16:41] #7550 closed, assigned to nobody

[2020-09-09 17:45] quincylvania opened #7964 "Sort relation dropdown by most recently used"
_Broken out from https://github.com/openstreetmap/iD/issues/5997#issuecomment-689086673._

Relations in the "Add relation" dropdown selector are currently sorted by creation date. We could improve this by putting recently used relations at the top, even if they weren't created recently.

[2020-09-09 17:50] quincylvania commented on #7964
Also, adding many features to one relation will be a lot easier once we do #7753 . But this is still worth doing.

[2020-09-09 17:57] quincylvania commented on #7922
Yep, this is #597. Thanks for putting it back on my radar though, I'd like to address it soon.

[2020-09-09 17:57] #7922 closed, assigned to nobody

[2020-09-09 18:28] quincylvania opened #7965 "Usability issues with text-only browser zoom"
Most browser support [increasing the text size](https://support.mozilla.org/en-US/kb/accessibility-features-firefox-make-firefox-and-we#w_text-zoom) of the page while leaving the size of images and other elements alone. This is a useful accessibility feature, but fails if text containers have a fixed size and the larger text overflows.

We need to audit iD for instances where this happens, since t

[2020-09-09 21:18] maro-21 opened #7966 "No imagery list in the Backgrounds section"
I've just run a new version of id 2.18.5 and there is no background imagery. They appeared after refreshing F5.

![imagery](https://user-images.githubusercontent.com/57260466/92655849-4e6d1300-f2f2-11ea-8118-96c6ff4f8894.png)

[2020-09-09 23:38] maro-21 opened #7967 "Typos"
Terms for Perfume Store:
`terms: cologne,fragrance,purfume`
purfume -> perfume

Terms for Music Store:
`terms: tape casettes,CDs,compact discs,vinyl records`
casettes > cassettes

[2020-09-09 23:44] maro-21 opened #7968 "Add level for Sport Center"
Add `level` tag for `leisure=sports_centre` and `leisure=fitness_centre`. They are often within buildings, like shops and other POI.

[2020-09-09 23:46] Adamant36 opened #7969 "Show which highways have surface tags"
Would it possible to show which highways have existing surface tags or not? As it currently is if you want to "bulk" add surface tags to roads where you know what the surface is ahead of time it takes a lot of extra clicking and scrolling to find out which ones already have the tag or not before you can add them.

[2020-09-09 23:53] nicolasmaia commented on #7928
There is, but in Japanese:
https://wiki.openstreetmap.org/wiki/JA:%E4%BD%8F%E6%89%80#.E6.97.A5.E6.9C.AC.E3.81.AE.E4.BD.8F.E6.89.80.E4.BD.93.E7.B3.BB.28.E8.A1.97.E5.8C.BA.E7.95.AA.E5.8F.B7.E3.83.BB.E5.9C.B0.E7.B1.8D.E8.BB.A2.E7.94.A8.29
and
https://wiki.openstreetmap.org/wiki/JA:Key:addr

[2020-09-10 00:07] maro-21 opened #7970 "Add tram-bus stop preset"
In my city (and I think in other cities with tram system too) there are many combined tram+bus stops.
Would it be possible to add such preset to iD?

[code]

Because currently such stops are displayed as "Bus Stop".
https://wmiasto.files.wordpress.com/2015/12/img_8202_3000x2000.jpg?w=510
https://wmiasto.files.wordpress.com/2011/11/imgp4743.jpg?w=510

[2020-09-10 00:20] maro-21 opened #7971 "Question: shops and stores"
There are 89 "store" and 50 "shop" presets - is there any rule why some of them are shops and some stores?

[2020-09-10 03:15] rivermont opened #7972 "[2.18.5] [bug] Can't create new node by just clicking on the halfway point"
- Ways have a little triangle halfway between nodes that can be dragged to create a new node.
- Double-clicking on a way elsewhere will create a new node.
- Previously you could double-click on the triangle to create a new node exactly at halfway
- This doesn't work anymore.

[2020-09-10 11:22] eldilibra commented on #7807
I'm having a similar issue on macos 10.14.6, Electron v9.1.2. Once I reached the step in the Navigation section of the walkthrough in which I'm asked to click on a point, I wasn't able to progress further, as no point that I clicked within the un-obscured box would activate the next step. The alignment of the box, also seems off; I can just barely click on one point, but it seems to be the wrong o

[2020-09-10 13:16] jleedev opened #7973 "Tag edits are inconsistently applied when selection changes by touch"
Context: When editing a tag, the change is applied when the text box loses focus or when a different feature is selected by clicking on the map using the mouse. However, this breaks when the selection is changed by touch.

### First case:

1. Create two nodes, give them `highway=bus_stop` e.g.
2. Select one, and type `name=foo` in the text tag editor.
3. Select the other node by touching it.

Resu

[2020-09-10 13:35] quincylvania commented on #7971
@maro-21 These words are generally synonyms, but culturally one may be preferred over the other for a given type of businesses. In the US "store" is more common, while I think "shop" is more common in the UK. To my American ears, "Department Shop" or "Shoe Shop" just sound off.

Since iD's default language is American English, we try to use terms that make the most sense here.

[2020-09-10 13:35] #7971 closed, assigned to nobody

[2020-09-10 13:41] #7968 closed, assigned to nobody

[2020-09-10 14:44] maro-21 commented on #7971
So shouldn't shops be renamed to stores?

[2020-09-10 15:48] cbeddow commented on #7920
Updating the MapillaryJS version in the next week will be a first step here to see if the CSS conflict is resolved, but then troubleshoot from there. I'll post here when it's updated.

[2020-09-10 16:21] quincylvania commented on #7971
@maro-21 I wasn't clear, but I mean some places are still often called shops even if "store" is more common, and often it doesn't matter which.

[2020-09-10 16:25] quincylvania commented on #7920
So I'm pretty sure this is due to #7437. We started scoping iD's CSS under the `.ideditor` class, but the photo viewer plugins like Mapillary have separate CSS which isn't namespaced, and so may be ignored sometimes…

[2020-09-10 17:30] jgscherber opened #7974 "Bing Street View - Click area doesn't fill zoom button"
See gif

ER: The entire plus-button is clickable to zoom (same as minus-button)
AR: Only the top edge of the plus-button is clickable

![ezgif-7-db09b67c18b3](https://user-images.githubusercontent.com/6207661/92772005-f6b9c080-f360-11ea-9e1e-ffa176b94a05.gif)

[2020-09-10 17:34] Jakuje opened #7975 "Add support to show Mapillary/OSC imagery in separate window"
I often struggle to use mapillary images as they are really small, I have to zoom through them all the time and move around. If I would like to see them larger, it is against the size of the map that I am editing.

I have two screens so it would be very handy to move the image to the second display (probably in separate window) to use the space better.

[2020-09-10 20:25] quincylvania opened #7976 "Change conflicting zoom map in/out by a lot shortcuts"
All major browsers use the <kbd>Cmd</kbd><kbd>+</kbd> and <kbd>Cmd</kbd><kbd>–</kbd> shortcuts to zoom the page (<kbd>Ctrl</kbd> on non-Apple systems). This is an important accessibility feature, but iD currently overrides these shortcuts and instead zooms the map several zoom levels.

I propose changing iD's shortcuts to <kbd>Alt</kbd><kbd>+</kbd> and <kbd>Alt</kbd><kbd>–</kbd>, which doesn't app

[2020-09-10 20:40] tordans opened #7977 "Presets: Add ramp=yes to highway=stairs"
The preset for `highway=stairs` https://github.com/openstreetmap/iD/blob/develop/data/presets/presets/highway/steps.json does not have information about the `ramp`-key https://wiki.openstreetmap.org/wiki/Key:ramp.

The key is "in use" with 30k+ uses.

Unfortunatelly the values that are documented on the wiki page dont allow for an easy UI. Maybe a first step would be to have a dropdown with fixed

[2020-09-10 22:28] boothym opened #7978 "Reset ignored issues has disappeared"
Previously if you clicked "X Ignore this issue" then a "reset" link would appear in the issue panel. However it seems to have disappeared in recent versions - assume this is a bug?

[2020-09-11 00:40] quincylvania commented on #7978
This still appears if there aren't any other warnings or errors to display, but it should always display if there are ignored warnings 🤔

[2020-09-11 10:30] boothym commented on #7978
Ah yes you're right, it reappears if there's no issues so it's definitely a bug. At least I know how to get it back if required!

[2020-09-11 17:05] #7965 closed, assigned to quincylvania

[2020-09-11 17:09] quincylvania commented on #7965
Spent a lot of energy finessing the UI for this, and I'm pretty happy with the result. It's not perfect but it's gone from unusable to usable.

<img width="1151" alt="Screen Shot 2020-09-11 at 1 07 59 PM" src="https://user-images.githubusercontent.com/2046746/92953554-e7ee0f00-f42f-11ea-9e0a-1a5743b0ca67.png">

[2020-09-11 18:39] #7770 closed, assigned to quincylvania

[2020-09-11 19:16] #7967 closed, assigned to nobody

[2020-09-11 19:17] quincylvania commented on #7967
The first one is actually fine since "perfume" is in the preset name. It's okay to have misspellings in `terms` since people might misspell it when searching.

[2020-09-11 19:37] quincylvania commented on #7966
@maro-21 Have you seen this more than once? It could have been a network issue since iD loads the background source data asynchronously now.

[2020-09-11 19:46] mfbehrens99 opened #7981 "Preset for sport=climbing"
Hi,

it would be very useful if there was a preset for climbing. It should mainly be for nodes

The wiki article can be found here: https://wiki.openstreetmap.org/wiki/Climbing

Best, Michael

[2020-09-11 20:05] maro-21 commented on #7966
Yes, I used to have it in the past a few times

[2020-09-11 20:09] quincylvania opened #7982 "Don't load photo overlay resources until they're needed"
_Discussed in #7788._

Currently, iD loads all the JS, CSS, and SVG files needed for the photo layers upon start. This is somewhat handy on fast connections, since then they're ready to go right away, but is wasteful if you never use the photo overlay features.

We should optimize for page load time and data-constrained environments by waiting to load these resources until iD actually needs them.

[2020-09-11 20:13] quincylvania commented on #7966
@maro-21 But are you still seeing it? Is there a location you can reliably reproduce it?

[2020-09-11 20:51] JamesKingdom commented on #7966
Might still be a good idea to add some sort of error handling if the imagery fails to load?

[2020-09-11 21:45] maro-21 commented on #7966
No, I had it only once in this version. I remember that I had it maybe twice in the past as well.

[2020-09-11 21:48] maro-21 commented on #7981
What preset do you mean? Sport=climbing is just a tag used in combination with other tags.

[2020-09-11 21:56] mikenath223 commented on #7846
Hi, @quincylvania please kindly check this

[2020-09-11 22:24] mfbehrens99 commented on #7981
When you are tagging outdoor climbing then it is used as the "main tag"
See: https://www.openstreetmap.org/node/1425479699

[2020-09-12 12:20] maro-21 commented on #7166
Strange tags added to the changeset:
[code]
https://www.openstreetmap.org/changeset/90788701
https://www.openstreetmap.org/changeset/90788958

[2020-09-12 14:01] woodpeck opened #7983 "Warn when creating self-referencing relations"
Recently a user managed to change a relation that used to have a node in a "label" role to having *itself* in a "label" role. The changeset is https://www.openstreetmap.org/changeset/90543052 and the relation in question is https://www.openstreetmap.org/relation/8184246 (meanwhile fixed).

This tripped up some downstream processing (notably Nominatim which was interested in this particular relatio

[2020-09-12 21:40] AntMadeira opened #7984 "Move node from a detached area"
Hi there.
I don't know if this was already addressed here, but a somewhat thorough search didn't show the issue I want to bring here.

Every time I detach an area from a line (say a parking lot which is drawn over a street) I'm unable to move some of its nodes (even if I have the area selected) _**if those nodes belong to more than one line**_.
Here's what happens:
- detach area from line
- select

[2020-09-13 04:27] TheAdventurer64 opened #7985 "Add Tower Viewer Preset"
A pair of binoculars (also known as a tower viewer) is a pair of binoculars fixed in place with a pole. It can typically be found on touristic locations, viewpoints, on top of panoramic towers or occasionally on a nature reserve (often in a leisure=bird_hide). Source: https://wiki.openstreetmap.org/wiki/Tag:amenity%3Dbinoculars

Add the tag `amenity=binocular`.
Fields for this tag could include:
-

[2020-09-13 13:08] quincylvania commented on #7984
#2206 is a similar longstanding issue, but for disconnecting a selected node, not a selected way. This is easier if a way is already selected.

I agree this would be the expected functionality 👍

[2020-09-13 13:17] quincylvania commented on #6904
Regrettably, I still don't see a great way to do this with parity on touchscreens.

#7984 was just opened about making the nodes of the selected way the draggable ones (which I'm sure has been mentioned before but I don't see a matching issue). This should make the scenario a lot more predictable.

[2020-09-13 13:17] #6904 closed

[2020-09-13 14:33] xuiqzy opened #7988 "Doesn't recognize vending machine tagging as "Parcel Pickup/Dropoff Locker" when order of values in vending tag is different"
When an object is tagged with `amenity=vending_machine` and `vending=parcel_mail_in;parcel_pickup` instead of `vending=parcel_pickup;parcel_mail_in` (note the different order of values), it is displayed as only a general`Vending Machine` in the title/type (instead of `Parcel Pickup/Dropoff Locker`) which is a bit confusing for a parcel pickup and drop-off station.
If you rearrange the values, it i

[2020-09-13 15:52] #7982 closed, assigned to quincylvania

[2020-09-13 19:19] TheAdventurer64 commented on #974
Any progress?

[2020-09-13 19:47] quincylvania commented on #974
@TheAdventurer64 Any progress would be posted here.

[2020-09-13 20:34] #7048 closed

[2020-09-14 01:05] sun-geo opened #7989 "Rotate cones 180 degrees for 'traffic_signals:direction' and 'railway:signal:direction' when using numbers for the value"
It's nice to see the cones when using `direction=*`, `traffic_signals:direction=*` and `railway:signal:direction=*`.

For `direction=*` usually the cones point to this direction like a person looks when sitting on a bench or to this direction a face of traffic sign is showing.

But for `traffic_signals:direction=*` and `railway:signal:direction=*`. the orientation seems to have an oppositional log

[2020-09-14 09:32] kymckay commented on #7898
@quincylvania Wouldn't be the end of the world not to show these, but they are handy since Osmose is checking for nearby appropriately tagged entities in OSM.

[2020-09-14 12:34] quincylvania commented on #7989
@sun-geo I'm pretty sure iD is doing the right thing here, but the underlying issue is that these tags shouldn't really have numeric values. They're intended for routers to determine which features affect traffic moving along the line in a particular direction. We shouldn't expect routers to guess based on an absolute angle.

The cones look wrong in this type of situation because it's ambiguous.

[2020-09-14 12:34] #7989 closed, assigned to nobody

[2020-09-14 14:01] #7795 closed, assigned to quincylvania

[2020-09-14 14:04] quincylvania commented on #7795
Okay, I made iD maintain the history on the longer of the result ways, which I think would be the desired behavior most of the time. It's a bit harder to manipulate if you want to force the history onto the shorter way, but this isn't really something most iD mappers should be worrying about.

[2020-09-14 14:47] quincylvania commented on #6398
@nickplesha implemented this for Mapillary photos in #7885!

I'm going to work on achieving parity for OpenStreetCam and Bing Streetside. As part of supporting multiple services, I prefixed the format like `photo=mapillary-eZxLgJ9sHstg0ySKE3plLw`. We can't rely on `photo_overlay=mapillary` since that key supports multiple layers, e.g. `photo_overlay=streetside;mapillary;openstreetcam`. Plus this l

[2020-09-14 15:55] quincylvania commented on #5174
Hmm I'm not convinced disconnecting the ways after splitting is always desirable. The mapper might want to split a line to change the attributes on part of it, like tagging a different road surface or speed limit. They might split a road at an intersection to add a turn in a route relation. I can imagine mappers splitting ways and not realizing iD has disconnected them, which could break routing.

[2020-09-14 16:19] quincylvania opened #7990 "Support Split operation for multiple selected nodes"
Most of iD's operations now work for multiselections. In continuing this initiative, it'd be great to enable the splitting of ways at multiple selected nodes at once. This would save some clicks when you want to create a new segment in the middle of a line, for instance.

<img width="427" alt="Screen Shot 2020-09-14 at 12 16 29 PM" src="https://user-images.githubusercontent.com/2046746/93111102-2c

[2020-09-15 08:19] kymckay commented on #7627
I think we could just have `locationMatch` take priority over `idMatch` in https://github.com/openstreetmap/iD/blob/0789b861b47fb59b3810efe258c2c256a234f2fa/modules/ui/feature_list.js#L125-L149

So check location first, don't bother checking id if location is matched. Thoughts?

[2020-09-15 09:45] SHARCRASH opened #7992 "Stop spliting all ways when spliting on a node"
As an ex OSM contributor on iD, i've found the latest split function very inconvenient to handle elements since it splits all overlapping ways. This was one of the reasons why i abandoned iD. Obviously you wanted it to behave this way.... But even for other contributors not using iD it is a hassle: we can find out many equal ways having the same tags side by side for no reason and we also find MP

[2020-09-15 11:37] maro-21 commented on #7992
I don't like it either. But there is a way to bypass it: you can first disconnect the roads from each other, split and then connect again in the same node.

[2020-09-15 13:19] SHARCRASH commented on #7992
I know, before posting here i tested again the split function but many users do not care in doing these extra manipulations, understandably it is a hassle.

[2020-09-15 14:33] #597 closed

[2020-09-15 14:38] quincylvania commented on #7627
@SilentSpike Sounds fine, I'd welcome a PR for that.

[2020-09-15 14:59] quincylvania opened #7993 "Localize format of numbers in text"
#3615 is about localizing numeric fields. This issue is about formatting numbers in various strings such as labels, as mentioned in https://github.com/openstreetmap/iD/pull/7991#discussion_r488369658.

Re: #7713

[2020-09-15 15:35] #7993 closed, assigned to quincylvania

[2020-09-15 15:57] #7976 closed, assigned to quincylvania

[2020-09-15 17:39] quincylvania opened #7994 "Don't fetch English strings if user's language has 100% coverage"
Since not all languages have 100% coverage, iD always downloads the locale file for US English as a fallback. However, if we know that the set language is complete, we can skip English.

Transifex has an [API endpoint](https://docs.transifex.com/api-2-5/resources#getting-details-for-a-specified-resource) for getting the completion percentage. We can call it when compiling the locale files and stor

[2020-09-15 18:11] maro-21 commented on #7795
This is a good change, thanks!

[2020-09-15 20:09] #7994 closed, assigned to quincylvania

[2020-09-15 20:33] quincylvania opened #7996 "Language fallback based on the user's preferences"
If a string is untranslated in the user's preferred locale, iD currently falls back only to English. However, modern browsers let users specify [multiple ordered language preferences](https://support.mozilla.org/en-US/kb/use-firefox-another-language). iD should attempt to fallback to one or more of these before English.

Re: #7713

[2020-09-15 20:44] sun-geo commented on #7992
maro-21 :

Same here, but my workaround looks bit different (without disconneting), see movie below.

@SHARCRASH Do you have any suggetion how do you would change iD's split procedure?

![prevent split](https://user-images.githubusercontent.com/47290585/93262551-b44f1400-f7a4-11ea-972e-edee6b63672d.gif)

[2020-09-15 21:56] #7996 closed, assigned to quincylvania

[2020-09-15 22:03] quincylvania commented on #7996
I did this! iD will now attempt to use all the user's specified languages before defaulting to English. In the below example, the set locale is Greek, but untranslated terms fallback to the user's next language, German. Since I did #7994, and German currently has 100% coverage, the English locale is never loaded at all 💪

In addition, iD will now fallback to generic locales from regional locales w

[2020-09-15 22:18] TheAdventurer64 opened #7997 "Add safety:mask:covid19 field."
This field would allow users to put down if a place requires you to wear a mask, or not. More info [here](https://wiki.openstreetmap.org/wiki/Key:safety:mask:covid19).

[2020-09-16 00:33] quincylvania commented on #7992
@SHARCRASH The workflow for this in iD is to use shift+click to select a line along with the node. Then when you split, only the selected line is affected. I think this works pretty well, I'm not sure how else iD would know which line to split.

[2020-09-16 03:57] jeffdefacto opened #7999 "Line disappears while zooming and changing background"
If you have an in progress line and then zoom while changing the background with (cmd B) the current edit gets drops.

Here is video of the bug https://vimeo.com/458412998/58cf42de99

[2020-09-16 07:02] asi309 commented on #7467
Is this issue still open?

[2020-09-16 07:16] TheAdventurer64 commented on #7906
Shouldn't this be closed by now?

[2020-09-16 08:08] hiddewie commented on #7906
The pull request that implements this feature is still open, and once it is merged this issue can be closed (automatically?).

[2020-09-16 12:41] matkoniecz opened #8000 "Adding amenity=boat_storage to presets"
Seems like a tag worth supporting: https://wiki.openstreetmap.org/wiki/Tag:amenity%3Dboat_storage

[2020-09-16 12:51] matkoniecz commented on #7997
It seems weird one, as it

a) changes in entire region quite frequently (hello 2020!)
b) applies to all objects of a given type in a given area (at least in Europe)

So it seems weird to me to check it on the ground. "this shop requires mask, like this one and this one and all other inside this country/state".

[2020-09-16 13:00] quincylvania commented on #7999
@jeffdefacto Welcome, thanks for reporting! I'd seen this issue but I couldn't reliably reproduce it. I didn't realize zooming was the key factor 🗝

[2020-09-16 14:01] boothym commented on #7999
Noticed this as well, but couldn't work out what was causing it - I'll try to avoid zooming and see if that prevents it happening.

[2020-09-16 15:07] SHARCRASH commented on #7992
@quincylvania Indeed that does the trick, thanks! But as you could see with some people here, they were not aware of that and use a workaround. It's not obvious that this is possible and it seems that many contributors, specially new ones don't know it. I've read the Help section in iD, it's not specified neither.

In the left "Edit Features", it looks like that the "Features" section shows which

[2020-09-16 16:54] TheAdventurer64 commented on #7997
In the US, the country doesn't have a national mask mandate.

[2020-09-16 17:03] quincylvania commented on #7992
True, this is one of many areas where iD could use better documentation materials.

Maybe! "Selected" could be considered implied, but maybe not.

I can't reproduce this, can you point to a location where this happens? Or share info about your browser/setup?

Thanks! We added this only a few months ago in v2.18.0.

This is #7753. I'd definitely like to enable it.

[2020-09-16 17:09] quincylvania commented on #5742
After #7992 showed difficulties with splitting specific lines, and since cross-browser parity is an ongoing goal, I'm reopening this. I'm not sure if there's an easy fix or not but we should at least look into it.

[2020-09-16 17:13] matkoniecz commented on #7997
I may be mistaken but there are mask mandates at lower levels (state, maybe city/county)? Or is it differing from shop to shop?

[2020-09-16 17:19] quincylvania commented on #7997
Yes, some administrative areas in the US may have their own regulations. They do change quite often. Regardless, many businesses have their own rules so this could be a useful tag if data consumers supported it.

[2020-09-16 17:40] quincylvania commented on #7846
I noticed that [`information=board`](https://wiki.openstreetmap.org/wiki/Tag:information%3Dboard) tends to be used for detailed information displays, not signage. `board_type=welcome_sign` looks like the primary outlier here. Since this is the accepted tagging I'm okay supporting it in iD, but I'd still recommend looking into a tagging change.

[2020-09-16 19:15] #6142 closed

[2020-09-16 19:18] quincylvania commented on #6142
I added this by extending the `multiCombo` field functionality to work for a list of keys without a common prefix. I didn't include `aerialway` since iD uses `aerialway=station` on stations instead of `aerialway=yes`. Public transport tagging is still messy but this should help a little.

<img width="580" alt="Screen Shot 2020-09-16 at 3 15 46 PM" src="https://user-images.githubusercontent.com/204

[2020-09-16 19:19] quincylvania commented on #7970
I just did #6142 which adds a field to set and manage vehicle types. Would that be sufficient or do you still think we need this preset?

[2020-09-16 20:40] sun-geo commented on #6350
As said, i agree it would be take too much valuable space.

There is just another idea, but do know if, it would match to a general consitent program behavior.
What about just adding a keyboard shortcut to switch off & on the 5 checkboxes of the "Photo Overlay" section?

[2020-09-16 22:45] mikenath223 commented on #7846
Alright. I made a few changes just now as requested. I added `information=board` to the tags. Do I remove it?

[2020-09-16 23:22] mikenath223 commented on #7886
Perhaps it's ok I work on this?

[2020-09-17 12:57] quincylvania commented on #7846
Nope, it's okay. We're supporting the tags as they are, not how I want them to be 😂

[2020-09-17 12:57] #7846 closed, assigned to nobody

[2020-09-17 13:27] quincylvania opened #8003 "Preset search not always autofocusing after adding a feature in Safari 14"
Ran into this bug while testing iD on the new Safari 14 release for macOS 10.15.6. It's really annoying since I'm used to immediately typing after adding something, but since the search input isn't focused all the hotkeys get fired instead.

[2020-09-17 14:13] #8003 closed, assigned to quincylvania

[2020-09-17 14:41] quincylvania commented on #7938
Lacking further discussion, I'm closing this as not-a-bug.

[2020-09-17 14:41] #7938 closed, assigned to nobody

[2020-09-17 14:48] quincylvania commented on #7467
@asi309 Yep, we're still working through some issues.

[2020-09-17 15:18] quincylvania opened #8004 "Full UI navigation via keyboard only"
[Keyboard navigation](https://webaim.org/techniques/keyboard/) is an important factor in accessibility. Blind people and those with motor control difficulties often rely on keyboards or equivalent devices to use the web. iD has not yet been optimized for these experiences.

While #7770 removed keytraps, more work is needed to make keyboards first-class input devices. To close this issue, users sho

[2020-09-17 17:07] quincylvania commented on #6794
I've done some work cleaning up the footer and haven't seen this in a long while. Hopefully it's fixed? Closing for now, but we should still keep an eye out.

[2020-09-17 17:07] #6794 closed

[2020-09-17 21:16] maro-21 commented on #7970
I think we need it!
It could be even a non searchable preset, because what I wanted is to display a name "Bus-Tram stop" (or similar) instead of "Bus stop".
Combination bus-tram is common, other combinations are rare or almost don't exist. All I wanted was not to display "Tram Stop" or "Bus Stop" for mixed stops, but "Bus-Tram Stop" :)
So this is from a perspective of an editor who edits existing

[2020-09-17 21:24] maro-21 commented on #7904
Could you tell me what is Juice Fast Food? Any photos, description, link to Wiki etc.
Because I don't know what it actually is so I don't know how I should translate it.
Why is it amenity=fast_food and not amenity=cafe? And why does it deserve a separate preset?

[2020-09-17 22:06] TheAdventurer64 commented on #7904
Well, I'm planning on adding a wiki page for this. The reason behind using `amenity=fast_food` instead of `amenity=cafe` is because juice bars are tagged with `amenity=fast_food`, as described [here](https://wiki.openstreetmap.org/wiki/Proposed_features/Juice_bar)

[2020-09-18 00:11] quincylvania commented on #7904
@maro-21 The preset supports [brands from the name-suggestion-index](https://github.com/osmlab/name-suggestion-index/blob/main/brands/amenity/fast_food.json), which use this tagging.

![Screen Shot 2020-09-17 at 8 07 25 PM](https://user-images.githubusercontent.com/2046746/93540541-f81b5800-f921-11ea-9112-3fe084adf1ed.png)

Not all juice bars should necessarily be tagged this way, but there are ma

[2020-09-18 04:47] TheAdventurer64 opened #8005 "Create a data consumer navigation app for iD"
So, there are many issues with OpenStreetMap, but these are the two we could solve with my proposal.

1. There aren't enough mappers on OpenStreetMap
2. Most data consumers (at least in the US) don't support tags like `opening_hours:covid19` or `toilet:disposal=flush`.
A navigation app created as a companion to iD would solve this, as it would encourage people to improve the OpenStreetMap, as well

[2020-09-18 06:08] mmd-osm commented on #8005
Do you know StreetComplete? It already has the gamification you've asked for towards the end. Otherwise, how is any navigation app related to iD? Those tags you've mentioned are not "iD-only", so it's not clear why you're asking this on the iD issue tracker.

[2020-09-18 06:37] Discostu36 opened #8006 "car_repair overwrites building tag"
If I select a building and choose the preset for "Autowerkstatt" (car repair), ID tags the building with `shop=car_repair` (correct) but it also overwrites any present `building=` key with `building=yes`. This should not happen.

[2020-09-18 06:44] scaidermern commented on #8006
This is intended behavior, see #4315 :(

[2020-09-18 07:03] scaidermern commented on #4315
I wonder why the quite similar bug #6530 has been fixed while this one hasn't.

I agree that overwriting existing tags can be useful under certain conditions. However bluntly replacing all tags that are part of a preset is certainly wrong. I suggest to let the user choose which tags to replace in case of conflicts. Alternatively highlight tags which have been replaced and give the user the possibi

[2020-09-18 07:21] TheAdventurer64 commented on #8005
For the "iD only" issue, I am asking it here because of these two reasons:
1. iD has detailed presets that aren't used anywhere else (eg. Drugstore, Bubble Tea Cafe)
2. iD seems to have a good, organization system, and by my standards, seems to be the

[2020-09-18 07:35] forteller opened #8007 "Show "inscription" field by default on busts"
I've been adding a couple of busts lately, and they often have a text on them about the person, a quote, or at least a date of birth and death. On other types of memorials the "inscription" field is shown, but not on busts for some reason. Adding it manually gives you a tiny text area which is not so easy to use to add more than one line of text. It would be nice if the field could be shown by def

[2020-09-18 07:59] Discostu36 commented on #8006
Then the intentions are wrong. An OSM editor should never silently remove information from the database without the user's consent. And it doesn't really matter if the user is "supposed to" use presets like that.

[2020-09-18 08:04] mmd-osm commented on #8005
Ok, so this is definitely off topic for this repo. Better try somewhere else, maybe on talk ml, Slack...

[2020-09-18 08:47] matkoniecz commented on #8005
iD presets are used in Go Map!! (instead of maintaining own presets) and StreetComplete (via https://github.com/westnordost/osmfeatures ). Maybe also in other projects.

It does not mean that they are obligated to implement and maintain separate unrelated (beyond "OSM based" and "is using iD presets") project.

Feel free to start such project if OsmAnd is not displaying enough detail. Or help to i

[2020-09-18 08:50] matkoniecz commented on #8005
It does not mean that they are obligated to implement and maintain separate unrelated (beyond "OSM based") project.

Feel free to start such project if OsmAnd is not displaying enough detail (or help to implement this features in other projects - if they would want to support it, personally I would consider `toilet:disposal=flush` displayed in my navigation app as a pointless clutter).

[2020-09-18 09:05] matkoniecz commented on #7988
Maybe it should be implemented as validator proposing to change `vending=parcel_mail_in;parcel_pickup` into more common form?

Current usage is 211 items ( https://overpass-turbo.eu/s/Y81 ) so support for such rare tag may be rejected - I would wait for decision from maintainers.

[2020-09-18 12:34] quincylvania commented on #8005
@TheAdventurer64 Thanks for your enthusiasm. I'm humbled that you have such faith in iD, but the fact remains that it's only a data editor with limited resources. We need to stay focused.

You might have better luck requesting these features from existing OSM navigation apps, or building one yourself. OpenStreetMap is an ecosystem of tools after all, not a monolith.

When we do #6483, it'll be eas

[2020-09-18 12:34] #8005 closed, assigned to nobody

[2020-09-18 13:21] quincylvania commented on #8006
Hi folks, this is actually a really tricky issue. #4315 is several years old. See #7221 for newer details on this, but I'll elaborate again here.

When you switch presets in iD, you're saying "this feature isn't an instance of Preset A, it's instead an instance of Preset B". So iD naturally removes all the tags defining Preset A, otherwise you'd have old tags piling up every time you switch preset

[2020-09-18 14:37] quincylvania commented on #4315
@scaidermern #6530 is about the outdated tags validation, not about switching presets.

See https://github.com/openstreetmap/iD/issues/8006#issuecomment-694864021 for current info about this.

[2020-09-18 14:55] Discostu36 commented on #8006
As you point out yourself, buildings and POIs are independent of each other in OSM. I do understand that you want consistency in how ID behaves when you select a preset. In my opinion the solution should be that building presets and POI presets should behave independently from each other. This means that the car repair preset should not contain a `building` tag and building presets should only con

[2020-09-18 15:16] Discostu36 commented on #8006
Apart from that I think that ID should always give a message when a preset overwrites existing tags, like Vespucci does for example.

[2020-09-18 15:28] matkoniecz commented on #8006
Note that it already works specially by deleting detailed building tag but keeping `building=yes`.

Maybe a good idea would be to keep detailed building value but display in the left menu "this object is still tagged as church building" with buttons "this is correct" and "change to unspecific building type"?

[2020-09-18 15:29] matkoniecz commented on #8006
Or have popup asking for that decision but it would be likely to annoying (or maybe not? How often it is done? Probably not many times in row)

[2020-09-18 16:48] #8007 closed, assigned to quincylvania

[2020-09-18 18:55] forteller commented on #8007
Wow, that was fast! Thank you!

[2020-09-18 18:56] maro-21 commented on #8006
A good solution would be not to connect the POI with the building.

[2020-09-18 19:35] Discostu36 commented on #8006
This is common mapping practice supported by wiki documentation and nothing we can change in this issue.

[2020-09-19 04:19] TheAdventurer64 commented on #6852
https://osmus.slack.com/archives/CBK3JLUJU/p1600463850004000

[2020-09-19 12:02] scaidermern commented on #7221
No, that wouldn't be unexpected at all. The building value doesn't describe the current situation. It describes which feature this building was built for originally. So if you have a `building=church` and add a `shop=supermarket` the `building=church` has to stay, because the building remains being originally built as a church. That's why the current behaviour of iD is just wrong.

[2020-09-19 17:51] maro-21 commented on #7221
scaidermern: I think it is ok, because like Quincy wrote, iD can't know about it. It doesn't read minds. For it you change one preset into another. The same behavior will be when you change from `building=construction` to `building=house`, `shop=vacant` to `shop=supermarket` and other.

I changed the way I edit with iD: if I add a preset with building, like hotel, I add it first and then change bu

[2020-09-20 10:34] TheAdventurer64 opened #8009 "Add color field to Picnic Table preset"
### Rationale

- Several picnic tables have different colors, and new mappers who aren't used to manually adding tags may not add any detail to the picnic tables, as there isn't a color field readily available on the Picnic Table preset. Example [here](https://www.openstreetmap.org/edit?changeset=91169091#map=22/39.70726/-83.89029).

- Some mappers like to add `colour` tags to picnic tables on Ope

[2020-09-20 12:21] maro-21 commented on #7981
Every feature on OSM must have a main tag. Such feature won't be visible anywehere on maps.

https://wiki.openstreetmap.org/wiki/Key:sport
"A sport=* should normally also be associated with a suitable physical feature where it is performed; often this is leisure=pitch or leisure=track although other surfaces or features are sometimes appropriate, for example natural=beach for swimming and scuba di

[2020-09-20 12:45] mmd-osm commented on #7983
Maybe this could be a side effect of some tool (eg the extract feature) doing unexpected things when relations are involved. I noticed this once but can’t remember the exact details. I still assume that the user hasn’t done this change on purpose, as it just doesn’t make much sense.

[2020-09-20 19:56] maro-21 commented on #7882
To be clear - the only thing I did was expanding the list of suggested replacements:
https://wiki.openstreetmap.org/w/index.php?title=Tag:shop%3Dhobby&diff=2017292&oldid=1806009
Everyone can see how the Wiki page looked like before my edit:
https://wiki.openstreetmap.org/w/index.php?title=Tag:shop%3Dhobby&action=history
https://wiki.openstreetmap.org/w/index.php?title=Tag:shop%3Dhobby&oldid=180600

[2020-09-21 11:55] FransS1945 opened #8010 "request to square buildings to 90 degrees with the Q key command"
**c. Squaring buildings.**
c.1 The core in iD is already being worked on ATM, that is great!
c.2 Maybe a "circular building" preset next to the "square", "any shape" and then "circular"?
c.3 Maybe give an option to be rougher with squaring. "Make this shape a square no matter the current angels.". Maybe gradually, each time I square it gets rougher?

Under C3 a request have been issued to make a s

[2020-09-21 13:01] quincylvania commented on #7221
Can we keep discussion focused on #8006? It helps people follow a topic when there's a single thread.

[2020-09-21 13:34] #7886 closed, assigned to nobody

[2020-09-21 14:09] talllguy opened #8011 "Street view viewer window missing arrow glyphs"
The arrows that normally appear to advance the street view imagery viewer are missing. Here's an example:
![image](https://user-images.githubusercontent.com/1827881/93776502-985ad080-fbf1-11ea-8cfb-f933db4ba044.png)

The arrow buttons are still functional, just invisible to me.
![mappy-advance](https://user-images.githubusercontent.com/1827881/93776866-0dc6a100-fbf2-11ea-9eee-f0584c4a3ace.gif)

##

[2020-09-21 14:43] quincylvania commented on #3372
We've continued to receive requests for this, particularly from HOT building mappers.

While a full scale/transform tool would be tricky to get right, I think we can start out with hotkeys. Advanced mappers can use them and everyone else can ignore them. While this doesn't serve non-keyboard mappers, something is better than nothing.

Having done #7186 and #7976, we've developed a system where arr

[2020-09-21 14:46] quincylvania commented on #8011
@talllguy This is #7920, but thanks a lot for the extra info! Should help track this down 🕵️‍♂️

[2020-09-21 14:46] #8011 closed, assigned to nobody

[2020-09-21 14:49] talllguy commented on #8011
Ah, I did do a search first but missed that one.

[2020-09-21 18:47] #3372 closed

[2020-09-21 19:14] #8009 closed, assigned to quincylvania

[2020-09-21 19:25] #7877 closed, assigned to quincylvania

[2020-09-21 19:31] quincylvania commented on #7866
I've been thinking it might be a nice accessibility feature to let people re-map the keyboard shortcuts. I'm not sure about the mouse buttons though, that might be too advanced. It'd take some work to implement but probably isn't impossible.

[2020-09-21 19:34] quincylvania commented on #7954
Hi and welcome, @andrepoiy. Could you provide more details about how this occurs? iD shouldn't be caught in a situation where it won't download data, even if the connection previously failed. You also shouldn't lose your work upon refreshing unless something went really wrong.

[2020-09-21 20:32] quincylvania commented on #7972
This is a weird one. The bug occurs in 2.18.5, but not in Firefox, and it already seems fixed in the `develop` branch, despite no changes to the files I would have expected. I suppose we can just close this and not worry unless it reappears.

[2020-09-21 20:32] #7972 closed, assigned to nobody

[2020-09-21 21:02] #7985 closed, assigned to quincylvania

[2020-09-21 21:06] quincylvania commented on #7985
I fine with this since it's in use and documented, but before the usage grows much more I'd recommend switching to a more generic tag like `amenity=tower_viewer` and then specifying the type with a subtag like `tower_viewer:scope=binoculars` / `tower_viewer:scope=telescope`. Otherwise there's no good way to tag mounted telescopes.

[2020-09-21 21:16] jidanni commented on #7866
Yes these should use proper https://en.wikipedia.org/wiki/Abstraction_layer and avoid https://en.wikipedia.org/wiki/Hard_coding left/right handedness.

[2020-09-21 22:25] 1ec5 commented on #7866
At a glance, avoiding a handedness bias sounds beneficial. I think the current English accelerator keys were optimized for the left hand (assuming the right hand is for the mouse) on an English keyboard.

Just to set expectations, even though it seems feasible to make the key bindings customizable, JOSM key bindings might not be 100% faithful to JOSM. For example, on the Mac, Ctrl-clicking opens t

[2020-09-21 23:27] maro-21 commented on #7877
I think we shouldn't have phone and website automatically for every shop preset.

I can't imagine to have a phone for shops like
convenience
supermarket
clothes
bakery
kiosk
butcher
alcohol

These are one of the most popular shops and they're usually in a chain of shops, selling everyday goods.
Even if there are some that have, most of them don't have and people will try to fill in every field in

[2020-09-21 23:56] andrepoiy commented on #7954
So the full story goes as such:

A month ago I was using ID but this time I was using my wifi instead of ethernet. On iD, usually map data would automatically download anytime you zoomed somewhere, but starting from that time, a lot of times, the data just wouldn't download at all. That's why I made this post. The only way I could work on what I wanted to was to download everything (by panning to

[2020-09-22 00:31] quincylvania commented on #5733
I've lately come to realize that this type of issue, that prescribe specific UIs, often jump the gun. It seems better to open issues describing UI problems and then later iterate on designs. Closing this for now.

[2020-09-22 00:31] #5733 closed

[2020-09-22 00:36] jidanni commented on #7866
(All I know is  I grew up with Emacs in the 1980s. With all its layers of keyboard maps I don't think there would be a way to hardwire a binding even if one tried. (They had already fixed this problem of programs from the 70s.))

[2020-09-22 00:38] quincylvania commented on #7877
@maro-21 I think these details are fair game for any type of business given the COVID pandemic. While it's true some shops are more likely than others to have a website or phone number, consistency is also good. If we do #5734 then maybe we can pare down the default fields again, since mappers would be able to customize them.

[2020-09-22 00:42] jidanni commented on #7866
(Anyway these million dollar airplanes shouldn't be made unflyable due to the lack of a simple right/left mode switch.)

[2020-09-22 02:07] 1ec5 commented on #7866
What if the airplane is flying inside a wind tunnel that has its own rules? :wink:

[2020-09-22 02:33] TheAdventurer64 commented on #7877
^ Also, this sort of info will be helpful to people resolving onosm notes, as it can be a hassle to go down to Add Field to get the fields for Telephone and Website. Also, this standardizes iD with other business editors, as most of them have the `website` and `phone ` fields shown by default.
![image](https://user-images.githubusercontent.com/50059322/93839133-a62b4880-fc27-11ea-9a36-f740427839b6

[2020-09-22 02:44] TheAdventurer64 commented on #8010
^ With this in mind, I'm just concerned about these types of buildings:
![image](https://user-images.githubusercontent.com/50059322/93839712-8d239700-fc29-11ea-9d5b-1fcbe666e513.png)
If we did this, problems like this could occur:
https://screenrec.com/share/fe1Kh7op4V

[2020-09-22 07:04] jidanni commented on #7866
(I'm thinking of those one-seater over expensive military models, with
all controls, say, having right/left physical symmetry, but alas with
the symmetry "permanently stuck one way" via software.)

[2020-09-22 08:22] FransS1945 commented on #8010
You are right with this kind of forms of buildings, However,  In Josm, you get the same result. This figure  cannot be squared as you show in above picture as well
Quite a lot of complicated buildings cannot and don't need to be squared due to their groundplan.
Nevertheless, the majority  of poor mapped buildings should be  straight forwarding rectangular. What we see during validating work for HO

[2020-09-22 12:09] magol opened #8014 "Use pluralize localizable strings for "This" and "These""
It is many string pairs that is of the form "`This feature...`" and "`These features...`" and I suggesting to use pluralize localizable strings for these type of  strings (see #4964).

[2020-09-22 12:11] maro-21 commented on #8014
<s>Can you give an example in your language how the translation would look like?</s>

Oh, I think you meant to merge two strings into one pluralizable?

[2020-09-22 12:16] maro-21 commented on #8014
Oh, I think you meant to merge two strings into one pluralizable?

[2020-09-22 12:21] magol commented on #8014
Exactly, merge the string pairs into pluralizable strings.

[2020-09-22 12:23] quincylvania commented on #8014
@magol Just to confirm, some languages need this even if the actual number isn't included in the string?

[2020-09-22 16:02] pedjas opened #8015 "Serching tags using non Latin keyboard"
I have two problems when entering data in languages that use non Latin characters but both have the same root.

I use ID which is set to English language. That is required.

The first problem is, as I enter non Latin text on map I have keyboard appropriately set for that language. Now, if I want to set specific tag I have to switch to Latin keyboard, search tag and then switch back to non Latin ke

[2020-09-22 17:40] #7963 closed, assigned to quincylvania

[2020-09-22 18:55] maro-21 commented on #8014
You're asking the same what I asked before :)
I think Indo-European languages don't need `few/many/other` forms when there is no numeral but they just need singular and plural forms, like English.
So current situation is:
two strings: "This feature..." and "These features..."
They are translated into my language as "Ten obiekt..." and "Te obiekty..."
If you turn these two strings into one pluraliz

[2020-09-22 20:42] magol commented on #8014
@quincylvania

I don't know for other languages, Swedish work the same as English.

The reason I suggest this is to make it symmetric. If strings containing `{n}` is handled this way, why not similar strings pairs without the `{n}`. It also make it easier to translate when string pairs is grouped.

[2020-09-23 13:33] quincylvania commented on #7957
Lacking further discussion, I don't see a compelling reason to pursue a reversion. The newer design isn't perfect but it has a number of advantages I'm happy to discuss should anyone be interested.

![Screen Shot 2020-09-23 at 9 30 33 AM](https://user-images.githubusercontent.com/2046746/94019396-bd7d4980-fd7f-11ea-99ea-f0508b59917c.png)

[2020-09-23 13:33] #7957 closed, assigned to nobody

[2020-09-23 14:54] boothym commented on #7999
@quincylvania I've avoided zooming but it's still happened a couple of times - seems to also occur when panning.

[2020-09-23 15:40] quincylvania commented on #8014
@magol I agree it sounds nice, but @maro-21 indicates it would cause unnecessary work for some languages. So I think we need to leave this as-is unless we find some languages actually need these plural forms.

[2020-09-23 15:40] #8014 closed, assigned to nobody

[2020-09-23 15:47] quincylvania commented on #7872
So the v3 prototype branch at https://preview.ideditor.com/master is a significantly different app than the current `develop` branch at this point. We're not updating it anymore. Though a handful of people are still using it, so I think it's best to leave it for now.

You can preview the current `develop` branch at https://ideditor.netlify.app/.

[2020-09-23 15:47] #7872 closed, assigned to nobody

[2020-09-23 15:55] danielsjf opened #8017 "Update charging_station preset with socket information"
Currently the charging station preset misses the most important part. There is no information on the socket type (`socket:<type>`) and the charging output (`socket:<type>:output`). The full documentation can be found here: https://wiki.openstreetmap.org/wiki/Tag:amenity%3Dcharging_station

I looked into adding it myself with a pull request, but the conditional tags make it harder. Is there current

[2020-09-23 17:33] #7961 closed, assigned to quincylvania

[2020-09-23 17:41] quincylvania commented on #7961
Here's what I came up with. Greyer parking aisles, lighter and thinner driveways, pink emergency access roads. Alleys, drive-throughs, and others are unchanged for now.

<img width="573" alt="Screen Shot 2020-09-23 at 1 35 49 PM" src="https://user-images.githubusercontent.com/2046746/94048608-c54de580-fda1-11ea-95de-27bd3b4f270e.png">
<img width="579" alt="Screen Shot 2020-09-23 at 1 34 21 PM" src

[2020-09-24 06:11] carstenhag opened #8018 "highway=elevator showing "big street" warning instead of "disconnected""
So while reporting this, I have found #6812, which likely introduced the "Elevator is disconnected" warning.

Just added a point, added highway=elevator and then I got a "Größere Straßen..." warning. Maybe it's due to highway=elevator not being translated to german? "Größere Straßen" is definitely wrong :D

Related, maybe that's also the reason I could not find "Aufzug" via the point search.

![Bi

[2020-09-24 06:15] carstenhag commented on #8018
After connecting a line to it, it now shows "Aufzug". Weird.

![Bildschirmfoto 2020-09-24 um 08 15 14](https://user-images.githubusercontent.com/3776997/94107579-18757600-fe3e-11ea-8071-8f8fdea38765.png)

[2020-09-24 09:05] mfbehrens99 commented on #7981
I know that this is how it should be however according to https://taginfo.openstreetmap.org/tags/sport=climbing#combinations only 22% sport=climbing have a leisure=* tag. The thing is that natural climbing sites should not be tagged as leisure.

[2020-09-24 11:05] sun-geo opened #8019 "Renaming Preset of relation: type=route / route=foot"
`type=route` & `route=foot` wiki: https://wiki.openstreetmap.org/wiki/Relation:route#Route_types_.28route.29

The current wording of the preset is "Foot Route", see example: https://www.openstreetmap.org/edit?relation=2400284

I'm not native speaking, but would e.g. match "Walking Route" a bit better?

[2020-09-24 12:08] maro-21 opened #8020 "Moving the map instead of dragging nodes"
- Find a node which is connected to a hidden feature. You will see a message "This can't be edited because it is connected to a hidden feature.".
- After that it's impossible to drag any node on a map, no matter if it's connected to anything or not because draggin moves the map. Even if I enable all layers.

[2020-09-24 12:15] maro-21 commented on #7981
The link you provided shows that in most cases `climbing` is connected to some physical object:
natural 40.15% + leisure 22.12% = 62.27%.

Yes, they aren't tagged as leisure becasue they're tagged as `natural=cliff` or `natural=bare_rock`.
People climb on something. It can be either a natural rock/cliff or a man made construction. It doesn't have to be `leisure=*` or pitch.

[2020-09-24 12:16] quincylvania commented on #8018
Oh yeah, this happens because preset matching is dependent on the geometry. Since iD only matches nodes with `highway=elevator` to the Elevator preset if they're part of ways, and since the names in the validation messages are based on preset names, the fallback name is shown here.

In this case iD knows that the node should probably be part of a way, so we can show the preset name instead.

Here'

[2020-09-24 12:28] maro-21 opened #8021 "Keyboard Shortcuts list"
From version 2.18.0, when a new keyboard shortcut `Ctrl+ Shift + ↑, ←, →, ↓` was added, the shortcut list doesn't fit on the screen. Would it be possible to fix it somehow?

old version:
![shortcuts_old_version](https://user-images.githubusercontent.com/57260466/94144474-75d6ea80-fe71-11ea-9a11-8aea4939e655.png)

new version:
![shortcuts_new_version](https://user-images.githubusercontent.com/57260

[2020-09-24 12:32] quincylvania commented on #8019
@sun-geo Sounds fine to me.

[2020-09-24 12:58] #8018 closed, assigned to quincylvania

[2020-09-24 13:03] carstenhag commented on #8018
Thanks for the quick fix :)

[2020-09-24 13:12] quincylvania commented on #8018
@carstenhag I'm still not sure why the translation of "Highway Feature" would be "Big Street…" in any language but I'll leave that up to the translators.

[2020-09-24 14:36] sun-geo commented on #8018
@carstenhag see [here](https://www.transifex.com/openstreetmap/id-editor/translate/#de/$/11399151?q=text%3A'Highway+Feature')

![image](https://user-images.githubusercontent.com/47290585/94159656-16360a80-fe84-11ea-9c7c-7e59f8eb91fb.png)

[2020-09-24 14:42] #8021 closed, assigned to quincylvania

[2020-09-24 14:44] quincylvania commented on #8021
I added a little more space, but this also depends on the length of the text for the locale. See #7830.

[2020-09-24 18:03] carstenhag commented on #8018
Thank you. Yeah, that translation is not good :D. I can see why the person translated it that way, because a highway is of course a big street usually, but in OSM terms a highway can be a footway of course.

I just changed it to "Straßen/Wege..." which means streets and paths. The "..." were used at other preset names as well, so I kept them.

[2020-09-24 19:13] #7990 closed, assigned to quincylvania

[2020-09-24 19:20] #7803 closed, assigned to nobody

[2020-09-25 06:50] Shramkoweb commented on #8019
I took

[2020-09-25 11:40] jidanni commented on #5530
Here I was wishing I could just grab the tip of that teardrop representing the traffic mirror, and rotate it just right... and click confirm on it. (Currently in fact it indicates 180°.)
![12632-0](https://user-images.githubusercontent.com/1230959/94262428-0c84d380-ff66-11ea-8b5e-f1d391a777c9.jpg)

[2020-09-25 11:58] jidanni commented on #6706
Nope, still not there:
![6579-1](https://user-images.githubusercontent.com/1230959/94264204-da28a580-ff68-11ea-9121-e054c6d8ce29.jpg)

OK, I see, we need to type a "W" to find it.
![27218-2](https://user-images.githubusercontent.com/1230959/94264318-14924280-ff69-11ea-9bfb-5aedbabcd5a1.jpg)

Well all I can say is that this aspect of a tree, that we can tell from very far away (pine vs. oak), is ra

[2020-09-25 12:01] jidanni commented on #6706
Actually it would be nice if right at the top, before
Leaf Type
￼￼Leaf Cycle etc.
there was
Species,
and that would link to Wikidata matches.

[2020-09-25 12:19] jidanni commented on #6706
Hmm, https://wiki.openstreetmap.org/wiki/Key:species:wikidata says "It should be used for plants that do not have their own Wikidata item and are not relevant enough to justify their own Wikidata item."  Uh oh... sounds rather wrong.

[2020-09-25 12:28] jidanni commented on #6706
OK: This works!:
E.g., I know a tree is https://en.wikipedia.org/wiki/Myrica_rubra
OK, I found https://www.wikidata.org/wiki/Q311617
I enter that into the wikidata:species field and voila it all completes to even the local name!

OK, this means `wikidata:species` is currently working well enough to put it permanently on top even in front of

Leaf Type
￼￼Leaf Cycle
etc.

[2020-09-25 13:20] quincylvania commented on #8019
Done by @irevenko in #8023.

[2020-09-25 13:20] #8019 closed, assigned to nobody

[2020-09-25 14:38] #7992 closed, assigned to quincylvania

[2020-09-25 19:19] #7999 closed, assigned to quincylvania

[2020-09-25 19:29] soshial opened #8024 "Add warning for buildings tagged as isolated dwelling"
For a long time I was thinking, that if an `isolated_dwelling` consists of only 1 household, I may tag the building itself with this tagset:
[code]

Tagging so made `name` tag visible only at zoom level 17:
<img width="70%" alt="Screenshot 2020-09-24 at 09 01 36" src="https://user-images.githubusercontent.com/100644/94307857-3518c780-ff7e-11ea-8559-7c40623ed420.png">

At zoom level 15 (point with